[2022-08-31 13:37] mcordova1967 commented on #1379
This was the string I did sent with a plan epoll-server to emulate the SOAP server, it's based on the tracelog captured by SoapUI for the case in question:

`

inline std::string get_resp_body2()  noexcept {

	std::string msg = R"(<?xml version="1.0" encoding="UTF-8"?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns0:ConsultarListasCentralizadasResponse xmlns:ns0="http:/

[2022-08-31 18:13] mcordova1967 commented on #1379
I can confirm the following with the latest master version of httplib when using chunked encoding:

if the POST payload does not end with

`

0\r\n\r\n

`
Then Read error 4 occurs. For instance, this end of payload triggers the error (which I suspect is my case):

`

0\r\n

`
The lack of the last CR LF makes it fail.

I changed line 3441 of method read_content_chunked() and it worked, for well-for

[2022-09-01 07:56] FeJQ opened #1380 "How to close an http request?"
There is a very time-consuming http request (10 seconds+), I want to interrupt this request and release resources safely when the form program exits

[2022-09-01 10:52] bialasjaroslaw opened #1381 "How to test web based functionalities without server"
I want to test some behavior in my application. Under the hood `cpp-httplib` is used for network communication. I can not use local server for that. In some other libraries/frameworks I have been using in the past, there was a way to inject `NetworkAccessManager` or some other object that allowed to override some functions responsible for sending requests. That way I was able to provide predefined

[2022-09-01 11:28] wangwenqiangGitHub opened #1382 "How send multi files use this lib?"
I want to send files (log1.txt log2.txt log3.tx ...);   how I can use this lib ?

[2022-09-01 12:17] yhirose commented on #1382
You can see information in README and `test/test.cc`. Hope it helps!

[2022-09-01 12:17] #1382 closed

[2022-09-01 12:22] yhirose commented on #1380
Thanks for the feedback. It depends on situations. If it's due to network slowness, there is no way manually, and only thing we can do is to set appropriate timeout values. If the payload side is an issue, then you can use the content receiver interface. You can see the information in README and a number of examples in `test/test.cc` Hope it helps!

[2022-09-01 12:22] #1380 closed

[2022-09-01 12:24] yhirose commented on #1381
@bialasjaroslaw, thanks for the feedback, but I still quite don't understand what you are trying to do... Could you explain more clearly? Also could you provide the code that you tried so far? I can't give you any promise to implement it, but at least I would like to understand the situate that you face. Thanks!

[2022-09-01 12:56] bialasjaroslaw commented on #1381
I want to test my code in separation (without remote server). Something like code below (except inheriting from `httplib::Client` does not make sense in this case)

[code]

[2022-09-03 21:23] timprepscius opened #1383 "Enable more simultaneous requests by rewriting process_and_close"
Hey there,

I'm looking at your webserver.  Very impressive!

I was wondering what you think about a possible change.  Whether you think it would work, and/or whether it could be integrated at some later date if it did work.

If I understand httplib correctly, each request is bound to a single worker.
There is the process_and_close method, which is responsible for taking a socket, running the requ

[2022-09-03 21:34] tugrul512bit commented on #1383
You can also simply use 1000 threads to work on 1000 connections just with less efficiency due to context switching. I guess context switching overhead would only be visible when content size is too small and without any https encryption. And yes, extra threads mean extra memory requirement which is not good for a scalable server program. If there is enough I/O per thread, the context switching sh

[2022-09-03 23:03] yhirose commented on #1383
@timprepscius, I probably don't understand what you are trying to do, yet... Can the default thread pool support work on your situation? If not, you can override the default one with your own thread pool implementation.

https://github.com/yhirose/cpp-httplib#default-thread-pool-support
https://github.com/yhirose/cpp-httplib#override-the-default-thread-pool-with-yours

[2022-09-04 04:54] yhirose commented on #1381
@bialasjaroslaw, thanks for the detail. cpp-httplib client API design basically doesn't allow users to override it and enhance it. It should be used as it is.

[2022-09-04 04:54] #1381 closed

[2022-09-04 05:32] yhirose commented on #1374
Same as #870

[2022-09-04 05:32] #1374 closed

[2022-09-04 06:48] PixlRainbow commented on #1383
@timprepscius it doesn't appear obvious how you would be able to get any extra performance with your suggestion. Each request is still bound to a worker. The multiple write loops and I/O blocks still don't get split up, so requests will still block a thread.

I am guessing you are trying to add a "producer" queue such that there is a dedicated thread that listens for incoming requests and adds the

[2022-09-04 13:13] timprepscius commented on #1383
I'm trying the solve this problem:

1.  I receive a request
2. I start a process on a different computer.  This process takes X seconds.
3. I get a response from the other computer and write OK or FAIL to the original request

The time reading and writing the request is very low.
The time waiting for the request to finish is very high.

I'm looking for a way to avoid the thread pool filled by thre

[2022-09-04 13:53] PixlRainbow commented on #1383
this will be highly complex, but possible:
1. set your project configuration to C++20 or newer
2. create a custom class that extends ThreadPool and override the methods to make use of C++20 Coroutines
3. in your server's request handler, use `co_await` calls to indicate "suspension points" where the thread may suspend or resume the stack if the result is not immediately available
4. your custom Wo

[2022-09-04 14:24] timprepscius commented on #1383
Yeah, no, that is needlessly complex.  At least for me.
If that process_and_close_socket was set up slightly differently, I could do everything in a more simple fashion.

Basically the closing of the socket needs to happen when a reference count == 0.

Anyhow.

[2022-09-04 14:47] yhirose commented on #1383
Thanks for comments. I am not planning to make any design change to the private method `process_and_close_socket` at this point. So I am closing this issue for now.

@timprepscius could you try your idea in your fork of cpp-httplib first to see if your idea can work? Then could you please send me a pull request? Thanks a lot!

[2022-09-04 14:47] #1383 closed

[2022-09-05 08:01] fsxss opened #1384 "using post method with json body error"
I want to use post method with json body to post ,but it do not work。how to make it work？
Many thanks in advanced,

`#include "./httplib.h"
#include <iostream>
#include <string>

using namespace httplib;

int main(void)
{
    httplib::Client cli("http://125.25.21.23:8887");

    httplib::Headers headers = {
        { "Content-Type", "application/json" }
    };

    std::string postJson = "{ \"task

[2022-09-05 10:55] PixlRainbow commented on #1384
You used different JSON structure in the postman request
in your C++ request:
[code]
in your postman request
[code]

[2022-09-05 11:02] fsxss commented on #1384
@PixlRainbow thank you very much, I modify my json string to
 std::string postJson = "{\"task_id\":\"WO202209021603\", \"hg_names\":[\"test_e1\"]}";
 it can work now. thank you!

[2022-09-05 11:02] #1384 closed

[2022-09-05 15:08] HugoKuo opened #1385 "cpp-httplip 0.10.1 sends the request with encoded url https%3A"
cpp-httplip client-side log
`RuntimeError: HTTP GET error on 'https://demo.test.com/test-bucket/?encoding-type=url&list-type=2&prefix=userdata%2F' (HTTP 500)`

The object storage server-side log
`GET https%3A//demo.test.com/test-bucket/?encoding-type=url&list-type=2&prefix=userdata%2F HTTP/1.0 500 - cpp-httplib/0.10.1 `

[2022-09-05 18:43] yhirose commented on #1385
@HugoKuo, thanks for the report, I don't understand the situation... Could you explain it more clearly, and also provide the smallest possible code snippet which reproduce the problem? Thanks!

[2022-09-05 23:08] Romain-P commented on #1330
@fxfire hey can we talk a bit on discord? tricky#0833

[2022-09-06 00:35] chen-github1 opened #1386 "Sending data is different from receiving data"
cpp-httplib,When the transmission data has @ characters,Sending data is different from receiving data.
for example,Send
{
	"videoUrl": "rtsp://admin:admin@192.168.1.1/stream1",
	"responseUrl": "http://192.168.1.2/data"
}
but receive
{
	"videoUrl": "rtsp://admin:admin@192.168.1.1/stream1",
	"responseUrl": "http:/192.168.1.2/data"
}

[2022-09-06 00:54] yhirose commented on #1386
@chen-github1, could you provide the smallest possible code example which reproduces the problem? Thanks!

[2022-09-06 01:28] chen-github1 commented on #1386
#include <iostream>
#include "httplib.h"

int main() {
    // HTTP
    httplib::Server svr;

    svr.Post("/data", [](const httplib::Request &req, httplib::Response &res) {
        std::cout << "接收数据： " << req.body.c_str() << std::endl;
        res.set_content("{\"result\": \"ok\"}", "application/json");
    });

    svr.listen("0.0.0.0", 8080);
}

[2022-09-06 01:33] yhirose commented on #1386
Could you show your client code as well?

[2022-09-06 01:37] chen-github1 commented on #1386
The apipost tool I use

[2022-09-06 01:41] yhirose commented on #1386
I don't think it's a problem on cpp-httplib. Could you make sure that your API post tool really sends a correct payload? For now, I'll close it. Thanks for your understanding!

[2022-09-06 01:41] #1386 closed

[2022-09-06 01:44] chen-github1 commented on #1386
Could you test the JSON data I sent? Thank you

[2022-09-06 01:44] yhirose commented on #1385
Also could you show me which method is called in `Client` or `SSLClient`?

[2022-09-06 03:24] fengtuo58 opened #1387 "server with https coredump in aarch64 aarch64 GNU/Linux"
I deploy server with https in arm environment, and run it ,the following is stack with bt
x0000fffff7bc752c in malloc () from /lib/aarch64-linux-gnu/libc.so.6
(gdb) bt
#0  0x0000fffff7bc752c in malloc () from /lib/aarch64-linux-gnu/libc.so.6
#1  0x0000000000534ad4 in CRYPTO_zalloc ()
#2  0x00000000005446ac in CRYPTO_THREAD_lock_new ()
#3  0x000000000065b304 in ossl_ecx_key_new ()
#4  0x00000000005

[2022-09-06 04:18] yhirose commented on #1387
Sorry, but I don't know why that happens, since I don't have an aarch64 GNU/Linux machine... Could you run the following commands in terminal on your machine in cpp-httplib directory? (You may need to adjust `CXX`, `PREFIX`, `OPENSSL_DIR` in `test/Makefile` to fit in your environment.)

[code]

[2022-09-06 06:14] fengtuo58 commented on #1387
I find the reason that the compile toolchain is inconsistent

[2022-09-06 06:14] #1387 closed

[2022-09-06 09:22] charz commented on #1385
@yhirose Just curious, does the library send the `CONNECT <https>://<HOST>` before other request method?

[code]

[2022-09-06 11:07] yhirose commented on #1385
@HugoKuo, could you show me the actual C++ code calling the `SSLClient::Get` method?

[2022-09-07 18:43] vrince opened #1388 "SSE (server-side-event) example can hang the sent_event method"
Hi guys,

I have been using the SSE for a while now **exactly** as describe in the `example/ssesvr.cc` file.

I noticed that my main thread hung / stale sporadically, after a long and painful investigation, it looks like the `send_event()` method, can hang for some reason.

My use case is: I always have a least one listener waiting for an event, and I send about 1 event per second. I can easily se

[2022-09-07 20:04] yhirose commented on #1388
@gh4ck3r, do you have any comment of this issue?

[2022-09-07 23:33] gh4ck3r commented on #1388
The case described is different from mine.
I didn't experience such a stale or hung for sending message. @vrince, you may need to offer more information. Because, I couldn't find problem only with the code above. As I saw/tested it several times too, I know that the implementation is not perfect but it's good enough for starting point.

Only point `send_event` could be hold is first line where `lo

[2022-09-07 23:37] gh4ck3r commented on #1388
@vrince would you make/share your case in unittest? I can run it more than 24 hours on my environment to check the reproducibility next week.

[2022-09-08 09:14] th-baer opened #1389 "Accessing Directory"
Hello,

I was testing you library and I had a problem to access a directory http://localhost/dir
Looking into the code I noticed that you check for / at the end so http://localhost/dir/ did work.

I would suggest to change the code to handle this like:

[code]
Only the last line was added.

Best Regadrs,
Thomas

[2022-09-08 13:23] yhirose commented on #1389
@th-baer, thanks for the feedback. I understand what you would like to do, but I don't prefer the solution to take `/dir` as `/dir/`. I think most HTTP servers (like 'python -m http.server') use redirection (301) from `/dir` to `/dir/`. I'll take a look at the approach instead.

[2022-09-09 10:16] yecate commented on #1376
It may be because your project has an io.h header file
You can try to modify httplib.h file  #include <io.h> to #include <corecrt_io.h>

[2022-09-09 12:31] yhirose commented on #1388
@gh4ck3r, thanks for the comment. @vrince, could you respond to @gh4ck3r's comment? Thanks!

[2022-09-09 12:39] yhirose commented on #1385
I'll close it since I don't receive any evidence that cpp-httplib really causes the problem. Thanks for your understanding!

[2022-09-09 12:39] #1385 closed

[2022-09-09 21:20] chausner commented on #977
I'm new to OpenSSL but what seems to work is using `Client::ssl_context()` to obtain an instance of `SSL_CTX` which can be passed to [SSL_CTX_set_verify](https://www.openssl.org/docs/manmaster/man3/SSL_CTX_set_verify.html) for registering a custom validation callback function. In the callback, one can then retrieve the public key of the certificate and check if it matches the expected key.

Here's

[2022-09-11 20:29] vrince commented on #1388
Thanks for the interest you guys put into this issue! To be honest to
narrow it down to the sse part in our project was already really long. I'll
try to make a simple (no other deps) example that reproduce the behaviour.

Le ven. 9 sept. 2022, 2 h 31 p.m., yhirose ***@***.***> a
écrit :

[2022-09-12 08:49] bartols opened #1390 "Missing httplib::SSLClient enable_server_certificate_verification method on httplib::Client"
I'd like to use the universal interface constructors to have an agnostic http client since I cannot predict what url will be configured. In case on an HTTPS I'd like to use "enable_server_certificate_verification" method but is missing. That mehtod is present only in SSLClient.
I'd like construct always the same class and configure for secure/unsecure connection.
From my point of view would be pos

[2022-09-12 12:17] yhirose commented on #1390
@bartols, `enable_server_certificate_verification` already exists in `httplib::Client` as below.
https://github.com/yhirose/cpp-httplib/blob/b57f79f43882bbc0268999647890bd621bd22c94/httplib.h#L1063-L1065

[2022-09-12 12:17] #1390 closed

[2022-09-12 13:04] bartols commented on #1390
Oh my God what a stupid I am, I havent enabled the ssl define
Sorry

[2022-09-12 15:10] vrince commented on #1388
Btw I'm using `0.10.2` on Linux. Maybe I should update to `0.11.1` first?

[2022-09-12 16:42] yhirose commented on #1388
@vrince, I just released the new version 0.11.2 which includes the @gh4ck3r's change for better SSE support.

[2022-09-12 20:23] vrince commented on #1388
Ok good to know so I am making my best to have something as unit as possible that we can run long enough to see something hanging with 0.10.2 and hopefully it will be a good enough use case to see that 0.11.2 is stronger.

[2022-09-13 07:40] Forwarder999 opened #1391 "follow location"

[2022-09-13 09:43] Gatsbyoo opened #1392 "Segmentation caused by big data"
First of all, thank you very much for developing this library and lightening my mental burden.

When I'm using httplib::Client::Post, I'm requesting more than 2000 pieces of data from the server, which is a lot of data, so I get an error, and when I call it through const & to some other function (parsing JSON), I get a segment error, so I debug the core file, I found an error in the string constru

[2022-09-13 11:08] #1391 closed

[2022-09-13 11:11] yhirose commented on #1392
@Gatsbyoo where does the segmentation fault happens, `m_client->Post` or `jsonToStruct`?

[2022-09-13 11:28] Gatsbyoo commented on #1392
It happened when I called jsonToStruct, I saw an issue before that said to add a function that can read partially, the Get function seems to have, can read data in batches, but Post does not. Is there any way to solve this?

[2022-09-13 13:12] yhirose commented on #1392
If it happens in `jsonToStruct`, I don't think it's a problem in cpp-httplib, but in `jsonToStruct`, and I can't give you any help... I'll close this issue soon for now due to the reason.

By the way, I didn't provide methods with `ContentReceiver` in `Client`, since HTTP POST is meant to 'post data' rather than to 'receive data'.

[2022-09-13 13:12] #1392 closed

[2022-09-15 14:15] vrince commented on #1388
Ok tried my best to do the simplest example possible (100Hz trivial event dispatcher).

I am even more confused now. I was not able to replicate the "hang" with either 0.10.2 or 0.11.2.

Running my example with a simple HTTP server, impossible to see any problem (response time is really tight ~250us over 24h+).

But using HTTPS (OpenSSL 1.1.1) both 0.10.2 and 0.11.2, server refuse to accept connec

[2022-09-18 03:15] Teruhashi12 commented on #1376
it says the corecrt_io.h not found
![Screenshot (174)](https://user-images.githubusercontent.com/90950171/190884059-c78fec4a-ea57-46fc-a327-f9236d7e2f9b.png)

[2022-09-18 03:27] Teruhashi12 commented on #1376
I done include openssl and lib too

[2022-09-22 00:50] xinsuinizhuan opened #1393 "the http client is synchronous or asynchronous, blocking or non-blocking?"

[2022-09-22 02:37] gh4ck3r commented on #1388
@vrince, did you check TCP state of server socket? Probably, all server sockets are in "CLOSE-WAIT" state when "refuse connection" occurs. I got following after running your snippets.
[code]
IMO, it seems possible that server thread are waiting next "event" in `wait_event()` even after client disconnection. FWIW, my own implementation of SSE Server has similar skeleton with yours but I used `cv_.w

[2022-09-22 03:34] yhirose commented on #1393
Please see README.

[2022-09-22 03:34] #1393 closed

[2022-09-22 13:02] PixlRainbow commented on #312
@fsxss this code is based on the version of httplib from two years ago. The interface of httplib has changed and now no longer accepts `const char*` as parameter but instead `const std::string&`. The return type has also changed from `std::shared_ptr<httplib::Response>` to `httplib::Result`

[2022-09-23 02:06] fsxss commented on #312
thank you for your reply!

[2022-09-29 16:04] raviruia522 opened #1394 "how to listen traffic from emulator (nox player, bluetack..)"
i tried setting proxy of emulator to 192.168.1.10:8888
on server: svr.listen("192.168.1.10", 8888);
but could not capture the packet. is there any other way please help me

[2022-09-29 16:22] yhirose commented on #1394
Sorry, but too little information...

[2022-09-29 16:22] #1394 closed

[2022-09-29 21:19] tuxflo commented on #248
Sorry to comment on such an old issue, but how does this actually work? Do we need to set all three timeouts listed in the Readme?
[code]
I want to set the timeout to the maximum time `std::numeric_limits<time_t>::max();` to talk to an API which has a "wait for changes" parameter (etcd v2). And with the basic example code the request returns after 5 seconds even if I set something like this:
[code

[2022-09-30 13:09] vrince commented on #1388
@gh4ck3r also did you notice that I get different behavior using HTTP vs HTTPS? Using HTTP I was absolutely not able to "break" anything even after a couple of millions of events over many days @ 100Hz. HTTPS on the other side produces the "refuse connection" issue pretty easily (even in the first hour of run if I load my host).

[2022-10-01 22:12] Docteh opened #1395 "Good way to go from http::Error to string?"
Is there a good way to go from the Error enum over to a string?

I did some internet searching, and I guess I could add something like the following to my program, but then it can be out of date.

[code]

Maybe something similar could be added to httplib.h?

[2022-10-02 07:25] PixlRainbow commented on #1395
there is a `httplib::to_string` method that accepts a `httplib::Error` object and returns a string. But you can also use the `<<` operator to print the error to terminal.

[2022-10-04 04:05] gh4ck3r commented on #1388
@vrince, you can check my PR #1373 which is merged already. So, your test is already on it.

Regarding to HTTP/HTTPS, yes, I aware of it. I guess, TLS could make the difference of behavior in connection as it also works on TCP before HTTP. As I'm not an expert on TLS, I'm just guessing it. But, I'm telling you, server sockets in `CLOSE-WAIT` state should be closed by its owning thread. Otherwise,

[2022-10-04 11:15] #1395 closed

[2022-10-05 04:03] PixlRainbow commented on #1360
You still have to use openssl. Httplib does not know how to decode the encryption used by https websites; it depends on openssl to perform this feature.

[2022-10-05 10:47] cngege commented on #1360
### You can't comment at this time.

[2022-10-05 11:08] PixlRainbow commented on #1360
If a website offers an unencrypted http version directly, you can just use httplib as-is. If the website you want strictly enforces encrypted https, you have to use a third party's TLS termination proxy. Examples include `stunnel` or nginx, though there are others. The proxy will decode the encryption so that your application sees a normal http stream instead of a https one.

[2022-10-05 11:12] cngege commented on #1360
Thank you for the offer

[2022-10-05 17:44] fronald opened #1396 "httplib::ClientImpl::stop works perfectly on Linux but not on Windows"
When calling the `stop` method of the `httplib::ClientImpl` class on Windows, the request is not aborted immediately. Debugging, I verified that winsock2's shutdown method returns -1 and therefore httplib does not cancel the request.

Any idea?

Environment:

Windows 10 - 20H2
MSYS2 - CLang 15.0.1
Flags: CPPHTTPLIB_ZLIB_SUPPORT and CPPHTTPLIB_OPENSSL_SUPPORT

[2022-10-05 19:08] yhirose commented on #1396
@fronald, thanks for the feedback. Could you run the unit test suite to see if all the test cases including the `stop()` pass?

[code]

By the way,  I officially support and tested the library only with the latest Visual Studio on Windows described in README.
https://github.com/yhirose/cpp-httplib#windows

[2022-10-06 11:29] NuclearInstruments opened #1397 "Filename downloading from endless stream"
Hi,
I want to thank you for your great work develeoping this very useful library

We are registering and endpoint to download on the computer of the user an endless stream and save on a file. It's waveform coming from a particle detector in binary format.
We have tree API, one to start the acquisitio, one to stop and the last to store data. I need to set a filename in the download file. Any soluti

[2022-10-06 14:35] fronald commented on #1396
All tests passed. But I think the behavior I'm referring to is not being tested. I can create a punctual example to send you.

![image](https://user-images.githubusercontent.com/580752/194340166-b6895e89-dec8-48cb-8908-ea298a08927c.png)

But anyway, I'm not implementing the callback to cancel the request today, I'm just calling the stop. On Linux the stop is stopping immediately, regardless of whe

[2022-10-06 15:37] PixlRainbow commented on #1397
im guessing based on your variable being named `srv` that you want to use httplib to host a server.
Note that the regex pattern `\s+` attempts to match at least one or more whitespace characters.
If you want a to match at least one or many of _any_ character then use `.+`

Also, note that adding `_path` to the front of your pattern means that the brackets in the string no longer properly wrap arou

[2022-10-07 17:23] #1397 closed

[2022-10-09 06:57] chisheng opened #1398 "the read buf are not cleared"
inline bool read_content_without_length(Stream &strm,
                                        ContentReceiverWithProgress out) {
  char buf[CPPHTTPLIB_RECV_BUFSIZ];
  uint64_t r = 0;
  for (;;) {
    auto n = strm.read(buf, CPPHTTPLIB_RECV_BUFSIZ);// **the read buf are not cleared befor read data from socket**
    if (n < 0) {
      return false;
    } else if (n == 0) {
      return true;
    }

[2022-10-09 07:09] #1398 closed

[2022-10-09 07:11] yhirose commented on #1398
What did you try to say? Just curious... :)

[2022-10-11 01:53] nikohpng opened #1399 "Can support epoll"
* Question
can support epoll?

[2022-10-11 02:25] yhirose commented on #1399
No.

[2022-10-11 02:25] #1399 closed

[2022-10-11 14:45] raviruia522 opened #1400 "Server: how to send file with application/octet-stream ?"
i have file at the address D:\test.txt
how to how to put it in the response packet
i use
 svr.Get("/test", [](const Request& req, Response& res) {
    res.set_content("D:\test.txt", "application/octet-stream");
  });
but error
please help me!

[2022-10-11 16:50] #1400 closed

[2022-10-14 12:52] bartols opened #1401 "Needs of ContentReader on POST/PUT"
POSTing to a server we receive a response with lots of bytes in the body and would like to have a Post method with contentReader to avoid use a lots of memory

[2022-10-14 13:48] yhirose commented on #1401
Does the workaround mentioned in #850 help you?

[2022-10-14 13:58] bartols commented on #1401
Yes perfectly

[2022-10-15 02:19] hn-sl opened #1403 "[Question] https client works without setting CPPHTTPLIB_OPENSSL_SUPPORT and linking openssl"
Sending Post request to ```https://httpbin.org/post``` works without enabling and linking openssl. Is this expected?

/src/main.cpp

[code]
/CmakeLists.txt
[code]

/cpp-httplib is submodule path of https://github.com/yhirose/cpp-httplib.git

[2022-10-15 11:26] the-WINTERSOLDIER commented on #1389
Could you assign this issue to me , I'd like to give it a shot.

[2022-10-15 11:37] yhirose commented on #1403
@sum01, could you answer this question? Thanks!

[2022-10-15 14:12] hn-sl commented on #1403
I meam it is weird that it works though I didn't enable or link openssl. According to document I though that it is required to enable it to make https request work.

[2022-10-15 14:12] hn-sl commented on #1403
I meam it is weird that it works though I didn't enable or link openssl. According to document I though that it is required to enable it to make https request work.

[2022-10-15 14:31] graysuit opened #1404 "any good wrapper for .Net (C#) ?"
Was working on some C++ project and found this cool library. Its easy to use and works really well till now.
So my question whether there's any known cpp-httplib wrapper for .net framework exists ? in nuget or in github etc ?

Thanks so much

[2022-10-15 15:32] hn-sl commented on #1403
I see, thanks for the answer.

[2022-10-15 15:32] #1403 closed

[2022-10-17 01:40] yhirose commented on #1404
@graysuit, honestly, I don't know...

[2022-10-17 01:40] #1404 closed

[2022-10-17 03:05] sum01 commented on #1403
By default, it does a sort of lazy/opportunistic linking.
`HTTPLIB_USE_OPENSSL_IF_AVAILABLE` is default-on, so if it finds OpenSSL on the system it'll link it.

So it might be linking even if you don't explicitly ask it to do so.

[2022-10-18 11:25] badolsmito opened #1405 "Read from nullptr and exception was not handled"
![2022-10-18 13_20_49-](https://user-images.githubusercontent.com/99145855/196416588-e3b59ba7-6347-4432-98c8-fa24abe8a56d.png)

[2022-10-19 10:45] badolsmito opened #1406 "What does error 2 (Connection) mean?"
I get the error but there doesn't seem to be any documentation describing it.

[2022-10-19 12:24] yhirose commented on #1406
That's a TCP/IP connection error. It's usually caused due to invalid hostname, port, or HTTP scheme (http, https).
Hope it helps.

[2022-10-19 17:16] mljanke opened #1407 "Post works for Days and then returns 2 (cannot connect)"
Hi,

Our target device (running Debian 10) works great and then starts giving error 2 on Post method calls. On our target device, we can connect using the command line (curl to the BASE_GCP_URL in code below) just fine while the Post call returns 2. A new httplib Client is created before each post as shown in code below. We would expect a different error if there was an issue with our payload, but

[2022-10-20 13:54] theShmoo opened #1408 "Documentation for Server Configuration Setters"
There are some examples for configuring the cpp-httplib server, but there is no documentation what these settings actually do.

I am interested in the following settings:

* set_keep_alive_max_count
* set_keep_alive_timeout
* set_read_timeout
* set_write_timeout
* set_idle_interval

as we have issues with the keep alive messages with a client.

[2022-10-20 18:22] yhirose commented on #1407
@mljanke, thanks for the feedback. I can't give you any meaningful suggestions since I don't have the same exact network environment as yours....

But you could try to find what socket options are really used in curl by reading their source code, and to pass the same socket options with `Client::set_socket_options` method to see if it makes any difference.

Another think you could do is to find wh

[2022-10-20 18:39] yhirose commented on #1408
@theShmoo, sorry that I am a lazy person for documenting. :)

* set_keep_alive_max_count
* set_keep_alive_timeout

They configure HTTP Keep-Alive behavior. With `set_keep_alive_max_count`, we can specify how many requests we can handle with one socket connection. With `set_keep_alive_timeout`, we can specify how many seconds we can wait for another HTTP request with the same keep-alive socket conn

[2022-10-20 18:39] #1408 closed

[2022-10-20 21:08] mljanke commented on #1407
@yhirose, thank you for the reply. We will follow your recommendation and set socket options to match curl. C++ templates are new to us. Is there a set_socket_options() example? We expected to see a SocketOptions struct in the httplib.h, but cannot see this struct. We are unsure how to set options using set_socket_options().

[2022-10-21 07:29] PixlRainbow commented on #1407
socket options aren't a httplib-specific structure. httplib simply re-uses the POSIX or winsock API's struct.

`set_socket_options` allows you to provide a callback within which you may make modifications to the `socket_t` struct. You may refer to the default implementation as an example:
https://github.com/yhirose/cpp-httplib/blob/27cd4e6ffeca2c9978ec1df7de3d22b9303a71b4/httplib.h#L1595-L1611

[2022-10-24 07:13] theShmoo commented on #1408
Thank you for your answer!

This helps a lot!

[2022-10-27 07:57] alccetinkaya opened #1409 "Getting Error::Read when downloading large files to external device"
Hi!

I am trying to download large files to an external device(USB and SSD) using Get(path, content_receiver) method. When I use SSD there is no problem with downloading, but when I use USB I get Error::Read after an unspecified time. I tried to increase the read_timeout value but it didn't work.

To narrow down the source of the problem, I removed writing to the file lines in ContentReceiver and

[2022-10-27 17:31] evg82 opened #1410 "Keep alive and workers question"
Im using your lib in a server than receive short queries from clients (Also using your lib). Currently about 200 clients is sending a query each couple of seconds.

With keep alive disabled only a few workers are used and i can handle all my clients without problem.

If i enable keep alive (prefered) i need a worker to handle each client while the connection is alive, I implemented a thread pool t

[2022-10-28 04:18] #1407 closed

[2022-10-28 04:22] yhirose commented on #1409
@alccetinkaya, thanks for the feedback. Honestly, I have not idea why that happens... You code looks good to me.

[2022-10-28 04:26] yhirose commented on #1410
@evg82, I don't understand what you mentioned though, what you are asking for seems to be too complex. :)

[2022-10-28 04:26] #1410 closed

[2022-10-28 04:30] yhirose commented on #1396
I'll close it for now until I receive further information.

[2022-10-28 04:30] #1396 closed

[2022-10-29 12:09] ClemsonCoder opened #1413 "Can't access hidden (dot in front) directories"
I'm trying to use Let's Encrypt and part of it requires that it access a directory with the following path...

http://www.mywebsite.com/.well-known/acme-challenge/XXXXX

The problem is that your server mounting and get examples do not allow for a folder with a dot in front to be accessed. Is there a way to fix this? Also the XXXXXX is different each time so I would need a dynamic Get.

[2022-10-29 13:35] carlinski opened #1414 "SSLServer The chain doesn't contain any intermediate certificates"
I'm using your library on a Windows server, and it's working great using http, and also good using https in the browser. However when attempting to access via nodejs I get an error:

UnhandledPromiseRejectionWarning: Error: unable to verify the first certificate

Looking into this using an SSLChecker I find it's because an intermediate certificate is missing.

Currently using the crt and key when

[2022-10-29 13:44] mcordova1967 commented on #1414
Open your crt.PEM file and append the intermediate certificate, which
worked in my case.

Regards.

On Sat, Oct 29, 2022 at 9:35 AM carlinski ***@***.***> wrote:

--
* Framework Dinámica
Plataforma avanzada para desarrollo rápido de aplicaciones Web/SQL con Java
EE y Eclipse
http://www.martincordova.com

* El BLOG de Dinámica:
http://dinamicaframework.blogspot.com/

* El Canal de Dinámica en Youtu

[2022-10-29 13:54] carlinski commented on #1414
Thanks, I just tried that and now via the sslchecker I get "The order of certificates is invalid". Note I'm not using pem files, I am using crt. Could that be the problem?

[2022-10-29 14:10] mcordova1967 commented on #1414
Your crt is just a PEM file, no problem, it is just text, one certificate
after another, like this, your public certificate first, the intermediate
(chain.pem) second, I did it that way with ZeroSSL certificates and
httplib, and it worked in my case. If you wanna create a bundle  for
another server (like HAProxy), you could just concatenate the 3 files
provided by the CA:

cat privkey.pem cert.pem

[2022-10-29 14:17] carlinski commented on #1414
Really appreciate your answer, but I may be missing something. Where do I get my intermediate certificates? I was copying and pasting them from the ca bundle. Is that correct?

[2022-10-29 14:41] mcordova1967 commented on #1414
The CA bundle is the one, I use let's encrypt in auto-mode (certbot) and I
receive 3 files:
privkey.pem cert.pem chain.pem

chain pem should be appended to cert.pem, as shown in a previous email.

Good luck!

On Sat, Oct 29, 2022 at 10:18 AM carlinski ***@***.***> wrote:

--
* Framework Dinámica
Plataforma avanzada para desarrollo rápido de aplicaciones Web/SQL con Java
EE y Eclipse
http://www.mar

[2022-10-29 15:53] carlinski commented on #1414
Thanks for your help you were absolutely right. I appended the contents of the bundle to the original site supplied crt. I incorrectly presumed the bundle contained my sites crt too.

[2022-10-29 15:53] #1414 closed

[2022-10-29 18:18] yhirose commented on #1413
@ClemsonCoder, thank you for the feedback. As you can see the code, there is no difference between dot directories and regular directories. Could you explain more about what you would like to do?

https://github.com/yhirose/cpp-httplib/blob/27cd4e6ffeca2c9978ec1df7de3d22b9303a71b4/httplib.h#L4905-L4915

[2022-10-30 22:08] mljanke commented on #1407
Hi,
For now, I am restarting my device whenever I get error 2. I plan to
implement a more elegant (and direct) fix in the next few weeks.

Regards,

Mark Janke - Deviceworx
p:1-250-339-9662  tf:1-888-409-2688  m:1-250-702-1693
***@***.***

On Fri, 28 Oct 2022 at 22:55, heiheihei ***@***.***> wrote:

[2022-10-31 12:06] yanyipingpeter opened #1415 "Qusetion about receiving the request message"
Hello, I write a server.  when I receiving

 some long request, some times the server can receive the whole data at a time
![7% 5V96TS$1TS_{ 7@QBWQS](https://user-images.githubusercontent.com/68374297/199003828-59c3a52d-1fef-4553-9d01-79f5e92748dc.png)

however sometimes, the server the message is received participle. shown as figure below
Receiving part of  request in the first time
![``6Q0FFM$LW

[2022-10-31 18:09] yhirose commented on #1415
@yanyipingpeter, thanks for the report, but I honestly don't understand why the problem happens... Could you make sure that everything is all right on the client side? I'll close it for now and please submit an issue again when it turns out it's a really cpp-httplib problem. Thanks for your understanding!

[2022-10-31 18:09] #1415 closed

[2022-11-01 14:17] GOOD-Stuff commented on #1409
@alccetinkaya Hi!
What if you will be write by parts? I think that USB issue may cause because some system/inner buffers doesn't have enough memory. And if you try to write downloaded data by parts (for example, by 4/16/32 KB) it may help you.

[2022-11-02 10:11] bartols opened #1416 "Cannot access SSL Error"
Is not possibile to access to the SSL error in Connect or in Accept, the error is local to template <typename U> bool ssl_connect_or_accept_nonblocking.
Solutions could be have a "last_res" in client/server class so will be possible to retrieve the ssl error with SSL_get_error(ssl, res), or save a last_ssl_err or expand enum class Error to every possible SSL connect/accept error

[2022-11-05 12:35] fatih-dogmus opened #1419 "I can't serve file from server"
How can i serve dynamic files?

Example:

res.set_content("music.mp3", "audio/mp3");

[2022-11-05 12:49] #1419 closed

[2022-11-07 21:33] #1409 closed

[2022-11-07 21:34] yhirose commented on #1413
Close it for now until more evidence is provided.

[2022-11-07 21:34] #1413 closed

[2022-11-08 07:09] raviruia opened #1420 "JSON content in req.body is empty"
hi, i use POST method on client with json body, but server can't read it in log. it seems to return empty. please tell me how can i get it
Client:
`std::string postJson = "{\"task_id\":\"1\", \"names\":[\"test\"]}";`

    if (auto res = cli.Post("/content_receiver",  postJson, "application/json"))
    {
        cout << res->status << endl;
        cout << res->get_header_value("Content-Encoding")

[2022-11-08 14:08] yhirose commented on #1420
@raviruia, hope the following code examples will help you.

https://github.com/yhirose/cpp-httplib/blob/26196b70af0b5ae731c5d052977025bf7676ac04/test/test.cc#L2103-L2112
https://github.com/yhirose/cpp-httplib/blob/26196b70af0b5ae731c5d052977025bf7676ac04/test/test.cc#L1571-L1577

[2022-11-08 14:08] #1420 closed

[2022-11-09 04:08] fengmao31 opened #1421 "Post function donnot have the implement which only has path, header"
I post the request to server microsoft azure token server to access the tts service. But I find the source code have no implement which only has path, header. I need the header part. when I set body or  param nulptr, I find it throw a error.
of course, it is easy to make a new implement function of Post similar to other implement. But I donnot want to change the source code to take the risk to mai

[2022-11-09 07:15] vget opened #1422 "Completed content_provider Response hang for keep_alive_timeout"
I have a GET query with highly variable content.
I noticed that all request have a minimal cost of 5s.
It seems that a content_provider hang for 5s after execution of the last callback.
If the keep_alive_timeout is set to n seconds the execution hang for n second.

I also noticed that a fixed len content provider lead to a crash if DataSink::done is invoked

Here follow a snippet with 3 Get testin

[2022-11-09 08:13] vget commented on #1422
I just found out that the ``set_chunked_content_provider`` works fine for my use case.
Maybe I just misunderstood an expected behavior.

[2022-11-09 20:43] #1422 closed

[2022-11-10 08:17] raviruia522 opened #1423 "Not get parameters when using client GET with library Libcurl, and two request when using HTTPS"
Hi, thanks for your project, it's perfect using both client and server
However, in new project I use Libcurl Library to run client, combined with your httplib server, everything is fine with POST, but when I use GET with parameters, it throws an error, the server received one more request completely empty, this only happens when using HTTPS, with HTTP it's perfect.
And one more problem, i can't ge

[2022-11-10 08:35] fengmao31 opened #1424 "Segment error (core has been dumped)"
httplib::Client cli("https://127.0.0.1",4000); show the fault
   httplib::Client cli("https://127.0.0.1:4000"); is ok

[2022-11-10 08:41] fengmao31 commented on #1424
![image](https://user-images.githubusercontent.com/19343842/201042264-651f29e5-8115-4dcd-a85d-0e80769a2213.png)
maybe it is only for http?

[2022-11-10 08:54] fengmao31 commented on #837
it is because the client donnot have the local ca for the server. and it is not in the list of public ca. at last, it will check you ip address in your certification and the real ip in the area network. this is my understanding. you can turn off the verify in the client or set the ca.crt.

[2022-11-10 13:28] yhirose commented on #1424
`httplib::Client cli("https://127.0.0.1", 4000);` isn't supported.

It should be
`httplib::Client cli("https://127.0.0.1:4000");`  or
`httplib::SSLClient cli("127.0.0.1", 4000);` or
`httplib::SSLClient cli("127.0.0.1:4000");`.

Please see the following section in README.
https://github.com/yhirose/cpp-httplib#ssl-support

Hope it helps!

[2022-11-10 13:28] #1424 closed

[2022-11-11 09:34] ReneMueller4P opened #1425 "body not in utf8"
Hi,
my problem is that when I send a json to the server and there is a key or value with umlauts in it, it always comes out with a wrong value in body. I guess that no unicode is used. Is there a way to fix this?

example:

Ä Ö => Ã¶ Ã¤

[2022-11-11 13:31] yhirose commented on #1425
@ReneMueller4P, thank you for the feed back. But any HTTP library itself is neutral for any encoding, and it's a user's responsibility to encode body data properly in UTF-8 format. I am not sure that what encoding you are using on your system, but you have to find an appropriate encoder to convert your string to a std::string in UTF8 format. Thanks!

[2022-11-11 13:31] #1425 closed

[2022-11-11 13:33] yhirose commented on #1416
@bartols, since I don't have any necessity to see errors on OpenSSL level and don't have an environment to reproduce your problem, could you send me a pull request to resolve this? Then, I'll review it. Thanks for your help!

[2022-11-12 14:04] #1423 closed

[2022-11-12 20:08] stingray-11 opened #1426 "duration_to_sec_and_usec narrowing"
This occurs with `-Werror=conversion` on a 32-bit Linux system (time_t is 32-bits) and GCC 10.

[code]

I'm calling `set_read_timeout(std::chrono::seconds(120))` in my code.  It looks like the std::chrono Rep is a long long int (64-bits) and httplib is assigning it to a time_t (32-bits).  Probably will need a `static_cast<time_t>` somewhere as long as that yields the correct behavior.

[2022-11-13 02:18] stingray-11 commented on #1426
A good solution in general to prevent these warnings from showing up in projects would be to change `CMakeLists.txt` to read `target_include_directories(${PROJECT_NAME} SYSTEM ${_INTERFACE_OR_PUBLIC}`.  This will make the compiler use `-isystem` rather than `-I` which prevents warnings.

[2022-11-15 02:02] niuliwan commented on #1421
I have the same problem.

[2022-11-15 02:46] yanghongtian opened #1429 "httplib::Client segfault cases"
![9829255657e9b8f19bfadb029](https://user-images.githubusercontent.com/23432132/201814128-ebd4e71c-467f-48d1-9243-8511235d31ad.png)

[2022-11-15 04:25] PixlRainbow commented on #1421
do not use nullptr, use empty string e.g. `std::string()`

[2022-11-15 16:14] yhirose commented on #1429
@yanghongtian, thanks for the report, but I can't reproduce it. It's maybe related to [this](https://github.com/yhirose/cpp-httplib#g); Hope it helps!

[2022-11-15 16:57] #1421 closed

[2022-11-15 16:58] yhirose commented on #1421
@fengmao31, I added the Post method. (Also @PixlRainbow's comment should work.)

[2022-11-16 22:12] bobbymcr opened #1430 "noexcept annotations?"
It would be good to annotate methods where we should not throw or do not call any throwing operations with `noexcept`. This helps ensure adherence to C++ guidelines, such as [E.12][1] and [F.6][2].

[1]: https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#Re-noexcept
[2]: https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#Rf-noexcept

[2022-11-17 01:45] h20282 opened #1431 "add API support for verify certificate manually"
Thanks for this great library! 👍

Would it be possible to extend the API like `SSLClient::set_server_certificate_verification(std::function<bool (SSL_CTX *ctx)>)` to allow verify certificate manually?  just like [`asio::ssl::context::set_verify_callback`](https://www.boost.org/doc/libs/1_72_0/doc/html/boost_asio/reference/ssl__context/set_verify_callback/overload2.html).

I think it would be very

[2022-11-18 05:48] chen-github1 opened #1432 "httpclient throw exception"
httpclient program exits abnormally during operation, The following information is displayed during debugging: throw std::invalid_argument(msg);   msg:"'\000\000\000\000' scheme is not supported".  What is the reason for this situation？thanks!

[2022-11-18 07:10] fengmao31 commented on #1424
I hope add a IP example in the ssl-support. sometime, people will make the mistake to use it as me.

[2022-11-18 09:12] QQiangren opened #1433 "httplib::Client method can not sand messages Continuously"
I use the httplib::Client method to define the client and continuously send messages to the server. But after about 50 minutes, the link is disconnected and sending messages fails

![C224_202211181703100252180170147536fd](https://user-images.githubusercontent.com/23119784/202665248-a7664d57-2e8e-42dd-82ed-378ac8acdd04.png)

[2022-11-18 12:14] yhirose commented on #1432
Hope this following README section helps you.
https://github.com/yhirose/cpp-httplib#ssl-support

[2022-11-18 12:14] #1432 closed

[2022-11-18 12:17] yhirose commented on #1424
That's not a problem with a IP, but 'scheme+host' and 'port'.
So `httplib::Client cli("https://localhost", 4000);` isn't supported either.

[2022-11-18 12:19] yhirose commented on #1433
Thanks for the information, but I don't know if it's a really cpp-httplib problem or your network environment causes the problem...

[2022-11-18 12:19] #1433 closed

[2022-11-19 06:15] QQiangren commented on #1433
There is no problem with my network, because it is normal for me to send messages with the curl command, and it is no problem to send messages with python scripts. This happens only if cpp-httplib is used

[2022-11-20 02:17] yhirose commented on #1430
@bobbymcr, thanks for the good suggestion! I'll get back to this when I have time.

[2022-11-20 02:24] yhirose commented on #1431
@h20282, thanks for the feedback. I think it's possible and label this issue 'enhancement'. I currently don't have time to work on it. So I would really appreciate it if you can implement the method and send me a pull request. :)

[2022-11-22 00:02] #1248 closed

[2022-11-22 09:26] iamalinaji opened #1435 "Implementations for the "httplib.h" file."
I was wondering where I could possibly find the implementations for the functions & constructors that you've defined inside the "httplib.h" file.

For example, for the ClientImpl class, how could I see the definitions of the constructors that you defined? Or how could I see for example how you implemented the GET method for the HTTP client?

I would really appreciate it if you consider helping me.

[2022-11-22 15:51] yhirose commented on #1435
@iamalinaji this is a 'header-only' library which means the httplib.h itself contains implementations as well. Hope it helps!

[2022-11-22 15:51] #1435 closed

[2022-11-23 09:00] wangxiaoer3924 opened #1436 "client.set_digest_auth ret 400"
httplib::Client client("192.168.96.129", 80);
//    client.set_basic_auth("admin", "dixin_Admin123");
    client.set_digest_auth("admin", "dixin_Admin123");

//    if (auto res =  client.Get("/ISAPI/System/deviceInfo")) {
    if (auto res =  client.Put("/ISAPI/PTZCtrl/channels/1/presets/2/goto")) {
//    if (auto res =  client.Put("ISAPI/PTZCtrl/channels/1/homeposition/goto")) {
        if (res->s

[2022-11-23 14:48] fengmao31 commented on #1424
I understand it. Beginners may forget localhost is same as 127.0.0.1(IP).

[2022-11-23 15:48] yhirose commented on #1436
@wangxiaoer3924, thank you for the feedback. But I cannot give you any help since I don't know your network environment and what your digest auth setting is like. So 400 might be correct. :)

[2022-11-23 15:48] #1436 closed

[2022-11-24 00:21] wangxiaoer3924 commented on #1436
我用curl使用摘要认证是没有问题的，摘要就是用户名和密码 "admin", "dixin_Admin123" ，相同的用户名和密码我感觉是不是用法上哪里出了问题

[2022-11-24 09:11] oliver opened #1437 "EXCEPTION_WHAT is not set if exception text contains newlines"
If an HTTP server function throws an exception, normally httplib returns HTTP status 500 and sets the `EXCEPTION_WHAT` header to `e.what()`. But if  `e.what()` contains newlines, the `EXCEPTION_WHAT` header is not set at all.
I hit this problem when my server function threw an exception which contained newlines due to a bug in my code; and the missing `EXCEPTION_WHAT` header made that bug even mor

[2022-11-24 09:46] lifw555 commented on #979
ipv6 must have [ ] in url or header

[2022-11-24 21:01] PasinduKollure opened #1439 "Read series of chunks as they are being sent from server"
Im creating an HTTPS client which uses the `Transfer-Encoding: chunked` header and so I would like to read the incoming chunk data before the HTTPS request is complete. Is there a call back function to read the incoming chunk data or another way to do this?

Currently I am using the [socket_t ClientImpl::socket()](https://github.com/yhirose/cpp-httplib/blob/v0.11.2/httplib.h#L1005) function to get

[2022-11-25 04:12] yhirose commented on #1439
@PasinduKollure thanks for the feedback, but I honestly don't understand what you are trying to do with cpp-httplib...

First of all, `ClientImpl` class is not designed for direct use from users, but it should be used only by `Client` or `SSLClient`.

Secondly, using `Transfer-Encoding: chunked` in a request header isn't a way to ask a HTTP server to send response body as chunked data. Also if a s

[2022-11-25 04:12] #1439 closed

[2022-11-27 15:37] #1437 closed

[2022-11-27 15:38] yhirose commented on #1437
@oliver, thanks for the feedback. I implemented the 'better solution'. Please let me know if you find any problem.

[2022-11-27 15:53] #1426 closed

[2022-11-27 15:53] yhirose commented on #1426
@stingray-11, thanks for the report!

[2022-11-29 01:00] gh4ck3r opened #1440 "Next release?"
Hi @yhirose,
would you please tell me when do I expect next release?

[2022-11-29 12:20] oliver commented on #1437
Looks great - I just tested the latest httplib.h file, and the HTTP 500 response is now complete. Thank you for you quick response, and for creating this library!

[2022-11-29 15:18] jmbouffa opened #1441 "Creating vector of clients"
Hello, what is the easiest way to create one sslclient per thread in a boost::thread_pool?

I am trying to create a vector of httplib::SSLClient but I get errors like:

with `vector<httplib::SSLClient> clientDataVector(4)`

or

  137 |       static_assert(is_constructible<_ValueType2, decltype(*__first)>::value,

with `vector<httplib::SSLClient> clientDataVector { httplib::SSLClient("host.com"), h

[2022-11-29 16:08] yhirose commented on #1441
@jmbouffa, thanks for the feedback, but there is no easy clean way since the default and copy constructors are intentionally removed from SSLClient. If you want to put SSL Client instances into a vector with the initializer, you have to do it with std::shared_ptr unfortunately. But the vector will be `std::vector<std::shared_ptr<httplib::SSLClient>>`, and it doesn't look beautiful...

This is actu

[2022-11-30 00:22] jmbouffa commented on #1441
Ah, I see.  I suspected as much, but I wasn't sure.  Thanks for the clarification!

[2022-11-30 00:32] yhirose commented on #1440
@gh4ck3r sorry for the delay. I have just updated the version to v0.11.3.

[2022-11-30 00:32] #1440 closed

[2022-11-30 12:42] jimmy-park opened #1442 "SSL_get_peer_certificate() was deprecated in OpenSSL 3.0"
As shown in [OpenSSL manpage](https://www.openssl.org/docs/man3.0/man3/SSL_get_peer_certificate.html), `SSL_get_peer_certificate()` is an alias of `SSL_get1_peer_certificate()` and was deprecated in OpenSSL 3.0.
When OpenSSL is configured with `no-deprecated` option, [this line](https://github.com/yhirose/cpp-httplib/blob/c0b461a3b7b15877b5c8047b409c124aceec8fd9/httplib.h#L7768) will throw an erro