[2020-05-16 02:35] yhirose commented on #482
@thall, I just implemented an experimental std::ostream object in DataSink at 25aa3ca982af822273957a58f791522634b68407.

It's still not a very simple way though, no data allocation is required at least.
Hope it can satisfy your need.

### Send content with Content provider

[code]

### Chunked transfer encoding

[code]

[2020-05-16 09:35] PixlRainbow commented on #482
why not keep the old content provider implementation, and then just add a `res.getOutputStream()` like the original suggestion, which returns a new `std::ostream` that is merely constructed as a wrapper around `content_provider`?
So when a stream write operation is performed on the ostream, the streambuf will forward the written chars to the content provider. A queue of promises or futures can be

[2020-05-16 10:19] miketsts opened #484 "Bearer token authorization"
I'm developing a REST client to a service using bearer token authorization. Meaning "Authorization" header having "Bearer XXXXXX" content. Currently I just add this header (the token is predefined) to each client request.
As I see this library provides support for basic user/password authorization, can it make sense to provide also token authorization in a similar way? For example, it may be a plu

[2020-05-16 12:44] ChristophPech commented on #312
Thanks for the tip, seems they made the server side more scalable. But I need the client side, I'll use it for games with tight performance limitations, I'm not allowed to block or create threads so I have to do it myself.

Looking deeper into your client I think it would be either too hacky or take too much refactor to go completely non blocking, so I will write one from scratch as small as possi

[2020-05-16 12:53] yhirose commented on #312
Hope it goes well!

[2020-05-16 13:23] bingzhe123 opened #485 "keep_alive_max_count"

[2020-05-16 13:23] #485 closed

[2020-05-16 18:59] yhirose commented on #482
@PixlRainbow, thank you for the comment.

I have actually tried to keep the current content provider implementation as it is. Of course I added a new member `std::ostream os` in `DataSink`, but it doesn't affect at all to the current implementation.

This member is just a wrapper around the `DataSink` itself, and `sink.os << ???` calls `sink.write` internally. You can see the code below:

[code]

[2020-05-16 19:53] yhirose commented on #484
@miketsts, thank you for your feedback! This library currently supports basic and digest authorizations only. I am not using the Bearer token authorization and don't know how to implement it at this point. A pull request for it is always welcome of course!

The authorization plug-in sounds great idea. But I feel it's not easy to accomplish as we think, since each authorization has its own unique s

[2020-05-18 09:19] thall commented on #482
Thanks @yhirose for your implementation!

[2020-05-18 11:04] #482 closed

[2020-05-18 14:02] csk-ableton opened #486 "Using set_content_provider to serve large files closes connection"
I'd like to use `set_content_provider` to serve large files in chunks, however the response connection closes unexpectedly.

I've written a content provider for serving files, which fails from time to time. However here is a minimal example that consistently fails for me when using `curl`. I'd appreciate any help.

# Code

[code]

# Expected
Calling `curl http://localhost/large-file > test-file` d

[2020-05-18 17:18] yhirose commented on #486
@csk-ableton, thank you for the report. I have tried to reproduce it on my Mac OS, but I couldn't...
Are you using the latest httplib.h? If not, do you remember when you downloaded it?
Thank you!

[2020-05-18 17:26] csk-ableton commented on #486
@yhirose Thank you for the quick reply. I tried this with version `v0.6.2`. I don't use any flags (like `CPPHTTPLIB_USE_POLL`). I can also reproduce this when trying to download the file over Google Chrome or Safari.

[2020-05-18 17:44] yhirose commented on #486
@csk-ableton, thank you for the info. I am now able to reproduce the problem with v0.6.2.
This problem should be fixed with this commit at https://github.com/yhirose/cpp-httplib/commit/01058659ab0733cfdee6ba731152661ed12b294f.

I have just release v0.6.3 including the above fix. Could you try with the newest version of httplib.h?

[2020-05-18 17:56] csk-ableton commented on #486
@yhirose I just tried to reproduce the problem with v0.6.3 and multiple clients. I cannot reproduce the problem anymore, so it seems to be fixed. Thank you very much for the quick response!

[2020-05-18 18:35] yhirose commented on #486
@csk-ableton, glad to hear that. All the credit should go to @ottigeda though. :)

[2020-05-18 18:35] #486 closed

[2020-05-18 22:08] #483 closed

[2020-05-19 23:28] yhirose commented on #192
Mac OS used by Github Action still uses an OpenSSL version less than 1.1.1...

[2020-05-22 11:25] nioncode opened #488 "Make select_read timeout configurable"
I'm using httplib during tests of a client application in order to verify the requests that are made, which works great so far (thanks!).

However, I'm running into a performance problem: for each test case, I'm creating a new `Server`, listen for requests (on a separate thread), and `stop` the server (and join the thread) after the test finished. The problem is that the `listen` call only returns

[2020-05-22 14:09] thehemen opened #489 "Server's DELETE method"
I'm trying to test some server's methods like PUT and DELETE.

[code]

When I'm doing GET or PUT requests by Postman GUI, it works well. However, when i'm trying to use DELETE with address http://localhost:1234/delete/, it throws "400 Bad Request".

I'm not sure is it a library's trouble, but how to make it clear, is it a proper instruction?

[2020-05-22 16:16] yhirose commented on #488
@nioncode, thanks for the feedback. I don't have any particular reason why I have set the timeout to 100000, and it seems like there is no problem with 0. I'll commit the change after I make sure that all the unit test pass. Thanks for your contribution!

[2020-05-22 16:34] nioncode commented on #488
Thanks for the very fast response.

Why is `select_read` actually used in this loop anyways? Shouldn't the `accept` be enough? It looks like the `task_queue->on_idle()` is not even used, since `on_idle()` is an empty method.

With the code being as it is now, I would assume that a timeout on the select is generally preferred in order to keep CPU usage lower during idle, as otherwise the loop would

[2020-05-22 16:40] thehemen opened #490 "Using an arbituary filename in the method's pattern"
Say, I want to run this:
[code]

However, that's not enough for me to use just one filename.

Is it possible to use different names like *.html?

[2020-05-22 17:31] yhirose commented on #488
@nioncode, thanks for your comment. You are right. I looked back at some commits related to this. It turns out that it was originally added to handle the keep-alive connection and to detect that the server socket is closed: https://github.com/yhirose/cpp-httplib/commit/23c8f0c738aadfb5f61f4af3c2e8d844d85f3191

The current code actually doesn't need it any more for this purpose. But it's now used t

[2020-05-22 17:56] PixlRainbow commented on #490
the path parameter is a [regex pattern](https://cs.lmu.edu/~ray/notes/regex/). For example, you can use `".*\\.html$"` to match all files ending with `.html`. Note that you may need to tweak the pattern yourself to match any constraints you may have on file names.

[2020-05-22 17:58] nioncode commented on #488
The easiest would probably be to just make the timeout adjustable through the constructor (a `#define` would actually also work in my case, but I don't really like using the pre-processor for such things), but I'm looking forward to your solution.

[2020-05-22 22:32] yhirose commented on #488
I fixed this issue again in the way that's different from previous. I added `set_idle_interval(sec, usec)` method on the Server class. If we set 0, the server will completely skip the idle event process. The default value is 100000, and it can be configurable at compile time as well.
Hope the fix goes well for you.

https://github.com/yhirose/cpp-httplib/blob/62e036f253861b058daf7a45e8587050869fdb

[2020-05-22 22:33] yhirose commented on #490
@PixlRainbow, thanks for the clear explanation!

[2020-05-22 22:33] #490 closed

[2020-05-23 12:46] yhirose commented on #488
After I thought more about the default value for `CPPHTTPLIB_IDLE_INTERVAL_USECOND`. Since most users don't need the idle event, I changed it to 0. So in your case, you don't have to do anything. Hope it helps.

https://github.com/yhirose/cpp-httplib/blob/0654e5dab4051c01580b07cdb452afc74e30a0fa/httplib.h#L43-L49

[2020-05-23 16:19] yhirose commented on #488
After I set both `CPPHTTPLIB_IDLE_INTERVAL_SECOND` and `CPPHTTPLIB_IDLE_INTERVAL_USECOND` to 0, one of unit tests no longer works on Windows...

I'll continue to find a solution for any situation.

[2020-05-23 17:58] yhirose commented on #488
It turns out the `select_read` check is need for Winsock to properly stop the loop by calling `stop()` in a different thread. Other OSs like linux and macOS don't have the problem.

https://stackoverflow.com/questions/8716464/unblock-a-blocked-winsock-accept-call#answer-8720202

The current version v0.6.5 should work on all the OSs.

[2020-05-23 17:58] #488 closed

[2020-05-23 23:18] smlehbleh opened #491 "Default TaskQueue does not implement on_idle"
The default TaskQueue implementation doesn't implement on_idle which causes unnecessary CPU usage while the server is idle.

On average, CPU usage was 2% higher with an empty on_idle vs an implementation of on_idle with std::sleep(1 millisecond). (on an i7-8650U)

[2020-05-23 23:26] yhirose commented on #491
@smlehbleh, thanks for the report. How did you measure the result?

[2020-05-24 05:34] dyfet commented on #400
Probably "application/wasm" should also be added to can_compress.  Wasm is particularly favorable for use with brotli, too.

[2020-05-24 15:31] Kexiii opened #492 "Can you provide API thread safety info in the README doc?"
I think it's necessary to tell the user whether the API is thread safe(e.g. Is Client::Get(..) thread safe?).

[2020-05-24 15:36] Abduvakilov commented on #489
@thehemen Have you fond a solution? I am getting similar issue and found why it is happening
If I send a `DELETE` request with no `Content-Length=0`, It is waiting for content and closing connection after ~5 seconds with 400 code.

[2020-05-24 15:49] Abduvakilov commented on #489
Hmmm. Adding `const ContentReader &content_reader` to args solved the issue.
[code]

[2020-05-24 15:57] thehemen commented on #489
Yes. I've just commented lines with ContentReader so that DELETE can't be processed WITH the body. For my personal task, that appeared to be enough...

[2020-05-24 16:50] thehemen commented on #489
It's solved, thanks!

[2020-05-24 19:15] yhirose commented on #489
@thehemen, @Abduvakilov, this is a bug in cpp-httplib. You shouldn't have to add `const ContentReader &content_reader`. I'll fix it soon. Thanks for finding the bug!

[2020-05-24 19:20] #489 closed

[2020-05-24 19:21] yhirose commented on #489
I fixed it. Could you try with the latest httplib.h? If it works on your machines, I'll bump up the version number to v0.6.6. Thanks for you help.

[2020-05-24 19:41] smlehbleh commented on #491
Hi, it was httplib.h from master about 3 days ago (I could try with a specific release instead). The result was measured with the htop command in Ubuntu with and without an on_idle implementation.

[2020-05-24 20:01] yhirose commented on #491
@smlehbleh, one more question. Is your change is like this?

[code]

[2020-05-24 20:04] yhirose commented on #492
@Kexiii, basically, `Client` is not thread-safe. Only one thread can own the Client instance. But as you can see in the Client class, `sock_` is declared as `std::atomic<socket_t>`.  You can hold it in a different thread and safely call `stop()` method safely. In this particular case only, `Client` can be said as thread-safe.

Sorry for the incomplete documentation on README. Since this is just my

[2020-05-25 03:53] qujianbiao opened #494 "compile error in win32"
if (size > static_cast<size_t>(std::numeric_limits<int>::max())) {
will export:
Error C2143 syntax error: missing ';' before '{'

need change to:
if (size > static_cast<size_t>((std::numeric_limits<int>::max)())) {

[2020-05-25 05:49] thehemen commented on #489
It seems to be working now, with and without a body.
![Снимок экрана от 2020-05-25 12-48-11](https://user-images.githubusercontent.com/12379560/82782281-2ca46900-9e86-11ea-8fdc-b991e8062000.png)

[2020-05-25 09:52] TheNicker opened #495 "No notification or error handling on client timeout"
For example:
[code]

[2020-05-25 10:34] Starfa opened #496 "This library has a conflict with libuv"
I found this code in httplib.It will cause libuv bind error(invalid argument, windows 10).What does this code do?
[code]

[2020-05-25 14:42] #496 closed

[2020-05-25 14:43] yhirose commented on #496
@Starfa, thanks for the report. That's actually the legacy code which was necessary to run `socket` function on Windows.

But I have changed `create_socket` to use `WSASocket` WinSock function at #164, and `WSASocket` doesn't need the workaround anymore.

I have just fixed it. Please let me know if this change solves the issue on you machine.
Thanks!

[2020-05-25 14:50] #494 closed

[2020-05-25 14:51] yhirose commented on #494
@qujianbiao, thanks for the report!

[2020-05-25 14:52] smlehbleh commented on #491
Hi,
I actually did usleep(1000), although I suspect it will be the same - I can experiment with the stdlib version

[2020-05-25 15:20] Starfa commented on #496
Thank you! It works well, my issue has been solved.

[2020-05-25 15:21] PixlRainbow commented on #495
that is why all our examples surround `res` with an `if` statement -- if the client is unable to get a response for whatever reason, like network error, timeout or invalid domain etc, the response is `null`

[2020-05-25 19:00] kdcz opened #497 "WSASocket timeout"
Hello,
I was testing the lib with residentials proxies (= time out very often) and I noticed that they don't time out but the `strm_.read` function would just hang forever.

Fixed it by adding the `WSA_FLAG_OVERLAPPED` flag and `SO_RCVTIMEO` socket option.

[2020-05-25 19:29] yhirose commented on #497
@kdcz, thanks for the report. Could you send a pull request? Thanks!

[2020-05-25 19:35] yhirose commented on #495
@PixlRainbow, thanks for the explanation.
@TheNicker, sorry that cpp-httplib doesn't provide detailed error information... If you really need to detect timeout error, I recommend to use libcurl which gives you `CURLE_OPERATION_TIMEDOUT `.

[2020-05-25 19:35] #495 closed

[2020-05-25 19:36] #492 closed

[2020-05-25 21:27] TheNicker commented on #495
@PixlRainbow , having return value of null is completely fine, not knowing why is unheard-of.

@yhirose , thanks for the reference. I need an http client for a mission critical application so it's obvious that httplib is not usable as-is as but it does have its advantages.

Inhibiting the ability to handle known and especially common use cases **"as design"** seems to me illogical in respect to so

[2020-05-26 00:57] yhirose opened #498 "Better error handling on Client"
Currently, the client API returns `std::shared<httplib::Response>` if the request succeeds. Otherwise , API returns just `nullptr` and doesn't give any additional error information such as connection timeout.

It is desirable to add an error report mechanism to the existing client API without breaking existing users' code.

[2020-05-26 00:59] yhirose commented on #495
@TheNicker, totally makes sense. I made a new issue #498 to remind me of this enhancement. Thanks!

[2020-05-27 01:12] yhirose commented on #400
@dyfet, I though the MIME type for .wasm should be 'application/wasm'. But it seems there is no entry for WASM in the official list, yet...
https://www.iana.org/assignments/media-types/media-types.xhtml

[2020-05-27 09:08] nioncode commented on #488
Just wanted to report back that I tested again with v0.6.5 and everything works fine (only tested on Linux so far), thank you.

However, I'm curious about the Windows problem that you mentioned and especially about your solution. The link you posted even says it should be enough to simply close the socket from another thread (which httplib does when `stop` gets called). However, I can confirm from

[2020-05-27 11:04] gatopeich commented on #369
Not being able to keep a connection alive renders this library unusable for many projects, including my current one.

[2020-05-27 11:18] gatopeich opened #499 "Better support for Keep-alive on the client side"
Not being able to keep a connection alive renders this library unusable for many projects.

The so-called "keep-alive Client API" (see #369) is not usable for anything beyond very basic testing of the server.
[code]
This just sends a pre-canned batch of requests... Can't see how to use that in real life.

The client should just not send "Connection: close" by default. Let the user, or the server,

[2020-05-27 16:25] yhirose commented on #499
@gatopeich, thanks for the feedback. I am sorry that I haven't found time to work on it so far... It also relates to the longstanding issue #6.

If you need the Keep-alive connection on client now, I recommend you to use libcurl which supports Keep-alive connection as default. It's anyway more robust, and it has more nice features. :)

Thanks for bringing it up again. I'll leave this issue open fo

[2020-05-28 06:40] Bendr0id commented on #484
Bearer AUTH is very trivial and you can already use it.

On the client:
[code]

On the server:
[code]

[2020-05-28 08:17] Bendr0id opened #500 "HANDLE_EINTR macro fails to compile with CPPHTTPLIB_USE_POLL when using msvsc2017"
When compiling on Windows using the msbuild (Visual Studio 2017) and -DCPPHTTPLIB_USE_POLL it gets me some compile errors when it reaches the `HANDLE_EINTR(poll` calls.

Errors:

[code]

When i switch it back from:

`return HANDLE_EINTR(poll, &pfd_read, 1, timeout);`

To:

`return poll(&pfd_read, 1, timeout);`

It compiles fine. All the other calls using the HANDLER_EINTR makro seems to work.

So

[2020-05-28 09:31] pfeatherstone commented on #419
uWebSockets depends on C++17 which isn't great for portability and haven't got it to work properly serving static files. You're library is really awesome and websocket support would be a great addition.

[2020-05-28 11:00] guteksan commented on #424
Hi,
Sorry for late reply, I was busy with other things. Finally I got some time to prepare the analysis of performance of various REST frameworks, including Httplib, and provide the basic projects I used to run these tests:

https://github.com/guteksan/REST-CPP-benchmark

I hope this will help you find the bottleneck in the httplib library.

[2020-05-28 11:06] guteksan opened #501 "Poor performance on VPN"
Hi,
This is a follow-up of the issue: https://github.com/yhirose/cpp-httplib/issues/424, which was closed, as I couldn't provide an update at that time. Finally I managed to prepare a new analysis of performance of various C++ REST frameworks, including Httplib, and provide projects I used for my tests:
https://github.com/guteksan/REST-CPP-benchmark
I hope this will help you find the bottleneck in

[2020-05-28 13:27] yhirose commented on #501
@guteksan, fantastic! Honestly, I haven't focused on performance very much so far. I believe it can be a nice performance measurement tool!

[2020-05-28 13:29] yhirose commented on #419
@yurivict, thanks for the info!

[2020-05-28 14:45] Hari-Muniganti opened #502 "Response time is more when requested in a loop"
I am using httplib for my application. When i send a request from client it is taking 45milliseconds on an average to get response. But when i tried to send 10 same requests in a loop it is taking 7-8seconds to get all the responses. Where is it going wrong?

Thanks

[2020-05-28 16:06] #500 closed

[2020-05-28 16:07] yhirose commented on #500
@Bendr0id, thanks for the good catch!

[2020-05-28 16:15] Pospelove opened #503 "Overhead from headers parsing"
Hello. I tried profiling the latest cpp-httplib and figured out that `std::regex_match` (`httplib::detail::read_headers`) eats ~28% of CPU time on my sample code without header usage:

[code]

![image](https://user-images.githubusercontent.com/37947786/83165477-da757900-a10d-11ea-97cf-f82a38269489.png)

I think that removal of this bottleneck for handlers which doesn't use headers would be a great

[2020-05-28 16:26] Pospelove commented on #503
P.S. Adding a new API that replaces structs with classes and methods, I believe, may help with such problems using lazy computations. This API version would require explicit enabling by the macro to keep backward compatibility.

[2020-05-28 16:43] yhirose commented on #497
@kdcz, I now think your suggestion cannot be applied to cpp-httplib... Please see this comment, https://github.com/yhirose/cpp-httplib/issues/150#issuecomment-493052143.

[2020-05-28 16:43] #497 closed

[2020-05-28 16:45] yhirose commented on #502
@Hari-Muniganti, thank you for the feedback. But it's too little information for me to answer. Could you give your smallest possible code that can reproduce the problem, then I may be able to answer your question. Thanks!

[2020-05-28 16:48] yhirose commented on #503
@Pospelove, thanks for the excellent report! I think we can replace the regex code with a hand written HTTP header string parser, and it won't break anything. When I have time, I'll try to do that. Thanks!

[2020-05-28 17:28] Bendr0id opened #504 "Client2 implementation makes it impossible to compile with -fno-rtti"
The dynamic_casting makes it impossible to compile with -error: ‘dynamic_cast’ not permitted with the ‘-fno-rtti’ compile flag.

`error: ‘dynamic_cast’ not permitted with ‘-fno-rtti’`

Something you could do:

[code]

Or just search and replace `dynamic_cast` with `static_cast`

[2020-05-28 19:59] Pospelove commented on #503
Glad to hear that

[2020-05-28 21:07] yhirose commented on #504
@Bendr0id, thanks for the report. In fact, if `is_ssl` is true, we can safely cast it into SSLClient with `static_cast`. I'll make the change soon. Thanks for the report!

[2020-05-28 21:08] #504 closed

[2020-05-28 23:19] #503 closed

[2020-05-28 23:20] yhirose commented on #503
@Pospelove, could you test the latest httplib.h? It should be faster than before. Thanks.

[2020-05-28 23:26] yhirose commented on #491
@smlehbleh, I have tested on my macOS. Interestingly, the one with `std::this_thread::sleep_for` is actually slower (CPU usage 0.3%) than the empty one (0.2%). The difference is really tiny...

[2020-05-29 01:29] yhirose commented on #501
@guteksan, I just tried to build basic-httplib on my macOS, but I got some compile errors with log4cplus stuf... I'll fix the build errors this weekend, then start performance improvement.

When I checked your web site, I noticed that the benchmark uses v0.5.8. The latest one is v.0.6.6, right now. Is it possible to measure performance with the latest as baseline on your site?

Also there is anoth

[2020-05-29 06:30] guteksan commented on #501
@yhirose , sorry, it is not clear to me from your log what you did exactly. Did you clone log4cplus into basic-httplib project folder, and then tried to build basic-httplib? The correct way is to clone log4cplus repo separately, build it and install, and then build basic-httplib. Alternatively, you can install log4cplus in the system using apt-get (some version should be available in Ubuntu packag

[2020-05-29 07:20] PixlRainbow commented on #502
note that some third party servers may intentionally rate-limit clients that send requests too quickly as a form of DDoS protection

[2020-05-29 08:15] Pospelove commented on #503
@yhirose time spent in `httplib::detail::parse_header` is only 3% (most of this time spent in `headers.emplace`) Good job.

[2020-05-29 19:40] LKay42 commented on #150
Hello, I'm experiencing this problem as well.

I work on a university project that uses several Raspberry PI Zero boards to record environment and weather sensor data. Since port 22 isn't open everywhere, we use your library in HTTPS mode to both read the data from the sensors and to send various control or terminal commands to the PIs.

I've noticed that all Raspberry PIs get stuck on the read fu

[2020-05-31 13:26] vshu3000 opened #506 "Use of SO_REUSEADDR"
[code]

So now it always reuses socket.  The line outside ifdef should be removed.

[2020-05-31 13:43] vshu3000 commented on #506
The code actually always tries to reuse port.  That means in my case two servers can bind to the same port without causing EADDRINUSE.  This is unexpected behavior.

[2020-05-31 14:08] yhirose commented on #150
@LKay42, thank you for the detailed feedback. It seem like the problem happens if the network connection is weak. I wonder how I can emulate such condition to reproduce this problem on my machine. Thanks for your excellent report!

[2020-05-31 14:27] yhirose commented on #506
@vshu3000, are you saying that line 1910-1911 should be removed?

[2020-05-31 14:33] yhirose commented on #491
@smlehbleh, it seems this performance depends on a user's machine. So I'll leave it as empty for now. Actually, the best thing you could do is set both `CPPHTTPLIB_IDLE_INTERVAL_SECOND` and `CPPHTTPLIB_IDLE_INTERVAL_USECOND` to 0. (Or you can do it with `Server::set_idle_interval` as well.) By doing this on non-Windows OS, you can completely skip this process. Thank you!

https://github.com/yhiros

[2020-05-31 14:33] #491 closed

[2020-05-31 14:35] yhirose commented on #502
@Hari-Muniganti, please see @PixlRainbow's comment. If you still think this problem is caused by cpp-httplib server, could you give me more detailed information as I said in my previous comment?  I'll close it for now. Thanks!

[2020-05-31 14:35] #502 closed

[2020-05-31 16:14] PixlRainbow commented on #150
[cryzed/TrafficToll](https://github.com/cryzed/TrafficToll) can throttle network throughput on a per-process basis and is also capable of changing configuration during process runtime

[2020-05-31 16:46] Pospelove opened #507 "Client doesn't work if protocol is specified manually"
Hi. Is that behavior expected?
[code]
Reproduced on 0.5.1

[2020-05-31 17:09] yhirose commented on #507
@Pospelove, thanks for the question. It's exactly expected, because the first parameter in the constructor takes hostname. If you want https, you have to use `httplib::SSLClient`.

I recently added the experimental class `httplib::Client2` which takes scheme + hostname. So the following should work:

[code]

Hope it helps.

[2020-05-31 17:09] #507 closed

[2020-05-31 22:17] smlehbleh commented on #491
Hi, I see, ok thanks. What are the implications of setting
CPPHTTPLIB_IDLE_INTERVAL_SECOND and  CPPHTTPLIB_IDLE_INTERVAL_USECOND  to
0? From the code it looks like it would no longer read the socket? Would
that not cause any issues?

On Sun, 31 May 2020 at 15:33, yhirose <notifications@github.com> wrote:

[2020-05-31 22:48] yhirose commented on #491
@smlehbleh, `detail::select_read` just waits until incoming data arrives. If `val` is not 0, the latter code will actually read the data.

[2020-06-01 00:05] asfarley opened #508 "How to POST with custom headers using MultipartFormDataItems?"
Hi,

Is it possible to include custom headers using a client POST with MultipartFormDataItems? What is the appropriate syntax?

[2020-06-01 00:28] asfarley commented on #508
Ok, it seems like this syntax should work:
[code]

[2020-06-01 00:28] #508 closed

[2020-06-02 01:15] fatrolls commented on #336
How do I get this to work on binary files without messing up the 0x0D character? is that possible?

			FILE *fl = fopen("c:\\test.exe", "rb");
			fseek(fl, 0, SEEK_END);
			long len = ftell(fl);
			unsigned char *file = new unsigned char[len];
			fseek(fl, 0, SEEK_SET);
			fread(file, 1, len, fl);
			fclose(fl);
			printf("%02x %02x\n", file[0x423], file[0x424]);

std::vector<unsigned char> data(f

[2020-06-02 10:49] prophetl33t opened #510 "URL with subdomain doesn't work"
httplib::Client cli("api.shodan.com");
auto Res = cli.Get("/tools/myip");

Res always equals null.

URL without subdomain works fine.

[2020-06-02 12:26] yhirose commented on #510
@prophetl33t, thanks for the feedback, but I don't think it's a problem of cpp-httplib. Does it happen with curl as well?

[2020-06-02 12:40] prophetl33t commented on #510
@yhirose Nope, everything is okay when i use curl.

[2020-06-02 12:48] yhirose commented on #510
@prophetl33t, thanks for the additional info. But I honestly don't know why that happens.
Here are test cases that shows httplib::Client is working with subdomain:

https://github.com/yhirose/cpp-httplib/blob/aea60feb850d837a8d68f65be96b11efae9ca690/test/test.cc#L641-L652

https://github.com/yhirose/cpp-httplib/blob/aea60feb850d837a8d68f65be96b11efae9ca690/test/test.cc#L2747-L2756

[2020-06-02 13:24] prophetl33t commented on #510
Your test examples with YT and yahoo are working for me. It's something with URL i used (api.shodan.io). It works with curl and it works in httplib without subdomain (shodan.io).

[2020-06-02 14:10] yhirose commented on #510
@prophetl33t, I don't have any problem with subdomain at all. (cpp-httplib calls just `getaddrinfo` to resolve the hostname.)

Sorry for the problem that you are having though, I'll close it for now until more specific evidences are reported. Thanks for your understanding!

[2020-06-02 14:10] #510 closed

[2020-06-02 23:40] yhirose commented on #506
We need to handle this matter carefully according to the following information:
https://stackoverflow.com/questions/14388706/how-do-so-reuseaddr-and-so-reuseport-differ

[2020-06-03 12:56] PixlRainbow commented on #510
Did you compile with openssl support?

[2020-06-04 08:13] huluBrother opened #514 "when use HttpClient ，the res is empty！what happend? What should I do?"
the service code use demo code
[code]

the client use demo code
[code]
the result as follow
![image](https://user-images.githubusercontent.com/18010792/83732157-3a27d300-a67e-11ea-883c-6221c31da482.png)

[2020-06-04 08:52] PixlRainbow commented on #514
if you run the included test suite, do all the tests pass?

[2020-06-04 10:17] huluBrother commented on #514
Thanks, I have understanded it, it  run time out

[2020-06-04 12:10] leeyiw opened #515 "Support response compression of client request"
Hello, Currently the `CPPHTTPLIB_ZLIB_SUPPORT` only affect the request compression of client request. The client can't add a `Accept-Encoding: gzip` header to enable server side response compress. The `Client::set_compress()` API only enable the request body's compress.

It would be nice if cpp-httplib add this small feature.

[2020-06-04 12:37] yhirose commented on #515
@leeyiw, thanks for the question. The server actually can send compressed data if a request from client has a proper `Accept-Enclding` header. Hope the following test case helps you to understand it.

https://github.com/yhirose/cpp-httplib/blob/919a51091f4dd73f6b93b5bf3059b9d4c3117718/test/test.cc#L2158-L2172

[2020-06-04 12:37] #515 closed

[2020-06-04 12:37] yhirose commented on #514
I guess it can close it.

[2020-06-04 12:37] #514 closed

[2020-06-05 01:46] leeyiw commented on #515
@yhirose Got it. But it's not so convenient for users. :-)

[2020-06-05 11:12] srvasn commented on #458
I needed to include the certificate for `DST Root CA X3` to the `fullchain.pem` file issued by Let'sEncrypt certbot to get server certificate verification to work. DST is the signing authority for `Let's Encrypt Authority X3` which is in turn the signing authority for certificates issued by certbot.

The file from which I grabbed the certificate for `DST Root CA X3` can be found
[here](https://raw

[2020-06-06 13:41] seccpur opened #516 "[Question] How to setup a client for connecting to the google server and issue command."
**Intention**
Need to setup a client for connecting to the google server to issue a command to update a shared googlesheet.  Typing

 on the browser directly works find, but I want to use cpp-hhtplib from a c++ program. Here's what I have tried using your example implementation , but without success.

**Code**

[code]

**Result**

D:\Projects\Sender\x64\Debug\Sender.exe (process 2864) exited with

[2020-06-06 14:20] yhirose commented on #516
Please see the 'IMPORTANT' message in the example:
https://github.com/yhirose/cpp-httplib#client-example

[2020-06-06 14:20] #516 closed

[2020-06-07 11:08] PixlRainbow commented on #516
several problems with your code
1. as yhirose has mentioned, please omit protocol (e.g. `http://`) from the host string
2. By running `cli.Post("/post", "/macros/s/MyApiKey/exec?StnID=E732323&Date=06/06/2020&Time=14:49:26&Power=70&Refl=1&Status=ON", nullptr);` with the host `google.com`, you are accessing the address "http://google.com/post" and uploading a string `/macros/s/MyApiKey/exec?StnID=E7

[2020-06-08 17:16] lordbendtner1337 opened #517 "Visual Studio 2013"
No idea how to use GitHub, however these are fixes to make it work for Visual Studio 2013.

Comment out;
  Response(Response &&) = default;
  Response &operator=(Response &&) = default;

Change;
auto sn = _snprintf_s(buf, bufsiz, buf.size() - 1, fmt, args...);

to;
 auto sn = _snprintf_s(buf.data(), 2048, buf.size() - 1, fmt, args...);

[2020-06-08 17:24] yhirose commented on #517
@lordbendtner1337, thanks for the feedback. But I no longer have time to maintain and validate such an old compiler which doesn't fully support C++11 features. Sorry about that... Thanks for your consideration.

[2020-06-08 17:24] #517 closed

[2020-06-09 23:58] #506 closed

[2020-06-10 10:48] seccpur commented on #516
@PixlRainbow:  I had to include openssl library in the project to use class httplib::SSLClient. Thanks it works like charm now.

[2020-06-10 10:48] gatopeich commented on #499
Yep. It is a very promising library but Keep-alive should work by default.

Why don't you just leave it on the server's hands?

On the client side I would assume connections always keep alive unless the server sends `Connection: close` header, or the user adds `Connection: close` explicity.

Would that really require big changes?

[2020-06-12 07:18] gatopeich commented on #499
I don't get the resource management issue. You can always close the socket on destruction.

Honestly if your "Client" became a "ClientSession" (Client+KeepAlive), we would have here a very attractive HTTP library... Maintenance costs would increase due to the growth in user base!

[2020-06-15 02:44] yhirose commented on #499
@gatopeich, please check an experimental version on `keepalive-on-client` branch. It supports the Keep-Alive connection on Client that you requested. For backward compatibility, the default behavior is not keep-alive currently. You have to call `cli.set_keep_alive(true)`.

[code]

As you can see the above example, one drawback of this approach is that the server doesn't receive the final request w

[2020-06-15 15:36] tlethanh-sdi opened #522 "Server hang when multipart data was malformed"
We integred cpp-httplib in our lora server in order to handle internal webservice requests. Everything works fine until we introduce some file upload functions via multipart form data.

The working thread dedicated to webservice hangs sometimes (about 1 per 10 requests). Debugging shows that the while loop was repeated forever (state_ = 2, buffer size n = 4096).

https://github.com/yhirose/cpp-htt

[2020-06-16 03:10] #522 closed

[2020-06-16 03:11] yhirose commented on #522
@tlethanh-sdi, thanks for finding the bug and fine report. I fixed it with the last master code. Could you verify on your machine? Thanks!

[2020-06-16 09:49] mestag-a opened #523 "POST with empty content but without Content-Length: 0 returns 400"
I'm trying a simple program which logs part of the URL. Everything works fine with GET, but not with POST. Here is the code :
[code]
Compiled with `g++ -I.. -std=c++14 post_no_content.cc -lpthread`, from the `example` folder of the repository.

Here are the tests, using `cURL` :
- Using a GET request, returns code `200 OK`, fine.
[code]
- Using a POST request, hangs for 5 seconds, and returns code

[2020-06-16 09:58] mbnoimi opened #524 "Session management"
Hi,

I read about Authorization issue (#127) which is really cool but I wonder what about session management!

Is there any session management in cpp-httplib? If not; What's your suggestion(s) for handling it?

[2020-06-16 10:06] mbnoimi commented on #524
Do you consider [handling sessions in frontend](https://medium.com/@rossbulat/using-cookies-in-react-redux-and-react-router-4-f5f6079905dc) side is a good practice or it suppose to be handled by the server (cpp-httplib sever)

[2020-06-16 13:22] yhirose commented on #523
@mestag-a, thank you for the feedback and detailed investigation! Currently, this is an intentional behavior on cpp-httplib.

I did some research about how other HTTP servers handle this situation:
https://stackoverflow.com/questions/1233372/is-an-http-put-request-required-to-include-a-body
https://redmine.lighttpd.net/boards/3/topics/5851
https://issues.apache.org/jira/browse/TS-2902
https://serv

[2020-06-16 14:53] vvanelslande opened #525 "Crash on Windows"
LibreSSL 2.7.2
Windows 7 and 10
Visual Studio 2019

After updating from ec00fe5d5bb2edacf2c6af500623a7220f05f4ff to 144114f316c406423c3686b2379a708b26a54e26, https://github.com/libressl-portable/portable/issues/266 started happening.

[2020-06-16 15:34] yhirose commented on #525
@vvanelslande, thanks for the report. However, I don't officially support LibreSSL. Sorry about that... (Please see README which mentions only OpenSSL support. https://github.com/yhirose/cpp-httplib#openssl-support)

I'll close it for now, since I am not planning to support LibreSSL in the future, and OpenSSL works fine on Windows right now. But of course, your pull request is always welcome to fi

[2020-06-16 15:34] #525 closed

[2020-06-16 15:57] mestag-a commented on #523
Alright, thank you for the information, I'll close the issue then :+1:

[2020-06-16 15:57] #523 closed

[2020-06-16 16:20] tlethanh-sdi commented on #522
@yhirose  Thanks for your quick and effective reaction. The code was passed the test phase and the software is now in the validation chain. We hope to pass this in production very soon.

[2020-06-16 16:22] yhirose commented on #524
@mbnoimi, thanks for your feedback. In fact, cpp-httplib doesn't provides Basic/Digest auth support for server. In order to support it on server, we still have to write code to authenticate users' requests. It requires the server to store users' credentials somewhere in a storage like a DB or a file. The suitable solution depends on each system that the server is running on. This is out of scope o

[2020-06-16 16:22] #524 closed

[2020-06-16 16:24] yhirose commented on #522
@tlethanh-sdi , thanks for confirming it works on your machine! I'll release it in v0.6.7 soon.

[2020-06-16 21:47] #499 closed

[2020-06-16 21:48] yhirose commented on #499
I have merged it to the master.

[2020-06-16 22:09] yhirose commented on #498
`get_last_error` could be added which simply returns `errno` on non Windows and calls `WSAGetLastError` on Windows.

[2020-06-16 23:19] gatopeich commented on #499
Wow this looks good, thanks 🙂
I will test ASAP.
(It may take a while cause I am quite busy ATM).

[2020-06-17 12:36] gatopeich opened #526 "Client-only header (suggestion)"
HTTP 1.1 Client is arguably the most common use case for this library.

A client-only header might be much lighter and bring less dependencies, providing all that is needed for this use case.

Have you considered that?

[2020-06-17 14:23] PixlRainbow commented on #526
It would be helpful for older compilers or compilers targeting unusual platforms. But the average modern PC compiler is able to automatically exclude unused code from the executable and will automatically skip dependencies that are unused.
E.g. when compiling an executable that constructs a server, `gcc` will ask you to link a thread library, but when compiling an executable that only uses client,

[2020-06-18 11:51] tlethanh-sdi opened #527 "Quoted boundary handling for multipart"
Some implementations (ex: Qt framwork) used the quoted boundary for multipart form data. Actually, we need a patch for the set_boundary() function in order to handle the multipart data correctly.
It should be nice if cpp-httplib handles this, as it is a part of the standard.

The reference of the quoted boundary is described here:  [https://tools.ietf.org/html/rfc2046#section-5.1.1](url)

Here is

[2020-06-18 12:13] tlethanh-sdi opened #528 "Warning statement may fall throught in g++ 8.3"
We've got an annoying warning when compiling in g++ 8.3

Will a `break` statement at the end of case 2 hurt the function logic? The switch case 3 will be executed anyway at the next loop of the big `while( !buf_.empty() )`.

Here is the warning message:

`

	../../lib/cpp-httplib/httplib.h: In member function ‘bool httplib::detail::MultipartFormDataParser::parse(const char*, size_t, T, U) [with T

[2020-06-18 12:36] Untitled opened #529 "Cannot compile with MinGW G++ 9.2.0"
Sorry but it seems not compatible with some of the compilers.
[Log](https://paste.ubuntu.com/p/23KS88Ms8Z/)
I've tried to build it with my whole project but it gave me errors above.
It seems the same when building splited httplib.cc alone.
MinGW G++ 9.2.0,Windows 10
The errors is meaningless,for example
``
httplib.h:201:1: note: 'std::thread' is defined in header '<thread>'; did you forget to '#in

[2020-06-18 16:20] #527 closed

[2020-06-18 16:20] #528 closed

[2020-06-19 00:41] ahmet-kara opened #530 "minimum cmake version"
minimum cmake version should be 3.14 according to ARCH_INDEPENDENT.

[2020-06-19 01:50] yhirose commented on #530
@sum01, any comment?

[2020-06-19 02:49] sum01 commented on #530
Yeah @ahmet-kara is correct.

[2020-06-19 02:51] Untitled commented on #529
Thanks!
With TDM-GCC it bypassed the thread errors but there's still some errors left :(
It is a common problem about `ws2tcpip.h`
[StackOverflow](https://stackoverflow.com/questions/20303583/socket-programming-in-mingw)
Likely, I got errors,'getaddrinfo' was not declared in this scope.
Some of this can be solved by adding`#define _WIN32_WINNT  0x501`,
but not working for me - My 'getaddrinfo' dec

[2020-06-19 03:02] kdcz opened #531 "Add an option to enable TCP_NODELAY"
Disabling Nagle's algorithm improves performance, haven't tested server side but saved me around 10ms per request regarding the client

[2020-06-19 03:37] yhirose commented on #530
@ahmet-kara, could you make a pull request for it?

[2020-06-19 06:20] PixlRainbow commented on #529
its probably because MSVC compiler will auto-link and auto-include some Windows API components by default where MinGW G++ will not, while G++ on Linux/Mac does not have this issue because the POSIX API is accessible.

[2020-06-19 06:31] bingoIsCoder opened #532 "how to send post request with chunked mode?"
hi
I have a requirement, send a psot request and write streaming data to body.
Is there anyway to do this?
Thanks!

[2020-06-19 08:21] huluBrother opened #533 "How can I distinguish the type of timeout?"
When I use this code to connect, as follows
[code]
How do I know if this is a connection timeout, or a write timeout, or a read timeout?

[2020-06-19 10:21] tlethanh-sdi commented on #527
@yhirose  Great thanks to you. The code is now on our test chain. I will confirm the result very soon.

[2020-06-19 12:22] PixlRainbow commented on #532
yes, refer to [the readme](https://github.com/yhirose/cpp-httplib#send-content-with-content-provider-1)

[2020-06-19 13:31] yhirose commented on #531
@kdcz, sounds good idea. I'll implement that when I have time. Thanks for the suggestion!

[2020-06-19 13:36] yhirose commented on #533
@huluBrother, thanks for the feedback. Yes, cpp-httplib currently doesn't provide information why the call fails.
This issue is a part of #498. I'll handle it when I work on the better error report issue. Thanks!

[2020-06-19 13:36] #533 closed

[2020-06-19 13:38] yhirose commented on #532
@bingoIsCoder, please see the @PixlRainbow's comment.
@PixlRainbow, I always appreciate your excellent support!

[2020-06-19 13:38] #532 closed

[2020-06-19 13:42] yhirose commented on #526
@gatopeich, thanks for the suggestion. In addition to the @PixlRainbow's comment, I would like to keep it as a single-file-header-only library because it's the most selling point. Thanks for your understanding the decision!

[2020-06-19 13:42] #526 closed

[2020-06-21 19:08] #530 closed

[2020-06-21 19:09] yhirose commented on #529
I think I can close it, right? Thanks for all the comments!

[2020-06-21 19:09] #529 closed

[2020-06-22 05:48] nopol opened #537 "the space char should be urlencode as "+""
e.g.

[code]

urlencode:

[code]

See more  [RFC-1738](https://datatracker.ietf.org/doc/rfc1738)

[2020-06-22 06:24] nopol commented on #537
also `'=' -> "%3d"`

[2020-06-22 09:10] PixlRainbow commented on #537
[RFC-3986](https://tools.ietf.org/html/rfc3986) indicates that spaces should be encoded as `%20` in URLs, but `application/x-www-form-urlencoded` submissions should use `+`.
In practice, the convention is inconsistent and many different servers use either one or the other in URLs, and sometimes both.

[2020-06-22 11:05] yhirose commented on #537
@nopol, hope @PixlRainbow's comment helps.

[2020-06-22 11:05] #537 closed

[2020-06-22 18:55] yhirose opened #538 "Enable redirect tests when httplib.org issue resolves"
https://github.com/postmanlabs/httpbin/issues/617

[2020-06-22 18:57] #531 closed

[2020-06-24 03:35] thehemen opened #540 "CURL request failed: Connection refused"
Hi.
I have a PHP script to check my program is working fine that runs PUT, GET and DELETE methods.
When I run it on the clean Ubuntu 18.04, the result is OK.
But when I try Debian 10.4 (buster), the PUT method fails with:

I'm wondering what is the difference between these distrs so the results differ too.

[2020-06-24 04:11] thehemen commented on #540
The problem is solved. Needs to use "127.0.0.1" instead of "localhost".

[2020-06-24 04:11] #540 closed

[2020-06-25 09:06] tsilia opened #541 "Serving lots of data"
Hello. Thank you for your library, it's cute and neat! I'm using it to stream some MP4 video to a video.js player in Firefox/Chrome. However I've run into an issue.
I'm trying to send as much data as the client requests. But looks like ContentProvider stalls at some point and won't proceed with serving the rest of the data and the player in browser can't display the video stream anymore.

The deta

[2020-06-25 13:54] tlethanh-sdi commented on #527
@yhirose : I just want to confirm that the code works. Thanks.

[2020-06-25 19:09] PixlRainbow commented on #541
That's actually because the client stopped the request before the full range was sent, so your condition `length <= BufSize` is never met and it does not print your message. It may have silently finished.

Interesting, the logs say that the request handler finished but the content provider was never run. **Might be a bug in cpp-httplib.**

[2020-06-25 22:35] tsilia commented on #541
Thank you for your response.

Good catch, thanx for the hint. I specified a release callback with another log message and got the message written after the last chunk read. So yes, ContentProvider did silently finish. Somehow I got misled by a wireshark capture: I think I didn't see client close connection. Might have missed tho.

I've run some more tests with smaller buffer size and found somethi

[2020-06-26 15:57] tsilia commented on #541
I reckon, _if ContentProvider does respect_ the original ranges that come with an HTTP request, then the content length it expects should be set to that of the entire resource, not just the requested part, right? @PixlRainbow @yhirose could you please confirm that? I did so in my code, i.e., changed the line
[code]
to
[code]
and it worked like a charm! All responses are now sent correctly.
So, I g

[2020-06-26 16:33] yhirose commented on #541
@tsilia, thanks for the feedback. I am right now busy to read your comments carefully though. The following unit test might be helpful to you:

https://github.com/yhirose/cpp-httplib/blob/0a2cb20223190d4e3f153ac99067f60970e1c3ba/test/test.cc#L919-L934

Does it answer your question?

[2020-06-26 17:06] tsilia commented on #541
Yes, it does, thank you @yhirose!
I, however, have one more question regarding the topic.
Is it, by any chance, possible that different requests coming from the same client could be processed simultaneously by your library, like in parallel threads? I mean, do I need to protect my file reader using some kind of synchronisation primitive in the ContentProvider callback or make a separate reader ins

[2020-06-26 18:04] PixlRainbow commented on #541
yes, requests are handled by a thread pool. More than one request can be handled at once.

[2020-06-26 19:14] tsilia commented on #541
Ok, thanks for your time! I'm closing the issue then.

[2020-06-26 19:14] #541 closed

[2020-06-27 14:04] TheOnlyArtz opened #542 "Sending requests with follow_location will return null"
[code]

Hey! this code doesn't seem to work and I can't figure out exactly why, without the follow_location res->status is 301 but with follow_location the res is just nothing (?)

[2020-06-27 16:13] yhirose commented on #542
@TheOnlyArtz, do you get the same result with `curl -L [YOUR URL]`?

[2020-06-27 20:33] PixlRainbow commented on #542
did you compile with openssl support?

[2020-06-27 20:44] yhirose commented on #542
@PixlRainbow, good point!

[2020-06-27 21:01] TheOnlyArtz commented on #542
Oh, probably didn't. maybe that's why :)

[2020-06-28 19:23] killahypens1998 opened #543 "each request is a new session id"
I make a post request to the file and create a session there, which in the future will be needed for use in all files, but it remains only in the file in which it was created, each new request changes PHPSESSID. session_start(); I have it only in the file.

example:

file_for_include.php

session_start();
code,code,code...
============

other files.php

include 'file_for_include.php';
code,code,co

[2020-06-28 23:34] #542 closed

[2020-06-29 05:58] PixlRainbow commented on #543
I don't think httplib manages cookies automatically. You will have to implement cookies on your own by reading and setting headers.

[2020-06-29 12:15] yhirose commented on #543
@PixlRainbow, thanks for the comment.
@killahypens1998, thanks for the feedback. Hope @PixlRainbow, 's comment helps you.

[2020-06-29 12:15] #543 closed

[2020-06-30 02:01] killahypens1998 opened #545 "session"
how do i can set value to PHPSESSID?
already 4 day I suffer with these sessions, because in each request a new session.

[2020-06-30 02:22] yhirose commented on #545
Please see #543 again. Hope it helps.

[2020-06-30 02:22] #545 closed

[2020-07-01 07:26] hucongquan commented on #150
hi @yhirose , I'm experiencing this problem too.
When i  switch between different Wi-Fi networks, httplib as a client side, it's easy to get blocked on SSL_read or SSL_write function.

[2020-07-01 10:54] hucongquan commented on #150
I feel  i have fixed this problem by using setsockopt read and wrie timeout，like this：
1. declare read_write_socket_options function
`inline void read_write_socket_options(socket_t sock) {
  int sec=10,usec=0; //fix: need user control

  timeval timeout;
  timeout.tv_sec = static_cast<long>(sec);
  timeout.tv_usec = static_cast<decltype(timeout.tv_usec)>(usec);

  //set send/receive timeout
  sets

[2020-07-01 12:24] tsilia opened #547 "The code won't compile in VS2015 with SDL checks on"
Hello.
I'm trying to compile in VS2015 a code that uses your library and getting error C4996.

I created a new project from scratch in Visual Studio 2015 Update 3 and left 'SDL checks' checkbox on (security development lifetime; it's a set of restrictive rules the MS is enforcing on source code). I get the following error when trying to compile my code using your library:
```httplib.h(3592): error

[2020-07-01 14:49] tsilia opened #548 "The logger is never called when using ContentProvider to serve lots of data"
Hello.
I've run into an issue again. When I use ContentProvider to send lots of data (see the closed #541 for the code highlight), the logger is never called because the connection seems to time out or client closes connection prematurely and `write_content_with_provider` method ends up returning false after a default 5-seconds timeout. Which makes `write_response` method exit before the logger ge

[2020-07-01 17:18] yhirose commented on #547
@tsilia, thanks for the feedback. I no longer use VS2015, so I can't help you for this issue. (I was actually thinking of dropping support of VS2015 and earlier VS2015.)

Is this VS2015 Update 3 is the latest? If so, could you adjust `_MSC_VER < 1900`, and send a pull request?
Thanks for your help!

[2020-07-01 17:23] tsilia commented on #547
Thanks for your reply.
@yhirose, yeah, I believe VS1025 will no longer receive any updates.
I would gladly send a pull request, but could you elabotaste a bit please? What do you mean by saying

Do you mean I should change the `less` sign to `less or equal` or maybe change smth else?

[2020-07-01 17:32] yhirose commented on #547
@tsilia, yes, I mean `less or equal`.

[2020-07-01 21:09] #547 closed

[2020-07-01 21:09] #548 closed

[2020-07-01 21:20] yhirose commented on #150
@hucongquan, thanks for the information. Could you send a pull request? When you prepare the pull request, could you make sure of using `read_timeout_sec_`, `read_timeout_usec_`, `write_timeout_sec_` and `write_timeout_usec_` to tie timeout value properly instead of leaving `//fix: need user control`?
Thanks a lot!

[2020-07-02 06:18] hucongquan commented on #150
Hi @yhirose a pull request #551 has commited,I'm looking forward to your reply.

[2020-07-02 07:23] hucongquan commented on #150
Hi @yhirose , a pull request#552 has commited, I'm looking forward to your reply~

[2020-07-02 08:27] Umiade opened #554 "HTTP status code parsed error when setting Telerik Fiddler as proxy"
In Function `Client::read_response_line`，regex to match first line is `(HTTP/1\\.[01]) (\\d+?) .*\r\n`
while Fiddler returned `HTTP/1.1 200\r\n`, then we got -1 as returned status.

I created a [pull request](https://github.com/yhirose/cpp-httplib/pull/553) to fix this, change the regex to `(HTTP/1\\.[01]) (\\d+).*?\r\n`

[2020-07-02 14:22] yhirose commented on #554
@Umiade, thank you for the feedback. But I wonder if your change is correct from the HTTP standpoint.

RFC2616 Section 6 clearly defines the status line as `Status-Line = HTTP-Version SP Status-Code SP Reason-Phrase CRLF`.
It doesn't allow us to omit `Reason-Phrase`.
https://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html

So I feel that it's a bug in the Telerik FIddler, and HTTP libraries don't h

[2020-07-03 07:16] Umiade commented on #554
It's true that status line `consist  of the protocol version, a space, the status code, another space, a possibly empty textual phrase describing the status code, and ending with CRLF`, that is, there should be two SP.

However, we can‘t figure out clearly whether the data returned by the proxy software or VPN is standardized :(

[2020-07-03 11:16] yhirose commented on #554
@Umiade, I checked the definition of `Reason-Phrase`, and it is `Reason-Phrase  = *<TEXT, excluding CR, LF>`. So it is optional. Also the following stack overflow post backs up it.
https://stackoverflow.com/questions/17517086/can-an-http-response-omit-the-reason-phrase

Thank you!

[2020-07-03 11:17] yhirose commented on #554
I merged your pull request.

[2020-07-03 11:17] #554 closed

[2020-07-03 12:25] Umiade commented on #554
@yhirose, Thank you! Strictly speaking, Reason-Phrase is optional while the second SP is mandatory;
It means that It's ok to use like below：
[code]
But `HTTP-Version SP Status-Code CRLF` is not correct.

It's more like a defensive regex to avoid irregular status lines.

[2020-07-04 04:18] yhirose commented on #150
@hucongquan, thanks for the pull request. I took a look at it, and looks ok. But I think `setsockopt` can be called just in the constructor of `SSLSocketStream`. If we do so, we can apply it not only to the client, but also the server as well with the simple change.

I made a simple pull request #556. Could you test with it to see if it fixes this issue on your machine?
Thanks a lot!

[2020-07-04 12:24] yhirose commented on #150
@aj3423, @LKay42, based on @hucongquan's suggestion, I made a change in this pull request #556. If you have time, could you try this version? Thanks!

[2020-07-04 16:53] evg82 opened #557 "Compression in chunked transfers"
Compression is not used when set_chunked_content_provider is set.

I think it would be necessary to add the "Content-Encoding: gzip" header if the client supports compression and pass the data by the compressor before write it.

This can be done outside the lib (create a zlib instance and write to it with flush flags to get a compressed output. Then write this output. However its tricky to get if

[2020-07-05 19:39] cflint987 opened #560 "Re-constructing/Re-initializing SSLClient"
Hi I am not sure if I am doing something wrong, but I am unable to re-construct the SSLClient with a new hostname.

The 264 issue seems to indicate that
cli = httplib::SSLClient(newHostname);
can be used to re-construct the SSLClient.

However, when I try to do it VS 2019 gives me the following compiler error:
Error	C2280	'httplib::SSLClient &httplib::SSLClient::operator =(const httplib::SSLClient

[2020-07-06 02:15] yhirose commented on #557
@evg82, please see my comment in #561. I'll try to implement it when I have time.

[2020-07-06 03:04] yhirose commented on #560
@cflint987, thanks for the feedback. Unfortunately, SSLClient (and Client as well) is no longer re-constructable since #499. More precisely, the client classes don't have copy constructor and assignment operator. Alternate way is to use a smart pointer such as `std::shared_ptr` or `std::unique_ptr`.

[code]

Hope it helps!

[2020-07-06 03:04] #560 closed

[2020-07-07 00:05] hucongquan commented on #150
ok，I’will test it today

[2020-07-07 01:18] hucongquan commented on #150
I test it on my machine，here is the results:
1. First time, it doesn't work, any request would fail ,returns the nullptr;

[2020-07-07 12:31] ScSofts opened #562 "Advice: Can it be migrated to libuv (for better parallel performance)?"
I like this project very much. But it just runs in single thread,so it cannot undertake much requests.I think using [libuv ](https://github.com/libuv/libuv)is a good solution.

[2020-07-07 12:45] yhirose commented on #562
@ScSofts, thank you for the feedback. Are you talking about server or client? cpp-httplib server is actually a 'multi-thread', but 'synchronous' server. Client is a 'single-thread' and  'synchronous' server.

You can find more information regarding it at https://github.com/yhirose/cpp-httplib/issues/312.
Thanks!

[2020-07-07 12:45] #562 closed

[2020-07-07 12:48] ScSofts commented on #562
thanks

[2020-07-07 13:36] Chao-Zeng commented on #498
hope this feature can be develop as soon as possible. otherwise, it's hard to know why res is nullptr.

[2020-07-07 22:54] yhirose commented on #150
@hucongquan, thank you for the report! Your **_First time_** example is an expected behavior due to the recent change at #534. Your _**second time**_ example shows that this problem is fixed. Thanks for your contribution!

[2020-07-07 22:55] #150 closed

[2020-07-08 12:27] tsilia opened #563 "Any way to log non-matching requests?"
Hi. Me again 😊
I'm using regular expressions to serve some `css/js` files and they fail to match my URLs.
Is there any way to call logger or maybe other logging code to log requests that somehow wouldn't match the regexes supplied with calls to `Server::Get()` method?
I know I can debug those separately, but could you please add a general support for logging failed quieries for debugging purposes

[2020-07-08 14:41] tsilia commented on #563
Oops, disregard pls. Looks like I somehow omitted the port in my URL. Mismatched requests get served as 404, anyway.
Sorry for bothering.

[2020-07-08 14:41] #563 closed

[2020-07-08 15:11] P-e-g-a-s-u-s opened #564 "LPWSTR vs LPSTR"
Hello.
I'm trying to compile in VS2013 update 5.

httplib.h(3234): error C2664: 'HCERTSTORE CertOpenSystemStoreA(HCRYPTPROV_LEGACY,LPCSTR)' : cannot convert argument 2 from 'const wchar_t [5]' to 'LPCSTR'

3234 auto hStore = CertOpenSystemStore((HCRYPTPROV_LEGACY)NULL, **L"ROOT"**);
**L"ROOT"** change to **_T"ROOT"** or **TEXT("ROOT")**

httplib.h(3533): error C2065: 'bufsiz' : undeclared identifi

[2020-07-08 17:56] #564 closed

[2020-07-08 17:57] yhirose commented on #564
@P-e-g-a-s-u-s, thanks for the report! Please let me know if the latest version works.

[2020-07-09 20:40] yhirose commented on #557
When working on this issue, we have to take #400 into consideration as well.

[2020-07-10 12:13] ben-sol opened #565 "usec conversion question"
#### merge founds
line 1732: auto timeout = static_cast<int>(sec * 1000 + usec);
line 1756: auto timeout = static_cast<int>(sec * 1000 + usec / 1000);
line 1789: auto timeout = static_cast<int>(sec * 1000 + usec);

Is 'usec' sometimes 'msec'?

[2020-07-10 12:18] yhirose commented on #565
@ben-sol, thanks for the report! It should always be 'milliseconds'. So the line 1756 is wrong... I'll correct it.
https://pubs.opengroup.org/onlinepubs/007908775/xsh/systime.h.html

[2020-07-10 12:18] ben-sol commented on #438
Resolved in the current(0.7) version: it returns now false.

[2020-07-10 12:18] #565 closed

[2020-07-10 12:19] ben-sol commented on #396
Resolved in the current version (0.7): it returns 'false'.

[2020-07-10 12:22] ben-sol commented on #565
I'm glad you posted it:
[code]
so it's MICROSECONDS!

[2020-07-10 12:37] ben-sol opened #566 "Again: #565"
#### merge founds
line 1732: auto timeout = static_cast<int>(sec * 1000 + usec);
line 1756: auto timeout = static_cast<int>(sec * 1000 + usec / 1000);
line 1789: auto timeout = static_cast<int>(sec * 1000 + usec);

It's always MICROSECONDS, so please reconsider your commit (1732 and 1789 are wrong).
Note you're _very_ fast (that's good), but it was the wrong direction this time. Sorry, I will be m

[2020-07-10 12:51] bluecataudio commented on #566
I think there are actually other inconsistencies (poll expects milliseconds as input for example), so there is a mix of microseconds and milliseconds in several places.

[2020-07-10 12:52] ben-sol commented on #566
actually, all setiings are in microseconds, so the state _is consistent_. This is the only place I found.

[2020-07-10 13:06] bluecataudio commented on #566
I might be wrong, but on Line 1732 it seems to me that it does not work as expected:
  auto timeout = static_cast<int>(sec * 1000 + usec);
  return handle_EINTR([&]() { return poll(&pfd_read, 1, timeout); });
(poll is also documented as using milliseconds)

By the way, on line 1884 I am not 100% that I understand the computation done here, there is probably also a timing issue mixed with a typo:
w

[2020-07-11 13:47] yhirose commented on #566
@ben-sol, @bluecataudio, thank you for the comments and bug reports. I'll take a look at all the places where timeout is used. Here is the result of my research.

## select

https://pubs.opengroup.org/onlinepubs/007908775/xsh/systime.h.html

[code]

`usec` should be treaded as microseconds, not milliseconds. It was my mistake.

## poll

[code]

`timeout` should be milliseconds.

[2020-07-12 09:14] opentianwe opened #567 "How to handle cross domain requests from browsers"

[2020-07-12 15:03] PixlRainbow commented on #567
## If viewing third party domain's website and accessing your domain's API
You need to include [a header that permits the third party domain](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin).
More details [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS).
## If viewing your domain's website and accessing third party domain's API
You must either
1.

[2020-07-12 21:11] yhirose commented on #567
Thank you for the question and the fine answers!

[2020-07-12 21:11] #567 closed

[2020-07-13 00:45] #566 closed

[2020-07-16 01:56] tangm421 commented on #312
How's the progress？

[2020-07-16 08:27] ChristophPech commented on #312
@tangm421 I basically started from scratch, it works now for openssl on windows, doing the hostname resolving via GetAddrInfoExW/getaddrinfo_a. Now I have to finish the linux port, and add native API support for Windows (WININET) and Xbox to be able to run without openssl. Still a way to go before being publishable.

[2020-07-16 18:10] StephanSchedler opened #569 "GCC>=7: warning: this statement may fall through [-Wimplicit-fallthrough=]"
Starting with version 7, gcc warns for implicit fallthrough in switch statments (C++17 and above)

This leads to a warning when compiling cpp-httplib with ``-std=c++17`` flag:

See also [wimplicit-fallthrough-in-gcc-7](https://developers.redhat.com/blog/2017/03/10/wimplicit-fallthrough-in-gcc-7/) or try the code below on [wandbox.org](https://wandbox.org/)

[2020-07-16 18:23] StephanSchedler commented on #569
- Already fixed 4days ago in version 0.7.1

[2020-07-16 18:23] #569 closed

[2020-07-17 03:06] tiantianaixuexi opened #570 "Is there any plan to support openssl 3.0.0?"

[2020-07-17 03:59] yhirose commented on #570
Yes when the official version is out.

[2020-07-17 03:59] #570 closed

[2020-07-17 16:33] sgarriga opened #571 "Minor, warning - %zu/%lu in example.simplesvr.cc"
g++ 7.5.0 under Ubuntu is happy using %lu in simplsvr.cc

snprintf(buf, sizeof(buf), "text length: %lu\n", file.content.size());

but g++ 8.3.0 under Raspbian warns it should be %zu

I've spent a few hours searching, but I don't think there's a standard macro in C++ that the preprocessor can use to determine which is correct.

[2020-07-19 18:48] TheNicker commented on #498
One solution would be to always return a valid `std::shared<httplib::Response>` (never null)  and to overload `nullptr_t` operator and mark it deprecated so users would know not to use that as the compiler generates a warning.

The implementation of `nullptr_t` operator will check whether connection has failed, in that case comparison against null will return true.

Another more comprehensive solu

[2020-07-19 22:41] yhirose commented on #571
@sgarriga, thank you for the report!

[2020-07-19 22:41] #571 closed

[2020-07-20 21:05] #557 closed

[2020-07-21 03:31] leonardorame opened #572 "Serving buffer"
Hi, I'm trying to serve an `std::vector<char>`, but so far I'm obviously doing something wrong.

Here's my code:

[code]

If I do a `std::cout << s.c_str() << std::endl;` the content of the buffer is written to `stdout`, but for some reason it is not returned to the http client. For example, using cUrl if I do:

[code]
I get this:
[code]

[2020-07-21 07:56] PixlRainbow commented on #572
[Starting from cURL version 7.55.0, cURL automatically blocks binary downloads unless you explicitly specify an output](https://daniel.haxx.se/blog/2017/06/17/curl-doesnt-spew-binary-anymore/)

[2020-07-21 11:53] yhirose commented on #572
Hope @PixlRainbow's comment helps.

[2020-07-21 11:53] #572 closed

[2020-07-21 12:02] leonardorame commented on #572
Thanks!, I spend half a day on this!.

[2020-07-21 22:21] yhirose commented on #498
[code]

[code]

[2020-07-22 03:55] TheNicker commented on #498
Separating deceleration from initialization when declaring 'Response' prevents RVO from kicking in, copy assignment shouldn't occur and furthermore the other way around should be faster.

As depicted in the following snippet:
https://godbolt.org/z/b7KGhs

One thing that I left out for full backward compatibility was also to overload the dereference operator.
If declaring it const break changes the

[2020-07-22 05:12] zeman412 opened #573 "Segmentation fault while parsing https url."
I am trying to get api query response. From terminal I could get the json file using curl command as follows:
`curl -H "Accept: application/json" -H "X-Query-Key: NRIQ-ls" "https://insights-api.newrelic.com/v1/accounts/245568854/query?nrql=SELECT%20average(cpuPercent)%20from%20SystemSample"`

And then I get this from the above command:
`{"results":[{"average":34.00873863090903}],"performanceStats"

[2020-07-22 07:27] mrpuzzler opened #574 "Redirect is broken"
Wrong

[2020-07-22 07:32] #574 closed

[2020-07-22 09:27] PixlRainbow commented on #573
you have an extra slash in your server hostname:
```httplib::SSLClient cli("insights-api.newrelic.com/");```
should be
```httplib::SSLClient cli("insights-api.newrelic.com");```

[2020-07-22 12:10] yhirose commented on #573
@zeman412, I tried to reproduce the segmentation fault problem with the following test code, but I couldn't reproduce it and the test succeeded.

https://github.com/yhirose/cpp-httplib/blob/15c4106a362cc1af719a05072540cf6aeb9c6f18/test/test.cc#L397-L409

Could you tell me where (or which line in httplib.h) you got the segmentation fault?
Thanks!

[2020-07-22 13:37] zeman412 commented on #573
The test succeeded when I tried it as well, so I was wondering if this is related to the url that I'm trying being long and encoded. This is the error while compiling the code snippet I shared above (removed the extra '/'):
[code]

And I have openssl installed, it looks like linking problem with openssl?
[code]

[2020-07-22 14:16] PixlRainbow commented on #573
how did you compile?

[2020-07-22 14:36] zeman412 commented on #573
I use code runner in vscode, but I also tried compiling as follows:
[code]
And also tried linking -lssl -lcrypto, all with the same outcome.

[2020-07-22 14:54] PixlRainbow commented on #573
did you add `-lssl -lcrypto` in front or behind `test-https.cpp`?
In any case, this is likely unrelated to your original error because getting segmentation fault implies you were previously able to compile your own code.

[2020-07-22 17:53] zeman412 commented on #573
I guess it's all related, I tried to debug the coredump file from the segfault also related to linking.
It appears that I was missing  zlib library, so the following worked fine.
`g++ -g test-https.cpp  -lssl -lz -lcrypto -o test  -std=c++11`

Thanks for the hints.

[2020-07-22 21:06] #573 closed

[2020-07-22 22:56] yhirose commented on #498
@TheNicker, I was using `Response res; res = cli.Get();` just as an example that users may easily fall into unknowingly. That's why I don't prefer returning an object instead of a smart pointer that will never cause such unintentional copying of body text which might contain Giga bytes. Anyway, thanks for your suggestions!

[2020-07-23 00:29] TheNicker commented on #498
In principle compilers nowdays would warn you about such behaviour, but I can see that this path won't bear fruit as new to some experienced developers usually don't pay attentions to these nuances, thus I would greatly would like to see the code gets internally forked, for maybe even a substantial make over.

[2020-07-23 19:31] yhirose commented on #498
`std::expected` or `throw`:
https://www.reddit.com/r/cpp/comments/c75ipk/why_stdexpected_is_not_in_the_standard_yet_is_it/

[2020-07-23 20:53] TheNicker commented on #498
I think that the fundamental idea of std::expected is very good , but I would bet against it getting into the standard.
The C++ committee is taking the dual exception handling system very seriously, but according to progress I would except to  see it maybe in C++(26).

`std::expected` - I believe not.
`throw` -  If it was (allegedly) 2026 and Herb Sutter's ideas from his talk last year at CPP con

[2020-07-24 15:07] flameoftheforest opened #575 "Addendum to using cpp-httplib in Windows"
When I am using CMake to build my W32 executable with cpp-httplib using MingGW. I found that I need the follow for the project to build:
[code]
I reckon it's important to document this in your readme for other users?

Thanks!

[2020-07-24 15:48] RozeFound opened #576 "Url's with spaces and pluses do not processing properly"
Days ago i tried to download some files with this library, and i found that url's with spaces and pluses always return 403 error (access denied).

Here is two url from one CDN:
1. https://edge.forgecdn.net/files/2745/846/mcjtylib-1.12-3.5.4.jar
2. https://edge.forgecdn.net/files/2595/310/Neat 1.4-17.jar

I tried to download it with SSLClient, fake browser headers, follow_location (true) and defaul

[2020-07-24 16:03] yhirose commented on #575
@sum01, do you have any thought on this issue?

[2020-07-24 17:11] yhirose commented on #576
@RozeFound, thanks for the feedback. But I don't think it has to do with cpp-httplib since the status is 403. Please let me know if you find enough evidence that it is really caused by this library.

[2020-07-24 17:28] RozeFound commented on #576
@yhirose I have a 150+ similar links, and error 403 appear only with link with spaces and pluses, In addition to this, any other library (like cpr) can easily download this files.

[2020-07-24 17:32] snagar opened #577 "expression cannot be used as a function"
Hi,
When I try to compile your cpp-httplib against OpenSSL v1.1.1 I receive the following error. I'm not sure what I'm missing but I'll appreciate your insight.

I compile in Linux Mint Mate 19.3.
g++ (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0

**Main error**

**The full command + errors are:**

[2020-07-24 18:23] yhirose commented on #577
It seems like `-DSSL_get_peer_certificate=1` causes the problem. Hope it helps.

[2020-07-24 18:23] #577 closed

[2020-07-24 18:50] snagar commented on #577
Hi,

Embarrassing as it is, I forgot to clean some of the settings I did so yes you are 100% correct.
By the way,

1. Does your library support or will OpenSSL3x or you are waiting for it to reach Release phase.
2. Does your library supports OSX too ?

Thanks

[2020-07-24 23:06] yhirose commented on #576
@RozeFound, thanks for the info! If curl can handle the request, there must be a bug in cpp-httplib. I'll take a look at it when I have time.

[2020-07-25 13:40] #576 closed

[2020-07-25 13:41] yhirose commented on #576
@RozeFound, could you try with the latest master code? Thanks!

[2020-07-25 13:45] yhirose commented on #577
Since it's still Alpha version, I am not interested in it yet.

Yes, I am mainly working on macOS.

[2020-07-25 15:26] yhirose commented on #45
Added a SSE client example.
https://github.com/yhirose/cpp-httplib/blob/master/example/ssecli.cc

This is the same as `curl http://localhost:1234/event1 -N`.

[2020-07-25 15:26] #45 closed

[2020-07-26 00:46] yhirose commented on #400
@kdcz, I merged you code into the master branch. Thanks for your contribution!
By the way, do you have Brotli compressor code as well?

[2020-07-26 00:48] yhirose opened #578 "Brotli support on Server"
#400

[2020-07-26 00:48] #400 closed

[2020-07-26 02:29] sum01 commented on #575
It might be because `_MSC_VER` isn't defined on non-MSVC compilers (like Mingw), which means https://github.com/yhirose/cpp-httplib/blob/15c4106a362cc1af719a05072540cf6aeb9c6f18/httplib.h#L137-L141 doesn't ever get defined.

So maybe we need to link to it in Cmake.
But this should also mean that people not using Cmake also can't compile it? Maybe?

I tried to compile using MinGW (installed on Wind

[2020-07-26 03:24] yhirose commented on #575
@flameoftheforest, could you answer the above question from @sum01?

[2020-07-26 07:38] flameoftheforest commented on #575
I will try my best. I am not too good at this, honestly.

`Was this Linux cross-compilation for Windows using MinGW?`
-> I am using MingGW (i686) on windows, my cmake runs off cmake-tools in VSCode.

`Also, are you sure we need wsock32 as well if we're linking ws2_32?`
-> i tested based on @sum01's reply. wsock32 is not necessary! i am just using the answer i found here: https://stackoverflow.com/

[2020-07-26 09:59] snagar opened #579 "Partial Success - Need insight"
Hi,

I'm trying to implement your library in my plugin for X-Plane simulator.
The idea is to allow a user fetch flight plan from "api.flightplandatabase.com" on port "443" and the "q" string is:

This is just and example I used from the "client.cc" I modified.

I have tested the client only on Windows but used the same technique in my plugin and then build the plugin on all 3 platforms: Win/Lin/Ma

[2020-07-26 14:23] sum01 commented on #575
Before you commented I attempted a Linux cross-compilation for Windows using MinGW and it actually does fail without those libs.

So I suppose we need to link them either way. I'll push a fix.

[2020-07-26 16:27] #575 closed

[2020-07-27 00:33] flameoftheforest commented on #575
Thanks the great work @yhirose  & @sum01 !

[2020-07-27 14:30] electromaggot opened #581 "Minor: new compiler warning if not CPPHTTPLIB_BROTLI_SUPPORT or CPPHTTPLIB_ZLIB_SUPPORT"
Minor, but still...  Line 2354:
[code]
(Great project, by the way, thank you @yhirose!)

[2020-07-27 16:36] RozeFound commented on #576
Very thank you for your library, and fast fixes. Your library is easy to
use like cpr, but faster and without dependencies!
  Now I can continue to work on my project. Thank you again!

On Sat, Jul 25, 2020 at 8:41 PM yhirose <notifications@github.com> wrote:

[2020-07-27 23:34] yhirose commented on #581
@electromaggot, thanks for the report! I actually noticed that before committing the Brotli support, but I didn't come up with any simple or elegant way to suppress the warning and just left it... It's the benefit of open source project that any thing cannot be hidden from other developers' eyes! I'll take a look at it when I have time. Thanks!

[2020-07-28 02:07] #581 closed

[2020-07-28 02:40] yhirose commented on #579
@snagar, thank you for your feedback. But I can't help you because I don't know your network and OS environments. Only suggestion that I can give you is to run the unit test suites in the `test` folder on your environments. (As you can see on README, all the unit tests pass on Linux, macOS and Windows on CIs.) Hope it helps!

[2020-07-28 02:40] #579 closed

[2020-07-28 02:41] yhirose opened #582 "Brotli support in CMake"

[2020-07-28 02:45] yhirose commented on #582
@sum01, I have recently added Brotli compression support on client which can be configured with `CPPHTTPLIB_BROTLI_SUPPORT`. It requires brotli libraries. (https://github.com/google/brotli)

If it possible to support it in the CMakeLists.txt as `CPPHTTPLIB_ZLIB_SUPPORT` when you have time?
Thank you for your help!

[2020-07-28 03:11] sum01 commented on #582
@yhirose Do you need all 3 libs (decode, encode, and common) or just specific ones?

[2020-07-28 12:20] yhirose commented on #582
@sum01, currently, the library supports only decoder, but I am thinking to support encoder soon as well. So it would be nice to include 3 libraries. As for the minimum version, I have installed 1.0.7 with homebrew on macOS and confirmed it works. Thanks!

[code]

[2020-07-28 12:21] x93008 opened #583 "get request a big file ,core dump"
When I sent a get request for a large file, the server I built with CPP httplib crashed

[2020-07-28 13:14] electromaggot commented on #581
I should be thanking you! ...for the timely fix, and for those punctilious of us treating warnings as errors.  I thought your suppression elegantly avoided a somewhat ugly "compound #ifdef" or code repetition.  Bravo!

[2020-07-28 13:39] yhirose commented on #583
@x93008, thank you for the feedback. But it's not enough information, and I can't help you. Sorry about that...

[2020-07-28 13:39] #583 closed

[2020-07-28 21:04] #582 closed

[2020-07-28 21:05] yhirose commented on #582
@sum01, thanks for the quick support! I have just merged the pull request.

[2020-07-29 02:39] x93008 opened #585 "If I don't call the sleep function, or if the sleep time is not long enough, this will happen"
如果我不调用sleep函数，或者sleep时间不够长，那么就会出现这种一直重连的情况(If I don't call the sleep function, or if the sleep time is not long enough, this will happen)
`
#include "server.h"

#include <unistd.h>

#include <iostream>
#include <chrono>
#include <thread>

#include "httplib.h"
#include "nlohmann/json.hpp"

void ServerStart() {
    httplib::Server ser;
    char *send_buf = new char[1024*1024];
    memset(send_buf, '

[2020-07-29 03:50] x93008 commented on #585
`void ServerStart() {
    httplib::Server ser;
    char *send_buf = new char[1024*1024];
    memset(send_buf, 's', 1024*1024);

    ser.Get("/a.mp4", [send_buf](const httplib::Request& req, httplib::Response &res) {
        res.set_chunked_content_provider([send_buf](size_t offset, httplib::DataSink &sink) {
            for( int index = 0; index < 1024 * 10; index++) {
                if(sink.is_w

[2020-07-29 09:04] ayumukid opened #586 "the unnormal return code of post request can not be get"
well ,there is a very good to use. there was a problem I found, where the return status code is not 200, for example 400
the post method can not get the return code.

the code is like this:
		auto res = m_cImage->Post(strUrl.c_str(), headers, items);

		if (res != nullptr)
		{
			bRet = res->status;
			strResponse = res->body;
		}
		else
		{
			PLGZF_INFO("上传图片 报文返回为空");
                }
but in f

[2020-07-29 09:25] PixlRainbow commented on #586
I could not reproduce the issue when sending request to httpbin.org using its status 400 test.
If you run cpp-httplib's included test suite, do all tests pass for you?

[2020-07-29 09:32] PixlRainbow commented on #579
On Windows: Please check if your firewall has blocked the application or if you have linked the Windows socket libraries
On Mac OSX: If you have not provided a certificate bundle of recognised authorities, you can try disabling server certificate validation with `cli.enable_server_certificate_verification(false);` and see if the issue is still present. **Note that this is not recommended in produc

[2020-07-29 10:10] ThePiso opened #587 "getaddrinfo in template <typename BindOrConnect> socket_t create_socket(.....)"
Useful and beautiful library compliments.

The problem that occurs is this:
on unstable WiFi connections it happens that the "getaddrinfo" function always returns the error with code -2 (EAI_NONAME) and there is no way to get out of it if not by restarting, it would seem that it is not detected that the connection has actually become active again.

I am trying to use the Client part of this librar

[2020-07-29 10:57] ThePiso commented on #587
Hi all,

on the return of an error by the function
getaddrinfo I tried adding the res_init () function
and it seems to work

[2020-07-29 11:21] yhirose commented on #587
@ThePiso, thanks for the feedback. What does it mean by `there is no way to get out of it`? Also could you send a pull request with your fix? Thanks!

[2020-07-29 11:47] ThePiso commented on #587
Hi yhirose,

when I say, "there is no way to get out of it", I mean that once the "getaddrinfo" function loses the north wind, it continues to give the same error and cannot recognize that the connection is active, always returning the same error.
This is because the "resolve.conf" file is read one at the beginning after which this information is cached, and is no longer updated.
With the call to

[2020-07-29 12:20] ayumukid commented on #586
i  used httplib in   keep-alive  mode and in threads.  ,i  used vs2015,and i didn't run the tests.

[2020-07-29 12:28] yhirose commented on #586
@ayumukid, thanks for the feedback. I don't think it's caused by cpp-httplib. Could you run the test suite on your machine please? The test already includes the following test:

https://github.com/yhirose/cpp-httplib/blob/342c3ab2930e6639ead484bca88a9dd7a8724239/test/test.cc#L1367-L1382

Thanks!

[2020-07-29 12:30] ayumukid commented on #586
ok,i will have a try.

[2020-07-29 13:08] snagar commented on #579
Thanks, I'll try this.

On Wed, Jul 29, 2020 at 12:32 PM PixlRainbow <notifications@github.com>
wrote:

--
Saar N. (Snagar)

[2020-07-29 20:19] yhirose commented on #585
@x93008, thanks for the feedback. Since I don't understand Chinese, I'll try to guess what you meant. Anyway, I couldn't reproduce it. Hope the following my example helps.

[code]

[code]

[2020-07-29 20:19] #585 closed

[2020-07-30 03:22] #357 closed

[2020-07-30 05:51] #192 closed

[2020-07-30 10:33] ThePiso commented on #587
Hi yhirose,

has my pull request arrived?

[2020-07-30 11:10] yhirose commented on #587
No, yet.

[2020-07-30 14:13] #587 closed

[2020-07-30 18:37] naleksiev opened #591 "Client keep-alive with timeout will return wrong result"
Looks like if I have a client with keep-alive connection that times out, the next Get will return the previous result.

cli.set_keep_alive(true);
cli.set_read_timeout(1, 0);
cli.Get("/a"); // returns null due to time out
cli.Get("/b"); // returns "/a"

[2020-07-30 22:26] #591 closed

[2020-07-30 22:27] yhirose commented on #591
@naleksiev, thanks for the bug report! Could you try the latest master code?

[2020-07-30 22:29] yhirose commented on #586
@ayumukid, since it looks different from a problem in cpp-httplib, I'll close it for now. If you find a clear evidence, please let me know. Thanks!

[2020-07-30 22:29] #586 closed

[2020-07-31 04:44] bingzhe123 commented on #585
I think His buffer size is wrong

发自我的iPhone

[2020-07-31 06:25] ayumukid commented on #586
i run the test cases,it pass

[2020-07-31 06:29] RozeFound opened #592 "applink.c not found"
I'm so sorry but what is applink.c, this is not part of default includes of openssl, i cannot compile my project with new versions of cpp-httplib.
If i doing something wrong, please say me what literally i do wrong.

[2020-07-31 06:31] ayumukid commented on #586
I used in keep-alive mode, and I set the timeout ,i guess the problem is bug#591, i will use the new version to test

[2020-07-31 08:19] PixlRainbow commented on #592
`openssl/applink.c` is required for OpenSSL to work on Windows, when compiled by MSVC (Miscrosoft Visual Studio Compiler). It is included in the Windows version of OpenSSL from 1.1.0 and above, but is excluded on OpenSSL for Mac, Linux or MinGW

[2020-07-31 08:40] RozeFound commented on #592
@PixlRainbow Okay I'm workin' on windows, and how i can compile my program? OpenSSL is installed and  work properly.

[2020-07-31 10:39] PixlRainbow commented on #592
According to the [OpenSSL FAQ](https://www.openssl.org/docs/faq.html#PROG3):

You may need to add the OpenSSL  `\<install-root\>/include/` folder to the project search directories, but if your installation does not come with the file, then you either have the wrong version, or you have yet to compile the OpenSSL DLL binaries.

[2020-07-31 10:59] yhirose commented on #592
@PixlRainbow, thanks for the clear comment!

[2020-07-31 10:59] #592 closed

[2020-07-31 14:25] #578 closed

[2020-07-31 16:40] #484 closed

[2020-07-31 18:26] naleksiev commented on #591
Works as expected! Thank you for sharing the lib and for the quick fix.

PS: I made similar work around yesterday in app space where I was recreating the client object. I was trying to figure out a good fix where I keep the connection alive even after timeout... I had a naive client impl that was working reasonably but my app now works on HoloLens 2 and I think I'm hitting OS bug where sockets are

[2020-07-31 20:49] RozeFound commented on #592
@PixlRainbow I installed OpenSSL with vcpkg into static library,  and all works fine on older versions of cpp-httplib where is not dependency applink.c

[2020-08-01 07:50] PixlRainbow commented on #592
try the patch and see if it fixes anything @RozeFound

[2020-08-01 08:10] RozeFound commented on #592
Yup, now it's work just fine, thank you @PixlRainbow

[2020-08-01 13:36] AMBER17 opened #596 "Client request get stuck"
Hello,
I encounter an error when sending requests from a Chinese server to European servers (high latency).
Most of time the queries finish correctly or the library returns a nullptr, but sometimes the program gets stuck on the execution of the query without ever having a return (> 45min stuck, then I have a failsafe thread that restart my prog).
My program is running on thousands of European serv

[2020-08-01 14:03] ElonH commented on #582
I got a problem when `HTTPLIB_USE_BROTLI_IF_AVAILABLE` was `on`
[code]

[2020-08-01 14:55] yhirose commented on #596
@AMBER17, thank you for the feedback. I probably can't give you any help because I can't reproduce your environment. Anyway, I suggest you to check wity `curl -v YOUR_URL` to see what curl says for this situation. Sorry about that...

[2020-08-01 15:35] sum01 commented on #582
@ElonH Hmm. Do you not have Brotli installed? I think I might see where that could happen if so.

[2020-08-01 15:38] AMBER17 commented on #596
I'm running on Windows virtual machine low perf (1300mb ram, 1vCPU).
I tried to override the timeout (connection, read, write) and the problem still happens.
You don't have any clues on where inside the code it can be stuck (infinite loop) ?
I can maybe help out for debugging but I currently have no idea where it can be stuck.

[2020-08-01 16:19] yhirose commented on #596
No, I don't have any clue. That's why I suggested you to send the same request with curl (or cpr) to see if it's a cpp-httplib specific problem or a general that can happen with any tool.

Since it's my after-work personal project, I don't basically have time to support others and can do debugging only if I can reproduce on my machine with a smallest possible code snippet. Thank you for your under

[2020-08-01 16:37] aosterthun opened #597 "Support for application/octet-stream MIME types"
Hello there,

I'm looking foreward to using this library. I looked through the supported MIME types and noticed that application/octet-stream seems to be unsupported at the moment. I wonder if this is really the case or if it might just not be noted in the readme file.

In general is there a possibilty to send binary data/raw arrays with this libraray ?

[2020-08-01 16:56] PixlRainbow commented on #597
This library does not distinguish between human-readable text and binary data.
If you are writing your own path handler, the `content-type` of the response is arbitrary and defined by you -- you just have to follow HTTP conventions and write sensible code.
The list of MIME types is not a support list -- it is for the automatic file hosting mode, for automatically selecting response MIME type based

[2020-08-01 17:44] ElonH commented on #582
@sum01 I never used it before, not even install it.

[2020-08-01 18:15] yhirose commented on #597
@PixlRainbow, thank you for the clear explanation.
@aosterthun, in addition to @PixlRainbow's comment, you can see some examples in the unit test suite.

[2020-08-01 18:15] #597 closed

[2020-08-01 18:25] yhirose commented on #596
I close it for now. But I'll reopen it whenever I am given a code snippet that I can reproduce the problem on my machine. Thanks!

[2020-08-01 18:25] #596 closed

[2020-08-02 15:58] PT400C opened #599 "Certain compiling issues"
Hey,

new to using this library I noticed that on my end some errors happen when including the header file.

One of those is: `httplib.h:1896: undefined reference to '__imp_freeaddrinfo'`

As a quick reference, I use the latest `mingw-w64 8.1.0 with posix and seh`

Thanks in advance

PT400C

[2020-08-02 16:48] yhirose commented on #599
@PT400C, thanks for the question. Hope the following helps.
https://github.com/yhirose/cpp-httplib/search?q=freeaddrinfo&type=Issues

[2020-08-02 16:48] #599 closed

[2020-08-03 13:56] RozeFound opened #600 "Headers as part of Client"
For example, i have the code: https://pastebin.com/8tRuhSUn
And i really don`t think that downloadFile func need to care about headers.

With headers as part of Client the following functions will have view like:
[code]
Seens much better, you don't think so?

[2020-08-03 21:30] yhirose commented on #600
@RozeFound, thanks for the feedback. The cpp-httplib client API is similar to [the way that cpr does](https://whoshuu.github.io/cpr/advanced-usage.html#request-headers), and this API gives flexibility to each request.

But I understand your situation that you don't want to set the same header entries again every time you send another request. So I am thinking to add something like `Client::set_def

[2020-08-03 21:33] yhirose commented on #600
Could you try [the version on this branch](https://github.com/yhirose/cpp-httplib/tree/set_default_headers)?

[2020-08-03 23:08] RozeFound commented on #600
@yhirose yup, it's work fine for me, but you forgot add constructor without headers for Get overload with response handler, content receiver and progress.

[2020-08-03 23:23] RozeFound commented on #600
But cpr have a little bit different structure, it have session object, and also can make fully individual GET requests. Unlike cpp-httplib, wich have something between session, and individual requests.

[2020-08-03 23:42] yhirose commented on #600
@RozeFound, thanks for the reply. What do you mean by "but you forgot add constructor without headers for Get overload with response handler, content receiver and progress"? Thanks.

[2020-08-03 23:54] RozeFound commented on #600
This:
![image](https://user-images.githubusercontent.com/68745888/89238011-ece4c500-d61e-11ea-863f-10fa83a4ef01.png)

You forgot
[code]

Or am I confusing something and everything is as it should be?

[2020-08-04 01:00] yhirose commented on #600
@RozeFound, got it! I'll add the one. Thanks.

[2020-08-04 02:06] #600 closed

[2020-08-04 17:24] ElonH commented on #582
@sum01 Sorry for my delay, my system was crashed, I have to reinstall it.
https://github.com/yhirose/cpp-httplib/pull/598 doesn't workaround.
I print variable
`Brotli_FOUND` is False
`_target_name` is nothing

[code]

[code]

Moving above code into `if(Brotli_FOUND)` statement?

https://github.com/yhirose/cpp-httplib/blob/dfec2de5b57c16b6c446d4cd0962b37e3c1e5fba/cmake/FindBrotli.cmake#L170-L185

[2020-08-04 22:37] sum01 commented on #582
@ElonH I tested https://github.com/yhirose/cpp-httplib/pull/598 on a Windows VM with no Brotli installed.

Can you give me more information, like OS, compiler, compiler std version used, Cmake version, etc?

[2020-08-05 02:22] yhirose commented on #498
#601

[2020-08-05 02:43] OceanScottY opened #602 "occur an error when downloading big file"
When downloading a big file, some data blocks of this file are lost. The data obtained is such an error message: "404 no such key ...".cpp-httplib thinks it is the data block information. Therefore, “out of range” occurs in write_response method "res.body = res.body.substr(offset, length)"

[2020-08-05 05:17] ElonH commented on #582
@sum01
my previous environment:
[code]

current environment:
[code]

I also switch os to win10, and use msys2 (mingw64, gcc9.2.0) and cmake3.16 to generate `Unix Makefiles`, but still no work

[2020-08-05 11:19] yhirose commented on #602
@OceanScottY, thanks for the report. Could you show the smallest possible code that can reproduce the problem on my machine as well? Thanks!

[2020-08-05 21:45] ryandgoldenberg1 opened #603 "Ubuntu Installation Issue"
Unable to install on Ubuntu 20.04 following the directions from the cmake file here:
https://github.com/yhirose/cpp-httplib/blob/master/CMakeLists.txt#L26
Here's the output:

[code]

I have brotli installed via apt:

[code]

[2020-08-05 22:15] yhirose commented on #603
@ryandgoldenberg1, I guess you have to install the libbrotli-dev package instead of the brotli package.
@sum01, do you have any comment on this?

[2020-08-05 23:36] ryandgoldenberg1 commented on #603
No luck, after installing `libbrotli-dev` I get another error:

[code]

After turning off the Brotli flags in the build it works OK though, so closing.

[2020-08-05 23:36] #603 closed

[2020-08-05 23:53] sum01 commented on #603
I actually was testing this on MinGW and ran into that same error with the `add_library cannot create ALIAS target "Brotli::XYZ"`. I have a fix for that.

I wasn't able to re-create the `REQUIRED_VARS` error, but I suppose I can kind of work around it to fix it hopefully.

[2020-08-07 16:09] sum01 commented on #603
@ryandgoldenberg1 Hopefully #604 fixes the problem for you. If not, just at me.

[2020-08-07 21:20] yhirose commented on #498
Boost Outcome: https://ned14.github.io/outcome/

[2020-08-08 00:26] #602 closed

[2020-08-08 02:59] yhirose commented on #498
#601

https://github.com/yhirose/cpp-httplib/blob/654bf22e0640c5b32b25e8b673973c26e144f3bc/test/test.cc#L3234-L3254

[2020-08-08 03:12] yhirose commented on #498
It required massive changes though, I have finally finished my first draft.
https://github.com/yhirose/cpp-httplib/pull/601/files

[2020-08-09 00:51] #498 closed

[2020-08-10 07:05] Xyncgas opened #606 "Thanks"
Couple months ago I didn't have this library and I kinda stopped programming, because I hated using libcurl where I couldn't find the correct configurations to build my codes. I am a student that's not in cs, and it's really difficult to deal with the build process, I just wanted to be writing codes.
I love this library, and thanks lot.
how cross platform is this thing?

[2020-08-10 07:41] Xyncgas commented on #606
btw I can't use https somehow
![image](https://user-images.githubusercontent.com/35312807/89760955-3f503680-daa2-11ea-8871-24de62794f60.png)

[2020-08-10 07:42] Xyncgas commented on #606
httplib::Client cli("https://www.google,com");

		if (auto res = cli.Get("/")) {
			if (res->status == 200) {
				std::cout << res->body << std::endl;
			}
			else
			{
				std::cout << "A" << std::endl;
			}
		}
		else {
			std::cout << "B" << std::endl;
			auto err = res.error();

		}
		std::cout << "C" << std::endl;
		std::cin.ignore();

[2020-08-10 07:42] Xyncgas commented on #606
literally my codes

[2020-08-11 03:54] Leo-wong123 opened #607 "response value issue"
How can i response an int value as server?

[2020-08-11 06:45] #607 closed

[2020-08-11 15:59] athola opened #608 "Typo in `Send content with Content provider` in `README.md`"
The example for `Send content with Content provider` is missing an argument in `Response::set_content_provider` - the second argument should be a `const char* content_type` argument, i.e. `"text/plain"`.

[code]

[2020-08-11 16:11] #608 closed

[2020-08-11 16:12] yhirose commented on #608
@athola, thanks for the report! I completely forgot to update the README after I made the change to the interface...

[2020-08-11 16:15] yhirose commented on #606
@Xyncgas, thank you for your feedback. I don't fully understand your problem though, it seems like you forgot to install OpenSSL library and enable it with `CPPHTTPLIB_OPENSSL_SUPPORT`. Hope it helps!

[2020-08-11 16:15] #606 closed

[2020-08-12 10:40] P-e-g-a-s-u-s commented on #564
I dropped out of work for a month.
Now checked the error remained.

httplib.h(3576): error C2664: 'int _snprintf_s(char *,size_t,size_t,const char *,...)' : cannot convert argument 1 from 'std::array<char,2048>' to 'char*'
...
httplib.h(3576)  auto sn = _snprintf_s(**buf**, bufsiz - 1, buf.size() - 1, fmt, args...);
change to
 auto sn = _snprintf_s(**buf.data()**, bufsiz - 1, buf.size() - 1, fmt,

[2020-08-12 14:46] csk-ableton opened #609 "Request handler with ContentReader not called without Content-Length header"
Handlers with a `ContentReader` are called when sending a request that contains the HTTP header `Content-Length: 0` but not if the body is empty and this header is missing. This is surprising and unfortunately not possible to test this with `httplib::Client`, as the `Content-Length` header is appended automatically. The behavior changed in a recent version of the library, which broke our API when

[2020-08-12 20:00] yhirose commented on #609
@csk-ableton, thanks for the feedback.

Which version (or commit number) was working?

[2020-08-13 06:51] csk-ableton commented on #609
The code worked fine in v0.6.3 but didn't after upgrading to v0.7.0. I tried v0.7.4 but it's the same behavior.

[2020-08-13 12:08] yhirose commented on #564
@P-e-g-a-s-u-s, thanks for the report. Could you try with the latest?

[2020-08-13 12:20] P-e-g-a-s-u-s commented on #564
There is no error.

[2020-08-13 13:19] yhirose commented on #609
@csk-ableton, thanks! I'll take a look at it when I have time.

[2020-08-13 13:20] yhirose commented on #564
@P-e-g-a-s-u-s, thanks for the confirmation!

[2020-08-13 13:32] csk-ableton commented on #609
Great thanks!

To be clear I know that using the second overload that isn't taking a `ContentReader` works fine. However I thought I report this behavior as somebody else might run into it.

[2020-08-14 19:01] #609 closed

[2020-08-14 21:47] roddypratt opened #610 "Using cpp-httplib to serve MJPEG over HTTP?"
I'm hoping to serve motion JPEG images over HTTP, but not sure if this is possible with cpp-httplib.

(outline of spec is here. https://en.wikipedia.org/wiki/Motion_JPEG#M-JPEG_over_HTTP - basically sending multipart data one frame at a time.)

If I've understood the library code, "multipart" boundary data is only sent when the "Ranges" are known in advance, which isn't possible  because images ar

[2020-08-15 10:04] yhirose commented on #610
@roddypratt, thanks for the feedback. It seems that MJPEG over HTTP needs the content provider support without content length. I have just implemented it in httplib.h. I think you now have everything you need to support in. Please let me know if there is something missing.

https://github.com/yhirose/cpp-httplib/blob/e5dd410256de59e4ff0da91d87102d8e43f50cdd/test/test.cc#L2735-L2745

[2020-08-15 11:26] roddypratt commented on #610
Thanks so much, that's working for me. It would be ideal if the manual header writing could be avoided, but this is looking good.

[code]

[2020-08-15 14:44] HideakiAtsuyo opened #611 "Silly question"
I see cmake folder with others builds things i don't need only the [httplib.h](https://github.com/yhirose/cpp-httplib/blob/master/httplib.h) file?
Can i have an example to build it if i need to build it?

[2020-08-15 15:25] yhirose commented on #610
@roddypratt, glad to hear the news.

As for avoiding manually writing the header, the chunked content provider (`set_chunked_content_provider`) does something similar. It handles dirty manual work for us, and we can just focus on providing chunked data.

https://github.com/yhirose/cpp-httplib/blob/e5dd410256de59e4ff0da91d87102d8e43f50cdd/httplib.h#L2722-L2822

We could do the similar for the multi

[2020-08-15 15:39] yhirose commented on #611
@HideakiAtsuyo, thank you for the question. Since this is a single file header-only library, what you need to do is just to include `httplib.h` in your C++ source code. That's it!

So you don't have to use cmake to use this library at all. You can see more client and server examples in the examples folder. Hope it helps!

[2020-08-15 15:39] #611 closed

[2020-08-15 16:36] #610 closed

[2020-08-17 09:33] hangyuguo opened #612 "Can I send and receive messages in JSON format and in UTF-8 encoding?"
I didn't find the right way to send a JSON-formatted message, so I modified the POST method myself.But the utF-8 format message still cannot be received correctly. Is there anything wrong with the setting?Here is my code, thank you very much.
[code]

[code]

[2020-08-17 12:23] yhirose commented on #612
@hangyuguo, thank you for the question, but I don't understand your code... All you have to do to send a post message is on the README.md. Also you can see a number of examples in test/test.cc. Hope it helps!.

[2020-08-17 12:23] #612 closed

[2020-08-17 16:10] sum01 opened #613 "httplib::Result is missing const on its methods"
None of the `httplib::Result` methods change any of its values, and could/should all be const-qualified.

[2020-08-17 17:39] yhirose commented on #613
@sum01, thanks for the bug report!

[2020-08-17 17:40] #613 closed

[2020-08-19 02:12] Microkitty opened #614 "The timing of the client request is more than 50 milliseconds slower than that of the server"
1.The network between client and server is normal without delay.
2.Client timing is from sending request to receiving response, while server timing is from receiving request to sending response.
3.Under the same network environment, the latency of Python client and server is only 10 ms.
4.The delay of accessing httplib server with Python client is also more than 50 ms.

[2020-08-19 04:44] yhirose commented on #614
@Microkitty, thanks for the feedback. How did you measure it?

[2020-08-19 06:04] Microkitty commented on #614
@yhirose The server is on a Linux server and the client is on another windows PC, Linux and PC plug in the same route.

[2020-08-19 10:15] cvvan opened #615 "Class Client has no member named set_digest_auth"
When compiling a Client  I get following error:

**error: ‘class httplib::Client’ has no member named ‘set_digest_auth’; did you mean ‘set_basic_auth’?**

I have cloned the git repository again as well as I have updated OpenSSL, is there something I'm missing?
I wish to use digest authentication in the client, otherwise I can't acess most functions from a server I'm working with.

I hope someone h

[2020-08-19 12:11] yhirose commented on #615
@cvvan, thanks for the feedback, but I can't reproduce it. Did you enable the OpenSSL support with `CPPHTTPLIB_OPENSSL_SUPPORT`?

[2020-08-19 12:15] yhirose commented on #614
@Microkitty, I mean how to measure the time '50 ms' and '10 ms'. On client side, did you use the unix `time` command or something? How about server side? Also does it ALWAYS take the 50 ms regardless whether you use Windows, Linux or other OSs? Thanks for providing me the detail!

[2020-08-19 17:05] #615 closed

[2020-08-20 00:56] Microkitty commented on #614
@yhirose gettimeofday() is used for service timing on Linux server, and QueryPerformanceFrequency() is used for client timing on PC.

[2020-08-20 01:35] yhirose commented on #614
@Microkitty, just one more question please. If you have both the client and the httplib server on the same Linux machine, do you still observe the 50ms latency, or quicker? Thanks!

[2020-08-20 06:00] Microkitty commented on #614
@yhirose Only when the client is on Windows, 50ms will appear.
If the client and the httplib server on the same or not same Linux machine, it doesn't appear.

[2020-08-20 22:40] yhirose commented on #614
@Microkitty, I don't have both Linux and Windows machine in a same network... So when I have time this weekend, I'll try to reproduce it with a Windows machine having a Ubuntu on VirtualBox, and run a httplib server on the Windows and send a request from a Python script on the Ubuntu. Could you show me your Python client code to measure the performance? Thanks for your help!

[2020-08-21 01:33] Microkitty commented on #614
@yhirose httplib server on Linux and httplib::Client on Windows will take 50ms, not the other way around.

[2020-08-21 01:37] yhirose commented on #614
@Microkitty, sorry for my misunderstanding. I should have said "run a httplib server on the Ubuntu on the VirtualBox and send a request from a Python script on the Windows"... Is it possible for you to get me your python script including the measurement code?

[2020-08-21 01:53] Microkitty commented on #614
@yhirose
import requests
import time

url = "http://192.168.2.186:8080/index"
data = "Client python"
start_time = time.time()
res = requests.post(url=url,data=data)
end_time = time.time()
print (int(round((end_time - start_time) * 1000)),"ms")
print(res.text)

[2020-08-21 08:48] ENDER-9 opened #616 "How to send Header with Server"
I have this code snippet
`svr.get("/hi", [](const Request &req, Response &res) {
    res.set_content("Hello World!", "text/plain");
  });`

Now I want to send this header to the client `'Access-Control-Allow-Origin': '*'`
Could someone help me solve my problem please?

[2020-08-21 09:37] noctera opened #617 "Having some problems understanding the lib"
I have some problems understanding the docs of this lib.

Could someone give me a code example of the following exercise, so I can understand it a little bit?

Exercise:
The request should be a Post request
The Client should send a first name and a last name. Let´s say "John" "Doe"
The Server should get this request and return a sentence to the client that says "Hello John Doe"

Would be very frie

[2020-08-21 21:07] #617 closed, assigned to nobody

[2020-08-22 09:42] noctera opened #618 "Documentation full of mistakes"
I try to use the lib for my project, but unfortunately the example code from the documentation is full of mistakes

Let´s take

[code]
![Screenshot 2020-08-22 11:42:29](https://user-images.githubusercontent.com/54618409/90953500-4432c400-e46c-11ea-86af-06033a425b3e.png)

For example, you can´t use `.Post` or `ContentReader`, `MultipartFormDataItems` and `MultipartFormData` are undefined
This was t

[2020-08-22 09:46] #618 closed, assigned to nobody

[2020-08-22 09:52] Hack06 opened #619 "Code checking with CppCheck"
I've cloned your awesome repo and made a simple client/server connection, and it works like a charm!
So I've decided to check it with CppCheck (http://cppcheck.sourceforge.net/) and would like to invite your attention to it, to make this lib even better, since CppCheck is giving some performance hints. I realize that many issues reported by the tool is related to the `ifndef` stuff, so I would als

[2020-08-22 10:17] Hack06 opened #620 "Code checking with Valgrind"
After compiling a simple client/server hello-world app, I've decided to check this lib for memory leaks with Valgrind (https://valgrind.org/).
The client looks fine, while the server may have some issues with the ThreadPool class, to which I decided to bring your attention to. To reproduce the following Valgrind reports, you may compile a simple client/server app with the ```-O0 -g``` flags before

[2020-08-22 11:27] #620 closed, assigned to nobody

[2020-08-22 16:55] #619 closed, assigned to nobody

[2020-08-24 09:12] jinneigeyu opened #621 "How to use client Post method ?"
sorry to disturb .
 i want to know how to use client 's  Poth method . did it have a example ?

[2020-08-24 11:05] yhirose commented on #621
@jinneigeyu, yes, README shows how to do it, and `test/test.cc` has also a number of examples Hope it helps!

[2020-08-24 11:05] #621 closed

[2020-08-24 19:39] michaelcheers opened #623 "Unable to make HTTPS request?"
I was having an issue with communicating with a server and I tried a simple test to see what the problem was. I tried webhook.site and made a simple script:

[code]

When I made the request with my browser, there was no problem and I was able to successfully make http requests by removing https://. When I run it with my program, it crashes and says memory access violation and it does not appear on

[2020-08-24 20:27] yhirose commented on #623
@michaelcheers, did you follow the [instruction](https://github.com/yhirose/cpp-httplib#openssl-support) in README?

[2020-08-24 20:28] yhirose commented on #614
I'll close it for now since the both options work for me.

[2020-08-24 20:28] #614 closed

[2020-08-25 03:54] #623 closed

[2020-08-25 09:02] Fefer-Ivan opened #624 "Non-copyable but movable objects can't be used as ContentProviders"
Hi.

I see this as a problem, because we can't use std::unique_ptr and other non-copyable objects as captures in ContentProvider.

Maybe, it is possible to replace using ContentProvider = std::function<..> with a class with virtual operator() and make set_content_provider into function templates that accept anything callable (for backward compatibility)?
Also, it will make resource_releaser obsole

[2020-08-25 10:41] yhirose commented on #624
@Fefer-Ivan, thanks for your feedback. Could you show a code example that explains the problem?

[2020-08-25 17:57] michaelcheers commented on #623
@yhirose, no but it works now. Thank you.

[2020-08-25 20:06] Fefer-Ivan commented on #624
For example, if I have several threads that return chunks of response, I might want to make a ContentProvider functor that accepts a queue of futures and waits and writes them one by one
[code]

But it won't compile because std::future is not copyable, but std::function require anything passed to it to have a copy constructor.

Also, if my ContentProvider contains a lot of data (for example, large

[2020-08-26 08:04] PixlRainbow commented on #624
isn't there a referencing capture that will not copy objects?

[2020-08-26 09:53] Fefer-Ivan commented on #624
In case of capture by reference, user will have to keep ownership of the resources and release it in resource_releaser function, which works, but doesn't look like RAII, which is preferred way of handling stuff in modern C++, in my opinion.

Also, shared_ptr will do the trick too.

[2020-08-26 21:05] yhirose commented on #624
@Fefer-Ivan, thank you for explaining your idea. I actually don't have any inconvenience with this interface. But I now understand what you are struggling with. Could you implement your idea and send me a pull request? Then, I'll review it. (Please don't forget to add a unit test.) Thanks!

[2020-08-27 17:33] AndyBrown91 opened #628 "MSVC - Visual Studio 16.7.2- Incorrect error returned from Client functions"
Hi,

It seems as though MSVC is taking code like:
[code]

and evaluating `get_last_error()` before the call to `send_with_content_provider`
Meaning that the "error" returned is the state of `error_` before the call to `send_with_content_provider`

This seems to be just an MSVC issue, but I've only got one version of Visual Studio available to check

I can do a PR which works around this by saving

[2020-08-27 23:47] #628 closed

[2020-08-27 23:47] yhirose commented on #628
@AndyBrown91, thanks you for the feedback. Yes, it's an obvious bug...
https://stackoverflow.com/questions/2934904/order-of-evaluation-in-c-function-parameters

I have just fixed it. Could you try with the latest code? Thanks!

[2020-08-28 10:45] AndyBrown91 commented on #628
Thanks a lot @yhirose, looks good to me

[2020-08-28 14:00] kushwahashivam opened #630 "Please mention supported HTTP versions."
I tried to find which HTTP versions (HTTP/1.0, HTTP/1.1, HTTP/2, HTTP/3) are supported by httplib but I did not get any information. Please document this info. And also, how to setup these versions in code?

[2020-08-28 14:27] PixlRainbow commented on #630
Hi, based on inspecting the code this library only supports 1.0 and 1.1, although it will *always* automatically prefer 1.1. There is no way to configure version used.

[2020-08-28 14:33] kushwahashivam commented on #630
Thanks. This is the fastest github response I got :)

[2020-08-28 14:33] #630 closed

[2020-08-30 08:02] kotori2 opened #631 "Use system proxy automatically"
There are some APIs for different system to read system proxy instead from shell/cmd.
Such as [WinHttpGetIEProxyConfigForCurrentUser](https://docs.microsoft.com/en-us/windows/win32/api/winhttp/nf-winhttp-winhttpgetieproxyconfigforcurrentuser) or [SCDynamicStoreCopyProxies](https://developer.apple.com/documentation/systemconfiguration/1517088-scdynamicstorecopyproxies). It will be cool if there is

[2020-08-30 18:55] yhirose commented on #631
@kotori2, thank you for the feedback. I am not interested in supporting this at this moment, since I feel it's not the cpp-httlib's responsibility. For instance, cURL doesn't support it. Also it's not easy to provide the same functionality to all the platform, Linux OSs, macOS and Windows. But a pull request is always welcome of course. :)

[2020-08-30 18:55] #631 closed

[2020-08-30 18:57] yhirose commented on #624
@yhirose, I'll close for now, but a pull request from you is always welcome!

[2020-08-30 18:57] #624 closed

[2020-08-30 20:15] kotori2 commented on #631
Actually cURL have plan to support it ~~but deferred for 4 years~~
https://curl.haxx.se/docs/todo.html#auto_detect_proxy
It seems like the upstream `libproxy` is not that reliable at that time.

[2020-08-31 07:58] genakazachek opened #633 "CPPHTTPLIB_THREAD_POOL_COUNT allowed to be zero"
If std::thread::hardware_concurrency() returns 1, which is possible for virtual environments, CPPHTTPLIB_THREAD_POOL_COUNT macro evaluate to zero leading to non working application

[2020-08-31 14:04] yhirose commented on #633
@genakazachek, thank you for the feedback, but I probably don't fully understand the situation that you are talking about. In the current code, `CPPHTTPLIB_THREAD_POOL_COUNT` becomes at least 8 even when `std::thread::hardware_concurrency()` returns 1;

[code]

Hope it helps!

[2020-08-31 14:04] #633 closed

[2020-09-01 08:13] ayushgoel opened #634 "Is it possible to create two servers in same process?"
I tried it, but the second server never started.

[2020-09-01 11:55] yhirose commented on #634
@ayushgoel, hope the following example helps you.

[code]

[2020-09-01 11:55] #634 closed

[2020-09-02 14:42] kotori2 opened #635 "HTTPS request stucked with proxy"
Just some simple code like this. It was stucked on `cli.Get()` when I'm trying to request any site with HTTPS plus proxy.
This sample works perfectly with `httplib::Client` and my proxy supports HTTPS as well. Also I think I can't reproduce this on Windows.
[code]
Some logs showing that my proxy is working:
[code]

[2020-09-02 17:58] yhirose commented on #635
@kotori2, thanks for the report. I actually work on macOS mainly, and I have just tested with `test/test_proxy.cc` and confirmed all the unit tests passed. (It tests against squid proxy server on Ubuntu on Docker.)

Run the test squid server on Ubuntu on Docker:
[code]

Run proxy unit test:
[code]

Could you try the above on your macOS? Thanks for your help!

[2020-09-02 19:20] kotori2 commented on #635
It sounds like everything is working except `DigestAuthTest`s. But I think that's not related to my issue because my proxy doesn't use any kind of authentication, which was not covered in your tests. I'm going to try modifying squid config files and do some more tests.
[code]

[2020-09-02 19:56] kotori2 commented on #635
Okay after some digging I found the issue actually came from this line:
https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L5037
The proxy I'm using is actually responding with a `HTTP/1.0 200 Connection established`, idk why you are closing connection after receiving this. Also it was stucked because deadlock occurred in `stop_core()`

[2020-09-02 20:04] kotori2 commented on #635
Some stack trace here
<img width="706" alt="image" src="https://user-images.githubusercontent.com/17663689/92031037-84fad900-ed9a-11ea-8dfb-eb008bf614a2.png">

[2020-09-02 20:35] yhirose commented on #635
@kotori2, thanks for the find the problem. I have simply forgotten to handle the 'Connection established' extra header line massage, since I don't use proxies that produces the extra message. Before I make a change, could you comment out the following lines, and see if it fixes your proxy sever connection problem?

https://github.com/yhirose/cpp-httplib/blob/b0fd4befb11d8f02af777f23b2562cf6078a28c

[2020-09-02 20:37] kotori2 commented on #635
Yes, I already tried deleting `res.version == "HTTP/1.0"` check and it works

[2020-09-03 02:25] yhirose commented on #635
@kotori2, could you test with the version in #637?

[2020-09-03 07:40] kotori2 commented on #635
Got EXC_BAD_ACCESS at `res.get_header_value("Connection")`.
smh weird that why I didn't reproduced this before

[2020-09-03 12:12] yhirose commented on #635
@kotori2, could you explain more about EXC_BAD_ACCESS, because it's technically impossible to happen according to the code itself?

[code]

[2020-09-03 13:20] kotori2 commented on #635
I tried again with build cache cleaned and it won't reproduce, so I think it's working now. Thanks for your hard work!

[2020-09-03 13:20] #635 closed

[2020-09-03 13:42] yhirose commented on #635
@kotori2, do you mean that you don't need the fix in #637 any more? I am get confused with your comments...

[2020-09-03 16:18] yhirose commented on #635
@kotori2, thanks for the clarification. I have just merged #637. Thanks for your contribution!

[2020-09-07 02:31] JodiTheTigger opened #638 "CMake 3.18.2 on linux + GCC 10.2 cmake makes empty -D options"
the quote marks in the cmake file confuse cmake and result in the command line doing silly things like `-D\"CPPHTTPLIB_BROTLI_SUPPORT\"`. Which confuses everything involved resulting in a failed build.

solution is to change the following:
[code]

to

[code]

tested:
* Win10 - MSVC2017
* Arch Linux - GCC 10.2

[2020-09-07 03:36] sum01 commented on #638
Huh, I never had this issue and I'm on Arch as well.

[2020-09-08 03:16] Ives88 opened #640 "how to user https?It went wrong ..."
I use like bellow:
`httplib::Client cli2("https\://www.baidu.com");
auto res0 = cli2.Get("/test");`
or
`httplib::Client cli2("https://www.baidu.com");
auto res0 = cli2.Get("/test");`
it went wrong, how should I use https??

[2020-09-08 03:23] hailiangchen opened #641 "Chinese parameter garbled code"
std::string content = request.get_param_value("message");

[2020-09-08 03:35] yhirose commented on #641
@hailiangchen, could you explain more about it?

[2020-09-08 03:36] yhirose commented on #640
@Ives88, as long as the site supports https requests, you can use it.

[2020-09-08 03:36] #640 closed

[2020-09-08 03:38] yhirose commented on #638
@JodiTheTigger, thank you for the suggestion. I don't maintain the CMake related code. Could you make a pull request for it? Then, if @sum01 thinks the change looks ok, I'll merge it right away. Thanks!

[2020-09-08 03:46] Ives88 commented on #640
Forgive me for not being familiar with C++，Is that my writing wrong?

[2020-09-08 03:52] hailiangchen commented on #641
I know the reason of the problem, the Chinese parameters need to use GB2312 Urlencode

[2020-09-08 06:15] Ives88 commented on #640
I run on windows, but crash

[2020-09-08 09:12] Zbysekz opened #642 "Substitute for removed set_timeout_sec"
With commit
72ce293fed9f9335e92c95ab7d085feed18c0ee8
(20.7.2020)

set_timeout_sec() was removed, is there any alternative or it is not important anymore?

I can't find anything more about this.

Thank you

[2020-09-08 09:14] hlafet-ledger opened #643 "crash on set_default_headers"
My application crashes when trying to set default headers:
httplib::Client cli(baseUrl.c_str());
cli.set_default_headers(httplib::Headers()); //<< crashing here !!!

Env:
gcc version 9.3.0 (Ubuntu 9.3.0-10ubuntu2)
Target: x86_64-linux-gnu

[2020-09-08 10:13] hlafet-ledger commented on #643
resolved after adding -DCPPHTTPLIB_OPENSSL_SUPPORT

[2020-09-08 10:13] #643 closed

[2020-09-08 11:05] yhirose commented on #642
@Zbysekz, `set_connection_timeout` is the one you want. Hope it helps!

[2020-09-08 11:05] #642 closed

[2020-09-08 11:11] yhirose commented on #641
@hailiangchen, thank you for the explanation. This library doesn't do encoding/decoding for user given text such as parameter text or body text even for UTF-8. It's a totally user's responsibility.

[2020-09-08 11:11] #641 closed

[2020-09-08 11:13] yhirose commented on #640
@Ives88, sorry, but I don't have time to help you... The only thing I can tell you is to make sure you install the OpenSSL library and follow the instruction on README, then it should work. Hope it helps.

[2020-09-08 22:00] yhirose commented on #638
@sum01, please let me know if you approve #645.

[2020-09-09 00:59] EVINK opened #646 "Is there a way can calculate the response time of each request?"
I love your work, it is really great. I look up your sample code in this repository, but I did not find a way can calculate the response time...

It will be great if this lib can provide related api when before a request arrive/ after response sent.

It is like ...
[code]

[2020-09-09 01:15] sum01 commented on #638
@yhirose Looks good

[2020-09-09 01:35] #638 closed

[2020-09-09 01:40] yhirose commented on #646
@EVINK, thank you for the question. The short answer is no, also I am not interested in adding such functions on the server. I usually use HTTP performance measuring tools like Apache Bench. Hope it helps!

[2020-09-09 01:40] #646 closed

[2020-09-09 06:10] Ives88 commented on #640
I'm sure it will happen while use https as below test code:
![微信截图_20200909140753](https://user-images.githubusercontent.com/1811464/92561069-12ac5c00-f2a6-11ea-8159-68badacb32f1.png)
and other test code without https in your test.cc is ok
![微信截图_20200909141019](https://user-images.githubusercontent.com/1811464/92561152-3e2f4680-f2a6-11ea-91e0-468dba6865de.png)
@yhirose

[2020-09-09 06:55] Ives88 commented on #640
I used vs2017 on windows...

[2020-09-09 11:47] miketsts opened #647 "Is it safe to use errno for socket errors?"
Hi,

From recently, the library provides more detailed error codes which is very nice addition.
In my case, I've got Error::Read or Error::Write. Would it be safe to use errno for further error details?

Thanks

[2020-09-09 12:15] yhirose commented on #647
@miketsts, thanks for the feedback. I don't think errno is not reliable at the time the when an API call returns in most of situations. In other words, errno could be wiped out with a next error. So I don't recommend to do it. Hope it helps.

[2020-09-09 12:15] #647 closed

[2020-09-11 12:40] Zhehua-Hu opened #650 "Client Got 401 error code"
Hi, first of all , goodjob for your library!

I have a server api need basic auth with blank user name and effective password, but `cli.set_basic_auth("", "12345"); `does not achieve goal. I use postman to prove that api works and need blank username.

Any idea about how to solve it?

[2020-09-11 15:25] PixlRainbow commented on #650
@yhirose I've identified the offending section: https://github.com/yhirose/cpp-httplib/blob/e9575bcb783d9b731c133be47c50b03130d9ef8d/httplib.h#L4874-L4883

Interestingly, although [RFC 7613](https://tools.ietf.org/html/rfc7613) states that "_A username MUST NOT be zero bytes in length._" this does not appear to be enforced in practice, as [Chrome supports sending zero length usernames](https://sta

[2020-09-11 18:17] yhirose commented on #650
@PixlRainbow, thanks for the research. I am tending to lift the restriction due to the fact that a number of servers accept blank username. I'll ponder over it for a while.

@Zhehua-Hu, could you try the following change at line 4874 in httplib.h to see your server now responds to the request?

[code]

Thanks!

[2020-09-12 04:59] Zhehua-Hu commented on #650
Thank you all! It is the correct code that solved my problem!
Goodjob , guys!

[2020-09-12 20:11] #650 closed

[2020-09-12 20:11] yhirose commented on #650
@Zhehua-Hu, thanks for the confirmation. I just merged the change to the master branch.

[2020-09-13 07:30] omjego opened #651 "Compatibility with OpenSSL versions < 1.1.1"
Hey @yhirose , recently the library [stopped supporting](https://github.com/yhirose/cpp-httplib/commit/8a348f17fdab9d40336a5b4a12959df4e6ac4653)  openssl versions < 1.1.1
But apparently it doesn't use any incompatible API, as it compiles with old version of openssl anyways. So is it safe to ignore the version check?
Thank you :)

[2020-09-13 13:03] yhirose commented on #651
@omjego, please see #192. Hope it helps.

[2020-09-13 13:03] #651 closed

[2020-09-14 14:42] oren-nonamesecurity commented on #454
Hi, I came across a similar issue on multiple linux machines.
GET requests hang for 5 seconds when multiple clients are in place.
Setting `CPPHTTPLIB_KEEPALIVE_MAX_COUNT` or `CPPHTTPLIB_KEEPALIVE_TIMEOUT_SECOND` to 0 solves the delay but is probably impacting performance without keeping the connection open.

Any other solution for this? This sounds like a real bug.

[2020-09-16 08:12] qokelate opened #653 "how to get request raw url"
1. GET request http://xxx.com/xxx?aaa=bbb&ccc=ddd
2. Can i get raw url on callback(const httplib::Request& req)?

[2020-09-16 10:16] zenereyes opened #654 "*** stack smashing detected ***: <unknown> terminated"
The server starts, a client sends the data and after a few minutes I get the following error:

*** stack smashing detected ***: <unknown> terminated

[2020-09-16 11:19] yhirose commented on #653
@qokelate, thanks for the feedback. There is no way to get a raw url.

[2020-09-16 11:19] #653 closed

[2020-09-16 11:19] yhirose commented on #654
@zenereyes, thank you for the feedback, but there is too few information...

[2020-09-16 11:19] #654 closed

[2020-09-16 12:22] zenereyes opened #655 "Problem with server: *** stack smashing detected ***: <unknown> terminated"
I initialized the following server with some POST.

`#ifdef CPPHTTPLIB_OPENSSL_SUPPORT
    SSLServer svr(SERVER_CERT_FILE, SERVER_PRIVATE_KEY_FILE);
#else
    Server svr;
#endif
    try
    {

    svr.Post("/SendSensorInit", [&](const Request& req, Response & res) {

        int v2 = rand() % 10 + 1;

        if (v2 >= RANGE_LOW && v2 <= RANGE_HIGHT)
                res.set_content("ERROR", "esito

[2020-09-16 14:38] yhirose commented on #655
@zenereyes, thanks for the the information. It seems to be a bug in Keep-Alive connection handing code. I'll take a look it when I have time.

[2020-09-17 16:13] mipac opened #657 "Client: path as a const string&"
I wonder why the path in Get, Put, ... , methods is a const char *
In fine, this path is copied in Request::path which is a string

could it be more efficient to change the path argument type to cons string& ?

[2020-09-17 23:36] hanslivingstone opened #658 "HTTPS Proxy support"
Howdy,

The HTTP proxy support for Client and SSLClient is awesome! It doesn't appear that there is support for connecting to an HTTPS proxy server yet though. I'd like to propose a feature to allow the SSLClient and Client (because users may want to make HTTP calls though an HTTPS proxy) to use an HTTPS proxy.

**Question:** Does this seem like a reasonable feature to pursue? We can probably star

[2020-09-18 23:52] yhirose commented on #657
@mipac, yes, `const string&` is of course more efficient. But if a user passes a raw C string, it will end up making a copy of it. On my use cases, there are more cases to pass C raw string rather than std::string.

It's easy to provide `const std::string&` version of Get, Put, Head, Post Patch, Option and Delete. (Too many...) A problem is that total number of client methods will be double. I am

[2020-09-18 23:52] #657 closed

[2020-09-19 15:49] FrozenSource opened #659 "CLI downloading a "big" file."
Hello I am trying to download a "big" zipped file from a server side also httplib.
`httplib::Client cli("http://localhost:8080");
    string sBuffer;
    auto res = cli.Get("/package/dl.zip", [&](const char *data, size_t data_length) {
        sBuffer.append(data, data_length);
        return true;
    });`
But assuming that it will only perform one http request with the http buffer. is there a wa

[2020-09-19 15:52] FrozenSource commented on #659
![image](https://user-images.githubusercontent.com/14978036/93671157-e9a77a80-faa0-11ea-918b-6296e120e8d7.png)
Somehow I am missing 2kb

[2020-09-19 17:17] yhirose commented on #659
@FrozenSource, thanks for your feedback. I actually don't know why, but I think the gzip related unit tests can help you. Assigning appropriate HTTP headers for you environment are important. Hope it helps!

https://github.com/yhirose/cpp-httplib/blob/b8cf739d275d636fa3a30f56e16c26080ef86578/test/test.cc#L2455-L2586

[2020-09-19 19:19] FrozenSource commented on #659
Thanks I did indeed try this. However it did not make any differences. Through Chrome it downloads the file correctly so it should not have to do anything with the server side of httplib but rather the client. I tried copying all request headers too however this was just an Accept header and did not change anything. Thus I started doing a hex compare using flexhex. And there are some wierd shifts

[2020-09-19 19:26] FrozenSource commented on #659
Ok sorry I forgot something very important...
`std::ofstream::binary`

[2020-09-19 19:26] #659 closed

[2020-09-19 19:42] yhirose commented on #658
@hanslivingstone, thanks for your suggestion. I don't have time to implement the feature though, you are very much welcome to the pull request. When you prepare it, I would like to ask you for the followings:

* Keep the addition simple as much as possible, and make it pluggable with `#ifdef CPPHTTPLIB_HTTPS_PROXY_SUPPORT`
* No additional third-party library
* Add necessary unit tests in `test/tes

[2020-09-19 19:43] yhirose commented on #659
@FrozenSource, glad to hear your found the bug!

[2020-09-20 23:58] hanslivingstone commented on #658
Thanks for the feedback. We'll work on a PR following your guidance (not sure when it can be started yet though, this may take a while).

[2020-09-21 07:34] mipac commented on #657
thank you for reply, and for that lib!

well, with in fine a copy in Request struct it's not a hot point to try to optimize memory alloc
I mean, it would be great to be able to manage allocation for requests and replies giving a way to use a pre allocated memory, and not create and destroy buffers
I go out of subject :)
I'll post an issue to open the discussion

regards

[2020-09-21 09:30] ffont opened #660 "How to dynamically indicate cert/key file paths for SSLServer"
Hi, I've been using cpp-httplib with great success in an audio plugin. Thanks for making such a great library! I have an issue however that I don't know how to solve. Currently I'm using `SSLServer` using hardcoded paths for the cert/key files. I do it in this way:

[code]

What I would like to do, is to decide dynamically the cert/key file paths. How could I achieve that?

Alternatively, it could

[2020-09-21 09:38] liu-yabin opened #661 "parse error when server has two responses (first response code is 100)"
when server has two responses(first response code is 100):

![image](https://user-images.githubusercontent.com/25415782/93750567-42584e00-fc2e-11ea-8d32-a6844c8d9bb1.png)

the expected result is:

* ignore 100 response.
* parser second response(403 or 200 etc).

![image](https://user-images.githubusercontent.com/25415782/93751106-20130000-fc2f-11ea-9414-0c1fc76a6606.png)

cpp-httplib parses first

[2020-09-21 09:42] ffont commented on #660
I'll close the issue because I just found a way to do it without having `httplib::SSLServer` as a class member but having a pointer to it and dynamically defining the cert paths before calling the `httplib::SSLServer` constructor.

[2020-09-21 09:42] #660 closed

[2020-09-21 15:13] yhirose commented on #661
@liu-yabin, thanks for the feedback. Could you send the same request from curl to see if curl can handle the situation?
My understanding is that a server sends a response back with `100 Continue`, **only** when a client sends a request with `Expect: 100-continue` header. Do you think my understanding is not correct? Thanks!

[2020-09-21 15:50] PixlRainbow commented on #661
Interestingly, it says that some servers *may* send unsolicited 100 continue, and in any case even when a developer explicitly sets "Expect: 100-continue" header in the httplib client, our client does not currently know that it should ignore a 100 Continue status response

[2020-09-21 19:26] yhirose commented on #661
@PixlRainbow, thanks for the information!

[2020-09-21 20:58] leonardorame opened #663 "Returning gzip encoded data"
I'm serving server-generated png images and wonder if I can gzip them before returning.

Currently I'm doing this:

[code]

Is there a method to return a gzipped version of the same `imageAsBytes.c_str()`?.

[2020-09-21 21:41] yhirose commented on #663
@leonardorame, thanks for the feedback. This library automatically applies gzip (or brotli) compression to a given input if a client accepts the compression format, but not for images or binaries because the compression doesn't work very well for such binary data. Please see this article for more information: https://stackoverflow.com/questions/11289369/why-png-size-doesnt-change-after-using-http-

[2020-09-21 21:53] #663 closed

[2020-09-22 12:25] omjego opened #664 "Add cpp-httplib to oss-fuzz"
Hey @yhirose !

[Fuzz testing](https://en.wikipedia.org/wiki/Fuzz_testing) is a well-known technique for uncovering programming errors. Many of these detectable errors, like buffer overflow, parsing errors, etc can have serious security implications.

Few of the bugs that we recently fixed e.g. [PR-I](https://github.com/yhirose/cpp-httplib/pull/629) and [PR-II](https://github.com/yhirose/cpp-httpl

[2020-09-23 08:46] shubhwicked opened #665 "Get Json response from an API call."
How can we get JSON response while calling an API with Get request.

[2020-09-23 11:07] yhirose commented on #665
@shubhwicked, thanks for the feedback. This library doesn't do anything with body text with MIME type`. In order to parse a JSON response, you have to use other JSON library like https://github.com/nlohmann/json. Hope it helps!

[2020-09-23 11:07] #665 closed

[2020-09-23 11:10] shubhwicked commented on #665
Can you help me or give me some link, how to do that in your library. I am very new to cpp. How can i use this json.hpp library to get json response in Get request.

[2020-09-23 11:13] yhirose commented on #664
@omjego, it sounds good. Is it easily possible to add the process to the existing Makefile, so that we can do the fuzz testing simply with `make fuzz`?

[2020-09-24 00:21] KangDuoLa opened #666 "Can you consider adding the implementation of Http2"
If httpLib has an implementation of Http2, then this will undoubtedly solve a lot of problems, especially in the client of the embedded environment, thanks!

[2020-09-24 02:00] yhirose commented on #666
@KangDuoLa, thanks for the suggestion, but I am not planning to support HTTP2.

[2020-09-24 02:00] #666 closed

[2020-09-24 06:06] omjego commented on #664
@yhirose
Have a look at this guideline on [setting up a new project](https://google.github.io/oss-fuzz/getting-started/new-project-guide/).
oss-fuzz uses  the `build.sh` created inside of `oss-fuzz/projects/cpp-httplib` with environment variables  like  `$SRC`, `$OUT`, `$LIB_FUZZING_ENGINE ` to create fuzz targets  and copy them to `$OUT` along with fuzz inputs  and also copy src files in `$SRC`.

[2020-09-24 07:50] shubhwicked opened #667 "HTTPS support."
How to get HTTPS support.

[2020-09-24 12:04] PixlRainbow commented on #667
[see this section of the readme](https://github.com/yhirose/cpp-httplib#openssl-support)

[2020-09-24 12:09] PixlRainbow commented on #665
The response body is an `std::string`. In the case of JSON responses, it will contain the json text. If you want to know how to convert a string into a "proper" object with real nested attributes, ask the other library; our library is only responsible for handling networking and the base HTTP communication.

If the API endpoint does not correctly respond with JSON, you may need to add a header "Ac

[2020-09-24 13:38] yhirose commented on #664
@omjego, thanks for the detail! I'll take a look the documentation to get familiar to oss-fuzz when I have time.

[2020-09-24 15:26] YourCodeShepherd opened #668 "Client GET and POST to ssl server does not work"
Hello,

when I try to get an authorization token from our server or I use an valid token of the type bearer I always get the error httplib::SSLConnection in my client. The server can be pinged. I test the functionality with two different ways to use the lib:

`
#define CPPHTTPLIB_OPENSSL_SUPPORT
#include "httplib.h"

int main(int ac, char* av[])
{

    httplib::Client client("https://192.168.1.2")

[2020-09-24 19:16] yhirose commented on #667
Hope the @PixlRainbow's comment helps.

[2020-09-24 19:16] #667 closed

[2020-09-24 19:20] yhirose commented on #668
@YourCodeShepherd, yes. You should `set_content`. Hope it helps.

[2020-09-24 19:20] #668 closed

[2020-09-25 04:28] yhirose commented on #655
@zenereyes, I took a look at this problem a little bit, but I can't reproduce the problem that a connection port of client is always different... What client are you using, curl or `httplib::Client`? (If you are using `httplib::Client`, did you set `true` to `cli.set_keep_alive` method?

[2020-09-25 05:27] shubhwicked commented on #667
Yes, I saw that, but it cannot be added in android like OpenSSL classes are not available with a single header file, that is httplib. If I add all the classes of OpenSSL from an external source, then it cannot be built.

[2020-09-25 05:55] PixlRainbow commented on #667
then build and link OpenSSL statically so that it will be built into your single binary.

[2020-09-25 06:16] shubhwicked commented on #667
It throw `httplib.h:5589: error: undefined reference to 'OPENSSL_init_ssl'` error all the time, while building, any idea?

[2020-09-25 09:07] zenereyes commented on #655
I used httplib::SSLClient not httplib::Client.
I will set true in cli.set_keep_alive

[2020-09-25 22:24] yhirose commented on #655
It doesn't matter. Hope it helps!

[2020-09-25 22:24] #655 closed

[2020-09-26 01:23] yhirose commented on #454
@oren-nonamesecurity, does the problem on your machines still happen even with the latest httplib.h? If so, could you give me the actual value of `CPPHTTPLIB_THREAD_POOL_COUNT` on your Linux machine? (It should be at least 8.) Those answers could help me to see if it's the thread count problem or the keep-alive implementation problem. Also if you give me the smallest possible code that can reprodu

[2020-09-26 04:24] PixlRainbow commented on #667
Possible reasons:
1. linked in incorrect order
2. OpenSSL version mismatch or conflict
3. static binaries not available

[2020-09-26 04:30] shubhwicked commented on #667
Can you give me the correct order of the binary binding, and I am using
openssl 1.1.1h

On Sat, 26 Sep 2020, 09:54 PixlRainbow, <notifications@github.com> wrote:

[2020-09-26 08:51] #661 closed

[2020-09-26 16:12] PixlRainbow commented on #667
`-lcrypto` must come before `-lssl` but there may be other parameters needed, check StackOverflow website

[2020-09-27 07:11] Lucas-Yuzc opened #669 "signal SIGPIPE"
The unprocessed signal SIGPIPE will cause the program to exit.
any plans to improve,thanks.

[2020-09-27 10:35] yhirose commented on #669
@Lucas-Yuzc, thanks for the feedback. The following past issues could be helpful for you.
https://github.com/yhirose/cpp-httplib/search?q=SIGPIPE&type=issues

[2020-09-27 10:35] #669 closed

[2020-09-27 23:32] godrays opened #670 "Get request"
Hi,

I'm trying to use httplib to get the following request. What would be the simplest equivalent code for the following request with httplib?

curl -X GET --header "Authorization: " "https://api.tdameritrade.com/v1/marketdata/AAPL/pricehistory?apikey=XXXXXXXX&periodType=day&period=1&frequencyType=minute&frequency=1"

I'm also interested to see if httplib can include the following parametes in gi

[2020-09-28 04:32] PixlRainbow commented on #670
You haven't indicated the value of the authorization header/the type of authorization, [though we do provide pre-made headers for several types](https://github.com/yhirose/cpp-httplib#authentication).

We do not provide automatic URL parameter construction for client requests. You will have to construct the path string yourself.

[2020-09-28 08:50] shubhwicked commented on #667
Hey with help, I build all stuff with openssl, libcrypto.a,-libssl.a  &  httplib.
but when I make a request, it always returns null as a response.

`   httplib::SSLClient cli("myhost");
    cli.set_ca_cert_path("/src/main/ca-bundle.crt");
    cli.enable_server_certificate_verification(true);
     auto res=cli.Get("sub-domain");`

res always return null. Is anything else need to be done.

[2020-09-28 12:18] yhirose commented on #670
Hope @PixlRainbow's comment helps you.

[2020-09-28 12:18] #670 closed

[2020-09-28 16:18] hlafet-ledger opened #672 "disable request path encoding"
Is it possible to add some kind of parameter or a preprocessor option to give the choice to the user of the library to encode or not the request path:

Current code:
https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L4838
Suggestion:
const auto &path = someParameter ? detail::encode_url(req.path) : req.path;

Thanks

[2020-09-28 21:09] gtnardy opened #673 "Error::SSLServerVerification Linux only"
I'm getting this error when making HTTP requests (Client), but only on Linux, what does that error mean?
On my windows build there is no error with the same request/url.

I started getting this problem after this commit https://github.com/yhirose/cpp-httplib/commit/c4f3f9529b1cfe2ae861086e62ca9632e21f6843

[2020-09-28 23:46] yhirose commented on #673
@gtnardy, thanks for the feedback.

Before the commit, it set `server_certificate_verification_` to `false` as default in order to ignore the server certificate verification logic. Of course, that's really bad for security. So, I changed the default value to `true`, and try to load the system ca_bundle. On your machine, `load_system_certs_on_windows` seems to be working correctly, but `SSL_CTX_set

[2020-09-28 23:46] #673 closed

[2020-09-28 23:51] yhirose commented on #672
@hlafet-ledger, thanks for the feedback, but I have never found it necessary, and I feel that's not a safe thing to do. Could you explain more why such feature is needed?

[2020-09-29 00:05] gtnardy commented on #673
Hey @yhirose thank you for the answer! I've tried recompiling it with `server_certificate_verification_ = false` but now I get error 4 (`Error::Read`). Would you know what does that mean?

[2020-09-29 00:18] yhirose commented on #673
@gtnardy, `Error:Read` means that socket reading failed. You may get more information from unit tests with `cd test; make test`.

[2020-09-29 01:04] gtnardy commented on #673
Okay, after further investigation, my problems started after https://github.com/yhirose/cpp-httplib/commit/6e1297cab01c2a4b1f68f82681d048361c5faff3.

[2020-09-29 01:28] gtnardy commented on #673
Okay, after several tried, I figured it out it was a timeout problem. The server was taking more than 5 seconds to answer (`#define CPPHTTPLIB_READ_TIMEOUT_SECOND 5`), which curiously was triggering `Error::Read` only on linux, maybe that can be a bug on the lib idk. But that was what solved this.
Thank you @yhirose for the lib and for the time answering this ;)

[2020-09-29 10:36] yhirose commented on #673
@gtnardy, thank you for the detailed report, and glad to hear your project is now working!

[2020-09-29 23:32] yhirose commented on #672
@hlafet-ledger, I decided not to implement the suggestion. Please let me know if you think there is a valid reason and many others can also benefit from the change. Thanks!

[2020-09-29 23:32] #672 closed

[2020-09-30 03:49] zxnblake opened #675 "The server doesnot work on ubuntu"
It can listen on a port, but when a client does get/post, the server will throw error:
terminate called after throwing an instance of 'std::regex_error'
  what():  regex_error
Signal: SIGABRT (Aborted)
Can anyone help me out?

[2020-09-30 11:54] yhirose commented on #675
@zxnblake, thanks for the feedback. I don't know your environment, but there are two possibilities:

* https://github.com/yhirose/cpp-httplib#g
* Your URL is invalid regular expression

Hope it helps!

[2020-09-30 11:54] #675 closed

[2020-09-30 14:51] zxnblake commented on #675
is there any wrong with the following url: curl -G http://localhost:8080/hi?

Is there any wrong with the following url: curl -G http://localhost:8080/hi?

[2020-09-30 16:36] yhirose commented on #675
I think 4.8.5 also has the regular expression problem. I recommend to upgrade it to 4.9 or later.

[2020-10-01 12:30] zxnblake commented on #675
OK， I will have a try, thank you!

[2020-10-02 09:40] qt1 opened #676 "Misbahaving client causes program crash due to exception in send.c"
A misbehaving client triggers an exception in send.c, probably because prematurely closing the server->client stream.

As a result the program terminates.

It should be possible to set a try-catch block that will prevent the server stopping .
I did not find a way in the docs.

Call Stack:
libpthread.so.0!__libc_send(int flags, size_t len, const void * buf, int fd) (/build/glibc-ZN95T4/glibc-2.31/s

[2020-10-02 11:12] yhirose commented on #676
@qt1, thanks for the feedback, but I'll close it for now until the smallest possible code snippet is given which proves that this problem is really caused by httplib.h. Thanks for your consideration!

[2020-10-02 16:57] qt1 commented on #676
Well, probably not the smallest but small enough..

The test below runs 20 requests against a simple server.
The server has  fast `/f` and  slow `/s` responses.

The slow response adds 200 ms delay.

After two requests the client starts misbehaving = closing its connection before the response is ready.

At this mode the server fails after a few requests - as described above.

The output is logged

[2020-10-02 16:59] qt1 commented on #676
test_client_abort.cpp

[code]
log.h

[code]

[2020-10-02 23:22] yhirose commented on #676
@qt1, thanks for the detailed information. I'll try to reproduce it on my Mac when I have time.

[2020-10-03 02:05] vader-coder opened #677 "Segmentation Fault"
When I try to run this code I get a Segmentation Fault.

#include "httplib.h"
#include <iostream>
using namespace std;
int main() {
    cout << "running";
    httplib::Client cli("http://cpp-httplib-server.yhirose.repl.co");
    auto res = cli.Get("/hi");
    if (res->status == 200) {
        cout << res->body << endl;
    }
return 0;
}

[2020-10-03 02:09] yhirose commented on #677
@vader-coder, could you run unit tests on your machine? `cd test && make test`? Thanks!

[2020-10-03 02:37] yhirose commented on #677
@vader-coder, I cound't reproduce it. Here is my result.

[code]

Hope it helps.

[2020-10-03 02:37] #677 closed

[2020-10-03 02:47] yhirose commented on #676
@qt1, I tried to run the code, but I couldn't build it because it requires other dependency like `spdlog`. Could you make just a one file which can reproduce it on posix environment like linux or macOS? Thanks!

[2020-10-03 07:37] PixlRainbow commented on #677
@vader-coder your code does not check if `res` is nullptr, which it will be if there is no connection to the server (e.g. offline). See yhirose's example

[2020-10-03 10:20] qt1 commented on #676
Here is a version that does not depend on spdlog - no time printing and a bit uglier but failes the same on my Ubuntu 20.04 ..

[code]

[2020-10-03 17:19] yhirose opened #678 "Use std::string_view"
C++17 introduces `std::string_view`. We can get rid of unnecessary memory copies at a number of places, so that we could have performance improvement.

[2020-10-04 06:17] PixlRainbow commented on #678
So are we dropping the C++11 support or using an ifdef to optionally support `std::string_view`?

[2020-10-04 12:54] miketsts opened #679 "Client thread safety"
Hi, @yhirose

Issue #492 states that the client is not thread safe.
Just few days later, you have implemented commit [e022b8b](https://github.com/yhirose/cpp-httplib/commit/e022b8b80b50abaaeca404ad6f05ca015cd6b15d) which wraps `ClientImpl::send()` with two (!) mutex guards - `request_mutex_`  and `socket_mutex_`. Can we consider now that the thread safety has been provided?
I really want to send n

[2020-10-04 19:29] yhirose commented on #679
@miketsts, since `ClientImpl::send()` is now protected with `request_mutext_`, yes, it can be considered as thread safe. But the down side is that the second `send()` call will be blocked until the first call exits from `std::lock_guard<std::recursive_mutex> request_mutex_guard(request_mutex_)`... But it's guaranteed that the second request will reuse the same socket if the keep-alive condition is

[2020-10-04 19:29] #679 closed

[2020-10-04 20:35] yhirose commented on #676
@qt1, it seems like your `socket_connect` has a problem? (If `detail::create_client_socket` is used, no problem happens.)

[code]

[2020-10-04 22:00] yhirose commented on #678
@PixlRainbow, we can first add the conditional `#if` as below:

[code]

C++17 is much more powerful than C++11. Currently, For instance, `Client` currently has **12** variations of `Get` methods.  If we apply some C++17 features, we can improve the interface greatly.

To prove this theory. I experimentally added `Client::Get2` method in [cpp17 branch](https://github.com/yhirose/cpp-httplib/tree/cp

[2020-10-05 08:10] qt1 commented on #676
This seems like a change in the client.
The client is just some random code to replicate the problem.

The actual (server) problem happens with a browser (firefox) client that may physically be disconnected or the user can click buttons at random and get the server to crash.

[2020-10-05 12:04] yhirose commented on #676
@qt1, I probably don't fully understand what you are reporting... The code that I presented is exactly same as your sample code except how to **create** a socket. Anything else like prematurely closing the socket is same as it is.

Here is the actual result with your original test sample running on my macOS:

[code]

I didn't even get the crash, but got `connect: Connection refused` message and it

[2020-10-05 14:22] qt1 commented on #676
OK, Sorry for the misunderstanding..

The problem:
I have a simple cpp-httplib C++ REST server that responds to some button clicks in a web application.
Usually all is working very well (and I am really happy with your API)..

However, while debugging, sometimes the server stops in an exception - as reported in this issue. This sometime happens when clicking too many buttons at once on the JS code

[2020-10-05 15:33] omjego commented on #664
Hey @yhirose I'm trying to run test binary in docker container. What's the appropriate way to run tests by linking all the dependent libraries statically? I was trying to do it but ran into some weird linking issues.

[2020-10-06 14:47] FrozenSource opened #680 "Timeouts don't apply to SSLClient*"
Hi,
Loving this library so far, however I seem to have found a problem in which the timeouts do not apply to at least the SSLClient.

[code]

For the following configuration, the ssl implementation waits for about 30s or so....

[code]

The following returns in 2 seconds as expected.

[code]

Wonder if you know a fix for this?

Sincerely,
FrozenSource

[2020-10-06 14:51] yhirose commented on #680
@FrozenSource, could you format the code snippets to make it more readable? Thanks!

[2020-10-06 15:16] yhirose commented on #680
@FrozenSource, thank you! (I make another simple formatting change to use the GitHub markdown code highlighting feature.)
I would like to clarify the issue. Which has the problem, `CPPHTTPLIB_CONNECTION_TIMEOUT_SECOND` or `CPPHTTPLIB_READ_TIMEOUT_SECOND`?

[2020-10-06 15:22] FrozenSource commented on #680
@yhirose I see so you need three of those '`'. Since you get a read error when the connection could not be made since the remote is offline I take it `CPPHTTPLIB_READ_TIMEOUT_SECOND` is not working in an SSL envrionment.

[2020-10-06 15:28] yhirose commented on #680
@FrozenSource, sorry that my question confuses you. I am asking, is it a connection timeout problem, or a reading timeout problem?

[2020-10-06 15:31] FrozenSource commented on #680
@yhirose A read timeout error, since the connection is made but no answer is provided.

[2020-10-06 23:29] blkdragn77 opened #681 "Cert format"
I apologize for asking this, but the document did not specify.  What format do the ca certs need to be in for this library?  I have created a CA bundle from the Windows certificate store on my laptop and converted that from PKCS12 to PEM.  When attempting a SSLClient connection, the result comes back null.

I created a connection to http://www.apache.org using httplib::Client just to make sure I c

[2020-10-07 01:36] yhirose commented on #676
@qt1, thanks for the info.

When `detail::create_client_socket` is used, such a connection problem doesn't happen. On the exact same environment, the connection error happens with `socket_connect` function.

Glad to head that this isn't a big issue any more. Since there is no way for me to reproduce it, I'll close it for now. When you get more detailed information that could be helpful to reproduc

[2020-10-07 01:36] #676 closed

[2020-10-07 01:41] yhirose commented on #681
@blkdragn77, thanks for the feedback. As you can see the following code, the given cert path will eventually be passed to the OpenSSL API `SSL_CTX_load_verify_locations`.

https://github.com/yhirose/cpp-httplib/blob/143b2dd15a6e89aca19bbc65730f0dd9f8b7b1e1/httplib.h#L5923-L5933

So I recommend you to check with the OpenSSL document to get the most accurate information:
https://www.openssl.org/docs

[2020-10-07 01:41] #681 closed

[2020-10-07 01:46] PixlRainbow commented on #681
@blkdragn77 the fact that you have disabled server certificate verification means that the cert you provided will be ignored, and the validity of the server's certificate is also ignored. This means that the connection will be "approved" by the client regardless of the validity of the certificate you provided.
**_Thus, it is unlikely that the connection is null because of the certificate_** and mo

[2020-10-07 01:50] yhirose commented on #501
@guteksan, I gave up getting it up running... When you have time, could you update httplib.h to the latest version in your project? I just would like to see how much the current master improved the performance. Thanks!

[2020-10-07 01:51] yhirose commented on #681
@PixlRainbow, thank you for the much better observation and explanation!

[2020-10-07 03:49] blkdragn77 commented on #681
Thank you.  You are correct, I disabled cert verification to avoid the whole handshake.  That slipped my mind after trying to figure this out for an hour or so.  Just a little frustrated that the non-SSL returns fine, but I cannot get the SSL client to return anything.  I printed out the OpenSSL error string, but it was all zeros.

error:00000000:lib(0):func(0):reason(0)

I switched over to https:

[2020-10-07 03:56] PixlRainbow commented on #681
try omitting the `https://` from the front of the domain?

[2020-10-07 13:11] blkdragn77 commented on #681
Right.  Thank you.  Not sure why I didn't try that.  :(  The non-SSL worked with http:// so I guess I assumed https:// would as well.  That's what I get for assuming.  Works fine now.

Again, great work you all have done here.  To hit an API within C++ with just a few lines of code is very nice.

[2020-10-07 16:20] miketsts opened #682 "Client connection can hang in SSL_do_handshake"
I'm trying to improve connection handling in my client application, and recently play a lot with connecting/disconnecting my network adapter. Since I do it manually during the application run, I may disconnect the network at different points of the code.
It happened to me a few times that the code hangs up indefinitely in `SSL_do_handshake` function. I'm not a specialist in openSSL but from some G

[2020-10-07 21:31] evg82 opened #683 "Client send unknown size data with provider"
I look in code but i find no way to send unknown size data with client. Is this supported?

[2020-10-07 22:37] yhirose commented on #683
@evg82, not supported on client, but supported on server.
https://github.com/yhirose/cpp-httplib#send-content-with-content-provider
https://github.com/yhirose/cpp-httplib#send-content-with-content-provider
Hope it helps!

[2020-10-07 22:37] #683 closed

[2020-10-07 22:42] yhirose commented on #682
@miketsts, thanks for the feedback. If your problem happens inside the OpenSSL library, I guess we can do little on cpp-httplib side. If you do the same operation with curl or other HTTPS client libraries, what happens?

[2020-10-08 06:12] miketsts commented on #682
Hi @yhirose , thank you for the answer.

Let me try to explain the problem again. Since the connection to the server involves several steps, the network problem can come during each of them. For example, if a network is disconnected during DNS lookup or socket creation - then the problem I describe does not happen, the usual connection timeout works very well. But if the network failure occurs exa

[2020-10-08 10:19] OldSnake22 opened #685 "Get request do not work in app (and work fine from chrome browser)"
Hello i'm currently running into an issue. My request return a '400 bad request' error but when I test the same request in chrome browser for example or with API online test tools this request works perfectly.

Here is the code:

 httplib::SSLClient _Client("myurl.com");
 httplib::Result _Result = _Client.Get("/api/core/hello?key=MYKEY");
...

Nothing fancy, so this is returning "400 bad request".

[2020-10-08 10:45] PixlRainbow commented on #685
maybe you need to set some headers? Or that your `accept` header must indicate that your client is compatible with JSON, XML, TXT, or otherwise? Either that or cookies.

[2020-10-08 11:22] OldSnake22 commented on #685
It seems that no headers are required. When I test the request with this online tool with no headers: https://extendsclass.com/rest-client-online.html

Everything is working. But the request in my app still give a "400 bad request"...

Here is the response header if it can help:

HTTP/1.1 200 OK
Content-Type: application/json;charset=UTF-8
Content-Length: 117
Connection: keep-alive
Date: Thu, 08 O

[2020-10-08 12:07] yhirose commented on #685
@OldSnake22, could you try to send the same request with `curl -v` to see what will happen?

[2020-10-08 12:16] OldSnake22 commented on #685
Hello @yhirose this request is also working with curl on my machine as you can see:

PS C:\Users\Franck\Desktop\curl-7.72.0-win64-mingw\bin> curl -v https://www.rwcentral.com/api/core/hello?key=492e8c965007865ce6bd8c4beea01497
COMMENTAIRES : GET https://www.rwcentral.com/api/core/hello?key=492e8c965007865ce6bd8c4beea01497 with 0-byte payload
COMMENTAIRES : received 117-byte response of content typ

[2020-10-08 12:23] OldSnake22 commented on #685
Also if you would like to test it yourself I could set up a special key for you so you can test it. Please let me know :)

[2020-10-08 12:37] yhirose commented on #685
@OldSnake22, thanks for the log, but I wanted to see what header values were added when you were sending the request with curl. It usually add `Host`, `User-Agent` and `Accept` headers.

[2020-10-08 12:51] OldSnake22 commented on #685
This is the only infos i get when I use the -v option with curl in command line.

[2020-10-08 13:05] OldSnake22 commented on #685
I have generated a special API KEY if you want to test it yourself.
So just test this URL and it should work: https://www.rwcentral.com/api/core/hello?key=f499e98d53cb48e71a107ffb514747d9

Thank you for your support !

[2020-10-08 13:10] PixlRainbow commented on #685
your curl version appears to be a variant with non-standard output formatting, so it unfortunately did not include the respective information. In any case, here is the full log:
[code]

[2020-10-08 13:17] OldSnake22 commented on #685
Thank you for the detailed log. Can you see anything that could cause the same request in httplib to fail ? Here is my C++ code:

[code]

[2020-10-08 14:15] PixlRainbow commented on #685
[code]

Cloudfront appears to be blocking the request for some reason.

[2020-10-08 14:56] OldSnake22 commented on #685
Thanks, now we need to figure out why it is not working with httplib while it's working with curl for example.

[2020-10-09 01:39] yhirose commented on #685
@OldSnake22, @PixlRainbow, thanks for the help. I fixed the problem and confirmed with the following code:

[code]

@OldSnake22, could you test with the latest master httplib.h? Thanks!

[2020-10-09 02:00] yhirose commented on #682
@miketsts, thank you for the detailed info. I don't mind to take your suggestion, but I am not planning to work on it unless it can be reproducible because we can't validate if the change really works and the change is very hard to debug.

Of course, you are very much welcome to send me a pull request including the fix and a reproducible unit test since it seems like you are able to reproduce it o

[2020-10-09 02:19] yhirose commented on #680
@FrozenSource, I acknowledged the problem on my machine. I'll work on it when I have time. Thanks!

[2020-10-09 03:01] yhirose commented on #680
@FrozenSource, I tried to reproduce the problem on my machine, but I didn't succeed so far. Here is a new unit test to simulate read time out on SSL (read timeout on client is 1 second. server response takes 2 seconds).

https://github.com/yhirose/cpp-httplib/blob/316add860b22578bdeebcced8dfa7e45b57ccf61/test/test.cc#L2995-L3035

The unit test succeeds without any problem on my machine. Could you

[2020-10-09 05:15] PixlRainbow commented on #685
it appears to be working now.

[2020-10-09 05:21] FrozenSource commented on #680
I totally trust the unit tests!

I have been looking into this a little further... The infrastructure is like this. Domainname->Router->Proxy-Server->Host. The proxy-server in this instance is a normal ngix server with ssl enabled, host is a normal httplib::Server. Should the Host be offline nginx will apparently wait 60s before returning 503. Now I would suggest that this should comply with the R

[2020-10-09 07:52] OldSnake22 commented on #685
This is fixed ! Thanks a lot to both of you 👍

[2020-10-09 08:01] fujianhai opened #686 "upload pdf sever example"
请问能提供一个上传pdf文件的例子吗？

[2020-10-09 09:49] PixlRainbow commented on #686
这软件不管上传文件的种类，对它来说，全部都是二进制数据。
你可以用["multipart/form-data"](https://github.com/yhirose/cpp-httplib#multipartform-data-post-data)，你也可以直接用 `svr.post` 和 `req.body`

[2020-10-09 11:16] cristiulian opened #687 "Can't get SSLClient to work"
I'm trying to use SSLClient with no luck.
I even did a test project, with simple code, taken from your example, but I always get a nullptr result and lead to the "Can't verify result" if-else branch.
I'm thinking it may be the OpenSSL version I'm using (1.1.1e-dev), but I'm not sure. I can provide the text project to take a look at.

`#define CPPHTTPLIB_OPENSSL_SUPPORT

#include <httplib.h>
#inclu

[2020-10-09 13:41] PixlRainbow commented on #687
omit `https://` from the front of the domain.

[2020-10-09 15:16] cristiulian commented on #687
I was sure I did that, however, indeed, it does work by removing the https:// from the url.
I even switched to the latest openssl in the meantime.
Thanks!

[2020-10-09 15:50] yhirose commented on #685
Thanks for checking!

[2020-10-09 15:51] #685 closed

[2020-10-09 15:55] yhirose commented on #686
@fujianhai, sorry that I don't understand Chinese. Could you write it in English?

[2020-10-09 15:55] #686 closed

[2020-10-09 15:56] #687 closed

[2020-10-09 16:19] yhirose commented on #680
@yhirose, could you try to send the same HTTPS request with curl to see what happens?

[2020-10-09 17:45] PixlRainbow commented on #686
They're asking for example server code to handle a PDF upload

[2020-10-09 17:50] yhirose commented on #686
@PixlRainbow, thanks for the translation!

[2020-10-09 19:40] FrozenSource commented on #680
curl -s -m 2 https://domain Returns empty just fine....

[2020-10-09 19:54] yhirose commented on #680
I mean `curl -m 2 "https://${C_ServerRemote}/cli/latest"` (${C_ServerRemote} should be replaced with the same host name in your example.)?

[2020-10-09 21:07] FrozenSource commented on #680
Yeah that one, then again it didn’t matter since the host is offline.

[2020-10-09 23:56] yhirose commented on #680
@FrozenSource, thanks for the report. I honestly don't understand why the problem happens in your network environment. Since the regular HTTP call works, the problem seems to be caused in OpenSSL. But I can't say my guess is true, because I am not able to reproduce it and cannot confirm it on my machine... So I would very much appreciate it if you debug the read timeout problem on your machine. Th

[2020-10-10 00:08] yhirose commented on #664
@omjego, I probably don't fully understand what you are asking... Anyway, httplib.h depends on openssl, zlib, brotli libraries. (You can see more information in `.github/workflows/test.yaml`).

I'll check your pull request #684 soon. Right now, I see some conflicts on the branch, and unit tests are failing. Could you fix those first? Then, I'll check the pull request. (Hopefully, I'll probably tak

[2020-10-10 06:22] FrozenSource commented on #680
Very well will look into that then. Btw to be precise if you want to reproduce it. I use this https://github.com/jlesage/docker-nginx-proxy-manager in docker as the proxy.

[2020-10-10 07:12] omjego commented on #664
@yhirose  Hey sorry I should've added some context.
So, currently all the dependencies for the test binary generated using `make test` are linked dynamically. So while running that binary, openssl, brotli and zlib  libs should present on your machine.
I wanted to use existing Makefile to generate fuzz target binary as well.
Oss-fuzz does following:

1. Build fuzz target binary:    Create a docker

[2020-10-10 17:05] FrozenSource commented on #680
Okay I found it out, 5676 is a blocking call..... (SSL_read). Since the socket connection is readable it enters that state at 5675 but since data only becomes available 60s later it only then returns. iPending in this case is still 0 when it enters the blocking call... Problem is that I am not familiar with the code, so am unable to really try anything. Removing the is_available makes it returning

[2020-10-10 17:28] yhirose commented on #680
@FrozenSource, thanks for the deail. It rings a bell actually. It sounds similar to https://github.com/yhirose/cpp-httplib/issues/150#issuecomment-506338268. As you can see in the comment, it's pretty hard to fix the problem because we can not control the blocking behavior happening inside `SSL-read`. But I'll ponder over it to find a way to solve the problem.
Thanks again for the valuable informa

[2020-10-10 17:49] FrozenSource commented on #680
Well atleast we found it. Now it might not be the best and a bit c++17 but might I suggest this since this seems to work just fine.... Also dont blame me for the hungarian Pascal I am not the snake kinda guy.

[code]

[2020-10-10 18:17] yhirose commented on #680
@FrozenSource, great! Could you confirm that your suggested code fixes the problem on your machine since I am not able to reproduce it right now. Then could you make a pull request and send it, so that GitHub Actions flow will check if all the existing unit tests pass with the pull request. But no rush! (I'll also do some research about SSL_read with non-blocking socket.)

[2020-10-10 18:19] FrozenSource commented on #680
Will do I wrote this in a sec since I am in transit when I have time tomorrow I will optimize and do as you suggest.

[2020-10-10 19:17] lightvector opened #691 "Multipart form data boundary"
If I understand the current code correctly, the construction of the multipart form data boundary might a little low-entropy.

Firstly: currently the implementation `make_multipart_data_boundary` seems to do this:
[code]
And then concatenates 96 random bits worth of entropy from `engine` on to `"--cpp-httplib-multipart-data-"`.

However by my [understanding](https://en.cppreference.com/w/cpp/numeri

[2020-10-10 19:43] yhirose commented on #691
@lightvector, thanks for the detailed feedback! I honestly didn't think of the security deeply as we did. The suggestions that you presented above sound all reasonable. Could you try those on your machine and send a pull request? Only thing that I am concerned with is that the changes can be complied with C++11 compilers. Thanks!

[2020-10-11 11:26] FrozenSource commented on #680
Could you give me permissions, I can't seem to create a branch...?

[2020-10-11 12:00] yhirose commented on #680
@FrozenSource, since this is a GitHub project, you have to work on a fork. You can do it by hitting the "Fork" button on the top right corner. Please see the GitHub documentation about how to create a pull request from a fork.

https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

Hope it helps!

[2020-10-11 12:39] FrozenSource commented on #680
@yhirose Is it possible for you to check the unix based? I don't have such system available... Seems only the windows platform succeeded which is what I also use.

[2020-10-11 13:49] yhirose commented on #680
@FrozenSource, I would like to check on Mac and Linux, but since I am not able to reproduce the problem on my machine, there is no way for me to check. Is it possible for you to make it fully cross-platform?

[2020-10-11 16:00] FrozenSource commented on #680
well if you want it is really quite easy just install docker and run
[code]
Create a proxy and no host needs to be attached since that is the issue. As I specified above linux doesn't have this problem thus also supposing MacOS doesn't because they both use the posix specification. The SSL_Read function uses the recv() function internally and should comply with the read timeout which is set. But I

[2020-10-11 19:39] yhirose commented on #691
@lightvector, thanks for the pull request. I merged it. Can this issue be closed?

[2020-10-11 20:14] lightvector commented on #691
Okay. I guess if someone ever wants the server part later they can open an issue and/or make a new pull request, so closing this is fine. Thanks.

[2020-10-11 20:14] #691 closed

[2020-10-13 13:58] hotbroker opened #697 "error cant pass verifier on windows"
**here is the stack when issue occurs**

00 ntdll!NtQueryObject
01 KERNELBASE!GetHandleInformation
02 WS2_32!DSOCKET::FindIFSSocket
03 WS2_32!send
04 mymodule!sock_write
05 mymodule!bwrite_conv
06 mymodule!bio_write_intern
07 mymodule!BIO_write
08 mymodule!ssl3_write_pending
09 mymodule!do_ssl3_write
0a mymodule!ssl3_dispatch_alert
0b mymodule!ssl3_send_alert
0c mymodule!ssl3_shutdown
0d mymodule!

[2020-10-13 16:59] yhirose commented on #697
@hotbroker, thanks for the feedback, but it's too little information to reproduce the problem.

[2020-10-13 16:59] #697 closed

[2020-10-13 17:16] hotbroker commented on #697
1、setup “[appverfier](https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/application-verifier)"

2、run a demo that invoke  httplib::Client::Post in Windbg.exe

3、then a exception may be caught

so far ,I try to fix this bug with following code(if this is a ssl socket, call ssl_delete before close_socket :

![image](https://user-images.githubusercontent.com/50006539/95893846-d2fff500

[2020-10-13 17:47] hotbroker opened #698 "sometimes "read time out" does't work well on windows??"
firstly i have to clearify this problem does not appear easily..
snippet code just like below:

		auto res1 = httplib::Client(ep.data());
		//res1.set_read_timeout(3);//
		auto res = res1.Get(path.data());

set_read_timeout just like it doest work,

here is the stack when the thread is stuck
![image](https://user-images.githubusercontent.com/50006539/95896457-d2695d80-0dbe-11eb-85d5-4c259bda1d32.p

[2020-10-13 18:09] hotbroker opened #699 "could you reopen #697?"
after reviewing the code,im pretty sure this is an error:

reusing the socket in SSL_shutdown but the socket is closed before SSL_shutdown  in SSLClient::close_socket

[2020-10-13 18:27] yhirose commented on #698
@hotbroker, thanks for the feedback. But the above information is not enough to investigate.

The following read timeout unit test is working on Windows on GitHub Actions workflow. (https://github.com/yhirose/cpp-httplib/runs/1239490280?check_suite_focus=true)

https://github.com/yhirose/cpp-httplib/blob/fffbf1a669b23cc192463ca1bb1d73b94d11cccd/test/test.cc#L2956-L2992

Could you first try to run

[2020-10-13 18:31] yhirose commented on #699
@hotbroker, glad to hear that. Could you show the smallest possible code snippet, so that I can easily reproduce it on my Mac? Thanks!

[2020-10-13 23:37] sum01 commented on #664
In reference to https://github.com/yhirose/cpp-httplib/pull/684#issuecomment-707784701 I'm not too sure how helpful I can really be. I didn't bother to implement test support for the Cmake file, so you'll have to build them with the makefile or manually.

You should be able to link against `libbrotlidec-static.a` though, as I think it comes with the base distribution of Brotli.

[2020-10-14 07:14] hotbroker commented on #699
well ,i dont think you can reproduc this ?
sometimes this will may not cause a big prolem,like close a invalid handle,or send data with a invalid handle.
but also may cause a serious issue,like close a handle not belong to it(the secon time it was close,this handle value may be created by other thread for othe type resource like event,file etc *on windows*)

[2020-10-14 07:16] hotbroker commented on #698
ok,i will try this later

[2020-10-14 12:12] yhirose commented on #699
@hotbroker, I think the problem should be reproducible regardless the operating system that you use, because it's OpenSSL issue. Could you anyway try to make a smallest possible snippet? Then, I'll debug it. Thanks!

[2020-10-14 12:14] yhirose commented on #680
@FrozenSource, thanks for the information. I'll try to setup the proxy and reproduce the problem on my machine when I have time. Thanks!

[2020-10-14 12:52] hotbroker commented on #699
`	std::string url = "https://www.apple.com/";
	Url u(url);
	string ep = u.scheme() + "://" + u.host();

	string path = url.substr(ep.length());

	auto res1 = httplib::Client(ep.data());

	auto res = res1.Get(path.data());
`
check this out.
**stack as follow:**

00 vrfcore!VerifierStopMessageEx
01 vfbasics!AVrfpVectoredExceptionHandler
02 ntdll!RtlpCallVectoredHandlers
03 ntdll!RtlDispatchException

[2020-10-15 12:11] #664 closed

[2020-10-15 22:38] lightvector commented on #699
@yhirose - it sounds to me like hotbroker is pointing to an instance where a socket is used in a certain way after it is closed - in particular, SSL_shutdown may attempt to send data down the socket in order to carry out the SSL shutdown protocol.

It could very well be OS-specific whether this actually results in an error being reported or not, because it could be OS-specific what happens when yo

[2020-10-15 23:04] lightvector commented on #699
Simple fix would presumably be this, similar to what hotbroker posted in the other issue:
[code]

[2020-10-16 00:56] yhirose commented on #699
@lightvector, thank very much for the detailed research. All you mentioned sound good to me. Could you send your suggested code as a pull request?  Thanks!

[2020-10-16 13:59] apinprastya opened #700 "Null exception"
This took me many hours to figure it out, maybe I am wrong or something off on my side. So this happen when I post a multipart form data and 1 of the field is a file field. And that file is bigger then the buffer size ( > 4096 ).

The problem is from here :

`return multipart_form_data_parser.parse(buf, n, std::move(multipart_receiver),
                                              std::move(mulit

[2020-10-16 15:39] yhirose commented on #700
@apinprastya, thanks for the report! Could you send a pull request including your fix? Thanks!

[2020-10-16 17:56] yhirose commented on #700
@agasparovic, it seems like the recent change to use move semantics causes this bug. I guess some of them need to be reverted. Could you also take a look at it?
https://github.com/yhirose/cpp-httplib/commit/fffbf1a669b23cc192463ca1bb1d73b94d11cccd#diff-2324f73f4a4958b756eb44d0607268befc5de62db01164ccd73e154da808d8f3R321

[2020-10-16 18:42] PixlRainbow commented on #700
might need to add a multipart test for larger files

[2020-10-16 21:41] yhirose commented on #700
@PixlRainbow, I agree. Wee need a unit test to catch the situation. I'll try to reproduce the problem on my machine first.

@apinprastya, before making a pull request, could you try with v0.7.9? (https://github.com/yhirose/cpp-httplib/tree/v0.7.9) I would like to confirm that the version is ok. Thank you for your extra help!

[2020-10-16 22:26] apinprastya commented on #700
@yhirose, it works on v0.7.9.

[2020-10-16 22:32] lightvector commented on #699
It seems that the issue is more complex - fixing this bug in isolation in a proper way is not easy due to the presence of other synchronization issues, so I went ahead and tried to fix the other bugs I found too. I think the pull request I submitted is a correct fix of this and several other issues all together though.

[2020-10-17 00:44] #700 closed

[2020-10-18 13:53] lukarolak opened #704 "How to send data with a GET request."
Hello,

I would like to create a get request with data field in it.
https://developer.paypal.com/docs/api/get-an-access-token-curl/
`curl -v https://api.sandbox.paypal.com/v1/oauth2/token \`
  ` -H "Accept: application/json" \`
   `-H "Accept-Language: en_US" \`
  ` -u "client_id:secret" \`
   `-d "grant_type=client_credentials"`

I find it hard to figure out how to send the **-d** argument in the

[2020-10-19 01:57] yhirose commented on #704
@lukarolak, thanks for the question. All the answers that you should know are described in this section. https://github.com/yhirose/cpp-httplib#client-1
Hope it helps!

[2020-10-19 01:57] #704 closed

[2020-10-19 01:59] yhirose commented on #680
@FrozenSource, what happened with https://github.com/yhirose/cpp-httplib/pull/693?

[2020-10-19 05:09] PixlRainbow commented on #704
@lukarolak  note: It likely isn't a GET request that you are performing with curl. When you provide `-d` (content data) as a parameter **it will default to a POST request**. If you still force the request to be GET by using `-X`, it will become non-standard as a GET request with a body.

[2020-10-19 07:23] FrozenSource commented on #680
It did not work in this case because of API above. None the matter since it should be a socket thing. Did you find anything out concerning this?

[2020-10-19 13:29] omjego opened #705 "[oss-fuzz] issue-26453 Invalid value of Range header"
Hey @yhirose , this is reagarding the issue [26453](https://oss-fuzz.com/testcase-detail/5162724830740480),  reported by oss-fuzz.

The program crashes when given a very large value for Range header. This happens during a call to [std::stoll()](https://github.com/yhirose/cpp-httplib/blob/a4a9637738985211321fe4b4a3add7d8ae19a338/httplib.h#L2923)  which throws std::out_of_range exception, which appa

[2020-10-19 17:27] lukarolak commented on #704
@yhirose @PixlRainbow Many thanks for your help, with a bit of tinkering and listening to your advice I got it working.

For the sake of other people with a similar issue, I'll post a summary of the issue and the solution. Note: _I'm completely new to the HTTP requests, so my terminology is probably wrong_

What I needed to do was create a POST request instead of the GET request.

Post request all

[2020-10-19 18:43] axieyangb opened #706 "Sockets didn't get closed in SSLServer::process_and_close_socket()."
Hey @yhirose, I found the abnormal memory increase under the stress tests. The problem line is here: https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L5857
[code]
The sockets keep open but never get closed.
Comparing to the https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L4625-L4626. We should add
`detail::shutdown_socket(sock);
  detail::close_socket(sock);` in line of 58

[2020-10-19 18:53] yhirose commented on #704
@lukarolak, you can also do like this:

[code]

https://github.com/yhirose/cpp-httplib#post-with-parameters

[2020-10-19 19:25] yhirose commented on #706
@axieyangb, thanks for find the serious problem!
Could you try the stress tests again with the latest master on your machine?

1.

[2020-10-19 19:34] axieyangb commented on #706
Sure, I am very glad to help.

[2020-10-19 21:21] yesvivek opened #707 "Performance degrades when keep-alive is used"
When running simple hello-world server with this library, I see vast difference in performance with versus without keep-alive option of apache benchmark tool (keep-alive gives much slower performance). No overrides of any config, 8 threads were created automatically by httplib.h (used latest on github at the time of reporting this).

Am assuming this is unexpected. Is there any reason why this hap

[2020-10-19 23:36] evg82 opened #708 "SSE with long message"
When i send long chunk with type text/event-stream to server, content receiver is called multiple times, first one containts "data: ....". i suppose i need to reasamble message but this function should be handled in lib, and call content receiver with a full message.

[2020-10-19 23:47] axieyangb commented on #706
No significant memory increase this time. But the memory still increases. 1000 QPS runs for 10 mins, the memory increases from 6 Mi to 18Mi.  Without fix before, the memory goes above 150 Mi.

[2020-10-20 00:02] yhirose commented on #706
@axieyangb, thanks for the report. I'll reopen this issue. Please let me know whatever suspicious code. I'll also try to find where the leak is happening. Thanks!

[2020-10-20 00:10] yhirose commented on #707
@yesvivek, thanks for the detailed report! I'll investigate it when I have time.

[2020-10-20 00:22] yhirose commented on #705
@omjego, thank you for drilling down the issue! I agree your suggestion, and try to implement it.

[2020-10-20 00:33] yhirose commented on #708
@evg82, thanks for the feedback. I don't understand what "When i send long chunk with type text/event-stream to server" means. `text/event-stream` messages should be sent **from server to client** on SSE protocol. Could you explain more about the issue? Thanks!

[2020-10-20 01:42] #705 closed

[2020-10-20 02:18] yhirose commented on #705
@omjego, I have fixed it. Do we have to tell oss-fuzz that we fixed the issue? If so, could you handle it for me? Thanks!

[2020-10-20 02:23] yhirose commented on #680
@FrozenSource, no, I haven't started investigating it, since it's pretty hard to reproduce it. So, I was just thinking to review your pull request first, and merge it to the master if it looks good and doesn't make any side effects on Mac and Ubuntu.

[2020-10-20 03:33] yhirose commented on #707
@yesvivek, I acknowledged the problem.

[code]

[2020-10-20 10:07] malepurakesh opened #709 "API Documentation for Cpp-httplib...?"
Hi,
   Is there API documentation for cpp-httplib ? Please provide the reference link.
Thanks in advance.

[2020-10-20 10:24] yesvivek commented on #709
I don't think there exists a dedicated API document, but samples in README and example folder were good enough for me to start with (I needed a HTTP server) and for more details I referred the code (not complex and quite verbose). But nothing beats a well-written API document.

[2020-10-20 10:25] malepurakesh commented on #709
Thank you @yesvivek

[2020-10-20 11:13] yhirose commented on #709
@malepurakesh, @yesvivek, thank you for the feedback. Sorry that there isn't  API documentation. I don't simply have time to make and maintain it. In addition to README, `test/test.cc` has a number of working and relative small examples. Hope it helps!

[2020-10-20 11:13] #709 closed

[2020-10-20 11:26] evg82 commented on #708
Sorry for my poor description. I will try to explain better:
I have a server and a client with your lib.
Server sends for example a SSE packet with 10k payload, i see it correctly in wireshark, Client receive this correctly but gets multiple calls to content_receiver with up to CPPHTTPLIB_RECV_BUFSIZ bytes. For normal chunked encoding this is ok, but for SSE i need to receive entire message OR get

[2020-10-20 13:23] luwei08 opened #710 "use https Get method will crash."
Https Get method crash. Such as: httplib::client cli(“https://****” ); cli.Get(“/*”);   But http::Get is ok.

[2020-10-20 14:28] omjego commented on #705
Hey @yhirose  the changes look good to me.
The oss-fuzz will pick new changes automatically during next build within 24 hrs, (Ref)[https://google.github.io/oss-fuzz/advanced-topics/reproducing/#reproduce-using-local-source-checkout]
I'm sending out a PR which has fix for [bug 26439](https://oss-fuzz.com/testcase-detail/5390822188777472), maybe add it to the same release?

[2020-10-20 15:03] omjego commented on #705
Fixes oss-fuzz [bug 26439](https://oss-fuzz.com/testcase-detail/5390822188777472)
https://github.com/yhirose/cpp-httplib/pull/711

[2020-10-20 15:10] yhirose commented on #710
@luwei08, thanks for the report, but there is no `http:Get` API in httplib.h. Are you using the latest httplib.h?

[2020-10-20 15:13] yhirose commented on #705
@omjego, thanks for the pull request, I reviewed and merged it. I'll wait 24 hours, then I'll release the fixes if oss-fuzz doesn't report the issues any more. Thanks for your help!

[2020-10-20 15:18] luwei08 commented on #710
I point to Httplib::client::Get()😍
I am wrong. I forgot link openssl lib.

[2020-10-20 15:31] #710 closed

[2020-10-20 17:35] CaelumLaron commented on #706
How do you do your tests @axieyangb ? I'm with a problem and wanna check if it's the same

[2020-10-20 18:41] axieyangb commented on #706
In my case, I used it in k8s. So I wrote a simple test to send multiple CURL commands in parallel to the pod (Comment out all the internal processing logic and only left the HTTPS server running) and observed the allocation of the pod resource.

[2020-10-21 00:08] yhirose commented on #708
@evg82, please see my comment in #712, and try my solution in #713.

[2020-10-21 09:39] rusamentiaga opened #714 "Segmentation fault"
[code]

[code]

[2020-10-21 11:00] yhirose commented on #714
@rusamentiaga, did you follow the direction for using SSL on README?

[2020-10-21 14:56] rusamentiaga commented on #714
True. It is working but I did not expect SegFault. Maybe throw an exception in this case.

Good work on the lib.

[2020-10-21 17:02] #714 closed

[2020-10-21 17:03] yhirose commented on #714
@rusamentiaga, your suggestion is reasonable, and I just implemented it. Thanks!

[2020-10-21 20:13] axieyangb commented on #706
Hey @yhirose , another suspicious code is here [not pretty sure]: `detail::ssl_delete(ctx_mutex_, ssl, ret);` https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L5854. If the ret is `false`, the ssl_delete() will skip calling the `SSL_shutdown(ssl);` https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L5623. And I quickly went through the function of `process_request()` and  tri

[2020-10-21 20:18] axieyangb commented on #706
For example: https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L4134-L4138. If the server fails to write the boby. The `process_request()` returns false and the `SSL_shutdown(ssl)` will be skipped.

[2020-10-21 22:24] yhirose commented on #706
@axieyangb, thanks for pointing it out. Could you check how often `detail::process_server_socket_ssl` returns `false` on your test environment? If it happens pretty often and increases memory usage, that could be it. But if it happens rarely and still increases memory usage, there should be another place where memory or resource leak is taking place. Thanks for your great help!

[2020-10-22 03:18] lukasrmattos opened #715 "Wrong Characters with Special Characters"
Hi, first of all thanks for this amazing project.

So, I have problem in get request with special characters:

Sample: "Você" returns "Voc<inser random chars here">

My server is a ASP NET application and my client its C++ using this library.

In Postman I get everything ok.

How can I get the right encode?

[2020-10-22 04:03] PixlRainbow commented on #715
You are likely receiving the correct data, but not displaying it correctly. This library is not responsible for data processing, it simply gives you the received data as-is.
Unfortunately, from a quick Google search, there doesn't seem to be much agreement on how to display utf-8 extended characters in C++. There are lots of different methods people have come up with but no standardized way.

[2020-10-22 09:57] hotbroker commented on #699
thats great, good to know,i should update my code know .
and the fixing code I posted may not right ,since the socket value is duplicated to diff places,

[2020-10-22 12:16] yhirose commented on #715
@lukasrmattos, thanks for the feedback. I guess the problem is that your terminal or command prompt can't show UTF8 response body from the server. One thing you could test it to dump the response body to a file, and open it on a text editor like VisualStudioCode which supports multiple encodings. As @PixlRainbow, mentioned, httplib.h is no responsible for data processing. So I'll close this issue.

[2020-10-22 12:16] #715 closed

[2020-10-22 15:37] evg82 commented on #708
Hi, its work ok to me. Thanks!

[2020-10-22 15:48] #708 closed

[2020-10-22 15:50] yhirose commented on #708
@evg82, thanks for checking!

[2020-10-22 17:13] yhirose commented on #698
@hotbroker, did you try it, yet?

[2020-10-23 06:35] OblivionStaff opened #716 "memory leak in ContentReader"
Referred to your code in the test.cc. I am trying to receive a jpeg file. But it is observed that after receiving a file, the memory of the receiver increased.

[code]

in the humanpose_task function:
[code]

[2020-10-23 11:08] yhirose commented on #716
@OblivionStaff, thanks for the feedback! What tool are you using to detect the memory leak? I'll try to reproduce it. Thanks!

[2020-10-23 12:19] hotbroker commented on #698
F:\opensrc\cpp-httplib\test\Debug>test.exe --gtest_filter="*ReadTimeout*"
Running main() from gtest_main.cc
Note: Google Test filter = *ReadTimeout*
[==========] Running 2 tests from 1 test case.
[----------] Global test environment set-up.
[----------] 2 tests from KeepAliveTest
[ RUN      ] KeepAliveTest.ReadTimeout
[       OK ] KeepAliveTest.ReadTimeout (7070 ms)
[ RUN      ] KeepAliveTest.Read

[2020-10-23 12:23] hotbroker commented on #698
plus ,when i encounter this is accessing a https url

[2020-10-23 12:37] hotbroker commented on #698
ps: after making a self-signed cert ,test UT works
but as we can see,the timeout does no any work!!
![image](https://user-images.githubusercontent.com/50006539/97004379-962cbe80-156f-11eb-827f-98c6a10ce55d.png)

[2020-10-23 12:48] hotbroker commented on #698
@yhirose

[2020-10-23 13:21] yhirose commented on #698
@hotbroker, great! I'll try to reproduce it on my machine.

[2020-10-23 17:43] MohammedZwayen opened #717 "documentations"
dear Sir
is there any documentation in any form
the examples are great source to get ideas about the library
but documentations is still necessary specially when error handling
thank you,

[2020-10-23 17:58] yhirose commented on #717
@MohammedZwayen, thanks for the feedback. Please see the following answer before. Hope it helps!
https://github.com/yhirose/cpp-httplib/issues/709#issuecomment-712776297

[2020-10-23 17:58] #717 closed

[2020-10-24 22:41] yhirose opened #718 "Issues from oss-fuzz"
@omjego, could you take a look at the following report for me? (I tried to see the 'Detailed Report: https://oss-fuzz.com/testcase?key=6234711166550016', but it seems I don't have access right to see it...)

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=26598

Thanks a lot!

[2020-10-25 16:16] #698 closed

[2020-10-25 16:17] yhirose commented on #680
@FrozenSource, it may be related to #698. The latest master httplib.h has the fix. Could you try it on your environment to see if your issue still exists? Thanks!

[2020-10-25 16:25] yhirose commented on #718
@omjego, we got another one. https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=26632. Thanks for your help!

[2020-10-25 17:00] FrozenSource commented on #680
Thx will do!

[2020-10-25 19:20] yhirose commented on #716
@OblivionStaff, I made a test server with the following code and send image files a number of times from a web browser. On my Mac, the memory usage stays around 8.75M according to `top` command report. So I don't find any memory leak with ContentReader itself.

[code]

![image](https://user-images.githubusercontent.com/357397/97116645-e4a79d80-16d4-11eb-8a52-e855f62d11be.png)

If you really observ

[2020-10-25 20:50] yhirose commented on #706
@axieyangb, I did some research about it with Apache Bench command, and I am now able to reproduce it.

The interesting thing is that even if I changed [this line](https://github.com/yhirose/cpp-httplib/blob/3b29cd0bdce6f88d5c2cc9deb4670a629a76c4fe/httplib.h#L5881) to `detail::ssl_delete(ctx_mutex_, ssl, false);`, it doesn't make any difference. The memory usage still goes up, but the increase eve

[2020-10-25 20:57] yhirose commented on #697
@hotbroker, could you try the latest httplib.h? Thanks!

[2020-10-25 20:58] yhirose commented on #698
@hotbroker, could you test with the latest httplib.h? Thanks!

[2020-10-26 03:00] xuhongmeng opened #719 "error C2888: “bool MultipartFormDataParser::parse(const char *,::size_t,const T &,const U &)”"
vs2017:
compile  error: error C2888: “bool MultipartFormDataParser::parse(const char *,::size_t,const T &,const U &)”: 不能在命名空间“detail”内定义符号。
and change to
//template <typename T, typename U>
//bool parse(const char *buf, size_t n, const T &content_callback,
//	const U& header_callback) {
bool parse(const char *buf, size_t n, const ContentReceiver &content_callback,
	const MultipartContentHeader& h

[2020-10-26 05:18] omjego commented on #718
@yhirose  Thank you for creating the issue, I'll take look at them.
Although I was wondering why can't you access the oss-fuzz dashboard, are you using the email id specified [here](https://github.com/google/oss-fuzz/blob/ee423bf3d6195b38fcac59a3b68336bab6dc7001/projects/cpp-httplib/project.yaml#L3) ?

[2020-10-26 06:56] jiagushuai commented on #719
我也遇到了这个问题

[2020-10-26 07:28] hotbroker commented on #698
great, TEST PASSED!

[2020-10-26 07:28] hotbroker commented on #698
@hotbroker

[2020-10-26 07:42] zj611 opened #720 "An invalid response was received from the upstream server"
An invalid response was received from the upstream server
502
 i don't know how to solve it? The http server return nothing but this error!!! Anyone can help me ?

[2020-10-26 10:49] nqle opened #721 "Support for unix sockets"
Hey,
I didn't know where else to ask.
I was curious about whether there are future plans to support unix domain sockets for local interprocess communication or is this project rather focused on web applications and tcp sockets?

[2020-10-26 12:07] yhirose commented on #721
@nqle, thanks for the question. I am using this library for HTTP support in my projects. I don't have any plan to support Unix socket because the projects don't need it. Hope it helps!

[2020-10-26 12:07] #721 closed

[2020-10-26 12:10] yhirose commented on #720
@zj611, thanks for the feedback. But this error has nothing to do with httplib. Could you contact the owner of the upstream server instead, or your network environment might cause this problem. Hope it helps!

[2020-10-26 12:10] #720 closed

[2020-10-26 17:24] dalum opened #722 "Error when running simple example client with SSL and MinGW on Windows"
Hi!

Using the `ca-bundle.crt` in `/example` and compiling the following with with MinGW64 on Windows
[code]
using:
[code]
it compiles and links fine, but when running the compiled program, I get:
[code]
If the libraries `-lws2_32 -lcrypt32 -lcryptui` are omitted, the error code becomes `8` instead.  This only happens on Windows with GCC, and compiles fine on Linux.

Any suggestions or help would

[2020-10-26 21:25] Bulb4 opened #723 "Add move semantic for httplib::Result::res_::body"
Currently we need to copy body's value, because all `httplib::Result` getters are const. There is also no way to get `httplib::Result::_res` ownership because it is private and `unique_ptr`.
It would be nice to by able to use `std::move` for body, if we want to store it somewhere, and use after result destruction.