[2012-10-05 21:07] yhirose opened #1 "Static files support"
Add static files support. Need a method like 'set_htdocs_path'.

[2012-10-05 21:09] yhirose opened #2 "VC11 support"
Need solution file for VC11.

[2013-07-04 22:23] #2 closed, assigned to nobody

[2013-07-04 22:26] #1 closed, assigned to nobody

[2013-07-04 22:28] yhirose opened #3 "Ignore url path with '..' (parent directory)."
This could cause bad security problem.

[2017-04-22 00:31] yhirose opened #5 "OpenSSL support"
OpenSSL support.

[2017-04-22 03:15] #5 closed

[2017-06-20 13:02] squashmode opened #6 "client fails to read long response"
If the HTTP server the client is requesting from sends a large page, the client will not read all of the response, because there is only one call made to the socket recv() method.

Something like this will fix it:

[code]

[2017-06-20 13:04] squashmode opened #7 "client needs Host header"
The client, when doing a request to a server, does not include the host in the header.  This causes some failures on some sites.  Something like this fixes the problem (presumably also needed for HEAD and POST methods):

[code]

[2017-06-29 00:12] #6 closed

[2017-06-29 00:12] #7 closed

[2017-06-29 00:13] yhirose commented on #7
@squashmode, thanks for the bug report!

[2017-06-29 00:13] yhirose commented on #6
@squashmode, thanks for the bug report!

[2017-07-05 22:29] DraTeots opened #8 "c++11 ‘auto’ in lambda parameter"
Hi!
It is said that cpp-httplib is C++11 library. But when I try to build example on gcc, I get an error:
[code]
While this relates only to examples code it... should be at least said somewhere...

[2017-07-06 03:13] #8 closed

[2017-07-06 03:14] yhirose commented on #8
@DraTeots, I have just changed the example code in README not to use the C++14 generic lambda.

[2017-07-06 19:16] DraTeots opened #9 "SIGPIPE (signal SIGPIPE) after some time working"
Having a pretty simple server, which is set up very close to the examples.

After some time of fine running,  it just starts failing with SIGPIPE here:

[code]

[code]
Update:
Sometimes it runs really long without it. So one can say, that sometimes it is not happening.

[2017-07-07 02:08] yhirose commented on #9
@DraTeots, I added the code to ignore SIGPIPE at e4ef0828b097eb52afc20d3accd675e5a0ab650a.
Could you check if the commit fixes the problem on your machine?

https://stackoverflow.com/questions/108183/how-to-prevent-sigpipes-or-handle-them-properly#answer-108192

[2017-07-07 16:57] DraTeots commented on #9
I actually found the same stackoverflow QA yesterday and set the same `signal(SIGPIPE, SIG_IGN);` but in my code. It worked fine since then. So I think the issue is fixed.

But now , as cpp-httplib is updated, and will let it work for the weekends. And see what will happend.

[2017-07-07 16:57] #9 closed

[2017-07-07 18:41] yhirose commented on #9
@DraTeots, thanks for your contribution!

[2017-08-23 18:35] curtpm opened #11 "Add support for gzip"
It would be nice to have optional support for gzip.

[2017-08-25 02:45] pavolzetor opened #12 "Readme ssl example is incorrect"
The first file is certificate, the second is private key, not the other way around.

[2017-08-28 13:34] #12 closed

[2017-08-28 13:36] yhirose commented on #12
@pavolzetor, Oops... Thanks for catching the stupid mistake.

[2017-08-28 13:45] yhirose commented on #11
@curtpm, thanks for the suggestion. When I have time, I'll look into zlib to see if I can add the feature easily.

[2017-09-07 03:49] const-volatile opened #14 "Server Name Indication for httplib::SSLClient"
First of all, thanks for providing such a great library!

I had a problem to get connections to certain HTTPS hosts working with using `httplib::SSLClient`. After investigating with openssl s_client, I found that the problem is that the host sends the wrong certificate to the client. This is because, the server doesn't know for which site the client expects the certificate if multiple sites/certif

[2017-09-07 07:05] jl2378 opened #15 "HTTP POST request"
POST requests are extremely slow. Each request is taking about 1 second to complete. I am using the library on windows.

[2017-09-07 12:39] yhirose commented on #15
@jl2378, thanks for the report!

Do you mean POST requests are much slower than GET requests?
How much data are you posting to the server, small data or large data?

As you can see in the code, both implementations are almost same except the following POST specific code in `void Server::process_request(Stream& strm)`.

[code]

It's so simple, right?

I have personally never had such a performance

[2017-09-07 23:54] #14 closed

[2017-09-08 00:03] yhirose commented on #14
@const-volatile, thanks for the feature request and the detailed research.

I implemented it and confirmed it works fine. (I have also turned your example code to a new test case.) Please let me know if you have any problem with the change.

Thanks again for your contribution!

[2017-09-08 07:41] const-volatile opened #16 "If no "Content-Length" is sent in the response-header the body is always empty"
It is allowed in [HTTP 1.0](https://tools.ietf.org/html/rfc1945#section-7.2.2) to have no "Content-Length" header field in the response-header: In this case closing of the connection indicates the end of the response-body. But in the current implementation reading the body of the response is skipped if there is no "Content-Length" field, resulting into an empty body.
The template function `read_co

[2017-09-08 10:10] jl2378 commented on #15
@yhirose Thanks for the quick reply. I'm referring to the client side sending POST requests to a server. I am posting about 5 kb of data as octet-stream each request. I log the time between each post request being sent and it ranges from between 1001 to 1003 milliseconds.

Could it be related to the socket connection being reestablished every time a request is made?

[2017-09-08 17:03] yhirose commented on #16
@const-volatile thanks for another great contribution!
I merged your code. (I simply added another parameter `bool allow_no_content_length` in `read_content` to see if the caller is the server or the client.)

[2017-09-08 17:04] yhirose commented on #15
Oops... Reopen it again.

[2017-09-08 17:06] yhirose commented on #16
https://github.com/yhirose/cpp-httplib/commit/bfb7f7bb78482610b7ba1fb137a498473683c9c9 (My commit message is wrong. it is fix for #16 instead of #15.)

[2017-09-08 17:06] #16 closed

[2017-09-09 03:59] yhirose commented on #15
It could be. In order to understand the situation more, I made the sample code to measure each post request time.

[code]

When I run it on my Windows box, I got the following result:

[code]

It works pretty good on my machine.

What result do you get with the code on your machine?
Or is this code missing something to reproduce this problem?

Thanks for your help!

[2017-09-11 02:02] const-volatile commented on #16
@yhirose Thank you for the quick fix! It works if I change the `allow_no_content_length` to true on Line 1084. I made a pull request for the same.

[2017-09-25 20:57] jl2378 commented on #15
Hmm, interesting. Sorry for the late reply. I will try this again and let you know about the performance.

[2017-11-01 16:05] toge opened #18 "Please append port number to HOST header"
In RFC 7230(HTTP1.1),

While I know your library supports HTTP/1.0,
I'm glad to append port number to HOST header like following:

[code]

[2017-11-06 18:26] #18 closed

[2017-11-06 18:28] yhirose commented on #18
@toge, thanks for the good suggestion. I have implemented it at https://github.com/yhirose/cpp-httplib/commit/bd089e9499e06f63565f6c8663373f3a6d6cfe79.

[2017-11-09 02:30] pavolzetor opened #19 "Assertion `s[i]' failed."
Every now and then my server crashes with following error.

```main: ext/httplib.h:651: std::string httplib::detail::decode_url(const string&): Assertion `s[i]' failed.```

[2017-11-10 13:19] yhirose commented on #19
@pavolzetor, thanks for the report.
Could you give me the URL string that causes the assertion, so that I could easily debug the problem?
Thank you!

[2017-11-14 02:30] yhirose commented on #15
Please let me know if it is still an issue with you.

[2017-11-14 02:30] #15 closed

[2017-11-22 07:18] vdudouyt opened #21 "Add multipart-formdata support"
It would be really nice if we could process forms encoded multipart/form-data, including file uploads. Unfortunately this feature lacks in most lightweight C++ HTTP libraries, though it doesn't takes much slocs to implement.

[2017-11-22 16:01] underscorediscovery commented on #11
a good option might be to support a flag with
https://github.com/richgel999/miniz

[2017-11-22 22:45] acreskeyYouI opened #24 "Error in README.md sample code"
Great library -- one issue is that the sample code in the README.md doesn't compile because
the parameters `const Response& res` are actually supposed to be non-const:  `Response& res`

[code]
and
[code]

[2017-11-25 01:27] yhirose commented on #24
@acreskeyYouI, thank you for finding the stupid mistake... I'll correct it right away.

[2017-11-25 01:27] #24 closed

[2017-11-25 01:31] yhirose commented on #21
@vdudouyt, thanks for the good suggestion. I'll put 'enhancement' tag.

[2017-11-25 01:33] yhirose commented on #24
I just found that you made a pull request already. Thanks for your contribution!

[2017-11-26 03:32] #3 closed

[2017-11-27 15:38] acreskeyYouI commented on #24
Awesome!

[2017-11-29 07:02] cryguy opened #26 "extra data present in body"
when writing the response body to a file, i found that it contained extra unwanted data.  I was trying to make it get a file from a api, the data is in base64 and it appends value before the expected data

![image](https://user-images.githubusercontent.com/26816658/33362192-342c265e-d516-11e7-8c72-79eca292ed3a.png)

the expected result =

![image](https://user-images.githubusercontent.com/26816658

[2017-11-29 13:27] yhirose commented on #26
@cryguy, thanks for the report. Yes, this is caused by the server sending the body data with '[HTTP/1.1 Chunked transfer encoding](https://en.wikipedia.org/wiki/Chunked_transfer_encoding

`httplib::SSLClient` sends a HTTP request with 'HTTP/1.0". ([code](https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L748))
But it seems like the server doesn't respect the HTTP version of the client r

[2017-12-01 09:54] wichtounet opened #27 "Warning: bufSize is not used"
Hi,

I just starting trying your library and noticed a warning:

[Here](https://github.com/yhirose/cpp-httplib/blob/90f9cd40f94b1244ffc1902b48ee68a31e4712c7/httplib.h#L256)

I could ignore it, but since it's a buffer size, wouldn't that be a bug and the bufsize should be used to prevent buffer overflow, no ?

Thanks

Baptiste

[2017-12-02 01:41] yhirose commented on #27
@wichtounet, thanks for the report. It's definitely a dangerous problem. I'll take a look at it.

[2017-12-02 15:25] #27 closed

[2017-12-02 20:23] wichtounet commented on #27
@yhirose Thanks for the fix!

Just a side note, now there are warnings about unsigned comparisons with signed, you can just set the bufSize parameter to unsigned int (or size_t) to silence them.

[2017-12-03 13:17] yhirose commented on #27
@wichtounet, thanks! I fixed them.

[2017-12-03 13:40] wichtounet commented on #27
@yhirose  Perfect, thanks :)

[2017-12-04 02:26] #26 closed

[2017-12-04 03:31] #19 closed

[2017-12-04 03:33] yhirose commented on #19
@pavolzetor, I think I fixed the problem you encountered. Please let me know if you still have the problem with the latest code. Thanks again for your fine report.

[2017-12-05 16:32] yhirose opened #28 "Keep-Alive connection support on Server"
https://en.wikipedia.org/wiki/HTTP_persistent_connection

[2017-12-06 00:30] #21 closed

[2017-12-06 16:46] moonshadow565 opened #29 "Use _WIN32 defintion to detect Windows instead of _MSC_VER"
Currently you are assuming that windows compiler is always MSVC (by checking_MSC_VER) which might not be true (as is in my case).
You should change it to check for (_WIN32) in all places first.
Also you might consider adding autodetection for headers when c++17 compiler is found...
Example:
[code]

[2017-12-06 16:53] moonshadow565 opened #30 "Default headers for Client:send"
It would be nice if  ``Client:send`` added default_headers (``HOST``, ``User-Agent``, ``Accept``)  when they are not set :)

[2017-12-07 05:21] yhirose commented on #29
@moonshadow565, good suggestions!

[2017-12-07 05:21] #29 closed

[2017-12-07 05:49] yhirose commented on #30
@moonshadow565, thanks for the suggestion.

[code]

If we remove `const` from 'const Request& req', it's possible to add the default headers. But making the `req` mutable doesn't sound good idea...

Or in `Client::send`, we could clone the `req` argument and add the default headers. In this way, we can keep the `req` immutable, but cloning may cost a lot if the `req` is a big object.

I'll ponder

[2017-12-07 18:06] moonshadow565 commented on #30
Instead of adding them you could simply write them to the stream :)

[2017-12-07 18:21] yhirose commented on #30
`httplib.h` writes headers in the `write_headers`.

[code]

If we want to write out `HOST` header here for example, it cannot write it unless the function is given the host and port information. Also it is used for  HTTP response which doesn't need the `HOST` header...

Anyway, I'll look into it more on this. Thanks!

[2017-12-07 18:23] moonshadow565 commented on #30
@yhirose
Anything goes really :)
What i really need is to have send method that takes as arguments:
-method
-body
-"addtional" headers that are used as arguments on REST server
Also ``HEAD`` request still has headers as response and no body AFAIK.

[2017-12-08 12:57] moonshadow565 opened #31 "Split into multiple headers for development and merge for distribution"
It would be really helpfull to split the library into multiple ``.hpp`` files for development and then merge them into single ``.hpp`` / ``.h`` for distribution :)
Examples:
https://github.com/ThePhD/sol2/blob/develop/single.py
https://github.com/oftc/jsoncpp/blob/master/amalgamate.py
https://github.com/connormanning/arbiter/blob/master/amalgamate.py

This would not only allow for easier developme

[2017-12-08 16:31] yhirose commented on #31
@moonshadow565, thanks for the suggestion. Yes, I understand it has a number of benefits. But I still prefer keeping it in one file which doesn't depend on any other process such as merging or building process. My other 'cpp-???' libraries (cpp-peglib, cpp-linenoise, cpp-mmaplib...) also follow the same principle.

This is actually a nice code improvement. I'll implement it when I have time. Thank

[2017-12-08 20:30] moonshadow565 commented on #31
Tbh the only upside i can see with single file vs single folder is that its slightly easier to download.
Its a simple python script which works for both python 2 & 7.
And it wont depend on anything because you can simply put single header version in dist folder in the repo.
You could even use appveyor to automate the process or as only mainteiner invest a second of your time for merging.
So it wou

[2017-12-10 03:03] yhirose opened #32 "Allow case insensitive HTTP header"
Allow server to accept case insensitive HTTP header such as 'content-type: text/plain'.

[2017-12-10 03:34] yhirose commented on #31
I understand it's painful. 😢 (I guess I like the @antirez's style which contains everything in a single .c file like [linenoise.c](https://github.com/antirez/linenoise/blob/master/linenoise.c) and [kiko.c](https://github.com/antirez/kilo/blob/master/kilo.c). Of course he doesn't use the style for large scale projects such as [redis](https://github.com/antirez/redis).)

Glad to hear that! @undersco

[2017-12-10 04:13] moonshadow565 commented on #31
Ty for your time.
I understand now clearly why you keep it single file and wont press into that anymore.
Would be nice to make file server optional as well since that might not be needed allways as well.

I understand purpose of  ``details`` namespace :)
Was just questioning the decision if you want to hide some of realy usefull functions there.
Url encode/decode functions are one such functions f

[2017-12-10 20:17] #30 closed

[2017-12-11 03:34] #32 closed

[2017-12-11 03:35] #31 closed

[2017-12-11 13:56] ReneKeilwerth opened #33 "add GET with byte range"
added functionality to get downloading portions of big files using range_low & range_high
can be easily achieved with following code:
( default parameter values must be defined in the class definition, they are just in the implementation for ovesight )
`
        inline void Client::add_range_header (Request &req, int64_t range_low, int64_t range_high)
        {
                std::string range_st

[2017-12-12 01:09] yhirose commented on #33
@ReneKeilwerth, thanks for the suggestion! I put label 'enhancement' and 'HTTP/1.1'.

[2017-12-13 03:20] #33 closed

[2017-12-13 03:23] yhirose commented on #33
@ReneKeilwerth, the HTTP range has been supported.
https://github.com/yhirose/cpp-httplib#range-http11

[2017-12-14 17:01] nioncode opened #34 "Support Timeouts on Client"
How can we define custom timeouts for requests?

My current code:
[code]
This just blocks when the server is not reachable. I'd like to report an error after 5 seconds.

[2017-12-15 00:56] yhirose commented on #34
@nioncode, thanks for the report.

In order to reproduce the problem, I tried the following tests:

[code]

[code]

[code]
Is the 3rd example similar to yours?

Thanks for your assistance!

[2017-12-17 00:06] yhirose opened #35 "Multi-thread support"
Multi-thread support to accept simultaneous connections as bellow.

[code]

Allow users to disable this feature with `CPPHTTPLIB_NO_MULTI_THREAD_SUPPORT`.

[2017-12-17 00:08] #35 closed

[2017-12-17 23:00] yhirose opened #36 "Keep-Alive connection support on Client"

[2017-12-21 03:55] #28 closed

[2017-12-25 03:07] Ajusa opened #37 "How to build with Mingw on Windows?"
Hey there,

I really like the idea behind this library, but I am running into a few issues when trying to include this with my project. I am using g++ with Mingw on Windows, rather than Visual Studio.

My current command to run everything looks like this:
[code]
I am also using a Webview library to create a browser. The errors that I receive are related to " undefined reference to `_imp__freeaddri

[2017-12-26 04:28] yhirose commented on #37
@Ajusa, thanks for your interest. Since I have never tested this library on Mingw, I am not sure of the exact reason why the linker complains. But according to the following stackoverflow answer, adding `-lws2_32` may solve the problem.
https://stackoverflow.com/questions/2033608/mingw-linker-error-winsock

[2017-12-28 19:41] Bendr0id commented on #34
@yhirose i ran exactly in the 2nd problem. Which is a valid case, for example you try to connect to your webservice which is for unknown reason offline for a few seconds. It will block forever.

[2017-12-28 19:48] nioncode commented on #34
Sorry for not getting back to you. I believe it's the second case, the same @Bendr0id reported. When I forgot to start my local server, then the request just blocks forever without giving the client any chance to recover from the connection issue.

[2017-12-28 19:51] rekonnected commented on #34
I'm assisting @Bendr0id with testing on this issue, and my experience is that when I start the server, other issues cause it to lock up and stop accepting connections (almost definitely unrelated), but each time I restart the server, more clients refuse to connect (out of ~250.) We believe it has to do with this.

[2017-12-29 18:41] Bendr0id commented on #34
@yhirose

Adding something like this to `create_socket` functions for loop should do the trick.

[code]

Of course the timeout shouldn't be hardcoded.

[2017-12-29 19:52] yhirose commented on #34
@nioncode, @Bendr0id, @rekonnected, thanks for the valuable inputs.

I have actually been working on it and I confirmed this problem is fixed on most of cases with the following code. (This code is a bit messy. I'll do some code cleanup later.)

[code]

I am tackling a last remaining tough problem only happening on Windows. (The client on Windows gets stuck when sending a HTTP request to a server

[2017-12-29 19:55] yhirose commented on #34
Also the following is needed.

[code]

[2017-12-29 19:57] Bendr0id commented on #34
@yhirose why not just settings socket timeout via sockopt? just a few lines of code, testen it on linux and windows. And timeout could be easily set f.e. via constructor of client.

[2017-12-29 20:11] Bendr0id commented on #34
[code]

This is how i solved it. It makes sense to do this in general for sockets. Otherwise server socket could also block, when for example connected client drops connection while it is processing.

[2017-12-29 23:31] yhirose commented on #34
@Bendr0id, thanks for the nice simple solution. I tried the above code to see if the 2nd problem (Host: 'gogole.com', Port: 8080, Method: GET, Path:'/') is fixed.

I got very interesting results:

# On Ubuntu 16.04
Timeouts successfully in 5 seconds

# On Windows 10
Timeouts successfully but takes always 20 seconds, not 5 seconds

# On Mac OS (High Sierra)
Blocks (I waited over a minutes, but does

[2017-12-30 05:03] #11 closed

[2017-12-30 05:05] yhirose opened #38 "Gzip decompression support on Client"

[2017-12-30 20:54] yhirose commented on #34
@nioncode, @Bendr0id, I have just fixed this problem and pushed it to the ['connection-timeout' remote branch](https://github.com/yhirose/cpp-httplib/tree/connection-timeout). I have confirmed it worked on Mac, Windows and Ubuntu.

The client constructor now takes the 3rd parameter 'timeout seconds' as bellow. If we don't specify it, it defaults to 300 (5 min).

[code]

As I mentioned already, my

[2018-01-04 18:11] borishardbass opened #39 "Get connected client ip address @ server"
Need an easy way to access it, perhaps in request structure

[2018-01-05 23:22] #34 closed

[2018-01-11 18:26] yhirose commented on #37
@Ajusa, please let me know if you still have this problem.

[2018-01-11 18:26] #37 closed

[2018-02-28 21:10] pavolzetor commented on #19
No crash for quite bit time so I guess it fixed it. Thank you.

[2018-03-06 15:10] kevinbcarpenter commented on #39
I had to solves this problem and considered two solutions.  First was to capture the IP address at the accept call (in Server::listen), but then I would need to pass the IP into the request and the scope seemed wrong.  Alternatively I figured I could write a function for SocketStream and get the IP from there and set it in the request.  The + notes my additions.

[code]

Then in Server::process_re

[2018-03-07 07:53] LambdaHJ opened #42 "client post file example code"
how to post file to server, content_type `multpart/form-data`

[2018-03-08 21:10] yhirose commented on #42
@LambdaHJ, please see [my HTTP client test code](https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L543-L566).

[2018-03-08 21:10] #42 closed

[2018-03-14 03:11] yhirose commented on #39
Closed with #41.

[2018-03-14 03:11] #39 closed

[2018-03-25 14:48] malkindan opened #43 "Support server stop"
How does the library Server object support stopping the listener ?

[2018-03-25 18:50] yhirose commented on #43
@malkindan, the Server has [the `stop` method](https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L202).

This method should be called in a different thread from the thread where the server is running. I am using it in [my example](https://github.com/yhirose/cpp-httplib/blob/master/example/server.cc#L102-L104).
[code]

[2018-03-25 19:06] malkindan commented on #43
Yes . I found it . Exactly what I am doing.
I am hosting the server inside Windows service. After I call stop() it just
hangs

On Sun, Mar 25, 2018 at 9:50 PM, yhirose <notifications@github.com> wrote:

[2018-03-25 19:34] yhirose commented on #43
Sorry to hear that... Actually, the above example that I mentioned isn't good. [This example](https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L272-L284) in my unit test could be better.

[code]

The point is that the `listen` method runs in a different thread from a thread where the `stop` method runs.

If it still doesn't help you, could you show me how to call the `listen` and `s

[2018-03-25 19:46] malkindan commented on #43
Thank you. I will test tomorrow and tell you if this worked

On Sun, Mar 25, 2018 at 10:34 PM, yhirose <notifications@github.com> wrote:

[2018-03-26 12:00] malkindan commented on #43
I downloaded the new version of httplib and now stop works well.

On Sun, Mar 25, 2018, 22:46 Dan Malkin <malkin.dan@gmail.com> wrote:

[2018-03-26 12:07] yhirose commented on #43
Thanks for the report! 😄

[2018-03-26 12:07] #43 closed

[2018-03-30 19:36] lasryaric opened #44 "Receving SIGPIPE signal if the hostname / port is wrong"
When using the code sample :

` ``
 std::thread signaling_health_thread([] () {
      printf("hey from new thread!\n");
      httplib::Client cli("localhost", 1234);

    auto res = cli.get("/hi");
    printf("I have got a res!\n");
    if (res && res->status == 200) {
      std::cout << res->body << std::endl;
    }
    });
    signaling_health_thread.join();
[code]

[2018-04-02 16:21] adamshapiro0 commented on #44
I'm hitting the same issue. The call to `send()` in `SocketStream::write()` is issuing a SIGPIPE since the endpoint doesn't exist.

The issue seems be when `create_client_socket()` tries to establish a connection to the remote machine. It does that by setting the socket to non-blocking before calling `connect()`, presumably so the connection attempt returns quickly instead of waiting for a connect

[2018-04-02 16:28] adamshapiro0 commented on #44
Took a quick look at the git log and it looks like @yhirose made this change in December in #40 to resolve #34 (add connection timeout support). @yhirose, would you mind commenting on the blocking/non-blocking connection attempt?

[2018-04-02 22:03] yhirose commented on #44
@lasryaric, @adamshapiro0, thank you for the valuable feedback.

Please see my following comment regarding the non-blocking connection attempt:
https://github.com/yhirose/cpp-httplib/issues/34#issuecomment-354567796

As you see in the comment, #40 implements the connection timeout feature that someone requested. I tried it in the cross-platform way as cURL does to work on MacOS, Linux and Windows.

[2018-04-02 22:16] lasryaric commented on #44
I was running it on ubuntu:16.04 over docker for macos.
Does that help you or do you need more information?

Also, I have no idea why, but it seemed to do that the port 1234 (as per the example) but not when using the port 81, which was closed.
I will try to reproduce and give you more information if I can .

[2018-04-02 22:33] adamshapiro0 commented on #44
I was also using Ubuntu 16.04 on a bare metal machine. Did you try running in GDB? I found that with even core dumps enabled, if you run it outside of a debugger it just crashes silently. When I run in GDB the `SIGPIPE` is obvious.

I was able to replicate it with this:

[code]

[2018-04-03 23:05] yhirose commented on #44
Thank you for the comments and sample code. I am now able to reproduce it.

[2018-04-05 17:20] yhirose commented on #44
@adamshapiro0, your comment regarding `EINPROGRES` gave me a good insight.

I checked this matter with the UNIX Network Programming by W. Richard Stevens, and found a correct way to handle the non-blocking connection at §16.4 of the book. ([sample code](https://github.com/hailinzeng/Unix-Network-Programming/blob/master/lib/connect_nonb.c))

When I have free time this weekend, I'll work on this pro

[2018-04-05 18:06] adamshapiro0 commented on #44
Great - glad I could help!

[2018-04-06 21:03] #44 closed

[2018-04-06 21:08] yhirose commented on #44
@lasryaric, @adamshapiro0, I fixed this issue, and confirmed on Mac OS, Windows and Ubuntu 16.04.
When you have time, could try the latest `httplib.h`?

[2018-04-06 22:07] lasryaric commented on #44
thank you @adamshapiro0 , I should start testing it on Monday or Tuesday so I will keep you posted.

[2018-04-07 15:45] adamshapiro0 commented on #44
That seems to be working for me. Thanks!

[2018-04-11 19:07] yhirose opened #45 "SSE (Sever-Sent Events) support on client"

[2018-04-14 00:35] sgraham opened #46 "Method to retrieve port after starting with port 0?"
I was trying to use cpp-httplib for running tests, so I'd like to start it on a system-selected port, and then have clients connect to that port. I don't want to pre-select a port number to avoid collisions with other things on the system, or when tests are run in parallel.

When I do the common thing of passing 0 as the server port everything seems to work, and I was able to hunt down the actual

[2018-04-14 02:36] yhirose commented on #46
@sgraham, thanks for the feedback. cpp-httplib doesn't have a method that tells the actual port.

It seems like we can the figure out the actual port with `getsockname` system call. But it's a bit difficult to pass it to a user, since `Server::listen` method is a blocking method.

One solution is to make a method like `Server::get_actuall_port`. But a user has to call the method only on a differen

[2018-04-14 20:49] squashmode opened #47 "Case sensitivity in regex for multipart/form-data"
Some browsers seem to send metadata about MultipartFiles as lower-case 'content-type' and 'content-disposition'.  This seems to be consistent with the specification (RFC7578).  Currently, these are missed with this http server and are therefore not handled correctly.

The simple diff below changes the regex(es) that look for this metadata to case-insensitive and fixes this problem.

[code]

[2018-04-14 22:43] #47 closed

[2018-04-14 22:45] yhirose commented on #47
@squashmode, thanks for the bug report. I implemented your solution and works fine.
Thanks again for your conrribution!

[2018-04-15 03:11] sgraham commented on #46
Thank you for considering this request! Perhaps an on_connected() would be slightly simpler conceptually, but either of those solutions seem fine to me.

[2018-04-15 07:30] sgraham commented on #46
Another thought I just had... I think the port is selected by this point? https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L1413

Perhaps it would be possible to split optionally split `listen()` at that location, so that the user can call something like `bind_to_any()`, which could return the selected port, and then call `listen_after_bind()`. I'm not sure if that's better or worse th

[2018-04-15 07:52] sgraham opened #48 "Race in startup/shutdown test code"
I think this only really affects the test code, but I thought perhaps you would want to know.

In investigating a possible patch for #46, I split `listen()` into helper functions locally. After I did that I was experiencing an occasional crash in the server tests. I made a repro by adding a short sleep() in the body of listen() on master like this: https://github.com/yhirose/cpp-httplib/compare/ma

[2018-04-15 07:59] sgraham commented on #46
Something like https://github.com/yhirose/cpp-httplib/compare/master...sgraham:system-assigned-port?expand=1 is what I was thinking for above, if you like that approach.

[2018-04-15 21:53] yhirose commented on #46
@sgraham, your approach looks much better than mine! Could you make a pull request, so that I could merge it to my master. The only thing is the name of `bind_to_any()`. Could something like `bind_to_any_port()` be clearer to users?

[2018-04-16 21:40] #46 closed

[2018-04-16 22:00] sgraham opened #52 "Crashing on shutdown due to handler threads"
I'm finding I have crashes on shutdown due to https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L1596.

In this case, the worker thread is copying `this` by value. If, while the thread is servicing the request the server is shutdown, listen() returns, and Server is destroyed, then e.g. `Server::process_request` can try to access freed memory running on the thread.

A simple way to fix t

[2018-04-17 02:25] yhirose commented on #52
@sgraham, thanks for the bug report. You are completely right.

Until thread pool is implemented, it may be sufficient to use the 'hacky way'. I implemented it with C++11 `std::mutex` at 'issue-52' branch. https://github.com/yhirose/cpp-httplib/compare/issue-52?expand=1.

Does this solution work for you? (We could use `std::atomic<int>`, but I feel that not all C++ compilers properly support the f

[2018-04-17 02:58] sgraham commented on #52
Yeah, that looks good to me, thanks for the quick fix.

[2018-04-17 04:07] yhirose commented on #52
Fixed at #53.

[2018-04-17 04:07] #52 closed

[2018-04-17 17:11] #48 closed

[2018-04-17 17:15] yhirose commented on #48
@sgraham, thanks for the bug report. I fixed it at b6df220 with your nice test sample. Please let me know if you still have the problem. Thanks for your help!

[2018-04-20 16:05] #38 closed

[2018-04-23 04:51] Mamlesh opened #56 "having Linker problem ...."
LNK2019	unresolved external symbol __imp_WSAStartup referenced in function "public: __cdecl httplib::detail::WSInit::WSInit(void)" (??0WSInit@detail@httplib@@QEAA@XZ)

got this error when i add <httplib.h> file in my project....
pls help...

[2018-04-23 13:09] yhirose commented on #56
@Mamlesh, I guess you forgot linking Ws2_32.lib. Please check the 'Requirements' section in the MSDN document.
https://msdn.microsoft.com/en-us/library/windows/desktop/ms742213(v=vs.85).aspx

Also you can find my VC sample projects in 'example' folder.
Hope it helps.

[2018-04-23 21:42] DJuego opened #57 "RESTful web server"
Thank you for this project! Thank you for your effort!

Header-only, no dependencies. cross-platform, light and elegant... It's the closest thing to the solution I was looking for.

Only I miss a more complete interface (with PUT and DELETE and perhaps, others). Any reason not to implement those features?

In any case I am not an expert and I think that what your project offers is enough for my pu

[2018-04-24 00:35] yhirose commented on #57
@DJuego, thank you for the feedback. There wasn't any particular reason why I haven't implemented other methods like PUT and DELETE. I only needed GET and PUT when I wrote this library. I may add missing HTTP methods in the future. Thanks for asking!

[2018-04-24 00:40] #56 closed

[2018-04-24 21:04] geraldolsribeiro opened #58 "Static compilation results in segmentation fault"
I need to build a static executable using cpp-httplib.

Then I add `-static` to `CFLAGS` and  `-ldl -Wl,--whole-archive -lpthread -Wl,--no-whole-archive` to the `LDFLAGS`.

After my changes the `test/Makefile` contains:

[code]
When I run the test suite its ok until

[code]

[2018-04-25 01:28] yhirose commented on #58
@geraldolsribeiro, I'll try to reproduce your problem on my machine if it's possible. Could you give me the following information?

 - OS name and version (e.g. macOS High Sierra version 10.13.4)
 - Compiler name and version (e.g. clang version 5.0.1)

Thanks!

[2018-04-25 02:00] geraldolsribeiro commented on #58
Thanks for your fast reply.
Your library is awesome!

I'm using a Debian stable distro:
[code]

[2018-04-25 03:59] yhirose commented on #58
@geraldolsribeiro, thank you for the info.  When I tried to build with clang 3.8.0 on Ubuntu 16.04, I got the following warnings.

[code]

Do you get similar warnings as well?

[2018-04-25 04:12] geraldolsribeiro commented on #58
[code]

[2018-04-25 04:15] geraldolsribeiro commented on #58
It can be related to https://sourceware.org/bugzilla/show_bug.cgi?id=10652

[2018-04-25 05:05] geraldolsribeiro commented on #58
Thank you so much!

[2018-04-25 13:31] #58 closed

[2018-04-27 17:10] DJuego opened #60 "Issues with cpp-httplib and MinGW"
Hi again!
I try cpp-httplib with MinGW (x86_64-7.3.0-release-win32-seh-rt_v5-rev0.7z)

I have had to add to httplib.h the lines (and #define WIN32_  and #define MINGW)

[code]
NOTE: I got mingw.mutex.h and mingw.thread.h from [https://github.com/meganz/mingw-std-threads](https://github.com/meganz/mingw-std-threads)

After that, i get:

[code]

Apparently, I have solved this problem by adding the f

[2018-04-27 22:15] yhirose commented on #60
@DJuego, thanks for the error report!

I just found the following stackoverflow post. (https://github.com/etr/libhttpserver/issues/71#issuecomment-91380339)
It seems like it would be better to use `getnameinfo` since the function is supported on all platforms.
I'll give it a try when I have time this weekend.

[2018-04-29 21:37] yhirose commented on #60
@DJuego, I made the change at [`issue-60`](https://github.com/yhirose/cpp-httplib/tree/issue-60) branch. When you have time, could you test the `httplib.h` on the branch with your MinGW? (I don't have the compiler.) Thanks!

[2018-04-29 22:15] DJuego commented on #60
Thank you for your effort, @yhirose ! :-)

Well I have changed the old folder cpp-httplib  with the new folder cpp-httplib in my project:

I get (MinGW)

[code]
And i get (Visual Studio 2017):

[code]

[2018-04-29 22:25] yhirose commented on #60
@DJuego, I forgot to include #50 and I fixed it just now.
Could you get the latest httpib.h on issue-60 branch, and test it again?

[2018-04-29 22:53] DJuego commented on #60
Congrats! It works like a charm in x86_64-7.3.0-release-posix-seh-rt_v5-rev0 and Visual Studio 2017.

Thank you! Good work! I guess in the next days i am going to test it more thoroughly. :-)

In an anecdotal note I have problems with x86_64-7.3.0-release-win32-seh-rt_v5-rev0.

I had to add for building:

[code]
However the application crashed.  Anyway, I do not think the problem is cpp-httplib.

[2018-04-29 23:02] #60 closed

[2018-05-05 20:48] yhirose commented on #57
Also need OPTIONS (#62).

[2018-05-05 21:35] yhirose commented on #57
Providing `Server::delete` method is not possible since `delete` is a C++ reserved keyword. So we have to compromise to choose a different name like `del`. Or we could use `DELETE`. If we choose such a word with all capital letters, I guess others like `get`, `head` and `post` also should be changed to `GET`, `HEAD`, and `POST` for consistency. It'll cause a breaking change, but it seems like that

[2018-05-09 01:58] #57 closed

[2018-05-09 08:05] oysteinmyrmo opened #65 "httplib::Map does not exist"
Under *POST with parameters* in the README it is showed how to use `httplib::Map` to post data. This does not exist anymore and should be updated to `httplib::Params` (?).

[2018-05-09 08:55] DJuego opened #66 "Readme: example of 'Put'"
There are no 'Put' in the current example of 'Put'. :-) (README)
DJuego

[2018-05-09 11:15] yhirose commented on #65
@oysteinmyrmo, yes, you are right. thanks for the report!

[2018-05-09 11:15] yhirose commented on #66
@DJuego, oops... good catch!

[2018-05-18 14:57] mkdotcom opened #68 "params["name"] = "john" doesn't compile"
Hello
Thanks for the lib!

I got an issue with "httplib::Params".

According to readme we can fill in post parameters like this :

httplib::Params params;
params["name"] = "john";

But it doesn't compile : error C2676: binary '[': 'httplib::Params' does not define this operator or a conversion to a type acceptable to the predefined operator

Params is a std::multimap and it seems it doesn't suppor

[2018-05-18 16:01] yhirose commented on #68
@mkdotcom, thanks for the report. yes, you are correct.

I changed to use std::multimap from std::map at this commit https://github.com/yhirose/cpp-httplib/commit/c3346a481538f01748e5a60b158ac18aac6197ac.

[code]

I think it's not very convenient. I'll think about making the interface easier to use. We now have to do as bellow.

[2018-05-18 20:44] #68 closed

[2018-05-22 09:10] mkdotcom commented on #68
Thanks you

[2018-05-25 15:59] vaggeliskls opened #69 "Http Request Middleware -Benchmark"
First of all. Contratulation on your excellent work. Iam coming from nodejs world so i found it easy to understand your vision.

1. Does this library support some kind of middleware functions (auth or ip filter middleware etc.).

2. Secondly, is there any benchmark that compares performance with other frameworks ? (cpprestapi
 casablanca etc.)
Thank you.

[2018-05-25 20:11] yhirose commented on #69
Thanks for the questions. Answer is no for both questions. This is just a small http library. I am not planning to make it like a web framework.

[2018-05-25 20:11] #69 closed

[2018-05-31 05:55] sgraham opened #71 "Delay in shutdown since moving to HTTP/1.1"
Hello,

I had been using the default setting for the server which was HTTP/1.0 until recently. In test situations, the client code sends one request, and after the server has sent its response, it calls Server::stop(), ending the test. This still works correctly, however, I believe because of the change to 1.1, causes the server to wait for 5s (CPPHTTPLIB_KEEPALIVE_TIMEOUT_SECOND) before terminati

[2018-05-31 10:48] crtxcr opened #72 "Get full URL from Request?"
First of all, great little library!

Is it possible to get the full URL as sent by the client from the Request struct? I know I can get the path and params, but sometimes it's useful to get the full URL.
So, if the browser requests: http://127.0.0.1:1234/app?var1=value1&var2=value2
With **Request::path** I can get e . g. /app. With **Request::params** I can access the variables, but seems there is

[2018-05-31 15:36] yhirose commented on #71
@sgraham, I couldn't foresee the situation when I made the change. Sorry about that...

If you set 'close' value to the HTTP 'Connection' header in your client request, the server will close the session immediately after it sends the response. Does it work for you?
https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L1764-L1767

If it's not, I am thinking to add a new method like 'set_kee

[2018-05-31 18:29] sgraham commented on #71
Hi, thanks for looking and for the suggestion! It certainly wasn't obvious to me either that the change would cause this behaviour.

I tried adding "connection: close" on Mac, Linux, and Windows, and got three different results:

- On Windows (connecting using winhttp), adding connection:close makes it work as expected.
- On Linux (connecting directly with socket and some custom code), it doesn't

[2018-05-31 20:13] sgraham commented on #71
I'm still not sure why Linux doesn't delay for a long time. The select() on the worker thread just returns quickly (saying that there's something to read, a return of 1). Mac and Windows eventually timeout with a return of 0. I don't know why the behaviour is different though.

[2018-05-31 23:05] yhirose opened #73 "Keep alive connection doesn't work on Linux"
See #71 for the detail.

[2018-05-31 23:07] yhirose commented on #71
Thanks for the investigation. For the linux problem, I made a separate issue (#73). I'll take a look at it when I have time.

It seems like the behavior of handling the HTTP Connection header is not consistent among operating systems. So I added 'set_keep_alive_max_count' method on Server class. Do you think if it can work for you?

[2018-06-01 02:17] #72 closed

[2018-06-01 02:18] yhirose commented on #72
@crtxcr, thanks for the feedback. I added 'target' property which represent 'request-target' described [here](https://tools.ietf.org/html/rfc7230#section-3.1.1) in RFC 7230.

[2018-06-01 04:56] sgraham commented on #71
Thanks, that works perfectly!

[2018-06-01 04:56] #71 closed

[2018-06-01 08:36] crtxcr opened #74 "Out of bounds array access in decode_url and from_hex_to_i"
decode_url is used in Server::parse_request_line
`        req.path = detail::decode_url(m[3]);`

First out of bounds access happens if the path ends with %:
[code]

Furthermore, **from_hex_to_i** gets the index, but trusts it, so here some checks are also necessary.

[2018-06-02 03:05] #74 closed

[2018-06-02 14:57] JulZimmermann opened #77 "Signal: SIGPIPE (Broken pipe) when client closes connection"
Hi,
when a client closes the connection to the cpp-httplib sever while the server is still processing the request, a sigpipe will occur:

This happens here:
[code]

I fixed this problem by passing MSG_NOSIGNAL to send:
`send(sock_, ptr, size, MSG_NOSIGNAL)`

I sow e4ef0828b097eb52afc20d3accd675e5a0ab650a already tried to prevent signals, but this doesn't  work for me (probably some other library a

[2018-06-04 02:43] yhirose commented on #77
@JulZimmermann, thanks for the bug report. Before implementing your suggestion, I would like to reproduce it on my machine and add a unit test for it as I do usually when fixing any problem. Could you show me a simple code snippet that reveals the problem, so that I could add it to test/test.cc? (Also could you tell what OS you are running on and what library do you think that activates signals ag

[2018-06-12 22:39] aric-driveai opened #78 "What version of OpenSSL should we link to?"
I am linking against open ssl to use SSLClient but I am getting a segmentation fault error:

[code]

#1  0x0000000000595557 in operator() () at ../../examples/peerconnection/client/httplib.h:2068
:

[code]

[2018-06-12 23:16] yhirose commented on #78
@aric-driveai, thanks for the report! I am using `OpenSSL 1.0.2o  27 Mar 2018` which is installed through Homebrew package manager on my MacBook. I haven't tried with 1.1.x yet... I should probably mention it on README.

[2018-06-13 01:31] aric-driveai commented on #78
I just tried with openssl 1.0.2o under ubuntu 16.04LTS and I still get the same segfault...

Did you ever get it to work under Ubuntu?

[2018-06-13 01:42] aric-driveai commented on #78
So, I just added "https://" at the beginning of my url and now it does not segfault anymore..
But now I get back a nil response object.

[2018-06-13 02:30] yhirose commented on #78
Yes. I tested on Ubuntu 16.04 as well as Mac and Windows 10 a little while ago, and confirmed all unit tests passed successfully. Could you go into `test` directory, and run `make`?

[2018-06-14 16:04] yhirose commented on #78
@aric-driveai, I tested on Ubuntu Server 18.04 on VirtualBox as follows:

[code]

All 54 unit tests passed successfully. I also confirmed all the tests worked with g++ compiler.
Please let me know your result.

[2018-06-14 16:24] yhirose commented on #78
I also confirmed that the test worked successfully with libssl1.1.

[code]

[2018-06-16 10:01] how0723 opened #79 "This lib does not work on linux (debian)"
This lib does not work on linux (debian)
I make a project to set up a http-server,
but it does not work
why

[2018-06-16 10:27] DJuego commented on #79
Hi!  I think you should better explain your problem. The more relevant details give you better chances of fixing your problem.

In order to identify the problem you should post a **complete and minimal code** than reproduces the initial problem.

It is important that:

-     the code is complete, so people can test it
-     the code is as simple as possible, the best is one main() with all the cod

[2018-06-16 12:29] yhirose commented on #79
@DJuego, thank you for the valuable information which helps a lot both users and developers!

@how0723, please describe the problem on your machine clearly according to the @DJuego's suggestion. I actually confirmed all 54 unit tests passed successfully on the latest Debian based Ubuntu 18.04 LTS server. (on VirtualBox on MacOS.) Thanks!

[2018-06-16 23:49] yhirose commented on #78
One of the unit tests that you could refer to is the following:

[code]

[2018-06-17 02:10] how0723 commented on #79
here is my code , is the sample code
and it can work on windows , but just can not work on debian

//
//  simplesvr.cc
//
//  Copyright (c) 2013 Yuji Hirose. All rights reserved.
//  The Boost Software License 1.0
//

#include <httplib.h>
#include <cstdio>
#include <iostream>

#define SERVER_CERT_FILE "./cert.pem"
#define SERVER_PRIVATE_KEY_FILE "./key.pem"

using namespace httplib;
using namespac

[2018-06-17 02:12] how0723 commented on #79
when I excute the code , there is not any reply

[2018-06-17 02:28] yhirose commented on #79
Could you tell me the compiler and compile options that you are using?
Thanks.

[2018-06-17 02:31] how0723 commented on #79
this is my cmakelist file

# set minimum cmake version
cmake_minimum_required(VERSION 3.0)
project(network-test)

set(CMAKE_RUNTIME_OUTPUT_DIRECTORY ${PROJECT_BINARY_DIR}/bin)
set(CMAKE_LIBRARY_OUTPUT_DIRECTORY ${PROJECT_BINARY_DIR}/lib)
set(CMAKE_ARCHIVE_OUTPUT_DIRECTORY ${PROJECT_BINARY_DIR}/lib)

set (CHTX_PR_ALG_VERSION_MAJOR 1)
set (CHTX_PR_ALG_VERSION_MINOR 0)

# c++11 required

if(CMAKE_HOS

[2018-06-17 03:13] yhirose commented on #79
Your cmake file looks probably OK. So there must be a different factor.

Could you do the following simple test for me?

In a terminal window:
[code]

In another terminal window:
[code]

In my case, `curl` successfully dumps the content of `simplesvr.cc` in the terminal window. How about your case?

[2018-06-17 03:20] how0723 commented on #79
in my case
I opened a terminal and type
curl http://localhost:8082/index.html
it successfully dumps the content of index.html .

but on the another pc
I can not visit the index.html

[2018-06-17 03:31] yhirose commented on #79
In order to access the HTTP server from another machine, you have to set the correct hostname or IP address of the machine on which the HTTP server running.

[code]

Is that the reason why you cannot access to the server from another machine?

[2018-06-17 03:33] how0723 commented on #79
I have set the correnct IP address of the server machine
curl http://192.168.0.134:8082/index.html

[2018-06-17 03:38] how0723 commented on #79
curl: (7) Failed to connect to 192.168.0.134 port 8082: 拒绝连接
拒绝连接 = connection denied
why

[2018-06-17 03:41] how0723 commented on #79
is the reason of firewall ?

[2018-06-17 10:52] yhirose commented on #79
You may check with running the following simple server to see if it's a firewall issue.

[code]
or
[code]

[2018-06-17 11:02] how0723 commented on #79
okay
I used python to test it , it works well , so it not the reason of firewall
now I can visit the http-server on local mathine , but on the anther mathine , I can visit , it replay me that connection refulsed
I have closed the firewall or open the port of 80

[2018-06-17 11:18] how0723 commented on #79
I have found the reason
we can not write code like this , if we write like this , we can only visit the http-server on the local machine.
svr.listen("localhost", port); //localhost

if we write like this , we can visit the http-server on anther machine
svr.listen("0.0.0.0", port);

[2018-06-17 11:40] yhirose commented on #79
Glad to hear that! I'll close this issue.

[2018-06-17 11:40] #79 closed

[2018-06-18 02:16] how0723 commented on #79
you must change your code to save developers time

[2018-06-22 20:28] JacobStewart64 opened #80 "OpenSSL enabled server example failure"
Hi everything looks great and I'm excited to use your code in my project. I'm in the process of setting everything up right now and I'm using your server example to test things. The example returns -1 and I believe it is because it doesn't come with csr and key? That is fine but maybe make a comment or error message for such a case. I think it would highly improve things for beginners. I will make

[2018-06-22 20:31] JacobStewart64 commented on #80
Also the issue could possibly be because I used openssl 1.1.1-pre8, hence the desire for an error message indicating that it is missing csr/key. I will let u know if openssl 1.1.1-pre8 works on Windows.

[2018-06-22 20:41] JacobStewart64 commented on #80
Your API is flat out amazing so IMO it would be worth to sprinkle proper error messages throughout. It looks more fun and easy to use than express lol. GJ!

[2018-06-23 00:49] JacobStewart64 commented on #80
I wrote a few lines of nice error logs. Nobody should get too confused with these messages getting spit at them. I will fork and do a pull request. Not sure if the code is portable, I used a call to system("pause") so the error messages would be visible. Works on Windows lol.

[2018-06-23 00:49] #80 closed

[2018-06-23 13:19] cloudfreexiao opened #81 "Support http server poll one"
my project want use cpp-httplib serve but I found it could  not third logic control the server poll
so my project when use listen  is blocking
dose have any solution
something like this I think is nice [poll_one api](https://github.com/qicosmos/cinatra/blob/master/http_server.hpp#L133)
 thank you

[2018-06-25 04:03] yhirose commented on #81
@cloudfreexiao, thank you for the feedback. I probably don't fully understand what you are trying to say. If you are requesting 'non-blocking' behavior like libuv, I am not planning to handle it because it's not easy for me to implement it correctly and support it on all three platforms, Linux, Mac and Windows. (Of course, a pull request is always welcome!)

[2018-06-25 04:03] #81 closed

[2018-07-31 19:28] davidgfnet opened #83 "Support for large responses?"
Would be nice to have a callback like response where one can send chunks of data, for streaming-like responses. Pretty much to return big files without consuming lots of memory.

[2018-08-01 20:03] aric-driveai commented on #78
I am using httplib.h inside peerconnection_client (a WebRTC example application to use WebRTC native) and they have their own version of OpenSSL (they renamed it BoringSSL) which was the reason of the segfault.

[2018-08-01 20:03] #78 closed

[2018-08-01 22:00] yhirose commented on #83
Fixed with #85

[2018-08-01 22:00] #83 closed

[2018-08-02 11:00] dolphineye opened #86 "Http client request cancelation"
Hello,

We currently use your HTTP client in one of our mobile applications. We have a thread pool that sends HTTP requests to fetch data. Yet, we'd sometimes need to cancel a request when necessary as 2G/3G/4G connections usually have latency issues going from 200 msec to more depending on the connection quality.

We considered changing the `Progress` callback's signature so that it returns a boo

[2018-08-02 21:09] aric-driveai opened #87 "SSLClient not verifying domain name in the certificate"
Hi,

when I connect to an https server for which the certificate does not match the domain name, everything seems to be working correctly.
When I use curl, I get an error like this one:

[code]

is there any way to verify the domain name using this library?

[2018-08-04 15:39] hasanenalbana opened #88 "Downloading binary files"
Hi,

The library interface is great and clean, but wondering to fetch binary files into the result body?

[2018-08-04 23:39] yhirose commented on #88
@hasanenalbana, yes. you can see [the test case](https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L121-L142).

Also the following stackoverflow post could be helpful for you.
https://stackoverflow.com/questions/12335546/when-a-web-server-returns-a-jpeg-image-mime-type-image-jpeg-how-is-that-encod

[2018-08-04 23:39] #88 closed

[2018-08-06 10:07] dolphineye commented on #86
Alright, I've just submitted pull request https://github.com/yhirose/cpp-httplib/pull/89 to introduce this feature. Let me know if you feel that I should bring changes or more testing.

[2018-08-07 02:55] yhirose commented on #86
Fixed by #89.

[2018-08-07 02:55] #86 closed

[2018-09-21 10:39] FutaAlice opened #95 "Server not answer 'POST/PUT' request witch content is empty"
Hi,

I'm using cpp-httplib as a server, and tried to send a post request (use jQuery's $.ajax). It seems that server will not answer while request content is empty.

Here are my test codes:

- Server

[code]

- Client

[code]

The function 'read_content_without_length()' seems blocked at processing POST request witch content is empty.

Here is the raw request data:

[code]

I wonder if it a bug or

[2018-09-23 16:03] #95 closed

[2018-09-23 16:05] yhirose commented on #95
@FutaAlice, thanks for the feedback. Yes, it's apparently a bug. I just fixed it and pushed the commit. Thanks for your contribution!

[2018-09-28 03:14] meloncolie opened #96 "what does the condition "s[i] < 0" mean?"
`inline std::string encode_url(const std::string& s)
{
    std::string result;

    for (auto i = 0; s[i]; i++) {
        switch (s[i]) {
        case ' ':  result += "+"; break;
        case '\'': result += "%27"; break;
        case ',':  result += "%2C"; break;
        case ':':  result += "%3A"; break;
        case ';':  result += "%3B"; break;
        default:
            if (s[i] < 0) {

[2018-09-28 16:08] yhirose commented on #96
@meloncolie, thanks for the question. This is not a bug. When we encode a UTF string, `s[i]` could actually contain negative values, since the `value_type` of `std::string` is `char` (which can take -127 to 127). '-127 to -1' means '0x80 to 0xff'.

Here is an example for the UTF8 copyright mark:

[code]

Does it make sense to you?

[2018-09-30 08:42] meloncolie commented on #96
@yhirose i got it, thx a lot~

[2018-09-30 12:40] #96 closed

[2018-09-30 12:46] yhirose commented on #96
@meloncolie, thanks for the additional information. I now understand your concern. [This stackoverflow post](https://stackoverflow.com/questions/757482/comparison-is-always-true-due-to-limited-range-of-data-type-warning-in-c) explains it well.

I just updated the code. Thanks for your contribution!

[2018-10-02 09:56] DJm00n opened #97 "void Client::write_request should buffer request before writing to socket/stream"
At least some devices do not understand HTTP requests with header and json in separate TCP packets. This is caused by multiple SocketStream::write calls on same socket stream.
To fix this in my case I just implemented BufferStream and just using it in Client::write_request instead of provded Stream& strm:

[code]

[code]

[2018-10-02 16:56] yhirose commented on #97
@DJm00n, thanks for your feedback! I have two questions.

1. Could you give me specific examples of 'At least some devices'?
2. How did you implement `write_format` method on your BufferStream class? (I am just curious because it's not easy to implement it in an efficient way.)

Thanks!

[2018-10-02 17:40] DJm00n commented on #97
@yhirose
1. I working with [Nanoleaf Light Panel](https://nanoleaf.me/en/consumer-led-lighting/products/smarter-series/nanoleaf-light-panels-smarter-kit/) via their [HTTP/JSON API (REST)](https://forum.nanoleaf.me/forum/aurora-open-api/aurora-open-api-documentation) (needs free registration to view documentation) and their devices responds with "`422 Unprocessable Entity`" if request is consists f

[2018-10-02 17:51] yhirose commented on #97
@DJm00n, thanks for the answers. I probably understand what you mean now. The device requires that HTTP header and HTTP body should be sent at a time, but HTTP request line can be send separately, right?
I'll take care of it when I have time.

[2018-10-23 08:17] mschaudhari opened #100 "HTTP POST using JSON in C++"
I would like to make a simple HTTP POST using JSON in httplib.h file(C++).

Let's say the URL is **www.site.com**

and it takes in the value `{"UserName":"abc","Password":"12345"} `labeled as 'login' for example.

How would I go about creating the syntax for the POST?

[2018-10-25 04:53] m4ciek1 commented on #100
`auto cli.Post("site.com/login", "{\"UserName\":\"abc\"}", "application/json");`

[2018-10-28 07:17] #97 closed

[2018-10-28 07:18] yhirose commented on #97
@DJm00n, I finally got time to work on it. I basically took your suggestion as it is. Thanks for your great contribution!

[2018-10-28 12:36] DJm00n commented on #97
@yhirose, thank you!

[2018-11-04 20:20] sinfloodmusic opened #102 "Feature Request: Bind to multiple interfaces (not just 127.0.0.1 or localhost)"
Hi!  Great library!  Noticed I have provide an specific ip or 'localhost' to listen when starting the server can't specify an '*' or pass an empty string to listen to any ip address on my machine.  Makes it tricky in a DHCP environment when I want another system to talk to my app as things move around.  Or maybe I'm just missing something and not seeing it.

I think binding with INADDR_ANY is what

[2018-11-06 10:48] yhirose commented on #102
@sinfloodmusic, can you try '0.0.0.0'?

[2018-11-07 02:36] sinfloodmusic commented on #102
Ugh - I could have sworn I tried that and it didn't work!  But just tried again, and yes, thank you, that worked.  Might be good to have in the examples just to know you've got that use case taken care of.  Thanks!!!

[2018-11-08 02:47] #102 closed

[2018-11-08 02:48] yhirose commented on #102
Thank you! I updated README to mention this.

[2018-11-11 12:05] danesh-d opened #103 "Splitting the library into different class in separate files"
Hi all,

Just wanted to check whether there is any plan to split the library into different classes into different files? Having everything in a single header file which gets larger and larger might not be a good practice.

Regards,

Danesh Daroui

[2018-11-11 12:10] danesh-d opened #104 "HTTP/2 (SPDY)"
Hi all,

Wanted to ask if there is any plan to implement HTTP/2 (SPDY)? Specially header compression will be an important improvement.

Regards,

Danesh Daroui

[2018-11-11 12:37] yhirose commented on #104
@danesh-d, thanks for the request. But I don't have any plan to implement HTTP/2 since it's not a easy task. (I have actually made a HTTP/2 server with libuv + nghttp2 in my work which cannot be opensouce. The combination of libraries is really good.)

[2018-11-11 12:37] #104 closed

[2018-11-13 22:11] juggernauten opened #105 "Crash on long URLs"
Love the library, I've used it tons and it's great;

HOWEVER, I found a game-changer;
The server crashes when presented with long requests.
ex, I'm hosting on localhost:8080/blah
and someone makes a request localhost:8080/blah?something=AHUGEAMOUNTOFTEXT, it will make a segfault.

Tried on W10 - Visual studio 2017, Archlinux (latest kernel) and Ubuntu 18.04 both with their latest version of GCC.

[2018-11-14 14:54] yhirose commented on #105
@juggernauten, thanks for the bug report! I'll try to reproduce it on my MacBook. Could you give me the length of the AHUGEAMOUNTOFTEST string in your case?

[2018-11-14 16:11] juggernauten commented on #105
I tried with different lengths, but I never found a threshold. I know that it at least crashes on 25k characters.

[2018-11-14 22:40] yhirose commented on #105
@juggernauten, I tried to reproduce it, but could get success. Here is my test code at https://github.com/yhirose/cpp-httplib/commit/76ea8dd560cddb079c560bd6766b5657c1f143b6:

[code]

[code]

[code]

What characters does your AHUGEAMOUNTOFTEST string include?
Thanks!

[2018-11-15 04:58] juggernauten commented on #105
A bas64 encoded string.

[2018-11-15 22:09] danesh-d opened #106 "Asynchronoush server push"
Hi,

This is rather question/feature request to whether the library supports this feature or not. I would like to know whether it is possible to push asynchronous data to the client from a HTTP server implemented using cpp-httplib? Of course by push I do not mean the push that is defined in HTTP/2 which is about pushing resources to the client in advance, but I mean pushing notification/data to th

[2018-11-21 14:39] nblog opened #107 "connection support login"
Is it possible to increase the login account at the time of connection?

such as:
curl_easy_setopt(curl, CURLOPT_USERPWD, userpwd);

[2018-11-21 19:44] s809 opened #108 "Getting multiple 'Set-Cookie' headers"
There is no way to get all `Set-Cookie` headers since their names are same.

[2018-11-21 20:55] yhirose commented on #108
@s809, thanks for the feedback. But it's actually possible since `Request::headers` is `std::multimap`.
https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L104

[2018-11-21 20:55] #108 closed

[2018-11-21 21:08] yhirose commented on #107
@nblog, It would be nice to implement the feature. But as see the actual code in curl, it involves lots of things to consider.
https://github.com/curl/curl/search?l=C&q=user_passwd

So I am not planning to implement the similar feature in cpp-httplib, since I don't need it yet and have time to work on it. Of course a pull request from you is always welcome!

Thank you for your feedback.

[2018-11-21 21:08] #107 closed

[2018-11-23 02:09] yhirose commented on #106
@danesh-d, sorry for the late reply. A short answer is that cpp-httplib doesn't support 'server push'.

But if we implement SSE (Server-Sent Events) support in cpp-httlib, it will be possible to push data to client. Please see [this blog article](https://medium.com/conectric-networks/a-look-at-server-sent-events-54a77f8d6ff7).

I am not planning to implement it for now. But I'll keep this in mind.

[2018-11-23 02:09] yhirose commented on #106
See #45

[2018-11-25 21:20] yhirose commented on #106
Since there is already an issue about SSE (#45), I'll close it.

[2018-11-25 21:20] #106 closed

[2018-11-25 21:20] yhirose commented on #45
See #106

[2018-11-29 20:36] ASBaj opened #110 "Params posted to PHP lose characters"
Hi,

I'm doing some interop with a PHP server I don't fully control. In order for my request to be accepted, I need to post a json string with a parameter named data, which I know I can do like this:

httplib::Params params;
params.emplace("data", jsonString);

However, on the PHP side, when the server gets the $_REQUEST["data"] property, 6 characters from the string get cut off.

I'm unsure of th

[2018-11-30 03:07] yhirose commented on #110
@ASBaj, thanks for the feedback. But I guess this is out of scope of what cpp-httplib should do. Does the following post help you instead?
https://github.com/github/fetch/issues/263

[2018-11-30 19:47] ASBaj commented on #110
@yhirose Hi, actually, I have found the source of the issue. In the method write_request, in this paragraph:

    // Body
    if (!req.body.empty()) {
        if (req.get_header_value("Content-Type") == "application/x-www-form-urlencoded") {
            auto str = detail::encode_url(req.body); //This is the problem
            bstrm.write(str.c_str(), str.size());
			std::cout << str << std::endl;

[2018-11-30 21:56] yhirose commented on #110
@ASBaj, Good find! I am thinking to get red of the code if the change doesn't break unit tests. I'll let you know if the new version becomes available.

[2018-11-30 22:05] ASBaj commented on #110
No worries, happy to help! For the moment, I've edited my own copy of the library and duplicated all the required methods for posting using a slightly different name, with the only real change that write_request doesn't encode the url, so I have a workaround for now. In the meantime,  I'll be looking forward to a new version!

[2018-12-01 02:19] #110 closed

[2018-12-01 02:20] yhirose commented on #110
@ASBaj, the new version is available now. I removed the line of URL encoding. Hope you can go with this version. Thanks for your great contribution!

[2018-12-04 09:06] keko950 opened #111 "Cannot insert custom headers"
There is no way to insert custom headers. Would be nice if is added

[2018-12-04 11:05] yhirose commented on #111
@keko950, thanks for the feedback. Do the following samples help you?

**Client:**
https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L942-L944
[code]

**Server:**
https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L365-L366
[code]

[2018-12-13 10:24] keko950 commented on #111
Didnt see the example before! Thanks!

[2018-12-13 10:52] ErrorFlexXx opened #112 "File Download Problem"
Hello,

currently I want to download a file from a server with the SSLClient.
First of I get a redirect (302) and I may have managed to interpret this and follow the redirect.
My problem now is, that I just get Status 400 (Bad Request) as answer and I don't know why.

I queried:
Host: github.com Port: 443
Url: /ErrorFlexXx/OpenGMP/releases/download/0.0-0/Client.zip

Get a redirect (302), which I r

[2018-12-13 14:31] yhirose commented on #112
@ErrorFlexXx, thanks for the error report! Could you try the following with curl?

[code]

Can curl handle the request? What information do you get from the verbose log?
Thank you!

[2018-12-13 14:39] ErrorFlexXx commented on #112
**UPDATE**
Ok, I got it working :)

The problem is **amazonaws**! It rejects requests, that have a port set in the Host field of the header.

Well, thats nasty.
cpp-httplib sets the Host to `hostname:port`.

IETF says:
[code]
So it's not correct from amazonaws to reject such requests.
Any proposals what to do about it ?

BTW, I used openssl to check the request.
I trial and errored with:
`
openssl

[2018-12-13 18:44] yhirose commented on #112
@ErrorFlexXx, thanks for the more detailed information.

If we read more explanation under the section 14.23, it says:

[code]

According to the above, we can omit port number when **80** is used on **HTTP** request or **443** on **HTTPS** request. But we must not omit it when a request uses something but the default number for the service.

Also the stackoverflow answer helped me to understand th

[2018-12-13 19:15] ErrorFlexXx commented on #112
Sounds like the best solution, that solves my problem and is still correct regarding the specs.

Many thanks for your quick attention and help.

[2018-12-14 00:38] #112 closed

[2018-12-14 00:39] yhirose commented on #112
@ErrorFlexXx, I made the change. Hope you don't get the problem any more.
Please let me know if you still have the issue even with the latest httplib.h.

[2018-12-14 03:19] avdbg opened #114 "Reverse proxy support"

[2018-12-14 03:31] yhirose commented on #114
@avdbg, thanks for the feedback. But your request is beyond the scope of this library. I would like to keep cpp-httplib simple (and keep my life simple as well 😄). Sorry about that.

[2018-12-14 03:31] #114 closed

[2018-12-14 05:50] avdbg commented on #114
I found an easy way to do this, just like this:
[code]
Although it has some problems, it can meet my current needs by some small modify.
And thanks for your works.

[2018-12-14 13:16] yhirose commented on #114
@avdbg, glad to hear that you found the solution!

[2018-12-15 14:54] Olegkravec opened #115 "Crash on too much requests"
When client sends about 15000 requests per ~10 sec the server is crashing. I think that there is end of memory allocation  for thread pool. When server crash, he doesnt respond any exception just return with code 11

[2018-12-15 15:02] Olegkravec commented on #115
How I know SIGSEGV signal is sending to application when he tries to appeal to unused page or when page access violation - SEGV_MAPERR and SEGV_ACCERR

[2018-12-16 19:49] yhirose commented on #115
@Olegkravec, thanks for the feed back. In order to reproduce it on my machine, I need more detailed information. Could you show me your server code? I'll try to reproduce it with the code by using Apache Bench. Thanks for your assistance!

[2018-12-16 20:00] yhirose commented on #105
@juggernauten, do you still experience this problem?
By the way, we have to be careful to use Base64 encoding string in the HTTP query text. You can find the information at https://stackoverflow.com/questions/1374753/passing-base64-encoded-strings-in-url.

[2018-12-17 21:46] ngoncalves opened #116 "Getting a vector from a POST/GET request"
Hello,

In my application, I have an array as part of the input arguments for a POST call. The array is being sent (I am using Python's requests) as: http://my_url?array=value1&array=value2&array=value3

Thus the same name is mapped to different values. This does not pose an immediate problem for httplib, because it is using a multimap for storing the POST arguments. However the library does not s

[2018-12-18 02:08] #116 closed

[2018-12-18 02:12] yhirose commented on #116
@ngoncalves, thanks for the feedback. cpp-httplib was actually missing a method to retrieve array arguments.

I have just added it. (I added a parameter `size_t id` in `get_param_value` method to get a desired value.) Also I added `get_param_value_count` to get the count of values in array.

[code]

Please let me know if the above methods solve your problem.
Thanks!

[2018-12-18 09:37] juggernauten commented on #105
Sorry, I have been quite busy juggling Work and School; And since I reworked my application from using HTTP to TCP to send the data I haven't been having the issue, but I will see if I can re-create it.

[2018-12-18 10:00] juggernauten commented on #105
Looking at it now I don't seem to be able to replicate it. Quite strange.

[2018-12-18 13:11] yhirose commented on #105
@juggernauten, thank you for the report and testing this issue again! The direct use of TCP is a good and faster choice. 👍
Please let me know when you have the same problem again.

[2018-12-18 19:11] #105 closed

[2018-12-18 20:21] ngoncalves commented on #116
Thanks @yhirose, I updated my code and it worked perfectly.

[2018-12-20 23:04] tkozybski opened #117 "read_headers regex not working"
Hello.
I'm attaching screenshoot of the problem. The read_headers function fails to match the regex. I've added some printfs for clarification. Suprisingly it works if i move the regex outside of the function like in the second screenshot.

https://i.imgur.com/c6mXv7A.png
https://i.imgur.com/sVzCWIA.png

Compiler is MSVC 15.9.4.

[2018-12-21 16:39] yhirose commented on #117
@tkozybski, thanks for the information. It's really interesting.

It seems like a compiler bug in VC 15.9.4. Do you think if the compiler error is caused due to the reason described in the stackoverflow post?
https://stackoverflow.com/questions/53823991/c-lambda-as-static-member-in-crtp-class-fails-to-compile-in-visual-studio-15

[2018-12-21 16:51] tkozybski commented on #117
It may be related but the example code from stackoverflow won't compile while this regex compiles, but doesn't work. The latter is even worse because it wasn't obvious to catch.

[2018-12-22 13:38] yhirose commented on #117
@tkozybski, I have just updated VC to 15.9.4. But I am able to build without any compile error, and all unit tests passed. (I tried with all the combinations of 'Relelase/Debug' and 'Win32/x64'.

The following shows some of my compiler settings:

 * `General/Platform Toolset`: `Visual Studio 2017 (v141)`
 * `C/C++/Language`: (Nothing)

Please let me know whatever things that you think cause the bu

[2018-12-22 15:12] tkozybski commented on #117
i'm using /std:c++latest. I'll probably investigate this further after holidays

[2019-01-07 14:10] SillyFlame opened #118 "example crash on gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3)"
crash when run with demo.

[2019-01-07 14:43] yhirose commented on #118
@SillyFlame, thanks for the report. Could you give me more detailed information to fix the problem?

 * Which demo caused the crash?
 * What does 'Ubuntu 4.8.4-2ubuntu1~14.04.3' mean?
 * Is there any other helpful information such as the call stack dump?

Thanks for your help.

[2019-01-08 01:51] SillyFlame commented on #118
System info:
 Ubuntu 14.04.5 LTS \n \l

Gcc info:
 Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/4.8/lto-wrapper
Target: x86_64-linux-gnu
......
Thread model: posix
gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3)

Step:
1. modify clang++ to g++, c++14 flag to c++11
2. compile example
3.  ./hello
4. visit 127.0.0.1:8080/hi in chromium
5. core with info:

[2019-01-08 01:52] SillyFlame commented on #118
[example.zip](https://github.com/yhirose/cpp-httplib/files/2734907/example.zip)

[2019-01-08 13:06] yhirose commented on #118
@SillyFlame, thanks so much for the information! I'll prepared the OS environment on VirtualBox and reproduce the problem sometime this week.

[2019-01-09 03:39] yhirose commented on #118
@SillyFlame, I setup Ubuntu 14.04.5, and reproduced this problem successfully. After I spent sometime to look into the problem, I found the following stackoverflow post.

https://stackoverflow.com/questions/12530406/is-gcc-4-8-or-earlier-buggy-about-regular-expressions

According to the answer, <regex> is broken before gcc 4.9.0 So it seems there is nothing to do on my side because cpp-httb heavil

[2019-01-10 01:45] SillyFlame commented on #118
Thanks a lot.
I will try updating my gcc.

[2019-01-11 14:38] yhirose commented on #118
@SillyFlame, you may want to consider [Crow C++ micro web framework](https://github.com/ipkn/crow). It suports g++4.8 and is a header-only library as well.

[2019-01-15 08:18] josephlee518 opened #119 "How Can I import these *Header* files in Visual Studio?"
I've Used G++ to Compile it on Linux (Ubuntu)

But when I compile on windows, I have some errors related about `linker`

How can I fix it?

[2019-01-15 12:17] DJuego opened #120 "MinGW gcc 8.2.1 "has no member named '_Copy_s'" compiler error."
Hi again! Thank you very much for this nifty library! It is fantastic! I have updated to the last version (master version) and i get:

[code]
I am building with -std=c++17

[code]
Thank you for your attention!

DJuego

[2019-01-15 13:00] yhirose commented on #120
@DJuego, thank you for your bug report. Since I don't have the MinGW environment right now, could you try the following at Line 1493 in httplib.h for me?

[code]
If it works, I'll push the change to the master branch.

Thanks!

[2019-01-15 13:06] DJuego commented on #120
Yep! It seems than it works! :-)

DJuego

[2019-01-15 13:07] yhirose commented on #119
@josephlee518, thanks for the report.

Could you open `example/example.sh` with your Visual Studio and try to build? It will tell you what you need to do. (This solution/project files are for Visual Studio 2015, but Visual Studio 2017 can also accept them.)

Hope it helps.

[2019-01-15 13:10] yhirose commented on #120
Thanks for testing! I just pushed the change onto the master.

[2019-01-15 13:24] #118 closed

[2019-01-15 14:33] josephlee518 commented on #119
![https://i.gifer.com/NGO.gif]

Thank You for help.

- You gave me a hint on `example.sln`, So I've Look Very Closely (like kissing with monitor)

- And I've got a hints and Fixed it. AND **COMPILED VERY SMOOTHLY!**

1. <AdditionalIncludeDirectories>..</AdditionalIncludeDirectories> -> The Two Dots are Included.

2. And `Ws2_32.lib` Library file located in <AdditionalDependencies>Ws2_32.lib;%(Addi

[2019-01-15 14:33] #119 closed

[2019-01-21 19:37] slowriot opened #121 "Request: Add support for sending files as multipart form data"
The server can receive multipart form data, but I don't see a straightforward way to send multipart form data using the client.  If this is possible already, apologies for the noise - please let me know how I should go about it.  Otherwise, please add functionality to send multipart files with the client.

[2019-01-22 20:22] yhirose commented on #121
@slowriot, thanks for the feedback. The client currently doesn't support a 'straightforward way' to send multipart form data.

Of course, you can construct HTTP header and body for mutipart form data by hand with consulting [RFC 7578](https://tools.ietf.org/html/rfc7578), since it's just a post message.
https://stackoverflow.com/questions/4238809/example-of-multipart-form-data

When I have time, I

[2019-01-26 09:26] Anil8753 opened #122 "Make Https POST request with ignoring the SSL certification verification"
I want to make an HTTPS POST login request to my server. Here I do not want to attach any certificate, hence want to disable the SSL certificate verification.
I did not find the example to do so.

[2019-01-27 05:00] yhirose commented on #122
@Anil8753, thanks for the feedback. What you want to do is like `curl -k`?

[2019-01-29 11:44] duckbill007 opened #123 "Add support for intermediate certificates for SSLServer"
Right now SSL server accepts only leaf certificate.

Please replace SSL_CTX_use_certificate_file call with SSL_CTX_use_certificate_chain_file call to support certificate chains with leaf and all intermediate CA certs.

[2019-01-29 17:05] #123 closed

[2019-01-29 17:19] yhirose commented on #123
@duckbill007, thanks for the request. I just made the change.

[2019-01-30 03:01] const-volatile opened #124 "Without Reason-Phrase read_response_line regex fails"
The regex in `Client::read_response_line()` is defined as
`const static std::regex re("(HTTP/1\\.[01]) (\\d+?) .+\r\n");`, but certain HTTP server will omit the Reason-Phrase (which is in accordance with RFC 7230). The Reason-Phrase is defined there as:

The `*rule `is similar to the meaning in regex:

Which means the following is a perfectly valid response line in HTTP/1.1, but the current regex

[2019-01-30 03:15] const-volatile commented on #124
Pull Request #125

[2019-01-30 16:08] #124 closed

[2019-01-30 16:12] yhirose commented on #124
@const-volatile, thanks for the full detailed bug report. It totally makes sense.
I have just merged your PR. Thank for your fine contribution!

[2019-01-31 01:31] yhirose commented on #77
https://github.com/stephane/libmodbus/issues/175
https://github.com/lpeterse/haskell-socket/issues/8

[2019-01-31 01:31] #77 closed

[2019-01-31 01:32] yhirose commented on #117
Please let me know if you still experience the build problem.

[2019-01-31 01:32] #117 closed

[2019-02-12 16:17] DJm00n opened #126 "Cast ai_addrlen to to int on _WIN32"
I have solution configured with warning treated as error on Win32/MSVS2017 and have a warning that prevents me to build:

`httplib.h(1755): warning C4267: 'argument': conversion from 'size_t' to 'int', possible loss of data`

Please add `#ifdef _WIN32` and `static_cast<int>(ai.ai_addrlen)` here:

https://github.com/yhirose/cpp-httplib/blob/e7e9ec616f70186e2b6543903d286acae895229b/httplib.h#L1755

[2019-02-12 22:59] yhirose commented on #126
@DJm00n, thanks for the report. I tried to compile with my Visual Studio 2017 with Win32 and x64. I got different warnings from yours as bellow:

Win32
[code]

x64
[code]

What warning flags do you turn on? I'll fix the above warnings as well as yours.
Thanks for your assistence.

[2019-02-12 23:02] yhirose commented on #126
@DJm00n, thanks for the report. I tried to compile with my Visual Studio 2017 with Win32 and x64. But, I only got the warnings on x64:

Win32
[code]

x64
[code]

How did you get the warnings on Win32? Thanks for your assistance.

[2019-02-13 10:42] DJm00n commented on #126
Yeah, your right I found additional `#pragma warning(disable: 4244 4702)` in my code.

It will be great if you fix that warnings in upstream.

[2019-02-13 13:16] #126 closed

[2019-02-13 13:17] yhirose commented on #126
I fixed the problem. Thanks for your contribution!

[2019-02-14 17:16] omaralvarez opened #127 "Handle authorization for server and client"
Would it be possible to add authentication support. I have looked through the examples and have not found anything related to that. It would be nice if at least the client had support for basic authentication using RFC2045-MIME with Base64 encoded user and password.

[2019-02-15 04:33] yhirose commented on #127
@omaralvarez, thank you for the feedback. I added a unit test which shows how to do the basic authentication. Please look at https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L297-L324.

As you can see there, we can use `httplib::Headers` to setup the basic authentication and pass it to a client HTTP method such as `Get`.  In order to handle Base64 encoding, you need to do by yoursel

[2019-02-15 08:42] omaralvarez commented on #127
Thanks a lot for the quick response! Great project by the way!

I will take a look, I was exactly thinking of an option on the client methods, but if you think it does not fit naturally I trust your judgment. I will keep an eye from time to time to see if this is finally implemented.

[2019-02-22 09:19] duckbill007 opened #128 "Memory leaks"
You do call SSL_load_error_strings(), but not free them using ERR_free_strings()

[2019-02-22 13:53] #128 closed

[2019-02-22 13:53] yhirose commented on #128
@duckbill007, thanks for your report!

[2019-03-04 11:59] shujaatak opened #131 "Does cpp-httplib has HTML sanitization feature?"
Does cpp-httplib has HTML sanitization feature buit-in? Or can you point me to some resource, library, tutorial or anything helpful regarding it which may work with cpp-httplib please?

[2019-03-04 12:15] yhirose commented on #131
@shujaatak, thanks for your interest. The short answer is no. This library itself is just caring for handling 'HTTP' protocol. How to handle various content formats such as HTML, JSON, JavaScript and so on are completely out of scope of this library. In other works, you can do anything by your self or it's up to you what kind of library is used to sanitize your content. Hope it helps!

[2019-03-04 12:15] #131 closed

[2019-03-11 06:42] abdulrehman-git opened #133 "Async Handler"
In the following example, thread is going to sleep for a long operation:

    svr.Get("/slow", [](const Request& /*req*/, Response& res) {
            std::this_thread::sleep_for(std::chrono::seconds(2));
            res.set_content("Slow...\n", "text/plain");
    });

Is it possible to do something like the following?

    svr.Get("/slow", [](const Request& /*req*/, Response& res) {
            /

[2019-03-11 13:35] yhirose commented on #133
@abdulrehman-git, thanks for your feedback!

Unfortunately, I don't come up with an easy way to handle your request in cpp-httplib.

If you really need the behavior right now, it would be better to look for other HTTP server libraries based on [libuv](https://github.com/libuv/libuv) or [Boost.Asio](https://www.boost.org/doc/libs/1_69_0/doc/html/boost_asio.html).

I'll label it as 'enhancement' for

[2019-03-11 16:30] ivanenko opened #134 "Add PATCH http method to Server and Client"
Hi, Thank you for this project!
It would be great idea to add Patch method to Client (and may be to Server also)

Some REST services use PATCH, for example Google Drive REST API

[2019-03-12 12:49] #134 closed

[2019-03-12 12:50] yhirose commented on #134
@ivanenko, thanks for the report! I fixed it now.

[2019-03-27 13:59] duckbill007 opened #136 "Multiple Content-Lentgh headers"
When you setting Content-Length header before sending request, you should remove any previous value. If not, you can potentially have multiple Content-Length headers in response, which is not accepted by browsers.

[2019-03-28 03:43] yhirose commented on #136
@duckbill007, thanks for the feedback. Could you explain more about the issue?

[2019-03-28 07:59] duckbill007 commented on #136
For example if I create reverse proxy and pass all headers from one response to another there will be two Content-Length header. One from original response and another added by cpp-httplib.

Also, if I by some reason manually add header Content-Length, there will be two of them.

[2019-03-28 17:58] spyang opened #137 "Typo in your main description"
Your main description says this:
A single file C++11 header-only HTTP/HTTPS sever library

You typed "sever" instead of "server"

[2019-03-28 18:21] yhirose commented on #137
@spyang, good catch! I fixed it. Thanks!

[2019-03-28 18:21] #137 closed

[2019-03-28 23:56] #136 closed

[2019-03-31 20:03] StoicaNicusor opened #138 "Error importing httplib.h"
I am using VS Community 2017, after adding the header file I get this error :
[http://prntscr.com/n5k8km](http://prntscr.com/n5k8kml)
If i put httplib.h in ` C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.16.27023\include` it just works.
What am I doing wrong ? Thanks in advance.

[2019-03-31 20:37] DJuego commented on #138
Hmmm it seems that "the screenshot was removed", @StoicaNicusor .

DJuego

[2019-03-31 21:23] yhirose commented on #138
@StoicaNicusor, I don't see the screenshot either.

[2019-04-01 12:37] StoicaNicusor commented on #138
Sorry,got deleted. It says it can not import httplib.h

[2019-04-01 19:10] spyang opened #139 "Can I specify an output stream for large downloads?"
So far, I really like your library!

My use case is with the SSLClient.  The callback for displaying download progress is working.  However, I only know how to wait for the entire result first before writing to disk (by getting the body attribute from the result).  In my case, the file I may be downloading could be 1GB in size, so I'd prefer to write the result to disk as it comes in.  Is there a

[2019-04-02 01:43] yhirose commented on #138
@StoicaNicusor, is it a compile error, or a link error? If it's a compile error, you have to setup the include directory setting properly.

[2019-04-03 01:15] yhirose commented on #139
@spyang, thank you for your feedback.

Sorry that there is no easy, built-in way... But if you check where `strm.read` is called, you may find a way to do it. Also you should probably remove `std::string body` from `Response` and add a callback function like `std::function<int (Stream& strm)> data_receiver` to take over the control of where the data should be stored.

Your request sounds a good id

[2019-04-04 17:46] ivanenko commented on #139
Im also voting for this feature!

[2019-04-09 07:27] dudztroyer commented on #36
Any updates on this?

[2019-04-09 15:46] #138 closed

[2019-04-09 23:27] sjk7 opened #140 "Crash on Clang 7 & Clang 8 on long URLs"
Hello,
Great library, but consistently crashes during test:
TEST_F(ServerTest, LongQueryValue)
On ubuntu 18.04.
GCC works fine but Clang 7 or 8 (64-bit) both crash. It looks to be a forever recursive call to something deep in the bowels of regex. I will try to attach a screenie of the issue live in QtCreator (but note it crashes just the same from /test/make)
![crashed](https://user-images.githubu

[2019-04-10 00:30] sjk7 commented on #140
There is always this:
https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.15
It seems to be OK to refuse URLS that are greater than 8k at most. Possible workaround?
return 414 Request-URI Too Long ??

"

    Note: Servers ought to be cautious about depending on URI lengths above 255 bytes, because some older client or proxy implementations might not properly support these lengths.

The

[2019-04-10 02:06] yhirose commented on #140
@sjk7, thanks for the bug report. It crashed at the line 1647, right?

[code]

Your suggestion (return 414) sounds good to me. I am thinking to introduce something like the following, so that  users can control the value.

[code]

[2019-04-10 12:26] sjk7 commented on #140
Correct, yes

[2019-04-10 16:22] #140 closed

[2019-04-10 16:23] yhirose commented on #140
@sjk7, I implemented it. Thanks for your contribution.

[2019-04-12 08:16] XM37 opened #141 "HTTP method PATCH"
Hi,

can you please add the HTTP method "PATCH".

Thank you very much!

[2019-04-12 08:19] XM37 commented on #141
sorry i used an older version of your library!

[2019-04-12 08:19] #141 closed

[2019-04-12 13:07] yhirose commented on #36
@dudztroyer, thanks for your request.

Since there are at least 5 people requesting the feature, I'll start investigating how to implement it effectively without breaking the current `Client` class user interface.

I'll get back to you when it becomes available. Thanks!

[2019-04-12 21:32] yhirose opened #143 "Use std::vector<uint8_t> for data buffer"
https://github.com/yhirose/cpp-httplib/pull/142#issuecomment-482659235

[2019-04-12 21:40] yhirose opened #144 "Reject a request with huge payload which exceeds the server's size limit"
https://github.com/yhirose/cpp-httplib/pull/142#issuecomment-482659235

* `Server::set_payload_max_length(uint64_t length)` to set limit size
* `413 Payload Too Large` will return when the body size exceeds the limit

[2019-04-13 03:34] #144 closed

[2019-04-20 08:42] xg0 commented on #115
I have the same issue with more than 2000 requests:

*** buffer overflow detected ***: ./server terminated
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7f6731c807e5]
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(__fortify_fail+0x5c)[0x7f6731d2215c]
/lib/x86_64-linux-gnu/libc.so.6(+0x117160)[0x7f6731d20160]
/lib/x86_64-linux-gnu/libc.so.6(+0x1190a7)[0x7f67

[2019-04-20 09:25] RemoteSensingFrank opened #145 "static file server"
I want to build a static file server and I set the base dir path how can I get file in the base dir? and the localhost:1234/index.html cannot be found

[2019-04-20 13:10] yhirose commented on #145
@RemoteSensingFrank, as the README says, `svr.set_base_dir(BASE_DIR_PATH);`.
If you put `index.html` in the BASE_DIR_PATH, `index.html` can be found. Thanks you.

[2019-04-20 13:10] #145 closed

[2019-04-21 13:04] RemoteSensingFrank commented on #145
Thanks

[2019-05-05 16:04] XM37 opened #146 "HTTP Delete method need body"
Hi,

in your current version i miss the possiblity to send a body within the http method DELETE.
Is it possible to integrate this feature?

[2019-05-05 17:32] #146 closed

[2019-05-05 17:32] yhirose commented on #146
@XM37, thanks for the report. It's now implemented.

[2019-05-06 20:55] yhirose commented on #122
cpp-httplib client doesn't implement the certificate verification yet. That means it's disabled.

[2019-05-06 20:55] #122 closed

[2019-05-07 21:08] yhirose opened #147 "Support wildcard when verifying server certificate"
Related to #87

[2019-05-07 22:58] yhirose commented on #147
Moved to #87

[2019-05-07 22:58] #147 closed

[2019-05-07 22:59] yhirose commented on #87
Need supporting wildcard when verifying server certificate.

[2019-05-08 01:40] #87 closed

[2019-05-08 01:43] yhirose commented on #87
@aric-driveai, I finally supported this feature.

[code]

[2019-05-08 02:19] #133 closed

[2019-05-08 02:20] yhirose commented on #143
It seems like it requires lots of changes...

[2019-05-08 02:20] #143 closed

[2019-05-16 04:20] Raizuuuuu opened #149 "Allow getting raw bytes request body in server"
I have several clients (third party) which submit raw binary data (application/octet-stream) directly in the body of post requests. However, on your server, response.body.data() returns an std::string. I have tried casting/reinterpreting this to char* but the std::string constructor appears to have modified the content body in such a way that it no longer perfectly matches uploaded data. There doe

[2019-05-16 07:09] aj3423 opened #150 "SSL_read timeout doesn't work on unstable network connection"
I'm new to native socket. now I try to use the http client to `recv()` from a low-bandwidth-server.  Sometimes the `recv()` blocks forever, never returns, at that moment I attach debugger and see it's blocking at line:

    inline int SocketStream::read(char* ptr, size_t size)
    {
        return recv(sock_, ptr, static_cast<int>(size), 0);  <------blocking here
    }

I see there is timeout impl

[2019-05-16 11:14] yhirose commented on #149
@Raizuuuuu, thanks for the report. I probably don't fully understand what you are saying. I need more inform regarding it.

As you said, it's correct that this library uses `std::string` for body data. But `std::string::data` doesn't return `std::string`. Please see the http://www.cplusplus.com/reference/string/string/data/.
It clearly says that the signature of `std::string::datai` is`const char*

[2019-05-16 12:27] yhirose commented on #150
@aj3423, thanks for the report. Unfortunately, so we cannot use `WSA_FLAG_OVERLAPPED` since this library uses 'blocking socket'. If you want that behavior, I recommend you to use libuv-based non-blocking socket libraries.

This library actually handles the timeout check for reading by using `select` at https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L1721. (You can find more informati

[2019-05-16 12:29] yhirose commented on #149
@Raizuuuuu, thanks for the report. I probably don't fully understand what you are saying. I need more information regarding it.

As you said, it's correct that this library uses std::string for body data. But std::string::data doesn't return std::string. Please see the http://www.cplusplus.com/reference/string/string/data/.
It clearly says that the signature of std::string::datai isconst char* dat

[2019-05-16 12:29] yhirose commented on #149
@Raizuuuuu, thanks for the report. I probably don't fully understand what you are saying. I need more information regarding it.

As you said, this library uses std::string for body data. But std::string::data doesn't return std::string. Please see the http://www.cplusplus.com/reference/string/string/data/.
It clearly says that the signature of std::string::datai isconst char* data() const. So this

[2019-05-16 12:30] #149 closed

[2019-05-16 12:44] yhirose commented on #150
@aj3423, thanks for the report. Unfortunately, we cannot use WSA_FLAG_OVERLAPPED since this library uses a 'blocking socket'. If you want non-blocking behavior, I recommend you to use libuv-based socket libraries.

This library actually handles the timeout check for reading by using `select` function at https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L1721. (You can find more informat

[2019-05-16 12:52] aj3423 commented on #150
@yhirose It's third-part proxy server, and indeed the server must have problem. But I think it will be ok as long as the client timeout works, even for a bad server.  I think sending 'GET' request to 'www.some_slow_ite.com' repeatedly can reproduce the problem, but this happens very little chance.

Before httplib, I was using the [pion](https://github.com/splunk/pion) http library, which is based

[2019-05-16 13:10] aj3423 commented on #150
The 'select_read' function is used for server code, but seems not used in client code
![image](https://user-images.githubusercontent.com/4710875/57856091-dc300f80-781e-11e9-98f5-ce0d8a7b9ce6.png)

[2019-05-16 14:10] aj3423 commented on #150
Not it blocks again, I captured screenshot for all the stack calls, hope it helps.
https://drive.google.com/open?id=14kc_LgBQA0MsFhRMWj_MfVmaEbhBG45r

[2019-05-17 03:37] yhirose commented on #150
@aj3423, thanks for the detailed information. Could you try to make the following change at line 2051 in httplib.h, and see what happnes? Does it solve the problem?

[code]

Thanks!

[2019-05-17 09:01] aj3423 commented on #150
I tried but it doesn't work, because it forces the client read something before sending request, which causes error.

Since the 'recv()' causes the problem and 'select' can solve it,  I try to put them together:

	Change:
	// inline int SocketStream::read(char* ptr, size_t size)
	// {
	//     return recv(sock_, ptr, static_cast<int>(size), 0);
	// }

	To :
		inline int SocketStream::read(char *ptr

[2019-05-19 20:40] hans-erickson opened #151 "Client POST parameter values are not encoded properly"
When a POST request is received by the server, the function decode_url() is called on the parameter values to properly decode any encoded characters. This behavior seems to be correct.

However, on the client side, a matching encode_url() is not called on the parameter values. This can result in the key/value pairs being sent by the client in a way that can be parsed incorrectly by the server.

A

[2019-05-20 01:52] yhirose commented on #151
@hans-erickson, thanks for the report. Could you send it as a pull request?

[2019-05-20 23:42] yhirose commented on #151
Closed by #151.

[2019-05-20 23:42] #151 closed

[2019-05-23 15:40] aj3423 commented on #150
It does work :)

[2019-05-23 20:51] yhirose commented on #150
Thanks for the report! Which one actually fixed the problem?

[code]

or

[code]

I'll update the code according to your answer. Please let me know.

[2019-05-24 09:34] aj3423 commented on #150
This doesn't work, any request would fail if simply set `keep_alive_max_count` to 1.

This solves the problem, but the 'TIMEOUT_RECV_SECOND' could be designed better. Now if the `TIMEOUT_RECV_SECOND` is 10 seconds and  `select_read` called 5 times, the total time cost is 50 seconds, not expected 10 seconds, an inprovement could be counting the time cost for each `select_read` and calculate the res

[2019-05-24 12:13] yhirose commented on #150
Thanks for the details! I'll work on it sometime next week once I am not busy.

[2019-05-25 16:08] PixlRainbow opened #153 "OpenSSL invalid conversion from ‘void*’ to ‘const stack_st_GENERAL_NAME*’"
compiling a server with `CPPHTTPLIB_OPENSSL_SUPPORT` enabled and the following command
```g++ -std=c++11 server.cpp -o server -pthread -lssl -lcrypto```
causes the following error
[code]
I have `libssl-dev:amd64 1.1.0g-2ubuntu4.3` installed
My full code is attached below. I had to rename it to .txt for github to accept it, but you can rename it back to .cpp
**[server.txt](https://github.com/yhiros

[2019-05-25 16:34] PixlRainbow commented on #153
nevermind, downgraded to libssl1.0-dev and it now compiles without errors and works fine

[2019-05-25 16:34] #153 closed

[2019-05-25 17:37] PixlRainbow opened #154 "Support SSL client certificates"
Does cpp-httplib currently support?

1. (server side) requesting the client to submit a "client certificate" or
2. (client side) submitting a "client certificate" if requested to do so by a server
3. (server side) if (1.) is true, rejecting client if the client did not submit a "client certificate"

[2019-05-26 11:22] yhirose commented on #154
@PixlRainbow, you are asking for the feature like `curl -E CERT_FILE`, right?
I haven't implemented the feature, yet... I put the 'enhancement' label for my reminder.
Thanks for your feedback!

[2019-05-27 18:36] PixlRainbow commented on #45
For now, SSE can be implemented by generating events with your own callback in `Response.streamcb` because SSE standard is simply implemented on top of HTTP chunked transfer protocol, which is already supported by cpp-httplib.
For example, check my gist [here](https://gist.github.com/PixlRainbow/b720c965dde920cc404095848942ad02).

[2019-05-30 19:31] Diablillowilly opened #155 "Compile error when using SSLClient"
When using SSLClient, I get dropped this error:

[code]

To reproduce (using last commit):

main.cpp:
[code]
CMakeLists.txt:
[code]
I think that the commit that breaks it is [3f42804](https://github.com/yhirose/cpp-httplib/commit/3f42804a4f1ba8169d8db1e4e792f336b304e050)

Thanks for your time.

[2019-05-31 14:30] #155 closed

[2019-05-31 14:30] yhirose commented on #155
@Diablillowilly, thanks for the bug report. I just fixed it.

[2019-05-31 14:34] yhirose commented on #153
@PixlRainbow, thanks for the report. The code now can compile with openssl 1.1. #155.

[2019-05-31 17:34] NathanSWard opened #156 "async"

[2019-05-31 19:23] yhirose commented on #156
Probably similar to #133?

[2019-05-31 19:23] #156 closed

[2019-05-31 21:36] NathanSWard commented on #156
whoops, sorry! I didn't mean to actually make a new issue!

[2019-06-01 17:04] aj3423 commented on #150
Again I got this problem when I try to use ssl version, the `SSL_read` also blocks forever at this line:

    inline int SSLSocketStream::read(char* ptr, size_t size)
    {
        return SSL_read(ssl_, ptr, size); <-------------- blocks at this line
    }

I found [some link](https://stackoverflow.com/questions/15852840/how-to-set-connection-timeout-and-operation-timeout-in-openssl) may be helpfu

[2019-06-03 03:46] jiagushuai opened #157 "get/post"
How do I get the parameters carried by the get request

[2019-06-03 03:46] #157 closed

[2019-06-03 04:11] jiagushuai opened #158 "Does HTTPS support HTTP requests at the same time, and how"
+ If I cannot receive HTTP requests, but only HTTPS requests, how can I modify them to support both

[2019-06-03 04:12] jiagushuai commented on #158
+
![image](https://user-images.githubusercontent.com/29997741/58775580-bcf3f900-85f8-11e9-8ae1-87f060e26bd3.png)
+
![image](https://user-images.githubusercontent.com/29997741/58775598-d1d08c80-85f8-11e9-9cba-3ef72fc3a4f4.png)

[2019-06-03 08:25] jiagushuai opened #159 "How to set response headers"
Access will cross domain, how do I set the response header
+ Error is as follows
![image](https://user-images.githubusercontent.com/29997741/58787199-df4b3e00-861b-11e9-9bb9-f3bca6eb8dc0.png)
+ I know to add the following request headers, but I don't know how to add each response header
![image](https://user-images.githubusercontent.com/29997741/58787271-0dc91900-861c-11e9-9151-0c7eafb50b75.png)
L

[2019-06-03 11:20] yhirose commented on #159
You can use `set_header` on `Response`. Thank you.

[2019-06-03 11:20] #159 closed

[2019-06-03 17:20] yhirose commented on #158
@jiagushuai, thanks for the question. Unfortunately, we cannot handle both HTTPS and HTTP request simultaneously with cpp-httplib.

[2019-06-03 17:20] #158 closed

[2019-06-04 01:22] jiagushuai commented on #159
+ I'm sorry I didn't make myself clear。
+ I tried to set it up, but maybe I didn't set it right, so I kept returning 404
![image](https://user-images.githubusercontent.com/29997741/58844541-37c91c80-86aa-11e9-847c-d75833751040.png)
## Should I set it somewhere else?

[2019-06-04 01:26] gemarcano opened #160 "Race condition between listen and stop, fortify failure"
This seems to be the related to problem #48, but I'll open this issue to bring attention to it.

The problem is brought about due to calling `stop()` immediately after calling `bind_to_any_port` and then launching `listen_after_bind()` on its own thread. I only get this when compiling the program in `Release` mode (CMake), since I'm assuming that's only when it's fast enough that the race manifest

[2019-06-04 01:27] jiagushuai commented on #159
+ Go directly to `set_error_handler`,Where do I set set_header on Response
![image](https://user-images.githubusercontent.com/29997741/58844680-e2413f80-86aa-11e9-990e-0edadc642be0.png)

[2019-06-04 01:51] gemarcano commented on #160
I'm also seeing a similar race show up in the case I call `stop()` while some other task is running in one of httplib's internal threads. Looking at `stop()` it doesn't wait or do any cancelling or synchronization with these detatched threads, so it just sets `svr_sock_` to an invalid state, and any threads that might still linger around might suffer failures since the server socket has been close

[2019-06-04 01:56] jiagushuai commented on #159
+ I set this, but it doesn't seem to work
![image](https://user-images.githubusercontent.com/29997741/58845759-fa1ac280-86ae-11e9-9e1b-9dbeb228eeba.png)

[2019-06-04 09:42] purpl3F0x opened #161 "Pase data from Response like "json""
Is there any way to parse the response like a "json" or I can just get a string from it, and then I will need to convert it to json with another lib? I didn't see any function in the example, tried read the header but oof.

[2019-06-04 11:11] yhirose commented on #161
@purpl3F0x, thank you for your feedback . This library doesn't give a functionality to parse response text such as JSON, XML and so on. It just handles one responsibility of HTTP communication. I use https://github.com/nlohmann/json for parsing JSON text in my projects, which is much better than the code I would write. :)

[2019-06-04 11:11] #161 closed

[2019-06-04 14:20] yhirose commented on #159
You are doing fine with `set_header` in your code. The following is enough actually.

[code]

So I guess the problem comes from something else.

[2019-06-04 14:23] yhirose commented on #159
You are doing fine with `set_header` in your code. Adding `res.set_header("Access-Control-Allow-Origin", "*");` is enough actually to handle CORS.

[code]

So I guess the problem comes from something else.

[2019-06-04 14:33] yhirose commented on #160
@gemarcano, thanks a lot for the detailed bug report. I am interested in reproduce it on my machine with as minimum code as possible.

Do you have a small snippet to do the above situation? Thanks for your help!

[2019-06-05 02:56] yhirose commented on #150
@aj3423, I guess I fixed it on both normal mode and SSL mode. All unit tests passed successfully. Could you try with this new version? Thanks for your great help!

[2019-06-05 09:19] jiagushuai commented on #159
+ After adding option can be
[code]

## In addition, I would like to ask, what is R"(\*)", I replace it with "/(.*)" in order to properly cross domain

[2019-06-05 11:20] yhirose commented on #159
That's C++11 'Raw string literal'.

[2019-06-05 17:33] PixlRainbow commented on #154
I've implemented this feature in #162 but through testing I've noticed that Firefox does not appear to be able to handle intermediary-signed client certificates.

## Tested Conditions
| Certificate  | Client Type                                               | Result                            |
|--------------|-----------------------------------------------------------|---------------------------

[2019-06-06 12:09] yhirose commented on #154
@PixlRainbow, thanks for the PR. I'll put comments on #162 instead of here.

[2019-06-08 09:53] aj3423 commented on #150
@yhirose I tried the new code from master, seems the http client is fixed now,  I tested for 12 hours with 10 thread, no blocking problem.

But the patch doesn't work for **https** client, I tried many times and it blocks every time, blocks at the code:

	inline int SSLSocketStream::read(char *ptr, size_t size) {
		if (SSL_pending(ssl_) > 0 ||
			detail::select_read(sock_, CPPHTTPLIB_READ_TIMEOUT_

[2019-06-10 01:55] yhirose commented on #150
@aj3423, thanks for the test. It seems like I need further investigation about the problem on SSL mode. I'll try to find what's missing.

[2019-06-11 10:14] purpl3F0x opened #163 "How to force use https"
I want to make an request to github api.
Let's say I do this,
[code]
Because github api uses accepts only https requests it returns 301 code with the link as https. Is there a way I should force use https from the start, or  somehow to be able to make the request to the new url. I tried setting the Client port to 443, but that return an error.

[2019-06-11 10:56] yhirose commented on #163
@purpl3F0x, please check the information at https://github.com/yhirose/cpp-httplib#openssl-support in README.md.

[2019-06-11 10:56] #163 closed

[2019-06-11 11:00] purpl3F0x commented on #163
thank, you I somehow missed that.

[2019-06-11 15:59] jaspervandeven commented on #160
I seem to run into a similar problem. Using LLVM Clang++ (I used clang version 6.0.0-1ubuntu2 on ubuntu 18.04.2 LTS) and the thread-sanitizer, it seems that the problem is somewhere in the interaction between `httplib::Server::listen_internal()` and `httplib::Server::stop()`. I know, my example is not absolutely minimal, never the less, I hope it helps in fixing this issue. I used the following co

[2019-06-12 01:52] yhirose commented on #160
@jaspervandeven, thanks for the sample file.

[2019-06-12 01:52] yhirose commented on #160
@jaspervandeven, thanks for the sample code.

[2019-06-12 05:30] axel-habermaier opened #164 "Sockets should not be inheritable"
The sockets used by the library, in particular the listening socket used for the server, are inheritable. This is almost always a bug when the process that creates the server spawns child processes that outlive the parent process. In that case, the parent process cannot be started again as the listening socket is still in use. For instance, Microsoft also changed this for .NET core (see https://gi

[2019-06-12 13:11] yhirose commented on #164
@axel-habermaier, thanks for the bug report. I would like to add the case to the unit tests in `test.cc`. Do you have a small example code to reproduce it, so that I could confirm the issue on my Windows machine?

[2019-06-12 16:59] PixlRainbow commented on #127
@omaralvarez on a related note, check out #154. It's not nearly as convenient to end users and it's not nearly as elegant (access restrictions apply server-wide, not to specific pages) but it DOES allow you to restrict access only to users with credentials.

[2019-06-12 17:24] axel-habermaier commented on #164
Unfortunately, I don't have a small standalone example demonstrating the problem. This is also probably quite inconvenient to unit-test, as it involves at least two processes and the parent process has to be shut down and restarted for the problem to manifest itself.

[2019-06-12 19:37] yhirose commented on #164
Yes, I now understand that it doesn't make sense to make a unit test for this issue .

But I still need to make an example code to reproduce the issue to look into it. What does 'the process that creates the server spawns child processes that outlive the parent process' mean? Also how large do you think the example is going to be? Thanks for your help!

[2019-06-12 19:37] yhirose commented on #164
Yes, I now understand that it doesn't make sense to make a unit test for this issue .

But I still need to make an example code to reproduce the issue to look into it. What does "_the process that creates the server spawns child processes that outlive the parent process_" mean? Also how large do you think the example is going to be? Thanks for your help!

[2019-06-12 20:06] axel-habermaier commented on #164
The example is not going to be that large. Use the following steps to reproduce:

* Launch executable A to create process A1 that creates a ``httplib::Server`` and binds it to some socket, say ``5002``.
* Afterwards, process A1 launches process B1 (can be any executable) using ``CreateProcess`` (https://docs.microsoft.com/en-us/windows/desktop/api/processthreadsapi/nf-processthreadsapi-createproce

[2019-06-13 02:50] yhirose commented on #164
Great! I'll try to reproduce it when I am not busy. Thanks for the helpful information!

[2019-06-13 07:20] njh0602 opened #166 "How should I use Post in client?"
Can I replace the curl library to use a simple get post function?
For example, in my case I sent the following Post request using curl.

[code]

Always worked well. And I ported it as follows. (is this the right way?)

[code]

And I tried this too.

[code]

Always "res is null" is printed.
I need help.

[2019-06-13 07:43] jaspervandeven commented on #160
I just had a few minutes to look at my problem again and it was easy enough to fix. I directly opened a merge request with the required very small changes: Fixed data race when stopping server #167
Hope this helps and in any case: thanks for all the work and this great library.

[2019-06-13 12:31] yhirose commented on #166
@njh0602, can you try it with `httplib::SSLClient` instead?
https://github.com/yhirose/cpp-httplib#openssl-support

[2019-06-14 00:05] #166 closed

[2019-06-14 03:16] njh0602 commented on #166
@yhirose,
Thank you for your quick reply.
I tried, but the result is same.  Is this not an authentication issue with ssl? (such as CA list)

[code]

I do not currently have any certificates. Or what else should I do? I don't know about this part.

[2019-06-14 04:08] njh0602 commented on #166
[code]

cacert.pem was downloaded with the following command:
```> curl --remote-name --time-cond cacert.pem https://curl.haxx.se/ca/cacert.pem```

but code is not work.
Is there any other part I missed?

[2019-06-14 12:56] yhirose commented on #166
@njh0602, your latest code looks good to me. The ca cert that you downloaded may not be good.

Here is working unit test on CI servers. Hope it helps.
https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L1354-L1369

[2019-06-17 03:10] huangshangbin opened #168 "VS2015 build fail"
error C2589: “(”:“::”  Illegal marking on the right

line 93, #define CPPHTTPLIB_PAYLOAD_MAX_LENGTH std::numeric_limits<size_t>::max()
Change to
            #define CPPHTTPLIB_PAYLOAD_MAX_LENGTH (std::numeric_limits<size_t>::max)()

[2019-06-17 11:42] omaralvarez opened #170 "Versioning"
Would it be possible for you to release a initial version (even if it is 0.1)? Using tags and the github release system. I would like to create a conan package that points to your repo for easy compilation using CMake.

I have made a pull request to add CMake support. Once you are satisfied with it, it would be nice if you made a release so I can properly add Conan support for master and the first

[2019-06-17 15:34] #168 closed

[2019-06-17 15:34] yhirose commented on #168
@huangshangbin, thanks for your contribution!

[2019-06-17 20:49] Milerius opened #171 "how to credentials ?"
As an http client:

How to deals with api like: "http://myusername:myrpcpassword@127.0.0.1"

[code]

Thank's a lot

[2019-06-18 03:27] yhirose commented on #171
@Milerius, please see #127.

[2019-06-18 03:27] #171 closed

[2019-06-19 07:39] omaralvarez commented on #127
@PixlRainbow Really nice, I was looking for a way to authenticate users and what you say is ideal.

[2019-06-19 15:58] yhirose commented on #154
Fixed by #162

[2019-06-19 15:58] #154 closed

[2019-06-20 05:56] msg7086 opened #173 "Deprecated OpenSSL call"
[code]

Should use `ASN1_STRING_get0_data` instead.

[2019-06-20 14:50] yhirose commented on #173
@msg7086, thanks for the info. I actually knew it. Since the openssl version 1.0.2 doesn't support `ASN1_STRING_get0_data` yet, I have been using `ASN1_STRING_data`.
https://www.openssl.org/docs/man1.0.2/man3/ASN1_STRING_data.html

We could take the following approach.
http://lists.xiph.org/pipermail/opus/2017-January/003731.html

I'll take care of this when I am not busy. Thanks!

[2019-06-20 15:45] #173 closed

[2019-06-20 18:09] yhirose commented on #150
@aj3423, could you test with the following code for me?

[code]

I would like to know which one will block, and value of `pending_size` if (1) blocks.
Thanks for your help.

[2019-06-20 18:51] yhirose commented on #160
@gemarcano, I am now able to reproduce the condition on my machine with the following code!

[code]

[code]

I'll try to find a way to fix it next. Thanks for your thorough information!

[2019-06-20 19:00] #160 closed

[2019-06-20 19:02] yhirose commented on #160
@gemarcano, I made a simple change to fix this problem. Could you check if it's good enough solution on your machine? If not, I'll reopen this issue. Thanks.

[2019-06-20 19:56] gemarcano commented on #160
Sure, I'll check, sorry for the radio silence. The earliest I'll be able to test it is probably Monday-- I'll report back after I test.

[2019-06-20 19:57] gemarcano commented on #160
And sorry for not getting you an example to run-- although it looks like the test case you came up with was extremely close to what I had.

[2019-06-20 21:12] #164 closed

[2019-06-20 21:14] yhirose commented on #164
@axel-habermaier, I applied your suggestion and tried to do the same for non Windows OSs. Could you test with the latest `httplib.h` when you have time? Thanks!

[2019-06-21 11:46] omaralvarez commented on #170
@yhirose Now that CMake support is added is a perfect time for a release! :wink: I will have another pull request with Conan support as soon as it is created.

[2019-06-21 12:07] yhirose commented on #170
@omaralvarez, I just added 'v0.2.0' tag. Let me know what else should be done on my side.

[2019-06-21 13:34] aj3423 commented on #150
@yhirose Still blocking, and it happens more frequently than before. I tried many times,  every time it blocks in 1 minute... Here's the stack trace

![block](https://user-images.githubusercontent.com/4710875/59926186-5c741100-946c-11e9-9bda-fcbdba85db11.png)

[2019-06-21 17:48] omaralvarez commented on #170
@omaralvarez Perfect! Now the ball is in my court. 👍

[2019-06-22 02:24] yhirose commented on #150
@aj3423, thanks for narrowing down the problem!

[2019-06-24 21:36] ArjunNarayan2066 opened #174 "Function to format & send args with HTTP Get Request"
I am trying to use this to send an HTTP Get Request to a URL that requires arguments. I was wondering if there is a supported Get Request Call to take & format args?

The default calls below:
[code]
do not seem to support taking in arguments.

Thanks for your help

[2019-06-24 21:52] yhirose commented on #174
@ArjunNarayan2066, sorry that README doesn't describe it well. Please see an example [here](https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L1112-L1116).

[2019-06-24 21:52] #174 closed

[2019-06-24 22:14] ArjunNarayan2066 opened #175 "Leverage SSL to redirect to https URLs?"
I am getting a 301 error when I do a GET request on a particular URL using the HTTP client. The returned link is the same, except is uses `https://` instead. I figure that me using `http` and the link needing `https` is the cause of the 301. I have tested the link works correct in python using `requests` as well as in Google Chrome. Am I able to send `https` GET requests by using the OpenSSL suppo

[2019-06-24 22:30] ArjunNarayan2066 commented on #175
Actually yes this works, just got it to work. Just defined `CPPHTTPLIB_OPENSSL_SUPPORT` in my source file & used `httplib:SSLClient` for my client object instead.

[2019-06-24 22:30] #175 closed

[2019-06-25 15:49] yhirose commented on #150
@aj3423, I have been trying to reproduce it on my machine, but I have no success so far... What kind of HTTP client are you using, also are there any HTTP messages that can easily cause the problem? Of course no rush. Please reply when you are no busy. Thanks!

[2019-06-25 17:49] aj3423 commented on #150
@yhirose I have slightly modified the source to make httplib support socks5 proxy, and tested it with some unstable proxy servers, those server can only be accessed through socks5.  I can send you the test files, you can simply compile and run, but your ip address is required by the servers for accessing, I can add your ip address to the servers' white list. We can use email for privacy. aj3423 at

[2019-06-25 23:08] rip32700 opened #176 "Client not blocking for longer requests"
I'm sending a request to a server instance that takes a few seconds to generate the response. However, the client side call is not blocking, it returns after 2-3 seconds before the server response is ready.

Client:
[code]

Server:
[code]

Is this intended behavior and if so is it possible to extend the timeout value?

[2019-06-25 23:37] yhirose commented on #176
@rip32700, thanks for the feedback. You can configure the read timeout value with `#define CPPHTTPLIB_READ_TIMEOUT_SECOND 5` at https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L95.
Please let me know if it doesn't solve your issue.

[2019-06-26 21:28] rip32700 commented on #176
@yhirose did solve it, thanks!

[2019-06-26 21:28] #176 closed

[2019-06-27 09:55] alaarihan opened #177 "Work with FreeRTOS to send a simple https request"
How can I use this with FreeRTOS to send a https request?  I think we need to use wolfSSL instead of openssl

[2019-06-27 10:41] PixlRainbow opened #178 "Redirect to https"
Similar to #158, but not quite the same.
I figure it would be possible to implement automatic redirect from http to https, by starting both a Server and an SSLServer and simply sending 301 responses from the vanilla server directing clients to the port of the SSLServer. However, it would be a painfully manual process to have to manually implement a redirect for each and every SSLServer endpoint on

[2019-06-27 12:26] yhirose commented on #177
@alaarihan, thank you for the feedback. Unfortunately, I don't know anything about FreeRTOS. So I am not in a position to give you a correct answer. At least I know, the library should work if it supports C++11 compiler fully. I don't know anything about wolfSSL either. Right now, cpp-http only suports OpenSSL. Sorry about that. (A pull request for wolfSSl is very much welcome, of course. 😃 )

[2019-06-27 12:26] #177 closed

[2019-06-27 13:08] yhirose commented on #150
@aj3423, thanks for the info. I now understand why I can't reproduce the SSL_read blocking problem on my machine, because my socket data stream is always smooth and stable.

I feel we can't fix the problem unless making the underlying BIO mode non-blocking and checking SSL_ERROR_WANT_READ from the SSL_read call. But it sounds a fundamental change to cpp-httplib and I can't figure out what side-eff

[2019-06-27 17:35] axel-habermaier commented on #164
@yhirose: Thanks for this update! Works great for me! I only tried it on Windows, though...

[2019-06-27 20:58] yhirose commented on #150
@aj3423, glad to hear that the SSL_read problem doesn't block you. Until I find a correct way to solve it, I'll leave this issue as it is. I may have to check implementation of other HTTP libraries like curl to see how they deal with the issue. Anyway, thanks again for the detailed bug report. At least I learned deeper about the socket timeout.

[2019-06-28 02:04] yhirose commented on #178
@PixlRainbow, I made a new server example [`example/redirect.cc`](https://github.com/yhirose/cpp-httplib/blob/master/example/redirect.cc) to give you an idea with existing functionalities in httplib.h.

After compiling it and run the server, you can test it with the following curl command.

[code]

As you can see in the code, I used `set_error_handler` method to redirect a HTTP request to the HTTP

[2019-06-28 04:19] PixlRainbow commented on #178
Oh, good idea! Thanks!

[2019-06-28 04:19] #178 closed

[2019-06-28 10:02] jingchuang opened #179 "listen port random"
I specify use this function, listen("0.0.0.0", 9300, SO_REUSEPORT)
But when my program runs, there will be a random listening port. can you help me?
Sometimes it's the result I want, sometimes it's not.

[2019-06-28 11:51] yhirose commented on #179
@jingchuang, thanks for the question, but I can't probably give you a right answer because I am not familiar to SO_REUSEPORT.  Could you explain more clearly what you are trying to do with it?

[2019-06-28 13:50] jingchuang commented on #179
I want my program listening port to be 9300, so I use the listen("0.0.0.0", 9300) function, but after running the program is a random port, I thought it was the reason for port reuse, so use the SO_REUSEPORT option. Actually add This parameter does not solve the problem.

I used the "netstat -tlnp | grep adasrvd" command and found that my program is not listening to port 9300, but any port.
first

[2019-06-28 16:09] #179 closed

[2019-06-28 16:12] yhirose commented on #179
Thanks for the detailed information. I fixed it. You don't need to pass `SO_REUSEPORT` to `listen` method. (The 3rd parameter is not for socket option, but for socket flags.)

Could you try with the latest code to see if it fixes the problem on your machine? Thanks!

[2019-06-30 01:09] yhirose commented on #139
The read handler should be`std::function<int (Stream& strm, size_t content_length)> data_receiver`.

We expect that `data_receiver` could be called in 3 different ways based on HTTP request type:
1. With content length (`content_length` should be greater than  -1)
2. Without content length ('content_length` should be -1)
3. Chunked transfer encoding (2. could be called more than once)

There is a

[2019-07-03 11:17] DJuego opened #182 "Error/Warning in Microsoft Visual Studio 2017 with WSASocketA"
Hi! Thank you for your efforts!

Microsoft Visual Studio 2018 (Windows 10 x64) has a concern :-) :

`cpp-httplib\httplib.h(649): error C4996: 'WSASocketA': Use WSASocketW() instead or define _WINSOCK_DEPRECATED_NO_WARNINGS to disable deprecated API warnings`

DJuego

[2019-07-03 14:13] yhirose commented on #182
@DJuego, thanks for the build error report. It's caused by the change at #164. I'll take a look at it. Thanks!

[2019-07-03 14:52] #182 closed

[2019-07-03 14:53] yhirose commented on #182
@DJuego, I changed to use WSASocketW. Hope it fixes the warning.

[2019-07-03 19:22] DJuego commented on #182
Yes. It works! Thank you for your very quick fix! No problem in building now! Now i have to test in run-time. :-)

DJuego

[2019-07-04 07:53] jiagushuai opened #183 "Windows platform only? Other platforms, MAC, Linux"
I don't see any other platforms mentioned here. Do you support cross-platform HTTP and HTTPS

[2019-07-04 08:03] PixlRainbow commented on #183
This is a cross-platform library. To use it, you simply move the file `httplib.h` to a location you can access and `#include` it in your C++ code

[2019-07-04 09:10] jiagushuai commented on #183
thanks ! I'll test that later

[2019-07-04 09:10] #183 closed

[2019-07-05 14:57] PixlRainbow commented on #139
I've made an implementation similar to your third suggested way in #181, and I've set it up such that gzip encoded data will be inflated chunk-by-chunk before being given to a handler.
To create a handler, for example, you could do this
[code]
and in your `main` code
[code]
**However, this would only work for remote servers that actually support chunked downloads, and not for servers that offer a

[2019-07-06 00:52] yhirose commented on #139
@PixlRainbow, thanks for the helpful information and pull request. I'll try to find a unified interface which can be used not only for the chunked transfer encoding, but also other situations I mentioned above. I'll do more research about it and how to accomplish it. I may need to do some refactoring before implementing this change. I'll come back to this issue when I am not busy since it doesn't

[2019-07-06 03:04] PixlRainbow commented on #139
I actually based the design off existing code inside httplib for `Response.streamcb` in `Server` and by slightly modifying `detail::read_content_chunked`

[2019-07-10 03:50] jiagushuai opened #186 "Callback to the main thread to perform the specified action"
+ Qt is used in the project. UI can only be operated on the main thread.

![image](https://user-images.githubusercontent.com/29997741/60939115-20b0c680-a309-11e9-81cf-7a1fc0f7fe4d.png)

[2019-07-10 11:02] PixlRainbow commented on #186
This is not a question related to httplib, what you are asking for is just general thread management. You can just have a boolean global variable, set it to true from the request handler and call `listen` on a new thread. Then in the main thread, have a while loop on the boolean variable, containing just `std::this_thread::yield` after you start the server thread. If you want to have better CPU ef

[2019-07-10 12:46] yhirose commented on #186
@PixlRainbow, thanks for the clear answer to the question!

[2019-07-10 12:46] #186 closed

[2019-07-11 02:04] jiagushuai commented on #186
+ Thank you for your answer, this is exactly my question! I
+ don't know how to implement it, so would you please help me。If I understand you correctly, is this the picture below
![image](https://user-images.githubusercontent.com/29997741/61016702-2e2a8700-a3c3-11e9-9b31-ed5f7717149f.png)

[2019-07-11 02:44] PixlRainbow commented on #186
[code]

[2019-07-11 08:07] jiagushuai commented on #186
I'm sorry to restate my problem
[code]
+ When executing the getStr function,GetStr is followed by res.set_content
[code]

[2019-07-11 08:10] jiagushuai commented on #186
The getStr function is inside hi
This is an error for HTTP access to hi
+ Is there a better way to think about it

[2019-07-11 08:39] PixlRainbow commented on #186
Request handlers are not run when you declare them. When there is a new incoming request, a new thread is spawned to handle the request and your handler is then run in that thread. Cocoa (Qt dependency on Mac OSX) does not allow GUI functions to be run from that thread. The best you can do is to find some way to make the main thread wait/check for new info or events from the handlers, and run a fu

[2019-07-14 02:17] yhirose commented on #146
https://stackoverflow.com/questions/299628/is-an-entity-body-allowed-for-an-http-delete-request

[2019-07-17 06:45] andreakappa opened #187 "Examples not working"
I've built the examples on MacOS and on Ubuntu, in both cases:
*  simplerv shows this output and exits:

➜  example git:(master) ✗ ./simplesvr 8989 .
The server started at port 8989...%
➜  example git:(master) ✗

* server prints this output:

`server has an error...`

[2019-07-17 06:54] andreakappa commented on #187
Ok, my fault.
I had the SSL libraries available, but since no SSL files (cert/key) are provided servers fail starting.
Disabling the SSL version worked.

[2019-07-17 06:54] #187 closed

[2019-07-17 22:00] yhirose commented on #139
https://stackoverflow.com/questions/5280633/gzip-compression-of-chunked-encoding-response

[2019-07-18 02:01] #139 closed

[2019-07-18 02:09] yhirose commented on #139
I have finally implemented this feature. It handles 'with content length', 'without content length' and 'chunked transfer encoding' seamlessly. Also 'gzip' encoding is fully supported when zlib is linked.

The usage is as below:

[code]

[2019-07-18 10:46] y1015860449 opened #188 "Httpclient calls ssl crash"
Crash core:

#0  0x00007fa48b4d3277 in raise () from /lib64/libc.so.6
#1  0x00007fa48b4d4968 in abort () from /lib64/libc.so.6
#2  0x00007fa48b515d37 in __libc_message () from /lib64/libc.so.6
#3  0x00007fa48b51c5e4 in malloc_printerr () from /lib64/libc.so.6
#4  0x00007fa48b521c39 in _int_realloc () from /lib64/libc.so.6
#5  0x00007fa48b522eb2 in realloc () from /lib64/libc.so.6
#6  0x00007fa48d2

[2019-07-18 10:54] yhirose commented on #188
@y1015860449, thanks for the report. Could you please give me more information about it to reproduce the problem on my machine for debugging?

[2019-07-18 21:31] swoopae opened #189 "client POST request always returns nullptr"
so, i'm trying to send a post request to a php in a folder on my server. i have this piece of code.
my problem is response is always nullptr, no matter what i do to the code. is this even the right way of going about it?

thanks.

[code]

[2019-07-18 22:31] yhirose commented on #189
@swoopae, the client constructor accepts host name, not url. Also if you want to send a https request, you have to use `httplib::SSLClient`.

https://github.com/yhirose/cpp-httplib#openssl-support

[code]

Hope it helps.

[2019-07-18 22:31] #189 closed

[2019-07-19 00:42] y1015860449 commented on #188
@yhirose There are four crashes in two days.  Use the thread pool to continuously send post requests.

[2019-07-19 01:05] yhirose commented on #188
@y1015860449,  sorry but I don't understand what you mean by 'the thread pool'. Could you explain clearly what you are actually doing in your code? Also what OS and compiler are you using? Thanks!

[2019-07-19 01:26] y1015860449 commented on #188
Crash core:
#0  0x00007fa48b4d3277 in raise () from /lib64/libc.so.6
#1  0x00007fa48b4d4968 in abort () from /lib64/libc.so.6
#2  0x00007fa48b515d37 in __libc_message () from /lib64/libc.so.6
#3  0x00007fa48b51c5e4 in malloc_printerr () from /lib64/libc.so.6
#4  0x00007fa48b521c39 in _int_realloc () from /lib64/libc.so.6
#5  0x00007fa48b522eb2 in realloc () from /lib64/libc.so.6
#6  0x00007fa48d2b

[2019-07-19 01:27] yhirose commented on #170
@omaralvarez, any progress?

[2019-07-19 01:41] yhirose commented on #188
@y1015860449, thanks for the code snippet. It helps me a lot. I have some additional simple questions for you, so that I could reproduce it on my machine:

1) It rarely happens, right? (four crashes out of thousands of requests in two days, right?)
2) OpenSSL library version (1.0.2, 1.1.0, or 1.1.1?)
3) OS (Linux, MacOS or Windows?)
4) Compiler (g++, clang++, Visual Studio 2015/2017/2019?)\

[2019-07-19 02:17] yhirose commented on #188
https://www.openssl.org/blog/blog/2017/02/21/threads/
https://stackoverflow.com/questions/3919420/tutorial-on-using-openssl-with-pthreads

[2019-07-19 04:56] y1015860449 commented on #188
@yhirose

[2019-07-19 05:15] y1015860449 commented on #188
@yhirose 1、yes。
2、OpenSSL 1.0.1e
3、centos7

[2019-07-19 12:15] yhirose commented on #188
@y1015860449, thanks for the answers. I now have to work seriously on the thread issue which happens with versions prior to 1.1.0.

https://github.com/yhirose/cpp-httplib/blob/3d1ae3a3af47d26d90037604caa8789295955b0b/httplib.h#L2361-L2365

[2019-07-19 12:16] omaralvarez commented on #170
I actually was working on it today, but CMake gave me issues, I may have to open another pull request.

[2019-07-19 15:38] #127 closed

[2019-07-19 15:41] yhirose commented on #127
@omaralvarez, I implemented a helper function `make_basic_authentication_header` to make our life a bit easier. :)
https://github.com/yhirose/cpp-httplib#basic-authentication

[2019-07-19 21:29] yhirose commented on #188
@y1015860449, I made a necessary thread safety change for versions prior to 1.1.0 according to the OpenSSL documentation. Could you try with the latest httplib.h?

[2019-07-22 01:24] y1015860449 commented on #188
@yhirose I will test it today. Does OPENSSL_VERSION_NUMBER require conditional compilation? How to compile with CMakeList if needed?

[2019-07-22 02:14] yhirose commented on #188
@y1015860449, as you can see my changes below, I have already added the `#if OPENSSL_VERSION_NUMBER < 0x10100000L` condition. So all you need to do is just to replace with the latest httplib.h. Thanks for taking time!

https://github.com/yhirose/cpp-httplib/blob/7267b3f3e2f52441ef67b274b1ad27290167d5db/httplib.h#L2484-L2523

[2019-07-22 03:10] weijx1903 opened #190 "httpclient"
Recently, I find that it need to build with gcc-version 7.4.0 if you want to use http-client.
I build the project with gcc-version 5.4.0, Segment fault occurred by using function
httplib::Client::Get.

[2019-07-22 03:20] y1015860449 commented on #188
@yhirose Compile Error.
CMakeFiles/apush_server.dir/hw_push_client.cpp.o:(.bss+0x0): multiple definition of `httplib::detail::SSLThreadLocks::locks_'
CMakeFiles/apush_server.dir/google_push_client.cpp.o:(.bss+0x0): first defined here
CMakeFiles/apush_server.dir/imappframe.cpp.o:(.bss+0x0): multiple definition of `httplib::detail::SSLThreadLocks::locks_'
CMakeFiles/apush_server.dir/google_push_clie

[2019-07-22 03:32] PixlRainbow commented on #188
Were you using #include inside files which were then themselves included? Or is cmake cache still using the old version of cpp-httplib?

[2019-07-22 03:39] PixlRainbow commented on #190
Please provide more details such as code you were using and stack trace on the segfault

[2019-07-22 06:15] y1015860449 commented on #188
@PixlRainbow The intermediate file generated by cmake has been cleaned up and recompiled. The result is still incorrect.

[2019-07-22 11:00] yhirose commented on #188
@y1015860449 and @PixlRainbow, thanks for the investigation. I reproduced the linker errors with multiple translation units all of which include httplib.h. Could you try with the latest?

[2019-07-23 02:40] wnpllrzodiac opened #191 "how to close server gracefully"
code is blocked after call listen() api
Any mechanism to interrupt the block code?

[2019-07-23 04:31] PixlRainbow commented on #191
Server and SSLServer have a function `stop` . This function should be safe to execute from any other thread or request handler, but I would ask @yhirose to be sure.

[2019-07-23 11:51] yhirose commented on #191
@wnpllrzodiac, hope the following issue helps.
https://github.com/yhirose/cpp-httplib/issues/43

[2019-07-23 11:51] #191 closed

[2019-07-23 11:54] yhirose commented on #190
@weijx1903, in addition to @PixlRainbow's comment, could you provide your OS and a minimal code snippet which reproduce the problem on my machine. Thanks!

[2019-07-23 13:53] #121 closed

[2019-07-24 02:06] yhirose commented on #73
I just tested it on Ubuntu 18.04 server, and confirmed it the keep alive feature on the server is working correctly now. I'll reopen if someone finds problems regarding the keep alive connection.

[2019-07-24 02:06] #73 closed

[2019-07-24 02:09] yhirose opened #192 "Deprecate OpenSSL versions below 1.1.1"
https://www.openssl.org/policies/releasestrat.html

Version 1.1.0 will be supported until 2019-09-11.
Version 1.0.2 will be supported until 2019-12-31 (LTS).
Version 1.0.1 is no longer supported.
Version 1.0.0 is no longer supported.
Version 0.9.8 is no longer supported.

[2019-07-24 06:46] yhirose commented on #115
I couldn't reproduce this problem on my machine with Apach Bench. I would really appreciated if someone finds an easy way to reproduce it.

[2019-07-24 06:57] y1015860449 commented on #188
@yhirose Thank you for your answer, I am now verifying that there is still a crash.
I will check if there is a memory leak in the library, because I will increase the memory for a long time and will not recycle. Libcurl will have a memory leak when using ssl in multithreading. My previous project used libcurl.

[2019-07-24 08:55] omaralvarez commented on #170
CMake error fixed. Would it be possible for you to accept it and recreate `v0.2.0`? The conan package is ready, and will just need these changes to work.

[2019-07-24 11:09] yhirose commented on #170
@omaralvarez, thanks for the progress. Only thing is the version number. Does 'recreate `v0.2.0`' mean remove the tag and add it to the latest commit, or something else? The reason why I am concerned with the version number is that someone kindly registered cpp-httplib to vcpkg library manager at https://github.com/Microsoft/vcpkg/pull/7037. So I just wonder if the `v0.2.0` should stay at the curr

[2019-07-24 11:56] omaralvarez commented on #170
Sounds good. Just release a new version then. e.g. v0.2.1

[2019-07-24 14:11] yhirose commented on #71
@sgraham, it's too late though, it seems I finally found the reason of this problem. This is because the way to handle the 'Keep-Alive' connection on HTTP/1.0 was incorrect...
I found it when I was testing the cpp-httplib server with Apache Bench which sends HTTP/1.0 requests, and the test gave me the same exact behavior as you reported.

I fixed it at cb11d9412e8705058f3b9ec7892ec2cde6ea7862. Wit

[2019-07-24 14:29] sgraham commented on #71
Thanks, good news. I'll try updating and testing when I get a moment.

[2019-07-25 09:59] wu1274704958 opened #194 "How to post binary file?"
How to post binary file?

[2019-07-25 11:09] yhirose commented on #170
@omaralvarez, I added `v0.2.1` tag.

[2019-07-25 14:50] yhirose commented on #194
@wu1274704958, thanks for the question, but it's a general HTTP question.
https://stackoverflow.com/questions/8196124/sending-binary-data-over-http

[2019-07-25 14:50] #194 closed

[2019-07-26 07:17] omaralvarez commented on #170
@yhirose Thanks a lot and sorry for my silly mistake that made us create another tag. Another pull request coming with information about using Conan with the library.

[2019-07-26 07:47] omaralvarez commented on #170
@yhirose Done! #195

[2019-07-26 08:10] omaralvarez commented on #127
@yhirose You are the man! It works perfectly and this was exactly what I was looking for. Thanks a lot!

[2019-07-26 15:40] RichardSteele opened #196 "Solution to #139 breaks large gzipped responses"
The `decompressor` introduced with 6f663028e9293f2fd2f30b0b3c6c152ddecf0c76 breaks the complete retrieval of large gzipped responses because its `decompress` function assembles the piecewise decompressed data into a local string `decompressed`. Turning this string into an instance variable solves the problem.

To reproduce the issue, set `CPPHTTPLIB_RECV_BUFSIZ` to some really small value like 16

[2019-07-26 16:02] yhirose commented on #196
@RichardSteele, thanks for the report! It's a really bad problem... I'll look into it this weekend.

[2019-07-26 16:41] yhirose commented on #170
@omaralvarez, @Pospelove, thanks for your contribution.

In fact, a serious bug has been reported after `v0.2.1` has been released, and `v0.2.2` may be coming soon. Also there will be even more coming one after another for bug fixes and new features. :)

Since I would like to encourage people to always use the latest release, it would be nice if there is a way to detect a new release of cpp-httpli

[2019-07-26 16:44] ras0219-msft commented on #170
In vcpkg, we have some automatic-upgrade processes that we run occasionally. However, at any time, if you want an upgrade to happen sooner, we're happy to accept one-off PRs to upgrade a specific library.

[2019-07-26 18:39] #196 closed

[2019-07-27 05:11] PixlRainbow commented on #194
@wu1274704958 2 ways:
1. Multipart form with file form field
2. Set content type to file type, write binary data directly to post body

[2019-07-27 05:48] PixlRainbow commented on #115
I wonder if it would fix the issue to add an atomic integer tracking number of active requests handlers/threads, then if some threshold is reached just start sending http 429 and connection close to any other requests.
Http 429 means "too many requests"

[2019-07-27 21:34] kpeeters opened #197 "Support for HTTP range requests in server?"
I am using httplib to serve video files, using `response.content_provider` to serve the data. This works fine, apart from the fact that httplib's server does not seem to understand clients that make an http range request. Am I doing something wrong, or is this indeed not supported? If the latter, are there any intentions to support this feature in the future?

(I am aware of the fact that ranges a

[2019-07-28 04:48] PixlRainbow commented on #197
From inspecting the implementation of `content_producer`, I can see that the range header is completely ignored. The offset given to your handler is only the number of bytes read so far. However, support might be added in the future as it does not seem to be a difficult change to make.

[2019-07-28 09:02] Milerius commented on #36
Would love it

[2019-07-28 12:01] yhirose commented on #190
@weijx1903, I tested with g++ 5.5.0 on Ubuntu 18.04 server, and worked fine. Could you test with 5.5.0 as well and please let me know if you have the problem only with 5.4.0? I'll close it for now until I get more information from you. Thanks!

[2019-07-28 12:01] #190 closed

[2019-07-28 18:13] yhirose commented on #115
@Olegkravec and @xg0 , can I kindly ask you to give me more information please when you have time?

I tested with the sample server in the example folder and sent `ab -n 20000 -c 1000 https//localhost:8080/hi` command to the server. But it worked on Ubuntu 18.04 without any problem. Can you give your result by doing the same thing as I did? Thanks a lot!

[2019-07-28 18:20] yhirose commented on #188
@y1015860449, thanks for your further investigation. Is it possible for you to test with the latest version 1.1.1 on your project to see if the same crash happens? Thanks!

[2019-07-28 18:23] PixlRainbow commented on #115
Chances are the actual limit may differ wildly for different computers

[2019-07-29 08:27] omaralvarez commented on #170
For now I have never done it automatically, but I'll look into it. I will be paying close attention meanwhile and update the repo manually.

[2019-07-29 13:05] yhirose commented on #197
Thanks for the report! The server part doesn't handle the HTTP range header. I'll look into it to find a good interface to support it, and get back to you.

[2019-07-31 09:34] y1015860449 commented on #188
@yhirose thanks for your answer. After the crash did not appear (openssl 1.01e), we have already tested it, but we have been testing it for a long time, the memory is constantly increasing, it feels like there is a memory leak. I looked up the code of my own, there is no memory that is not released, so please look at the libhttp library for memory leaks, I am currently using multiple threads to ca

[2019-07-31 09:35] y1015860449 commented on #188
@yhirose I will find a time to test the latest openssl library later.

[2019-08-02 06:36] iomeone opened #199 "Is this library support android and ios?"
Thank you for the library.
I want to ask wheather this library(httpclient) support android and ios?

[2019-08-02 16:25] yhirose commented on #199
@iomeone, thank you for asking. I have personally not tested this library yet on iOS and Android. There is no grantee that it works on those devices.

[2019-08-02 16:25] #199 closed

[2019-08-02 18:37] yhirose commented on #197
@kpeeters, in order to support the HTTP range request, I made a major interface change to the content_provider interface. Here is the new way to use the `content_provider`.

[code]

The httplib server now fully supports the HTTP range request, and you don't have to do anything to enable it. It's a built-in feature. You can test with the sample hello server in the example folder.

[code]

As you ca

[2019-08-02 19:45] kpeeters commented on #197
Thanks, that's quick!

In the new `content_provider`,  am I still allowed to return less than the requested length (and does httplib then call my provider again to get the remainder of the requested chunk)?

[2019-08-02 22:13] yhirose commented on #197
Yes, indeed! If you provide less than the content size, the callback will be called with the adjusted offset and length representing the remainder of the content.

https://github.com/yhirose/cpp-httplib/tree/9d7b7175043d70365bc9633db68f575667122764#stream-content-with-content-provider

https://github.com/yhirose/cpp-httplib/blob/9d7b7175043d70365bc9633db68f575667122764/test/test.cc#L519-L529

[2019-08-03 12:15] kpeeters commented on #197
It seems to work with my own tests using curl, but now Chrome does not like the video which I sent it anymore, not even when I just play from beginning to end (that is, when a range request is made. I have verified that the right bytes get sent to the `out` object, so the only thing I can think of that could upset Chrome is a header issue. Firefox' video player plays this fine, so it's close thoug

[2019-08-03 13:15] yhirose commented on #197
@kpeeters, oops... I have just added `Content-Range` header for a singe range header as well. Could you try with the latest? Sorry for the problem.

[2019-08-03 20:48] kpeeters commented on #197
Thanks a million, all works fine now!

One final question related to this: is there any way for me to get a notification when the client closes the connection, so in other words, when I will no longer receive calls to the `content_provider` for a given stream? I am reading data from a file on demand, so I need to keep a file open for reading as I typically get more calls to my `content_provider`.

[2019-08-03 23:33] yhirose commented on #197
@kpeeters, glad to hear the change works for you. It doesn't notify the connection close initiated by client. As a reminder for my self, could you submit another issue? I'll look into it when I have time. It may require a change to the `content_provider` interface or can be done differently without any interface change. Thanks!

[2019-08-03 23:33] #197 closed

[2019-08-04 15:59] kpeeters opened #200 "Notify ContentProvider when connection closes"
The current `ContentProvider` is only informed about which data is needed, but there is no mechanism to let it know that no further data will be requested. It would be nice to have some way to get informed that a connection has been closed, either directly by using an extra argument for the `ContentProvider` function, or by using a separate callback function that gets called when the connection cl

[2019-08-05 00:51] yhirose commented on #200
@kpeeters, I added the third parameter in `set_content_provider ` which takes `content_provider_resource_releaser`. It's guaranteed that the releaser will be called regardless a request completes or not. So it's the best place to close the open resource. Please let me know if this change is enough to handle what you try to do.

https://github.com/yhirose/cpp-httplib/blob/2823a94fc17f59fa0d874e5d91

[2019-08-05 17:56] yamashi commented on #192
Does this mean currently the lib doesn't support the latest openssl versions ? I am running into build issues with openssl 1.1.x

[2019-08-05 23:10] yhirose commented on #192
@yamashi, I have just copied the chart as it is from the link. ('will be' looks a bit confusing...)
Anyway, it supports 1.1.1, and I confirmed again all the unit tests passed with 1.1.1. Thanks for asking.

[2019-08-06 07:02] lucky529 opened #201 "How do I return the requested page"
I am a beginner, I do not know how to return the requested page

[2019-08-06 08:26] #201 closed

[2019-08-06 10:09] Golpe82 opened #202 "get given path in url and save it as string"
Hi!
i am using this library and trying to solve something since  a couple days ago.
I have something like this:

`Server svr;

  svr.Get("/1/1/1", [](const Request& req, Response& res) {
        res.set_content("Hello World!", "text/plain");
    });`
My Request is in this form: http://<Socket>/1/1/1
the path /1/1/1 represents an address, that runs a subprocess.
I have a csv file as database where

[2019-08-06 13:16] PixlRainbow commented on #202
your request URL is wrong. Your server is set up correctly but you have omitted the "host" part of the URL on the client side.

![URL structure](https://vijaybhabhor.com/wp-content/uploads/2016/01/1-url-structure-query-parameter.jpg)

You said your request is in the form `http:///1/1/1`. You have included the protocol and the path, but left out the "host" (IP address, hostname or "localhost" if ru

[2019-08-06 13:22] PixlRainbow commented on #202
If you intended to have the path be variable numbers on the server GET handler, look into using regex expressions. There is an example in [README.md](https://github.com/yhirose/cpp-httplib/blob/master/README.md#server-example) with the path that starts with `R`

[2019-08-06 13:57] Golpe82 commented on #202
Thanks! I didnt type hier the Host but i used It ( It has a Typo) (127.0.0.1:1234/1/1/1).
I Will Take a look to the example with regex...

[2019-08-06 19:05] kpeeters commented on #200
Yes, that does the trick, thanks!

[2019-08-06 20:13] yhirose commented on #200
Thanks for the replay.

[2019-08-06 20:13] #200 closed

[2019-08-06 20:36] yhirose commented on #202
@Golpe82, hope the answer from @PixlRainbow helps. @PixlRainbow, thanks for the detailed information. I'll make it 'close'.

[2019-08-06 20:36] #202 closed

[2019-08-06 20:38] yhirose opened #203 "Unit tests fail on 32 bit Windows build"

[2019-08-07 05:51] Golpe82 commented on #202
It helped!
Thank u very much!

[2019-08-07 10:36] #203 closed

[2019-08-07 11:35] yhirose commented on #188
@y1015860449, is it possible for you to test with `httplib::Client` to see if the same memory leak problem also happens? If it doesn't, the memory leak should be caused by OpenSSL library.

[2019-08-07 11:51] yhirose commented on #115
The latest code supports thread pool (default thread count is 8). It may fix the problem, but I am not able to verify it because I have never reproduce this problem... I test it with `./example/hello` and `ab -n 10000 -c 1000 http://localhost:1234/hi`, and I confirmed there is no problem.
I'll close this issue if I don't hear anything about it for a while. Any additional information is very much a

[2019-08-09 09:14] AsteriskZuo opened #204 "can you update to http/2?"

[2019-08-09 11:08] yhirose commented on #204
I just want to keep it as is. Sorry.

[2019-08-09 11:08] #204 closed

[2019-08-12 03:53] jiagushuai opened #205 "Does it support Windows xp？"
+ Run listen on xp and quit
![image](https://user-images.githubusercontent.com/29997741/62844979-a6080c00-bcf7-11e9-96b7-2466dfa25a68.png)
+ The results are as follows
![image](https://user-images.githubusercontent.com/29997741/62844996-b02a0a80-bcf7-11e9-8470-6244922503fb.png)
+ Works fine in Windows 10
![image](https://user-images.githubusercontent.com/29997741/62845017-d6e84100-bcf7-11e9-8856-c

[2019-08-12 14:11] yhirose commented on #205
No, it doesn't.

[2019-08-12 14:11] #205 closed

[2019-08-12 15:55] PixlRainbow opened #206 "ContentReceiver cannot be used for SSE"
SSE in W3 specs is implemented on top of chunked transfer and uses the `text/event-stream` content type. Groups of events are seperated using a sequence of two line terminators. For the specific case of servers sending a content type of `text/event-stream`, clients are not expected to interpret double line terminators as end of content. In fact, there is no such thing as "end of content".

However

[2019-08-12 23:54] yhirose commented on #206
@PixlRainbow, thanks for the report. I'll link it to #45.

[2019-08-13 08:52] yhirose commented on #206
@PixlRainbow, what does 'the specific case of servers' mean?

[2019-08-13 09:04] PixlRainbow commented on #206
@yhirose I meant to say "the specific case of `text/event-stream`"

[2019-08-14 14:03] thekvs opened #207 "Does client support keep-alive mode?"
Server supports keep-alive mode, but what about client?

[2019-08-14 14:08] yhirose commented on #207
Please see #36.

[2019-08-14 14:08] #207 closed

[2019-08-15 00:29] phil-brad opened #208 "Cannot build with OpenSSL 1.1.1c"
When building with a CMake generated Visual studio solution (vc140), building against OpenSSL 1.1.1c, the compiler reports that the identifiers `SSL_load_error_strings`, `SSL_library_init` and `ERR_free_strings` are not found. Is this some sort of version issue, or does it not support 1.1.1c yet?

[2019-08-15 01:50] PixlRainbow commented on #178
@yhirose I have recently learned that it is not a good practice to use 301 redirect to make clients go to the https version of the site -- even if it does work and is functional. [More details here](https://security.stackexchange.com/questions/129273/whats-the-difference-between-using-hsts-and-doing-a-301-redirection)
Instead we should be recommending people [use HSTS header](https://developer.moz

[2019-08-15 14:09] yhirose commented on #208
@phil-brad, thanks for the report. I am actually using 1.1.c on Mac OS (installed by homebrew) and there is no problem to build. Could you make sure that your include and library paths are correct?

[2019-08-16 04:07] PixlRainbow commented on #208
![image](https://user-images.githubusercontent.com/44422178/63142864-34dd9700-c01e-11e9-8008-ce929e12d1fb.png)
I have run make test using OpenSSL 1.1.1c on an Ubuntu 18.04 docker image. OpenSSL 1.1.1c was built from source as it is not available in default apt-get repositories for Ubuntu 18.04. All tests passed.

[2019-08-16 04:54] yhirose commented on #208
@PixlRainbow, thanks for another confirmation!

[2019-08-16 16:02] phil-brad commented on #208
I used [FireDaemon's distribution of OpenSSL for Windows](https://kb.firedaemon.com/support/solutions/articles/4000121705), which it turns out is not quite clear what version is built on as in some places it says -c and some places -d (might be straight from repo rather than official release). I used a different distribution of OpenSSL 1.1.1c, and my problems  seem to have been solved. Thanks for

[2019-08-16 16:02] #208 closed

[2019-08-17 22:06] codecat opened #209 "uint64_t and size_t conflicts on 32 bit"
MSVC is reporting a bunch of warnings regarding the use of `uint64_t` throughout the library when building on 32 bit, which are due to the implicit casts to `size_t` (which is 32 bit rather than 64 bit.)

Perhaps `size_t` should be used for data lenghts and such rather than `uint64_t`?

[code]

There are also a number of cases where `detail::ContentReceiverCore` is set with the wrong callback para

[2019-08-19 10:21] thekvs opened #210 "Fails to build with OpenSSL enabled on Windows using MinGW-w64 32-bit compiler version 8.1"
Compilation process fails with the following error:

[code]

[2019-08-20 01:53] yhirose commented on #210
@thekvs, thanks for the report. What version of OpenSSL are you using?

[2019-08-20 05:21] thekvs commented on #210
I used this OpenSSL binaries: https://bintray.com/vszakats/generic/download_file?file_path=openssl-1.1.1c-win32-mingw.zip (advized on the official OpenSSL site https://wiki.openssl.org/index.php/Binaries)

[2019-08-20 07:32] yhirose commented on #210
It is because MinGW doesn't `inet_ntoa`. Same as https://github.com/yhirose/cpp-httplib/issues/60.

[2019-08-20 18:57] axel-habermaier commented on #182
Whether using ``WSASocketW`` or ``WSASocketA`` is correct depends on the project's Unicode compiler settings. It technically seems more correct to use ``WSASocket``, a macro which selects either ``WSASocketW`` or ``WSASocketA`` depending on the compiler settings; that's how the Win32 API works in general. You would still get the warning above (it's only an error if you compile with warning-as-erro

[2019-08-21 15:37] thekvs commented on #210
Is some sort of workaround possible? We need a simple http client with OpenSSL & zlib (and ideally with keep-alive) support for Windows and your project seems very promising. Unfortunately we can't change compiler.

[2019-08-22 08:38] yhirose commented on #210
@thekvs,It seems to fix the build error to use `getaddrinfo` instead of `inet_pton`. When I am not  busy, I'll take a look at it, and may ask you to verify the fix since I am not using MinGW on my Windows. Of course a pull request from you or others is always welcome!

[2019-08-23 19:20] cppdev-123 opened #211 "add follow location when response code is 3xx"
this will be very useful for httpclient and sslclient
curl already has this feature with CURLOPT_FOLLOWLOCATION
I can follow the locations manually but it is very bad to loop and check for redirection

[2019-08-24 01:02] yhirose commented on #211
@cppdev-123, thanks for the feedback. What do you mean by 'very bad'? Could you explain it more clearly? Thanks!

[2019-08-24 05:40] sriharshav commented on #36
Any updates on this?

[2019-08-24 10:09] cppdev-123 commented on #211
I mean very bad to do this every time I issue a request
it needs to be moved to a function

[2019-08-24 10:53] cppdev-123 commented on #211
this is a simple function I wrote :

[code]

[2019-08-24 18:58] PixlRainbow opened #212 "Default headers for set_base_dir"
Is there a way to set default headers which will be sent for all responses for files in `set_base_dir`? I would like to add a `Cache-Control` header to indicate that assets can be cached in-browser

[2019-08-25 10:56] cppdev-123 commented on #211
this is a better one using a uri library (taken from cpp-netlib uri)
I assume that the headers are always lowercase so I search only for 'location' not 'Location'

[code]

[2019-08-25 18:49] yhirose commented on #211
@cppdev-123, thanks for the code. I now understand what you are trying to do.

curl also supports the following options:
`CURLOPT_MAXREDIRS`
`CURLOPT_AUTOREFERER`

I'll implement this feature when I am not busy.

[2019-08-25 20:49] #210 closed

[2019-08-25 20:52] yhirose commented on #210
@thekvs, I just disable a part of `verify_host_with_subject_alt_name` which depends on `inet_pton`. The latest code should work with MinGW. Could you check on your machine? Thanks!

[2019-08-25 21:19] #212 closed

[2019-08-25 21:21] yhirose commented on #212
@PixlRainbow, I added `set_file_request_handler` to `Server`. You can add whatever additional headers through the handler. Please let me know if that's not what you wanted.

[2019-08-26 11:25] thekvs commented on #210
Now it compiles Ok with MinGW.

Thanks!

Just a quick question: https will still work with this change?

[2019-08-26 13:28] yhirose commented on #210
Glad to hear that!

The https communication still works. But as you can see in my change at https://github.com/yhirose/cpp-httplib/commit/bdbfc6cfe744c5615861fda39e74f860e5405cd6, it can no longer accept an IP address string such as '172.0.0.1'. You always have to use a domain name such as 'localhost' or 'google.com'.

[2019-08-27 06:52] AsteriskZuo opened #213 "SSLClient read_and_close_socket failed."
I have a problem. Test the demo with openssl1.1.0f. The code is as follows:
`
//#define CA_CERT_FILE "./ca-bundle.crt"
#define CA_CERT_FILE "ca-bundle.crt"
using namespace std;

void test_https() {
#ifdef CPPHTTPLIB_OPENSSL_SUPPORT
    httplib::SSLClient cli("httpbin.org");
    //    httplib::SSLClient cli("localhost", 8080);
    // httplib::SSLClient cli("google.com");
    // httplib::SSLClient c

[2019-08-27 09:30] AsteriskZuo commented on #213
I simplified the test process as follows:

[code]
MAC normal through, iOS error, error number 5.

[2019-08-27 12:00] PixlRainbow commented on #213
iOS does not provide filesystem access to apps, except through iOS APIs. How are you providing the `CA_CERT_FILE` to your code?

[2019-08-28 00:35] AsteriskZuo commented on #213
I manipulate the files using SSL's own code。
[code]
The ca-bundle.crt file and in the app package.

In addition, the sqlite database library does the same. Not paying attention to iOS file permissions.

[2019-08-28 02:47] AsteriskZuo commented on #213
I found the cause of the problem.  Thank you for PixlRainbow.
Wrong file path, not file permissions.
[code]
The proper path acquisition method for ios is as follows:
[code]
[code]

Thanks.

[2019-08-28 02:50] AsteriskZuo commented on #213
@yhirose You're right. I want to shut down the problem, too.

[2019-08-29 18:40] QuantScientist commented on #88
In this example (multi part files):
[code]
How do I read an image sent by POST into an OpenCV image on the server side?

Thanks,

[2019-08-30 10:06] yhirose commented on #88
@hasanenalbana, thanks for the question, but I can't answer your question because I don't know anything about OpenCV... The binary data is supposed to be in `req.body` from `file.offset` through `file.offset + file.length`.

[2019-08-30 15:44] yhirose commented on #209
@codecat, sorry for the late reply. I changed to use `uint64_t` instead of `size_t` at https://github.com/yhirose/cpp-httplib/pull/142. I'll try to find what should be done for this issue. Thanks.

[2019-08-31 21:54] #36 closed

[2019-08-31 21:56] yhirose commented on #36
I have finally supported the keep-alive connection on client. I might change the current interface in the future though...

[code]

[2019-09-03 21:10] #209 closed

[2019-09-06 02:16] sriharshav commented on #36
👍

[2019-09-06 22:07] #211 closed

[2019-09-06 22:12] yhirose commented on #211
Implemented it except the `CURLOPT_AUTOREFERER ` feature. Hope it helps.

[code]

[2019-09-16 08:58] tv1wnd opened #215 "cpp-httplib should use poll() instead of select() due to FD_SETSIZE limit"
Hi,

on Linux FD_SETSIZE is hardcoded to fds < 1024
in an program where a lot of file descriptors are used (e.g. many boost::asio instances) that might lead to fd exhaustion

I made a quick'n dirty patch (against release 0.2.4) which enables poll() through #define CPPHTTPLIB_USE_POLL for reads

It works on linux/windows, but I unfortunately haven't had the time to thoroughly test it and properly m

[2019-09-16 12:26] yhirose commented on #215
@tv1wnd, thank you for the contribution. Could you at least test it with the unit test on your Linux environment for me? (`cd test && make`) Thanks!

[2019-09-16 16:06] tv1wnd commented on #215
@yhirose  ... looks OK so far
for OpenSSL I used the Version supplied by vcpkg though (see attached Makefile)
OS was Ubuntu 19.04

Cheers

[----------] Global test environment tear-down
[==========] 93 tests from 22 test cases ran. (35810 ms total)
[  PASSED  ] 93 tests.

[Makefile.txt](https://github.com/yhirose/cpp-httplib/files/3617123/Makefile.txt)

[2019-09-16 21:56] yhirose commented on #215
@tv1wnd, thanks for the report. Another question. I saw the following code which tries to support Windows.

[code]

Are you able to test on Windows as well? (Or did you do it already?) If it works on both Windows and Linux, I'll make this `poll` implementatin as the default behavior and leave the `select` implementation only for Mac OS.

Thanks for your support!

[2019-09-17 07:27] tv1wnd commented on #215
@yhirose
Yes I did, but just using my own application
haven't encountered any issues so far

I would use
#ifdef CPPHTTPLIB_USE_POLL
#define poll(fds,nfds,timeout) WSAPoll(fds,nfds,timeout)
#endif
instead though

I would make poll optional, since most use cases are covered by select anyway I think

Cheers

[2019-09-17 16:45] andre237 opened #216 "Connection refused if localhost"
I have the server running on a Raspberry PI. If I start the server passing the actual IP, it works just fine. However, if I pass "localhost", like this: `server.listen("localhost", 4444);` and then try to request something, it says connection refused. Is this regarding to the library or something on my network or raspberry that I am forgetting?

[2019-09-17 17:22] yhirose commented on #216
@andre237, thanks for the question. If you are connecting to the server from another machine, this it the expected behavior. If you send a request from the same Raspberry PI but the server doesn't respond to it, please give me more details. The following stackoverflow post could be helpful. Thanks!

https://stackoverflow.com/questions/19482164/how-can-i-access-localhost-from-another-computer-in-th

[2019-09-17 17:36] andre237 commented on #216
Requesting from the same raspberry is OK, but I need to access it from other machines. I already know this raspberry IP address, it is 25. So I tried using  `curl http://192.168.0.25:4444/api` and it keeps returning connection refused. What intrigues me the most is that if I start the server like this: `server.listen("192.168.0.25", 4444);` I can access it from the outside without any problems. My

[2019-09-17 18:36] yhirose commented on #216
`localhost` is a loopback address which usually represents `127.0.0.1`, and it's not exposed to outside.
https://whatismyipaddress.com/localhost

Hope it helps as well:
https://stackoverflow.com/questions/5524116/accessing-localhost-xampp-from-another-computer-over-lan-network-how-to#answer-5524127

[2019-09-17 19:23] andre237 commented on #216
Yeah, I was misunderstanding those concepts, my bad. Thanks for your help

[2019-09-17 19:23] #216 closed

[2019-09-17 23:13] yhirose commented on #215
@tv1wnd, I confirmed the PR #217 passed all the unit tests on Linux and Windows on CI and on macOS on my MacBook. (This is based on your patch, and I made one change to make it work on macOS.) So it seems to be a great improvement!

If the `poll` implementation has the advantage (no FD_SETSIZE limit) over `select` and it works on three environments with no problem, I would like to switch to it and

[2019-09-18 08:59] tv1wnd commented on #215
Can't really think of any, except user choice or maybe some obscure embedded system where poll is not available/broken for some reason

Cheers

[2019-09-18 11:11] yhirose commented on #215
OK. I'll leave the `select` implementation. Thanks for your fine contribution!

[2019-09-18 12:46] #215 closed

[2019-09-18 21:20] ihowell opened #219 "Error using SSLClient (possibly user error)"
I am working on Mac OS X Mojave and the Clang Apple's clang version 10.0.1. I cannot get the SSLClient to work. I've created a minimal example program to verify my issue:

[code]

With makefile:

[code]

I get the output that an error occured, even though I'm not checking the certificate or anything. Upon further investigation I found that it goes wrong at line 1123. `getaddrinfo(host, service.c_s

[2019-09-18 21:41] ihowell commented on #219
I have since tested what the exact error `getaddrinfo` is spitting out. It is an `EAI_NONAME` error, which means that (https://linux.die.net/man/3/getaddrinfo):

The node or service is not known; or both node and service are NULL; or AI_NUMERICSERV was specified in hints.ai_flags and service was not a numeric port-number string.

I'm not sure how this is happening. I also tested with using `"https

[2019-09-18 22:27] ihowell commented on #219
I found the error. Apparently, including `https` in the host name causes `getaddrinfo` to fail. While I did find a work-around, I'm curious as to know what you would think should be the standard for this library.

[2019-09-19 03:03] yhirose commented on #219
Thanks for the reports. Here are the constructors of `Client` and `SSLClient`. As you can see, the first parameter of them should be a host name such as `google.com`.

[code]
[code]

 `https://google.com` contains not only host name, but URL scheme (https) as well. That's why your example fails.

You can also see tons of client examples in `test/test.cc`.

[2019-09-19 03:03] #219 closed

[2019-09-23 11:08] HeMinzhang opened #220 "Header file conflict code bug"
[code]

the conflict between the above code and the [httplib project](https://github.com/yhirose/cpp-httplib)
[reappear bug example](https://github.com/HeMinzhang/opensslbug/blob/master/src/makeBug/main.cpp)

[openssl github issue](https://github.com/openssl/openssl/issues/9981)

[httplib github issue](https://github.com/yhirose/cpp-httplib/issues/220)

[Previous discussion in qt bugreport](https:

[2019-09-23 13:04] yhirose commented on #220
@HeMinzhang, thanks for the report. But it's not clear to me Could you explain more details? Thanks.

[2019-09-23 13:35] HeMinzhang commented on #220
[vs2019 c++ demo bug](https://github.com/HeMinzhang/opensslbug/blob/master/vs_src/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.cpp)

When the project references both the openssl and httplib codebases, the following code will cause an error.

[code]

[2019-09-23 13:53] yhirose commented on #220
What version of openssl are you using in your project?

[2019-09-23 14:46] omaralvarez commented on #170
I have updated the latest versions and also added OpenSSL support. Automatization still not sure.

[2019-09-24 08:32] PixlRainbow commented on #220
Does `#pragma once` fix the issue?

[2019-09-24 08:43] PixlRainbow commented on #220
Do not `#include` OpenSSL headers if you are already referencing httplib.

[2019-09-24 16:11] ElhamAryanpur opened #221 "Undefined Reference To 'pthread_create' error when compiling"
I have tried to compile it with g++ on ubuntu as following:

`g++ -o server Server.cpp`

but it give this error:

[code]

[2019-09-24 16:44] yhirose commented on #221
@ElhamAryanpur, '-pthread` option is needed. Hope it helps.

[2019-09-24 16:44] #221 closed

[2019-09-24 18:03] yhirose commented on #220
@HeMinzhang, I confirmed that it doesn't happen on Mac OS, and looked into the OpenSSL header files. It turns out that the following Windows specific code causes the compile errors.

https://github.com/openssl/openssl/blob/7c2a981ff7ca721a85687dcd972d54361434806f/include/openssl/ossl_typ.h#L68-L75

So I cannot do anything on my side. As @PixlRainbow, only thing you could do is not to include any O

[2019-09-24 18:03] #220 closed

[2019-09-24 23:21] yhirose commented on #170
https://github.com/memunix/conan-cpp-httplib
https://github.com/microsoft/vcpkg/pull/8172

[2019-09-25 02:16] HeMinzhang commented on #220
@yhirose @PixlRainbow Thank you.

[2019-09-25 02:19] HeMinzhang commented on #220
I have found a solution before. For c++ projects, avoid putting openssl and httplib into the class header file (.h, .hpp) to avoid this bug.

[2019-09-25 07:23] omaralvarez commented on #170
My recipe is here:

https://github.com/omaralvarez/conan-httplib

Everything has been updated and working fine with OpenSSL also.

[2019-09-25 09:37] fallenadi opened #222 "Range request bug"
When requesting a range from the server in the form "Range: bytes=1-2", i expect 1 byte to be returned.

I think the function get_range_offset_and_length() has a bug which would be fixed by:
  return std::make_pair(r.first, r.second - r.first );

instead of
return std::make_pair(r.first, r.second - r.first +1 );

[2019-09-25 11:13] yhirose commented on #170
@omaralvarez, thanks for keeping it up to date!

[2019-09-25 13:23] yhirose commented on #222
@fallenadi, thanks for the report. But what you suggests is not correct according to [the section 2.1 in RFC 7233](https://tools.ietf.org/html/rfc7233#section-2.1). The `last-byte-pos` should be '**inclusive**'.

[code]

Where did you get the information that `last-byte-pos` is 'exclusive'? It sounds curious.
Thanks.

[2019-09-28 13:17] yhirose commented on #222
Please let me know if I misunderstand what you were trying to say. Thanks.

[2019-09-28 13:17] #222 closed

[2019-10-01 17:58] andre237 opened #229 "Concurrent access"
Does the library handles concurrent requests or should I myself synchronize access to resources inside each handler?

[2019-10-01 18:22] yhirose commented on #229
@andre237, thanks for the question. Your question is not too clear to me though, I'll try to do my best to answer the question. The cpp-httplib server itself can accept concurrent requests as many as the thread pool can handle. (You can confirm with the Apache Bench utility and so on.) But the resource handling like reading files is a totally another issue. If resources are mutable, they should be

[2019-10-01 18:22] #229 closed

[2019-10-01 18:32] andre237 commented on #229
Indeed it helped, I was referring to file reading/writing within a request. Will make them synced from now on. Thanks for the support!

[2019-10-02 13:48] yhirose opened #230 "HTTP/2 Connection Preface problem"
a99e02aeb3f189763c2c9d64b494437d179fee76

[2019-10-03 17:48] yhirose commented on #230
Fixed at dcdb0d047b375ee50794fa9214cee3a1cea36066.

[2019-10-03 19:11] elli-one opened #233 "Async notification to client"
Maybe not possible? Any chance to implement async notification to client without polling
from client otherwise I must go to to raw socket again.

[2019-10-03 20:02] yhirose commented on #233
@elli-one, are you talking about sending event messages to clients with this HTTP server library? If so, it's not easy to do it. You may be able to use SSE (Server-Sent Events technique, but I would rather recommend you to find websocket libraries instead of using this library. Please see #45 to see more information for SSE. Thank you for asking!

[2019-10-03 20:02] #233 closed

[2019-10-04 06:44] PixlRainbow commented on #233
It easy to create an SSE implementation from the server side, but at the moment, not possible to do so from the client side

[2019-10-07 03:35] IlyaStuurFedorov opened #234 "Lambda usage in examples"
I am having a bit of a problem on Win7 VS2017 C++17 with the example code of [content receiver](https://github.com/yhirose/cpp-httplib#get-with-content-receiver). I don't really know what seems to be the [problem](https://i.imgur.com/FUM44rG.jpg) here.

[2019-10-07 03:56] IlyaStuurFedorov commented on #234
I overlooked a problem on my end that was related to conflicting libraries. The problem is now solved.

[2019-10-07 03:56] #234 closed

[2019-10-08 15:58] naimGur opened #235 "File response problem (image)"
Hello, I am having problem with responding with file. I am trying to send image as response with the function `res.set_content();`
The image I am trying to send is base64 presentation of a picture:
` std::string binary_image = "data:image/png;base64,iVBORw0KG..........................kSuQmCC";`
I produced `binary_image` variable by converting a small png image(16x16) into base64 string. I double c

[2019-10-08 17:32] PixlRainbow commented on #235
Browsers do not automatically decode content served in base64 encoding if it is served in the response body. Since the `content-type` is `image/png`, your browser expected to find a binary png image.
Browsers only decode base64 if provides one as an **URL**

[2019-10-09 08:15] naimGur commented on #235
Sending `<img src="base64_string">` as `text/html` worked. Thanks for quick and precise reply!

[2019-10-09 09:36] PixlRainbow commented on #235
if you feel that the issue is resolved, please click on "close issue"

[2019-10-10 10:44] naimGur commented on #235
Actually `text/html` method worked, but my use case is blocked when `html` handles image. I had to send image directly to browser. So I tried to use the other method which is to send `.raw` as binary string. But I could not do that by the reason of my lack of understanding on general subject. Could you please explain the solution with a more explicit or algorithmic way? Or can you provide a docume

[2019-10-10 12:45] #235 closed

[2019-10-10 13:39] PixlRainbow commented on #235
@naimGur alternatively, a simpler example. Notice that there is *no encoding*. The file data is read and immediately sent.
[code]

[2019-10-10 14:58] MakingL opened #236 "http client request error"
Hello, I am a new to httplib, I want to use httplib to access the http server, but the results do not work. I set up my code according to the http-client in the example, but I still don't know what went wrong. It seems that the tutoria of the code in the example is not detailed enough.

This is my http-client code:

[code]

I build and run it in CentOS, I get wrong as this:

[code]

When I request

[2019-10-10 14:59] MakingL opened #237 "http client request error"
Hello, I am a new to httplib, I want to use httplib to access the http server, but the results do not work. I set up my code according to the http-client in the example, but I still don't know what went wrong. It seems that the tutoria of the code in the example is not detailed enough.

This is my http-client code:

[code]

I build and run it in CentOS, I get wrong as this:

[code]

When I request

[2019-10-10 15:17] yhirose commented on #237
@MakingL, it seems the duplicate of #236.

[2019-10-10 15:28] yhirose commented on #236
@MakingL, thanks for the report. I saw the following problems in your code:

`httplib::SSLClient cli("https://www.baidu.com", 80);` should be `httplib::SSLClient cli("www.baidu.com", 443);` or just `httplib::SSLClient cli("www.baidu.com");`

``httplib::Client cli("codeday.me", 443)`` should be `httplib::Client cli("codeday.me", 80);` or just``httplib::Client cli("codeday.me");`

When it comes to t

[2019-10-14 09:55] pmehul55 commented on #163
I am not able to use this class **SSLClient**. Can you please help me ?

[2019-10-14 21:09] d1kkop opened #238 "Complicated url won't work."
This link works in browser:

https://research.geodan.nl/geoserver/research/wms?service=WMS&version=1.1.0&request=GetMap&LAYERS=research:bgt&BBOX=122000,447000,123000,448000&WIDTH=1024&HEIGHT=1024&FORMAT=image/png&srs=EPSG:28992&FORMAT_OPTIONS=antialias:none

But not from code.
To confirm that the code is correct, I ripped a host and url from one of your test schemes, which does indeed work.

![ima

[2019-10-14 21:36] yhirose commented on #238
@d1kkop, thanks for the feedback. Your URL uses 'https' scheme. Could you try again with `httplib::SSLClient` to see what's going to happen instead of `httplib::Client`? (You need to install OpenSSL library to build the code.)

[2019-10-15 02:08] PixlRainbow commented on #238
Just a note: `Content-Type` header is ignored by servers if included in `GET` requests, since `GET` requests do not have a content body. If you want to indicate to the server what type of data you would *prefer* to receive, use the `Accept` header

[2019-10-15 02:10] PixlRainbow commented on #238
Also, to use `SSLClient` you need to build with `#define CPPHTTPLIB_OPENSSL_SUPPORT`

[2019-10-15 13:41] Cansisti opened #239 "Out is undefined"
Hello
In README.md there are examples that use "Out" type of function, while there are no such thing defined. I think it has been mistaken with DataSink as that's what ```set_context_provider``` expects:
[code]
Also a quick fix may consist of adding following:
[code]

[2019-10-15 13:47] Cansisti commented on #239
I actually added it in https://github.com/yhirose/cpp-httplib/pull/240

[2019-10-15 14:24] #239 closed

[2019-10-15 19:32] d1kkop commented on #238
![image](https://user-images.githubusercontent.com/10207653/66863267-eb181b00-ef92-11e9-9b19-db42c240b402.png)

No luck.
I tried for the host both with and without https:// in front.
I noticed this was necessary when using 'normal' Client (remove the http in front).
If you concat the host + url and put https:// in front, it works in the browser.
Furthermore, there are some compile errors and warni

[2019-10-15 19:38] yhirose commented on #238
What happens with curl?

[2019-10-15 20:05] yhirose commented on #238
I tried with the following code:

[code]

I got this result successfully:

[code]

Hope it helps.

[2019-10-15 20:07] d1kkop commented on #238
![image](https://user-images.githubusercontent.com/10207653/66865725-223cfb00-ef98-11e9-8c3a-a0ad5afc1fa9.png)

[2019-10-15 20:17] d1kkop commented on #238
With the exact same hard coded lines, i get empty response, lol.

[2019-10-15 21:25] yhirose commented on #238
If `SSL_connect` returns `-1`, this problem has nothing to do with cpp-httplib itself and I can't help you any more... Only thing that I could suggest is to make sure that the OpenSSL library that you are using is properly installed (I am using the OpenSSL 1.1.1d.) and your executable is allowed to make outgoing HTTPS request on your machine. If there is no problem on your OpenSSL setting, you may

[2019-10-15 21:25] #238 closed

[2019-10-15 23:03] d1kkop commented on #238
You are absolutely right. No problem man:)

Op di 15 okt. 2019 23:25 schreef yhirose <notifications@github.com>:

[2019-10-18 14:23] sophana opened #241 "streaming post requests in http server"
Hi

I'd like the server to handle huge post requests like big file uploads.
I'm looking at the source, and it seems that in process_request, read_content reads the whole request body and loads it into a string, before calling the request handler.

It would have been nice if the handler could register a content receiver.

I made a pull request where you can register a streamHandler, the handler rec

[2019-10-19 14:15] PixlRainbow commented on #241
referenced PR: #242

[2019-10-21 02:55] yhirose commented on #241
@sophana, thank you for bringing up this thing. I'll try to implement it when I have time.

[2019-10-22 16:47] sophana commented on #241
Ok thanks.
I also have the same problem on the client side post.
I also need to upload very large files with on the fly gzipping to the server.
Curl doesn't perform gzipping. I can pipe the file through gzip to curl, but unfortunately, it seems that curl must store the whole file before sending it on the network, probably because it must compute the size before sending it.

The client doesn't acce

[2019-10-22 18:37] elli-one opened #245 "Request need long time"
Hi,
When I POST a request to server (on local host) than the consumed time  is very long (> 1000ms). Normaly for raw socket communication I connect , send a request and receive the response < 10ms.
What is here the blocker ?
 elli

[2019-10-22 19:22] yhirose commented on #241
@sophana, thanks for the reply. Could you make a pull request about your bug fix for the decompressor bug, since it's a separat issue?

[2019-10-22 19:50] yhirose commented on #245
@elli-one, thanks for the report. I don't know which one (server or client) you are talking about though, but I anyway tested performance on both sides on my MacBook.

As you can see my results below, both server and client perform pretty well.
I feel something on your environment seems to be causing the slowness.
Hope you will find the reason why your result is slow soon!

#### Server

I have tes

[2019-10-22 19:50] #245 closed

[2019-10-22 20:56] elli-one commented on #245
Re: [yhirose/cpp-httplib] Request need long time (#245)

Hello,

sorry, your benchmark test run against a external HTTP implementation. !!
Not your own server.
What I use is the httplib server and httplib client implementation. Currently this
test is with Windows 7. Tomorrow I check with Linux.

elli

@elli-one, thanks for the report. I don't know which one (server or client) you are talking about

[2019-10-22 21:33] yhirose commented on #245
OK. I modified `example/hello.cc` and 'example/benchmark.cc` to meet your situation as below:

#### example/hello.cc
[code]
#### example/benchmark.cc
[code]

Here is the result when executing the benchmark against the hello server:
[code]

It's even much faster than accessing `httpbin.org`. Hope it helps.

[2019-10-23 16:35] selimanac opened #247 "Redefinition Header File (winsock2.h) errors when building for Win32"
I build the lib for iOS, Android, MacOS and Linux without a problem. But I'm failing when building for Win32. I did try adding below definitions but no use.

[code]

I'm building remotely by using:
Windows: WindowsKits 8.1 + 10.0, Microsoft Visual Studio 14.0

Any idea?
Thank you.

Lines:
91 #include <winsock2.h>
92 #include <ws2tcpip.h>

[code]

[2019-10-23 17:22] selimanac commented on #247
I fix it. I was my fault, sorry.

[2019-10-23 17:22] #247 closed

[2019-10-23 19:31] elli-one commented on #245
Re: [yhirose/cpp-httplib] Request need long time (#245)

Hallo,

yes, it make sense to show the speed for all access methods. Inbetween I have testet with
Linux and can see expected fast access. So this problem seems my system. This sounds a little
strange for me, but I have enough computer to test it.
This library is very nice and usefull !.
elli

OK. I modified example/hello.cc and 'example/benc

[2019-10-26 08:44] PixlRainbow commented on #241
Added in 5f32c424c2d819a74bf00851b1fb5e1b28a88e57

[2019-10-26 14:59] Sil3ntStorm opened #248 "Per Request read timeout"
The only option to set a read timeout is at compile time using the `CPPHTTPLIB_READ_TIMEOUT_SECOND` and `CPPHTTLIB_READ_TIMEOUT_USECOND` defines.
This is incredibly lacking, as there are times where you would want to set the read timeout to a higher value for long running server requests, but not block unnecessarily long for other requests that are expected to return quickly.

[2019-10-27 01:02] ChineseBoyLY opened #249 "How to implement breakpoint continuous transmission of large files"
How to implement breakpoint continuous transmission of large files

[2019-10-27 02:48] You-NeverKnow opened #250 "Bug or feature? Port sharing among processes using httplib"
So when I run two programs compiled with `httplib.h` on the same port, my Ubuntu machine does NOT throw a "Port already in use" error. Instead, they dynamically share the port address.

I can simultaneously run binaries generated by both the files below:
[code]

[code]
And if I do get requests on them, the load seems to be evenly divided amongst them.
[code]

Is this intended?

[2019-10-27 03:29] yhirose commented on #250
@You-NeverKnow, thank you for the report! It's actually an intentional behavior.

https://github.com/yhirose/cpp-httplib/blob/5f32c424c2d819a74bf00851b1fb5e1b28a88e57/httplib.h#L1253-L1256

`SO_REUSEPORT` causes this behavior. (This is available since Linux 3.9.)

For more information about this option, you can check the following web pages:
https://github.com/torvalds/linux/commit/c617f398edd4db2

[2019-10-27 03:36] yhirose commented on #248
@Sil3ntStorm, thank you for the feedback!
Would you like to set read timeout value as parameters in client APIs such as `Get`? If so, it's not too difficult to implement.
Or are you talking about changing read timeout value per each server handler? In this case, i couldn't find any easy way to do it...

[2019-10-27 03:40] yhirose commented on #249
@ChineseBoyLY, thanks for the question. But I don't understand what you are exactly asking.
It seems like this is not a question for cpp-httplib, but a general question about HTTP. Sorry that I couldn't help you...

[2019-10-27 03:49] yhirose commented on #241
Yes, I implemented the feature to accept a content provider for Post/Put/Patch requests.
When it comes to content receiver on server handler, it's a bit more difficult to implement it properly. But I'll get back to you when it completes. Thanks for your patience!

[2019-10-27 04:06] PixlRainbow commented on #249
Please explain what you want. Do you want "streaming" http transfer? Why did you add the word "breakpoint"?

[2019-10-27 04:13] You-NeverKnow commented on #250
Wow. I wasn't aware of this. Thanks for the prompt response.

[2019-10-27 04:13] #250 closed

[2019-10-27 10:28] Sil3ntStorm commented on #248
Talking about the client part of this yes.
My first idea was also to add a `read_timeout` parameter to the `Get`, `Post` etc. functions which seemed the most logical / convenient place. However the actual read timeout is in the (SSL)SocketStream::read function that gets called from stream_line_reader::getline, so it would end up getting passed around quite a bit 😞.

[2019-10-27 20:56] #248 closed

[2019-10-27 21:06] yhirose commented on #248
@Sil3ntStorm, I have pondered over where this feature can implemented. My conclusion is to add`set_read_timeout` method instead of added another parameter to `Get` and other client methods. Since most users don't need this feature, this approach seems to be better to me. This is similar to `set_keep_alive_max_count`. Hope this method will solve the issue you have.

[2019-10-28 12:21] #249 closed

[2019-10-30 22:49] sharatk opened #255 "Support for Content-type "Application/gzip""
First of all thanks for this wonderful library!. I have a requirement for the server to receive a tar.gz file via a PUT and also to send a tar.gz file in response to a GET.  The server does not have to compress or decompress. The application is responsible for tarring and untaring the tar.gz files.  Is there any support for this ? I don't see the content-type "Application/gzip" listed anywhere in

[2019-10-31 18:43] yhirose commented on #255
@sharatk, thanks for the question. cpp-httplib doesn't do any special treatment except for `application/x-www-form-urlencoded` and `multipart/form-data` content types.

Since tar.gz files are just binary files, you don't have to do any thing special when handling tar.gz files with cpp-httplib. (a tar.gz file is not different from a jpeg file at all from the cpp-httplib standpoint.)

Hope the expla

[2019-10-31 18:43] #255 closed

[2019-10-31 20:17] sharatk commented on #255
Thank you! Appreciate much!!

[2019-11-07 15:12] DeadNumbers opened #258 "Can't build with Mingw on linux"
[code]
Error
[code]

[2019-11-07 18:20] yhirose commented on #258
@DeadNumbers, thank you for the report. The build error tells that Winsock library is not linked.
Could you try with '-lws2_32' command line option?
https://stackoverflow.com/questions/2033608/mingw-linker-error-winsock

[2019-11-07 18:20] #258 closed

[2019-11-08 06:47] DeadNumbers commented on #258
@yhirose thanks!

[2019-11-08 12:56] marty1885 opened #259 "SSL_ERROR_RX_RECORD_TOO_LONG error from time to time"
Hi,

I'm programming a wabapp using the library. The library works perfectly under HTTP. But Firefox starts to show the SSL_ERROR_RX_RECORD_TOO_LONG error when HTTPS is turned on. What can I be doing wrong?

Thanks.

OS: Arch Linux
libssl: 1.1.1.d-1
Compiler: GCC 9.2.0
Linux: 5.1.4
Cert Issuer: Gandi

[2019-11-08 13:58] yhirose commented on #259
@marty1885, thank you for the report. I did some research, but it seems there is little to do on cpp-http side. The following article may be helpful for you to find the actual cause of the problem.
https://www.thesslstore.com/blog/ssl_error_rx_record_too_long/
Could you make sure if your server settings are ok, such as port number and SSL version?

[2019-11-09 06:17] PixlRainbow commented on #259
Other potential issues may be that your browser has cached a certificate from a previous project on the same address, or that your site certificate has been created in a way that isn't compatible with browser use.

[2019-11-11 19:35] yhirose commented on #259
Please let me know if you find something which really shows cpp-httplib causes the problem. Thanks!

[2019-11-11 19:35] #259 closed

[2019-11-12 09:25] tabvn opened #260 "How about Websocket support"
@yhirose i must say you did great job.
i 'm also a fan of c++, if this library support you could create a demo how websocket support.
i really like to use it plus with redis to create scalable pubsub  websocket for next project.
Thank you and keep up the good work.

Best regards,
Toan

[2019-11-13 04:00] drocdotCode commented on #150
Anymore headway on this? Does it need to be prioritized?

[2019-11-13 12:11] yhirose commented on #260
@tabvn, thank you for the feedback! cpp-httplib doesn't support websocket, and I am not planning to support it at this point. If you need 'event push' from server to client, you can use 'long polling' technique or SSE. Hope it helps.
https://github.com/yhirose/cpp-httplib/issues/233

[2019-11-13 12:11] #260 closed

[2019-11-14 22:30] yhirose commented on #150
@aj3423, please see my previous comment below.

According to my understanding, this problem only happens with users using this library on socks5 proxy, and I can't make the same environment to reproduce this problem on my machine... So I am even not planning to fix this problem for now. Sorry for the answer, but this comment helps.

[2019-11-14 22:35] yhirose commented on #150
@drocdotCode, Please see my previous comment below.

According to my understanding, this problem only happens with users using this library on socks5 proxy, and I think it's a rare situation. Since I can't make the same environment to reproduce this problem on my machine, I am even not planning to fix this problem for now. (Do you really get affected by this problem? If so, are you also using sock

[2019-11-15 04:44] drocdotCode commented on #150
Thank you. Can you tell me how or where I can address you for general
inquiry of this project?

On Thu, Nov 14, 2019 at 4:35 PM yhirose <notifications@github.com> wrote:

--

*Derek Pauley*

*System Administrator,*

*Programmer *

*Nashville, TN 37214*

*M: 615.517.5962*

[2019-11-18 01:18] drocdotCode opened #261 "Motivation and Roadmap"
Could the author provide a brief history, motivation, and intention for the library for the short term and possibly long term plans moving forward?

[2019-11-19 06:25] PixlRainbow commented on #261
I can't find where it's written anymore, but I believe I remember that this library was originally written to provide an interface very similar to Express.js in C++

[2019-11-19 14:13] yhirose commented on #261
Yes, I needed a cross platform HTTP server that has simple interface like Express.js and Sinatra. Also I kept it in mind that it can be very easily embedded in other applications. That's why I made is as a single-file header-only library.

Since this is just my personal project that I can work on in my spare time, I don't have any short term and long term plans. But you can see some github issues

[2019-11-19 14:13] #261 closed

[2019-11-20 07:24] WanpengQian opened #262 "Any plan to support basic/digest proxy and CONNECT support?"
Currently the code is not support basic/digest proxy support.
also proxy via CONNECT method.

Any plan to implement them?
thanks.

[2019-11-20 07:36] aardvarkk opened #263 "SSL Client hanging in `wait_until_socket_is_ready`"
I'm using macOS Catalina and trying to use the SSL Client in v0.2.5 to make a POST request. The call seems to hang inside of `wait_until_socket_is_ready` regardless of if I set `CPPHTTPLIB_USE_POLL` or not. When `select` fails `errno` appears to be set to 0x24, which I believe maps to `EINPROGRESS`. I'm not sure what exactly is going on but I'm quite confused as to what I'm doing wrong.

[2019-11-20 13:30] yhirose commented on #263
@aardvarkk, thank you for the report. I am actually using Catalina on my iMac. I run unit tests with both OpenSSL 1.0.2t and 1.1.1d installed from brew, and confirmed that all the unit tests passed successfully.
I would like to know more detailed about the problem on your machine. When you have time, could you run the unit tests by simpley `cd test; make` and see what will happen?
Thanks a lot!

[2019-11-20 17:09] aardvarkk commented on #263
Yes, I should be able to run those tests tonight! I will report the results back here. Thanks for your attention!

[2019-11-20 19:35] yhirose commented on #262
@WanpengQian, thanks for the feature request. Are you talking about the feature on client?

[2019-11-21 03:58] aardvarkk commented on #263
OK -- I just ran the tests and all of them seemed to pass.

[code]

I'm going to try simplifying my code to get a small reproducible example if I can.

[2019-11-21 04:02] PixlRainbow commented on #262
I looked over the specification for HTTP CONNECT, and basic/digest authentication. As far as I can tell, they are implementable by downstream developers without needing to make any changes to the code base.

[2019-11-21 04:29] aardvarkk commented on #263
I got it figured out! The problem was I was accidentally putting some of the path into the hostname. I'm working with Mailgun, and their URLs take the following form:

`https://api.mailgun.net/v3/sandboxabc123.mailgun.org`

I wasn't reading carefully enough and didn't notice the early slashes in the URL -- I just saw the trailing `.mailgun.org` and thought that was the HOST without paying enough a

[2019-11-21 04:29] #263 closed

[2019-11-21 06:49] WanpengQian commented on #262
@yhirose yes. I am talking about Client side.
@PixlRainbow yes. your investigation is correct. ```cpp-httplib``` should implement a HTTP CONNECT method, and then keep that connection open. after that, a new Client(HTTP/HTTPS) will using that connection to access HTTP/HTTPS contents.
I have already implement above code and it works. I just don't know my idear is correct or not. otherwise I will mak