[2021-12-26 14:32] yhirose commented on #1145
@mcordova1967 could you try `cd test && make test && ./test --gtest_filter="DecodeURL*.*"` in your terminal?

The result is supposed to be as below.
![image](https://user-images.githubusercontent.com/357397/147411219-d5981c54-964c-4c86-94a1-169e3a69c131.png)

[2021-12-26 15:13] mcordova1967 commented on #1145
Hello, I can't make test on Windows (using msys2), but anyway, I did run my small test case on Linux and httplib works as expected on Linux, the other code (stackoverflow) does not, it's the opposite of running on Windows, so I wonder if there is a platform encoding issue here.

root@ubuntuserver:/opt/helloworld# ./helloworld
input -> descrip=Gastos%20%C3%A1%C3%A9%C3%AD%C3%B3%C3%BA%C3%B1%C3%91%206

[2021-12-26 17:02] mcordova1967 commented on #1145
I managed to solve the issue using the PostgreSQL unicode driver and setting iso-8859-1 in the content-type header of my requests that serve JSON, that combination works on Windows and allows me to use httptlib parameter decoding without problems. Thank you for your support and patience. Regards, Martin

[2021-12-27 03:24] robinfoxnan commented on #1143
it doesn't matter to use witch case, the diffrence of performance is not so big,
i change it to using map, only because  gcc4.8.5 can't compile that operator "" _t(  )

[2021-12-28 02:01] vitaly-castLabs opened #1146 "BoringSSL support on Windows"
I wonder if it's possible to merge [this change](https://github.com/witaly-iwanow/cpp-httplib/commit/384e953df3d841b1e8b6106621936640fd8a220a) in?
I'm working on a project which links webrtc statically and have to use BoringSSL for that reason. API-wise BoringSSL is almost identical to OpenSSL 1.1, and everything works out of the box on Linux and macOS. The problem is on Windows due to some define

[2021-12-28 03:02] yhirose commented on #1146
@vitaly-castLabs, could you send a pull request?

[2021-12-28 05:48] robinfoxnan opened #1147 "try using stringstream instead of string"
try using std::stringstream instead of std::string where string splicing is needed,
stringstream is quicker than string.

[2021-12-28 07:45] yanyipingpeter commented on #1135
![image](https://user-images.githubusercontent.com/68374297/147540212-de2460a4-6a84-42b4-bc60-80834baab2aa.png)
Hi, I  followed the suggestions above, redefining __FD_SETSIZE  as 10240 and then recompiling it. However,  it doesn't work. As the picture shown above, I write this code to test the post method. the program works well when the I open the mp4 file less than 1021 times. the number of the

[2021-12-28 12:14] bftjoe commented on #919
Looks like there is now support for no exceptions.

[2021-12-28 13:21] yhirose commented on #1147
@robinfoxnan, thanks for the suggestion!

[2021-12-28 13:21] #1147 closed

[2021-12-29 15:07] 31884780 opened #1149 "is it supports linux?"
is it supports linux?

[2021-12-29 15:41] yhirose commented on #1149
I hope so. :)

[2021-12-29 15:41] #1149 closed

[2021-12-30 04:28] cool2528 opened #1150 "Testing found that static file service files exceeding 4GB caused exceptions"
The test found that the static file service file exceeded 4GB and caused an exception.
 detail::read_file does not close the file handle after reading the file.

[2021-12-30 04:43] yhirose commented on #1150
@cool2528, thanks for the feedback. Could you provide more detailed information, and the smallest possible code example from your test code that can reproduce the problem?

[2021-12-30 04:54] cool2528 commented on #1150
`//
//  sample.cc
//
//  Copyright (c) 2019 Yuji Hirose. All rights reserved.
//  MIT License
//

#include <chrono>
#include <cstdio>
#include <httplib.h>

#define SERVER_CERT_FILE "./cert.pem"
#define SERVER_PRIVATE_KEY_FILE "./key.pem"

using namespace httplib;

std::string dump_headers(const Headers &headers) {
  std::string s;
  char buf[BUFSIZ];

  for (auto it = headers.begin(); it != header

[2021-12-30 05:22] yhirose commented on #1150
@cool2528, thanks for the information. First of all, your following code isn't correct.

[code]

You don't have to make the Get handler for files at all since `Server::handle_file_request` will handle your request properly for you. You can simply do this and should remove the Get handler:

[code]

You can see how `Server::handle_file_request` works here:

https://github.com/yhirose/cpp-httplib/blo

[2021-12-30 05:24] cool2528 commented on #1150
Yes, I forgot to mention that I used a Windows x86 build and not a Windows x64 build of the above code. I guess it could be due to x86 memory limitations. I just found this problem because I used x86.

[2021-12-30 05:24] #1150 closed

[2021-12-30 05:44] cool2528 opened #1151 "The is_file function cannot determine large files using the system stat API."
A new problem was found with is_file, which uses stat to determine that a file exists but returns false, resulting in the following code not executing properly
![image](https://user-images.githubusercontent.com/42990446/147724684-f044932e-fd7e-44c3-a702-fa559e249b07.png)
![image](https://user-images.githubusercontent.com/42990446/147724722-2aaa06cf-20f4-4051-8be9-6002e762f776.png)
``` svr.set_moun

[2021-12-30 06:10] cool2528 commented on #1151
The x64 also triggers an exception when reading a file, as if multiple threads have entered read_file at the same time.  We suggest you to test a file of 5GB or more

[2021-12-30 09:48] PixlRainbow commented on #1151
MSVC compiler in particular does not support large files through the C standard `stat` API.

@yhirose we may need to add conditional compilation to use [`GetFileSizeEx`](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-getfilesizeex?redirectedfrom=MSDN) instead of `stat` when MSVC being used. `stat` otherwise works normally on other compilers, including mingw on Windows.

[2021-12-30 10:04] cool2528 commented on #1151
Read in large video files segmentation can be written in the following format This current mainstream browsers support the way of course the client needs to determine their own response protocol header Unfortunately, the software I have tested ffmpeg and potplay are not applicable to the following code
Most likely, these software are not written to follow the HTTP protocol very well

[code]
This 6

[2021-12-30 10:43] #1151 closed

[2021-12-30 15:35] acaiberii opened #1152 "A considerable amount of errors while including HTTPLib in a project."
[streamable video url](https://streamable.com/3j9uq0#)

As you can see, my project is completely unbuildable.

My code:

[code]

Using the WinBuilds distribution of the G++ compiler, making a library with AR.

[2021-12-30 16:05] yhirose commented on #1152
@acaiberii, you probably forget so set `-std=c+11`. Also please see the note in README for more information regarding g++ compiler. https://github.com/yhirose/cpp-httplib#note

[2021-12-30 16:05] #1152 closed

[2021-12-30 16:09] yhirose commented on #1146
Resolved by #1148

[2021-12-30 16:09] #1146 closed

[2021-12-30 19:55] yhirose commented on #1151
@cool2528, please see this commit. https://github.com/yhirose/cpp-httplib/pull/1153/commits/301a54a2287136ef6368bcf098a7dc9c2608c67c

[2021-12-30 23:24] acaiberii commented on #1152
I'd like you to reopen this.

[here](https://streamable.com/90ct7i)

After upgrading to G++ 10.2.0 and specifying ```-std=c++11``` (```-std=c+11``` doesnt work), I get a LOT of errors.
This also breaks my actual code.
I'd switch to libcpr if I could but I don't want to use Conan.

[2021-12-31 08:07] PixlRainbow commented on #1152
on Windows, you need to link windows sockets (e.g. `-lws2_32`). Many of the errors are about network/internet functions not existing.

[2021-12-31 15:32] mcordova1967 commented on #1152
Hello @acaiberii, I am compiling on Windows 10 x64 with G++ 11.2.0 using these options:

1) Includes (in this order), I included openssl because I want to set some options, otherwise it's not needed, many others below httplib.h are specific to the needs of my program.

#define CPPHTTPLIB_OPENSSL_SUPPORT

#include <httplib.h>
#include <stdio.h>
#include <sys/types.h>
#include <unistd.h>
#include <s

[2021-12-31 17:59] acaiberii commented on #1152
@mcordova1967 Including OpenSSL from ```C:\openssl\include``` in the INCLUDE environmental variable. The include includes the folders ```crypto```, ```openssl``` and ```internal``` which HTTPLib all uses.

Batch:
[code]
Running this batch file produced the same amount of errors, even more than the original command.

G++ in ```C:\msys64\mingw64\bin``` linked in system path. No G++ ```bin\``` folder

[2021-12-31 22:46] mcordova1967 commented on #1152
@acaiberii : That's the /bin folder I am referring to. If you are using c++ 10.x you probably don't have support for -std=c++20, but that's not relevant as long as you use the minimum standard supported by httplib.

Maybe the first error messages printed by the compiler are the most important, try using -std=c++14 and also check the order of your includes, is httplib.h the first one? that caused m

[2022-01-02 06:55] alphamarket opened #1155 "Multi host with multiple SSL certificates server"
Hey, We want to create something like `nginx` which we are going to host multiple domains and each of them will have its own certificate files, when a request comes in, we will check what is the domain name and load its certificate files, and establish the connection, how we can do that with this library?

[2022-01-03 04:51] ChristosJ11 opened #1156 "When I just Include the header, I get these undefined reference issues"
![c plus errors](https://user-images.githubusercontent.com/73131986/147900470-b6ed26a4-f1aa-4019-9c5d-3383340031da.PNG)

I was wondering, how I could fix this. I'm using Visual Studio Code by the way.

[2022-01-03 05:12] yhirose commented on #1156
Hope #599 helps.

[2022-01-03 05:12] #1156 closed

[2022-01-03 20:37] yhirose commented on #1155
@alphamarket, thank you for the question. Unfortunately, the simple HTTP library doesn't support such multiple virtual hosts, and I am not planing to support it because it requires lots of code changes and even interface changes. Sorry about that. Hope you will find other HTTP libraries which give you such capability!

[2022-01-03 20:37] #1155 closed

[2022-01-04 01:23] donglintao opened #1157 "Listen failed when there are some connections left"
Without setting SO_REUSEADDR, a socket may listen failed when there are some connections left in TIME_WAITTING status.
So why not set SO_REUSEADDR for listening?

[2022-01-04 01:43] yhirose commented on #1157
It does actually.
https://github.com/yhirose/cpp-httplib/blob/65a8f4cf44195d6d042c9ed0a174c9c8ea0a1b05/httplib.h#L1540-L1556

[2022-01-04 01:43] #1157 closed

[2022-01-04 01:49] donglintao commented on #1157
But it sets SO_REUSEADDR only when SO_REUSEPORT is not defined.

I do not think SO_REUSEPORT is equal to SO_REUSEADDR.

[2022-01-04 01:50] donglintao commented on #1157
And i am working in linux  environment.

[2022-01-04 01:57] yhirose commented on #1157
Please see https://github.com/yhirose/cpp-httplib/issues/506#issuecomment-637863292.

[2022-01-04 04:02] donglintao commented on #1157
Thank you very much for your reply.

Compared with SO_ REUSEADDR，SO_ REUSEPORT has more restrictions.
   Only sockets with SO_ REUSEPORT opened can be reused.
   Only sockets with same user id can be reused.

Yes, SO_ REUSEPORT seems safer.

[2022-01-06 05:27] ASBaj opened #1158 "Access violation when using the library with OpenSSL"
Hi,

I've been using this library's functionality for a while, but only for HTTP requests. Thanks for your work on this.

I've encountered the need to communicate with an API that uses digest authentication, and was pleased to find this library supports it right out of the box.

I set up a new Visual Studio project, linked OpenSSL 1.1.1l, which I already had built for a WebSocket Client library, a

[2022-01-06 05:45] ASBaj commented on #1158
Of course as soon as I report the issue, I find the answer.

The problem appears to be as follows: within the body of ClientImpl::send, there is an #ifdef CPPHTTPLIB_OPENSSL_SUPPORT present.

Though I had defined this macro before one of my #include <httplib.h>, I had not included it before the original #include <httplib.h> located in the .cpp file of a class in my project.

Apparently, this was c

[2022-01-06 05:45] #1158 closed

[2022-01-07 13:23] mcordova1967 opened #1159 "Linker error when building with httplib as a static library"
Hello, I followed instructions to separate .h and .cpp and successfully created a static library libhttplib.a, I did this in order to try to reduce the build time of my program, just an experiment to see how much time can be saved.

When building with g++ 11.2 -std=c++20 I get these errors:

C:/msys64/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/11.2.0/../../../../x86_64-w64-mingw32/bin/ld.exe: ./src

[2022-01-07 13:51] PixlRainbow commented on #1159
g++ compiles each .c or .cpp file as independent binaries before concatenating them together to form the final binary.

Because of this, it means that you will need to declare `CPPHTTPLIB_OPENSSL_SUPPORT` for every source file that references httplib, or g++ will compile some partial binaries with openssl support and some without, leading to conflicts.

[2022-01-07 14:06] mcordova1967 commented on #1159
I already have that define at the beginning of my cpp file, the only one
that includes httplib.h.

#define CPPHTTPLIB_OPENSSL_SUPPORT

And the httplib.h generated by the Python utility looks good for the
function in question:

#ifdef CPPHTTPLIB_OPENSSL_SUPPORT
class SSLServer : public Server {
public:
  SSLServer(const char *cert_path, const char *private_key_path,
            const char *client_c

[2022-01-07 14:27] VladislavAlpatov opened #1160 "Compiler errors when i include cpp-httplib"
When I link the library to my project, what happens is, I have no idea how to fix it
![devenv_kQVcMzH3p3](https://user-images.githubusercontent.com/59374393/148557814-91ca6257-7604-4a03-8101-08072d91528c.png)

[2022-01-07 14:38] yhirose commented on #1160
You can see what to do in Makefiles (Linux or macOS) or *vcxproj files in test and examples folders. Hope it helps.

[2022-01-07 14:38] #1160 closed

[2022-01-07 16:02] mcordova1967 commented on #1159
SOLVED!

I needed some extra parameters in my compiler command, this one worked, but it is very important to include this line at the beginning of httplib.h:

#define CPPHTTPLIB_OPENSSL_SUPPORT

Then compile and create static lib:

@g++ -I"C:\eclipse4c\include\openssl" -O3 -Wall -c -fmessage-length=0 -std=c++20 -MMD -MP -MF"httplib.d" -MT"httplib.o" -o "httplib.o" "httplib.cc"

@ar rcs libhttplib.

[2022-01-07 16:02] #1159 closed

[2022-01-12 17:04] ArnaudBienner opened #1161 "Send content with the content provider without content-length: example wrong or outdated?"
The example on README.md uses a lambda function that takes 3 arguments:
`(size_t offset, size_t length, DataSink &sink)`

However, this fails to compile in the current version, because there is two `set_content_provider` functions, and the one without length specified takes a `ContentProviderWithoutLength` function as parameter, which signature is `(size_t offset, DataSink &sink)`

Is this simply

[2022-01-12 18:14] sccoouut opened #1162 "[Bug] Can't upload file to VirusTotal"
Hi, i'm using VirusTotal API in order to check is file malware, so I need to upload file. I tried to do it in that way, but it have not succeeded:
[code]
**The error that I get is: "Write (5)"**
I tried to do it also in another way and it have not worked too:
[code]
Although, I tried to use curl lib and it works great, there is a working code:
[code]
Am I doing something wrong?

[2022-01-12 23:26] yhirose commented on #1161
@ArnaudBienner, thanks for the feedback. Could you take a look at examples in `test/test.cc` using those methods? I don't have any problem to compile the file on both my iMac and GitHub Actions CI.

[2022-01-13 07:53] ArnaudBienner commented on #1161
`test/test.cc` looks different from the example: `NoContentLengthStreaming` https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L3655

The lambda signature is `(size_t offset, DataSink &sink)` unlike the example, which is `(size_t offset, size_t length, DataSink &sink)`

[2022-01-13 12:07] yhirose commented on #1161
These 3 unit test cases use `ContentProvider`.
https://github.com/yhirose/cpp-httplib/blob/412ab5f0634a1e1db43ccff57c82797f9469497c/test/test.cc#L1560-L1599

[2022-01-13 14:20] PixlRainbow commented on #1162
did you compile httplib with openssl enabled?

[2022-01-13 16:32] sccoouut commented on #1162
yep. it even worked with small file, but with big files it does not work

[2022-01-13 16:37] ArnaudBienner commented on #1161
Thank you.
I saw those tests.

I've opened #1163 to fix the example. Hopefully that would be clearer.

Regarding the second part of my initial comment, forget about it: I realized that `Content-Length` value is adjusted automatically in case of byte-range requests, so it definitely looks like the library works as I would have expected, and there was simply just an small error in the example.

[2022-01-13 17:26] yhirose commented on #1161
@ArnaudBienner, I now understand what you reported. Yes, the README example isn't correct... Thanks for the pull request. I'll merge it soon.

[2022-01-13 17:27] yhirose commented on #1161
I just merged it. Thanks for your fine contribution!

[2022-01-13 17:27] #1161 closed

[2022-01-13 21:03] ArnaudBienner commented on #1161
A patch is probably more explanatory than a long comment ;)

Thanks for taking the time to review my PR and merge it.

And thank you very much for this awesome library! :)

[2022-01-14 01:53] yhirose commented on #1162
If it works with a small file, I don't think it's a problem of cpp-httplib, but you simply hit a size limit on the service that you are using. Could you verify that?

[2022-01-14 07:05] sccoouut commented on #1162
The second file has worked with the cURL library.

[2022-01-14 12:18] yhirose commented on #1162
@sccoouut, could you give me more detailed information about the 'second file'?

[2022-01-14 12:43] sccoouut commented on #1162
The first file (that worked) is .txt file with one word. The second file is [cpuminer](https://github.com/pooler/cpuminer) last release. I have tested my code on Windows 10 with MSVC and VS22 (the httplib and needed depends I have install with vcpkg).

[2022-01-14 13:20] Dorbmon commented on #1030
Yes. I got a log of warnings too.

[2022-01-14 17:34] yhirose commented on #1162
@sccoouut, I am actually concerned with the size of the second file, not the type of it. Could you figure out **the minimum size** that can cause the problem, so that I could easily reproduce it on my machine.

Could you also give more detail about the difference between the actual HTTP request data from cpp-httplib and the one from cURL? (You can get the info with `Client::set_logger`. As for CUR

[2022-01-15 19:38] smith111707 opened #1164 "Is it really multithreaded?"
Hi
Is the lib really multithreaded and thread safe implemented?
It works just fine if I use it from a single thread.
However I get issues when trying to run it from 2 threads (1 http instance and 1 https instance) in parallel.
Any ideas, please?

[2022-01-15 20:52] smith111707 commented on #1164
@yhirose , I really need a suggestion or work around for that. I don't like to switch to another library. I like this one. Good job.
But I need to do something with the issue. And it's pretty urgent for me. So could you help with that, please?

[2022-01-15 21:02] yhirose commented on #1164
@smith111707, as you can see the past issues, I tried to make this library thread-safe as much as possible, but there could be always bugs since we are all imperfect. :)

Unless you give me the smallest possible reproducible code and I can confirm the bug on my machine, then I can't do anything like debugging. So please provide more detailed information. Thanks!

[2022-01-17 14:05] ozanselte opened #1165 "SSL Update without restart"
Hello,

I want to develop a new application with cpp-httplib library and I need regular updates of SSL certificate and key. How can I do this without restarting my application every time?

[2022-01-18 11:21] PixlRainbow commented on #1165
tear down the client or server object and re-construct it. This should force all data including SSL certs to be reloaded.

[2022-01-19 11:17] DennisHan opened #1166 ""opaque" is missing."
when processing digest authentication, you must respond to "opaque" field otherwise authorization fails.

i modified the code like this.

[code]

and i removed quotation marks for nc field.

thanks for great library.

[2022-01-19 13:33] Amazingkenneth opened #1167 "Can't link files to the project"
[NOTE from README](https://www.openssl.org/source/openssl-1.1.1m.tar.gz)
The compilation always terminates with the missing files error when `CPPHTTPLIB_OPENSSL_SUPPORT` is being defined.

Windows Powershell's Log
[code]
a.cpp , _extremely simple_
[code]
C:\openssl is downloaded from [here](https://www.openssl.org/source/openssl-1.1.1m.tar.gz).

Likely, the problem is that `#include <openssl/err.h

[2022-01-19 13:35] Amazingkenneth commented on #1167
It didn't work either when I add `-llibssl -llibcrypto`

[2022-01-19 23:42] yhirose commented on #1166
@DennisHan, thanks for the report! Could you send me a pull request including at leas one unit test in `test/test.cc`?

[2022-01-19 23:45] yhirose commented on #1167
@Amazingkenneth, I think you just downloaded the OpenSSL source package, instead of Windows binary package. Could you make sure that your 'include' and 'lib' directories really contain header files and Windows binaries respectively? Hope it helps!

[2022-01-19 23:45] #1167 closed

[2022-01-19 23:46] yhirose commented on #1165
Hope @PixlRainbow's comment helps you.

[2022-01-19 23:46] #1165 closed

[2022-01-19 23:46] yhirose commented on #1162
any response?

[2022-01-19 23:46] yhirose commented on #1164
any response?

[2022-01-20 00:54] Amazingkenneth commented on #1167
@yhirose
However, when I downloaded the binary files from [here](https://slproweb.com/download/Win64OpenSSL_Light-1_1_1m.msi), and added opensslconf.h from [somebody's respository](https://github.com/rwinlib/openssl/blob/master/include/openssl/opensslconf.h), the compilation terminated with the following strange errors:
[code]
How can I solve it? By adding files? Thanks for helping.

[2022-01-20 11:32] PixlRainbow commented on #1167
Windows does not follow standard methods of installing system global libraries, so the linker must specify exact filenames to binaries or paths to header include directories.
Note that the header directory you must reference is NOT the whole openssl project folder. It is the "/include" folder inside the openssl project folder.
Also note that the binaries you have downloaded are for a different min

[2022-01-20 12:55] Amazingkenneth commented on #1167
Thanks a lot. I've solved the problem.

But I still have some questions about the openssl library.
Seems every header in `./include/openssl` can be found in the whole openssl project folder, so does dragging the whole folder to the compiler's directory directly have the same effect as making a copy of `./include/openssl` to it? What is the purpose of having nested folders the same name?

It didn't

[2022-01-20 13:05] PixlRainbow commented on #1167
Unfortunately, Windows linkers do not check PATH environment variables for system global binaries. The only valid location for global binaries is System32, but that is not a recommended place to install third-party binaries to. In fact, Microsoft recommends that nobody uses global binaries at all unless they are using a feature built into Microsoft Windows.

This makes management of dependencies m

[2022-01-20 13:10] PixlRainbow commented on #1167
This doesn't seem correct. I am looking at the folder, and I do not see duplicate copies. The files in the /include folder are headers, which are files that provide the function signatures but do not define their actual bodies. The files in the rest of the project are C source files, which provide the code implementation for the functions.

[2022-01-20 13:25] Amazingkenneth commented on #1167
I mean, C headers (.H file) in `./include/openssl` is seemingly duplicate to the 106 .H files in the whole openssl project folder. They both provide the same signatures.

[2022-01-20 13:28] Amazingkenneth commented on #1167
Besides, thanks for your answer. @PixlRainbow

[2022-01-20 13:29] PixlRainbow commented on #1167
The way C and C++ work is that you must still define the function signatures even if you intend to use a pre compiled binary. But using the C source files directly when you already link a binary will cause the function bodies to be compiled unnecessarily. The binary already includes the bodies.

[2022-01-20 17:34] DennisHan commented on #1166
@yhirose well, I don't know if it's possible in the test.cc using httpbin.org.
because The responds of a server has to contain an "opaque" field and when requested.

but, you can simply find out that a client must respond with the same value.
plz refer to following doc. https://datatracker.ietf.org/doc/html/rfc2617

     A string of data, specified by the server, which should be returned
     by t

[2022-01-20 20:24] #1166 closed

[2022-01-20 20:25] yhirose commented on #1166
@DennisHan, I merged your suggestion. Thanks for the detailed information and fine contribution!

[2022-01-21 07:40] NoevilMe opened #1168 "how about exposing the server socket?"
Thanks for the nice repo.

I used httplib in my project with eventloop.

But now I must modify the source code like this to expose the fd.
[code]

Then monitor the fd like this.
[code]

Could you expose the svr_sock_ and process_and_close_socket method in source code? or custom the listen_internal callback?

Thanks.

[2022-01-21 12:09] 52617365 commented on #1164
Hey, would you be willing to provide a link to an explanation or give me an explanation on how the default thread pool within the library works? My goal is to queue tasks to different threads, run them parallel and then re-use those threads after they have completed their task.

[2022-01-21 12:14] PixlRainbow commented on #1164
Are you using the client or the server? Note that the client does not use the thread pool at all. It is single threaded, and not intended to handle multiple concurrent requests. Only the server is multi threaded.

[2022-01-21 16:31] sccoouut commented on #1162
Hi, I have been a little bit busy on the last week, I'll do it in few next days.

[2022-01-21 18:16] yhirose commented on #1164
Hope the following links help you.
https://github.com/yhirose/cpp-httplib#default-thread-pool-support
https://github.com/yhirose/cpp-httplib#override-the-default-thread-pool-with-yours

[2022-01-21 18:16] #1164 closed

[2022-01-21 18:22] yhirose commented on #1168
@NoevilMe, since I don't have any necessity for the enhancement in my projects, could you send me a pull request including the change and at least one unit test? Then, I'll review it. Thanks!

[2022-01-22 03:30] zeyad-mansour opened #1169 "POSTing Large Text Data Fails"
Is there any documentation on under what circumstances the `Error::Write` error gets returned?

I am trying to post large textual data (approx. 1 MB), however, the result is a "Write" error every time.

I do not encounter this error with smaller sized texts.
[code]

[2022-01-22 14:41] Amazingkenneth opened #1170 "Add checking robots.txt to the features"
I am working on a crawler project right now, and it may be necessary to check the website's robots.txt before crawling to it.

Can you add a check for the robots.txt if the URL has been written with "Disallow"? If the URL is forbidden, warnings will occur.

[2022-01-22 14:58] yhirose commented on #1169
@zeyad-mansour, thank you for the report. I added a unit test to post (posting 100MB text), and the unit test successfully passed. Could you try 'cd test; make', to see what happens on your machine?

As for 'Error::Write', it can happen with  various reasons. If you grep 'Error::Write' in httplib.h, you will see where the error is set.

[2022-01-22 16:41] PixlRainbow commented on #1170
Note that cpp-httplib is only intended to handle the HTTP/HTTPS spec. Some extensions beyond that may be reasonable, but any features that are too specific to a particular use case/application (e.g. building a web crawler) are not our responsibility and should be built on top of the library by a downstream developer.

If you want to read and parse the content of robots.txt, you can just use httpli

[2022-01-22 17:03] yhirose commented on #1170
@PixlRainbow, thanks for the helpful information.
@Amazingkenneth, hope the @PixlRainbow's comment helps.

[2022-01-22 17:03] #1170 closed

[2022-01-22 23:52] Amazingkenneth commented on #1170
Thanks for the helpful information and the awesome library.

[2022-01-24 02:28] NoevilMe commented on #1168
OK, I can do it in future.

[2022-01-25 04:06] yhirose commented on #1169
any response?

[2022-01-26 00:08] ASBaj opened #1172 "Error::Read when attempting to read from an NVR API"
Hi,

I'm building an application for pulling data from an API of a NVR we use. During development, I encountered no issues in pulling the data I needed. However, as I am starting to move the code into production, I have found that there are a couple of NVRs that cause the library to throw a Error::Read. I attempted to step through the code as far as possible, but was only able to find that the str

[2022-01-26 00:44] ASBaj commented on #1172
Update: I found that in read_headers, line_reader.end_with_crlf() is failing, meaning no headers are parsed. I'm not entirely sure why the check is failing though.

[2022-01-26 00:53] ASBaj commented on #1172
Another update: the buffer used to populate the line reader contains the following "Status: 401\n". When testing it against a working NVR, the working NVR returns "Status: 401\r\n". It would appear the NVR is not sending back CRLF, only LF, based on my quick google searches about the subject. This indicates less of a library problem and more of an NVR one. This does lead to the next question thoug

[2022-01-26 02:22] yhirose commented on #1172
@ASBaj, thank you for the report. I found the following articles explaining the situation that you discoverted.

https://stackoverflow.com/questions/5757290/http-header-line-break-style
https://stackoverflow.com/questions/43574428/have-apache-accept-lf-vs-crlf-in-request-headers

I am ok to introduce a macro symbol like `CPPHTTPLIB_UNSAFE` to accept such an incorrect format as Apache does. But, is

[2022-01-26 03:03] ASBaj commented on #1172
@yhirose Thanks for the reply, and adding in some kind of workaround for this situation is greatly appreciated.

The developer of the NVR has actually fixed this is newer models. However, I've got quite a few older models that I need to support in the long term. One of the first things I checked was if I could update the firmware of the NVR, and unfortunately, there are no updates available for th

[2022-01-26 03:43] yhirose commented on #1172
@ASBaj, could you try the version of https://github.com/yhirose/cpp-httplib/pull/1173? (Since I don't know any server generating headers without CR, I can't test it out...) Thanks!

[2022-01-26 07:46] tangyoha opened #1174 "Trouble with openssl"
Hi!
When I try to compile and run the server program in the example, turn on ssl, turn off brotli, and then add the following code to the code

[code]
But when I request the web page many times, I find that the page cannot be displayed successfully in most cases. Changing the web page to the http protocol will not cause this problem.like `get https://localhost/index.html 404`

[2022-01-26 08:12] tangyoha commented on #1174
Is it a certificate problem? I can successfully access most of the time using the certificate generated in the makefile

[2022-01-26 08:25] tangyoha commented on #1174
But still found that most of the time, js such as jquery cannot be loaded, and the display acquisition is 0byte

[2022-01-26 08:51] #1174 closed

[2022-01-26 08:52] MartinXu opened #1175 "can we have a async version for this lib?"
it is easiest  c++ http server  to use , but changing it asynchronous  is too hard for the most user.
So, do we have a way to find an available asynchronous version?
thank you !

[2022-01-26 12:06] yhirose commented on #1175
Thank you for the feedback but I am not planning to make this library asynchronous.

[2022-01-26 12:06] #1175 closed

[2022-01-26 18:34] #1172 closed

[2022-01-26 18:35] yhirose commented on #1169
I close it for now until I receive more information.

[2022-01-26 18:35] #1169 closed

[2022-01-28 09:31] tocky0 opened #1177 "These static file server methods are not thread-safe"
how to understand it？
thanks.

[2022-01-28 10:09] csd-ableton opened #1178 "Send before receive"
ContentReceiver allows cancelling the request with the return value. This is a very useful feature for two reasons; server doesn’t need to receive the entire body in case of a big data  and doesn’t need to hold an error state.

Unfortunately, this feature causes some issues with some browsers. For example, Firefox. If server sends the response before receiving the entire request,  Firefox fails wi

[2022-01-28 10:21] Rockybilly opened #1179 "Client struggling to send request when server closes connection"
In my use case, some client objects may not receive a request directive for some time. By my observation, it seems like this causes the target server to close the connection (client->set_connection_timeout is high enough). This makes my Post requests to fail with Write error. And the next time the client tries to Post, it succeeds, and then fails again.

It happens like this

Client:

Post (OK) ->

[2022-01-28 10:56] huangyinghui01 opened #1180 "Bad performance when using post"
recently I use cpp-httplib with SSL support,  send a post  to a remote server and get response, it takes 30ms ;
while python do the same work  only takes 15ms ;
finally I locate the problem is the pos functon, it takes 26ms ;
inline Result ClientImpl::Post(const char *path, const Headers &headers, const std::string &body, const char *content_type)

[2022-01-28 12:11] yhirose commented on #1180
@huangyinghui01, thanks for the report. Could you explain more about it for debugging?

[2022-01-28 12:12] yhirose commented on #1177
@tocky0, is it a question, or an issue?

[2022-01-28 12:21] yhirose commented on #1179
@Rockybilly, thank you for the report. Could you explain more about the following statement?

[2022-01-28 12:52] huangyinghui01 commented on #1180
simplified case code:
-----------------------

std::shared_ptr<httplib::SSLClient> m_sslClient;
...
std::string strBody = "symbol=BTCUSDT&side=BUY&positionSide=BOTH&type=LIMIT&quantity=0.001";
httplib::Headers headers;
headers.insert(std::make_pair("X-MBX-APIKEY", "21548s5f25daergre52s4r"));

//send an order
m_logger->info("UserAPI_Impl::http_proc, before Post");
httplib::Result res = m_sslClient-

[2022-01-28 12:56] huangyinghui01 commented on #1180
running env is :  centos 8.4 with gcc 10.2

[2022-01-28 12:58] yhirose commented on #1180
@huangyinghui01, thanks for the info. Could you also profile your project to identify which exact line causes the performance issue in httplib.h on your machine? It helps me very much for debugging. Thanks a lot!

[2022-01-28 13:03] Rockybilly commented on #1179
Hey, first of all, let me answer your question. To allow parallel requests, I create multiple Client instances, and distribute them to different threads using a queue (e.g. Free List). It's a really simple structure, I know there are no issue here. I might even humbly suggest you to implement a similar class to this project also. Really helps with the bottleneck of a single client when many thread

[2022-01-28 13:20] yhirose commented on #1179
@Rockybilly, thanks for the detailed information. It's a more complex situation that I thought. :)
Is it possible to make the smallest possible code to reproduce it easily, so that I could try to debug it on my machine? That helps me a lot. Thanks!

[2022-01-29 03:51] yhirose commented on #1178
@csd-ableton, thank you for the very interesting report, and helpful details as well. I'll take a look at when I have time.

[2022-01-29 04:48] zeyad-mansour commented on #1169
Sorry about the lateness.

 I resolved the issue. It seems that the issue stemmed from the way that I was using OpenSSL 3.0 while not properly addressing the depreciation errors (`#pragma warning(disable : 4996)`). Now, I properly updated the inline functions that were depreciated.

I didn't look into why this error was happening, so I'm still not sure why exclusively posting large text was failin

[2022-01-29 09:27] huangyinghui01 commented on #1180
@yhirose I profile my program, and found out two lines that caused big latency:
1. initialize_ssl(),  it was called every time I send a  http Post ,  it takes  ~6ms
2. process_socket(), this function spent most of the time, it takes ~15ms

code:
inline bool ClientImpl::send(Request &req, Response &res, Error &error)
{
  ...
  if (!scli.initialize_ssl(socket_, error)) { return false; }  // ==> init

[2022-01-29 09:54] huangyinghui01 commented on #1180
Is it possible to call initialize_ssl only once ?

[2022-01-29 14:47] yhirose commented on #1180
Thank you for the helpful information. As you can see below, `initialize_ssl` won't be called again as long as the socket connection is alive.

![image](https://user-images.githubusercontent.com/357397/151665228-0c3943d6-f48e-4251-92f4-3b79764dfb2f.png)

So in the following example, only the first `cli.Post` will call `initialize_ssl`.

[code]

What does your code look like?

[2022-01-29 15:00] huangyinghui01 commented on #1180
in my case,  the Post is called according to market status,
SSLClient cli("https://...");
cli.Post();
wait a few seconds or minutes
cli.Post();

[2022-01-29 15:14] huangyinghui01 commented on #1180
I just do a test:

[2022-01-29 15:19] huangyinghui01 commented on #1180
I sent two orders continuously:
Post();
Post();

output log:
initialize_ssl : 5803 us
Post total: 27368 us
initialize_ssl : 5776 us
Post total: 25395 us

as shown above, it seems that isalive does not work,  initialize_ssl  still takes 5776 us

[2022-01-29 15:22] huangyinghui01 commented on #1180
in fcuntion: initialize_ssl() ,  select_read() is called,  which takes ~4000us

[2022-01-30 14:29] Rockybilly commented on #1179
I couldn't recreate the behavior using httplib::Server, probably the server I am sending requests to is nginx or apache (Probably handling the sockets differently). Unfortunately, the server I am experiencing this issue is not a public IP. The only thing I can say is the request fails with Error::Read (in the latest version). Sorry I couldn't supply more information.

[2022-01-30 17:33] yhirose commented on #1179
@Rockybilly, does it means that the problem resides on the other end such as nginx or apache, rather than httplib::Client? In any case, I can't do anything for this issue unless I am able to reproduce it on my machine. Thank you for your understanding.

[2022-01-30 17:33] #1179 closed

[2022-01-30 17:35] #1177 closed

[2022-01-30 17:37] yhirose commented on #1180
@huangyinghui01, thank you for the detailed info! I'll try to reproduce it on my machine when I have time.

[2022-02-03 09:17] mqnc opened #1184 "question about asynchronous communication"
I want the server to perform a task which takes some time and I want to be able for the client to send queries about the progress of the task in the meantime. Here is my test for this:

server:
[code]

client:
[code]

I was hoping that the fast callback fires before the slow one, but that is not the case. Is the communication with individual clients blocking? Should I implement the status reports

[2022-02-03 10:33] mqnc commented on #1184
Here is my second attempt:1
[code]
However, the client receives and empty response right away.

[2022-02-04 00:48] yhirose commented on #1184
If you want to see progress of a request, you can use a progress callback. Hope it helps.
https://github.com/yhirose/cpp-httplib#with-progress-callback

[2022-02-04 00:48] #1184 closed

[2022-02-05 01:05] M0n7y5 opened #1185 "Simple example doesnt work + no info what happened"
Hi i have this code:
![image](https://user-images.githubusercontent.com/17201053/152622259-17a068e4-3037-4711-9f56-85cb7a2b38c2.png)

For some reason i am getting this error
![image](https://user-images.githubusercontent.com/17201053/152622546-7d1c420a-1f44-42c4-859d-13d619cdc71f.png)
![image](https://user-images.githubusercontent.com/17201053/152622568-24a35877-78ee-4019-a778-4503a21b9f64.png)

W

[2022-02-05 06:50] xjsxujingsong opened #1186 "How to send data to server through other thread?"
Hi, this question may be a little beyond this repo.
I am would like to use this repo to host as a server. The data hosted in the server may come from the other thread. Not sure how to transfer data here. Any thoughts?
Thank you.

[2022-02-05 20:34] smith111707 commented on #1164
I've originally provided you with all details I had. I think you can easily recreate the issue with the info provided if you make a try.

[2022-02-05 20:42] yhirose commented on #1185
`httplib::Client cli("https://google.com")` should work. Please see the following information in README.
https://github.com/yhirose/cpp-httplib#client

[2022-02-05 20:42] #1185 closed

[2022-02-05 20:53] yhirose commented on #1186
@xjsxujingsong, I probably don't fully understand what you are asking for. But at least the following code shows a simple example of using a thread to supply data to a HTTP handler. Hope it helps.

[code]

[2022-02-05 20:53] #1186 closed

[2022-02-06 06:17] PixlRainbow commented on #1164
You still haven't answered whether you are trying to use two servers, two clients, or other combinations when you say "1 http instance and 1 https instance"

[2022-02-06 07:49] PixlRainbow commented on #1186
you can simply store the data in a global variable (simple to implement, but not recommended for large projects due to potential naming conflicts) and then just access the global variable from the request handler. Or you can pass a specific object by reference using the scope operator and then call a function on that object to retrieve the needed data. e.g.
[code]
Of course, take care to handle ra

[2022-02-06 07:53] xjsxujingsong commented on #1186
Thank you very much for both of you. I may define a global atomic variable to avoid potential multi.thread problem.

[2022-02-06 07:54] PixlRainbow commented on #1185
you need to check if response is null. Response will be null if httplib could not get a response from the server, either because a connection could not be made, or because of failed security check, or server connected but did not send anything before timeout.

In the case of Connection, it is just a general error meaning connection cannot be created. Because of limitation of Operating System (Wind

[2022-02-06 22:31] smith111707 commented on #1164
You are right, sorry about that. I should had originally mentioned that it's all about clients - I have 2 clients.

[2022-02-07 14:39] ozanselte opened #1188 "Signal Handling"
Hello, I want to close my program without any issues but when SIGINT(CTRL+C) occurs, it fails because of accept. How can I solve this without adding a signal handler?

![image](https://user-images.githubusercontent.com/4232230/152808984-e6d6c9ea-aeec-46ce-829f-c824637d8901.png)

[2022-02-07 15:12] yhirose commented on #1188
cpp-httplib itself doesn't do anything for SIGINT, since it's totally an application's decision regarding how to handle the received signal. I usually provide a signal handler. Sorry that I can't directly answer your question.

[2022-02-07 15:12] #1188 closed

[2022-02-08 08:12] alphamarket opened #1189 "Segmentation fault"
I get segment fault on the destruction of the `Request` object inside the `Client` when I try to `Get` request. The code was working until a few days ago when I left it, but right now I am getting this, any specific reasons why I get this segmentation fault?

All I do is a normal `client.Get()` request to a server!

backtrace:

[code]

[2022-02-08 08:37] PixlRainbow commented on #1189
which version are you using? The line numbers in your backtrace do not appear to align up with what is currently in 7f43f0f

[2022-02-08 08:40] PixlRainbow commented on #1188
Those are not errors. GDB is simply warning that you do not have the source files for posix socket api installed so it will not be able to debug beyond that point

[2022-02-09 23:31] yhirose commented on #1189
Also could you provide the smallest possible code that can reproduce the problem? (Adding a unit test in `test/test.cc` is the best.) Then, I'll take a look at it. Thanks.

[2022-02-09 23:34] yhirose commented on #1162
Close it until further information is provided.

[2022-02-09 23:34] #1162 closed

[2022-02-10 10:17] mqnc opened #1191 "Initial receive buffer size always 4096 bytes"
https://github.com/yhirose/cpp-httplib/blob/bb00a23116f5c9f64f1e257ecf5b97a49d0be44e/httplib.h#L2410
Should this not be
`static const size_t read_buff_size_ = CPPHTTPLIB_RECV_BUFSIZ;`
?

[2022-02-11 02:52] kokseen1 opened #1192 "SSE crashes under heavy load"
When using the ssesvr.cc and ssecli.cc examples, removing the line `this_thread::sleep_for(chrono::seconds(1));` from the server code will cause the client to crash after running for a period of time. The crashes occur especially when multiple programs are running at once (e.g. many Chrome tabs, Wireshark, etc.).
Is there any fix for this issue? My project requires sending SSE with high frequency.

[2022-02-11 19:38] adamaa5 opened #1193 "Request body being cut off"
Hello,

I have a PUT method with a content receiver using the following code:
`std::string request_body;

    content_reader([&](const char *data, size_t data_length) {
        request_body.append(data);
        return true;
    });

// parse json from request_body`

However, the request body keeps getting cut off. (Content length is specified correctly too - not as chunks or -1)

I have checked w

[2022-02-11 23:44] yhirose commented on #1193
Here is a unit test showing a correct way to use the content reader. Your codes is not using `data_length`.
Could you also run the unit test on your machine with `cd test; make`, so that you can tell if the bug is from httplib or not?

https://github.com/yhirose/cpp-httplib/blob/bb00a23116f5c9f64f1e257ecf5b97a49d0be44e/test/test.cc#L1787-L1797

[2022-02-12 03:03] WarShoe commented on #1193
I don't know is it related or not, but I cannot get back "application/json" or "text/plain"  with Server.Post() call. The http response body (seen in a browser) is always null. In the code fragment below Get() works, but Post() does not.

[code]

Post() response in browser:
[code]

[2022-02-12 03:14] yhirose commented on #1193
Could you just run the unit tests with `cd test; make` to verify your environment is correct? Then, could you submit another issue with more detailed information? Thanks a lot!

[2022-02-12 03:14] #1193 closed

[2022-02-12 03:29] yhirose commented on #1192
@kokseen1, honestly, that is just a simple **example** of SSE support, not production level code. So please don't use it production... I think you could improve `EventDispatcher` in order to handle socket connection management more properly. But I don't have time to work on it now. Sorry about that...

Supporting SSE or WebSocket is out of scope of cpp-httplib at this point. But pull requests for

[2022-02-12 03:29] #1192 closed

[2022-02-12 03:39] yhirose commented on #1191
@mqnc, thanks for the feedback. `CPPHTTPLIB_RECV_BUFSIZ` is used for HTTP level buffer. `read_buff_size_` is used for lower level socket stream. We can introduce another define symbol like `CPPHTTPLIB_SOCKET_STREAM_BUFSIZ`. I'll ponder over it. Thanks!

[2022-02-12 04:59] WarShoe opened #1194 "Response from POST: empty body"
I cannot get back "application/json" or "text/plain" with Server.Post() call. The http response body (seen in a browser) is always null. In the code fragment below Get() works, but Post() does not.

[code]
Post() response in browser:

[code]

Javascript function to send/receive the post request:
[code]

Self-test result:
[==========] 226 tests from 65 test suites ran. (138626 ms total)
[  PASSED

[2022-02-12 06:26] mqnc commented on #1191
I was using the chunked transfer and I noticed that no matter how high I set `CPPHTTPLIB_RECV_BUFSIZ`, the first chunk I read is always 4090 bytes. And I traced it back to this number.

[2022-02-12 06:55] PixlRainbow commented on #1193
Hi, it appears you are attempting to make a cross-origin ajax request. For security reasons, web browsers will block access to the response of a server with a different port or domain from the current page by default. In order to disable this behavior, the browser must see "cors headers" in the server response and the request must be made with cors mode enabled

[2022-02-12 11:18] PixlRainbow commented on #1194
I responded to you in the closed issue #1193 but for convenience I will repeat it here:

[2022-02-12 12:49] WarShoe commented on #1193
OK, Thank you! I got it working!

Apparently, if:
- In the javascript fetch request I set header 'Content-Type': 'application/json'
OR
- I don't set header 'Access-Control-Allow-Origin:*' in the server response

the client-server communication will not work (I cannot exchange JSON data between client<==>server )

The following setup works for me now.
Javascript:
[code]
C++
[code]

[2022-02-12 12:51] WarShoe commented on #1194
thanks! I replied in the thread. My code works now.

[2022-02-12 12:51] #1194 closed

[2022-02-12 18:31] yhirose commented on #1189
Please let me know when you verify this problem is caused by cpp-httplib.

[2022-02-12 18:31] #1189 closed

[2022-02-12 23:38] yhirose commented on #1178
@csd-ableton, I took time to read the stack overflow post that you mentioned and it's really interesting. According to a comment in the post, it seems like servers can do little for this problem, and we have to wait bug fixes by browsers vendors like Google did for Chrome...

So I don't come up with any better solution or workaround for this problem. Sorry about that...

[2022-02-14 03:56] yhirose commented on #1180
@huangyinghui01, I tried to measure the performance on my machine (M1 MacBook Pro) with the following code though, I don't see any performance problem... The very first call took about 5ms, but rest of them are under 1ms except a few calls... Could you run the following code on your machine to see if any difference? Thanks!

[code]

[code]

[2022-02-14 03:57] #1178 closed

[2022-02-14 04:12] yhirose commented on #1180
@huangyinghui01, I tried to reproduce the performance problem, but I couldn't so far. Here is my benchmark code. As you can see my result, I don't find any performance problem. The very first POST call took 4ms and rest of them only took less than 1ms. Could you run this example on your machine? Thanks!

[code]

[code]

[2022-02-14 08:45] mqnc commented on #1191
[code]

produces

[code]

[2022-02-15 07:39] peguine opened #1195 "device or resource busy"
[code]
Exception at Post:
device or resource busy
why?

[2022-02-15 13:11] sccoouut commented on #1162
When I'm trying to install logger on my client, it's not being called. Am I doing something wrong?
[code]

[2022-02-15 13:21] PixlRainbow commented on #1195
that is an operating system message that indicates that your system is temporarily unable to create network connections. It may be due to multiple possible reasons including domain resolution misconfigured, network driver problem or too many network connections, or other reasons.

[2022-02-15 14:11] yhirose commented on #1195
@PixlRainbow, thanks for the answer.
@peguine, hope @PixlRainbow's comment helps.

[2022-02-15 14:11] #1195 closed

[2022-02-16 03:10] ylz-at opened #1196 "Add new interfaces for const std::string& path"
Current Http Methods exposed are using const char* path, and `Client to the lib` have to use `path.c_str()` before invoking.

[code]

New interfaces such as,
[code]

or even std::string_view for C17,
[code]

should be added.

[2022-02-16 03:41] yhirose commented on #1196
@ylz-at, thank you for your suggestion! I may think about it in the future.

[2022-02-16 03:41] #1196 closed

[2022-02-16 06:59] HandleTlsData opened #1197 "content reciever and content provider consistency check"
is there any way we can communicate between server content provider and client content reciever for adding extra consistency check?
like to do hashing of chunk or something like this

[2022-02-16 12:07] yhirose commented on #1197
@HandleTlsData, you could do it with sending a checksum. This technique has nothing to do with cpp-httplib or HTTP though. Hope it helps.
https://en.wikipedia.org/wiki/Checksum

[2022-02-16 12:07] #1197 closed

[2022-02-16 19:57] sccoouut commented on #1162
@yhirose

[2022-02-16 22:01] yhirose commented on #1162
Working example:

[code]

Result:

[code]

[2022-02-17 02:58] PixlRainbow commented on #1162
There is a problem. If there is a connection failure, logger will not be called because `ClientImpl::process_request` will return immediately (before it reaches the logger call):
https://github.com/yhirose/cpp-httplib/blob/bb00a23116f5c9f64f1e257ecf5b97a49d0be44e/httplib.h#L6354-L6435

[2022-02-17 03:05] xspeed1989 opened #1198 "How can let set_content_provider effect client cache?"
I want make client cache my response from content_provider, How can I do that?

[2022-02-17 04:56] yhirose commented on #1162
@PixlRainbow, thanks for the clarification. Yes, when a connection error happens, the logger won't be called, since the logger is HTTP level logger.

@sccoouut, hope @PixlRainbow's comment helps you understand the situation. TCP/IP level error logger isn't available, yet. (#870)

[2022-02-17 05:02] yhirose commented on #1198
@xspeed1989, thanks for the feedback. cpp-httplib is just a primitive HTTP library, and doesn't provide any content cache mechanism. So users need to implement the cache layer. Sorry about that.

[2022-02-17 05:02] #1198 closed

[2022-02-17 06:07] PixlRainbow commented on #1162
it also makes it impossible to identify what the difference is between httplib's request data and curl's request data that makes the virustotal request fail

[2022-02-18 11:10] Tachi107 opened #1199 "Flaky tests on multiple architectures"
The `ClientProblemDetectionTest.ContentProvider` test is failing in Debian's build network on the [armel](https://buildd.debian.org/status/fetch.php?pkg=cpp-httplib&arch=armel&ver=0.10.2%2Bds-1&stamp=1644965279&raw=0), [armhf](https://buildd.debian.org/status/fetch.php?pkg=cpp-httplib&arch=armhf&ver=0.10.2%2Bds-1&stamp=1644965111&raw=0), [ppc64el](https://buildd.debian.org/status/fetch.php?pkg=cpp

[2022-02-22 05:03] eustrainLee opened #1200 "unix socket"
How could I use it on unix socket?

[2022-02-22 08:45] azchatlanin opened #1202 "Projects with httplib used!"
Hi! Do you know any projects with open sources, large and small, that use the cpp-httplib? Share the link!

[2022-02-22 11:45] yhirose commented on #1200
Hope #721 can help you. (A pull request with unit test cases is always welcome. :))

[2022-02-22 11:45] #1200 closed

[2022-02-22 11:47] yhirose commented on #1202
@azchatlanin, a good question. I actually don't know. :) You can search in Github.

[2022-02-22 11:47] #1202 closed

[2022-02-22 13:28] yhirose commented on #1191
@mqnc, thanks for the report!

[2022-02-23 08:25] au-ee opened #1203 "Avoid having request headers in a separate package"
Hi @yhirose ,

thanks for this awesome package and thanks for the quick merge, yesterday!

While evaluating cpp-httplib for use in our application, we did a bit of network tracing and discovered that the header of the http request is always sent as a separate package due to the `write_data` in line 6227. This causes a small tcp frame to be sent immediately with the PSH flag set.

The result is tha

[2022-02-23 08:53] PixlRainbow commented on #1203
It's been a while since I dug in depth into the implementation of httplib, but as far as I can remember, httplib depends on the system's socket library implementation to handle buffering, and does not by default flush the buffer until the content body is reached.
If the headers are being sent as a separate frame, it suggests that your system's network buffer is disabled, either due to nodelay opti

[2022-02-23 16:50] yurivict opened #1204 "Is v.10.3 an intended version number?"
```v.10.3``` isn't a valid version number.

[2022-02-23 18:32] yhirose commented on #1204
@yurivict, thanks for catching the typo!

[2022-02-23 18:35] yhirose commented on #1204
I just corrected.

[2022-02-23 18:35] #1204 closed

[2022-02-23 18:40] yurivict commented on #1204
Thanks!

[2022-02-23 18:44] yhirose commented on #1203
@au-ee, as @PixlRainbow mentioned, cpp-httplib relies on the system's socket library implementation. If you would like to control data buffering, you can make your own stream calls by inheriting from `Stream` interface and replace `SocketStream` with yours. Hope it helps!

https://github.com/yhirose/cpp-httplib/blob/d73395e1dc652465fa9524266cd26ad57365491f/httplib.h#L4651-L4660

[2022-02-23 18:44] #1203 closed

[2022-02-24 10:23] au-ee commented on #1203
@PixlRainbow @yhirose - Thanks for your thoughts!

[2022-02-24 12:24] JingnanJia opened #1206 "How to invoke multi-params interface"

[2022-02-24 13:16] yhirose commented on #1206
https://github.com/yhirose/cpp-httplib#post-with-parameters

[2022-02-24 13:16] #1206 closed

[2022-02-24 16:52] Tachi107 commented on #1030
The macro has been undeprecated, see https://github.com/openssl/openssl/commit/42659159f4d4a8c16a0e9b089d40a5831b60cbb6

[2022-02-25 01:37] JingnanJia commented on #1206
@yhirose #post-with-parameters：they only support string? For example, I have two-parameters interface , which are file and string. What should I do? thanks.

[2022-02-25 06:14] wangchuanfang opened #1207 "codedown"
Hi  yhirose

I use httplib in the following way and it crashes when I do a bake

[code]

The stack information is as follows:
[code]

The error message is as follows:
[code]

[2022-02-25 06:25] PixlRainbow commented on #1206
[C/C++ does not distinguish between human-readable text and binary data. They are both stored using string.](https://github.com/yhirose/cpp-httplib/issues/824#issuecomment-755097175)

[2022-02-25 06:40] PixlRainbow commented on #1207
Based on Google search, "error 9 on netlink descriptor 12" may happen if a thread closes its socket handle a second time after the system has already allocated the handle ID to a different thread's socket open call.
@yhirose this suggest that somewhere in httplib client there is a socket close call being called redundantly

[2022-02-26 06:48] dwarfovich opened #1208 "How to test POST request"
I'm trying to test your lib with the following code for url `https://httpbin.org/post`:
[code]
and it's always results in `Connection (2)` error. I've tried my work URL and httpbin, both with different parameters of path, body and content_type. It works with WinApi and another, curl-based, library, but not with cpp-httplib. Could you please explain, what I'm doing wrong.

[2022-02-26 07:55] PixlRainbow commented on #1208
the slash should be part of the path, not the hostname
so `"https://httpbin.org"` and `"/post"`
instead of `"https://httpbin.org/"` and `"post"`

[2022-02-26 10:27] dwarfovich commented on #1208
[code]
throws exeption:

P.S.: I use Win10 and MSVS2022

[2022-02-26 12:39] PixlRainbow commented on #1208
The "s" in https means "secure". It means http with encrypted connection.

Httplib makes use of openssl to decode and encode the encryption, so unless openssl is enabled and linked, you will be unable to connect to https servers.

[2022-02-26 12:45] dwarfovich commented on #1208
Yeah, sorry. I missed that. I'm just added openssl and it works.

[2022-02-26 12:45] #1208 closed

[2022-02-27 01:16] yhirose commented on #1207
@wangchuanfang, could you create the smallest possible code example to reproduce this problem? Then, I'll try to reproduce it on my machine for debugging. Thanks!

[2022-03-05 11:57] Werew1942 opened #1211 "Large files Write error 0x5 - Error::Unknown (Multipart-formdata)"
**OS**: Windows
**httplib version**: vcpkg x64-windows-static

Code snippet:
[code]

This works with small files like hello world txt file. Fails with 2MB files also.

![image](https://user-images.githubusercontent.com/32010211/156881893-53859599-580d-4105-ad95-1f5a1e6e6112.png)

I traced the error somewhere around process_socket.

Thanks in advance

[2022-03-05 13:45] yhirose commented on #1211
@Werew1942, thanks for the feedback, but it's too little information for debugging. Could you please provide the smallest possible code which can reproduce the problem, so that I can debug it on my machine? Thanks!

[2022-03-05 14:03] yhirose commented on #1207
I probably don't understand your comment fully though, It seems that it's an application responsibility. httplib::Client::send itself is a single thread call. So if the problem is caused by such a multithread condition, threads are created on a higher level and there is no way for httplib to figure out such redundant file descriptors. At least what httplib can is to expose a socket descriptor, so

[2022-03-05 14:04] yhirose commented on #1207
@wangchuanfang, for now, I'll close it.

[2022-03-05 14:04] #1207 closed

[2022-03-05 16:02] Werew1942 commented on #1211
Sure.

I'm using telegram API for this, you can change it to someother api idk which public api has form-data support.

Just add bot token, ur chat id and path of file. Hope its not too much work. Lemme know any api so i can make it easier to reproduce.

https://github.com/Werew1942/cpp-httplib-large-files/blob/main/httplib-large-files/main.cpp#L11

this uses vcpkg

![image](https://user-images.gi

[2022-03-07 08:17] Werew1942 commented on #1211
@yhirose Any updates?

[2022-03-08 05:01] yhirose commented on #1191
@mqnc, after I carefully consider this situation, I concluded that it's not a bug.

According to the MDN documentation (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding#chunked_encoding), **a chunk** doesn't mean a meaningful unit for a recipient.

<img width="761" alt="image" src="https://user-images.githubusercontent.com/357397/157169440-153f5aa8-0323-43cc-a929-7d0d86f

[2022-03-08 05:01] #1191 closed

[2022-03-08 05:06] yhirose commented on #1199
@Tachi107, since I don't have any access to such architecture machines, there is not way for me to debug this issue. Are you able to figure out what's happening on the architectures and hopefully fix it? Thanks!

[2022-03-08 05:07] yhirose commented on #1180
I'll close it for now until I receive more evidence.

[2022-03-08 05:07] #1180 closed

[2022-03-08 05:21] yhirose commented on #1211
@Werew1942, sorry for the late reply. When I have time, I'll try to reproduce this problem on my machine first with simulating your situation with httplib::Server and httplib::Client, then start debugging it. Hopefully I will be available to work on this sometime this month. Thanks for your patience.

[2022-03-08 16:45] Tachi107 commented on #1199
Unfortunately I don't have those machines either. Debian offers access to "porter boxes" (i.e. machines that run on all the supported architectures) to official Debian Developers, but since I've been maintaining packages for only a few months I still don't have access to them.

I think I'll be able to get access to one of those soon, and I'll be then able to debug the failures. But until then I th

[2022-03-11 20:15] yhirose commented on #1211
@Werew1942, I tried to reproduce it with a httplib::SSLServer, but I don't see any problem. The server that you send requests to seems to have a problem. Could you build and run the following code to see what will happen? Thanks!

[code]

[code]

[2022-03-14 05:32] eurake commented on #916
Same problem, need solution

[2022-03-15 01:33] eurake opened #1212 "upload unicode file name bug"
# problem
If you upload using a Unicode file name, you cannot get the correct file name and file content
# code
[code]
# used postman to request
http://127.0.0.1:12345/api/v1/uploadFile
use body => form data => key="imgFile" and Value="1test.jpg"
Can get the picture correctly in http server side

use body => form data => key="imgFile" and Value="测试test.jpg"
Can‘t get the picture correctly  in http

[2022-03-15 01:45] yhirose commented on #1212
@eurake, could you provide the smallest possible example with `http::Client` and `http::Server` in a `int main(void)` function, so that I can compile and debug easily on my machine? Thanks for your help.

[2022-03-15 01:45] yhirose commented on #1211
I'll close it for now until I receive more evidence.

[2022-03-15 01:45] #1211 closed

[2022-03-15 05:57] eurake commented on #1212
@yhirose  Thank you for your reply

Now I create a solution for repetition,  you can find here https://github.com/eurake/Testcpphttplib.git
I tested a lot more cases than we did before.

* 1 Test in python client use unicode filename  is OK
* 2 Test in curl  use unicode filename is OK
* 3 Test in PostMan use Unicode filename is Error
   postman you can download

debug get msg cpp-httplib.h file li

[2022-03-15 08:46] eurake commented on #1212
In https://github.com/eurake/Testcpphttplib.git repository
* 1 Now add  The official sample server2, Can get the correct picture data. throw webrequest ,  but file name is garbled, need to  change std::wstring is ok!
* 2 Add golang http server use postman request, Can get the correct picture data. and file name.

I think it's possible that Postman is requesting an interface that doesn't meet the H

[2022-03-15 14:51] yhirose commented on #1212
@eurake, thank you for the very helpful detail. It turns out that this problem is caused with `filename*` which is 'ext-parameter' described in [RFC5987](https://datatracker.ietf.org/doc/html/rfc5987). I'll take a look at it when I am available.

[2022-03-16 01:27] eurake opened #1213 "How to Specify the return file name(like excel or mp4) used set_content_provider"
### example   https://github.com/eurake/Testcpphttplib.git server2
*  post with request parameters and create file
*  read file
* used set_content_provider return file

**How to Specify the return file name?**

[code]

[2022-03-16 06:12] Werew1942 commented on #1211
I think its telegram's problem. I made my own https client using wininet and there also same issue, somehow it started working again when tinkering with the multipart form data body.

Thanks in advance. You can close this

[2022-03-16 10:05] WaN3DDK opened #1214 "URL match problem"
URL: `http://127.0.0.1:8080/login#token_type=Bearer&access_token=xxxxx&expires_in=604800&scope=identify+guilds+rpc`
It is different from other URLs. Use # as a delimiter.I use the following code:
`svr.Get("/login", [](const httplib::Request& req, httplib::Response& res) `
Could not match this URL. what should I do?
thanks.

[2022-03-16 13:45] #1213 closed

[2022-03-16 14:41] yhirose commented on #1214
@WaN3DDK, thanks for the report. It's a bug. The sever needs to ignore the fragment part.

[2022-03-16 14:59] #1214 closed

[2022-03-16 15:58] WaN3DDK commented on #1214
![image](https://user-images.githubusercontent.com/31143076/158632703-df14b8bc-da5f-4ec6-a51b-a68370cc461e.png)

[2022-03-16 16:20] WaN3DDK opened #1215 "#1214 The bug is not fixed"
### Code
[code]

Enter the URL in your browser.
http://127.0.0.1:8080/login#token_type=Bearer&access_token=123456789&expires_in=604800
Program error
![image](https://user-images.githubusercontent.com/31143076/158637677-1785347f-e7e8-4c38-b707-7070818f9473.png)

[2022-03-16 16:59] yhirose commented on #1215
@WaN3DDK, thanks for find the out-of-bound problem. I just fixed it. Regarding 'The URL parameter is also not fetched correctly', HTTP servers are not responsible to handle a fragment string. I tested with the Python Flask server, and I got the same result. Thanks.

[2022-03-16 17:19] WaN3DDK commented on #1215
req.has_param("access_token") Cannot get parameters. `req.params.size =0`

[2022-03-16 17:23] yhirose commented on #1215
Yes, this is a correct behavior as I mentioned in my previous comment. Fragment text (any characters after '#') should be ignored by HTTP server. The following stackoverflow post helps you understand it more cleaerly.
https://stackoverflow.com/questions/18752995/how-to-get-access-to-the-url-segments-after-a-in-python-flask

[2022-03-16 17:33] yhirose commented on #1212
What does this mean? Did you make a change in httplib.h to fix the problem from postman?

[2022-03-17 02:00] #1212 closed

[2022-03-17 02:03] yhirose commented on #1212
@eurake, could you try the latest httplib.h on master? This change isn't  a perfect solution, but at least the regular expression doesn't fail when 'filename*' is present in the Content-Disposition header. Hope the fix works for you.

[2022-03-17 03:26] eurake commented on #1212
@yhirose  When I use it in web application, I can get garbled Chinese correctly through web page, and can get files correctly through std::wstring conversion, which does not solve the problem in Postman test.

Now I read the golang HTTP [code](https://github.com/golang/go/blob/master/src/mime/mediatype.go)  for parsing MultipartForm
I noticed that instead of using regular expressions, golang uses

[2022-03-17 04:00] DUNDUN-ww opened #1216 "Questions about delete image on the static server"
I just started to learn how to use httplib. I have little knowledge about using httplib, so I want to ask for your help.

I have set the mount point by
[code]
And I could get the image by sending "```client.GET("/2.jpg")```" to view the image "2.jpg" stored on the “test" file folder.
But now I want to delete the image stored on the "test" file folder. I send request "```client.Delete("/2.jpg")```"

[2022-03-17 05:34] eurake commented on #1213
Use this code to solve the problem
`
use  res.set_header("Content-Disposition", "attachment; filename=file.xls");
`
[code]

[2022-03-17 05:35] eurake commented on #1212
Solving the problem Thank you very much

[2022-03-17 11:42] WaN3DDK opened #1217 "Request oauth2 authentication. Return error 11001"
### code
[code]
res.error() returns code 11001. what does it mean?
![image](https://user-images.githubusercontent.com/31143076/158800882-102e7d57-3cfa-4b2b-a852-c0c16e1c1e49.png)

![image](https://user-images.githubusercontent.com/31143076/158800766-0e63fdf2-2476-44cf-9b17-5dc904852f25.png)

If I use a browser it will return the following result
![image](https://user-images.githubusercontent.com/3

[2022-03-17 12:27] yhirose commented on #1216
@DUNDUN-ww, it's a read-only feature to serve static files from a directory via GET and HEAD. (I think other simple Web frameworks like Python Flask also provides only read-only static file serving feature.)

<img width="549" alt="image" src="https://user-images.githubusercontent.com/357397/158805201-7662b4b6-3e44-45cb-9515-3474ebbd6285.png">

If you want to have more control, you can do with `set

[2022-03-17 12:27] #1216 closed

[2022-03-17 12:28] yhirose commented on #1217
`httplib::Client cli("https://discord.com/api/v8")` is incorrect. It should take 'scheme' + 'hostname'. Please check with README.

[2022-03-17 12:28] #1217 closed

[2022-03-19 03:05] BestAnHongjun opened #1219 "Blocking processes when errors occur"
if (auto res = cli.Post(url.c_str(), req.c_str(), "application/json")) {
    std::cout << res->status << " " << res->body << std::endl;
} else {
    //auto err = res.error();
    std::cout << "Unknow Error!!" << std::endl;
}
------------
If there is an error in the sending process, the process will be blocked. How can I solve this problem?

[2022-03-19 03:11] yhirose commented on #1219
@BestAnHongjun, thanks for the feedback, but I don't understand what you are mentioning. Could you explain more about it?

[2022-03-19 07:10] buckdan opened #1220 "Does HTTPS still works with this library"
I am trying to request some data from my api with HTTPS but the console print out this error
![image](https://user-images.githubusercontent.com/88769526/159111394-0205f6b4-1119-4bfe-b915-f11b9d827435.png)
So does https still work with this library? If so why do this error pops up

[2022-03-19 13:42] yhirose commented on #1220
Hope this helps. https://github.com/yhirose/cpp-httplib#ssl-support

[2022-03-19 13:42] #1220 closed

[2022-03-21 09:09] dthnh175 opened #1222 "Client::Post() returns error SSLServerVerification"
As the title suggests, I'm getting error SSLServerVerification (error code 10) while trying to post a document to Telegram channel using Telegram's API. When developing on my own machine (Visual Studio 2019, windows 10 10.0.18363) it runs completely normal, but when I test on Windows 10 Pro 10.0.19041 it returns error code 10. As I researched it might relate to TLS.
Can you suggest me a solution f

[2022-03-21 12:41] mcordova1967 commented on #1222
If it is acceptable for your case you can disable certificate validation:

	cli.enable_server_certificate_verification(false);

Regards.

[2022-03-21 13:28] yhirose commented on #1222
@mcordova1967, thanks for the answer!

[2022-03-21 13:28] #1222 closed

[2022-03-22 08:01] xiaonanguniang opened #1223 "Conflict with eigen"
Conflict with eigen， when include “Eigen/Core”

[2022-03-22 09:49] kras95 opened #1224 "Propgram has exited with code 0 (0x0)"
Hello,

I'm having trouble running the server with SSL.

I created my certificate and key with the following command:
`openssl req -newkey rsa:2048 -new -nodes -x509 -days 3650 -keyout key.pem -out cert.pem`

I'm compiling with Visual Studio 2017 Community Edition (15.9.43)

The HTTP server runs fine, but the HTTPS example just closes with code 0.
I think that this might be the SIGPIPE issue, but

[2022-03-22 10:47] yhirose commented on #1223
Could you provide more info?

[2022-03-22 11:04] yhirose commented on #1224
Hope this helps.
https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/signal?view=msvc-170

[2022-03-22 11:04] #1224 closed

[2022-03-22 14:42] mcordova1967 commented on #1224
@kras95 The https server does not run at all, or it does abort after processing some requests? In any case the SIGPIPE problem should only happen if the server tries to write to a socket closed by client, is that your case?

If the https server is not running at all then I think you may have another problem, not having the PEM files in the same directory as your EXE does cause this problem, the SS

[2022-03-22 15:36] glibg10b opened #1225 "Any idea why I'm getting Error::Connection?"
[code]

`getaddrinfo()` returns `false` [here](https://github.com/yhirose/cpp-httplib/blob/020b0db090dc8e197cbedbdc4db7e3120eda5333/httplib.h#L2538), which leads to `sock` being set to `INVALID_SOCKET`. GDB won't let me step into `getaddrinfo()`

Here's a backtrace:

[code]

[2022-03-22 20:13] kras95 commented on #1224
@mcordova1967 I think SIGPIPE is not supported in Windows.
I have added the following signal handlers and still no luck.
[code]

Yes, apparently the server doesn't run at all. The program jumps straight to return 0.
The certificates are in the same directory as the executable file.

@yhirose I read in the signal documentation that "Win32 operating systems generate a new thread to specifically hand

[2022-03-22 21:55] mcordova1967 commented on #1224
@kras95 I don't think it has to go with any signal, it's going straight to return 0; that happens when httplib::SSLServer svr("./cert.pem", "./key.pem"); fails, for any reason, if possible I suggest debug and step into the constructor to see where it goes, considering you are sure the .pem files are in place, another problem must be happening inside the constructor, my guess.

Regards.

[2022-03-23 00:11] asfarley commented on #429
I was very surprised when I came to understand this behavior. The error message doesn't help much in this case. Yes, the README does give working examples, but it seems very surprising that the parameter for SSLClient's constructor cannot accept the https prefix, while the constructor for the regular Client can.

[2022-03-23 00:18] yhirose commented on #1219
Close it until more detail.

[2022-03-23 00:18] #1219 closed

[2022-03-23 00:19] yhirose commented on #1225
"www.reddit.com/" is an incorrect host name. Should be "www.reddit.com"?

[2022-03-23 00:19] #1225 closed

[2022-03-23 02:20] glibg10b commented on #1225
Yup, thanks

[2022-03-23 09:52] okman334 opened #1226 "Does this library have a timer module?"
as the title, I want to know this lib has a timer or not?

[2022-03-23 09:55] Yimura commented on #1226
Are you talking about timeouts?

Because the README has a section about this:
![image](https://user-images.githubusercontent.com/24669514/159672328-56ab7baf-fc36-4dcb-98eb-7ed50efcb17e.png)
[README#timeout](https://github.com/yhirose/cpp-httplib#timeout)

[2022-03-23 11:02] yhirose commented on #1226
@Yimura, thanks for answering the question!

[2022-03-23 11:02] #1226 closed

[2022-03-24 05:02] okman334 commented on #1226
Maybe I didn't describe it clearly enough.  I want to ask to set a timer, when the time is up, call back a callback function.
such as: CNetModule::getSingleton().SetTimer(IDI_CONNECT_CENTER, 2000, this, false); When time has elapsed 2000 milliseconds, will backup a function like:on_timer (int timer_id){}

[2022-03-24 08:09] Yimura commented on #1226
And why would a http lib have a standalone timer?

[2022-03-24 14:14] ifloppy opened #1227 "Garbled characters when outputting some text using cout"
Some special symbols, Chinese will become unexpected text, I think this is an encoding problem, but I can't seem to find a solution on other people's blogs. Please help me with a solution, thanks!

Compiler:TDM-GCC
OpenSSL was compiled with MinGW32 in MSYS

Console:
![image](https://user-images.githubusercontent.com/68799904/159934477-7e40e475-379d-4035-9032-d96786faa054.png)

CodeBlocks:
![image]

[2022-03-24 14:15] okman334 commented on #1226
😂. I'm just asking. Usually the server will have this feature.

[2022-03-24 16:48] yhirose commented on #1227
@ifloppy, this issue is out of the scope of this library. You are responsible to appropriately convert the text in the response to fit your environment. Sorry that I can't give you any more help.

[2022-03-24 16:48] #1227 closed

[2022-03-26 01:49] yhirose commented on #1223
Close it until the evidence and detail are given.

[2022-03-26 01:49] #1223 closed

[2022-03-26 09:58] ztkboj58623 opened #1229 "How to change the window's size?"
win server

[2022-03-26 12:51] #1229 closed

[2022-03-28 03:09] ztkboj58623 opened #1230 "There is a Bug when params has a very long string"
VS2019

**Servver**

#include <iostream>
#include "httplib.h"
using namespace httplib;
using namespace std;
int main()
{
    Server svr;

    svr.Get("/hi", [](const Request& req, Response& res) {
        res.set_content("Hello World!", "text/plain");
        });

    svr.Post("/PostTest", [&](const Request& req, Response& res) {
        std::string strUser = req.get_param_value("name");
        r

[2022-03-28 03:13] ztkboj58623 commented on #1230
When the string is short,all is right.

[2022-03-28 12:28] yhirose commented on #1230
It's a correct behavior, The status code (`res->status`) should be 413 (Payload Too Large).

[2022-03-28 12:28] #1230 closed

[2022-03-29 08:07] ztkboj58623 commented on #1230
The best way is upload the long string as a File?

[2022-03-29 08:53] tonyonce2017 opened #1231 "in line 99 if CPPHTTPLIB_SEND_FLAGS is 0, when servier is closed, request will cause broken pipe crash and can not catch"
![image](https://user-images.githubusercontent.com/34465929/160573229-9d1f7bb3-414f-431b-a023-e042fffde39e.png)

[2022-03-29 08:54] tonyonce2017 commented on #1231
i set CPPHTTPLIB_SEND_FLAGS MSG_NOSIGNAL, it looks like fine

[2022-03-29 09:42] rtojagic opened #1232 "HTTPS Server crash"
Hey,
I am trying to run HTTPS server, and I've followed your example, but the server just stops without log / errors or anything. I managed to trace where it exits:
![image](https://user-images.githubusercontent.com/8715031/160583021-9c7b1793-39ce-42db-97f4-a340a554560b.png)

How can I get more detailed error message, and what should I do about it? Thanks in advance!

[2022-03-29 10:01] rtojagic commented on #1232
UPDATE: It seems that it didn't recognize cert paths correctly from Visual Studio, when I run it directly from the Debug/ it worked. It would be useful to at least have some information on why the server crashed.

[2022-03-29 11:12] yhirose commented on #1231
It's already described in #77 and #848.

[2022-03-29 11:12] #1231 closed

[2022-03-29 11:14] yhirose commented on #1232
Thanks for the information.

[2022-03-29 11:14] #1232 closed

[2022-04-02 07:16] yuThomas opened #1233 "client regex match throw regex_error"
head file in line 7762, when use on centos7.x, it throws "regex_eror" but it's ok on windows

[2022-04-02 11:21] yhirose commented on #1233
Hope this helps.
https://github.com/yhirose/cpp-httplib#g

[2022-04-02 11:21] #1233 closed

[2022-04-04 21:25] yhirose commented on #1168
Close it for now.

[2022-04-04 21:25] #1168 closed

[2022-04-06 01:18] XingShuyu opened #1234 "Couldn't post chinese text"
when i tried to post a chinese text "你好" ("hello") to a client ,it post ���
code:
`class msgAPI`
`{`
`    public:`
`        void privateMsg(string QQnum, string msg);`
`        void groupMsg(string group_id,string msg);`
`        void sendMsg(string msgType, string id, string msg);//发送消息到收到消息的地方`
`};`
`void msgAPI::privateMsg(string QQnum, string msg)`
`{`
`    string http = "/send_private_msg?use

[2022-04-06 02:08] yhirose commented on #1234
Your question has nothing to do with cpp-httplib, but it's just a regular HTTP question.
What you have to do is to properly set 'charset' in 'Content-Type' HTTP header.
https://www.w3.org/International/articles/http-charset/index
Hope it helps.

[2022-04-06 02:08] #1234 closed

[2022-04-06 02:33] XingShuyu commented on #1234
打扰一下，我该怎么设置这个东西(content-type)

[2022-04-06 12:03] CyberKoo opened #1235 "BindIPAddress when force address family to IPV6 and set outbound interface"
[code]

Output:
[code]

not sure what cause this, but when set address family to AF_INET6 and also force to use en0 as outbound interface, library returned a bind ip error.

[2022-04-06 12:14] yhirose commented on #1235
@CyberKoo, I feel that it's a general HTTP problem, not a cpp-httplib specific problem. Could you try with other HTTP libraries (or just use the system socket library) on your machine, so that we can check if it's a really cpp-httplib problem?
Thanks for your help!

[2022-04-06 13:00] CyberKoo commented on #1235
I think this problem was cause by the if2ip function, which only return IPV4 address.
https://github.com/yhirose/cpp-httplib/blob/020b0db090dc8e197cbedbdc4db7e3120eda5333/httplib.h#L2652

[2022-04-06 22:48] yhirose commented on #1235
Thanks for the report. Could you try again with #1236?

[2022-04-07 00:55] ztkboj58623 commented on #1234
你要发送UTF-8编码后的字符串，你找个转UTF-8的函数就行了

[2022-04-07 03:04] CyberKoo commented on #1235
Thanks for the fix, but here are some issues I've found.

1. this fix will return an ipv6 address even the address family is set to AF_INET,  need to pass the address_family from create_client_socket to if2ip.
<img width="624" alt="Snipaste_2022-04-07_10-57-39" src="https://user-images.githubusercontent.com/2918558/162111398-0565d044-5559-45ad-8f30-df4be17b06c1.png">

2. incorrect ipv6 address ret

[2022-04-07 05:28] yhirose commented on #1235
@CyberKoo, I updated #1236. Could you test again to see if it makes any progress?

[2022-04-07 08:40] CyberKoo commented on #1235
Now, I'm getting Connection error.

[2022-04-07 11:52] yhirose commented on #1235
@CyberKoo, since I can't run properly your example code on my machine, I am not able to debug... Could you debug my changes for me on your machine? (As you can see [here](https://github.com/yhirose/cpp-httplib/pull/1236/files), I actually made your 3 suggestions.) Thanks in advance!

[2022-04-09 04:51] finiteabelian opened #1237 "Websocket support"
It would be great if cpp-httplib support http upgrade and communications via [Websockets](https://en.wikipedia.org/wiki/WebSocket).

[2022-04-09 12:19] yhirose commented on #1237
Thank you for the feedback. Yes, but no plan for it.

[2022-04-09 12:19] #1237 closed

[2022-04-10 16:33] andriish opened #1238 "How to download big file: MWE"
Hi all,

I saw https://github.com/yhirose/cpp-httplib/issues/917 , but from the links in that answer I cannot understand how to create a minimal working example. Is there any available?
I would be very grateful and I think it is already a solved task.

Best regards,
Andrii

[2022-04-11 01:18] yhirose commented on #1238
Yes, you can see some content receiver examples in `test/test.cc`.

[2022-04-11 01:18] #1238 closed

[2022-04-11 01:19] yhirose commented on #1235
@CyberKoo, any response?

[2022-04-11 02:40] shangdev opened #1239 "How to use cpp-httpapi in DLL ?"
[code]

The above code cannot be executed. Is there anything you can do?

[2022-04-11 02:56] yhirose commented on #1239
'cannot be executed' is too little information... sorry that I can't help you.

[2022-04-11 02:56] #1239 closed

[2022-04-11 02:59] CyberKoo commented on #1235
Sorry for the delay, I've been busy lately.

Here is the full test project
https://github.com/CyberKoo/cpp-httplib_test

[2022-04-11 03:02] CyberKoo commented on #1235
<img width="268" alt="1" src="https://user-images.githubusercontent.com/2918558/162657977-ded47039-cbf7-4905-8c92-663e885feac8.png">
here is the output of my example code.

if pass AF_UNSPEC to if2ip no ip address will be returned.

[2022-04-11 05:47] ckelsel opened #1240 "why does httplib append back slash to result data"
Why does this library change origin data, this is terrible.

unicode string `\u5403189`  was changed to `\\u5403189`.

How can I remove this back slash?

![image](https://user-images.githubusercontent.com/4329188/162672041-36ec2048-711a-4426-813f-0f9c06205001.png)

[2022-04-11 06:08] #1240 closed

[2022-04-11 10:53] yhirose commented on #1240
@ckelsel, was it a problem on your side? Just curious.

[2022-04-11 12:57] yhirose commented on #1235
@CyberKoo, thanks for the more information. I would not like to access `api.ip.sb` since I basically don't trust external sites. Is it another way to reproduce the problem with `AF_INET6` and `en0`? If I can reproduce it on my machine, I'll start debugging it. Otherwise, could you debug it and send me a pull request? Thanks a lot!

[2022-04-13 07:37] zhongqingyang opened #1244 "Occasionally an error occurs when compiling the server with -O2: Could not get response"
### Code
[code]

### CMakeList

[code]

gcc:8.4.0
system:ubuntu 18.04

what should I do，Thanks.

[2022-04-13 08:29] #1244 closed

[2022-04-13 15:59] dtodor opened #1245 "Server: chunked content provider and socket disconnects"
It seems that the `ContentProviderResourceReleaser` is not being called when the socket connection is closed from the client side. In fact, the `Response` destructor is never called. Any ideas how to detect connection issues and cleanup resources?

[2022-04-13 16:37] dtodor commented on #1245
OK, for this to work have to return `false` from the `ContentProviderWithoutLength` at some point. This means that we have to send keep-alive message in order to detect the broken connection. Is this the way to go?

[2022-04-13 20:02] leonuetzel opened #1247 "Client POST fails on getaddrinfo"
Hello,

im trying to connect to ETSY API v3 to obtain an Access Token with OAuth2 Protocol:
https://developer.etsy.com/documentation/essentials/authentication/
The Problem is, that i need to make a POST Request to "https://api.etsy.com" but getaddrinfo wont open a Socket and returns INVALID_SOCKET, which makes everything after fail. Exactly like here: https://githublab.com/repository/issues/yhiros

[2022-04-13 21:20] leonuetzel commented on #1247
Ok, i got the Problem: When using SSL (= HTTPS Request and not HTTP), then the URL doesnt have to contain the "https://", it just needs (in my case) the "etsy.api.com"

[2022-04-13 21:20] #1247 closed

[2022-04-14 01:30] yhirose commented on #1245
@dtodor, thanks for the report. Could you show the smallest possible code snippet for this issue?

[2022-04-14 01:32] #1235 closed

[2022-04-14 17:32] PasinduKollure opened #1248 "How to use a callback function for receiving chunked data while sending chunked data"
Hi,

I want to use a `httplib::SSLClient` object to post chunks of data (using `Transfer-Encoding: chunked`) while an another thread receives chunked data from a server. After looking through the `class ClientImpl`, I was only able to find the `Result Post(const char *path, ContentProviderWithoutLength content_provider, const char *content_type);` which returns the response after all the data is s

[2022-04-14 18:56] andriish commented on #1238
Thank you!

[2022-04-15 09:53] dtodor commented on #1245
Here you are:
[code]

[2022-04-15 09:54] dtodor commented on #1245
The `ContentProviderResourceReleaser` will be only called if the `ContentProviderWithoutLength` returns `false`.

[2022-04-15 11:20] PixlRainbow commented on #1248
It appears we're missing a Post function with content receiver. That seems like an oversight.
<hr>
Do note that even if we implement one, you would not be able to stream incoming data "at the same instant" as streaming an upload. The HTTP protocol is synchronous by design; a HTTP standards-compliant server will only start streaming the response after it has received all the request data.
The only

[2022-04-15 17:12] bart9h opened #1249 "httplib version"
Could you define `CPPHTTPLIB_VERSION_MAJOR`, `CPPHTTPLIB_VERSION_MINOR`, and `CPPHTTPLIB_VERSION_PATCH`?

Or provide a `std::string http::get_version();` function, or whatever?

[2022-04-16 12:55] #1249 closed

[2022-04-16 12:55] yhirose commented on #1249
@bart9h, thanks for the suggestion. I implemented it.

[2022-04-16 12:57] yhirose commented on #1248
@PasinduKollure any response to @PixlRainbow's comment?

[2022-04-16 13:18] yhirose commented on #1245
@dtodor, thank you for the sample code! I'll take a look at it when I am available.

[2022-04-16 14:08] yhirose commented on #1245
@dtodor, I tried to simulate the problem with the server and client as below, but I can't reproduce it. The sample code calls the resource releaser correctly... Did I miss something?

[code]

[code]

[2022-04-16 14:13] dtodor commented on #1245
So yes, returning `false` seems to be the way to go, i.e.:
[code]
But if you are just waiting for an event inside the callback, then cleanup will not be called on a disconnect. So there is no way of knowing whether you should stop waiting.

[2022-04-16 14:34] yhirose commented on #1245
Thanks for correcting my misunderstanding. I changed the code to disconnect the client at offset 16. But, it still works fine and the resource releaser gets called. What do you mean by 'socket disconnects'?

[code]

[code]
[code]

[2022-04-16 14:38] dtodor commented on #1245
I've used this Go code as the client:
[code]
Just press CTRL+C while running.

[2022-04-16 14:43] dtodor commented on #1245
One other thing, look at the original example:
[code]
You are not blocking inside the callback.

[2022-04-16 14:53] dtodor commented on #1245
Here is an even simpler example:
[code]

[2022-04-16 16:02] PasinduKollure commented on #1248
@yhirose @PixlRainbow the response makes sense, thank you!

[2022-04-16 16:15] Haragarden opened #1250 "Can I rename an image uploaded by httplib? After studying for a long time, I still don't know what to do. Looking forward to your reply"

[2022-04-16 16:33] yhirose commented on #1250
Thanks for the feedback, but it's not clear to me...

[2022-04-16 16:33] #1250 closed

[2022-04-16 17:00] yhirose commented on #1245
It seems like there is no easy way to detect disconnects on the client side in this situation. I thought the `is_writable()` method can detect the client disconnect reliably, but actually not...

The following stackoverflow post gives some helpful information, but I am not sure how to solve our problem.
https://stackoverflow.com/questions/283375/detecting-tcp-client-disconnect

I'll try to come up

[2022-04-16 21:34] yhirose commented on #1245
If you would like to use the content provider as an event emitter, I think the most reliable way is to utilize SSE protocol and send a certain event to the client periodically for health checking. It will end up causing `write` socket call and the server can detect if the client has been disconnected. If the client is still connected, the client can just ignore the SSE event. (Of course, you can c

[2022-04-16 21:36] dtodor commented on #1245
Yes, you're right, this was my second comment.

[2022-04-16 21:36] #1245 closed

[2022-04-17 06:20] CyberKoo opened #1251 "CMake fails after commit 33f6738"
CMake fails with the following error
[code]

caused by commit 33f6738,
https://github.com/yhirose/cpp-httplib/blob/80a55cedebc598d338c0bedb093fc842ceee0983/httplib.h#L6201

Which breaks version match regex
https://github.com/yhirose/cpp-httplib/blob/80a55cedebc598d338c0bedb093fc842ceee0983/CMakeLists.txt#L66

[2022-04-17 09:45] Haragarden commented on #1250
#include "paddle_api.h"
#include "httplib.h"
#include "json.h"
#include <arm_neon.h&gt;
#include <stdio.h&gt;
#include <sys/time.h&gt;
#include <unistd.h&gt;
#include <vector&gt;
#include <limits&gt;
#include <iostream&gt;
#include <fstream&gt;
#include <signal.h&gt;
#include <sys/stat.h&gt;

//using namespace std;
using namespace httplib;
using namespace paddle::lite_api;

const char* html = R"(

[2022-04-17 12:40] yhirose commented on #1251
@CyberKoo, sorry about the bug. this is caused by my change for #1249 requested by @bart9h.
@sum01, is it possible to take a look at it if it can be easily fixed? If you think that it's not easy to fix, I'll revert my change.

[2022-04-17 12:49] yhirose commented on #1251
@sum01, should I make the version define symbol like `#define CPPHTTPLIB_VERSION "0.10.15"`, so that the CMakeLists.txt can detect the version string with `REGEX "CPPHTTPLIB_VERSION \"(\d+\.\d+.\d+)\""`?

[2022-04-17 12:59] CyberKoo commented on #1251
How about define ```CPPHTTPLIB_VERSION_MAJOR```, ```CPPHTTPLIB_VERSION_MINOR``` and ```CPPHTTPLIB_VERSION_PATCH``` in CMake
then use ```configure_file``` to generate new header file?
more detail: https://cmake.org/cmake/help/latest/command/configure_file.html

[2022-04-17 15:38] yhirose commented on #1251
@CyberKoo, thanks for the suggestion, but httplib.h should be 'generated' from a template, rather it should be the only source of truth.

[2022-04-17 15:59] #1251 closed

[2022-04-17 16:00] yhirose commented on #1251
@sum01 could you check if there is any problem in my change at 4e28e4f74188c90ae494bbf0f321f6374ea03466 when you have time? Thanks!

[2022-04-17 21:11] yurivict opened #1252 "[regressuion in 0.10.5] No VERSION specified for WRITE_BASIC_CONFIG_VERSION_FILE()"
[code]

FreeBSD 13

[2022-04-17 21:33] yhirose commented on #1252
Same as #1251

[2022-04-17 21:33] #1252 closed

[2022-04-18 01:34] sum01 commented on #1251
@yhirose Looks good. Sorry I wasn't around earlier, I've been busy.

[2022-04-18 04:02] PixlRainbow commented on #1250
the `listen()` function enters the main loop of the server. The server takes over control of the thread so that it can stay attentive to incoming requests. You cannot interrupt the thread or "jump" the server's thread or you will terminate the server. If you need to run anything alongside the server, you must start a second, parallel thread for the purpose.
<hr>

https://github.com/yhirose/cpp-htt

[2022-04-18 12:52] yhirose commented on #1250
@PixlRainbow it does support content disposition message with `filename*` from Postman (#1212, a1df576e4ffac39185ef8f041cff3dd17fec5e3c). But, `filename*` has to be at the last in the content disposition header currently. To **fully** support the content disposition, we have to write a better parser without regex.

[2022-04-19 05:06] eli-schwartz commented on #1251
@Tachi107 This is relevant to meson.build too...

[2022-04-19 05:08] eli-schwartz commented on #1251
#1253

[2022-04-20 02:56] yhirose commented on #1030
I no longer get any deprecated warning.

[2022-04-20 02:56] #1030 closed

[2022-04-20 16:09] ghosttie opened #1257 "content provider for multipart-form-data"
I'm looking for a library to help me upload files to a server.

Your library is perfect for me _except_ I need to upload files that could be 100MB, so I can't really use the library as I'd have to load the whole file into memory.

While looking through the issues I found comments where you've described changing multipart-form-data to use a content provider (e.g. [here](https://github.com/yhirose/c

[2022-04-21 01:44] yhirose commented on #1257
@ghosttie, if you update one file at a time, you can do it with a [content provider](https://github.com/yhirose/cpp-httplib#send-content-with-a-content-provider).

But if you need to upload more than one file at a time, cpp-httplib can't handle it because the multipart-form-data support doesn't support streaming. And I am not planning to support anytime soon.

Hope it helps!

[2022-04-21 15:03] ghosttie commented on #1257
Can you send the filename at the same time as sending the file with a content provider?

[2022-04-21 16:30] PixlRainbow commented on #1257
if you only need the client side POST, you can construct the multipart data yourself in the content provider
[code]

[2022-04-22 00:49] daihanhle opened #1258 "cpp-httplib limit-rate or bandwidth limite"
Hello,

I see curl or lib culr has the option --limit-rate (bandwidth of transfer).
Do the cpp-httplib ahs option similar ?

Thx

[2022-04-22 08:08] newbiediver opened #1259 "Support openssl 3.0"
As I know, ubuntu 22.04 was distributed today. And openssl 3.0 is default in 22.04 distro. So I installed openssl 3.0 source through conan package manager. But many warnings appear during build cpp-httplib. It looks deprecated some kind of functions of openssl 1.1. (Like MD5). Please fix the warning and support openssl 3.0.

[2022-04-22 10:52] yhirose commented on #1259
After #1241, I see no OpenSSL deprecated warning. Could you give me more detailed information? Thank you.

[2022-04-22 13:15] yhirose commented on #1259
I also downloaded a docker image of [Ubuntu 22.04](https://github.com/tianon/docker-brew-ubuntu-core/blob/76df46d4a2c2e59f4bb5ee20425c6ef2435e9dfe/jammy/Dockerfile), and I didn't get any OpenSSL deprecated warning when building the unit test suite in `test` directory.

[2022-04-23 00:48] PasinduKollure opened #1260 "Connection Error When Using a Proxy Connection"
I am trying to run a simple program to Get() data from `cpp-httplib-server.yhirose.repl.co` but I am encountering a `httplib::Error::Connection` error. Any ideas as to why this piece of code is not working?

[code]

Output:
[code]

[2022-04-23 02:16] yhirose commented on #1260
@PasinduKollure, thanks for the feedback, but. I don't know anything about the proxy that you are using;

If I access `http://cpp-httplib-server.yhirose.repl.co/hi` with `-L` in curl without proxy,  I get the following result.

[code]

Also If I compile the following code with `-DCPPHTTPLIB_OPENSSL_SUPPORT`,

[code]

I get this result.

[code]

Sorry that I can't give you any further help...

[2022-04-23 02:16] #1260 closed

[2022-04-25 01:17] newbiediver commented on #1259
@yhirose Strange. I formatted my ubuntu. So I can't show the warning message now. I should explain detail. I installed openssl using conan as static library and also installed cpp-httplib using conan. And compiled my project with openssl & cpp-httplib on gcc 11 version. Then compiler showed warnings "Deprecated MD5 blahblah....".

I'll offer you my compiling message after I install ubuntu again. T

[2022-04-25 01:29] newbiediver commented on #1259
Ok. I'll try it. Thank you!

[2022-04-25 08:37] newbiediver commented on #1259
It solved this issue in the version over 0.10.5. Thanks!

[2022-04-26 10:42] niansa opened #1262 "HTTP Post Request with headers?"
Hey, how do I send a HTTP Post request with headers?

[2022-04-26 10:43] #1262 closed

[2022-04-28 07:19] WhyLogin opened #1263 "how to use SSLclient?"
my code :
`httplib::Client cli("https://XXXXX.XXX.com");
`
but get error:
terminate called after throwing an instance of 'std::invalid_argument'
  what():  'https' scheme is not supported.

how to fix it?I found SSLClient in example, but it is not worked too.
Thank you all.

[2022-04-28 07:25] PixlRainbow commented on #1263
You must compile with [SSL support enabled and the supporting libraries linked](https://github.com/yhirose/cpp-httplib#ssl-support)

[2022-04-28 10:48] #1263 closed

[2022-04-29 15:16] pietroborrello opened #1264 "AddressSanitizer: stack-overflow in regex_executor.tcc"
##### **Describe the bug**
AddressSanitizer: stack-overflow in regex_executor.tcc

##### **To Reproduce**
Built cpp-httplib using clang-10 according to [the oss-fuzz script](https://github.com/google/oss-fuzz/blob/master/projects/cpp-httplib/build.sh) with `CXXFLAGS='-O1 -fsanitize=address -fsanitize=array-bounds,bool,builtin,enum,float-divide-by-zero,function,integer-divide-by-zero,null,object-si

[2022-04-29 17:17] ashishchandr70 opened #1265 "Supply username and password in connection URL"
Hi

I am accessing a Bitcoin RPC interface which connects as `http://username:password@host:port `and is a POST only interface.

If I use `schema_host_port`, the `regex` in `httplib.h` Client's constructor does not like it and sets the port as 80.

Is there a way to provide connection parms either in the connection URL or while calling POST? I also need to supply a body where the name of the RPC c

[2022-04-29 19:25] ashishchandr70 commented on #1265
`set_basic_auth` - didn't see that before!

[2022-04-29 19:25] #1265 closed

[2022-04-30 04:42] yuzibo opened #1266 "test case fail on riscv64"
Hi,
I am porting the Debian package to riscv64 arch.
And the cpp-httplib package on Debian has a ftbfs(fail to boot from source code) issue, the full buildd log is:

https://buildd.debian.org/status/fetch.php?pkg=cpp-httplib&arch=riscv64&ver=0.10.6%2Bds-1&stamp=1651132099&raw=0

The fail is two test cases:
[code]
It is easy to disable the two test cases on riscv64 arch, but i am not sure that this

[2022-04-30 07:17] PixlRainbow commented on #1266
It seems like the riscv64 board running the test doesn't have enough resources to complete the large file compression/decompression tests within the timeout period, which is odd considering the specs of the HiFive Unmatched.

Have you tried creating a 100MB file and then attempting to compress and decompress it with gzip outside of httplib?

[2022-04-30 12:59] yhirose commented on #1264
@pietroborrello, your log shows that the problem is happening at `/usr/lib/gcc/x86_64-linux-gnu/9/../../../../include/c++/9/bits/regex_executor.tcc:181:18`. Could you provide more information to prove that it's caused by cpp-httplib? Thanks!

[2022-04-30 14:52] Tachi107 commented on #1266
Hi @yuzibo, thanks for looking into this! As I mentioned in #1199, the test suite seems to be quite flaky. On riscv64 in particular, the `ServerTest.PutLargeFileWithGzip` and `ServerTest.PutLargeFileWithGzip2` tests seem to almost always fail (all the logs are [here](https://buildd.debian.org/status/logs.php?pkg=cpp-httplib&arch=riscv64)).

The Debian machines `rv-mullvad-01`, `rv-mullvad-02` and

[2022-04-30 16:36] yuzibo commented on #1266
Hi, @PixlRainbow It seems to work to compress and decompress it with gzip outside of httplib on unmatched board:
[code]

@Tachi107 Aha, you are welcome. Before I file the ftbfs on riscv64 bug, I think it would be better to ask for help from here:)

[2022-04-30 16:38] PixlRainbow commented on #1266
How long did it take?

[2022-04-30 16:41] yuzibo commented on #1266
[code]

[2022-04-30 17:00] PixlRainbow commented on #1266
Maybe not necessarily a timeout, but I notice that the `osuosl` family machines always fail that test at close to 10 seconds, give or take a few hundred ms, while the `mullvad` family machines always fail the test at close to 13 seconds, give or take a few ms.

[2022-05-02 10:05] pietroborrello commented on #1264
Hello, I confirm the issue seems to reproduce on the current master.
The ASAN stack trace does not provide full information, sorry for the confusion. The full (huge) stack trace under gdb shows the issue is triggered by `httplib::Server::dispatch_request` calling `std::regex_match` on what seems a worst-case scenario that incurs a stack-overflow.

https://github.com/yhirose/cpp-httplib/blob/1be1b3

[2022-05-02 13:05] mipancha opened #1268 "Empty Client Response Using "Get()""
I was having an issue pulling data off an API with the HTTP Client. Turns out that the default timeout in the httplib.h file is about 5 seconds. If you have a large amount of data coming from an API and your request returns an "empty" response it may be because it takes longer than 5 seconds to retrieve. I'd suggest setting this to a larger value in your code above the #include files.

#define CPP

[2022-05-02 14:44] yhirose commented on #1268
Thanks for the suggestion though, I am not going to take it. It all depends on the circumstances, and you can control the values by supplying them via `-D` option or directly putting the define symbols before including httplib.h.

[2022-05-02 14:44] #1268 closed

[2022-05-04 20:15] dkruempe opened #1269 "SIGABRT httplib::CliientImpl::Post produces an abort"
Hi,
i am current using this library in a private project. In some edge cases I have regular SIGABRT, in the following case.
I am testing with an MacBook Pro Intel on macOs 12.3.1. I am using the library of version 0.10.6 .

Gdb is showing the following batcktrace
[code]

The last frame from httplib is 25, that's why I have added for this frame the given informations

[code]

Note, that function Us

[2022-05-05 02:30] yhirose commented on #1269
@dkruempe, thanks for the report. Could you provide me the smallest possible code for me to reproduce the problem on my machine. (I am using macOS 12.3.1 as well. Thanks for your help.

[2022-05-05 02:33] yhirose commented on #1266
@yuzibo, could you debug this problem to see if this is really caused by cpp-http or an os limitation, since I don't have a machine that can reveal this problem? Thanks for your help.

[2022-05-05 02:50] yuzibo commented on #1266
Hi, as @PixlRainbow giving the method to measure the gzip command performance, It seems it is ok(If I am wrong about usage please correct me).

Could you give some directory to dig it?  Or I can enable you to login in the real riscv64 hardware if you need :)

[2022-05-05 08:47] PixlRainbow commented on #1266
yhirose suggests that you add a statement to print the error code and if the error code is not helpful, maybe some breakpoints to try and trace the origin

[2022-05-06 12:24] yhirose commented on #1264
@pietroborrello, I was trying to reproduce this problem on my machine, but I couldn't... What I did was to copy your test case to `test/fuzzing/corpus` as `issue1264`, and run `make fuzz_test` with your `CXXFLAGS` setting. However, it didn't report any error message...

Here is the result. Did I miss something?

[code]

[2022-05-06 13:09] pietroborrello commented on #1264
I am not sure why  it does not work for you, to reproduce on my machine I do exactly this (commit fee8e97b4eeb34fe2e6e6294413d84e9e7a072a7) :

[code]

I am not sure what are you using as LIB_FUZZING_ENGINE and whether or not it affects it.
My `libFuzzer.a` is obtained just by compiling it from llvm, in the [ossfuzz/fuzzbench ](https://github.com/google/fuzzbench/blob/master/fuzzers/libfuzzer/build

[2022-05-06 13:12] pietroborrello commented on #1264
Uh I confirm that if I use the `standalone_fuzz_target_runner.cpp` provided as LIB_FUZZING_ENGINE, it does not crash

[2022-05-06 13:56] pietroborrello commented on #1264
I can also confirm it reproduces when compiling with [AFLplusplus](https://github.com/AFLplusplus/AFLplusplus) with default configurations:
[code]

[2022-05-06 14:19] pietroborrello commented on #1264
Ok the problem is that in `standalone_fuzz_target_runner.cpp` you do not call `LLVMFuzzerInitialize` which is actually used by the harness to setup different stuff. While both AFL++ and libfuzzer driver have that by default. If I add the call to LLVMFuzzerInitialize in `standalone_fuzz_target_runner.cpp` it reproduces also there.

https://github.com/yhirose/cpp-httplib/blob/fee8e97b4eeb34fe2e6e629

[2022-05-06 14:29] yhirose commented on #1264
@omjego, do you have any thought for the previous comment by @pietroborrello, since I am not familiar to the code very much. Thanks for taking your time.

@pietroborrello, could you tell me where `LLVMFuzerInitialize` should be called in `standalone_fuzz_target_runner.cpp`? I'll try the same. Thanks!

[2022-05-06 15:01] pietroborrello commented on #1264
I have added it as the first instruction inside the `for` loop, but I guess it could be also called just once at the beginning of the `main` function.

[code]

[2022-05-06 20:58] yhirose commented on #1264
@pietroborrello, I added the call, but I still don't get the same result as yours... I probably should try on linux instead of macOS?

[code]

[2022-05-06 21:42] pietroborrello commented on #1264
Ah yes, I'm on ubuntu 18.04
I assumed the crash was OS insensitive but maybe is not the case

[2022-05-07 23:55] yhirose commented on #1264
@pietroborrello, since I don't have a linux desktop machine, I tested on ubuntu 20.04 on vagrant. But I am still not able to reproduce this problem. Can you reproduce the problem by running `make fuzz_test` command in `test` directory?

[code]

[2022-05-08 01:39] pietroborrello commented on #1264
So the way I'm compiling is
[code]

Directly in the `test/fuzzing` folder.
This produces the compilation command:
[code]

Maybe the different variables that the Makefile sets in `test` prevent the bug to show up? I'll test it on Monday

[2022-05-09 11:25] pietroborrello commented on #1264
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=86164 seems to describe a similar issue, which basically means that in theory, it is unsafe to use `std::regex` with possibly unbounded inputs. The issue refers to sizes over 27Kb, but here it seems to be the case with a much smaller input.
Maybe the fix would be to use a different regex match library or manually bounding the input to a safe size.

[2022-05-10 17:10] yhirose commented on #1264
@pietroborrello, thanks for the additional information. I am now able to reproduce it.

This library takes an advantage of the regular expression to  parse and retrieve path components as below. So we cannot be away from it. Also using a different regex library isn't an option either, since it'll add an additional dependency. (I only accept such external library dependency for compression and SSL

[2022-05-10 19:20] pietroborrello commented on #1264
Thank you for looking into that!
Maybe detecting a possibly infinite pattern (and similar) in the regex and warning the user about that would be enough?
This seems a configuration issue that may arise just due to handler settings. Not sure if the same pattern could be set in the code somewhere else?

[2022-05-10 23:08] lionkor commented on #879
They're actually much more than that! As you probably know, they *can* be semicolon-separated key-value pairs, which means you *always* need to write a custom parser every single time.

Would this be interesting for httplib? I'd be down to write one.

[2022-05-11 00:29] yhirose commented on #1264
I am able to reproduce it with the following simple code:

[code]

[code]

[2022-05-11 00:58] yhirose commented on #1264
@pietroborrello if you add`-DCPPHTTPLIB_REQUEST_URI_MAX_LENGTH=4096`, what will happen on your machine?

[2022-05-11 01:47] yhirose commented on #1266
@yuzibo is it possible to simply remove cpp-httplib from the Debian package for riscv64 arch, since I am not using the environment and it will reduce your work as well. :)

[2022-05-11 01:53] yhirose commented on #1199
@Tachi107, could you simply remove cpp-httplib support from architectures except amd64, arm64 and i386, since I don't have time to support them and I am not interested in other architectures anyway? Thanks!

[2022-05-11 01:54] yhirose commented on #1269
@dkruempe any response?

[2022-05-11 03:19] dkruempe commented on #1269
Sorry, i am currentöy a bit busy. I have started to write an example. I hope, that i will finish it soon.

[2022-05-11 07:24] Tachi107 commented on #1199
I could simply disable flaky tests for those architectures, so that users who want to use cpp-httplib on less common architectures don't have to install it from source. Not having those architectures in Debian won't top users from using the library :)

[2022-05-12 01:47] pietroborrello commented on #1264
I confirm that I can reproduce it too with the minimized test

And I confirm that setting the limit to 4096 does not crash on my machine, but I guess this depends on the size of the stack of the system.
But this seems pretty reliable, I had to go down to `ulimit -s 64` (setting max stack size to 64Kb) to make it crash again with a stack overflow. So I guess if a system has at least 64Kb of stack s

[2022-05-12 07:58] vikalp0299 opened #1270 "Recieve File as Client"
Hi, I am very new to this and am using this library for a project. The examples helped me to understand how to upload a file from a client to server but how to download a file from server... I am not able to understand it. Can you please guide me to a function (for client and server) to download a file from the server?

[2022-05-12 09:34] PixlRainbow commented on #1270
1. use GET instead of POST
2. [use a content receiver](https://github.com/yhirose/cpp-httplib#receive-content-with-a-content-receiver-1) instead of content provider
3. inside the content receiver, use any method you like (either `std::ofstream` or plain C `FILE`) to stream one block of data to your file whenever the content receiver callback is triggered. The data is in `data` parameter and the nu

[2022-05-12 09:43] vikalp0299 commented on #1270
Okay, so basically, we on the client side have to specify the file name, and we will only get the content of the file stored on the server. As opposed to upload in which we even send the file's name to the server? Do I understand this correctly?

[2022-05-12 09:56] PixlRainbow commented on #1270
The server *may* provide the file name [using a header value](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition#as_a_response_header_for_the_main_body), but this is not a mandatory part of the HTTP spec, so not all servers will do this. Some servers use the URL as file name, but this is also not guaranteed for every web service.

Note that **if** the server uses a heade

[2022-05-13 03:21] vikalp0299 commented on #1270
Thanks alot, I am closing it

[2022-05-13 03:21] #1270 closed

[2022-05-13 14:31] lecaro71 opened #1271 "Pipelined requests are dropped if in the same tcp frame"
Multiple http requests (pipelined) in the same tcp frame are dropped, because the SocketStream strm object is "inside" the keep-alive loop, so further data in the buffer of the SocketStream object is discarded after the first request is processed.

[2022-05-13 19:44] yhirose commented on #1271
@lecaro71, thanks for the feedback. Yes, cpp-httplib doesn't support HTTP pipelining, and I am not planning to support it due to the complexity to implement it properly with good error handing.

[2022-05-13 19:44] #1271 closed

[2022-05-13 19:45] yhirose commented on #1271
A pull request for this is always welcome!

[2022-05-16 08:53] hctym1995 opened #1273 "How to convert httplib::Result to httplib::Response"
I want to parse "WWW-Authenticate" in response using function-"parse_www_authenticate".
My code like this:

[code]

but got compile error:
"error: conversion from 'httplib::Result' to non-scaler type 'httplib::Response' requested...."

I don't know where my usage is wrong...
Looking forward to your reply.

[2022-05-16 11:15] #1273 closed

[2022-05-16 12:23] yhirose commented on #1266
Dup #1199.

[2022-05-16 12:23] #1266 closed

[2022-05-16 12:42] yuzibo commented on #1266
Hi, sorry for the later reply. It is ok to disable it on Debian riscv64 arch. Thank you~

[2022-05-16 12:47] yuzibo commented on #1199
Hi @Tachi107 , please add failed test cases as flaky on riscv64 arch also, thank you:)
if need me to do more tests on riscv64, please let me know.

[2022-05-16 15:59] Tachi107 commented on #1199
I've just pushed a commit on the Debian packaging branch that disables the flaky tests: https://salsa.debian.org/debian/cpp-httplib/-/commit/2a08f65de8a605e8a72a269e4e1f1bec66919227

To summarize, here's what's currently broken on the various architectures:

- `PutLargeFileWithGzip`, `PutLargeFileWithGzip2` broken on riscv64, mipsel
- `ClientProblemDetectionTest` broken on armel, armhf, sparc64

T

[2022-05-16 15:59] #1199 closed

[2022-05-17 03:19] hctym1995 commented on #1273
I ended up using your method,thak u so much.

[2022-05-17 11:35] CNLouisLiu opened #1275 "How can I use this library to directly access HTTP services of type IP:PORTS?"
like 127.0.0.1:8080

[2022-05-17 11:58] yhirose commented on #1275
https://github.com/yhirose/cpp-httplib#client-1

[2022-05-17 11:58] #1275 closed

[2022-05-17 12:08] CNLouisLiu commented on #1275
sorry.I tried, using "http://127.0.0.1:8080" he doesn't work.

[2022-05-17 17:10] PixlRainbow commented on #1275
please specify "doesn't work" and give code example of what you tried

[2022-05-17 22:49] Rockybilly opened #1276 "Server or Client failure when multiple clients send requests after each other"
I have been experiencing a problem with creating multiple clients to reduce the bottlenecking problem while using httplib. I tried to create a really simple code example, and encountered similar problems.

Here is the code:

[code]

Here are the outcomes:

`CLIENT_COUNT 1`

[code]

`CLIENT_COUNT 3`

[code]

`CLIENT_COUNT 5`

[code]

`CLIENT_COUNT 9`

[code]

exit code 11 turns out to be segmentati

[2022-05-18 18:34] yhirose commented on #1276
This is due to the thread pool count determined by the following code in httplib.h. I believe the count is 8 on your machine.

[code]

You can make your code work with one of ways below:

1) Increase thread pool count with `CPPHTTPLIB_THREAD_POOL_COUNT` more than your simultaneous request count
2) Remove `client->set_keep_alive(true);`
3) Increase the read time out from 1 to more than 5 seconds, s

[2022-05-18 18:34] #1276 closed

[2022-05-18 18:49] Rockybilly commented on #1276
Shouldn't the server be able to handle more simultaneous requests than a predefined constant ? For example I could want my server to operate with 8 threads, but simply make the 9th request wait for response, rather than immediately return an error.

To my understanding, you are using this constant value `CPPHTTPLIB_THREAD_POOL_COUNT ` as also a maximum open connection count. Is there a way around

[2022-05-18 19:28] cozzyd opened #1277 "Using sink.os will drop content"
I've seen issues with using sink.os where it drops content some of the time in a ContentProvider.

I think the reason is that `data_sink_streambuf` implements `xsputn` but not `overflow,` and which one gets called may depend on all sorts of things. I think the default `std::streambuf` implementation of `overflow` does nothing and the default implementation of `xsputn` calls `overflow`, so it's pro

[2022-05-18 21:16] yhirose commented on #1277
@cozzyd, thanks for the feedback. Could you please send a pull request with a unit test to validate the fix? Thanks.

[2022-05-18 21:29] yhirose commented on #1276
It's very hard to implement the one best thread pool which can work on all the possible situations. That's why I made the interface `TaskQueue` , so that users can implement a better one and easily integrated it to a cpp-http server.

Please read the section [Default thread pool support](https://github.com/yhirose/cpp-httplib#default-thread-pool-support) and [Override the default thread pool with

[2022-05-19 03:18] raviruia522 opened #1278 "how to hide cer.pem and key.pem?"
I want to hide the value of cer.pem and key.pem from others to see in visual, how do I do that, for example create a char variable and assign it in VS?

[2022-05-19 07:22] theShmoo opened #1279 "Server is set too early to "is_running""
The server is set to "is_running" before it is actually running

https://github.com/yhirose/cpp-httplib/blob/a449d82723ffb9f383196f156a2e659754ceff3f/httplib.h#L5339

I have a unit test which creates a server (in a backend thread) and closes it again:

(pseudo code here!)

[code]

Here is a detected race condition in parts of the cpphttlib as the starting code is not yet finished, but the server i

[2022-05-19 11:11] yhirose commented on #1278
Thanks for the feedback. But I don't know. Sorry...

[2022-05-19 11:11] #1278 closed

[2022-05-19 11:13] yhirose commented on #1279
@theShmoo, thank you for the report! Could you please send a pull request including your unit test and the solution that you suggested? Thanks a lot!

[2022-05-19 13:17] Rockybilly opened #1280 "Listen to a certain ip"
Is there a way to accept connections from a single or multiple ip's, and reject connection of others while using `httplib::Server` ?

[2022-05-19 13:29] yhirose commented on #1280
cpp-httplib doesn't have the ability. A pull request is always welcome!

[2022-05-19 13:29] #1280 closed

[2022-05-19 21:02] valden commented on #977
was the issue closed due to this feature was implemented?

[2022-05-20 07:37] theShmoo commented on #1279
Thanks for your reply!

I will try to setup a unit test. Currently this only exists in our application (with an own thread pool).

Sorry this will take a while.

[2022-05-22 16:58] mcordova1967 opened #1281 "httplib won't compile with GCC-12 on Windows unless <cstring> is included"
I have compiled httplib with GCC-12 on Linux without problem, also with GCC-11.3 on Windows, but when compiling with GCC-12 on Windows (using MSYS2 package) the compiler prints this error:

../src/httplib.h: In constructor 'httplib::detail::gzip_decompressor::gzip_decompressor()':
../src/httplib.h:3064:8: error: 'memset' is not a member of 'std'; did you mean 'wmemset'?
 3064 |   std::memset(&strm

[2022-05-23 00:51] yhirose commented on #1281
@mcordova1967, could you please send me a pull request, since I don't use MSYS2. Thanks!

[2022-05-23 05:06] mcordova1967 commented on #1281
I am sorry, I have never done a pull request before, should I fork the project first? I will read GitHub tutorials and try to do it.

It's just about adding an include for Windows too:
`

#include <cstring>

`
In the current version, it is only being included if not Win32.
Somehow it did compile with GCC 11.3 without problem, but GCC-12 complains about it.

Regards.

[2022-05-23 05:06] #1281 closed

[2022-05-23 11:04] yhirose commented on #1281
You can check [this article](https://opensource.com/article/19/7/create-pull-request-github) to see what to do. It's not difficult at all.

The reason why I asked you to send a pull request is that I can't verify the change on my machine since I don't have the MSYS environment. Also if you push your pull request, the GitHub Actions workflow will run all the unit test cases on Linux/Windows/macOS.

[2022-05-23 19:15] ArnaudBienner opened #1282 "Race condition with keep-alive timeout"
I use keep-alive in my application to reduce latency, and this works well :)

While trying to understand the potential issues keep-alive can introduce, I've found this [Wikipedia article](https://en.wikipedia.org/wiki/HTTP_persistent_connection#Disadvantages) which explains that a race condition can happen if the server closes the connection (because timeout) at the same time the client sends a ne

[2022-05-23 20:21] ArnaudBienner commented on #1282
FWIW a similar bug report on node.js project: https://github.com/nodejs/node/issues/38890

[2022-05-24 02:32] yhirose commented on #1282
@ArnaudBienner, thank you for the feedback. Could you please try to reproduce the problem with the smallest possible server code and a client code? Then, I'll take a look at it to implement the feature. Thanks!

[2022-05-24 20:50] chrxh opened #1285 "Unable to upload large data via post-request"
Hello,

I have a problem with sending larger data. It seems to be related to https://github.com/yhirose/cpp-httplib/issues/1211.
Here is a minimal example for my case:

[code]
I obtain a `Write` (5) error. If the test string is smaller (~10 KB) then everything works.
Did I forget to configure something or is it because of the server (it's a hosted web server)?
(On the other hand, I had already man

[2022-05-25 08:47] theShmoo commented on #1279
I tried to reproduce the error in a unit test directly in your library and found the great unit test: `ServerUpDownTest` which I modified a little bit.
But I could not reproduce the problem. I think the race condition it is in our application.

Still I think the flag is set to true too early.

[2022-05-25 08:47] #1279 closed

[2022-05-25 14:23] yhirose commented on #1285
@chrxh, thank you for the report. Your code looks ok, and I honestly don't know why it returns with the Write error. Could you run the following unit test which uploads 2MB data to a server to find more information?

https://github.com/yhirose/cpp-httplib/blob/47044c05a8587dff86ab90526daabfef61079490/test/test.cc#L4881

Here is my result on my macOS.

[code]

[2022-05-25 14:39] aengusjiang opened #1286 "The compiler feature "cxx_attribute_deprecated" is not known to CXX"
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-44)
when I use the find_package httplib, it occur the error
![image](https://user-images.githubusercontent.com/22406984/170288804-5ea2b43d-d141-4ba8-b861-b3dc279f31f7.png)

CMAKELists.txt
`cmake_minimum_required (VERSION 3.10.0)

# set the project name
project(test)

# set the g++ gcc flags
if(CMAKE_BUILD_TYPE STREQUAL Release)
    #set(CMAKE_CXX_FLAGS "-Wal

[2022-05-25 14:51] aengusjiang opened #1287 "error: missing space between ‘""’ and suffix identifier"
gcc 4.8.5 gcc8.3
I don't test with other gcc version

There is a error when I include the httplib.h
here it is:
![image](https://user-images.githubusercontent.com/22406984/170290706-7ea8c466-48f4-4a09-b24d-29035d1a9c2e.png)

I check the code:
the declaration is like this:
![image](https://user-images.githubusercontent.com/22406984/170291259-419cee66-cde7-40a7-88d8-dd510e8ee571.png)

but using as a

[2022-05-25 15:04] yhirose commented on #1286
Please see [this](https://github.com/yhirose/cpp-httplib#g).

[2022-05-25 15:04] #1286 closed

[2022-05-25 17:05] yhirose commented on #1285
I'll leave it open for a while. Please let me know if you find more information. Thanks!

[2022-05-25 21:20] lionkor opened #1288 "Large URI payload handled incorrectly"
httplib denies any URI with length > CPPHTTPLIB_REQUEST_URI_MAX_LENGTH, even if the header `Content-Type` is set to `application/x-www-form-urlencoded`.

This can be reproduced by sending a form of size > 8192 to an httplib server. I believe this is due to a typo. PR coming up.

[2022-05-26 03:15] yhirose commented on #1288
@lionkor, thank you for the feedback. It's an intended behavior to protect a server from attacks. Please see #1134.

[2022-05-26 03:15] #1288 closed

[2022-05-26 08:32] lionkor commented on #1288
The issue is that a large URI, which is accepted by all major web servers (like nginx), is getting rejected by cpp-httplib and there is no way to change the limit either.

This happens whent he request is an application/x-www-form-urlencoded.

So I'm understanding it's intended behavior that the URI can be any length, as long as it's not a form?

[2022-05-26 13:42] yhirose commented on #1288
@lionkor, both URI string and form-urlencoded string in payload are protected with `CPPHTTPLIB_REQUEST_URI_MAX_LENGTH`

URI string:
https://github.com/yhirose/cpp-httplib/blob/47044c05a8587dff86ab90526daabfef61079490/httplib.h#L5670

Form URL encoded string
https://github.com/yhirose/cpp-httplib/blob/47044c05a8587dff86ab90526daabfef61079490/httplib.h#L5192

As for the URL encoded string, it may be

[2022-05-26 14:28] conghuawang opened #1290 "http server can't provide zip file large than 2GB with project both defined _WIN32 and _WIN64"
if project both defined _WIN32 and _WIN64, http server can't provide zip file large than 2GB

in function "SocketStream::write", change:

#ifdef _WIN32
  size =
      (std::min)(size, static_cast<size_t>((std::numeric_limits<int>::max)()));
#endif

to:

#if defined(_WIN32) && !defined(_WIN64)
  size =
      (std::min)(size, static_cast<size_t>((std::numeric_limits<int>::max)()));
#endif

resolve t

[2022-05-26 14:28] yhirose commented on #1288
@lionkor, `CPPHTTPLIB_FORM_URL_ENCODED_PAYLOAD_MAX_LENGTH` is now available in the latest httplib.h in the master branch. You can set an appropriated value that your server can accept for the application/x-www-form-urlencoded request.  (If a request containing a huge amount of form-urlencoded string is sent to cpp-httplib, it may affect the following query params parser which isn't fast and uses a

[2022-05-26 14:42] yhirose commented on #1290
@conghuawang, thank you for the feedback. Could you send the patch as a pull request including at least one unit test? Thanks a lot!

[2022-05-26 19:00] realkarmakun commented on #977
Will it be supported? SSL pinning sounds like an important feature of https stack

[2022-05-26 19:46] yhirose commented on #977
No, I am not planning to support it.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Public_Key_Pinning

[2022-05-26 19:56] valden commented on #977
Are Certificate Transparency and Expect-CT supported by cpp-httplib?
Note: Public Key Pinning mechanism was deprecated in favor of [Certificate Transparency](https://developer.mozilla.org/en-US/docs/Web/Security/Certificate_Transparency) and [Expect-CT](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expect-CT) header.

[2022-05-27 02:32] Morph1984 opened #1292 "Variable shadowing in httplib.h"
The following were found by GCC/Clang
[code]

[2022-05-27 06:35] shiguowang opened #1293 "transfer closed with xxx bytes remaining to read"
Hello, I want to use cpp-httplib as a http server. But When I use curl to get a large file, sometimes I got "transfer closed with xxx bytes remaining to read". After trying for a while, it still failed. Can you help me to find the problem?

Problem occur occasionally
![image](https://user-images.githubusercontent.com/3189971/170644093-c5b1d127-2887-47cd-9ef2-42ec35b38ea1.png)

this is my "server"

[2022-05-27 14:23] conghuawang commented on #1290
I had send a pull request

[2022-05-27 15:24] mcordova1967 opened #1295 "Many 1-byte allocations with new() after set_content() has been called"
This is not necessarily an issue, but I am in the process to reduce memory allocations in my code, to track the allocations I added this function (I found somewhere) to my main() module:

`
void* operator new(size_t size){
    std::cout <<"** Allocated " << size << " bytes" << '\n';
    return malloc(size);
}

`

Using this trace I observed that after set_content() is called, 194 1-byte allocation

[2022-05-27 15:49] #1295 closed, assigned to nobody

[2022-05-27 15:54] #1292 closed

[2022-05-27 15:56] #1290 closed

[2022-05-27 16:31] yhirose commented on #1277
@cozzyd, any update?

[2022-05-27 16:32] yhirose commented on #1269
Please let me know when you find more evidence. I'll close it for now.

[2022-05-27 16:32] #1269 closed

[2022-05-27 16:40] cozzyd commented on #1277
Hi!

Sorry, have not had a chance to get a minimal example together yet.
Maybe this weekend...

Thanks,
-Cosmin

On Fri, 2022-05-27 at 09:31 -0700, yhirose wrote:

[2022-05-28 07:48] shiguowang commented on #1293
@yhirose hello, what should I do now ? I notice you give a label "need more information to verify"

[2022-05-28 09:56] chrxh commented on #1285
I've now found out that I was using an outdated version of cpp-httplib via vcpkg (namely 0.9.7). In the latest version my problem does not occur at all. Has something been fixed in this context?
In any case my I can close my pull request.

[2022-05-28 12:03] yhirose commented on #1293
@shiguowang 'need more information to verify' means that I haven't confirmed that the problem is reproducible on my machine, yet. When I have time, I'll try to do it on my macOS. Thanks for your patience!

[2022-05-28 12:04] #1285 closed

[2022-05-28 16:44] conghuawang commented on #1293
@shiguowang maybe you should use "set_chunked_content_provider". example code:

svr.get("/test", [=](const httplib::Request& req, httplib::Response& resp)
{
    // open file
    const char* file_path = "D:/Project/hf_server/output/win64/bin/Debug/www/test.zip";
    std::ifstream file_reader(file_path, std::ifstream::binary);

    // get file size
    file_reader.seekg(0, file_reader.end);
    size

[2022-05-29 07:17] conghuawang commented on #1293
@shiguowang if you realy want use "set_content_provider", this example code will help you:

[code]

notice that:
  1. don't use vec.insert(vec.begin(), std::istream_iterator<unsigned char>(file_reader), std::istream_iterator<unsigned char>());, it will take a long time to read large file into vec, the server's default "keep-alive-time" just 5 seconds. yout should instead it of file_reader.read(&ve

[2022-05-29 07:36] conghuawang commented on #1293
@shiguowang and there is a better way to send a large file to client use "set_chunked_content_provider"
  1. fast download speed
  2. no memory leak risk
  3. very small memory usage
  4. check file exists, cancel process if open file failed
  5. check file size, cancel process if file size is less than offset

example code:
[code]

[2022-05-29 16:21] realkarmakun commented on #977
Certificate Transparency and Expect-CT are made for browsers. I'd like to enforce connection with specific SSL cert only

[2022-05-30 06:17] conghuawang commented on #1293
@shiguowang in your original code, yout pass buffer to ContentProviderResourceReleaser as pointer reference in lambda capture, it will cause the buffer pointer as a wild pointer, when you delete the buffer, server will capture a exception, and the buffer can't be delete.

you can use "[buffer]" instead of "[&]" to fix this problem. The README.md give you the correct way to use it:
![Untitled](http

[2022-05-30 10:11] shiguowang commented on #1293
@conghuawang what is the difference between "set_chunked_content_provider" and "set_content_provider"? their parameters are almost the same.  which one is better If my use case is transfer large binary file, larger than 5G bytes.

and I do some test:
1、yes, "file_read.read(&vec[0], file_size)" is faster than "vec.insert(vec.begin())", time used are 23015ms vs 199ms when file_size is 270M+ bytes on

[2022-05-30 14:17] conghuawang commented on #1293
@shiguowang
if use method "set_chunked_content_provider", you have to call sink.done() manully when all data had wirte to sink.
if use method "set_content_provider", you dont need to call sink.done() manully, because you pass "file_size" as a paramter to "set_content_provider", the server will auto process it.

both of "set_content_provider" and "set_chunked_content_provider" are good ways to send

[2022-05-31 03:27] robinfoxnan opened #1298 "about function find_content_type"
I changed a function, because R"" operator can't be recorgnized by gcc4.9.4
and map will be more faster,

inline const char * find_content_type(const std::string &path,
                  const std::map<std::string, std::string> &user_data)
{
  auto ext = file_extension(path);

  auto it = user_data.find(ext);
  if (it != user_data.end()) { return it->second.c_str(); }

  static std::map<std::strin

[2022-05-31 06:38] PixlRainbow commented on #1298
duplicate of https://github.com/yhirose/cpp-httplib/issues/1143#issuecomment-1001090256
<hr>
However, it is worth noting that during testing in godbolt (browser-based assembly inspector), it appears that httplib's existing switch case has enough complexity that compilers might not always optimize it into a jump table

[2022-05-31 07:57] robinfoxnan commented on #1298
I just want to know how to compile it, and let it work like map and do not simply jump

[2022-05-31 07:57] robinfoxnan commented on #1298
![image](https://user-images.githubusercontent.com/61180550/171122564-37d67b81-e7c9-4030-884d-ba7ba1a5c2c9.png)

[2022-05-31 08:21] robinfoxnan commented on #1298
I test the functions ,  and find that your function is faster indeed,
only a half time costed,
but i do not know why,

[2022-05-31 09:15] shiguowang commented on #1293
@yhirose "curl httP://127.0.0.1:1234/update-packet/streamed-with-range --output a.tar.gz --max-time 120" will fix the problem, I think "--max-time 120" is the key, and my original server code is slow actually

I will close this issue if you feel ok, thank you.

[2022-05-31 12:54] yhirose commented on #1298
@robinfoxnan, thank you for your research, but I am not planning to move to the map implementation.

[2022-05-31 12:55] #1293 closed

[2022-06-01 06:38] zhangxiann opened #1299 "How can I get the json data within the body in server?"
## Client
I sent json data in the body using Postman, shown as below.
<img width="853" alt="image" src="https://user-images.githubusercontent.com/12131262/171342180-f5fd69e0-cbb8-4eca-baec-463e947594fc.png">

## Server
Below is the server code.
[code]
Then I start the server to listen the port 8088.
But I got nothing from the `req.body`.
<img width="125" alt="image" src="https://user-images.github

[2022-06-01 11:22] mcordova1967 commented on #1299
If you send JSON as the payload, you need to use a POST method if you want
to retrieve req.body (and a post() lambda), req.body returns empty when
using GET,  if using GET you must use the request parameters map to access
the values of the URI fields.

Regards,
Martin

On Wed, Jun 1, 2022 at 2:38 AM zhangxian ***@***.***> wrote:

--
* Framework Dinámica
Plataforma avanzada para desarrollo rápido d

[2022-06-01 12:29] PixlRainbow commented on #1299
the HTTP standards do not allow GET requests to contain body data. If you provide body data in a GET request, it will be ignored.

If you want to send data to the server, you may either:
1. use a POST or PUT request, keeping the data in the body, or
2. keep GET request, but send the data in the request path as a query string (see "param" tab in postman) instead of body, then read the data on the s

[2022-06-02 07:38] district10 commented on #726
You can configure environment variable: `SSL_CERT_FILE`, `SSL_CERT_DIR`, instead of explicitly calling:

[code]

See document: https://www.openssl.org/docs/man1.1.1/man3/SSL_CTX_set_default_verify_paths.html.

[2022-06-02 08:09] xiang84 opened #1300 "Way to get multiparty-form encoded string"
Maybe it's not a reasonable request. But If I need the multiparty-form encoded string, are there any way?

I will send the string, headers and url to a proxy, the proxy will send msg with http. :-(

[2022-06-02 12:19] yhirose commented on #1300
I guess you are talking about 'multipart form data' encoding. You can find information in README and `test/test.cpp`. Hope it helps.

[2022-06-02 12:19] #1300 closed

[2022-06-02 16:58] crwn1337 opened #1301 "How can you send raw html data?"
I want to send raw data (without httplib adding headers), I need a very specific layout for an api. It seems the "Connection" header is forced no matter what [here](https://github.com/yhirose/cpp-httplib/blob/df20c27696c6dcb2b9ccecf3c4f9c3d06c1ecf8c/httplib.h#L5061=).

edit: i mistyped the title i meant raw http data, i cant edit because github doesnt allow it.

[2022-06-02 19:59] yhirose commented on #1301
@crwn1337, thanks for the feedback. I probably don't fully understand what you are talking about... Anyway, when `close_connection` member variable is `true`, the cpp-httplib server must add 'Connection: clone' to the HTTP header section for proper communication with a client.

[2022-06-02 19:59] #1301 closed

[2022-06-02 19:59] #1299 closed

[2022-06-03 02:18] yhirose commented on #1282
I'll close this issue for now until I receive a clear evidence for this problem.

[2022-06-03 02:18] #1282 closed

[2022-06-03 10:16] PixlRainbow commented on #1301
You can edit the title by clicking the "edit" button on the right side of the title on the desktop web interface, or above the title on the mobile web interface.

@yhirose they are asking if it is possible to exclude all headers because they have some existing HTTP software that is incapable of parsing headers.

@crwn1337 although the HTTP standard doesn't require any headers to be included or par

[2022-06-04 14:42] apexlee79 commented on #424
in my LAN environment , it  spend close to 1s on very single request for 1 thread client, too slow  !
any root cause for this ?

[2022-06-04 17:11] apexlee79 commented on #424
after some debug, it can be resolved by increasing the default ThreadPool number .

[2022-06-06 17:40] yhirose commented on #1277
Close it for now.

[2022-06-06 17:40] #1277 closed

[2022-06-07 13:21] vadimpilyugin opened #1303 "LeakSanitizer: Memory leak in hosted_at"
**Describe the bug**

LeakSanitizer detected a leak in `httplib::hosted_at`. This function uses `getaddrinfo` to get a list of addresses, but does not free the list afterwards. You should call `freeaddrinfo(result)` before returning from the function.

**To reproduce**

Compile with ASAN and make a call to `httplib::hosted_at`. You should be able to see a new leak in ASAN output

**ASAN output**

[2022-06-07 13:52] yhirose commented on #1303
@vadimpilyugin, thanks a lot!

[2022-06-07 14:07] schnudi opened #1304 "httplib::Server Put node is only called when the Request contains a body"
When adding the Put method a following:

[code]
The method is only called when the Request containing a body. If no body is present in the Request, the `set_error_handler` is called.

Is there any option to call the registered Put method also when the body is empty? Or is it maybe a bug in the library?

[2022-06-07 14:57] yhirose commented on #1304
@schnudi, does HTTP your client set 'Content-Length: 0' to the request headers?

[2022-06-08 07:41] schnudi commented on #1304
Hi @yhirose
Thanks for the fast reply!

I checked my HTTP client (which is a third party executable) in detail. Some how came, that the Client send an OPTIONS request before sending the expected PUT request. In the first step, I just saw that `set_error_handler` was called...

Anyway, handling the OPTIONS request correctly in my Server implementation allows now to run the PUT request as expected.

[2022-06-08 07:41] #1304 closed

[2022-06-10 16:30] RalphSteinhagen opened #1306 "Q: possibility to directly pass certificate and key as std::string directly - SOLVED"
Thanks for this great library! :+1:

Would it be possible to extend the API to allow passing the content of the certificate etc. files directly as, for example, `std:::string` rather than providing the paths?

The use-case is for an embedded system w/o direct access to the file system and the idea is to bundle and inline the certificate files directly into the client code.  This wouldn't be safe f

[2022-06-11 11:26] PixlRainbow commented on #1306
it's `set_ca_cert_store` if you are setting simply setting the server CA certs on the client. If you are setting client self-identification cert and key, then it is the third and fourth parameters of `SSLClient` https://github.com/yhirose/cpp-httplib/blob/305a7abcb9b4e9e349843c6d563212e6c1bbbf21/httplib.h#L7441-L7442

For server, use this constructor; `cert` is for the server's cert, `private_key`

[2022-06-13 05:06] RalphSteinhagen commented on #1306
@PixlRainbow thanks a lot for your help and for pointing me in the right direction. Much appreciated! :+1:

[2022-06-13 05:06] #1306 closed

[2022-06-13 06:50] WhyLogin opened #1307 "get error : __ZSt14__once_functor"
platform ： macOS ，12.4
While introducing httplib, there will be an error after introducing openssl in the main project: __ZSt14__once_functor
After removing httplib, the error disappeared

[2022-06-13 07:10] RalphSteinhagen commented on #1306
N.B. for others who might stumble across this, here's a stack overflow [example](https://stackoverflow.com/questions/3810058/read-certificate-files-from-memory-instead-of-a-file-using-openssl#answer-32250441) showing how to read and convert multiple certificates in a memory stored `ca-bundle.cert` to a `X509_STORE`.

copy:
[code]

[2022-06-13 10:47] aivve opened #1308 "Can I have both http and https servers simultaneously?"
Hi, it's similar to #158 but a bit different, I manage to compile but either get no response in HTTP and `SSL_ERROR_RX_RECORD_TOO_LONG` in HTTPS or get `Exception: bad allocation` when trying to run both httplib::SSLServer and httplib::Server in one app.

[2022-06-13 13:55] WhyLogin commented on #1307
yes，and I can run my command-line tool built by cpp-httplib normally. But, when it comes to my friend's mac , it is not work ,and we get Symbol not found :__ZSt14__once_functor. We take 5 mac for testing, it`s always  here.

But Removing cpp-httplib makes it all right. Is there any speacial extern lib cpp-httplib need?

[2022-06-13 13:57] aivve commented on #1308
Nevermind, got it working like that:
[code]
[code]

[2022-06-13 13:57] #1308 closed

[2022-06-14 02:36] WhyLogin commented on #1307
I can complie and link the command-line tool on my pc. The error occurred on the user's machine.  But I can not find out what else is needed. The whole error is as follow:
![image](https://user-images.githubusercontent.com/7535834/173481582-4cc76b08-1270-4bc0-abb4-b39a68e22c4d.png)

[2022-06-14 06:45] PixlRainbow commented on #1307
The version of C++/glibc/libstdc++ is not the same between your PC and user's PC.

[2022-06-14 08:40] PixlRainbow commented on #1307
https://stackoverflow.com/a/59630885
`target_link_options(your_exe PRIVATE -static-libgcc -static-libstdc++)`
or
`target_link_libraries(your_exe -static-libgcc -static-libstdc++)`

[2022-06-14 09:38] WhyLogin commented on #1307
Thank you for all

[2022-06-15 03:58] WhyLogin commented on #1307
One more question please.
After I add
 target_link_libraries(your_exe -static-libgcc -static-libstdc++)
 I can run it on my pc, but I get
zsh: killed TOOL_NAME
After mv to other floder or codesigned

[2022-06-15 05:41] PixlRainbow commented on #1307
Apple forums suggest that as code signatures are cached, there may be issues when binaries are overwritten on disk or copied. Additionally, if codesign or plist is configured incorrectly, codesign may attempt to sign the directory (and it's structure) instead of signing the executable.

However I cannot help you much beyond this point because these are MacOS specific issues and I do not have Mac.

[2022-06-15 06:29] WhyLogin commented on #1307
I have codesigned and notarized，I think its a problem only on mac, I will contact Apple for help.
so, thank you for all help and have a good day

[2022-06-20 08:56] shaoyezuizuishuai opened #1309 "http server respones 500"
Hi, When the service traffic is high, executing this command will return these information。Why is that? Can you help me,thanks.
curl http://127.0.0.1:8091/qbone_client/get/metrics -v

*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to 127.0.0.1 (127.0.0.1) port 8091 (#0)

< HTTP/1.1 500 Internal Server Error
< Content-Length: 0
< Keep-Alive: timeout=5, max=5
<
* Curl_http_done: called premat

[2022-06-20 11:34] #1309 closed

[2022-06-20 11:35] shaoyezuizuishuai commented on #1309
thanks！resolved

[2022-06-23 03:21] marlkiller opened #1310 "unable to find string literal operator ‘operator"" _t"
I included 'httplib.h' in my project
I made this mistake when compiling projects with 'cmake'

[code]

Here are my makefile files:

[code]

[2022-06-23 10:39] yhirose commented on #1310
Same as #899.

[2022-06-23 10:39] #1310 closed

[2022-06-26 17:19] bluebat1 opened #1311 "You can listen on localhost but not 0.0.0.0"
![image](https://user-images.githubusercontent.com/35389653/175826117-6102e070-f4c0-4089-9232-728b933e7a49.png)

[2022-06-26 21:02] yhirose commented on #1311
Thanks for the report, but it's too little information...

[2022-06-26 21:02] #1311 closed

[2022-06-27 08:22] VernadskyDanya opened #1313 "Strange error while GET request"
Hi, I am not a professional at C++ and I got a strange error using this library.
After 2-4 hours of running my program, I get error, which you can see on my screenshot. But my program sends this request every 5-10 seconds and it works fine. Does it mean, that it's my personal mistake in the program or it's some strange behavior of the library? (I don't have any parallel processes)

How can I figur

[2022-06-27 12:19] yhirose commented on #1313
You have to check if `res` is valid first. The following README example shows how to do this:
https://github.com/yhirose/cpp-httplib#client-1
Hope it helps!

[2022-06-27 12:19] #1313 closed

[2022-06-28 07:50] bluebat1 opened #1314 "cannot use `curl` connect server"
I use chrome connect  httplib examlpe  server is ok;
but use `curl` too connect httplib examlpe server is error;
please advise

================================
GET HTTP/1.1 /hi
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
Accept-Encoding: gzip, deflate, br
Accept-Language: zh-CN,zh;q=0.9
Connection:

[2022-06-28 07:57] #1314 closed

[2022-06-28 15:29] VernadskyDanya commented on #1313
Thank you! I will test it. But can you explain at least a little bit what is the reason of this kind of error?

[2022-06-29 01:19] yhirose commented on #1313
Please see https://github.com/yhirose/cpp-httplib#error-code in README.

[2022-07-01 14:35] Teruhashi12 opened #1315 "SSLServer svr dont work in linux (Google Cloud Console)"
SSLServer svr giving error like this
im use Linux in https://console.cloud.google.com

![Screenshot (75)](https://user-images.githubusercontent.com/90950171/176914597-b516ee97-21d4-4ed4-9275-3734af7734d5.png)
![Screenshot (76)](https://user-images.githubusercontent.com/90950171/176914606-50e0ff45-92f7-47ae-8904-1baaa21a8835.png)

[2022-07-01 16:16] yhirose commented on #1315
I think `CPPHTTPLIB_OPENSSL_SUPPORT` isn't declared in your code.

[2022-07-01 16:16] #1315 closed

[2022-07-02 02:41] Teruhashi12 commented on #1315
when im add #define CPPHTTPLIB_OPENSSL_SUPPORT
it giving error like this when im build the source
![Screenshot (48)](https://user-images.githubusercontent.com/90950171/176983751-90bafa6d-8cbb-4688-8af1-d6d29ffe9ee2.png)

[2022-07-02 08:59] PixlRainbow commented on #1315
Duplicate of #1263

[2022-07-06 01:32] KnewHow opened #1316 "How download a http file from url"
Now, I hava a url of a skp file, and I want to download it , how can I use the lib? I can give you the download link:https://oss.dev.bimfor.com/bimfor/platform/model/e03ee6836a210647ca68eb66462af1d6.skp

[2022-07-06 01:37] yhirose commented on #1316
Please read README and `test/test.cc`. Hope they will give you enough information.

[2022-07-06 01:37] #1316 closed

[2022-07-07 13:53] Gavin1937 opened #1317 "class MultipartFormDataParser cannot handle content starts with 2 CRLF"
**Description:**

when handling multipart/form-data content, function `httplib::detail::MultipartFormDataParser::parse()` will fail contents that does not start with the boundary delimiter (line #3798).

https://github.com/yhirose/cpp-httplib/blob/caa31aafda38af208ba7a4790d9ab88f741a9687/httplib.h#L3796-L3798

example multipart/form-data content:
[code]

Above form-data work perfectly with other w

[2022-07-07 17:33] kuguma opened #1318 "Handling user-defined exceptions"
I use httplib as the HTTP interface for my program (thanks for the great library!)

I have a question about exception handling.

My program has several exception classes that inherit from std::exception. These have their own methods for bug tracking.

The problem is that the httplib exception handler wraps all exceptions into std::exception.
When problems occur in routing (and subsequent my progra

[2022-07-07 17:57] kuguma commented on #1318
Is it practical to change httplib to use std::exception_ptr for the ExceptionHandler interface?
The user would be able to use std::rethrow_exception() to rethrow the exception and then try-catch to handle their own exception.
Currently, though, it would be possible to do the same with RTTI.

[2022-07-07 23:16] yhirose commented on #1317
@Gavin1937, thank you for the report. Could you show me entire your multipart/form-data including `Content-Type: multipart/form-data; boundary=----53014704754052338`?

[2022-07-08 01:54] yhirose commented on #1318
@kuguma, thank you for the feedback. Could you show me a simple code example to explain what you would like to do?

[2022-07-08 02:26] Gavin1937 commented on #1317
Thank you for your reply. Here is a netcat dump of my request:
[out.txt](https://github.com/yhirose/cpp-httplib/files/9068386/out.txt)

[2022-07-08 04:34] yhirose commented on #1317
@Gavin1937, I took a look at RFC 2046 carefully. It turned out that I forgot to skip 'preamble` text.

Here is the example showing 'preamble' and 'epilogue' in RFC 2046:

[code]

I'll try to handle the format correctly according to the spec when I have time.
Thanks again for your fine report.

[2022-07-08 05:10] Gavin1937 commented on #1317
Thank you for your work!

[2022-07-08 05:10] #1317 closed

[2022-07-08 09:08] adamaa5 commented on #1318
You could use `std::runtime_error("<ERROR_CODE>")` and then in your post/get handler add a try/catch where you test `e.what() == "<ERROR_CODE>` to handle different exceptions differently.

[2022-07-11 03:30] yhirose commented on #1318
@kuguma, any response?

[2022-07-11 15:49] kuguma commented on #1318
Thank you for your reply! I made a pull request.

[2022-07-11 15:50] kuguma commented on #1318
Well, I understand that the interface was created with such usage in mind.

[2022-07-11 15:52] kuguma commented on #1318
I've typoed the PR title:sob:

[2022-07-11 18:00] yhirose commented on #1318
@kuguma, thanks for the pull request. I now understand what you are trying to do. I'll place my comments in the pull request and close this issue.

[2022-07-11 18:00] #1318 closed

[2022-07-12 11:20] n00b42 opened #1322 "Question/Request: Why does Client::Get not accept std::string as well?"
Is there a particular reason why `Server::Get` accepts std::string, but `Client::Get` does not?

[2022-07-12 12:45] yhirose commented on #1322
@n00b42, thanks for the question. There is not a particular reason. I may change both Client and Serve to use `std::string` for consistency.

[2022-07-12 12:45] #1322 closed

[2022-07-14 02:42] p9s opened #1323 "the last version v0.10.9 can't success build"
https://github.com/yhirose/cpp-httplib/blob/5e6f973b99a001a68e52bfca254e42135ad3f4e0/httplib.h#L7265

looks like in last version: v0.10.9  the max() macro defined 2 arguments,   but on line: 7265 call without argument.

but I don't know how to fix that!

[2022-07-14 02:44] #1323 closed

[2022-07-14 08:16] karyon opened #1324 "Flawfinder results"
I put the header into our repo and our CI gave me the following flawfinder results. This is on 0.10.8. I thought why shouldn't I post them here, but I have no idea whether these are useful, feel free to close!

[code]

[2022-07-14 11:01] yhirose opened #1325 "No longer support VS 2013 and older"

[2022-07-14 13:36] yhirose commented on #1324
@karyon, thanks for the report! I'll take a look at it when I have time.

[2022-07-15 00:57] #1325 closed

[2022-07-15 01:42] yhirose commented on #1324
@karyon, I took a look at the errors, but I don't find any actual problem in them... I'll close it for now. But thanks for the report anyway.

[2022-07-15 01:42] #1324 closed

[2022-07-18 06:18] paperchalice opened #1328 "Generate both pc file and cmake config files by calling just `meson` or `cmake`"
Background: I want to add this library to homebrew-core, here is the PR: https://github.com/Homebrew/homebrew-core/pull/106003

I try to provide both pc file and cmake config file so other libraries can use it e.g. `llvm`, but I can't do that when I just only use `meson` or `cmake`, so currently I use both these build systems to generate them. Will this project support generate these two format in

[2022-07-19 02:24] KnewHow opened #1329 "download with complete url"
I want to download file from this url: https://bimfor-test.oss-cn-zhangjiakou.aliyuncs.com/bimfor/platform/model/033f8d2e244af24a762a6c82a229e630.skp, and I have read some guide from [#1270 ](https://github.com/yhirose/cpp-httplib/issues/1270), and I write my code follow:
[code]

But I get an error: Connection(2). I know in the demo code, we need assign host and uri, but in my request, my url come

[2022-07-19 03:34] paperchalice commented on #1328
Thanks for your replies! Static copy of target file makes sense here, but I'm not sure how configure options, e.g. `HTTPLIB_COMPILE`, affect here.

[2022-07-19 03:42] sum01 commented on #1328
Not sure I understand what you want. Are you saying you want the build-specific conf files generated upon running Cmake? I don't think putting them in the repo will actually work since it varies based on build settings and some system stuff.

[2022-07-19 04:05] paperchalice commented on #1328
Required files are `httplibTargets.cmake` and `httplibTargets-<CMAKE_BUILD_TYPE>.cmake`, they are indeed build settings related.

[2022-07-19 04:26] eli-schwartz commented on #1328
pkg-config files are usable in cmake via `find_package(PkgConfig)` and `pkg_check_modules()`, so that may be an option for projects to just use that, even if they too use cmake to build.

It's disappointing that cmake doesn't have anything like Meson's `dependency()` interface, which supports trying both pkg-config and cmake `find_package()` to look up a dependency. :(

[2022-07-19 06:25] fxfire opened #1330 "httplib::Progress for Post requests?"
Hello,
have you thought about adding a httplib::Progress for the "Post" requests ?

ty

[2022-07-19 08:16] PixlRainbow commented on #1329
From your second attempt, this line:

Most servers do not host `https` on port 80. Port 80 is the default for plain unencrypted `http`. The default for `https` is 443 if not specified.
You can replace `80` with `443` manually. Alternatively, if you prefer the port to be determined automatically, you can remove the second parameter entirely.

[2022-07-19 09:34] PixlRainbow commented on #1329
Hostname cannot contain path specification. Please go back to using:
[code]

[2022-07-19 13:26] yhirose commented on #1330
@fxfire, thanks for the feedback. I haven't had any necessity for it in my projects so far, and I am not planning to add it for now. But a pull request for this feature is always welcome!

[2022-07-20 01:45] KnewHow commented on #1329
I am sorry, I modify my code as you guide and add OPENSSL define
[code]
But it gives another error: error: C++ exception with description "'https' scheme is not supported." thrown in the test body.

[2022-07-20 06:40] PixlRainbow commented on #1329
The `#define` must be declared before the library is loaded via `#include`. This is because the compiler parses the class and method definitions in the sequence they appear, and if new methods are unlocked by the define after they have already been parsed, the compiler will not see them.

[2022-07-20 14:13] yhirose commented on #1329
@PixlRainbow thanks for the replies.
@KnewHow hope the comments from @PixlRainbow, and you can see working examples in `test/test.cc`.

[2022-07-21 01:21] KnewHow commented on #1329
Thank you very much, I success download file in my local disk with following code:
[code]
This file is a sketchup file, when I use sketchup open it, the sketchup tell me the file has been damaged. Should I filter any data in this code:
[code]

[2022-07-21 01:58] PixlRainbow commented on #1329
you may need to inform C++ that your file is a binary file
[code]

[2022-07-21 02:25] KnewHow commented on #1329
Thank you very much, as you guide, I success download this file and open it! All the best for you!

[2022-07-24 12:13] paperchalice commented on #1328
So for this project I think I can keep what I've done in https://github.com/Homebrew/homebrew-core/pull/106003 from the feed back, thanks a lot!

[2022-07-26 21:04] oculusdrifts opened #1333 "Enabling SSL causes `max` definition conflict"
As per the title, enabling SSL causes a `max` definition conflict when `NOMINMAX` **isn't** defined with Visual Studio 2017 on Windows.

`WIN32_LEAN_AND_MEAN` is defined. `NOMINMAX` is not defined (unable to disable it for legacy reasons).

The compilation error:

`1>httplib.h(7265): error C2589: '(': illegal token on right side of '::' (compiling source file application.cpp)
1>httplib.h(7265): er

[2022-07-26 21:31] yhirose commented on #1333
@oculusdrifts, thanks for the report. Could you send me a pull request?

[2022-07-27 12:16] yhirose commented on #1333
Handled by #1334.

[2022-07-27 12:16] #1333 closed

[2022-07-27 12:35] yhirose commented on #1328
@paperchalice, what's the current state of this issue? Can I close it?

[2022-07-28 06:21] paperchalice commented on #1328
Sorry for another question. Could we generate pkg config file in `cmake`? `cmake` doesn't support generate pkg config file, see https://gitlab.kitware.com/cmake/cmake/-/issues/22621, so we need to use `configure_file` in `cmake`, does is make sense here?

[2022-07-28 10:15] Tachi107 commented on #1328
You could by hardcoding a few values, but as cpp-httplib can be configured to optionally use various dependencies it would be a bit harder to do it properly with the `configure_file()` method.

You could give it a try if you want to, but if I were you I would simply distribute the .pc file generated by Meson, as it is usable by Meson, Muon, CMake, autotools, shell scripts, etc, while CMake config

[2022-07-28 14:08] oculusdrifts opened #1336 "Bad/Conflicting ssize_t definition on Windows"
I've just added a separate library into one of my applications and noticed there is a conflict happening with the definition of ssize_t:

1>x.h(43,14): error C2371: 'ssize_t': redefinition; different basic types
1>httplib.h(135): message : see declaration of 'ssize_t'

x.h defines ssize_t on Windows as:

#if !defined(_POSIX_C_SOURCE) && defined(_MSC_VER)
// 64-bit Windows is the only mainstream pl

[2022-07-28 14:47] yhirose commented on #1336
@oculusdrifts, thanks for the report. I am fine with `using ssize_t = long;` as you suggests according to the Microsoft's documentation. Could you confirm on your machine and send me a pull request? Thanks!

<img width="687" alt="image" src="https://user-images.githubusercontent.com/357397/181564615-419a7826-58f6-491e-a198-eb3338dd9e18.png">
https://docs.microsoft.com/en-us/windows/win32/winprog/w

[2022-07-28 22:12] yhirose commented on #1336
Moved to #1337.

[2022-07-28 22:12] #1336 closed

[2022-07-29 09:17] paperchalice commented on #1328
Thanks!

[2022-07-29 09:17] #1328 closed

[2022-07-30 05:50] yurivict opened #1338 "Tests fail to compile: unknown type name 'GTEST_DISALLOW_COPY_AND_ASSIGN_'"
[code]

Version: 0.11.0
googletest-1.12.1 (latest)
clang-14
FreeBSD 13.1

[2022-07-30 08:03] PixlRainbow commented on #1338
your compiler appears to be attempting to use your system global installation of gtest, which is a different version from what htttplib uses and includes in its test suite.
Your logs indicate your clang is using `gtest/gtest.h` from `/usr/local/include` instead of the one bundled with httplib test folder

[2022-07-30 08:15] yurivict commented on #1338
After the system ```googletest``` is removed it fails like this:
[code]

clang-14

[2022-07-30 08:40] PixlRainbow commented on #1338
add the test directory to the include search path

[2022-07-30 16:39] yurivict commented on #1338
Tests now run, thank you!

[2022-07-30 16:39] #1338 closed

[2022-07-30 16:40] yurivict opened #1339 "One test fails on FreeBSD: SpecifyServerIPAddressTest.RealHostname_Online"
[code]

[2022-07-30 16:56] yhirose commented on #1339
@yurivict, thanks for the report, but these kind of errors are caused by the environment where the unit test suite is running, not by cpp-httplib. You can see a number of similar reports in the past issues. I'll close it for now until there is a clear evident that the connection problems are really caused by cpp-httplib. Thanks for you understanding!

[2022-07-30 16:56] #1339 closed

[2022-07-30 19:05] Rockybilly opened #1340 "Get IP address from connection/client"
I want to access which ip I am connected to, using the Client interface. I am not doing a hostname check myself, because dns results may change after a connection is established, but I want to know the socket I am sending requests to.

You can expose the socket underneath through a get_ function (just like how std::thread provides p_thread handler in linux), then people can use it for all purposes

[2022-07-31 01:28] yhirose commented on #1340
@Rockybilly, thanks for the suggestion, but I can't think of any situations where I can use the enhancement in my projects. So, I am not planning to implement it. Of course, a pull request with a unit test is always welcome :)

[2022-07-31 01:28] #1340 closed

[2022-07-31 20:19] wwderw opened #1343 "Webview"
I have a webview project that uses WASM, so I need to have a file server in place in order to get around CORs with regard to the WASM.  I was wondering about two things:

1.  In order to aid in distribution, I was going to try to have a virtual file system in binary that would have all my files, assets, scripts, wasm etc.

2.  Would would able to pick up on a virtual file system and would it also

[2022-07-31 20:34] yhirose commented on #1343
@wwderw, thanks for the comment, but I honestly don't understand what you are talking about... Is it related to cpp-httplib?

[2022-07-31 21:03] wwderw commented on #1343
My thought is using httplib as a static file server for a webview project.  I have to use a server as I'm using WASM in order to get around CORs, and that is where httplib comes in.

What I would like to do is embed all of those assets in the binary, instead of having separate (which all of this is fine, so far) files to distribute.  Is there a way to mount that virtual file system using httplib:

[2022-08-01 01:25] yhirose commented on #1343
cpp-httplib supports only the regular file system on the current operating system where it is running on. Here is the code to handle file requests.

https://github.com/yhirose/cpp-httplib/blob/1bd88de2e591bac2d84a0fbf5521b47a3ebc3041/httplib.h#L5281-L5309

If you would like to support a virtual file system, you could re-implement `Server::handle_file_request` to access resources via your virtual f

[2022-08-01 14:30] PixlRainbow commented on #1343
Unfortunately, it seems that abstract filesystem handles on the **_directory-level_** only became standard in C++17 but httplib is C++11. Below C++17, only file-level abstract handles are available in the form of `FILE`, `fstream` and their derivatives.

The closest C++11-compatible workaround could be to allow the user to provide a callback with the signature `std::ifstream (const std::string&)`

[2022-08-01 15:29] wwderw commented on #1343
Well the lib that I'm using for the embed is also C++11.  The files appear to be FILE and EFILE.

[2022-08-01 16:21] homer6 commented on #1084
I'm running into this too. Memory usage continues to climb for an upload of 20MB for this route:

[code]

[2022-08-01 16:45] wwderw commented on #1343
No, the WASM module is it's own entity that would be compiled within the virtual file system.  httplib would not be in it.  It would be in the bit with webview, which is where if doing get/post etc requests would be handled.  So there is no issue there.

[2022-08-01 17:41] yhirose commented on #1343
As a summary, cpp-httplib can't provide such a virtual file system access at this point. You could fork httplib.h and re-implement `erver::handle_file_request` to utilize the virtual file system. Or you could implement a regular routing handler and put your virtual file system access code in it as below.

[code]

Hope the information helps!

[2022-08-01 17:41] #1343 closed

[2022-08-01 18:07] wwderw commented on #1343
I think this may work.  Thanks for all of the help.  I really do appreciate it.

[2022-08-01 20:02] homer6 commented on #1084
@yhirose Can we reopen this please? I'm trying to troubleshoot still. Valgrind came back clean so far.

[2022-08-01 20:14] homer6 commented on #1084
Memory usage persists beyond the lifetime of `httplib::Server http_server;` I ran the server twice (with http_server.stop() after the first `listen` run and the memory allocations from all requests existed during the second lifetime.

[2022-08-01 20:34] homer6 commented on #1084
It looks like heap fragmentation. Although there isn't a memory leak, it keeps expanding the RSS. If you use the valgrind massif tool, you'll be able to see it too. This post explains it in detail: https://stackoverflow.com/a/23079262/278976

[2022-08-01 20:37] homer6 commented on #1084
If I'm right, then this may only show up with large upload sizes. The file that I'm using to upload is 21MB.

[2022-08-02 02:21] homer6 commented on #1084
Tested it with a 19KB. It did the same thing until about 14MB of RSS, where it stabilized. Also, after repeated uploads (about 50), the 21MB upload did finally stabilize at 1.42GB RSS.

[2022-08-02 03:08] homer6 commented on #1084
I'm certain now. Valgrind massif clearly shows that it's the allocations inside of `Server::read_content(Stream &strm, Request &req, Response &res)`.

[2022-08-02 05:57] Gopinath-Kalaiyarasan opened #1347 "add formdata support for PUT"
would it be possible to add formdata support for PUT? it is ugly, yes, but some REST APIs use that. The attached patch (against v0.11.0) adds it.

[code]

[2022-08-02 11:09] yhirose commented on #1347
@Gopinath-Kalaiyarasan, thanks for the suggestion. Could you send a pull requests with enough unit tests? Then, I'll review it. Thanks!

[2022-08-02 11:09] #1347 closed

[2022-08-03 07:47] zhaofyzhaofy opened #1348 "Get request URL with queryParams, how to pass parameters?"
Get request URL with queryParams, how to pass parameters?

[2022-08-03 09:09] Teruhashi12 opened #1349 "bypass NET::ERR_CERT_COMMON_NAME_INVALID"
when im trying to add https it give error Segmentation fault (core dumped)
but when im trying add http it not give error
i think this is the problem

how i can bypass this
![Screenshot (61)](https://user-images.githubusercontent.com/90950171/182570512-7e59b3f4-c3cc-49ab-9ff4-2f0be8630f24.png)
?

[2022-08-03 09:49] bittergourd1224 opened #1350 "Confilcts with Eigen3 Library"
When eigen3 header is included after httplib, errors occur during compile.

Error message is:
[code]

The only source file is main.cpp:
[code]

And CMakeLists.txt:
[code]

PS: The version of eigen3 in my use is 3.3.4

My temporary solution is including eigen3 before httplib. Expecting a complete fix on this :D

[2022-08-03 10:50] yhirose commented on #1349
Sorry, but there is too little information...

[2022-08-03 10:50] #1349 closed

[2022-08-03 10:51] yhirose commented on #1348
Please README and `test/test.cc`. Hope it helps!

[2022-08-03 10:51] #1348 closed

[2022-08-03 11:16] yhirose commented on #1350
@bittergourd1224, I tried, but I am not able to reproduce it...

[2022-08-03 11:19] Tachi107 commented on #1322
I usually work around the NULL-termination issue by not using `std::string_view` directly, but by instead using a C++20 concept that requires that the `std::string_view` is either convertible to a `const char*` or a `std::string`, thus NULL-terminated. This way the user can pass into functions using this concept either a `const char*` or a `std::string`, but not a `std::string_view` that's not NUL

[2022-08-03 13:54] PixlRainbow commented on #1349
you can [disable server certificate verification](https://github.com/yhirose/cpp-httplib#ssl-support) as a workaround.

However, this is not a secure setup and I would recommend that you re-sign your server certificate as soon as possible.

[2022-08-04 03:57] yhirose commented on #1343
@wwderw, actually, it's better to use the pre routing handler.

[code]

https://github.com/yhirose/cpp-httplib#pre-routing-handler

[2022-08-05 09:14] h2cw2l opened #1352 "Server can only parse the first param ?"
curl http://10.66.150.2:9001/?op=stopOne&app=app1

I use this cmd to access the server, only the first param can be parsed.

[2022-08-05 10:11] h2cw2l opened #1353 "why there so many threads defaultly ? Can I configure it to reduce thread num ?"
(gdb) bt
#0  0x0000007fb7c002a4 in futex_wait_cancelable (private=<optimized out>, expected=0, futex_word=0x7fb00011f8)
    at ../sysdeps/unix/sysv/linux/futex-internal.h:88
#1  __pthread_cond_wait_common (abstime=0x0, mutex=0x7fb0001200, cond=0x7fb00011d0) at pthread_cond_wait.c:502
#2  __pthread_cond_wait (cond=0x7fb00011d0, mutex=0x7fb0001200) at pthread_cond_wait.c:655
#3  0x0000007fb735bb78 i

[2022-08-05 11:12] yhirose commented on #1353
Hope [this information](https://github.com/yhirose/cpp-httplib#default-thread-pool-support) in README helps you.

[2022-08-05 11:12] #1353 closed

[2022-08-05 11:16] yhirose commented on #1352
@h2cw2l, thanks for the report. Could you take a look at the following unit test in `test/test.cc`? Hope it helps.

https://github.com/yhirose/cpp-httplib/blob/4f8407a3a7bfe04c85ecd3dae8e0fb3c40c5ec75/test/test.cc#L1543-L1551
https://github.com/yhirose/cpp-httplib/blob/4f8407a3a7bfe04c85ecd3dae8e0fb3c40c5ec75/test/test.cc#L2045-L2060

[2022-08-05 11:16] #1352 closed

[2022-08-06 05:45] sparrowyang opened #1354 "Does it support some link that must to be authorized?"
when I use httplib::Client to request some host，such as "http:://user:password@host:port/path"，I faild。Does  it support?

[2022-08-06 07:17] PixlRainbow commented on #1354
Duplicate of #1265
Embedding the username and password in the URL is not supported. However, you can achieve the same functionality with `set_basic_auth`.

When you write the url `http:://user:password@host:port/path` into a web browser, the web browser actually converts it into a request to `http://host:port/path` with header `Authorization: Basic dXNlcjpwYXNzd29yZA==` where the string "user:pass

[2022-08-06 11:18] bittergourd1224 commented on #1350
I'll reopen it after I have time to try version 3.4.0.

[2022-08-06 13:03] sparrowyang commented on #1354
thanks

[2022-08-06 13:03] #1354 closed

[2022-08-06 16:21] yhirose commented on #1084
@homer6, thanks for the excellent research! Could you dig into the situation a bit deeper? I would like to know which C++ Standard library call affects the memory usage.

[2022-08-08 02:28] wwderw commented on #1343
@yhirose Thanks.  I'll give that a shot.

Thanks again for all the help.

[2022-08-08 20:54] PasinduKollure commented on #1248
Hi again!

I reopened this issue again because I want to ask if its possible to use the `SSL_CTX*` reference from [*ssl_context()](https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L1490) to read incoming chunks of data using [SSL_peak()](https://www.openssl.org/docs/man1.1.1/man3/SSL_read.html).

This approach was inspired by this [pull-request](https://github.com/yhirose/cpp-httplib/p

[2022-08-08 23:38] yhirose commented on #1248
@PasinduKollure thanks for feedback again.

Even if you admit it's not a right thing to do according to the HTTP protocol, why you need to do it? If there is a valid reason and other HTTP libraries allow it, then I may think of accepting the idea.

[2022-08-09 06:12] PixlRainbow commented on #1248
That reminds me @yhirose -- what is httplib client's current behavior for a server that sends it's response "early" and then resets the connection?
The HTTP standard specifies that a server may send *one* response early before it has received the entire request body, and if the client detects this, it should stop sending the request body. This is used in the case where the server detects something

[2022-08-09 11:20] yhirose commented on #1248
@PixlRainbow, thank you for the information. Honestly, I didn't know such an 'early response from a server. Where do you know it is described in the HTTP spec? I'll try to implement it.

[2022-08-09 12:14] PixlRainbow commented on #1248
In [RFC 2616, section 8.2.2](https://stackoverflow.com/a/14483857)

However [support for this spec is poor in many client implementations, and knowing this, many servers will additionally reset the connection](https://stackoverflow.com/a/18370751)

[2022-08-10 10:33] codeszsoft opened #1355 "Compiling errors"
I get so much errors while trying to compile it on linux (basically using termux). Here is the thing that i've tried

[code]

my code are simple, just including httplib.h, and prints hello world at the main function

`

[2022-08-10 10:39] #1355 closed

[2022-08-12 02:45] chisheng commented on #1257
Some people do need the feature。

[2022-08-12 06:46] raviruia522 opened #1356 "could not return json result from server due to the character ""
res.set_content("{ "message" : "test" }", "application/json");
visual studio error. what should i do, please help me

![Screenshot 2022-08-12 090335](https://user-images.githubusercontent.com/44082224/184299321-4dd4c772-0d09-40f7-b98f-a9e6637d0680.jpg)

[2022-08-12 07:34] #1356 closed

[2022-08-13 07:39] raviruia522 opened #1358 "how to compress data via gzip and respone to client"
i tried last 2 days but cant compress data from server, please help me
i tried but no success
data is sent but not compressed
`svr.set_pre_routing_handler([](const auto& req, auto& res)`
`{`
 `   if (req.path == "/servertime")`
`    {`
`         res.set_content("{\"success\":\"1660358340\"}", "gzip");`
`         return Server::HandlerResponse::Handled;`
`    }`
`}`

[2022-08-13 09:51] PixlRainbow commented on #1358
to enable response compression, several criteria must be met
1. compression support must be enabled and the respective supporting libraries must be linked
2. **the client must explicitly declare that it supports compression** by sending the `Accept-Encoding` request header with the values `gzip`, `deflate` or `br`

The server will then automatically enable compression on the response body.

Note t

[2022-08-13 12:37] raviruia522 commented on #1358
thank you very much. it good

[2022-08-13 12:37] #1358 closed

[2022-08-15 09:18] Sugar0612 opened #1359 "cookie callback"
Before httplib::client sends a Get request, I want to add a cookie, where should I add it? header? Or where?

[2022-08-15 12:42] yhirose commented on #1359
You can use `set_header` and set the key to `Set-Cookie`.

[2022-08-15 12:42] #1359 closed

[2022-08-15 13:38] Sugar0612 commented on #1359
Thanks! But I still have some doubts, is there a cli.set_header function? Or should I define a httplib::header hdr;, and then hdr["Set-Cookie"] = cookie?

[2022-08-15 14:39] yhirose commented on #1359
Sorry about that. You could do it in the following way.
https://github.com/yhirose/cpp-httplib#get-with-http-headers

[code]

[2022-08-15 14:41] Sugar0612 commented on #1359
I really, really appreciate your patient answer! Thank you so much, I got it this time! Thank you so much!!!! Words go beyond words!

[2022-08-16 02:44] allen20200111 opened #1360 "client.enable_server_certificate_verification(true) 返回error: SSLServerVerification (10)"
1、平台：
操作系统：centos 7
cpu:  Intel(R) Xeon(R) CPU E5-2678 v3 @ 2.50GHz
g++：8.3.1
C++：17
SSL： 1.1.1
2、实验：
curl -o 1.jpg https://pic1.zhimg.com/v2-c897d1dc759c9d7ee7be5ad75f68c62a_xl.jpg，得到结果正常。

[2022-08-16 05:52] PixlRainbow commented on #1360
Note: you did not specify what httplib code you used.
If you require certificate verification of general websites, you may need to install `ca-certificates` package first to obtain "well-known" public certificates. (for example, using `yum install -y ca-certificates`)
If you require certificate verification only for a specific website, you can download the Certificate Authority root bundle of the

[2022-08-16 19:25] yhirose commented on #1360
Hope the @PixlRainbow comment helps.

[2022-08-16 19:25] #1360 closed

[2022-08-17 10:38] fabianbuettner opened #1361 "Q: What is the recommended way to retrieve content of multiple files received via multipart/form-data?"
Hi,

so it looks like `get_file_value` will always return the first file content with the given parameter `key`.
What if multiple files have been sent, then I will be unable to get the second file value via `get_file_value`.

best regards,
Fabian

[2022-08-17 10:57] fabianbuettner commented on #1361
I wanted to pass an array of file like described [here](https://swagger.io/docs/specification/describing-request-body/file-upload/#multiple) which would result in duplicated entries in the files multimap. I think I will try different approach by using different key for each file.

[2022-08-17 10:57] #1361 closed

[2022-08-18 04:08] SenseGuru opened #1362 "body of POST request does not arriving to server in HTTPS"
Hi,

I am using cpp-httplib 0.10.9, VS 2022, OpenSSL 3-0-5 (pre compiled for Win64 from slproweb.com).

if (auto res = cli.Post(route_, headers, j_body ,"application/json"))
{   /// do something
}
where j_body is of type std::string.

it works well with http. But once the server is https  with #define CPPHTTPLIB_OPENSSL_SUPPORT. The body of the request "j_body" seems to not get into server which t

[2022-08-19 12:46] yhirose commented on #1362
@SenseGuru, thanks for the report, but I am not sure why that happens on your machine. At least on my unit test suite, the following test works fine with SSL.

https://github.com/yhirose/cpp-httplib/blob/a9cf09795170a72372cbeb3feef3851b859c0e33/test/test.cc#L1717-L1721
https://github.com/yhirose/cpp-httplib/blob/a9cf09795170a72372cbeb3feef3851b859c0e33/test/test.cc#L2127-L2132

Could you provide m

[2022-08-19 23:35] 10537 opened #1363 "Problem with SSL Conecction"
Hi,

I have a issue using the library when I'm requesting a POST API, I got this error when I tried to compile the program.

[code]

I got this error only when I used httplib::ClientSSL, this is my code:

[code]

if somebody can help, I will very grateful.

[2022-08-20 03:23] yhirose commented on #1363
Same as #687.

[2022-08-20 03:23] #1363 closed

[2022-08-21 17:07] conde2 opened #1364 "PFX ( or PKCS12) support?"
I would like to know if this library has support for this type of certificates. I just found that the client has a CA certificate but I couldn't find anything related to PFX and .p12 certificate support.

I'm trying to do a HTTP GET request to a server that requires this kind of certificate. On postman it works fine because there is a field to set the PFX certificate file. Is it possible to have s

[2022-08-21 19:56] conde2 commented on #1364
Ok, I was able to separete my p12 file into key and crt files with the commands:

openssl pkcs12 -in file.p12 -out newfile.key.pem -nocerts -nodes
openssl pkcs12 -in file.p12 -out newfile.crt.pem -clcerts -nokeys

Then I was able to use it with Client(host, crt, key)

[2022-08-21 19:56] #1364 closed

[2022-08-21 22:27] yhirose commented on #1362
I'll close it since there is little information.

[2022-08-21 22:27] #1362 closed

[2022-08-23 01:54] 10537 commented on #1363
Sorry, but still not working

[code]

I've update my code:
[code]
What dev package I need install on Ubuntu?, because I see that the problem is "undefined reference to XXXXX", maybe I'm compiling in a bad way, I'm using this command:

[code]

[2022-08-23 02:07] 10537 commented on #1363
Sorry, my error was that i'm not linking libssl and libcrypto, I will left the command for help other person with the same problem.
[code]

[2022-08-24 15:48] tgcallsproject opened #1365 "error: ‘SSLServer’ is not a member of ‘httplib’"
[code]

[code]

why?

[2022-08-24 16:12] yhirose commented on #1365
[code]

[2022-08-24 16:12] #1365 closed

[2022-08-24 16:27] tgcallsproject opened #1366 "is it possible to somehow execute any c++ code after svr.listen"
is it possible to somehow execute any c++ code after `svr.listen("0.0.0.0", 1234);`

i found somethink like this

https://github.com/yhirose/cpp-httplib/issues/1186

If i put cpp-httplib it in a separate thread - will it help

[2022-08-24 17:44] yhirose commented on #1366
Yes.

[2022-08-24 17:44] #1366 closed

[2022-08-24 22:58] scox849 opened #1367 "httplib will not post when I set interface to wwan0"
`` std::cout << "starting\n";
        int port = 80;
        std::string url = "http://k7lro82cpfz46jd.p22.rt3.io";
        url += ":";
        url += std::to_string(port);

        try{
                httplib::Client cli(url);
                cli.set_interface("wwan0");
                auto res = cli.Post("/boot?sn=98hjttg", json, "application/json");
                if(res == nullptr){

[2022-08-25 11:10] yhirose commented on #1367
@scox849, thank you for the report, but I cannot give you any help since I don't know your network environment... At least what I can tell in your code is that `if(res == nullptr){` looks incorrect. Hope it helps.

[2022-08-25 15:51] hippymulehead opened #1368 "sha_256 & sha_512 marked DEPRECATED in openssl v3"
/usr/include/openssl/sha.h:126:27: note: declared here
126 | OSSL_DEPRECATEDIN_3_0 int SHA512_Final(unsigned char *md, SHA512_CTX *c);

[2022-08-25 17:12] yhirose commented on #1368
@hippymulehead, thanks for the feedback, but I didn't get any such a warning...

[code]

[2022-08-25 17:12] #1368 closed

[2022-08-25 17:48] hippymulehead commented on #1368
I think the homebrew version is behind.  Please see...

https://github.com/openssl/openssl/blob/master/include/openssl/sha.h

It's marked.

Just trying to give a heads up.  Really nice lib BTW!

Michael Romans

On Thu, 2022-08-25 at 10:12 -0700, yhirose wrote:

[2022-08-25 20:24] scox849 commented on #1367
@yhirose Hi, thanks for your reply. I ended up getting it to work by editing the code a little in httplib.h. From line 2783:
`#ifdef USE_IF2IP
          setsockopt(sock2, SOL_SOCKET, SO_BINDTODEVICE, intf.c_str(), intf.length());

          /*
          auto ip_from_if = if2ip(address_family, intf);
          if (ip_from_if.empty()) { ip_from_if = intf; }
          if (!bind_ip_address(sock2, ip_f

[2022-08-25 22:52] yhirose commented on #1367
Your change may not be working actually. You can confirm if the system call really succeeded by checking the return code from `setsockopt` and `errno`. Hope it helps. Also your code isn't compatible with macOS and Windows...

[code]

[2022-08-26 03:19] hippymulehead opened #1369 "sha_256 & 512"
I think the homebrew version is behind.  Please see...

https://github.com/openssl/openssl/blob/master/include/openssl/sha.h

It's marked.

Just trying to give a heads up.  Really nice lib BTW!

[2022-08-26 03:28] yhirose commented on #1369
What warnings did you get and which OpenSSL functions are you talking about? I don't get any warning when building with httplib.h. Thanks.

[code]

[2022-08-26 04:27] gh4ck3r opened #1370 "Detect client disconnection on Server-Sent-Event Server"
I'm making server functionality of Server-Sent-Event on cpp-httplib for my project.
I aware there's example code (ssesvr.cc) in the repository and that's where I began for my own implementation.

In my requirement for the functionality, SSE server should keep client as long as possible even there's nothing to send. For that my implementation dedicate a thread per client and keeps it as long as con

[2022-08-26 07:28] PixlRainbow commented on #1369
From this person's other issue:
https://github.com/yhirose/cpp-httplib/issues/1368#issuecomment-1227583810
Apparently they say the fork of OpenSSL hosted on Homebrew's github does not yet contain the updates from upstream master

[2022-08-26 07:32] PixlRainbow commented on #1370
It must be noted that TCP connections have two streams, an upload stream and a download stream, which can be independently disconnected without affecting each other. Clients can disconnect their upload streams and only keep their download streams alive or vice-versa, so it is possible for a socket to be "half-alive".

[2022-08-26 09:12] gh4ck3r commented on #1370
@PixlRainbow

[2022-08-26 09:47] gh4ck3r commented on #1370
@PixlRainbow Thanks for the notes. Those are good point to discuss.
I agree with your first note about "half-alive". Originally, I made the patch with `send(sock_, nullptr, 0, 0)` instead of `is_socket_alive()`. And it works fine on Linux. What I'm not sure is that whether it works on other OS too. That's why I chose `is_socket_alive()` which is exists already and make the test pass. Still, I thin

[2022-08-26 10:43] luismigb opened #1371 "Detached thread with server.listen() and execute server.stop() just after detach, fail to stop server"
I have a piece of code where I create a server and then a detached thread where the server.listen() runs indefinitely.

I have found that, if for any reason, server.stop() is called just after detaching thread, server.listen() does not set is_running_ variable in time, so when server.stop() is executed, the server is never stopped.

This is just a synchronization problem at high level usage, but m

[2022-08-26 11:07] yhirose commented on #1369
@hippymulehead, @PixlRainbow, Here is the comment in #1368, but I don't understand what it means because httplib.h doesn't use `SHA512_Final`. Please let me know more detial.

126 | OSSL_DEPRECATEDIN_3_0 int SHA512_Final(unsigned char *md, SHA512_CTX *c);

[2022-08-26 11:10] yhirose commented on #1371
Could you show me the smallest possible code to reproduce it? I may not able to fix it, but at least I would like to know the situation more fully. Thanks!

[2022-08-26 11:48] luismigb commented on #1371
Let see if you can replicate with this:

`class Test
{
public:
	void Start(void)
	{
		std::thread thread1(std::bind(&Test::Thread1, this));
		thread1.detach();

		std::thread thread2(std::bind(&Test::Thread2, this));
		thread2.detach();

		std::cout << "started" << std::endl;
	}
	void Thread1(void)
	{
		server1.Post();
		server1.listen();

		std::cout << "finished 1" << std::endl;
	}
	void Thread2

[2022-08-26 11:50] hippymulehead commented on #1369
Yes, that was my point.  I got dep warnings when compiling httplib on
Ubuntu and that does include the changes from upstream master.  I was
just rtying to give you a heads up that sha_256 & 512 are going away
becaus they are no longer considered secure.

For refrence...

/home/mromans/bin/clion/bin/cmake/linux/bin/cmake --build
/home/mromans/Programming/EZTools/ez/cmake-build-debug --target ez -j

[2022-08-26 11:52] PixlRainbow commented on #1371
This is just a race condition that occurs when you try to stop the server before the server actually starts.
By placing the call to "listen" in a detached thread, it becomes separately scheduled.
Even if your code semantically places a call to "stop" after a call to "listen", it doesn't mean that the call to "listen" will be executed immediately; the operating system may choose to schedule the cal

[2022-08-26 15:54] scox849 commented on #1367
Thanks! I tested it with the output you recommended and it is being set correctly. Here is my output:
![image](https://user-images.githubusercontent.com/24500300/186944011-0ed848ea-f43b-4dca-a0ff-bb719994bff8.png)

I've also verified the IP address coming to my API is from the correct interface.
Perhaps I should have mentioned this earlier, but I am on a raspberry pi connected to an Arduino for LT

[2022-08-26 21:44] yhirose commented on #1367
@scox849, thanks for your testing. I adjusted `create_client_socket` to call `setsockopt` if the original bind code fails. Could you try httplib.h in the issue1367 branch to see if the version fixes the reported problem on your machine? Thanks!

[2022-08-27 01:12] yhirose commented on #1369
@hippymulehead it seems like you are using the very old version of httplib.h. This problem has already been fixed at https://github.com/yhirose/cpp-httplib/pull/1241. Could you make sure that the latest version ([v0.11.1](https://github.com/yhirose/cpp-httplib/tree/v0.11.1)) is used in your project?

[2022-08-27 01:12] #1369 closed

[2022-08-27 01:15] yhirose commented on #1370
@gh4ck3r, could you send a pull request that includes your suggestion?

[2022-08-29 01:51] gh4ck3r commented on #1370
@yhirose, I'm on it.

[2022-08-29 09:37] karlisolte opened #1374 "Logger receives empty Request if https is used on http server."
If I try to access http server with https protocol the logger registered with set_logger on server:
* ~~is invoked not once, but 12(!) times. (With `#define CPPHTTPLIB_THREAD_POOL_COUNT 1` it seems to be 8 times.)~~
* Parameter Request is empty (request.remote_addr and others are empty). I want to know who tired to access server and log it. Edit: I now understood why most fields are empty (like pa

[2022-08-29 13:29] hippymulehead opened #1375 "gzip encoding"
When I run the following...

stringstream vn;
    vn << "EZTools v" << VERSION << ", myemail@mydomain.com";
    httplib::Headers headers = {
            {"User-Agent",vn.str()},
            {"Accept", "application/geo+json"},
            { "Accept-Encoding", "gzip" }
    };
    httplib::Client cli("https://api.weather.gov");
    cli.set_default_headers(headers);
    if (auto res = cli.Get("/statio

[2022-08-29 15:02] Teruhashi12 opened #1376 "[bcc32c Error] httplib.h(1972): use of undeclared identifier '_access_s'"
when im build the source with rad studio i got error [bcc32c Error] httplib.h(1972): use of undeclared identifier '_access_s'
but when i build in visual studio im not got this error..
why??
![Screenshot (160)](https://user-images.githubusercontent.com/90950171/187231972-bde92d33-1000-4fd2-80a0-d2fdb2636479.png)

[2022-08-29 17:01] yhirose commented on #1376
Sorry, but I am not planning to support RAD Studio.

[2022-08-29 17:01] #1376 closed

[2022-08-29 17:03] yhirose commented on #1367
@scox849, any response?

[2022-08-29 17:04] yhirose commented on #1371
@luismigb, hope @PixlRainbow's comment helps you.

[2022-08-29 17:04] #1371 closed

[2022-08-29 19:41] scox849 commented on #1367
@yhirose sorry for the late reply. This does not seem to fix the issue on my device I'm in the process of trying to figure out why. I'll provide some output once I have something useful.

[2022-08-29 21:31] yhirose commented on #1375
Could you test with curl on your machine to see if curl can handle the request with `Accept-Encoding: gzip`?

[2022-08-30 08:14] karlisolte commented on #1374
It was invoked several times because browser apparently did several requests. With `curl` it is invoked just once. The other 2 questions however remain.

[2022-08-30 11:32] hippymulehead commented on #1375
It can amd does every 5 minutes as part of my weather software I wrote
to collect data from the API in the example.

On Mon, 2022-08-29 at 14:31 -0700, yhirose wrote:

[2022-08-30 12:24] yhirose commented on #1374
What does it mean `Edit: I now understood why most fields are empty (like path as server never receives that information), but remote_addr should be possible to include?`. Could you provide more detail?

[2022-08-30 12:25] yhirose commented on #1375
What does 'amd' stand for?

[2022-08-30 12:27] hippymulehead commented on #1375
Typo "and"  It can and does.

[2022-08-30 12:28] yhirose commented on #1369
any response?

[2022-08-30 12:32] hippymulehead commented on #1375
This is from your documentation...

cli.set_default_headers({
  { "Accept-Encoding", "gzip, deflate" }
});
auto res = cli.Get("/hi");

[2022-08-30 12:48] hippymulehead commented on #1375
Please disregard.  NWS Doesn't use gzip but Weather Underground does.  My apologies.

[2022-08-30 12:48] #1375 closed

[2022-08-30 13:52] jinyunshaobing opened #1377 "Segmentation fault while creating HTTPS client"
`#define CPPHTTPLIB_OPENSSL_SUPPORT` and `-lssl -lproto` is already written.
CMake and make is all OK.
when creating a httplib::Client, Segmentation fault (core dumped) happened.
HTTP is OK. I think is the problem of openssl
I don't know how to resolve it.

`httplib::Client cli("https://cn.bing.com");`

the virson of my openssl is:
OpenSSL 1.1.1n  15 Mar 2022
built on: Mon Mar 21 08:17:01 2022 UTC

[2022-08-30 14:23] #1377 closed

[2022-08-30 14:24] jinyunshaobing commented on #1377
It's just a link error.

[2022-08-30 16:32] karlisolte commented on #1374
As per my understanding when client tries to access server using https it first tries to set up TLS and only then sends the actual HTTP request. If that fails server will never know what was client's requests hence it makes sense why HTTP related fields in Request are empty when logger callback gets invoked.

Server on the other hand should know what was remote_addr and remote_port that tried to s

[2022-08-30 17:07] scox849 commented on #1367
@yhirose After doing some more testing with the new code everything seems to be working correctly now. The issues were hardware related on my end. Thanks!

[2022-08-30 17:18] yhirose commented on #1367
@scox849, does it mean that the latest httplib.h works on your environment, you don't need #1372, right? If so, I'll just abandon it. Please let me know.

[2022-08-30 17:31] scox849 commented on #1367
Yes, the latest httplib.h is working on my environment.

[2022-08-30 20:30] raypun78 opened #1378 "How to send a log in request to a website"
what are parameters, and how to receive response?

[2022-08-31 01:06] yhirose commented on #1378
All you need to know are described in REAME and `test/test.cc`. Hope it helps!

[2022-08-31 01:06] #1378 closed

[2022-08-31 01:12] yhirose commented on #1370
Closed by #1371.

[2022-08-31 01:12] #1370 closed

[2022-08-31 01:59] mcordova1967 opened #1379 "How to diagnose the infamous read error 4?"
I have an httplib client that invokes a single web service, but with certain data in the response, I receive error 4, the problem is... SoapUI does not have a problem invoking the same service with the same inputs and receiving the same response. I already discarded timeout, the headers look the same for all the cases including the bad one, and the body too, except it is bigger in the case that fa

[2022-08-31 02:23] yhirose commented on #1379
Thanks for the feedback. Unfortunately I can't give you any help unless it can be reproducible on my machine. Also since this is my personal after work project, I don't give any support. Thanks for your understanding. :)

[2022-08-31 06:06] mcordova1967 commented on #1379
I was able to reproduce the error in my local environment, simulating the web service by sending the same payload for the error case, as was captured by SoapUI in its raw HTTP log.

Despite being closed, I think that this may be of help to other users of the Client API.

I managed to discover that using Chunked for the transfer-encoding header caused the problem Read Error 4, and this happened bec

[2022-08-31 13:22] yhirose commented on #1379
Thanks for the fine report! Could you show me more detail of the incorrect format that the server produces?
I am not sure if it's a right way to accept such a format. But if it's a common format, I would like to take a look at the format at least.