[2020-10-26 21:51] yhirose commented on #723
@sum01, do you have any thought? I don't mind making the getters back to non-const.

[2020-10-26 22:07] yhirose commented on #719
@xuhongmeng, I don't have any build problem with my Visual Studio 2017. Here is the version info.
![image](https://user-images.githubusercontent.com/357397/97233618-a0d89500-17b5-11eb-901a-816160af455c.png)

[2020-10-26 22:12] yhirose commented on #722
@dalum, thanks for the feedback. I am not using MinGW. So I don't have any clue about the error...

[2020-10-26 22:14] yhirose commented on #680
@FrozenSource, thanks. As soon as I hear from you, I'll release the new version v0.7.11 including this fix.

[2020-10-26 23:01] grcasanova opened #724 "Client error codes meaning"
What do return integers (1, 2, sometimes 4) from method _error()_ mean?

Example code:
[code]

[2020-10-26 23:21] yhirose commented on #724
@grcasanova, thanks for the question. Here is the list of possible errors:

https://github.com/yhirose/cpp-httplib/blob/536e7eb7f2ed27109423bea95c4c6ed41fbf040a/httplib.h#L725-L738

Since the error report has recently been added, I haven't had time to update README, yet.
I'll update it when I have time. Thanks!

[2020-10-26 23:21] #724 closed

[2020-10-26 23:42] #719 closed

[2020-10-27 00:10] grcasanova commented on #724
Thanks for the reply.
I’m still confused, what does BindIP means? Connection? As broken link or a 500 http response?

[2020-10-27 01:29] PixlRainbow commented on #722
Error code 2 is connection problem/couldn't establish a connection. Not sure why it only happens on Windows.

[2020-10-27 01:32] PixlRainbow commented on #724
BindIP is for server mode I think. If the server is unable to bind to the network interface?

[2020-10-27 02:27] OblivionStaff commented on #716
@yhirose  Sorry. I misunderstood the meaning of the RES column of the htop. It turns out that the memory consumption is limited after a long time.

[2020-10-27 02:31] yhirose commented on #724
Yes.

https://github.com/yhirose/cpp-httplib/blob/536e7eb7f2ed27109423bea95c4c6ed41fbf040a/httplib.h#L1987-L1990

[2020-10-27 05:32] grcasanova commented on #724
Ok great to know about 500 http and other error responses. It wouldn’t make sense to
treat them as library errors.

One last thing, I keep getting errors 2 and 4.
As I see that, it means sometimes the connection drops (err 2) and in other cases an invalid http response is given (err 4). Do you confirm?

[2020-10-27 15:18] FrozenSource commented on #680
At the current master I get a compiler error on cToken ::3167
[code]
https://github.com/FrozenSource/cpp-httplib my fork didn't have this compiler error but I can't find out what changed.

[2020-10-27 16:25] yhirose commented on #680
It seems #711 causes this problem. I guess it only happens with pretty old compilers. I made a change at 953600c1775c5e8645c62e3f4eefd32d6c41cbdd.
Could you try with the latest? Thanks!

[2020-10-27 16:26] yhirose commented on #150
It turns out that #556 doesn't work on Windows. #698 works for all the platforms.

[2020-10-27 16:30] FrozenSource commented on #680
Oh no this happens when Windows.h is included. this provides min and max. Will try in a couple hours.

[2020-10-27 17:22] FrozenSource commented on #680
It is solved! Nice! btw. "old compiler".... 🗡️ VS2019.

[2020-10-27 17:22] #680 closed

[2020-10-27 17:59] sum01 commented on #723
I still think it makes sense to be const-qualified since the methods don't change anything, which is why I originally made that issue.

Does `const_cast` not solve your issue @Bulb4 ?
Either that, or maybe add a method to return the `shared_ptr<Response> res_` like `get_res_ptr` or something.

[2020-10-27 19:00] yhirose commented on #680
@FrozenSource, thanks a lot for testing and long patience! I'll release it soon.

[2020-10-27 19:15] yhirose commented on #723
@sum01, after I carefully see the current code, those methods shouldn't be changed as you mentioned. Sorry for my hasty comment.

I think your suggestion "or alternatively add duplicate getters that are all non-const, like" sounds good.

[2020-10-28 00:29] #716 closed

[2020-10-28 00:30] yhirose commented on #706
@axieyangb, I'll close it because the first issue has been resolved with your help, and the 2nd issues is not actually memory leak. Please let me know if you find further information. Thanks!

[2020-10-28 00:30] #706 closed

[2020-10-28 00:33] #723 closed

[2020-10-28 00:40] yhirose commented on #722
@dalum, error 2 and 8 mean that `Connection` and `SSLConnection` errors.
https://github.com/yhirose/cpp-httplib#error-code

It may not be an issue by MingGW, but your network or SSL configuration. Anyway, I think it's not a problem caused by cpp-httplib. So, I'll close it. But if you find any evidence that cpp-httplib causes it, please let me know.

Hope you find the real cause of it!

[2020-10-28 00:40] #722 closed

[2020-10-28 00:42] yhirose commented on #718
@yhirose, yes. I can of course read emails from oss-fuzz, but when I click the link to the detailed page, nothing happens. So I don't get any practical information for debugging.

[2020-10-28 00:47] yhirose commented on #682
@miketsts, please let me know your plan about it. If you don't have time to work on it at this point, I'll close it for now because I don't think it's a critical issue for me. And I'll reopen it when you are ready. Thanks!

[2020-10-28 00:54] yhirose commented on #699
@hotbroker, I don't fully understand this issue yet, Could please give me another small complete reproducible code? Then, I'll build it on my machine and when I confirm that it occurs on my machine, I'll convert it to a unit test in `test/test.cc` and start debugging it. Thanks for your help!

[2020-10-28 10:31] miketsts commented on #682
@yhirose I'm sorry indeed for the too long time it takes to me - I can work on it only on weekends, and I've skipped one weekend as well :)
I hope I have advanced with the solution and soon can be able to send it for review.
I also saw similar problems in #680 and #698 - but didn't look yet at the solutions. So I can't be sure if they are related or not.

I can reproduce the problem only manually

[2020-10-29 07:31] hotbroker commented on #699
well,this issue is a little complicated, and lightvector explain on detail.
in summary,when we initial a https ,inside the ssl_delete()->ssl_shutdown socket of  openssl ,sometimes there may have a path that will send some data again with the original socket name socket_ori (refered lightvector  *SSL_shutdown may attempt to send data down the socket in order to carry out the SSL shutdown protocol.*

[2020-10-29 19:13] axieyangb commented on #706
Sorry for my late reply.   I used the golang  code to  simulate the concurrent calls to the HTTPS server. In my test case,  every second, the program will spawn 1000 threads  (-c 1000) to send the HTTP request. The memory increase is very obvious with that level of the load.

Another problem I found: The job list does not have the capacity limitation https://github.com/yhirose/cpp-httplib/blob/mas

[2020-10-29 19:14] axieyangb commented on #706
If you are OK, I can create another ticket about it.

[2020-10-29 20:32] yhirose commented on #706
@axieyangb, thanks for the report. It's obviously not **memory leak**, but cpp-httplib cannot handle such concurrent requests quickly, end it ends up **having lots of pending requests** staying around...

I humbly say that cpp-httplib is a **multi-threading, blocking, synchronous** server library, and this model is inadiquate to fix this kind of problems in nature... Apache cannot handle this c10k

[2020-10-30 09:33] okman334 opened #726 "that's a good lib for http client and server using C++. But I have something want to know clear, haha."
In MacOs, httplib::SSLClient, no need, set_ca_cert_path, also can work. But the same code in linux(ubuntu 16.04) isn't work.
       The code like that:
         {
             httplib::Client cli("https://api.ky5215.com");
            cli.set_ca_cert_path("/etc/ssl/certs/ca-certificates.crt");
            cli.enable_server_certificate_verification(true);
         }
        if don't set_ca_cert_pat

[2020-10-30 13:36] yhirose commented on #726
@okman334, that's probably because the following line doesn't work on your machine. This is not a cpp-httplib problem, but the SSL configuration problem on your linux.
https://github.com/yhirose/cpp-httplib/blob/ff5677ad197947177c158fe857caff4f0e242045/httplib.h#L6045
Hope it helps!

[2020-10-30 13:36] #726 closed

[2020-10-31 01:31] yhirose commented on #682
@miketsts, 1., 2. and the first part of 3. sound very good to me. But after SSL_connection succeeds, SSL BIO should be back to blocking, because my code totally depends on **blocking**. Hope your attempt will go well!

[2020-10-31 03:49] yhirose commented on #682
@miketsts, I have tried your following statement, but I couldn't reproduce it on my Mac...

1) Build `example/server.cc`, and run the server
2) Build `example/client.cc`, and start the client on lldb, set a break point on SSL_connect (or SSL_do_handlshake)
3) Run the client no lldb, then the breakpoint is hit. Then kill the server, and continue the client.
4) Return with `Error::SSLConnection` ins

[2020-10-31 08:48] bmmogensen commented on #722
I am able to reproduce the errors described by @dalum both with and without -lws2_32 -lcrypt32 -lcryptui,

In order to shed some light as to what is going wrong, I've added the following lines of code to httplib.h:6065 near SSL_connect:
`        int ssl_error = 0;
        if ((ssl_error = SSL_connect(ssl)) != 1) {
          ssl_error = SSL_get_error(ssl, ssl_error);
          char err[1024];

[2020-10-31 17:03] PixlRainbow commented on #722
ERR_error_string should not be used directly with SSL_get_error. ERR_error_string is intended to be used with a **DIFFERENT** set of error codes, from ERR_get_error, and will print the wrong error string if used with the output of SSL_get_error.
SSL_get_error() is meant to be used with a user-written switch statement, possible values seen [here](https://www.openssl.org/docs/man1.1.1/man3/SSL_get_e

[2020-10-31 19:09] yhirose commented on #718
@omjego, I now feed it's a bit too much for me to manage the results from oss-fuzz even though the server is great. If you break down results from oss-fuzz and explain the issues easier to me, it will save lots of time and I can focus on fixing the bugs. Thanks for your consideration!

[2020-11-01 09:57] miketsts commented on #682
Hi @yhirose

I've commited PR #728 as a first version of the solution. It should be still improved.

Unfortunately, my change causes failure in most of server tests. After some investigation in Google it seems to me that there is a hidden problem in your server implementation.
The symptom of the problem is that SSL_connect returns SSL_ERROR_SYSCALL error, while the `errno` value is 0 (success). Go

[2020-11-01 10:15] bmmogensen commented on #722
Thanks for the pointers regarding ERR_get_error() PixlRainbow. I changed the code to:
[code]
It now gives:
[code]
That seems less helpful though. But perhaps it's an indication that there's something with the socket library. I tried a simple s/_WIN32/_MSC_VER to remove any win32-specific setting, but that did not help. Then I tried setting -D_WIN32, which actually does not compile. So that's at le

[2020-11-01 14:11] yhirose commented on #682
@miketsts, thank very much for the further investigation and the pull request. I'll put comments about the implementation there.

Right now, I don't have any clue...

Could explain the exact steps more clearly, so that I could reproduce it on your machine? I'll follow them step by step. (But, I like the following 'unit test' idea better than this manual way.

Of course It's fantastic if you could

[2020-11-01 17:17] miketsts opened #730 "Crash in some unit tests on ASSERT failure"
@yhirose there seems to be additional bug with few unit tests:
[code]
and maybe some more tests.
If the test fails for some reason (in my case it was the `SSL_ERROR_SYSCALL: Success` problem), then the entire unit test suite crashes, like below:
[code]
It happens in v0.7.11.
I have simulated this problem by changing some `ASSERT_TRUE` to `ASSERT_FALSE`.
The crash happens because `join()` was calle

[2020-11-01 17:23] yhirose commented on #730
@miketsts, thanks for the info, but GitHub Actions CI passed all the tests and I haven't experience the error on my machine.
https://github.com/yhirose/cpp-httplib/actions/runs/332058410

Could you give more information to reproduce it?

[2020-11-01 18:14] miketsts commented on #730
@yhirose , yes if all tests are successful than all passes indeed. The problem happens if these specific tests fail for some reason - then the entire test suite crashes.
I have simulated this problem by changing some ASSERT_TRUE to ASSERT_FALSE inside the test to cause the test to fail.

[2020-11-01 19:00] yhirose commented on #730
@miketsts, I now understand what you meant. This is a problem caused by Google Test, and it seems they just ignored this problem here: https://github.com/google/googletest/issues/863

I know this situation is not convenient for you, but I can't do anything for it unless switching a different test framework like Catch2. Also it's not critical anyway. So I'll close this issue.

[2020-11-01 19:00] #730 closed

[2020-11-02 02:01] yhirose opened #731 "Digest auth proxy connection problem."
Caused by the change #661.

[2020-11-02 02:04] #731 closed

[2020-11-02 08:04] miketsts commented on #682
@yhirose I'm happy to tell that I think I've fixed the problem I had and updated the PR.
Now all tests are passing on my Ubuntu.
I have removed the disabled unit test from the PR - I still don't have an idea how to cause the network disconnection in a programmatic way.

Unfortunately, I see that the GitHub pipeline falls on Mac with segmentation violation. I don't have a Mac to test this, unfortun

[2020-11-02 08:30] miketsts commented on #682
Fixed! :)

[2020-11-02 11:22] bmmogensen commented on #722
I managed to get it working by using the following command line:
[code]
Perhaps it can be done more elegantly to support also the case when CPPHTTPLIB_USE_POLL is not defined.

[2020-11-02 22:05] #682 closed

[2020-11-03 14:50] miketsts commented on #682
@yhirose I've got an idea about testing the SSL connect timeout.
The idea is to create an SSL server which calls `bind_to_any_port()` and `listen_after_bind()`, but goes to sleep between the two calls. Meanwhile a client starts up, socket connection succeeds, and it waits for SSL handshake.

I didn't try it yet - will try to find time.

[2020-11-03 16:38] yhirose commented on #682
@miketsts, sounds a great idea!

[2020-11-04 10:48] mrzephros opened #735 "Linking libssl and libcrypto"
Hi, how do I link this two libraries to use the SSLClient support?

[2020-11-04 12:11] PixlRainbow commented on #735
the exact procedure varies depending on the compiler you choose but also depends on the IDE you are using.
For example, if using gcc/g++:
[code]

[2020-11-04 12:13] yhirose commented on #735
Hope @PixlRainbow's comment helps.

[2020-11-04 12:13] #735 closed

[2020-11-05 05:24] yhirose commented on #718
Fixed remaining problems at 041122908ccced5982b48ce209e5a0e1e47a1f84.

[2020-11-05 05:24] #718 closed

[2020-11-05 05:35] yhirose commented on #658
@hanslivingstone, any response? I am thinking to close this issue for now, since I am not interested in this feature yet, and no one asked for it. When you are ready to start implementing it, please let me know and I'll reopen it. Thanks!

[2020-11-05 05:35] #658 closed

[2020-11-05 11:28] 5cript opened #736 "Forward Declaration Header"
(Proposal)

A header containing only forward declarations could be beneficial.
I would rather move the header to my source files without wrapping the client in a class, the implementation of which I can hide behind a pointer. I'd also rather not make my own forward declarations in "your" namespace.

[2020-11-05 12:06] yhirose commented on #736
@5cript, thanks for the feedback, but I don't fully understand what you are proposing. Could you explain it more?

[2020-11-05 12:15] PixlRainbow commented on #736
You can generate such a header by using the `HTTPLIB_COMPILE` option in our cmake config. Alternatively you can run the split.py script directly.
Note however that by doing so, cpp-httplib will no longer be a single-header library.

[2020-11-05 12:20] 5cript commented on #736
I see, this fullfills my request.

[2020-11-05 12:20] #736 closed

[2020-11-06 17:40] aldoshkind opened #737 "Calling Response::set_content multiple times leads to multiple Content-Type headers"
Calling Response::set_content multiple times leads to multiple Content-Type headers

[code]

[2020-11-06 17:44] aldoshkind opened #738 "Setting content in error_handler does not affect Content-Length"
Setting content in error_handler does not affect Content-Length
[code]

[2020-11-06 18:08] aldoshkind commented on #738
Particularly, if error_handler sets content of size less than Content-Length, client will wait for data and will close connection on timeout. For example curl says
[code]

If error_handler sets content of size greater than Content-Length, client will detect excessive data. For example curl says
[code]

[2020-11-06 22:52] yhirose commented on #738
@aldoshkind, thanks for the report. It seems that this is same as #737. If so, could you move the above comments to #737?

[2020-11-07 14:33] #737 closed

[2020-11-07 14:33] yhirose commented on #737
@aldoshkind, thanks for the report!

[2020-11-07 14:55] yhirose commented on #738
@aldoshkind, thanks for the report. Could you explain this issue more clearly? (Could you make the example code simpler, and give me the exact curl comment you issued?) Thanks!

[2020-11-07 15:12] aldoshkind commented on #738
Oh, yes, of course :)
I've updated code in the first message. Curl line is `curl -v localhost:1234/hi`.
The problem is that if we `set_content` in url handler and than in error handler, Content-Length not getting updated at second call.
As I understand this happend due to error handler is called after Content-Length calculation: first we do `apply_ranges` at line 4029 (which sets Content-Length),

[2020-11-08 12:03] noctera opened #742 "React app as server frontend"
Is there any way i can use a react app as my server frontend?
Let's say i run my server on 127.0.0.1:8000 and I want to build a react frontend that runs on 127.0.0.1:8000 also where you can log in with 127.0.0.1:8000/login and change settings regarding to the server

[2020-11-08 14:10] PixlRainbow commented on #742
This kind of question should really be asked over on stackoverflow instead of here.

Assuming that you are using React as a strictly browser-based library and NOT depending on Node.js to generate the views server-side, you may simply just dump the javascript, html and other asset files into a folder and [configure static file serving from that folder](https://github.com/yhirose/cpp-httplib#static-

[2020-11-08 14:14] yhirose commented on #738
@aldoshkind, thanks! I'll take a look at it when I have time.

[2020-11-08 14:16] yhirose commented on #742
@PixlRainbow, thanks for the clear explanation!

[2020-11-08 14:16] #742 closed

[2020-11-08 14:20] noctera commented on #742
Thank you for the explanation. I didn't think about the possibility asking this question on Stackoverflow.  I apologize for this

[2020-11-08 23:17] #738 closed

[2020-11-08 23:17] yhirose commented on #738
@aldoshkind, could you try with the latest httplib.h? Thanks.

[2020-11-09 05:08] dominique120 opened #743 "Getting parameters from the url."
Hi! I'm moving a small microservice application to your library and so far its been going well! This is a great library!

I have a little question though. Is it possible to get parameters from the url without having to use an identifier for them?

In my current solution I have my endpoint like this: ```/orders/{id}```. ```{id}``` can then be an id sent by the client that I can access. I access it

[2020-11-09 07:04] PixlRainbow commented on #743
`get_param_value` serves a different function. It is used for retrieving URL-encoded query parameters, when a client sends a request URL like: ![query paramters in an URL](http://images.mxpnl.com/blog/2014-10-17%2000:30:48.190268-jnurl1.png)

[code]

If you want to retrieve identifier-set parameters, **use regex capture groups syntax** when specifying endpoint path.
[code]

[2020-11-09 13:04] yhirose commented on #743
@dominique120, in addition to the @PixlRainbow's comment, please see [here](https://github.com/yhirose/cpp-httplib#server-1) in README.

[2020-11-09 13:04] #743 closed

[2020-11-09 13:19] dominique120 commented on #743
Thanks @PixlRainbow for the explanation!

[2020-11-09 17:08] aldoshkind commented on #738
@yhirose It works, thank you very much for rapid response!

[2020-11-09 18:26] yhirose commented on #738
@aldoshkind, thanks for checking!

[2020-11-09 22:16] travisoneill opened #744 "Is there a way to enable directory listing on a static file server?"

[2020-11-10 12:15] grcasanova opened #745 "Tor integration"
Can http requests made with _httplib_ be tunnelled via Tor? The `set_proxy` method supports HTTP proxies only

[2020-11-10 12:55] vawen opened #746 "Build error on windows using Visual Studio 2015"
The file httplib.h doesn't compile using Visual Studio 2015 (line 2982)

Error	C2888	'bool MultipartFormDataParser::parse(const char *,std::size_t,const T &,const U &)': el símbolo no se puede definir en el espacio de nombres 'detail'	mmc_proxy	D:\git\VaxAlprDetector\mmc_proxy\cpp-httplib\httplib.h

Looks like Visual Studio 2015 doesn't like the template definition. Changing the parse definition t

[2020-11-10 13:01] yhirose commented on #745
@grcasanova, no at this point. I am not interested in implementing it in my use cases. https://github.com/yhirose/cpp-httplib/issues/658

[2020-11-10 13:01] #745 closed

[2020-11-10 13:05] yhirose commented on #746
@vawen, thanks for the feedback. I no longer use Visual Studio 2015 any more at my work place. So could you send a pull request including the fix? Thanks!

[2020-11-10 13:06] yhirose commented on #744
Please see [here](https://github.com/yhirose/cpp-httplib#static-file-server).

[2020-11-10 13:06] #744 closed

[2020-11-10 13:41] #746 closed

[2020-11-10 16:29] ZhouYing-bit commented on #398
@yhirose
this code should be:
`sink.write(&data[offset], (size_t) std::min((uint64_t) length, (uint64_t) 1024));`

[2020-11-10 17:05] yhirose commented on #744
@PixlRainbow, thanks for the clarification and correcting my misunderstanding.
@travisoneill, this library doesn't support the directory listing.

[2020-11-11 10:46] 5cript opened #748 "Two responses if body is not read."
The server is sending two responses and can under certain circumstances produce SIGPIPE.

[code]
[Wireshark Log](https://cdn.discordapp.com/attachments/725722101444771911/776034374691848203/Screenshot_from_2020-11-11_11-43-16.png)

[2020-11-11 10:49] 5cript commented on #748
This only happens when a content reader parameter is passed, but the body is not read.
Even if I "misuse" the handler here, this should not cause multiple responses to be sent.

[2020-11-11 11:18] 5cript commented on #748
A possible safety net could be to check if the reader has an actual reader set when the request handler returns and throw an exception.

[2020-11-12 00:16] yhirose commented on #748
@5cript, thanks for the feedback. I cannot reproduce the problem on my machine.  Here is my test code:

[code]

This is the result:

[code]

It only sends one request. Could you try the above code on your environment? Thanks!

[2020-11-12 07:34] joda01 opened #749 "Make the lib independent from python"
To compile python is needed. Would it be possible to make it independent from python?

I have a suggestion and rewrote the python script in go and compiling.

[2020-11-12 07:35] joda01 commented on #749
[CMakeLists.txt](https://github.com/yhirose/cpp-httplib/files/5528917/CMakeLists.txt)

[2020-11-12 07:36] joda01 commented on #749
`package main

import (
	"io/ioutil"
	"os"
	"strings"
)

func main() {

	border := "// ----------------------------------------------------------------------------"
	content, _ := ioutil.ReadFile("httplib.h")
	lines := strings.Split(string(content), "\n")
	inImplementation := false

	os.Create("out")

	fh, _ := os.Create("out/httplib.h")
	fc, _ := os.Create("out/httplib.cc")

	fc.WriteString("#inc

[2020-11-12 10:58] nampqaime opened #751 "get params request from client"
Hello,

How can I get KEY and VALUE of params dictionary from POST process of client?

About Client:
    httplib::Params params{
         { "name", "john" },
         { "note", "coder" }
    };

    auto res = cli.Post("/post", params);

About server:
    ???????
    I had tried with:      req.has_param("name")     but server got nothing.

Thanks !

[2020-11-12 12:20] yhirose commented on #749
@joda01, thanks for the suggestion, but I am not interested in switching to Go since it requires a user to install Go environment and compile the Go code to make a binary on the user's machine architecture. I think Python is more popular and it doesn't require compile process.

[2020-11-12 12:20] #749 closed

[2020-11-12 12:54] 5cript commented on #748
We were on a previous version of httplib from conan,
The issue disappeared after an update, so this has already been fixed sometime in the past.
Sorry for the inconvenience.

[2020-11-12 12:54] #748 closed

[2020-11-12 13:20] yhirose commented on #751
@nampqaime, hope the following unit test helps.
https://github.com/yhirose/cpp-httplib/blob/9c7d841b37b69cde4ffb7c6d5c1aae6d5d6e1d97/test/test.cc#L1022-L1030
https://github.com/yhirose/cpp-httplib/blob/9c7d841b37b69cde4ffb7c6d5c1aae6d5d6e1d97/test/test.cc#L1494-L1512

[2020-11-12 13:20] #751 closed

[2020-11-12 14:43] syrex1013 opened #752 "Getting xstring error whens ending POST request."
Hi,
I keep getting xstring error on all of my projects using httplib.
Here is sample code:
`httplib::Client cli(url.c_str());
    auto res = cli.Post(path.c_str(), data.c_str(), "application/x-www-form-urlencoded");
    string body = res->body;
    return body;                      `
And the error:
![obraz](https://user-images.githubusercontent.com/31669127/98954068-b2cc6e80-24fd-11eb-926a-bca5ea7

[2020-11-12 15:51] yhirose commented on #752
@syrex1013, could you give me a simple code example?

[2020-11-12 15:55] syrex1013 commented on #752
It is in my question.
It is just like in your example on github.
`httplib::Client cli(url.c_str());
auto res = cli.Post(path.c_str(), data.c_str(), "application/x-www-form-urlencoded");
string body = res->body;
return body;                      `

url is set to "somedomain.com"
path to "/file.php"
data to "a=b&c=d"

[2020-11-12 16:04] syrex1013 commented on #752
I can also add that it throws this error randomly. Sometimes it works and sometimes it doesn't.
Data is not changing and server returns the same response always, so idk what causes this.

[2020-11-12 16:09] yhirose commented on #752
@syrex1013, you code is pretty basic, and looks good. So the problem is caused not by httplib.h, but something outside of this library.

The following test does exactly same as you are doing and works fine on unit tests on all the platform (Windows, Mac, Linux) on GItHub Action workflow.

https://github.com/yhirose/cpp-httplib/blob/9c7d841b37b69cde4ffb7c6d5c1aae6d5d6e1d97/test/test.cc#L1477-L1492

[2020-11-12 16:15] syrex1013 commented on #752
Well, thanks for help anyways! I try to get more info, and come back here,

[2020-11-13 10:03] bitnick10 opened #753 "C++ 2a modules support"
Hey, guys. Is there a plan to support C++ 2a modules?

[2020-11-13 12:10] yhirose commented on #753
@bitnick10, no yet.

[2020-11-13 12:10] #753 closed

[2020-11-14 10:47] aldoshkind opened #754 "Stack smashing due to misuse of select (*** stack smashing detected ***: <unknown> terminated)"
Hi @yhirose!
At our project we have a problem: application crashes with message "*** stack smashing detected ***: <unknown> terminated" after some time correctly working.
OS is Ubuntu Linux.
Backtrace shows that problem is in the function `select_read`. After some investigation I found that `select` is misused. According to docs `glibc` imposes constraints on maximum value of fd to be monitored (h

[2020-11-15 00:25] yhirose commented on #754
@aldoshkind, thanks for the great finding! I checked how other products handle the FD_SETSIZE limitation.

Here is [the solution in MySQL](https://github.com/mysql/mysql-server/blob/4869291f7ee258e136ef03f5a50135fe7329ffb9/storage/ndb/include/portlib/ndb_socket_poller.h#L198-L204) for non Windows operating systems:

![image](https://user-images.githubusercontent.com/357397/99159707-1b0d8280-26ad-1

[2020-11-15 02:28] yhirose commented on #754
@aldoshkind, could you try #755 to see if it fixes the problem? It will send 429 response when the socket descriptor exceeds FD_SETSIZE. Thanks!

[2020-11-15 07:51] aldoshkind commented on #754
Thank you for your rapid response again! :)
1. I am not deeply familiar with `select`/`poll` APIs. Please clarify: is it necessary to support `select`? Maybe there is an option to use `poll` only? As I see in discussion (https://stackoverflow.com/questions/970979/what-are-the-differences-between-poll-and-select) `poll` is considered more convinient.
Is there opportunity to use `poll` by default ma

[2020-11-15 12:56] yhirose commented on #754
@aldoshkind, thanks for the reply!

Is there opportunity to use poll by default maybe?

I intentionally take `select` as default. Please see 1f86e41d971a2de2f22bbfc7124b31fe5e728e75 and see the last two comments in #215.

No. It's a compile time decision and I don't want to make any confusion to use different things at the same time by mixing them together.

But: I am not happy with option to get

[2020-11-15 13:13] #754 closed

[2020-11-15 14:28] aldoshkind commented on #754
OK, you're the boss :)
Thanks for reply and explanation!

[2020-11-16 03:48] nampqaime opened #756 "Send data from PC to another PC"
Hello

I would like to send some information through HTTPS from client (PC_1) to server (PC_2) with 2 cpp file but server got nothing:

Client:
[code]

Server:
[code]
Please show me some detail for:
- "cert.pem" and "key.pem" should be generated from client pc or server pc?
- In svr.listen: what should I set param to get data from client?

I look forward to your response.
Many thanks !

[2020-11-16 15:36] PixlRainbow commented on #756
the certificate (public key) and key (private key) can be generated anywhere, using OpenSSL or any other software or online service, as long as it is compliant with PEM format, and as long as the files are saved on the server's disk drive. Those files are only used by the server.

svr.listen is not for getting data from client. Svr listen will activate the web server and the server will run contin

[2020-11-17 00:55] yhirose commented on #756
Hope @PixlRainbow's comment helps.

[2020-11-17 00:55] #756 closed

[2020-11-17 10:15] Narase33 opened #757 "Wildcard or default sink?"
Would it be possible to add a wildcard or default sink system to the lib?

Background: When I specify targets and a client tries to call a target I didnt specify, I dont get any notice of that. Not on server and not an client side. It would be very helpful if it would be possible to create a sink for targets that are not specifies. Something along

`httplib::Server::DefaultSink(Handler handler);`

[2020-11-18 04:41] PixlRainbow commented on #757
I feel like this has been answered before, but I cannot find the other issue that mentions something similar at the moment.

There are two ways to accomplish what you are asking.
1. Since the target path is a regex pattern, you can simply create a target for `R".*"` and it will match all paths. I have not yet tested if existing paths take priority over such a general pattern however.
2. The [error

[2020-11-18 11:35] furkan-kara opened #758 "Not reconnect when Network change."
Hi,

I can not connect to internet over app where cpp-httplib used in when internet connectivity type change (especially from WAN to Mobile networks). Device is arm based device, device connect to internet but app not connect. After restart app, connection is successful.

Any ideas what might have caused it?

[2020-11-18 13:18] yhirose commented on #757
@Narase33, thank you for your question. As @PixlRainbow mentioned, you call `svr.Get(".*", ...)` at the last of your handler sequence.

Please see:
https://github.com/yhirose/cpp-httplib/blob/95d0b073bd3ae1300aad65d1ab95a43bcbeb30f0/httplib.h#L4474-L4485

[2020-11-18 13:18] #757 closed

[2020-11-18 13:19] yhirose commented on #758
@furkan-kara, thanks for the feedback, but it is out of scope of cpp-httplib, more like a question regarding general TCP/IP connection...

[2020-11-18 13:19] #758 closed

[2020-11-18 14:55] PixlRainbow commented on #758
Please provide a more detailed explanation on what you mean @furkan-kara. Do you mean that after constructing a client and sending a request, the next request cannot be sent if the network is changed between the first and second request?

[2020-11-18 15:18] milos-pesic-zattoo opened #759 "Not able to configure the library not to use SO_REUSEPORT in"
Some applications specifically want to control and forbid transparent binding multiple sockets to the same address/port and to explicitly fail in that case.
If `SO_REUSEPORT` is defined and available on the platform it will be automatically used. It would be nice to add a configuration flag to alter that behaviour when needed.

[2020-11-18 15:22] milos-pesic-zattoo commented on #759
I tried to submit the PR - but for some reason have issue with repo access.
I am attaching a simple patch which might work:

[code]

[2020-11-18 15:35] yhirose commented on #759
@milos-pesic-zattoo, thank you for the feedback. Yes, this is the current cpp-httplib behavior.

I don't need the flexibility in my use cases though, you are very much welcome to send the pull request. When you work on that, please make sure that your PR should work on all the platform (Linux/Mac/Windows).

In fact, I was struggling the incompatibilities of `SO_REUSEADDR` and `SO_REUSEPORT` on the

[2020-11-18 15:35] #759 closed

[2020-11-18 15:54] kevinhwu opened #760 "The max number of threads in threadpool"
Hi,

My project needs many threads for long running task，when requests become more and more, server will be blocked，so I set the ThreadPool count to 1024：`m_server.new_task_queue = [] { return new ThreadPool(1024); };`，seems better，I'm wondering if it‘s good practice, any suggestions?

Thank you!

[2020-11-18 16:25] milos-pesic-zattoo commented on #759
In fact - I can see that recently a new API has been added: https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L632
I could use that one to set socket options without altering the code.
Sorry - for not checking it well before opening an issue - was looking into a slightly older version which did not have that API.
I will close the issue.

[2020-11-19 05:27] furkan-kara commented on #758
Sorry for the missing information. If network is changed, ongoing request does not resume and will fail. The next requests will fail with the "Error Resolving Address" message. After restart app client can connect to server without error.

[2020-11-19 05:58] PixlRainbow commented on #758
@yhirose is there a function to tell the client to reset the connection? Or does he have to destroy and re-construct the client object?

[2020-11-19 06:50] furkan-kara commented on #758
yes, I tried to reset the connection and reset the client object but the error keep going.

[2020-11-19 12:16] yhirose commented on #758
Unfortunately, there is no function to reset the current connection in client at this point. If the Client is working on non keep-alive mode (`set_keep_alive(false`), it creates a separate connection per request. So it might help.

@furkan-kara, does curl has the same problem on your environment?

[2020-11-19 12:58] yhirose opened #762 "Issue 27596 in oss-fuzz: cpp-httplib:server_fuzzer: Timeout in server_fuzzer"
@omjego, another issue came from oss-fuzz.
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=27596

Could you take a quick look? I tried to reproduce it based on their report, but I can't able to do it... So I need your help again.

I also would like to learn how to read the reports from them, since I am not familiar to the oss-fuzz project. When you have time, could you explain what I should

[2020-11-20 14:29] luismigb opened #764 "Force TLSv1.2 version for a SSL Client"
Hello,

I would like to know if it is possible to force the TLS version to use when creating a SSL client with the library. I am having strange behaviors, because sometimes a SSL client is using TLSv1.2 againts a web server which only supports TLSv1.2 and other times it use TLSv1 and the communication it is never established. Also, when this happens, the connection never gets timeout.

[2020-11-21 14:14] yhirose commented on #760
@kevinhwu, yes if you have hundreds of cores and lots of memory on your machine, but no otherwise. If your task is not a CPU-bound but a I/O bound, I recommend you to use libuv based HTTP libraries. Hope it helps!

[2020-11-21 14:14] #760 closed

[2020-11-21 14:15] yhirose commented on #762
@omjego, any response?

[2020-11-21 14:44] hwenwur opened #765 "Is there anyway to get the new url after redirection?"
Hello,

how can I get the new url after redirection(`3xx`)?
For example, `http://a.com/` redirect to `http://b.com/`, is it have a variable to store `http://b.com/`?
The `Response` class seems not have any field can do that.

please forgive my poor English.

[2020-11-21 20:24] osmanuss opened #766 "Благодаря тебе я вместо сна пишу лабораторную работу"
Спасибо))

[2020-11-21 20:38] #766 closed

[2020-11-21 21:35] #765 closed

[2020-11-21 21:37] yhirose commented on #765
@hwenwur, thanks for the feedback. I added `location` member in `Response`. This may not be a URL because the information comes from HTTP Location header. But I think it's enough for you.

[2020-11-22 02:59] omjego commented on #762
Hey @yhirose , sure  let me take a look.
Here's a doc on reproducing then bug: https://google.github.io/oss-fuzz/advanced-topics/reproducing/

Although the easiest way to do this is to use [standalone testcase](https://github.com/yhirose/cpp-httplib/blob/master/test/fuzzing/standalone_fuzz_target_runner.cpp) runner which I added for testing purposes :
 1. Download the reproducer testcase. You'll f

[2020-11-22 10:04] Xyncgas opened #767 "Thank u, Having this one single library makes it possible for me to write codes in c++ without switching to c#."
God bless me, God bless u, God bless America.

[2020-11-22 14:18] yhirose commented on #767
Glad that you seem to be enjoying this library.

[2020-11-22 14:18] #767 closed

[2020-11-22 22:57] MosquitoParis opened #768 "form-data with large files"
[code]

i wanna to send file to virustotal with size 1000kb and have error 4.
How can i send large files to server?

[2020-11-22 23:05] MosquitoParis commented on #768
I found way to fix it.
I just set bigger write and read timeout in config.

[2020-11-22 23:05] #768 closed

[2020-11-23 08:24] iPherian opened #769 "Get error message for server problem"
I've been using this to run a little ssl server, and I'd like a way to get an error message when something goes wrong i.e. when I give a bad cert file:

[code]

While listen will return false indicated *some* error occured, I can't find a way to get a specific error code/message.

Any way to do this?

[2020-11-23 12:26] lovebaonvwu opened #770 "Does this library support web socket?"
If it does, how to do it?
If not, is it possible to support web socket in the future?

[2020-11-23 13:17] yhirose commented on #770
@lovebaonvwu, no, and I am not planning to add the future. Thanks.

[2020-11-23 13:17] #770 closed

[2020-11-23 13:19] yhirose commented on #769
@iPherian, could run `cd test; make test` on your machine? It may give you come clues to figure out the problem.

[2020-11-23 13:19] #769 closed

[2020-11-23 13:40] yhirose commented on #764
@luismigb , could you test with curl on your machine if curl has the same problem? If it doesn't have the problem, I'll take a look at their source code to see how OpenSLL is used. Thanks!

[2020-11-24 01:44] iPherian commented on #769
@yhirose It works fine when I give it a cert file that exists, I was just wondering if there was a way to get some kind of specific error code/message when something goes wrong with listen().

[2020-11-24 02:28] yhirose commented on #769
@iPherian, sorry that I misunderstood your question. There is no way to get a specific error code/message, but you can check if the SSLServer is initialized successfully with `SSLServer::is_valid()` method. Is it good enough?

[2020-11-24 08:33] miketsts opened #771 "Memory leaks in initialize_ssl"
GCC address sanitizer reports about memory leaks with the following stack. There are a couple of more "indirect leaks" with the same stack in the report. I don't know if it's something in OpenSSL or in httplib. Or it's something that should be done in my application.
Version 0.7.15

[code]

[2020-11-24 08:43] miketsts commented on #771
It looks like SSL object is not deleted indeed. It's stored in the `struct Socket` as a bare pointer, and there is no `Socket` destructor

[2020-11-24 12:00] yhirose commented on #762
@omjego, thanks for the detail. I downloaded the testcase file and run `server_fuzzer` with it, but it seems it doesn't reproduce the bug... Am I missing something? Thanks for your help!

[code]

[2020-11-24 12:12] lovebaonvwu commented on #770
Thank you man.

[2020-11-25 07:56] HLhuanglang opened #772 "how to get a pic?"
i've seen the source code, Client's constructor can't use a complete URL as parameterst and the  Get() must have a 'path'.
is there any easy way to use ? mabye like this:（I am a newbie in programming T_T）
[code]
beacuse i want to make a get request to acquirea a pic，if it doesn't work，how should i do？should i have to write like this?
[code]

[2020-11-25 08:55] roddypratt opened #773 "question: VCPKG version out of date?"
When I install this package with vcpkg, I'm getting an old 7.0 version. I guess this is down to you rather than the vcpkg team?
![image](https://user-images.githubusercontent.com/1199520/100204112-5f91ed00-2efb-11eb-9412-15d92416359b.png)

[2020-11-25 09:25] chenfarong opened #774 "http/2"
client support http/2?

[2020-11-25 10:41] roddypratt commented on #773
I've opened an issue on vcpkg, so this can probably be closed here. https://github.com/microsoft/vcpkg/issues/14764

[2020-11-25 13:07] yhirose commented on #774
Duplicate #666.

[2020-11-25 13:07] #774 closed

[2020-11-25 13:12] yhirose commented on #773
@roddypratt, thanks for the feedback. I don't use any C++ package manager like VCPKG and Conan, and I am not planning to support them myself. I think someone probably registered this library to vcpkg repo for vcpkg users (also conan) a while ago.
Thanks for sending the issue to vcpkg!

[2020-11-25 13:12] #773 closed

[2020-11-25 13:13] yhirose commented on #772
@HLhuanglang, yes, the latter one is correct. Hope your project goes well!

[2020-11-25 13:13] #772 closed

[2020-11-27 01:59] x93008 opened #775 "On macOS, the program crashes when my network is not very good or when the data volume is very high."
Thread 11 Crashed:
0   ???                           	0x000000003d6c47d5 0 + 1030506453
1  exam                   	0x0000000103cfd63f bool std::__1::basic_regex<char, std::__1::regex_traits<char> >::__match_at_start_ecma<std::__1::allocator<std::__1::sub_match<char const*> > >(char const*, char const*, std::__1::match_results<char const*, std::__1::allocator<std::__1::sub_match<char const*> > >&,

[2020-11-27 02:00] x93008 commented on #775
随机复现

[2020-11-27 02:07] x93008 commented on #775
``    bool PostJsonData(const char *path, const std::string &body) {
        auto res = Post(path, body, "application/json");
        if (res.status == -1) {
            printf( "event report error, no status, no message");
            return false;
        }
        if(res.status != 200) {
            printf( "event report error, status: {}, message: {}",
                         res.status, res.

[2020-11-27 02:27] yhirose commented on #775
@x93008, thanks for the report. The line numbers for httplib.h in your stack dump are off from the latest httplib.h. Could you make sure to use the latest httplib.h?

The crash is happening at `std::regex_match` in `ClientImpl::read_response_line` according to the stack dump. It shows that invalid HTTP response data came into the client, and failed parsing it with the `std::regex`. Is it a valid H

[2020-11-27 02:33] yhirose commented on #771
@miketsts, thanks for the bug report. Could you provide me a smallest possible code example to reproduce it? Also could help to setup the GCC address sanitizer, since I haven't used it before? Thanks for your help!

[2020-11-27 02:33] yhirose commented on #762
@omjego, did you find anything about the bug?

[2020-11-27 11:28] PixlRainbow commented on #775
Well, he said "when my network is not very good" so there is probably data corruption or dropped packets.

[2020-11-27 12:45] miketsts commented on #771
@yhirose I have reproduced the problem by running
[code]
In order to activate the address sanitizer, one needs to add `-fsanitize=address` to the list of compiler flags. I think, clang supports this flag as well as gcc.

Unfortunately, I found that in order to get a full stack trace of the error one needs to use debugging versions of libssl.so.1.1 and libcrypto.so.1.1. Otherwise the sanitizer show

[2020-11-27 12:50] yhirose commented on #775
@PixlRainbow, you are right. If we can figure out what was the 'corrupted' data that broke the regex engine, I guess we can easily fix the problem.

@x93008, please let me know anything you find in the response data. You could do like this to find such corrupted data:

https://github.com/yhirose/cpp-httplib/blob/47e5af15ea1445627c3b1ca6bba13855c60679ef/httplib.h#L4880-L4890

[code]

Thank you for

[2020-11-27 13:54] omjego commented on #762
@yhirose you didn't see anything cause this is a timeout error, I'm trying to debug this one.

[2020-11-28 02:05] x93008 commented on #775
@yhirose  Will the demo fix the crash? If the crash is fixed, then I have no straightforward way of knowing that the problem has recurred.

[2020-11-28 02:10] x93008 commented on #775
@yhirose  I am using version 0.5.3, and the problem may not be reproducible without this version.

[2020-11-28 07:03] JasonLCY3 opened #776 ""'https' scheme is not supported.""
![image](https://user-images.githubusercontent.com/24191781/100495905-d2fd5e00-318a-11eb-912a-4b41a2af602c.png)

[2020-11-28 07:27] #776 closed

[2020-11-28 10:29] omjego commented on #762
Hey @yhirose ,
So I looked into this, the input generated by fuzzer is ~1MB in size and major chuck of it is HTTP body data.  The whole body consists of `\r`, `\n` and few `--m` characters/strings [Image](https://imgur.com/98vAB88). While debugging, I found that [this](https://github.com/yhirose/cpp-httplib/blob/47e5af15ea1445627c3b1ca6bba13855c60679ef/httplib.h#L3132-L3173) code was being bottlen

[2020-11-29 05:46] fatrolls opened #777 "res->body.data() or res->body.c_str() both contain hexadecimal size value in front of content"
res->body.data() or res->body.c_str() both contain hexadecimal size value in front of content

I didn't change any of my code it worked fine for months and when I switched from visual studio 2017 to 2019 now all my strings have hexadecimal size in front of them.. I thought it had to do with body being a struct with size indicator in front of it but I couldn't find anything about it in the code? so

[2020-11-29 11:36] yhirose commented on #777
@fatrolls, thanks for the report. cpp-httplib doesn't do anything special for VS 2019. I

[2020-11-29 11:40] yhirose commented on #777
I accidentally hit the 'Close with comment' button, and reopened it again...

[2020-11-29 12:34] yhirose commented on #775
@x93008, your demo code is nothing special, so the problem much depend on the certain incoming HTTP data. That's why I am asking for putting `std::cout` to dump the invalid data that crashed your program. Thanks for your extra help to validate the problem.

[2020-11-29 18:06] yhirose commented on #771
@miketsts, I have just reviewed #701 and merged it. I think it fixes this problem. Could you try the latest httplib.h? Thanks!

[2020-11-29 19:52] yhirose commented on #771
@miketsts, I have just confirmed that it's fixed on both Ubuntu and macOS. Please let me know if you still have the problem. Thanks for your report!

[2020-11-29 19:52] #771 closed

[2020-11-29 19:53] yhirose commented on #699
Should be fixed by #701.

[2020-11-29 19:53] #699 closed

[2020-11-29 20:52] iPherian commented on #769
@yhirose I can live with that.

[2020-11-29 21:15] miketsts commented on #771
@yhirose I confirm that the memory leak is fixed in my system as well.
Thank you very much for the very nice and lighweight library.

[2020-11-29 22:20] yhirose commented on #762
@omjego, thanks for the information. It measured the performance with `time` comment. It takes about 11 seconds, and this slowness may cause the 60 secs timeout on the oss-fuzz server.

[code]

I'll take a look at the code if I can improve the parsing performance before ignoring this test case. I'll get back to you after that. Thank you for your fine assistence!

[2020-11-29 22:23] yhirose commented on #775
@x93008, I'll close this issue for now since you are not using the latest. Please submit a new issue when you get the same problem even with the latest.

[2020-11-29 22:23] #775 closed

[2020-11-29 22:24] yhirose commented on #752
@syrex1013, I"ll close it for now. Please let me know if you find further information on this and it's a reproducible, then I'll reopen this issue. Thanks!

[2020-11-29 22:24] #752 closed

[2020-11-29 22:31] yhirose commented on #777
@fatrolls, I tested the unit test with the latest Visual Studio 2019 (v16.8.2) with the static version of OpenSSL-Win64 (1.1.1h), and confirmed that all the unit test cases including lots of client request tests passed successfully.

[2020-11-29 22:53] yhirose commented on #764
@luismigb, any response?

[2020-12-01 02:04] cyrusbehr opened #779 "Where to obtain certificate for `httplib::SSLClient::set_ca_cert_path` function"
I'm following the example here:
[code]

and I'm wondering, where can I get the certificate to provided to the `set_ca_cert_path`, in the above example `ca-bundle.crt`.

[2020-12-01 02:49] #762 closed

[2020-12-01 02:50] yhirose commented on #762
@omjego, I have fixed this performance issue. It should be ok now on the oss-fuzz server. They will pick up this change automatically, right?

[2020-12-01 02:55] leaout opened #780 "fork child process listen failed"
when trying to create daemon process, http listen failed exit.

[2020-12-01 02:56] yhirose commented on #779
@cyrusbehr, you can get more information from [here](https://curl.se/docs/caextract.html). Hope it helps!

[2020-12-01 02:56] #779 closed

[2020-12-01 02:58] yhirose commented on #780
@leaout, thanks for the feedback. But I usually close this kind of issue that give very little info...

[2020-12-01 02:58] #780 closed

[2020-12-01 03:03] cyrusbehr commented on #779
Awesome thank you so much!
And thank you also for the very fast response!

[2020-12-01 03:45] yhirose commented on #764
I'll close it for now.

[2020-12-01 03:45] #764 closed

[2020-12-01 05:42] omjego commented on #762
Nice!! Yes the changes will be picked during next run (within 24 hours)

[2020-12-01 18:28] maxnoe opened #781 "std::string not supported as input for many methods?"
It would be nice to support directly passing `std:string` or `const std::string` to methods like `Client` or `Client::Get` and not requiring calling `c_str()`

[2020-12-01 18:43] yhirose commented on #781
@maxnoe, thanks for asking. There is no plan to add methods taking `std::string`.

But for the next generation of this library (only support C++17), I am planning to provide the following interface which can accept both `char*` and `std::string` with one interface.

[code]

There is the experimental method in the cpp17 branch:
https://github.com/yhirose/cpp-httplib/blob/192f298ad5d7fa75a770c49fbd3

[2020-12-01 18:43] #781 closed

[2020-12-01 19:25] yhirose commented on #707
@yesvivek, I just get back to this issue, and I first tried benchmarking with the builtin Apache on my macOS.

[code]

As you can see the above, the keep-alive is 10 times slower than the non-keep-alive even on Apache...

Could you give me more information about how you tested and got the result? Thanks for your help!

[2020-12-01 19:33] yhirose commented on #501
@guteksank, I have just send a pull request to your repo. Could you do the benchmark test again, since I can't run the benchmark on my machine? Thanks a lot!
https://github.com/guteksan/REST-CPP-benchmark/pull/4

[2020-12-01 19:34] yhirose commented on #777
@fatrolls, could you give me more detailed information, so that I could reproduce this problem?

[2020-12-01 20:14] maxnoe commented on #781
Any reason why something like `const std::string& ` is not supported? It seems like the natural choice to me from an outside perspective.

[2020-12-01 20:24] yhirose commented on #781
I just don't wan't to increase number of HTTP methods. For instance, there are about 50 HTTP methods in `Client`, and I am already overwhelmed with the maintenance of them. If the `const std::string&` versions are added, there will be about 100... And most of my use cases, I just specify C literal strings directly anyway, and very rare to pass std::string strings.

[2020-12-03 12:23] fatrolls commented on #777
Tried OpenSSL compiled under 2019 that didn't solve the problem.

Here is my code
![error code](https://i.imgur.com/TmIoNRw.png)

Here is output console
![error console](https://i.imgur.com/Tn1KFgl.png)

browser output
![browser output](https://i.imgur.com/kABGHEx.png)

[2020-12-03 15:16] sumitsuthar opened #782 "Getting res.error() = 4 for get request."
I am getting error code = 4.
What is the reason behind this error code?

[2020-12-03 15:37] yhirose commented on #782
Please see [here](https://github.com/yhirose/cpp-httplib#error-code) in README.

[2020-12-03 15:37] #782 closed

[2020-12-03 15:40] sumitsuthar commented on #782
I want to know reason behind the read error. Why this error comes up.

[2020-12-03 18:04] yhirose commented on #782
Socket reading error or reading time out.

[2020-12-03 21:18] yhirose commented on #777
@fatrolls, thanks for the detail. I honestly don't know what's happing on your machine... But, you may want to check some HTTP hears from the server like Content-Length and Content-Encoding to get more clues.

Here is the code to receive body content in the client where you could trace the data transfer from the server:
https://github.com/yhirose/cpp-httplib/blob/eb240ad2e5d2f7972b4c952ac2cfa2c526

[2020-12-04 14:01] Lavalierre opened #783 "Need help with Windows 10 - Windows 7 compability issue"
This code works perfectly on the Windows 10, and doesn't work at all on Win7. Error code is 2 (Error::Connection). Can you help me fix this, or understand why this happens? I'm not too good at net programming

	httplib::Client cli( "http://rtsrr.beget.tech" );
	cli.set_connection_timeout( 30 );

	if ( auto res = cli.Get( "/current/info.json"  ) )
	{
		if ( res->status == 200 )
			print( "OK" );
	}

[2020-12-04 15:37] yhirose commented on #783
@Lavalierre, thanks for the report. You could check the code around the place where Error::Connection is set to see more detailed information.

I no longer have Windows 7, so I can't reproduce it and give you more meaningful information regarding this problem... But if you find anything about it, please let me know. Thanks for your help.

[2020-12-04 18:47] Lavalierre commented on #783
Ok, we tested it a bit, and found out which part of the code throws an Error::Connection. This one (line 2101):

`
if (sock != INVALID_SOCKET) {
    error = Error::Success;
  } else {
      if ( error == Error::Success ) { error = Error::Connection; }`

Interesting, that part of the code (line 2081) which is also throws an Error::Connection, is totally good and throws nothing. So it seemed problem

[2020-12-04 19:17] yhirose commented on #783
@Lavalierre, thanks for the info. Could you take a look at lines 1930, 1957, 1960, 1983 in `create_socket` to see where the INVALID_SOCKET is set? You might find more information from #292 as well. Thanks!

[2020-12-04 19:35] Lavalierre commented on #783
Aight, it seems line 1930 throws an INVALID_SOCKET

[2020-12-04 20:56] yhirose commented on #783
@Lavalierre, it seems like your Windows 7 has a network problem. Could you try to run the following example? It should print `ret: 0`, if the network is good on your Windows 7. Thanks!

[code]

[code]

[2020-12-05 00:34] Lavalierre commented on #783
Nope, it can't be, because this tested by 4 people on 4 different machines. But ok, I'll send them this too.

[2020-12-05 00:37] yhirose commented on #783
@Lavalierre, thanks. Since it's not directly related to httplib.h, I'll close it for now until I get a further evidence. Hope the example will help you figure out the cause of the problem!

[2020-12-05 00:37] #783 closed

[2020-12-05 08:26] fatrolls commented on #777
fixed it, it was indeed old SSL revision 1.1.1 from https://github.com/openssl/openssl I used https://github.com/openssl/openssl/releases/tag/openssl-3.0.0-alpha9

problem just disappeared on all my computers.

Thanks

[2020-12-05 08:26] #777 closed

[2020-12-06 13:19] yhirose commented on #707
@yesvivek, any response?

[2020-12-06 21:23] luismigb commented on #764
@yhirose, sorry for not answering you, I finally assumed that the reason could be related with the coverage in the zone where the tests were performed, having also coverage problems in the mobile phone. I tested with the newest OpenSSL and version of your library and the behavior is the same. I was not able to test with curl (not available in the device)

[2020-12-07 01:30] makjre opened #784 "Is client thread safe?"
When multiple threads create a socket, the system function socket returns - 1

[2020-12-07 01:59] yhirose commented on #784
@makjre, I think creating socket itself has nothing to do with threads. For you question on the title, could you check the following issues that related to multi-threading? Hope it helps.
https://github.com/yhirose/cpp-httplib/search?q=thread+safe&type=issues

[2020-12-07 01:59] #784 closed

[2020-12-07 04:28] yhirose commented on #764
@luismigb, thanks for the update. I did some research and found the following pages:
https://www.openssl.org/docs/man1.1.1/man3/TLSv1_2_method.html
https://wiki.openssl.org/index.php/SSL/TLS_Client

Could you try something in the pages when you have time?
If you find a workable solution, I'll add a method to make the TLS mode configuration.
Thanks for your help!

[2020-12-07 11:39] luismigb commented on #764
@yhirose, I have used both TLSv1_2_server_method() and TLSv1_2_client_method() in your library (and them worked as expected between the device as client and a raspberry as server, only TLS v1.2 connections are managed) but when testing outside, the problem persist. I think, for now, that it is not software related issue.

If I have news about this I will advise you.

[2020-12-08 01:44] zhouyongxyz opened #785 "how to support CORS requst in httplib server"
Hello, I want to support cors in my server, how to support CORS requst in httplib server ?

[2020-12-08 02:07] yhirose commented on #785
@zhouyongxyz, there is no CORS specific support, you can just implement with `Option`. Please see #62.

[2020-12-08 02:07] #785 closed

[2020-12-08 07:43] furkan-kara opened #786 "Client can not connect with specific device "LINKZONE 4G LTE Cat4 Mobile Wi-Fi""
I have a client implementation to login to server and get information as continuously. Application works properly as expected with the mobile internet or cable. But never connected with this device "LINKZONE 4G LTE Cat4 Mobile Wi-Fi".  After I add `set_keep_alive(true);` , sometimes it connects, sometimes it does not. I could not find what caused this situation. I try this device with [cpprestsdk]

[2020-12-08 07:49] furkan-kara commented on #758
The code I used is not the last version. This problem was solved when I switched to the latest version. Thank you.

[2020-12-08 07:58] PixlRainbow commented on #786
1. Please provide a minimum code example that can reproduce the issue on your machine
2. Which client are you using? `Client` or `SSLClient`?
3. What is the error code produced when it does not connect?
4. You can check NAT type, proxy settings or firewall settings on the device.

[2020-12-08 08:09] furkan-kara commented on #786
This is how I try to connect and I used SSLClient. The response (I think this is error code) return 0.

[code]

[2020-12-08 08:26] PixlRainbow commented on #786
No, the error code is not the value of `response` itself. `response` is a `httplib::Result` object. To get the error code, [you call `response.error()`](https://github.com/yhirose/cpp-httplib#client-1).

___
This is safe to do as `response` itself will never be a `nullptr`. In fact, it is not a pointer at all. It supports the pointer-like arrow operator because it implements a custom arrow operato

[2020-12-08 08:44] furkan-kara commented on #786
I change my code and it returns error code 8.

[2020-12-08 08:53] PixlRainbow commented on #786
[Error code 8 is "could not establish a secure connection"](https://github.com/yhirose/cpp-httplib#error-code).
An example would be if a TCP connection was established but the TLS handshake failed.

[2020-12-08 10:03] furkan-kara commented on #786
Okey but only this device gives this error. what might have caused it? And I discover new thing, as I mentioned it sometimes connect and sometimes not, if it is not connect at first time, keep trying. And it successfully connect after 2.5-3 minutes.

[2020-12-08 12:45] PixlRainbow commented on #786
try [extending the timeout](https://github.com/yhirose/cpp-httplib#timeout-1)?

[2020-12-08 13:22] yhirose commented on #786
@furkan-kara, I don't think this is a problem caused by cpp-httplib. As @PixlRainbow implies, it seems to be a certain network problem. You could try sending the same request via curl to see more meaningful information that has better error report system. So I'll close it. Hope this information helps!

[2020-12-08 13:32] PixlRainbow commented on #786
@yhirose they said that they had tested with the same device and network using a different library (Microsoft cpprestsdk) and the request completed successfully with no errors.

[2020-12-08 13:35] yhirose commented on #786
@PixlRainbow, sorry that I didn't read the thread carefully... So do you think if it's a problem in cpp-httplib, or just timeout setting is too short?

[2020-12-08 13:38] furkan-kara commented on #786
Connection timeout is set as default. Read or write timeout is set as 30 seconds. And no change when increase or decrease timeout.

[2020-12-08 13:48] PixlRainbow commented on #786
Does the cpp httplib client work when sending request to a different server or when sending a non secured request (with normal not ssl client)?

___
It is possible that the 4G access point has some form of NAT that rewrites source/destination hostnames or IP addresses and cpp httplib might not be handling it correctly. A similar problem was seen with openssh in WSL which would cause key exchange p

[2020-12-08 13:51] vcore0 opened #787 "server returns 500 for unknown reason"
So im just trying out your library and stuck on this cant figure out.
This is server code
[code]
The first "/getToken" request works absolutely fine. And if you do several "/getToken" request its fine.
But for some reason Im gettin 500 error status for "/anSecondReq" request.

[code]

[2020-12-08 14:29] vcore0 commented on #787
nvm, it was misunderstanding caused by exception handler

[2020-12-08 14:29] #787 closed

[2020-12-09 13:49] yesvivek commented on #707
@yhirose , sorry I missed notifications as am not using cpp-httplib anymore. Also, I have destroyed the VM which had apache and cpp-httplib, so cannot redo the tests now.
I compared performance with apache httpd only to showcase there is no problem with environmental where cpp-httplib is run (if I have had problems with env, I would seen httpd's keepalive performance to be low too).
All I did was

[2020-12-09 15:33] yhirose commented on #707
@yesvivek, yes, I get the similar result every time I tested on the builtin Apache server on Mac. According to the keep-alive code in httplib.h, I don't find any place where I can make performance improvement for Keep-Alive connection, because it's pretty strait-forward simple loop logic with almost no overhead. So I have no clue to improve the performance at this point... Anyway, I'll keep lookin

[2020-12-10 08:57] yesvivek commented on #707
@yhirose , trying suggestions from [this answer](https://stackoverflow.com/questions/42426206/httpserver-very-slow-with-keepalive) help?

[2020-12-10 12:07] fatrolls opened #789 "How can I upload raw bytes using httplib::MultipartFormDataItems"
I tried using std::vector because it doesn't have problems I encountered in the past with 0x0 byte, but I can't seem to use it.

	httplib::MultipartFormDataItems items = {
		{ "version", "12345", "", "text/plain" },
		{ "upload", std::vector<unsigned char>(file, file + len).data(), "test.bin", "application/octet-stream" },
	};

also tried

	httplib::MultipartFormDataItems items = {
		{ "version",

[2020-12-11 08:09] PixlRainbow commented on #789
when you provide `std::string((char*)file, len)`, you construct an object that carries both the `char*` data as well as the `len` and so you explicitly declare the length of the data and the compiler does not need to guess it.

If you simply put `std::vector::data()` it will return a raw `char*` with no length attribute, so when the compiler automatically inserts an `std::string` constructor it wi

[2020-12-12 00:09] fatrolls commented on #789
Oh thank you, I didn't know std::string had a `.data()` feature, learn something new everyday thank you :)

[2020-12-12 00:09] #789 closed

[2020-12-13 07:43] csersoft opened #790 "HTTP client does not support multipart"
Hello!
The PUT method in the HTTP client does not support multipart.
Is the PUT request itself not supporting multipart?
Regards.

[2020-12-13 11:43] yhirose commented on #790
@csersoft, thanks for the feedback. The short answer is no. (I might be supporting GET if users want.)
Please see [this stackoverflow post](https://stackoverflow.com/questions/8054165/using-put-method-in-html-form) for more information. Hope it helps!

[2020-12-13 11:43] #790 closed

[2020-12-14 03:50] FaBeyyy commented on #776
@JasonLCY3 did you get it working? SSLClient is not available anymore and it seems to be auto redirecting to http requests for me

[2020-12-14 04:10] johnlu0907 opened #791 "Binary file post in http client"
Hi,
I'm going to upload binary or video files to rest server.
Please provide me sample
Thanks

[2020-12-14 05:36] PixlRainbow commented on #791
See:
https://github.com/yhirose/cpp-httplib/issues/194#issuecomment-515653093
or
https://github.com/yhirose/cpp-httplib/issues/336#issuecomment-576973884

Make sure to set the mime-type to match the file format you are uploading, and remember to make sure your input `std::string` has been configured to carry binary data correctly

[2020-12-14 12:09] yhirose commented on #791
@PixlRainbow, thanks for answering the question.

[2020-12-14 12:09] #791 closed

[2020-12-14 15:16] fs-c opened #792 "Communication between library and website through different machines in local network"
This question is only tangentially related to the library and I would fully understand if it were to be closed as being off-topic.

With that out of the way: I am trying to implement the following:
- User runs an application on a local machine which runs `cpp-httplib` and accepts requests. These requests control some other functionality of said application.
- User visits a website (something like

[2020-12-14 15:37] PixlRainbow commented on #792
what is the problem? Can you not just host the website inside the application that is offering services to remote machines? Aka just put a function call inside the web API request handlers to activate the "other functionality" of said application, but *also* serve the web UI from the same machine.

[2020-12-14 15:55] fs-c commented on #792
Thanks for your quick response and yes, I could do that. But I think I failed to communicate an important point: I don't want my users to have to look up the local IP address of the machine that runs the application. If that were on the table I could simply require them to input said local IP on the website in case the connection to `http://localhost:<port>` fails.

No, what I essentially need is

[2020-12-14 16:50] PixlRainbow commented on #792
It is possible to scan the whole network quickly, but it is not something that can be implemented within the http protocol; that would have to be done at the network interface layer, by transmitting broadcast packets.
___
*If* you have to stay within http, then there must be a central "matchmaking" server hosted at a known fixed address or domain name. The service executor must submit it's address

[2020-12-14 19:34] fs-c commented on #792
I'm constrained to the browser (since I want users to be able to control the application from any device capable of rendering a webpage and I don't want to write "control applications" for multiple platforms) so broadcasting is not an option. Nevertheless a good point that I hadn't thought of.

I had previously considered this but discarded the idea since it requires the user to have a connection

[2020-12-14 19:34] #792 closed

[2020-12-15 02:24] PixlRainbow commented on #792
If you are using a sufficiently new web browser, you actually do have other communication protocols to choose from e.g. camera QR codes, bluetooth, etc.
The "known fixed address" does not have to be on the internet; it can be local as well, as long as you tell the user to set up local network DNS first.
Note that if you are using electron to build applications, you aren't actually limited to brows

[2020-12-15 03:06] Lucas-Yuzc opened #793 "Execution conditions of skip_content_with_length"
[code]

In function read_content, **if (len > payload_max_length), then skip_content_with_length**
If you are on a 32-bit system, the recv body size will be limited to 4GB, this condition makes me confused.
The above code, what are the considerations of the execution operation under this condition? thanks.

[2020-12-15 16:23] micjo opened #795 "Segfault when stopping immediately after start"
First of all, I would like to really thank you for this library. It's working great and its very lightweight to use compared to other open source projects out there. The problem i have is a niche one, i'll admit. Regardless if it would be my project i would want to know. You can obviously still decide if this is worth investigating.

When calling stop right after start, the httplib segfaults. This

[2020-12-15 18:10] yhirose commented on #795
@micjo, thank you for the feedback.  Could you try with the following code right after the thread is created?

[code]

[2020-12-15 18:19] yhirose commented on #793
@Lucas-Yuzc, thank you for the feedback. I don't fully understand what you are asking though, I'll try to answer the question. `payload_max_length` is `size_t` and set to `std::numeric_limits<size_t>::max()` as default. On a 32bit environment, `size_t` becomes same as `uint32_t`. Even if a client sends huge data exceed 4GB, the code can detect it, and skip the whole data, and will become ready for

[2020-12-16 02:27] Lucas-Yuzc commented on #793
I am currently using it as a client to receive data on a 32-bit system. When the data exceeds 4G, I find that it cannot accept the success, and I find that it is limited by size_t. So, I want to know that  why use std::numeric_limits<size_t>::max() to determine the payload_max_length and not uint64_t?
thanks~

[2020-12-16 09:48] micjo commented on #795
This does indeed solve my problem. Allthough i do still see some odd behavior:

Keeping the code as is and printing the svr is running state, i can clearly see that if its 0, it segfaults, if its 1 it does not. (sleeping a bit makes it 1)

However if i change my final Get to :
![image](https://user-images.githubusercontent.com/5049483/102332221-1843cd00-3f8c-11eb-8a0b-bcaed0eceb3f.png)

It will no

[2020-12-16 12:52] yhirose commented on #795
@micjo, glad to hear the problem is solved. I'll close it. As for another regex issue that you found, could you provide a unit test  in `test/test.cc` or a smallest possible code to reproduce it in another separate issue because it has nothing to do with this issue? Thanks!

[2020-12-16 12:52] #795 closed

[2020-12-16 13:00] yhirose commented on #793
@Lucas-Yuzc, it's because `Request::body` is `std::string` that cannot hold data exceeds 4GB anyway. So if you expect the data is expected larger than 32 bit length, you have to move to 64 bit environment at this point.

[2020-12-17 14:40] fidodido2503 opened #796 "ssesrv example crash"
when i run sse server (example ssesrv.cc ), and open url in chrome,it work fine,but when i close the tab or refresh page,server crash

[2020-12-17 15:13] yhirose commented on #796
@fidodido2503, I have just tried it on my macOS, but it works fine even after closing the tab or refresh the page...

[2020-12-17 15:14] #793 closed

[2020-12-17 15:44] fidodido2503 commented on #796
I test in ubuntu 16.04, I just found in Windows 10 and MacOS don't have this problem, I changing send() call use the MSG_NOSIGNAL option, the crashing in linux problem is gone, I dont konw this way is reasonable

[2020-12-17 16:58] mipac opened #797 "detail function proposal to parse url"
Hi,

it could be a good idea to add a function to parse url to split domain, path, etc...
I always need it when using httplib ;)

[code]

[2020-12-17 17:05] mipac opened #798 "api with const string& instead of char*"
Hi,

Perhaps I missed the reason, but why the get/post/... api is based on ` char*` path?
It could be based on `const string&`, no?

[2020-12-17 17:07] mipac commented on #798
oups... missed #781
sorry for noise

[2020-12-17 17:07] #798 closed

[2020-12-17 23:46] yhirose commented on #797
@mipac, thanks for the suggestion, but I can take the pull request unless it's well tested. Sorry about that.

Wwriting safe/efficient URL parsing code is much more difficult than we think. [Here](https://github.com/yhirose/cpp-httplib/blob/0954af2d4c7edcbf5667b4ecd22260ebf95e2ca0/httplib.h#L5145-L5146) is the current regex pattern in httplib.h to parse URL. It has been improved over the years to

[2020-12-17 23:46] #797 closed

[2020-12-18 00:16] yhirose commented on #796
@fidodido2503, thanks for the detail. I'll try to reproduce it on my Ubuntu (20.04).

[2020-12-18 00:34] yhirose commented on #796
@fidodido2503, I just tested on Ubuntu (20.04), and it works fine as well.

Server: Ubuntu 20.04 on VirtualBox on macOS
Client: Chrome on macOS

I'll close it for now until I get further evidence that helps me to reproduce the problem on my machine, so that I can debug it. Hope this information helps.

[2020-12-18 00:34] #796 closed

[2020-12-18 07:36] mipac commented on #797
thanks for reply,
I understand, that's one of the reasons that make that lib a good one !
I haven't seen that parsing code , perhaps it could be factorised in detail namespace

[2020-12-18 14:41] fidodido2503 commented on #796
I found the cause of the crash, because the vscode remote debug puglin, I used to remotely go to the host to debug via ssh, run the program in vscode, the vscode will automatically open a port forwarding, so this connection has not been truly disconected

[2020-12-18 18:00] Yrds opened #800 "Special function to encode query params"
Sorry, i forced push to my branch and lost my PR.

I've added `-_.!~*'()` to unescaped characters and created 2 tests to the function as requested. Will make another PR here

[2020-12-18 20:46] kem0o opened #803 "Error handler triggers for an unknown reason."
I've been facing a weird issue with httplib lately, which as the title says, my error handler triggers for no reason
when the request is sent from a certain game client, using a REST client the request will result in the correct response

- Request sent with REST client
![image](https://user-images.githubusercontent.com/19430119/102658305-00349f00-4180-11eb-958e-7373bcb3087d.png)

- Request sent w

[2020-12-18 22:51] yhirose commented on #800
Closed by #801.

[2020-12-18 22:51] #800 closed

[2020-12-18 22:56] yhirose commented on #803
@kem0o, thanks for the feedback. I am not sure I can help you much since it seems difficult to reproduce it on my machine. But if "I've been facing a weird issue with httplib lately" said, does it start happening from a particular version of httplib.h?

[2020-12-18 23:21] ruipedromachado opened #805 "HTTPS client call"
Hello,

Might not be an issue at all so feel free to just disregard. More of a question really.

Found this solution searching for similar and got quite excited when I saw that supported HTTPS?

![image](https://user-images.githubusercontent.com/45498752/102670865-522cf300-4187-11eb-8479-b4ccc32fcd56.png)

So after adding the .h file to my project and making the example call:

![image](https://use

[2020-12-18 23:45] kem0o commented on #803
i started using this library since about 3/4 days (switched from boost beast) but never got this issue (had debugger on all the time or just used any REST client instead of launching the game), so the answer is no; im on the latest release since i started using it; is there any way to know what exactly occurs the error?

[2020-12-19 00:26] yhirose commented on #805
@ruipedromachado, could you take a look at [here](https://github.com/yhirose/cpp-httplib#openssl-support) in README?

[2020-12-19 00:26] #805 closed

[2020-12-19 05:47] portsip opened #807 "Rating limits"
Hi, it's a great library, but could you please add the rating limits feature that silences to reject the request if the request is exceeds rating limits?

Thanks!

[2020-12-19 06:08] kem0o commented on #803
so I've fixed the issue, can't really blame this amazing lib but maybe you can add a fix in the server-side for it to prevent this from happening in the future,
- Explanation:
so basically redirecting the game is some hacky stuff (in memory) that parses the original URL then recrafts a URL for my server.
for memory sake, we extend the URL to match the original URL length to prevent any buffer size

[2020-12-19 14:50] fs-c commented on #792
Thanks a lot for the QR code idea, I'll look into implementing something like that. (I actually had a matchmaking server running already but it's not currently viable for other reasons... so I figured I'd just display the users local address and they'd be able to input it themselves. QR codes are obviously much more convenient than that for the average user.)

Good suggestion, but I absolutely don

[2020-12-19 15:53] yhirose commented on #803
@kem0o, thank you for the detail. I now understand what you are talking about. It's pretty easy to solve your issue, but I am not sure if it's a correct thing to do according to [the HTTP](https://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html) spec below:

![image](https://user-images.githubusercontent.com/357397/102693134-4e7c8900-41e6-11eb-8c4f-073dd4218aa1.png)

It says the separator between `

[2020-12-19 16:36] kem0o commented on #803
as you said the generated URL is invalid according to the spec, as it's not actually generated directly from cURL lib, it's a hooked function and the URL was extended for buffer's sake, so yeah this shouldn't happen in normal cases; I tried digging in express.js but couldn't find anything about request-line parsing there; nevertheless, the invalid request still works with it, your investigation is

[2020-12-19 17:11] yhirose commented on #803
@kem0o, if you think it's a common behavior in popular http server libraries and they intentionally allow the behavior even if it doesn't comply with the HTTP spec, I am ok to follow their decisions as well. Please let me know when you validate it. Thanks!

[2020-12-19 17:22] yhirose commented on #807
@portsip, thanks for the feedback. It's a big thing and currently out of scope of this light-weight HTTP library. I think 'rate limit' can be done in various ways depending on what users want (Site level, API endpoint level, User session level, also strategies of recovery, and so on).

So it's too much for cpp-httplib to handle the rate limit feature as Nignx or other web servers do. But I may be

[2020-12-19 17:26] yhirose commented on #707
@yesvivek, I'll take a look at the post when I have time. Thanks!

[2020-12-19 17:27] yhirose commented on #786
@furkan-kara, could you answer the question above from @PixlRainbow?

[2020-12-19 19:06] #807 closed

[2020-12-19 20:46] PixlRainbow commented on #792
Because we have had users who paired electron for frontend with this library as a backend server, and some of them had some confusion over what features were http or browser compatible and which were features were provided out-of-band. And I was uncertain whether you were, sorry.

[2020-12-19 20:58] kem0o commented on #803
- I've done a quick search on the topic, and I found [this](https://tools.ietf.org/html/rfc7230) and on page 20 it says here (as I understood)
![image](https://user-images.githubusercontent.com/19430119/102699291-3f302680-424c-11eb-9d55-d3d31a8a01da.png)

That you should return a response status 400 in case of multiple whitespaces detection, found [this](https://ubuntu.com/security/CVE-2016-8743#:

[2020-12-19 22:31] yhirose commented on #803
@kem0o, thanks for the investigation and showing the newest RFC (RFC 2616 that I shoed is obsolete...).

Yes, I made the change a little while ago today at https://github.com/yhirose/cpp-httplib/commit/40db42108f4303057a0494710ab06c796bb60448.

Right. It will give an opportunity to attackers to cause a DOS attack with such a request containing millions of SP characters unless we set an appropriate

[2020-12-19 22:31] #803 closed

[2020-12-19 23:07] yhirose commented on #707
@yesvivek, I tried with `svr.set_tcp_nodelay(true)` in `example/hello.cc`, but it doesn't help and the keep-alive is still slow... But anyway, the keep-alive result on Apache is also slow which means cpp-httplib behaves in the same way as Apache on my machine...

[2020-12-20 01:16] #538 closed

[2020-12-20 01:21] yhirose commented on #501
@guteksan, since I don't hear from you a while, I'll close it for now since the version cpp-httplib is not pretty old, and the benchmark may not reflect the current performance of cpp-httplib.

[2020-12-20 01:21] #501 closed

[2020-12-20 03:44] mikzyy opened #808 "solved"
solved

[2020-12-20 03:45] mikzyy commented on #808
if this isn't the correct lib to use for reading websites with raw text, what lib should i use instead?

[2020-12-20 06:29] #808 closed

[2020-12-22 02:19] zacario-li commented on #387
love you bro.

[2020-12-22 19:35] asfarley opened #809 "Why doesn't POST work when my URL has an http:// prefix?"
I'm having trouble understanding why a POST request doesn't work. My code:

[code]

I'm finding that `res` is empty if I use the following URL:
`http://ec2-34-222-30-114.us-west-2.compute.amazonaws.com/`

But it works if I remove the http:// prefix and the trailing /:

`ec2-34-222-30-114.us-west-2.compute.amazonaws.com`

Testing against my server, it appears to respond correctly even if there are

[2020-12-22 21:41] 00ff0000red commented on #678
You may be interested in *at least* using [inja's approach](https://github.com/pantor/inja#supported-compilers) to this.

I for one, heavily use `std::string_view` (well `std::wstring_view`), and would be interested in an API that directly uses them.

[2020-12-23 04:59] PixlRainbow commented on #809
Technically, the trailing slash IS a route. It is `/` which is web root.
It should work if you do not include the trailing slash, even if you include the protocol prefix.

[2020-12-23 11:26] furkan-kara commented on #786
Sorry for the late reply. We determined that the problem is not caused by the library but by the device. This device gives an SSL error after running with curl for a while.

[2020-12-23 11:26] #786 closed

[2020-12-23 12:09] yhirose commented on #809
The `Client` constructor takes a domain name which can also take a scheme prefix with `://`. In other words, it's not `URL`. So we shouldn't put a trailing slash. Hope it heps.

[2020-12-23 12:09] #809 closed

[2020-12-23 22:30] ZmoOag opened #810 "SOURCETABLE 200 OK issue"
Hi,
I code a NTRIP client for RTCM correction with a get request and I have a res.error()=4.
After investgation, I think it's because to "SOURCETABLE" word before "200".
It's funny, because the library works with only this URL :
http://rtk2go.com:2101
But not with some other like :
http://caster.centipede.fr:2101
My code :

	void ntrip_roscore::run() {
	    ros::Rate update_rate(10);
	    int cont

[2020-12-24 05:18] PixlRainbow commented on #810
Although NTRIP is *based on* http, it is not fully compliant with http, and thus is not compatible with http clients designed to stick to specifications.
The reason the first server works is because it can check for client NTRIP compatibility and wrap it's own NTRIP response in a http compliant response as needed. The second server does not do this. You can check by visiting the sites with a web b

[2020-12-25 18:38] yhirose commented on #810
@PixlRainbow, thanks for the comment.

[2020-12-25 18:38] #810 closed

[2020-12-25 18:40] yhirose commented on #707
I concluded that this could happen with any kind of HTTP server depending on a network environment. I'll close it for now because I have the same exact behavior in the Apache on my machine. When I get more proof that could help me to reproduce this problem, I'll work on that.

[2020-12-25 18:40] #707 closed

[2020-12-26 04:20] jllobvemy opened #812 "error: missing space between ‘""’ and suffix identifier"
CentOS Linux release 7.8.2003 (Core) gcc 4.8.5

there is an error:
httplib.h:2185:14: error: missing space between ‘""’ and suffix identifier
using udl::operator""_;

just add a space in line 2185, it works

this error doesn't accur in ubuntu and Windows

[2020-12-26 10:00] jllobvemy commented on #812
it might be because of the compiler, use the lastest compiler will not have this error.

[2020-12-26 10:00] #812 closed

[2020-12-26 10:00] jllobvemy commented on #812
it might be because of the compiler, use the lastest compiler will not have this error.

[2020-12-27 19:04] 00ff0000red opened #813 "Middleware-like usage?"
Is there any way that I could set up a handler that just intercepts all requests, sends some headers or something, and returns, moving on to the handler for that specific URL?

Or will I have to set up the function calls myself?

[2020-12-29 03:01] yhirose commented on #813
@00ff0000red, thanks for the feedback, but I don't quite understand what you are asking for. Could you explain it more clearly? Thanks!

[2020-12-29 03:14] SSongSShuai opened #814 "Error when running in QTCreator"
I'm doing a function of controlling sensors through HTTP protocol on QT.
But after I use the library, it seems that the Winsock2.h function in httplib.h can't be included accurately.
It will report an error as follows：

error: undefined reference to `_imp__closesocket@4'

[2020-12-29 03:21] SSongSShuai commented on #814
I'm sure I include winsock2.h,but it seems that the functions such as"closesocket()","select()""getsockopt()"and others doesn't work.
Thanks :)

[2020-12-29 03:25] SSongSShuai commented on #814
add LIBS += -lWs2_32 in pro file can solve this problem.

[2020-12-29 03:25] #814 closed

[2020-12-29 11:55] PixlRainbow commented on #813
Something like `set_logger` but not const and runs before the path-specific handler instead of after.

[2020-12-29 15:47] yhirose commented on #813
@PixlRainbow, thank you for helping me understand the issue.

@00ff0000red, I experimentally made the following methods in `middleware` branch:
https://github.com/yhirose/cpp-httplib/pull/816/files

[code]

Do these satisfy your needs?

[2020-12-29 16:49] 00ff0000red commented on #813
Yes, that describes it well! My partner and I were using the library for HTTP, but eventually, we realized that we were going to need a server that provides middleware methods. Actually, I don't even know what it's called, or if "middleware" is the correct word for it.

My partner suggested that the lib has loggers, but it didn't fit our use case.

My use case:: generally I like to prevent/redirec

[2020-12-29 17:23] Yrds commented on #813
So instead `pre_routing_handler -> regular handler(Response to client happen here) -> post_routing_handler(called normally)`

You want be possible to `pre_routing_handler(Response to client can happen here) -> regular handler(Can be never called) -> post_routing_handler(called normally)` by some logic in `pre_routing_handler`

Something like this?

[2020-12-29 18:17] 00ff0000red commented on #813
Oh, I meant just to break the entire chain, ex:
[code]

What do you think would be a sensible API though? I guess someone might want control over both situations?

[2020-12-29 18:33] 19wintersp commented on #813
Could it be made an option to just call `res.end()` (or some other method) at any point to break the chain?

[2020-12-29 20:02] Yrds commented on #813
[code]

In this example if you send `http://localhost:8080/test` will call a generic handler from Middleware class, but if you send `http://localhost:8080/test?validParam` then will call the `regularHandler` normally.

Of course this middleware class is very simple and can be extended but i made it quickly just do demonstrate the behaviour.

Something like this but for a global entire `Server` (or

[2020-12-29 23:00] 00ff0000red commented on #813
@Yrds' Example is good, but do you want that in the library itself, or should someone just make a wrapper around the library that does that? Seems like it could be a major change, and it would require a good deal of tests to make sure everything is working as intended.

[2020-12-29 23:14] Yrds commented on #813
Yes i meant something through the library API, i am not sure how `Server::routing` works but it's a good idea investigate if is a good idea for implement this behavior in this part of code or add the capability of interrupt the request in `pre_routing_handler`.

[2020-12-30 00:40] 00ff0000red commented on #813
Also, not sure about explicitly calling `next`, since each call would consume stack space, unless the compiler optimized into return calls (and platform support). Boolean returns might be better.

[2020-12-30 15:26] Fuatnow opened #817 "Expression: c >= -1 && c <= 255"
[code]

I'm a chinese. When i use chinese char ， this error has appeared。

I found this mistake in `encode_query_param` function.

I have replaced `for (char const &c : value) `  to `for (unsigned char const &c : value) ` . Now，it works fun.

[2020-12-30 15:34] yhirose commented on #813
@00ff0000red, I thought you just need opportunities to modify request/response objects before processing a request or sending a response. So the pre/post_request handles are not meant to handle chaining of request path matching.

I now understand what you are trying to do in your project. I'll ponder over it to find an effective way to implement the 'routing middleware' feature without breaking th

[2020-12-30 15:40] yhirose commented on #817
@Fuatnow, thank you for the report.
@Yrds, it seems like this bug is introduced by #801. Could you take a look at it? Thanks!

[2020-12-31 00:48] Yrds commented on #817
Hi @Fuatnow i did some tests, including your example code and i can't reproduce your error, i am tring to figure out what is causing this.

Which line is causing this error?

Also code already have static_cast to unsigned char(when the encode is made) in this lines:

[code]

Tests that i made and all passed:

[code]

[2020-12-31 01:56] Fuatnow commented on #817
HI,I do windows development. I use wstring convert to std::string. That error must appear.
Please use this code snippet for test.
[code]

[2020-12-31 02:10] 00ff0000red commented on #813
That does cover half of what I do, like I had said, just setting headers to all incoming requests, but the other part of it, chaining, isn't covered. So, they are still helpful,

If you decide that you don't want to try this, for whatever reason, the pre and post handlers would still prove to be very helpful.

[2020-12-31 04:43] Brittank88 opened #819 "Multitude of Errors When Including httplib.h"
Hi there! I'm somewhat new to C++, so I really hope my problems are not something simplistic I've missed.

I've been reading around for the past 2-3 hours attempting to solve this on my own, however, I have come no closer to understanding why so many errors appear within `httplib.h` (as well as a single error in `std_function`, which is concerning).

I'm running on `Windows 10 Pro 64-bit (Build 19

[2020-12-31 15:20] yhirose commented on #817
@Fuatnow, could you show @Yrds the actually error message that you got on your machine? It seems your information isn't enough for him to investigate. Thanks.

[2020-12-31 15:22] yhirose commented on #819
@Brittank88, thanks for the feedback, but I don't have time to help someone's projects... Could you give me a smallest possible code example to reproduce it? Thank you for your consideration.

[2020-12-31 15:26] Fuatnow commented on #817
![image](https://user-images.githubusercontent.com/5172503/103416002-907ed500-4bbf-11eb-996c-5407b7eb2763.png)

[2020-12-31 15:28] yhirose commented on #817
@Fuatnow , thanks! I am sure now that this is caused at the `std::isalnum` call.

[2020-12-31 15:51] Brittank88 commented on #819
I totally understand - I'm sure you are quite busy!! I was mainly wondering if you knew of any existing gotchas/incompatibilities with VSCode, MinGW or Windows, for example, that could be causing my issues.

The set of errors will occur with literally only the line `#include "httplib.h"` present:
![image](https://user-images.githubusercontent.com/24266948/103416791-435d2c00-4bdc-11eb-94ef-0a040c4d

[2020-12-31 15:55] Fuatnow commented on #817
Ok. May be the `std::isalnum` function's param in round [-1,255].I do a breakpoint, the char value is -26.

![WechatIMG421](https://user-images.githubusercontent.com/5172503/103416760-fcaf0800-4bc2-11eb-9c9f-3b780df21343.png)
Hope that is useful to you.

[2020-12-31 16:00] #817 closed

[2020-12-31 16:00] yhirose commented on #817
@Fuatnow, I just fixed it. Thanks for the report.

[2020-12-31 16:04] yhirose commented on #819
@Brittank88, "`std::tread` has not been declared" tells that you are not compiling with C++11. Or, your include directory setting isn't set properly. It's not a problem of httplib.h, but just compiler setting. Hope it helps.

[2020-12-31 16:04] #819 closed

[2020-12-31 16:19] Brittank88 commented on #819
Yeah, it's very likely on my end rather than yours. Thanks for pointing me in the right direction though, and being patient!

Happy developing. c:

[2020-12-31 21:41] 00ff0000red opened #820 "Error handler DataSink sends extra data after every <<"
I've had been using a few libraries for a server when I realized two things: the error handler is incredibly slow to start, and I'm noticing extra characters being output to the stream.

I know my code inside the error handler executes blazingly fast with little memory usage.
I know what the stream should send.

I directed my output to following:
* a file output stream
* an terminal output stream

[2020-12-31 22:01] yhirose commented on #820
@00ff0000red, thanks for finding the bug! I actually didn't think of the situation where the content provider is used in an error handler...

[2020-12-31 23:14] #820 closed

[2020-12-31 23:47] yhirose commented on #813
@00ff0000red, could you check the latest httplib.h in the middleware branch?

I added `bool` return value to `pret_request_handler`.
https://github.com/yhirose/cpp-httplib/blob/2099c475f9e6d92a241de13aa14599ef55372a4e/httplib.h#L600

So you could do like this:
[code]

This is obviously not as powerful as the express.js router middleware. But I think it can satisfy all your needs and it doesn't req

[2021-01-02 00:56] 00ff0000red commented on #813
it seems like it'll be all that I need, it fires before every request, it takes a single function, therefore preventing my current duplicate code, and can prevent moving forward to the normal handler. Although I was thinking of the boolean return value in the opposite way, the return value would decide whether or not the function chain should continue being called, whereas yours means whether it w

[2021-01-03 16:45] 00ff0000red opened #821 "Cannot redirect after sending content"
I'm not sure if it's part of how HTTP works, or if it's the library, but after sending some content (ex: `DataSink.os <<`), attempting to redirect via `Response.set_redirect` has no effect, is this a bug?

Example reproduction:
https://repl.it/@xxpertHacker/bug-proof

[2021-01-03 20:23] yhirose commented on #813
@00ff0000red, thanks for the confirmation.

I was initially thinking of removing the current API completely when introducing the new API, but it seems like a number of other projects now depend on this library. So I would rather freeze the existing API instead of removing it, so that the change won't affect those projects and give users time to migrate to the new API. But I'll make any additional

[2021-01-03 20:27] yhirose commented on #821
@00ff0000red, thanks for the report. It seems to be a bug, and I'll look into it. (As a matter of fact, I have never tested `set_redirect` with content providers as you can see in `test/test.cc`...)

[2021-01-03 20:31] 00ff0000red commented on #821
Ha, I might send a few more bug reports about how content_providers interact with everything since I'm exclusively streaming all data from the server (e.g. no .set_content).

[2021-01-03 20:36] 00ff0000red commented on #821
Oh, just figured out the sending HTTP headers seem to not work from within chunked provider callbacks, I just moved the sending of the headers outside of the callback.

[2021-01-04 12:36] PixlRainbow commented on #821
Yes, because the chunked provider callback is executed very "late" in the response processing pipeline as it's primary purpose is to write response body, while headers are written almost immediately after the request handler exits.

If you were allowed to set headers in content provider callback, we would have to guard against headers being written after a previous call to the callback had already

[2021-01-04 12:54] PixlRainbow commented on #821
Update: `set_redirect` will set the `"Location"` header, and we cannot write headers after we have already begun sending the response body to the client.

[2021-01-04 13:13] PixlRainbow commented on #821
Update after reading your code:
[code]
The call to `set_redirect` will attempt to set the `Location` header, but the HTTP protocol does not permit headers to be written after the response body has already been sent to the client.

[2021-01-04 20:30] 00ff0000red commented on #821
This was what I was thinking, that this is just how HTTP works, thank you for confirming!

[2021-01-04 20:31] #821 closed

[2021-01-05 08:43] crab-in-the-northeast opened #822 "GET doesn't work when running simple example client"
My code:
[code]
I found the `res` is empty and it throws a "Connection failed" exception. I tried visiting `https://cpp-httplib-server.yhirose.repl.co/hi`, and it responded properly.

I'm wondering why is the result of GET empty.

(English isn't my mother tongue, so sorry for my inexplicit expression.)

[2021-01-05 09:05] crab-in-the-northeast commented on #822
[code]
And this code has the same error.

[2021-01-05 09:08] crab-in-the-northeast commented on #822
When I remove the protocol prefix, it works properly!

But I am still wondering why `res` is empty in the two situations above.

[2021-01-05 09:13] crab-in-the-northeast commented on #822
How can I make the code works properly without removing the protocol prefix? Any help will be much appreciated!

[2021-01-05 15:53] 00ff0000red commented on #813
@yhirose Works just fine!

[2021-01-05 18:43] 00ff0000red commented on #813
Update: doesn't work at all, server starts then stops instantly, I'll try to repro.

[2021-01-05 20:24] Yrds commented on #822
This is strange. I've tested your code snippet and it working properly.

Code:

[code]

How are you trying to access `res` content?

[2021-01-05 21:17] ecleeEEL opened #824 "Object Storage S3 Usage"
Hi i found a couple issues i had to "hack" around to get it to work for my application.  I'm working on some object storage relay.  One issue is that S3 DELETEs respond with 204, no response.  The httplib would hang until request timeout as it was waiting to process response bytes where there are no bytes to process.  I've submitted a pull request for this.

https://github.com/yhirose/cpp-httplib/

[2021-01-05 21:55] yhirose commented on #824
@ecleeEEL, thank you for your fine contribution. The pull request looks file to me. Only thing is that I always ask contributors to provide unit tests for the changes. Could you provide a simple unit test case for this change? Thanks!

[2021-01-06 00:28] yhirose commented on #822
Are you using the latest httplib.h?

[2021-01-06 01:42] crab-in-the-northeast commented on #822
Yes, I'm sure I'm using the latest version.

[2021-01-06 01:47] crab-in-the-northeast commented on #822
Thank you for testing! When I access `res` content, it gave back a `segmentation fault` error and the code stopped working.

[2021-01-06 01:56] crab-in-the-northeast commented on #822
Now when I run the code with https:// protocol prefix, it keeps throwing an exception, but now it throws another one: `'https' scheme is not supported.`

[code]

[2021-01-06 03:11] crab-in-the-northeast commented on #822
Now compilation error:
[code]

[2021-01-06 04:17] Yrds commented on #822
Can you test again defining `#define CPPHTTPLIB_OPENSSL_SUPPORT` before including `httplib.h`?

I had this error too but i don't know if its a lib thing or the build system i use(meson)

[2021-01-06 04:22] crab-in-the-northeast commented on #822
Thank you! It helps! When I define that before including `httplib.h`,  another error occured. But I don't think this error is related to `httplib` but another project.

Thank you and yhirose!

[2021-01-06 04:22] #822 closed

[2021-01-06 05:52] PixlRainbow commented on #824
What do you mean? httplib already handles binaries. Despite the name, `std::string` is not merely for human-readable strings. It is merely a wrapper around `char*` that provides extra ease of use functions.
C and C++ makes no distinction between text or binary byte data, representing both as arrays of bytes aka `char*`.

[2021-01-06 17:33] ecleeEEL opened #826 "Generic Binary"
What do you mean? httplib already handles binaries. Despite the name, `std::string` is not merely for human-readable strings. It is merely a wrapper around `char*` that provides extra ease of use functions.
C and C++ makes no distinction between text or binary byte data, representing both as arrays of bytes aka `char*`.

This is copied from issue 824.  This is a new issue to discuss why generic bi

[2021-01-06 17:39] ecleeEEL commented on #826
Attaching pull request with the hack I made to get a generic byte buffer to work through http client.  Not knowing the full scope of how the library was created, i didn't want to break pre-existing apis, so i hacked in another overloaded Put method.

Ideally as @PixlRainbow mentioned, my c background would pass in a char * and a size_t indicating buffer length, and then the PUT would handle anythi

[2021-01-06 17:40] ecleeEEL commented on #824
@yhirose Yes i will look into adding a unit test.

[2021-01-06 17:42] ecleeEEL commented on #826
i will add this. maybe there is a more elegant c++ way to do this.  My experience in c++ pre-dates c++ 11, so it's always a lot of fumbling around to figure how to do things in c++ in industry-standard ways.

[2021-01-06 18:40] sharatk commented on #826
A std::string can be constructed with embedded null characters and will work well unless you are relying on c_str(). Perhaps there was some other reason why byte buffer failed. I have used PUT with binary data and it works fine.

[2021-01-06 18:48] PixlRainbow commented on #826
you can just construct an `std::string` with two parameters (pointer and size) instead of one.

[2021-01-06 20:45] ecleeEEL commented on #826
Ahh.  Thank you guys for the helpful responses.  I think the problem I encountered was on the application side with the string constructor and not using the constructor with the explicit length specified.

Still wondering what are the benefits of using std::string in place of a char array for this implementation.  It seems the main benefit is the size is stored together and an extra parameter is u

[2021-01-07 03:50] yhirose commented on #826
@ecleeEEL, as @PixlRainbow said, `std::string` can be used to store binary data with no problem though, I understand benefit of `char*` interface as well. But `const std::unique_ptr<char[]> &` isn't a good idea.
So I just added the pure `const char*` and `size_t` interface at https://github.com/yhirose/cpp-httplib/commit/ddf41d29efef0e5b10ee3a43da9ec84ac8f13cb1, so that we can pass whatever data t

[2021-01-07 03:50] #826 closed

[2021-01-07 03:50] yhirose commented on #813
@00ff0000red, any update?

[2021-01-07 05:56] PixlRainbow commented on #826
@ecleeEEL it also performs automatic copying and space allocation as well as utility features like concatenation. Also, unlike `char*`, `std::string` implements `hashable` so it can also be used directly in an `std::unordered_map` aka hash table

[2021-01-07 07:08] 00ff0000red commented on #813
I tried to reproduce the next day in a simple, isolated project, couldn't do it.
It is possible that there was something else going on in my code, I'll try to pin it down tomorrow, I hadn't edited the server's code at all today.
Sorry, for the late response.

[2021-01-07 12:48] vshishov commented on #824
@ecleeEEL I am working on some object store relay and am using httplib too. I posted an object from multipart form-data, but I have a problem with getobject and sending to client multipart. Please, let me some examples how to get big object from S3.

[2021-01-07 18:46] ecleeEEL commented on #824
@vshishov Hi, our use-case only has objects <10MB, so i haven't tried using client multipart.

[2021-01-07 19:50] PixlRainbow commented on #824
@vshishov see: [content providers and content receivers](https://github.com/yhirose/cpp-httplib#receive-content-with-a-content-receiver-1)

[2021-01-07 20:05] 00ff0000red commented on #813
Okay, today I copied my code to begin breaking it apart to find the source, but it worked right away, so I don't know what was wrong.
The same source code gave different results, maybe it was my build process?

I guess this is safe to merge, the pre_handler seemed to work fine (so far).

[2021-01-07 23:41] yhirose commented on #813
Implemented by #816

[2021-01-07 23:41] #813 closed

[2021-01-09 22:29] 00ff0000red commented on #678
I've almost only using std::string_view when interacting with the lib, but it doesn't always work out too well.
Built-in support would help.
I was about to try to update the c++17 branch to use std::string_view in place of char* everywhere but to start, it would need to be rebased from the master.

@yhirose Would you be okay with that? Could you update the branch to be even?

[2021-01-10 18:04] yhirose commented on #678
@00ff0000red, my plan is to **freeze** the existing methods for existing users, and add much fewer methods using C++17 capability. The `cpp17` is just a proof of concept, and I am sill finding an appropriate way for C++17 support. So this branch is not going to be merged anytime soon. Sorry about that...

I have recently added methods taking `const char*` and `size_t` at https://github.com/yhirose

[2021-01-10 19:10] 00ff0000red commented on #678
Aww, I wanted to help get a start on the C++17 branch and get things going, but okay, it might do for now.

[2021-01-12 07:02] tgq05459 opened #827 "proxy with current user credential"
hi
please add feature that uses proxy NTLM auth with current user credentials(with 2 type with and without(current cred) user and password)

[2021-01-12 14:13] yhirose commented on #827
@tgq05459, thank you for the feedback. I am not planning to add the NTLM auth support at this point, because I don't have the environment. You are very much welcome to send me a pull request including code and unit test. Thanks!

[2021-01-12 14:13] #827 closed

[2021-01-12 14:14] yhirose commented on #824
@ecleeEEL, any update?

[2021-01-13 13:17] omjego opened #828 "Adding config parameter for thread pool count"
Currently the server uses `CPPHTTPLIB_THREAD_POOL_COUNT` macro to set number of threads which can be used to process the requests.
Is it possible to include this count as part of server configuration.

Something like,
[code]
Is there any benefit of using macro over simple config variable?

[2021-01-13 13:21] yhirose commented on #828
@omjego, thanks for the feedback. I have already answered the question before.
Please see https://github.com/yhirose/cpp-httplib/pull/652. Hope it helps.

[2021-01-13 13:21] #828 closed

[2021-01-13 16:23] ecleeEEL commented on #824
No update, i'll try to get this completed by end of week

[2021-01-13 18:52] ecleeEEL commented on #824
Added test, one check failed on macos  but worked on my macos laptop.  I don't think it's related to the change made.

[2021-01-13 22:52] yhirose commented on #824
@ecleeEEL, thanks for your fine contribution! The PR has been merged.

[2021-01-13 22:52] #824 closed

[2021-01-14 15:43] mmoelle1 opened #829 "Please help with cli.Post("/post", headers, params)"
First of all, thank you very much for making this code available to the public.

I tried to include the library into a code that communicates with the IBMQ website via the REST API and get stuck at the authentication phase. I would like to transform the following command (issued from a Linux terminal) to httplib:
[code]
I tried to adapt the `client.cc` code as follows (without success):
[code]
I a

[2021-01-15 08:07] PixlRainbow commented on #829
you have interpreted the README incorrectly. Please exclude the path from the hostname parameter and move it to the parameter of the actual post request.
Aka instead of
[code]
do
[code]
You are getting error code 2 because you have provided an entire URL as a hostname and DNS cannot resolve a domain name containing slashes, so it cannot connect.

[2021-01-15 11:01] artemshadrunov opened #830 "How to log request params if I use method with content reader?"
Hi!

I am trying to setup logging of my requests to save params of request. It's ok when i use methods Get\Post with parameters `(const char *pattern, Handler handler)`. But I noticed that Get\Post methods with parameters `(const char *pattern, HandlerWithContentReader handler)` clear `params` field in `Request` object. Other words `Request` object already has no `params` inside when it comes to r

[2021-01-15 12:04] mmoelle1 commented on #829
Thank you very much. With the suggested change and some more it now works. One thing that is still unclear is the proper use of `headers` and `params`. The following code where I explicitly pass the XML code as a string is working:
[code]

I also tried to achieve the same using `headers` and `params` without success:
[code]
This yields the error (response from the server):
[code]

Isn't `headers`

[2021-01-15 14:00] PixlRainbow commented on #829
No. `params` does not form the body into a json format. That is the responsibility of the application. We only handle the base http protocol. Use a different library like jsoncpp if you want to construct json.

`params` constructs a body following the standard http url-encoded form submit format (if using `httplib::Params`) or the multipart form submit format (if using `httplib::MultipartFormDataI

[2021-01-15 21:40] mmoelle1 commented on #829
Thank you very much. All works fine now.

[2021-01-15 21:40] #829 closed

[2021-01-16 13:37] yhirose commented on #830
@artemshadrunov, thank you for the feedback. Could you show me a code snippet that can reproduce the problem?

[2021-01-18 09:03] al3ph opened #831 "Params option missing from client Get calls ?"
Hi,
Nice library :)

But it seems there is no support for passing Params using the client Get calls.

As far as I can tell this is a valid use of GET. Am I missing something ?

[2021-01-18 10:31] artemshadrunov commented on #830
Well, i realized that some of my requests don't send content in `params` they send it in as json with `application/json` header . My bad.
But the question about logging still actual. I can't see any content in any field in `Request` object but reader reads content from request successfully.
So how can I get access to content of my request inside logger handler if `set_logger` method takes handler

[2021-01-18 11:46] PixlRainbow commented on #831
Params refers to the html form POST formats, which can be either `application/x-www-form-urlencoded` or `multipart/form-data`. As GET requests should not have a request *body*, these Params cannot be used.

You are perhaps thinking of using URL-embedded parameters (where parameters are part of the path string)?

[2021-01-18 11:53] PixlRainbow commented on #830
The problem is that the logger runs *after* the request completes, but when a content reader is used, each chunk of data is discarded after it is successfully streamed to the remote client. This is because some users use content reader to handle extremely large data transfers, larger than can reasonably fit in memory, but it also means logger has no access to the content.

[2021-01-18 12:01] artemshadrunov commented on #830
This is sad but i always can store my data somewhere else after reading.
Thanks for quick response!

[2021-01-18 12:02] #830 closed

[2021-01-18 12:03] al3ph commented on #831
Yep, URL-embedded, does GET support passing them as a structure (like params), or do I manually have to build the string and url encode it.

ta

[2021-01-18 12:12] yhirose commented on #830
@PixlRainbow, thanks for answering the question!

[2021-01-18 13:26] 2020karaulov2020 opened #832 "Possible crash on Linux os ?"
[code]

I got crash with error :

[code]

**terminate called after throwing an instance of 'std::bad_cast'
  what():  std::bad_cast**

[2021-01-18 13:44] yhirose commented on #832
@2020karaulov2020, thanks for the report. Could you track down the problem, and provide me the smallest possible code snippet, so that I could reproduce the problem and eventually put it into `test/test.cc`?
Thanks in advance!

[2021-01-18 13:54] yhirose commented on #831
@al3ph, as you can see from the @PixlRainbow's comment, GET requests currently need URL-embedded parameters. I know it requires tedious work to concatenate query parameters on our side... If other libraries like curl support it and you think it's a reasonable enhancement, I am ok to look into it.

[2021-01-18 14:18] al3ph commented on #831
It'd be nice if it did handle it for you, not so much the concatenation, but the url encoding, or does that already happen when you pass the path string ?

[2021-01-18 17:29] PixlRainbow commented on #832
You appear to be using a mixture of standard C headers from different installations of gcc, with some headers from gcc 4.6.1 and some from gcc 8.x.x, but I'm not sure if this is contributing to the error.

[2021-01-18 17:45] demon36 commented on #380
sorry to bring this back up, just a thought here, the main advantages of this library is that the api is pretty easy to understand and it is very easy to include in another project, but with adding openssl to the picture with its dependency on perl and the prebuild scripts, the process of integrating cpp-httpib becomes a bit annoying. can the use of either botan or libressl help with this situatio

[2021-01-18 18:59] yhirose commented on #380
@demon36, thanks for the feedback, but I honestly don't know since I am not familiar to either library. Sorry about that...

[2021-01-18 19:14] yhirose commented on #831
@al3ph, you can see a number of examples of Get requests using the url encoding like the following:
https://github.com/yhirose/cpp-httplib/blob/8d9a477edb3e9ae962a9a7aeb20bf70b571093a1/test/test.cc#L367-L369

[2021-01-18 22:58] pabx06 opened #833 "Response.body is a string for binary file ie image ..."
any idea on how to get a byte data instead of a string.
i don't know how witch charset was used to decode it ...

[2021-01-18 23:14] yhirose commented on #833
@pabx06, please see the comment by by @PixlRainbow in https://github.com/yhirose/cpp-httplib/issues/824#issuecomment-755097175. Hope it helps.

[2021-01-18 23:14] #833 closed

[2021-01-19 04:10] 2020karaulov2020 commented on #832
crash at _auto res = cli.Get("/files/100mb.bin");_ with error **terminate called after throwing an instance of 'std::bad_cast'
what(): std::bad_cast**

Compiled with gcc 8.3 with _force_link_glibc_2.13.h_

Started at OS:
_Up : 451 days, 15:47:31. Ram/Free: 2560.0 MB / 1143.5 MB. CPU's:  40Sys: Linux. Host: vps. Release: 2.6.32-042stab136.1. Build: #1 SMP Fri Oct 11 11:36:17 MSK 2019. Arch: x86_64.

[2021-01-19 06:23] PixlRainbow commented on #832
Do you mean to say that simply having this code snippet, compiled on its own without other files, is enough to cause a crash?
[code]

[2021-01-19 13:58] yhirose commented on #832
@2020karaulov2020, it seems this is not a problem of cpp-httplib, but your build environment as @PixlRainbow mentioned in his first comment. It could be is due to the problem of regular expression in your C++11 runtime. Could try the following code on your machine?

[code]

It is supposed to show `HTTP/1.1:200:OK`. If the code gives you the same crash, your environment has something wrong.
That's

[2021-01-19 14:39] yhirose commented on #380
@demon36, I don't have time to work on those libraries though, pull requests are always welcome!

[2021-01-19 16:49] demon36 commented on #380
@yhirose taking the time to reply is much appreciated, also thanks for such a great library
@mwasplund do u have a recommendation for a TLS library that would make integration easier?

[2021-01-20 08:15] 2020karaulov2020 commented on #832
This code cause crash

[2021-01-20 09:26] zhongqingyang commented on #832
When I post a request and the target server drops the line, it will throw a signal: sigabrt (aborted) error

[2021-01-20 11:19] 2020karaulov2020 commented on #832
@yhirose
Line **const static std::regex re("(HTTP/1\\.[01]) (\\d{3}) (.*?)\r\n");** cause crash

[2021-01-20 12:10] PixlRainbow commented on #832
please see [this note](https://github.com/yhirose/cpp-httplib#g). The older stdlibs that you are linking against may contain a broken implementation of `<regex>`, even if you are using a newer compiler.

[2021-01-20 12:11] PixlRainbow commented on #832
@zhongqingyang please post a seperate issue, the bug is not the same as 2020karaulove2020

[2021-01-20 13:07] yhirose commented on #832
@PixlRainbow, thanks for pointing out the old compiler problem.
@2020karaulov2020, so I can't do anything for it... Could you just upgrade your compiler? Also could you give the exact version of gcc that you are using? I'll add it to [this not](https://github.com/yhirose/cpp-httplib#g) and close this issue. Thanks again for the report.

[2021-01-20 13:34] PixlRainbow commented on #832
@yhirose they are using GCC 8.3, configured to link against glibc 2.13 and other binaries compiled by GCC 4.6.1
The problem is he is writing a module for a game "Counter-Strike: Source" written by Valve Software which is closed-source and thus those older binaries cannot be recompiled

[2021-01-20 13:46] yhirose commented on #832
@PixlRainbow, thanks for the detailed info.
@2020karaulov2020, could you carefully take a look at @PixlRainbow's comments above. I'll close it.

[2021-01-20 13:46] #832 closed

[2021-01-21 01:11] zhongqingyang opened #834 "When I post a request and the target server drops the line, it will throw a signal: sigabrt (aborted) error"
I use gcc version is g++-7.5.0,Which version of g++ should I use to compile the library

[2021-01-21 22:12] yhirose commented on #831
@al3ph, I had to make a number of changes in `test/test.cc` after I added `Result Get(const char *path, const Params &params)`. https://github.com/yhirose/cpp-httplib/pull/835/files

It's because the compiler gets confused with `Result Get(const char *path, const Headers &headers)`. Here is an example:

[code]

I would like not to break any existing users codebase with this change.
So I'll ponder

[2021-01-22 12:30] martinpeniak opened #837 "Connection issues using SSL"
Hi guys,

Thank you very much for developing this amazing library. I am currently using version 0.8 from Conan: https://conan.io/center/cpp-httplib

I am running a server on arm device and client locally on x86 host. Everything works great until I start using SSLServer:

ARM SERVER:

		std::cout << "Initializing HTTPS client...";
		SSLServer svr("server_cert.pem", "server_key.pem");
		svr.Get("/hi

[2021-01-22 14:24] yhirose commented on #834
@zhongqingyang, this library basically supports C++11 compilers. But some compilers come with broken `std::regex` that cause sigabrt. Hope it helps!

[2021-01-22 14:24] #834 closed

[2021-01-22 14:27] yhirose commented on #837
@martinpeniak, in order to find the problem, could you run `cd test; make` to see if all the unit tests including SSL related tests can run successfully?

[2021-01-22 15:26] martinpeniak commented on #837
Many thanks @yhirose for the quick reply, I really appreciate your time. I got it working but I am not exactly sure how...
I am using Conan but when I checked out your repo and run the test then everything is passing fine:

I got some hints when I run the server and then queried it via curl:

curl: (60) SSL: certificate subject name '192.168.1.108' does not match target host name 'localhost'

[2021-01-22 15:37] 00ff0000red commented on #831
@yhirose
Maybe... introduce something new, like `Server::get_with_params`?
Doesn't sound ideal though.

[2021-01-22 17:17] 00ff0000red opened #839 "Invert set_pre_routing_handler return value semantics"
Currently, I feel like `Sever::set_pre_routing_handler`'s return value is inverted, especially when compared to how `Server::Get` and such operate.
`true` regularly means to continue the process, while `false` means to cancel it, but `set_pre_routing_handler` does the opposite; `true` cancels the process, `false` continues on to the "normal" handler.

Technicially, this would be a breaking change,

[2021-01-22 17:17] yhirose commented on #837
@martinpeniak, glad to hear that the problem is gone now!

[2021-01-22 17:17] #837 closed

[2021-01-22 18:16] yhirose commented on #839
@00ff0000red, in fact, I intentionally made the behavior. The content reader for `Get` could be called a number of times by chunk until all the incoming data is read. `true` from the reader means `please continue to get another chunk`, and `false` means `something happened, please stop sending remaining data`.

Instead, the pre routing handler is called only once. `true` simply means `the request

[2021-01-23 01:21] 00ff0000red commented on #839
@yhirose I think I understand the root of the problem, it's that booleans themselves don't have any semantic meaning on their own.

In a situation like this, I think that an enum would make much more sense, as it would attach a name to the value, and associate semantics with it.

I'm thinking something like so:
[code]

Updating the example in the README, we have this:
[code]

IMO, that makes that

[2021-01-23 05:23] 00ff0000red opened #840 "Using non-null terminated strings as URLs"
A good part of the library uses `char const*` and `std::size_t` pairs to determine how far ahead to read in the char buffer, but Server::Get doesn't. Could an overload be introduced, accepting a std::size_t as a second argument, determining the length of the string being passed as the URL?

Personally, I'm using a bunch of heap allocations and memcpy calls in order to create C-style, null terminat

[2021-01-23 05:33] 2020karaulov2020 commented on #832
@yhirose need add to compile command line : **-Wl,--exclude-libs,ALL**

This is fix for std::regex -> std::bad_cast

[2021-01-23 05:57] PixlRainbow commented on #834
He is experiencing a different error. Based on his description (which he did not copy), when the server drops the connection while the bufferstream is being written, the client will crash when the buffer is being appended, possibly due to invalid pointer or operation.

[2021-01-23 06:34] PixlRainbow commented on #840
I think some of the `std::string` interfaces have automatic appending of null terminator?

[2021-01-23 09:52] 00ff0000red commented on #840
@PixlRainbow Still causes an unecessary copy of the memory though.

[2021-01-23 13:46] yhirose commented on #831
@00ff0000red, we are talking about Client::Get, not Server.

[2021-01-23 16:24] DavideCoppola opened #841 "Send a request to another server inside a svr.Post"
Hello everybody, I'm using the library and I've created a server on a local URL listening on a specific port. This C++ server is in contact with my web app's  front-end running on Node.js and for this it server the front-end app! Now I've created another server written in Python and running on another port on my machine, so now there are two servers as part of my Back-End application.
I created ev

[2021-01-23 16:45] #840 closed

[2021-01-23 17:23] #831 closed

[2021-01-23 17:23] yhirose commented on #831
@00ff0000red, I ended up adding the following API which doesn't break any users' existing codes.

[code]

The only downside of this approach is that you have to pass `Hears{}` even if you don't add any extra HTTP header.

[code]

Hope you enjoy the new APi.

[2021-01-23 18:34] #839 closed

[2021-01-23 18:34] yhirose commented on #839
@00ff0000red, sounds very good. I implemented it. Thanks!

[2021-01-23 21:17] 00ff0000red commented on #839
@yhirose CI is failing, I'm checking it out right now.

[2021-01-25 01:33] PixlRainbow commented on #841
just create a `Client` or `SSLClient` object within the request handler, or alternatively you may make it a global object.

[2021-01-25 08:44] gc286339554 opened #842 "this code will throw "std::regex_error", in centos7 g++ 8.3.1"
const static std::regex re(
			"(GET|HEAD|POST|PUT|DELETE|CONNECT|OPTIONS|TRACE|PATCH|PRI) "
			"(([^? ]+)(?:\\?([^ ]*?))?) (HTTP/1\\.[01])\r\n");

[2021-01-25 11:00] DavideCoppola commented on #841
@PixlRainbow  Thank you very much, this was so useful for me, I appreciate your response. I'll try to create a Client object inside teh request handler like you mentioned. Thank you very much

[2021-01-25 11:58] #842 closed

[2021-01-25 12:00] gc286339554 commented on #842
make sure gcc > 4.8

[2021-01-25 12:44] leoknuth opened #843 "Params option missing for client Get calls ?"
Hi,

It is really a nice and convenient library.

But it seems there is no support for passing Params using the client Get calls.

As far as I can tell this is a valid use of GET. Am I missing something ?

Thanks.

[2021-01-25 12:48] leoknuth commented on #843
Forgive me. I just found the new branch get_with_params.
https://github.com/yhirose/cpp-httplib/commit/c8d6a860f492acba07427c4d40e5f9a0c3a869e8

[2021-01-25 12:48] #843 closed

[2021-01-26 18:01] #841 closed

[2021-01-27 09:50] al3ph commented on #831
Great, thanks!! I'll give it a spin.

[2021-01-27 11:15] okman334 opened #846 "There is a warning here."
there is a warning when compile with httplib.h.
Like this:
httplib.h:2479:9: warning: variable ‘ret’ set but not used [-Wunused-but-set-variable]

[2021-01-27 14:36] #846 closed

[2021-01-27 14:36] yhirose commented on #846
@okman334, thanks for the report!

[2021-01-27 16:30] aldoshkind opened #847 "Cusom HTTP methods"
Hi!
I would like to use HTTP methods other than currently supported by cpp-httplib. Particularly SUBSCRIBE is demanded.
Is there any opportunity to create some interface allowing to add handlers for custom HTTP methods?

Something like:
[code]

[2021-01-27 16:57] yhirose commented on #847
@aldoshkind, thanks for the feedback. I am not planning to add the routing handler support for custom HTTP methods at this point. But, you can do the same with [pre routing handle](https://github.com/yhirose/cpp-httplib#pre-routing-handler). Could you take a look at it to see if it satisfies your need?

[2021-01-27 17:02] yhirose commented on #847
@aldoshkind, it seems like the following code needs to modified to allow such custom methods...

https://github.com/yhirose/cpp-httplib/blob/78c474c744a2582ad18cb6d936ab9273fffc6350/httplib.h#L4383-L4386

[2021-01-27 17:57] aldoshkind opened #848 "SIGPIPE issue"
Hi @yhirose !
Today we faced SIGPIPE issue. I found several closed issues on SIGPIPE problem.
Comments in these issues say that problem is fixed, but I still suffer from SIGPIPE. I reproduced it on 3 machines, all of them are under Ubuntu 18.04.

My attempts to put `signal(SIGPIPE, SIG_IGN);` everywhere I can imagine didnt solve the problem.
Solution was to use MSG_NOSIGNAL as argument to send. I

[2021-01-27 18:02] aldoshkind commented on #847
@yhirose Thanks for rapid response! I'll check as soon as possible

[2021-01-28 04:09] yhirose commented on #848
@aldoshkind, you can provide flags with the following symbol.
https://github.com/yhirose/cpp-httplib/blob/78c474c744a2582ad18cb6d936ab9273fffc6350/httplib.h#L95

[2021-01-28 04:09] #848 closed

[2021-01-28 04:09] aldoshkind commented on #848
I found that my local copy of cpp-httplib was outdated and problem was solved in 6adf130bf3c5cc6dddbd378e44e08568eb148a36 by adding CPPHTTPLIB_SEND_FLAGS. Sorry for inconvenience.

But the second question is still pending. @yhirose please advice: how `EventDispatcher` should detect if client closed connection?

[2021-01-28 04:22] yhirose commented on #848
As you can see the above code, `is_writable` is used to detect it. It will end up calling this function:
https://github.com/yhirose/cpp-httplib/blob/78c474c744a2582ad18cb6d936ab9273fffc6350/httplib.h#L1802

This is actually kind of a general socket question. You can find much better explanation on web.

[2021-01-28 11:22] aldoshkind commented on #848
Yes, I have tried checking `is_writable`, but on my machine it always gives `true` and hence unusable. I think the fact that socket is write ready doesnt guarantee that the connection was not closed by opposite side.
Also,  even if it would guarantee that, socket may change its state between `is_writable` and actual write. Error in `write` leads to stop of calling thread, so `is_writable` will not

[2021-01-28 12:52] yhirose commented on #848
@aldoshkind, thanks for the explanation. I don't fully understand your solution with `resource_releaser`, because it's not meant for such purpose. This is to give a user a place where acquired resource can be released safely like C++ destructor.
Could you explain how you are able to detect closed socket in this way? Thanks.

[2021-01-29 09:00] nextfullstorm opened #850 "Post with ContentReceiver in Client"
Hi, is there any way to read POST response in chunks in Client? There is Client::Get with ContentReceiver, but no corresponding Client:Post, or at least I didn't find any. Sometimes it's useful to process data while reading it. My current task involves reading large POST response from another server and writing its chunks to response to Server::Get on _my_ server (REST API proxying with bells and

[2021-01-29 17:15] damienhocking opened #851 "Using custom certificates to make https connections"
Hi, I'm trying to connect to a RavenDB server through its REST interface. Our security on the DB requires a custom client certificate. We can connect using curl, with the keys as:

curl --cert dbkey.crt --key dbkey.key -X GET https://db.server.url:xxx/yyyy

I'm trying to do the same thing withh cpp-httplib and set_ca_cert_path(...). It's not working, I can connect with various root ca files but fa

[2021-01-29 18:14] yhirose commented on #851
@damienhocking, I don't fully understand what you are trying to do though, `--cert` and `--key` have nothing to do with a CA file, but they are for client certificate and its private key.

You can use the 2nd constructor of `Client` below to set your client cert and private key:

[code]

Please let me know if I misunderstand what you are doing. Thanks!

[2021-01-29 18:19] yhirose commented on #850
@nextfullstorm, thanks for the feedback. I haven't implemented the method. (I have implemented only methods that are need in my projects, otherwise number of all the possible methods will be huge...)

If it's a pretty common usage and many others can benefit from it, I don't mind adding it.

[2021-01-29 18:23] damienhocking commented on #851
Ah, that might be what I need, I'm not that experienced in SSL (in case that's not already obvious...). I'll try this, if it works I'll post back and close this. Thank you.

[2021-01-29 20:42] damienhocking commented on #851
Yes, this was it, it works. Thank you for the very fast help.

[2021-01-29 20:42] #851 closed

[2021-02-01 07:20] aldoshkind commented on #848
I use SSE to notify clients on some events. Notifications should not be lost, so I have queue for each client. If client shuts down connection I have to close corresponding queue (otherwise it will grow infinitely) and release other resources.
So solution with `resource_releaser` looks appropriate for the task.

[2021-02-01 11:26] sashabel opened #852 "sent bytes count"
Hello, I have a **question**,
is there a way to get sent bytes count or to evaluate it prior sending ?

[2021-02-01 13:17] yhirose commented on #852
@sashabel, could you give me more detail?

[2021-02-01 13:28] sashabel commented on #852
Thanks for your fast reply.
Yes, of cause. In my application I want to set maximum bandwidth [bits per sec], (not number of commands). For that I wanted to aggregate bits count I've sent every cycle. How can I get the bytes length of the sent command from the client ?
(I also use compression so I need the actual count that was sent)

[2021-02-01 16:45] yhirose commented on #852
@sashabel, I guess the content receiver could work.
https://github.com/yhirose/cpp-httplib#receive-content-with-a-content-receiver

[2021-02-01 18:21] sashabel commented on #852
@yhirose, I am interested in the sender (not the receiver), specifically the exact bytes count in the egress message (after content compression). Can you please explain how can I use suggested solution ?

[2021-02-01 19:40] yhirose commented on #852
@sashabel, if you are talking about a client sending data via POST or PUT, you can use one of the followings.
https://github.com/yhirose/cpp-httplib#send-content-with-a-content-provider
https://github.com/yhirose/cpp-httplib#chunked-transfer-encoding-1
`offset` tells you how much data has been sent to the server so far. Hope it helps.

[2021-02-02 06:20] sashabel commented on #852
@yhirose , thanks. But my command is built from single part, so the offset is 0. The code I used is:
[code]

The "Content-Length: 289" in the sent message()after compression). I am interested to get the 289+Headers (after or prior sending)

[2021-02-02 07:16] PixlRainbow commented on #852
we don't count the TCP and IP headers at all, because those are handled by the API of the host OS. We do not know what the host OS will try to do, although it may be possible for us to pull in some extra system calls to check.

[2021-02-02 07:20] sashabel commented on #852
@PixlRainbow, thanks. Well, the size is useful for me even without these headers (They are pretty same length and I can evaluate them).
Does it make sense to add transmitted bytes size to `httplib::Result` class ?

[2021-02-02 10:15] PixlRainbow commented on #852
You could just rewrite your callback to write a smaller number of bytes to the sink. You do not necessarily need to use the callback's `length` parameter as-is. Afaik the sink will respect the length parameter passed to the `write` call even if it is not the same as the one passed to the callback, and the offset will be incremented accordingly.

[2021-02-02 10:22] PixlRainbow commented on #852
@yhirose I think they mean to say that the `offset` and `length` passed reflects the uncompressed data, after httplib performs gzip compression the size is different

[2021-02-03 03:10] #852 closed

[2021-02-03 03:15] yhirose commented on #852
@sashabel, it's difficult to add actual sent byte size to `Result`. But adding request headers isn't very hard, So I implemented it. You can now get Content-Length from `Result`.

https://github.com/yhirose/cpp-httplib/blob/b7566f6961275f465638ac6e80e861e7707a5a5c/test/test.cc#L2631

[2021-02-03 05:45] sashabel commented on #852
@yhirose , works perfect.

**Thanks a lot!**

[2021-02-04 18:15] crackwei opened #853 "Compile error with ssl support on visual studio 2017"
it's a great library. i try to use it in my project. as i test, without ssl support, it can be work good. but once i open ssl support with "CPPHTTPLIB_OPENSSL_SUPPORT", it cannot be compiled ( even the build-in demo ), shows very more error.

My Compile Env:
openssl version : "3.0.0-alpha11-dev"
windows sdk version: 10.0.17763.0
platform toolsets: Visual Studio 2017 (v141)

could you please try it

[2021-02-04 20:26] yhirose commented on #853
@crackwei, cpp-httplib only supports the stable version 1.1.1 as described in [README](https://github.com/yhirose/cpp-httplib#ssl-support). Hope it helps.

[2021-02-04 20:26] #853 closed

[2021-02-07 00:17] Maaago opened #854 "Segmentation fault on arm64v8"
Hi, I've made a project with httplib under macOS and everything works fine. Now i'm trying to build the project on my Raspberry Pi 4 (in a docker container, also tried on host os) and I get a segmentation fault. Here there is the gdb output:

`Starting program: <program_name>

Program received signal SIGILL, Illegal instruction.
0x0000007fb7b3e4d0 in ?? () from /lib/libcrypto.so.1.1
(gdb) c
Contin

[2021-02-07 01:02] yhirose commented on #854
@Maaago, thanks for the feedback. Could you try `cd test; make` on your machine?

[2021-02-07 09:29] Maaago commented on #854
You're welcome! Every time I start the tests I get this error:

Running main() from gtest_main.cc
[==========] Running 210 tests from 54 test cases.
[----------] Global test environment set-up.
[----------] 3 tests from EncodeQueryParamTest
[ RUN      ] EncodeQueryParamTest.ParseUnescapedChararactersTest
[       OK ] EncodeQueryParamTest.ParseUnescapedChararactersTest (0 ms)
[ RUN      ] EncodeQue

[2021-02-07 10:26] Maaago commented on #854
I've managed to get another arm64v8 SoC and my project is now working fine. I'm wondering why, beacuse I've just exported the docker image from the first machine (which is a Rock64, sorry I was wrong), imported it in the new machine (which is a Raspberry Pi 4, I'm sure) and now I don't get segmentation fault no more.
Anyway, If I run the tests on the raspi it shows the same output of the first mac

[2021-02-07 10:39] crackwei commented on #853
OK, Thank you.

[2021-02-07 12:31] yhirose commented on #854
@Maaago, I have just confirmed that all the unit tests passed successfully on my Raspberry PI 4. I honestly don't know why the crash happens on your first Raspberry PI 4 machine. Could updating the OS to the latest help? Sorry that I can help you much...

[2021-02-08 00:48] Maaago commented on #854
I'll try to update as soon as possible and I'll let you know if there are any news. Anyway the project builds on the Raspberry so I'll use that. Thank you for helping me and thank you for this awesome library!

[2021-02-08 00:48] #854 closed

[2021-02-08 16:26] ErikDz opened #855 "fatal error: openssl/err.h: No such file or directory"
Hi Im on windows 10 and I get that every time I try to include httplib.
I have installed OpenSSL-Win32

![image](https://user-images.githubusercontent.com/22724935/107249364-375e5880-6a2b-11eb-8772-b13b098b69fa.png)

`source file cannot be opened (error code "openssl/err.h") (dependency of "C:\Users\erikd\Downloads\PityPiton\experimentos\C plus plus\projects\helloworld\httplib.h").`

[2021-02-08 17:45] yhirose commented on #855
@ErikDz, I guess your compiler's include directory is not properly set. (Probably lib include directory as well?)
Hope it helps!

[2021-02-08 17:45] #855 closed

[2021-02-08 17:48] ErikDz commented on #855
Hi! Thanks for answering!
I use cl.exe to compile, how would I do so with it?

[2021-02-09 05:23] 00ff0000red opened #856 "Add second argument to httplib::Request::has_param"
Currently, httplib::Request::get_param_value accepts a char* and a length, but httplib::Request::has_param does not.
Is it possible to do the same for consistency?

[2021-02-09 08:42] PixlRainbow commented on #855
which version of OpenSSL are you using? Some versions do not use the file `openssl/err.h`

[2021-02-09 19:46] yhirose commented on #856
@00ff0000red, the 2nd parameter of `httplib::Request::get_param_value` isn't length for the key. It's index for a value for the key.

Here is the definition of `Headers`. It's not a `map`, but `multimap`, because HTTP allows multiple entries for the same key.
[code]

Hope it helps.

[2021-02-09 19:46] #856 closed

[2021-02-09 19:48] 00ff0000red commented on #856
Ah, should've spotted that myself, oops.

[2021-02-10 13:43] yhirose opened #857 "Use std::jtread and std::stop_token for proper and simpler shutdown"

[2021-02-11 15:38] Compaile opened #858 "Multiple Threads, one Instance per Thread"
Hi,

When i want to speed up my http requests (i server a lot of results to an rest api).

Currently i use n Threads with 1 httplib client per thread.

Is this recommended/safe?
And if not are there others ways to use multiple threads for client calls?

One note:
     auto n = strm_.read(&byte, 1); in line 1736 returns 0 some times for me

I dont know if this might be caused be the threads paralel

[2021-02-11 18:06] xtayaitak opened #859 "https client make request sometimes always blocking and not return.at windows system"
I using https client for request more than 10000 times and use Proxy.
Sometimes it will never return,it is blocking and never return.
I was debug and find the call stack.the function block at openssl socket recv function.

![image](https://user-images.githubusercontent.com/4498459/107678826-d490e980-6cd6-11eb-80bd-e1f2d7a7c94d.png)

How i can solve this prolem?

[2021-02-12 00:17] yhirose commented on #858
Please check https://github.com/yhirose/cpp-httplib/issues/679. Hope it helps.

[2021-02-12 00:17] #858 closed

[2021-02-12 00:23] yhirose commented on #859
@xtayaitak, thanks for the report, but I honestly don't know where the real cause of the symptom, since a number of factors are around the cpp-httplib. Once thing you could do is to run your server itself without, and try other servers on the proxy to see what will happen. Sorry that I can't help you much...

[2021-02-12 00:23] #859 closed

[2021-02-12 07:25] shoomoohin opened #860 "Issue with Regex"
The regex on line 5260 that you're matching against on line 5263, appears to have an extra whitespace that causes the std::regex_match to fail and the response to not be sent ... at least in my circumstances (a GET)
Changing
const static std::regex re("(HTTP/1\\.[01]) (\\d{3}) (.*?)\r\n");
to
const static std::regex re("(HTTP/1\\.[01]) (\\d{3})(.*?)\r\n");
does the trick.

This is working in VisSt

[2021-02-12 08:13] PixlRainbow commented on #860
hi, please format your post and use backticks \` to wrap code snippets
This is because asterisks, underscores and other special characters will be consumed by the markdown formatter and used to activate italics, bold, etc. Backticks indicate that a line contains code and should not be auto reformatted.

[2021-02-12 16:48] yhirose commented on #860
@shoomoohin, I think your trick actually breaks `Response::reason`...

[2021-02-12 17:21] #860 closed

[2021-02-12 17:22] yhirose commented on #860
I fixed it in a correct way.

[2021-02-14 11:20] Maaago commented on #854
I've reinstalled the host OS, changed distro too and now everything works fine. I still can't understand what was wrong with the previous OS, since docker was working fine with other containers, but now we can confirm the problem was not the library.

[2021-02-14 15:59] PazerOP opened #862 "Issues with specific server responses"
I suspend that something on Steam's end is producing an HTTP response that is invalid somehow, but every other tool seems to handle the response fine.

Consider the endpoint `https://steamcommunity.com/inventory/76561198127224715/440/2`.

The Insomnia REST client returns the following:

[code]

Here, I attempt to access the same page with cpp-httplib:

[code]

The result is always `error: 4` which

[2021-02-14 20:14] yhirose commented on #862
@PazerOP, I guess you need ZLIB support because the Insomnia REST client result contains the following header:

[code]

Please check [here](https://github.com/yhirose/cpp-httplib#zlib-support) to enable ZLIB support.
Hope it helps.

[2021-02-14 20:14] #862 closed

[2021-02-14 20:51] PazerOP commented on #862
I see. It would be helpful if there was a more specific error when an unsupported content type was encountered.

[2021-02-17 16:08] GopherJ opened #863 "reference to 'rand' is ambiguos"
![image](https://user-images.githubusercontent.com/33961674/108231982-45c01900-717d-11eb-89fe-28c0fb043c2d.png)

Hi, I had an issue while compiling cpp-httplib, do you have an idea on this? I use https and the version of cpp-httplib is the latest release on github

[2021-02-17 16:09] GopherJ commented on #863
there are other `rand` candidates it seems:

![image](https://user-images.githubusercontent.com/33961674/108232213-7e5ff280-717d-11eb-8126-a4f65b73f044.png)

[2021-02-17 16:13] GopherJ commented on #863
I fixed it by prepend `std::`

[2021-02-17 20:37] #863 closed

[2021-02-17 21:11] yhirose commented on #863
@GopherJ, thanks for the report!

[2021-02-17 22:08] yhirose commented on #850
@nextfullstorm, I'll close it since I didn't hear from you. If you still need it, you can try the following. Hope it helps.

[code]

[2021-02-17 22:08] #850 closed

[2021-02-18 12:46] GopherJ opened #864 "invalid url will cause segmentfault"
Hi, I've tried to put some invalid urls, it looks like cpp-httplib will throw segement fault errors
![image](https://user-images.githubusercontent.com/33961674/108359243-bb35f300-722a-11eb-852f-f9fa73c89a42.png)

[2021-02-18 13:13] yhirose commented on #864
@GopherJ, thanks for the feedback, but it's too little information...

[2021-02-18 13:13] #864 closed

[2021-02-18 23:50] GopherJ commented on #864
@yhirose Hi I didn't put extra info because I can reproduce it using the example:

[code]

[2021-02-19 08:28] landscht opened #866 "Error between winsock2.h and ws2def.h"
I simply include "httplib.h" and at compile time I have 161 errors of this type :
[code]

[2021-02-19 12:08] yhirose commented on #866
@landscht, thank you for the feedback, but [this](https://github.com/yhirose/cpp-httplib#windows) is only information that I can come up with. Sorry that I can't give you much help... Hope it helps.

[2021-02-19 12:08] #866 closed

[2021-02-19 15:26] landscht commented on #866
hey! I managed to solve the problem I had other diverse and varied imports, I included httplib.h first and it worked

[2021-02-20 15:33] GopherJ commented on #864
@yhirose I'm able to reproduce using the following code:

[code]

[2021-02-20 15:40] GopherJ commented on #864
ok my fault I should check `.error()`, while checking with gdb the segement fault error comes from my code. thanks

[2021-02-22 22:54] Fransferdy opened #867 "Ability for Graceful Shutdown"
I'm currently using this server as basis for my microservices and I really like it, but I feel I might have issues in the near future with my CI/CD pipeline in production, specifically in the moment of updating the services. It would be nice if a Graceful shutdown would be added. (something like, shutdown listening the socket while still finishing the delivery of the current http requests)

[2021-02-23 03:50] yhirose commented on #867
@Fransferdy, thank you for your feedback. cpp-httplib server does the graceful shutdown if a user uses the built-in default `ThreadPool` task queue. Please let me know if it doesn't work on your environment. Thanks!

[2021-02-23 03:50] #867 closed

[2021-02-23 19:56] richardlalancette opened #868 "Few unresolved external using httplib"
@yhirose Would these ring a bell to you?

[code]

[2021-02-23 20:14] richardlalancetteyoui commented on #868
I suspect we are using a version of ssl that is too recent?
1.1.1?

[2021-02-23 20:20] yhirose commented on #868
@richardlalancette, hope it helps.
https://github.com/yhirose/cpp-httplib#ssl-support
https://github.com/yhirose/cpp-httplib/issues/573#issuecomment-662596948

[2021-02-23 20:20] #868 closed

[2021-02-24 01:30] 00ff0000red opened #869 "Statically serving individual files"
The library offers mounting directories to serve from, but is there a simple way to link only an individual file?

Example:
[code]
?

[2021-02-24 03:04] yhirose commented on #869
@00ff0000red, no. I haven't seen such a feature in http libraries like express.js or sinatra though...

[2021-02-24 03:04] #869 closed

[2021-02-24 04:34] 00ff0000red commented on #869
@yhirose

sinatra: https://stackoverflow.com/questions/2437390
express.js: https://stackoverflow.com/questions/11473607

They both offer a sendfile to compensate.

Also, apparently, express.js allows this:
[code]

But, the fact that people asked those SO questions does indicate that this is a commonly encountered situation by users of HTTP libraries.

And lastly, [actix](https://actix.rs), one of

[2021-02-24 04:46] yhirose commented on #869
@00ff0000red, I don't think we can do `app.use("/index", "./public/index.xhtml");`. Where did you find the information? I can't find it in [the node express.js document](https://expressjs.com/en/4x/api.html#app.use)...

[2021-02-24 05:02] 00ff0000red commented on #869
@yhirose I got that right off of the SO question that I had linked.

[2021-02-24 05:09] 00ff0000red commented on #869
Update: I tried it myself, guess it doesn't work after all, but, this is likely a common user situation, to just want to serve a single file.

In my situation, all I wanted to do was serve a favicon for browsers, without a bunch of boilerplate code, when we realized that the library didn't have anything for such operation, so I setup a filestream and streamed through the `DataSink::os`.

[2021-02-24 12:09] miketsts opened #870 "Client logging in case of errors"
A client calls the logger only in case of successful request completion, no matter the HTTP status is successful or not.
However, in case of an error,  for example, `httplib::Read` the logger is not called. As a result, my application log does not contain a log record of a request content.
Well, I can of course add this capability to my application logic. But don't you think this could be better a

[2021-02-24 13:17] yhirose commented on #870
@miketsts, yes, the current log interface is only for HTTP level information, not TCP/SSL level. If the TCP/SSL level logger is implemented, we have to introduce another log interface for this purpose, but we get two different log streams and hard to tell the actual order of each item in both streams. Another way is to integrate the TCP/SSL error into the current log interface, but it'll break the

[2021-02-24 13:52] yhirose commented on #869
@00ff0000red, the 'send file' approach is one-liner and simpler though, could the following work for you for now?

[code]

[2021-02-24 14:16] miketsts commented on #870
@yhirose, unfortunately, I don't have experience with other libraries, at least on a client side. This is why I chose cpp-httplib, and I am pretty much happy with it :-)
Before I continue, let me specify yet another problem with logging that I see. The current logging approach when both request and response are provided at the end of a request processing, ignores the timestamp issue which is impor

[2021-02-24 15:10] miketsts commented on #870
I actually found my own another older implementation.
I create an object of a type RequestLogger at the beginning of request processing. Its constructor outputs a log record about beginning. The object is deleted at the end of the processing - and the ending log record output from the destructor. My RequestLogger object accepts an ID as a construction parameter, it's actually a serial number maint

[2021-02-24 16:55] 00ff0000red commented on #869
Well, if I wanted to serve 2 unique files, I'd need a small loop or I'd have 10 unrolled LoC, for such a simple task.

And it'd make for a simple "hello world," beginner setup:
[code]

and you have a small static server setup.

But, personally, I use a wrapper class, so I can just implement it myself easily... so I guess I'm fine.

[2021-02-26 06:21] karthik2cs commented on #805
Can we connect to other https url's like https://webhook.site ?

[2021-02-27 17:56] mwasplund commented on #380
@demon36 I will admit that I only have a basic understanding of the different TLS libraries available, but this question was proposed for the exact reason that you bring up. I am working on a build system with an integrated package manager solution for C++ and having an https client with an easy to build encryption library is a must. From the quick investigations I did Botan seemed to have a much

[2021-02-27 23:07] chausner commented on #678
Note that designated initializers are actually a C++20 feature, not C++17, even though compilers seem to have had some support for it before, see https://en.cppreference.com/w/cpp/compiler_support.

[2021-02-28 16:20] okirmis commented on #721
@nqle If you still need it, I hacked something together (quick & dirty) for my own spare time project (communicating with docker sockets):

In `create_socket` I added the following code before the `  auto service = std::to_string(port);` line:

[code]
Also, include `#include <sys/un.h>`.

Then you can run
[code]

for example to talk to the local docker socket.

Maybe it helps!

[2021-03-01 01:13] NE1W01F opened #871 "Sock5 Proxy Support?"
hello

i wanted to use the tor proxy to connect to my site but when i try it failed because it sent it as a http proxy and not a sock5 proxy.
i have tried other methods like making tor open a HTTP Proxy but then i get request not supported. its a shame because this would be good to be able to use HTTP/HTTPS and SOCK Proxys.

[code]

this was a simple test to see if it would work

[code]
I added HT

[2021-03-01 07:34] nqle commented on #721
Thanks for your effort! I might use it at some point.

[2021-03-01 08:51] miketsts commented on #870
An additional idea came to my mind. Currently, the user supplied logger callback has two parameters - _request_ and _response_. We can add an additional parameter: _event_, which can be an _enum_ having different values, like "start processing", "end processing", etc. The enum can be extended in the future, while the user callback can decide which events it wishes to log, and which it does not.
Fo

[2021-03-01 13:26] yhirose commented on #871
@NE1W01F, I probably don't understand what you are trying to do, also I guess you are talking about socks5 instead of sock5.

Anyway, cpp-httplib supports HTTP proxy with Basic Auth and Digest Auth. You can see unit text examples [here](https://github.com/yhirose/cpp-httplib/blob/master/test/test_proxy.cc).

As for socks5, I am not planning to support it at this point because my personal projects

[2021-03-01 13:26] #871 closed

[2021-03-02 04:19] AndrewDavis commented on #178
I tried the following (unsure if the `substr()` part is correct):

[code]

However, the obvious problem here is that, you can't use the same port..... The whole point of this was to redirect the user in case they type `http://` instead of `https://`...

[2021-03-02 06:38] xtayaitak opened #872 "what is this code meaning"
I can't understand this code below:
if (sock >= FD_SETSIZE) { return 1; }

Maybe it cause socket recv always block?

![image](https://user-images.githubusercontent.com/4498459/109608406-c9f2a300-7b64-11eb-92d4-5169b4245392.png)

[2021-03-02 06:44] #872 closed

[2021-03-02 06:45] xtayaitak commented on #872
please delete this issues

[2021-03-03 18:35] yhirose commented on #870
@yhirose, I did some research on this topic by looking at what [Apache](https://httpd.apache.org/docs/2.4/logs.html) and [Nginx](https://docs.nginx.com/nginx/admin-guide/monitoring/logging/) are doing.

They both maintain 'access log' and 'error log', and it looks the way I should also take. I don't have time to work on it right now, but I'll get back to this issue sometime in April.

[2021-03-04 07:56] miketsts commented on #870
@yhirose I understand what you mean.
From my POV of an application developer, I have a single application log, which I can filter on different criteria like severity or event being logged. So I will route the library logging to my application log anyway, let it be two callbacks instead of one. And it's a pity I still will not be able to log start/end of HTTP processing - I will have to implement i

[2021-03-05 11:20] xtayaitak opened #873 "SSLSocketStream::read Problem"
I found SSLSocketStream::read whill cause many dead block thread.
I saw SSLSocketStream::read,this function call select function to check is the data is avaliable.I found the reason maybe is  when the socket comming bytes is not enough to produce a ssl record, and this time server or proxy 's connection is lost.

I don't make sure my this post is correct，i am not familiar with openssl.

I found so

[2021-03-05 12:45] yhirose commented on #873
@xtayaitak, thanks for the report. Could you provide a smallest possible example, so that I can reproduce and debug it? Thanks!

[2021-03-05 17:46] xtayaitak commented on #873
Sorry I 'm new to openssl.Provide a smallest example is difficult.But use some unstable proxy can easyly cause this problem.I can provide a process dump file.

I think WSASocketW add WSA_FLAG_OVERLAPPED param and set socket option SO_RCVTIMEO can solve this problem.

I have changed my code and testing. Then i'll show you the result.

[2021-03-06 04:38] xtayaitak commented on #873
@yhirose when I added WSA_FLAG_OVERLAPPED  for WSASocketW  and set socket option SO_RCVTIMEO.This problem has never appeared again.

[2021-03-06 12:57] yhirose commented on #873
@xtayaitak, glad to hear that. Could you send a pull request, so that I could check what you have done. Thanks!

[2021-03-08 02:00] yhirose opened #874 "Issue 31420: cpp-httplib:server_fuzzer: Timeout in server_fuzzer"
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=31420

[2021-03-08 02:44] rtrahan504 opened #875 "A non-blocking implementation"
Is there any interest in making the server-side of this library non-blocking? I have a fork which was a heavy rework of this lib. I can receive an http request and hold a reference to the request and keep it open for as long as I want. This is done by the user's httplib::Handler receiving a shared_ptr to the Request-Response pair. While the request is open, I can write from any other thread to the

[2021-03-08 04:38] yhirose commented on #875
@rtrahan504, thanks for the feedback! I am not interested in making this library non-blocking at this point though, I am interested in how it can be done. Have you ever taken a look at [this](https://github.com/skalenetwork/skaled/issues/219)? They also made this library non-blocking with libuv in a fantastic way.

[2021-03-08 05:01] rtrahan504 commented on #875
I'll get it uploaded soon and post a link here. Essentially, I revised the call stack that originates at [Server::process_and_close_socket](https://github.com/yhirose/cpp-httplib/blob/ff813bf99d3402adafd4141b660ed2313d27f7a6/httplib.h#L5124). The resources used in that call stack are instead encapsulated in an object. That let me call the stuff like process_request, write_response, write_content,

[2021-03-08 05:03] rtrahan504 commented on #875
The biggest update is in write_content_chunked. I changed the [while loop](https://github.com/yhirose/cpp-httplib/blob/ff813bf99d3402adafd4141b660ed2313d27f7a6/httplib.h#L3104) to just an if statement. That lets me call content_provider once, let the thread return to the pool, then call content_provider again later.

[2021-03-09 06:52] xtayaitak commented on #873
I splited the header to .cc and .h file,so i  my pull request is too many diffrence.
changed code list:
1.
![image](https://user-images.githubusercontent.com/4498459/110430223-02572b80-80e7-11eb-84c5-257c2845bbbb.png)

2.
![image](https://user-images.githubusercontent.com/4498459/110430257-0f741a80-80e7-11eb-9c2f-d57e35d4ac54.png)

[2021-03-10 08:24] simon28li opened #876 "There are a lot of errors in executing test cases"
After the installation and compilation of version 0.8.4, there are a large number of errors generated by executing make all in the test directory,Here are some of the error messages，I'm not familiar with this software. Can you give me some guidance?
[code]

[2021-03-10 11:20] PixlRainbow commented on #876
Hi, based on the fact that the only tests that are failing are the tests which connect to public internet servers, I am guessing that they failed because it did not have an internet connection

[2021-03-10 12:09] yhirose commented on #876
@simon28li, hope the @PixlRainbow comment helps you.

[2021-03-10 12:09] #876 closed

[2021-03-10 12:20] yhirose commented on #875
@rtrahan504, great! Is it possible to send a pull request, so that we can confirm that the works on the current unit test suite. Thanks!

[2021-03-10 15:59] prenex commented on #875
I think this would have been useful to have. Thinking about maybe using something like this not just for REST, but for general web serving and I know it is already good, but non-blocking is much leaner. I hope "heavy fork" will be available somewhere ;-)

[2021-03-10 22:03] yhirose commented on #873
@xtayaitak, thanks for showing your code. Unfortunately, I cannot take the solution because WSA_FLAG_OVERLAPPED is only for non-blocking socket... I actually received the [same comments](https://github.com/yhirose/cpp-httplib/search?q=WSA_FLAG_OVERLAPPED&type=issues) before.

@miketsts, do you have any clue on this issue? I thought the above problem has been fixed with #728. Any comments from you

[2021-03-12 06:09] xtayaitak commented on #873
@yhirose I also tested CPPHTTPLIB_USE_POLL before .But that not work.This problem occured too.

[2021-03-13 08:06] miketsts commented on #873
@yhirose <https://github.com/yhirose> I'm sorry for not answering this
issue before, I was a bit busy this week. Now you've closed the issue, so I
can't answer directly in GitHub.
As I can see (I forgot a bit about my fix, it was a few months ago already
:) ), my solution was to convert the socket to nonblocking while waiting
for SSL connection to complete, and setting it back to blocking at the e

[2021-03-13 08:34] miketsts commented on #873
Just to add to the previous answer. I am not an openssl specialist either.
Now I see that in my solution in #728 I've also used a call to `BIO_set_nbio`
which is an openssl counterpart of `set_nonblocking`. So maybe @xtayaitak
should consider this as well, depending on the case.
Also, `set_nonblocking` is a generalization function for Windows/Linux
compatibility. So if the solution is for Windows

[2021-03-13 12:52] yhirose commented on #873
@miketsts, thanks for the very helpful information.
@xtayaitak, could you try with what @miketsts suggests on your Windows environment? Thanks for our help!

[2021-03-13 14:05] miketsts commented on #873
@yhirose Since we already handle connection to SSL server in non-blocking mode, and now it seems like @xtayaitak will need to implement non-blocking SSL read/write. It might happen that the entire SSL sockets should be handled in non-blocking mode. I think this requires your "strategic" view.

[2021-03-13 19:43] rtrahan504 commented on #875
[Here is my update if you want to take a look.](https://github.com/rtrahan504/cpp-httplib/tree/nonblocking_server)

This is an update to the original cpp-httplib to enable non-blocking, long-standing transaction with a client. This update only includes the server code and removes all client capabilities. Additionally, the SSL support is untested in this fork. The non-blocking and scaling has worke

[2021-03-14 01:06] yhirose commented on #875
@rtrahan504, I put a label 'information' and adjusted the title, so that others can benefit from your implementation. Thanks!

[2021-03-14 02:37] yhirose commented on #873
@xtayaitak, could you tell me which line is blocked in `SSLSocketStream::read` on your environment?

![image](https://user-images.githubusercontent.com/357397/111055461-0fa44b00-8444-11eb-9735-f1e1b8cce4ef.png)

[2021-03-14 04:28] rtrahan504 commented on #875
Glad to contribute!

I thought I'd point out one main different when using this new version.

[code]

The handlers for requests include a 3rd argument `std::shared_ptr<Connection>`. That Connection object has a method `Connection::SetUsingThreadPool(bool val);` Giving false means that when the handler function returns, the Connection will not take any more actions in the Server's thread pool. It w

[2021-03-15 10:04] kubistika opened #877 "Error::BindIPAddress"
Hi,

I'm using this awesome library to perform some http requests from my c++ utility application.
However, I keep getting Error::BindIPAddress from the library and I cannot find out why.

I'm working on Mac and trying to send http request to an http server running on localhost:8080, the code looks like that:
[code]

Thanks a lot!

[2021-03-15 11:05] yhirose commented on #877
@kubistika, thank you for the feedback, but I don't know why either. Could you try `cd test; make` to see what happens?

[2021-03-16 16:55] #877 closed

[2021-03-16 18:46] yhirose commented on #873
@xtayaitak, any response?

[2021-03-16 22:36] fhoenig opened #878 "Infinite recursion in ::Get"
You pass the params back into the same function....

Here is a fix:

[code]

[2021-03-16 23:42] #878 closed

[2021-03-16 23:43] yhirose commented on #878
@fhoenig, thanks for finding the bug!

[2021-03-17 07:08] PixlRainbow commented on #877
BindIPAddress should only be happening in server mode. If it is really happening in client mode, then something strange is going on. Otherwise, it might be that port 8080 is already occupied and the server cannot use it, or that the server process is prohibited from listening on localhost interface for some reason.

[2021-03-17 08:34] lrh450330 commented on #873
Hello, I have the same problem, line 6533 is blocked in SSLSocketStream::read on my environment.

[2021-03-17 09:23] lrh450330 commented on #873
I agree with the following views：
Just because select() says that something is readable (or writable) does not
actually make it so.  The function only makes sense for non-blocking
descriptors.  The use of select() with a blocking descriptor is always
wrong.

[2021-03-17 11:56] xtayaitak commented on #873
@yhirose block at this line
![image](https://user-images.githubusercontent.com/4498459/111463679-cd884b80-875a-11eb-87f8-d09d8bb092b3.png)

[2021-03-17 12:35] yhirose commented on #873
@lrh450330, thanks for the helpful info.

`select()` can be used with a blocking socket.
https://stackoverflow.com/questions/28627804/can-select-be-used-with-blocking-sockets

[2021-03-17 12:35] yhirose commented on #873
@xtayaitak, thanks!

[2021-03-18 07:28] ifplusor commented on #102
How to bind any ip both IPv4 and IPv6?

[2021-03-18 16:17] Planum opened #879 "Cookies header"
Hi,
Do You plan add function for server part, with  create cookie header?
Now I have problem when I use this:
res.set_header("Set-Cookie: Basic", "1234");

In website a Get:
Set-Cookie: Basic: 1234  .. to many colon was add

[2021-03-18 16:32] yhirose commented on #879
@Planum, sorry that I am not planning to make a method for cookie, because it's just a HTTP header.
`set_header` takes a key and a value, and `Set-Cooike: Base` isn't a correct HTTP header key.
Hope it helps.

[2021-03-18 16:32] #879 closed

[2021-03-18 18:37] Planum commented on #879
You are absolutely right! My mistake! Forgive me for taking your time!

[2021-03-18 19:52] kubistika commented on #877
Yea, that's why I think something is weird because I'm not even using the http server of this library.

[2021-03-19 08:20] PixlRainbow commented on #877
Actually, nevermind. Inspecting the code, BindIPAddress can occur on the client. Wonder what your ifconfig looks like.

Googling, it appears that some other libraries experience this issue if not all the fields of certain socket-related struct have been initialized to 0, and stackoverflow lists that similar issues may occur because certain Mac OS versions lack named aliases for the loopback interf

[2021-03-19 22:33] haydenmc commented on #873
Howdy friends, we're running into this as well - the exact circumstances of the hang aren't clear since we're just working with crash dumps taken from production servers, but here's the relevant part of the backtrace:

[code]

[2021-03-22 14:11] ZacheryGuan opened #881 "How to catch exception in ContentProvider when I try to response with chunked data?"
My server needs to process received data when I prepare response in `ContentProvider` function. If the server receives correct parameters in the body message, it returns some results in stream. However, if the params are invalid, how can the server return error response with error message?

I tried to catch exception around `res.set_chunked_content_provider` but it does not work.

Here is a piece

[2021-03-25 02:51] PixlRainbow commented on #881
Thrown exceptions are not automatically inserted into the response stream. You must explicitly indicate that you wish to send a HTTP error response by setting res.status and res.body.
Unfortunately, the design of HTTP itself (not just our library) fundamentally does not allow changing the response status after you have already begun sending the response body. You may only send an error response ri

[2021-03-26 13:18] hot202xu1 opened #883 "Setting / uploading css"
Hi I’m new to all this http stuff
How would I set / upload my css char buffer
I don’t want to have files, because I just want everything inside the exe

[code]

[2021-03-26 13:44] yhirose commented on #883
[code]
Hope it helps.

[2021-03-26 13:44] #883 closed

[2021-03-26 13:56] hot202xu1 commented on #883
Thanks for the reply, but that did not seem to work

[2021-03-27 04:07] hot202xu1 commented on #883
@yhirose
What you posted seems to work for a JavaScript, but does not work for a css

[2021-03-27 14:22] yhirose commented on #881
@PixlRainbow, thanks for the excellent comment.

@ZacheryGuan, hope the following helps.

[code]

[2021-03-27 14:22] #881 closed

[2021-03-28 20:19] yhirose commented on #883
Oops, I made typo ... The path should be `/styles.css`.

By the way, the following code in your HTML isn't correct. You shouldn't surround the link tag with the style tag.

[code]

[2021-03-29 01:30] ZacheryGuan commented on #881
Get your point. Thanks for help

----
The code example does not process data in stream to provide a minimum piece.

[2021-03-29 14:02] fasiondog opened #884 "Compile error on Android"
I try to add httplib to xmake repository (https://github.com/xmake-io/xmake-repo/pull/338),  but I got compilation errors on Android platform ([https://github.com/xmake-io/xmake-repo/pull/338/checks?check_run_id=2212629480](https://github.com/xmake-io/xmake-repo/pull/338/checks?check_run_id=2212629480)) , Maybe need "#include <ifaddrs.h>" on android.

erros:

checkinfo: ...amdir/core/sandbox/modul

[2021-03-29 14:50] yhirose commented on #884
@fasiondog, thank you for the report. I have never built cpp-httplib on Android platform, and I am not planning to support it personally since I don't have the environment. Could you fix the build error and send a pull request? Thanks a lot!

[2021-03-29 15:34] fasiondog commented on #884
I don't have android enviroment too. I'll try again later to fix it

[2021-03-29 15:37] yhirose commented on #884
@fasiondog, please let me know when you are ready, then I'll reopen this issue. Thanks!

[2021-03-29 15:37] #884 closed

[2021-03-29 17:37] PixlRainbow commented on #884
From a brief google search:

Details: https://stackoverflow.com/a/57112520

[2021-03-29 23:46] waruqi commented on #884
It's right, we need send netlink udp msg to wrap it if we want to use ifaddrs below level 21. like this https://github.com/tboox/tbox/blob/master/src/tbox/platform/linux/ifaddrs2.c

But this needs to do more.

[2021-03-30 12:05] bingzhe123 opened #885 "fileserver：how to set the header to make the Google browser popup a download file dialog?"
Hi：
   I make a http server with httplib, everything is well except download file. I don't know how to set the header in server when processing download command.  I send a request with "Get" method by Google browse, **but the browser don't popup the downloading dialog**. Is anything i missed?
In the server I write as this:

`
void HttpsServer::UpLoadHandler(const Request& req, Response& res)
{

[2021-03-30 12:25] osdeverr opened #886 "[httplib::Server] Is there any way to get the request IP?"
I'm trying to implement per-IP rate-limiting in my HTTP API server. From what I can see, there's no way to get the IP the request was sent from in request handlers. If that's even technically possible (I'm not really into HTTP and networking in general, you know), I suggest you expose the request IP to handlers. Thank you.

[2021-03-30 13:31] fasiondog commented on #884
Thanks all

[2021-03-30 13:48] yhirose commented on #886
@osdeverr, hope #443 will help you.

[2021-03-30 13:48] #886 closed

[2021-03-30 13:50] yhirose commented on #885
@bingzhe123, thanks for the feedback. But it's beyond a questions of cpp-httplib, but just a HTTP general question. I am not giving any personal support for other persons' projects... Thanks for your understanding!

[2021-03-30 13:50] #885 closed

[2021-03-31 00:57] hot202xu1 opened #887 "Get website Contents"
Is there anyway this library (as a server) can get a web site and then edit it so if I go to the library port it will show the original website with my added on HTML?

a example would be with google.com and add some text under the search bar.

[2021-03-31 01:03] yhirose commented on #887
@hot202xu1, that's not a question for cpp-httplib. I don't have enough knowledge to answer your question. Sorry about that...

[2021-03-31 01:03] #887 closed

[2021-03-31 02:35] hot202xu1 commented on #887
@yhirose
Ok thanks.
can this library copy a website and then host it on its own server?

[2021-03-31 08:43] PixlRainbow commented on #887
yes
inside your server's request handler, create a http client to GET the original webpage

[2021-03-31 09:54] hot202xu1 commented on #887
@PixlRainbow
Thank you does this also work if the website is using JavaScript?
Is there any examples doing this. Thanks.

[2021-03-31 10:54] hanyanLWD opened #888 "client reponse 302"
when i use client.post()to get response，but i get status=302
in my code
some code:
//url = "http://xxxx.com/xxxxx"

httplib::Client cli("http://xxxx.com");
string COST_SVC="/xxxxx";
cli.Post(COST_SVC.c_str(), headers, data,"application/json");

[2021-03-31 11:11] PixlRainbow commented on #888
HTTP 302 response is normal and just means redirect. The exact reason of the response is dependent entirely on the application server.
You may either [enable automatic redirection](/yhirose/cpp-httplib#redirect) or you can follow the redirect manually by initiating a new GET request on the path in the `location` header in the first response.

[2021-03-31 11:36] PixlRainbow commented on #887
[code]
You will also need to copy the response headers (not shown here).
It may also be possible to do `res = *googleres` directly, but you may encounter memory issues.

Whether the website will continue to work if it is using JavaScript will depend entirely on how the JavaScript is written. I cannot answer that question beyond simply stating that httplib is a http protocol-level library, while Ja

[2021-03-31 12:22] #888 closed

[2021-03-31 21:14] gtnardy opened #889 "Download a file with Redirection corrupts the file data"
If I download a file from a link (e.g: https://github.com/gtnardy/nanos-world-halloween/releases/download/v1.0.0/halloween.zip) which redirects me with `set_follow_location` enabled, it may end up adding the 'between' received data into my file:

Causing the top part of the file being the content before the file start to be downloaded itself:

![image](https://user-images.githubusercontent.com/622

[2021-04-01 02:09] hot202xu1 commented on #887
@PixlRainbow
Thanks for the reply’s
I’m getting a error
No instance of overloaded function SSLClient::Get

[2021-04-01 02:11] PixlRainbow commented on #887
Sorry. It should be capitalized `Get`. Please read the readme.md

[2021-04-01 18:17] yhirose commented on #889
@gtnardy, could you try the same with curl with auto redirect option? If curl handles it as you expect, the current behavior in cpp-httplib is a bug. Please let me know your result. Thanks!

[2021-04-01 22:48] gtnardy commented on #889
I've tested with curl on **linux** and **Invoke-WebRequest** on windows/powershell, both with redirection enabled (-L and -MaximumRedirection 10) downloads the file correctly and not corrupted.

I could do a workaround for this problem using `ResponseHandler` and getting the status 200 from it, after I get it, I move my file pointer to the beginning and it starts downloading the file itself.

[2021-04-02 02:44] yhirose commented on #889
@gtnardy, thanks for the excellent investigation. I think it's a bug. Could you do the workaround until I fix the problem? Hope I find time to work on this sometime this month.

[2021-04-02 09:32] gtnardy commented on #889
sure thing! thank you for this amazing lib!

[2021-04-03 08:47] EinTim23 opened #892 "Exception access violation when using SSL on windows."
OpenSSL version: 1.1.1
C++ version: C++ 17
When sending request with ssl the program crashes with: exception access violation. I wrote a simple example program to demonstrate my problem.

![grafik](https://user-images.githubusercontent.com/57799248/113473453-dcb10e00-9469-11eb-8a82-8fb796f6ca48.png)
OpenSSL is compiled statically linked for windows 64bit. The behaviour also happens with a dynamic

[2021-04-03 08:58] EinTim23 commented on #892
Sorry it was my fault. after removing the protocol prefix everything worked.

[2021-04-03 08:58] #892 closed

[2021-04-03 09:04] HiCubee opened #893 "Error crash when post with wrong port"
Hi
I'm tring to use this httplib on Android & iOS, it works fine with right host:port

and when I try to use a wrong port and I'v set the set_connection_timeout, but it crash when run the post function.

here is my code

httplib::Client cli(Constant::Http::HOST, 1234);
httplib::Params params;
params.emplace("user_uuid", "");
params.emplace("start", "0");
params.emplace("page_size", "10");
auto res

[2021-04-03 13:11] HiCubee commented on #893
I'm sorry I'v fix my problem, this library is nice and stable, I log the response->body after a wrong request callback

[2021-04-03 13:29] #893 closed

[2021-04-03 16:56] maxmah opened #894 "Fails to connect to localhost under Docker(Debian) on Windows"
I'm running Debian-based Docker container ("mcr.microsoft.com/vscode/devcontainers/base:0-debian-10") under Windows and trying to connect to a localhost using cpp-httplib.

My HTTP server implementation is running under "localhost:3000".
In this scenario I'm supposed to use "http://host.docker.internal:3000" from inside the container when connecting to the host.
"curl" as well as "https://github.c

[2021-04-03 18:32] yhirose commented on #894
@maxmah, thanks for the report. I have no clue why that happens.

https://github.com/yhirose/cpp-httplib/blob/6ff84d34d15c8cec51cd36246412b159bbb48484/httplib.h#L2069

Could you try to set `hints.ai_family` to something else like `AF_INET` or `AF_INET6` to see if it makes any difference?

[2021-04-03 20:43] juanjo75es opened #895 "undefined reference to `OPENSSL_sk_num'"
I get that error when trying to link to openssl 1.1.1h. With openssl1.0 it says I need openssl1.1.1
_undefined reference to `OPENSSL_sk_num'_

I have seen an old issue asking what openssl version to install and the answer was 1.0 but seems that answer is outdated, so what version should I install?

[2021-04-03 22:00] maxmah commented on #894
Thanks for the quick reply! Neither AF_INET nor AF_INET6 worked.

Curiously, after some more attempts I found a workaround. Somehow if I don't use "http://" it works, so:

```httplib::Client httpClient("host.docker.internal", 3000);  // works```

```httplib::Client httpClient("http://host.docker.internal", 3000);  // doesn't work```

[2021-04-03 22:53] yhirose commented on #895
Please see the information [here](https://github.com/yhirose/cpp-httplib#ssl-support) in README.

[2021-04-03 22:53] #895 closed

[2021-04-03 22:56] yhirose commented on #894
@maxmah, How about the following?

[code]

[2021-04-03 23:02] #894 closed

[2021-04-04 04:50] oofsamy opened #896 "How to add more than 1 header"
Sorry if this issue was a waste, but I've been having a go at every http and/or websocket lib I could find, this is the one I have best luck with, how can I send multiple things in headers, as in your post example, you only mention 1 thing in headers and it's a string, I need to have Authorization and Content-type in mine. (I'm pretty new to C++)

[2021-04-04 11:27] maxmah commented on #894
Thanks a lot for the clarification! Your suggestion with `scheme_host_port` worked indeed, and I thought I tried it as well before creating a bug, but apparently I missed something (didn't recompile correctly?).

I looked more into the implementation, and indeed the 2 parameter constructor shouldn't have the "http://" prefix as it is not parsed and stripped before passing it further. Indeed the `g

[2021-04-04 12:16] yhirose commented on #896
@oofsamy, here is an example.

[code]

Hope it helps!

[2021-04-04 12:16] #896 closed

[2021-04-04 17:55] oofsamy opened #897 "Headers and params"
Hey, it's me again, sorry if I waste your guys' time, but I just read the reply to my issue, and helped me, apart from the fact that I'm not sure on how to implement headers with params, (I might be misunderstanding what params is, because in my eyes, it's the body/payload/content, but I need the header to put the authorization and application/json).

[2021-04-04 22:43] yhirose commented on #897
@oofsamy, it actually don't understand the question that you are asking... Could you try what you want with curl first, since curl has everything you want and well documented. When you succeed, please let me know what you did with curl. Then, I'll point out where you need to see in README. Sorry that I can't give you much help...

[2021-04-04 22:43] #897 closed

[2021-04-05 01:14] PixlRainbow commented on #897
Params is a different object type and can be provided as a separate parameter. You can provide both headers and params at the same time. Just read the code and choose the most appropriate [function overload](https://www.geeksforgeeks.org/function-overloading-c/).
**For example:**
https://github.com/yhirose/cpp-httplib/blob/6ff84d34d15c8cec51cd36246412b159bbb48484/httplib.h#L6077-L6081
This Client

[2021-04-05 15:41] yhirose commented on #889
@gtnardy, could you try the latest httplib.h? If it works on your machine, I'll release it.

[2021-04-05 19:52] gtnardy commented on #889
Tested! It does not writes to the file anymore =D! Thank you!

Some things I noticed:

It still "downloads" the first redirectional page, but does not trigger ContentReceiver which is great! But it still triggers ResponseHandler 200 when it redirects and also triggers Progress during downloading the redirectional page. I don't know if you think it is fine or not, but my progress bar goes from 0 to

[2021-04-05 20:14] yhirose commented on #889
@gtnardy, good find! I updated my change. Could you try again?

[2021-04-05 20:27] gtnardy commented on #889
No more `ProgressHandler` before redirection 😊! (still `ResponseHandler` 200 just after redirection and no `ResponseHandler` at the end of download - are those a problem?)

![image](https://user-images.githubusercontent.com/6226807/113622853-e5edd680-9633-11eb-8aeb-e6de42b336d2.png)
![image](https://user-images.githubusercontent.com/6226807/113622972-1170c100-9634-11eb-9b20-7fdb76b08082.png)

[2021-04-05 21:46] yhirose commented on #889
@gtnardy, thanks for testing. That's what I expected. On the auto redirection mode, all the redirections before the final request will be completely ignored. I think the issue is now fixed. Thanks for your help!

[2021-04-05 21:46] #889 closed

[2021-04-05 22:42] gtnardy commented on #889
Sounds good to me! Thank you!

[2021-04-06 03:06] hak8or commented on #287
For anyone googling around and coming to here and wondering if it's worth it to get this going, yes, and it's pretty simple.

To start off, as suggested in the readme, you go into the cpp-httplib directory and run split.py, which gives you ```httplib.cc``` and ```httplib.h```. In your code, you just include the header and link against the cc variant.

On my Ryzen 2700x running GCC 10.2.0, with faa

[2021-04-06 03:28] yhirose commented on #287
@hak8or, thanks for the feedback. `CMakeLists.txt` is kindly maintained by @sum01, and I think it has already the support for `split.py`. Please see the following code.

https://github.com/yhirose/cpp-httplib/blob/faa5f1d8023746a3da9f275c51867ded2a672ee9/CMakeLists.txt#L158-L196

The current version of CMakeLists.txt is well maintained even if I didn't make the file. So don't worry, I am not going

[2021-04-06 15:28] sum01 commented on #287
Correct, all you need to do is enable the `HTTPLIB_COMPILE` option when using Cmake and it will manage splitting the file and compiling it for you (requires Python v3 installed).

Here's an edited version of the Cmake command ot build & install (taken from my [AUR package](https://aur.archlinux.org/packages/cpp-httplib-compiled/))
[code]

Take a look at [the PKGBUILD](https://aur.archlinux.org/cgi

[2021-04-06 17:16] pathawee1993 opened #898 "Please help me, i'm newbie in c++"
Hello everyone,
i have ubuntu-server and try to use httplib with vscode, but the problem is that vscode can't find following library:
#include <arpa/inet.h>
#include <cstring>
#include <ifaddrs.h>
#include <netdb.h>
#include <netinet/in.h>
#ifdef __linux__
#include <resolv.h>
#endif
#include <netinet/tcp.h>
#ifdef CPPHTTPLIB_USE_POLL
#include <poll.h>
#endif
#include <csignal>
#include <pthread.h>

[2021-04-06 21:56] MugiwaraJAK opened #899 "Does space matter? using udl::operator""_;"
Is this correct having definition with a space and directive without?

I don't know if this is a problem with syntax or just an issue with eclipse.

[code]
`
  using udl::operator""_;
`

[2021-04-07 00:22] yhirose commented on #899
@MugiwaraJAK, please see #865. clangformat doesn't put a spece between `""` and `_`. It's totally legal according to C++ spec, but some older compilers incorrectly report it as an error. Hope it helps.

[2021-04-07 00:22] #899 closed

[2021-04-07 00:27] yhirose commented on #898
@pathawee1993, this issue has nothing to do with cpp-httplib itself, but how to include header files. Please check your compiler option such as `-I`. Hope it helps.

[2021-04-07 00:27] #898 closed

[2021-04-08 02:01] PixlRainbow commented on #898
I don't think you have actually installed a compiler yet @pathawee1993

[2021-04-08 13:30] ZacheryGuan opened #900 "How to set timeout for sink.write() in chunked response?"
I found sometimes doing `sink.write()` in` set_chunked_content_provider` will block the program. I guess it may caused by some network issues like unstable connection. How to set a timeout or catch an exception to avoid this kind of block?
I've tried set_write_timeout. But it does not work.

[2021-04-08 16:40] yhirose commented on #900
@ZacheryGuan, `set_write_timeout` is the one to set timeout sec/usec. Since `sink.write()` will end up calling `select_write()`, could you take a look at the code in the function to get more information? If `select` system call doesn't work on the OS that you are working on, you may want to try `poll` with CPPHTTPLIB_USE_POLL.

https://github.com/yhirose/cpp-httplib/blob/faa5f1d8023746a3da9f275c51

[2021-04-09 02:43] ZacheryGuan commented on #900
I've tried CPPHTTPLIB_USE_POLL and it will also block. By debugging the program, I found the program stucks here:
https://github.com/yhirose/cpp-httplib/blob/faa5f1d8023746a3da9f275c51867ded2a672ee9/httplib.h#L4139-L4140

[2021-04-09 03:02] yhirose commented on #900
@ZacheryGuan, thanks for the information. Do think that it/s it easy to reproduce the condition on someone's machine like my machine? Otherwise, it's too hard for me to debug it. Or could you try to fix it on your machine and send a pull request? Thanks!

[2021-04-09 06:41] ZacheryGuan commented on #900
Sorry for the inconvenience. To reproduce this, it may require additional network components, a load balancer in my case.

Generally, I need to transfer a lot data (like 1M) to the client. The client is not reading but its receive buffer is full. In the meantime, the server's send buffer is also full. The socket `send` will block under such circumstance.

I found [a helpful post discussing about t

[2021-04-09 11:16] yhirose commented on #900
@ZacheryGuan, sorry that the helpful post that you mentioned is reported as "Your connection is not fully secure" on my Chrome... I feel like it's a general socket issue which can happen in whatever HTTP libraries. Could you try with other HTTP client like curl to verify it on your machine? Thanks!

[2021-04-10 16:02] vlad-mal opened #902 "Very long connection, when the server binds to "0.0.0.0" and the client connects to "localhost"."
OS: Win10x64 Pro, MSVS-2019 (CE).
We are talking specifically about the long time operation of the network connection, that is, in fact, about the first GET request (subsequent requests are completed faster, especially when keep alive is ON)

Server:
[code]
Client:
[code]
Output:
`Ms: 2052`
...
When the client connects to "127.0.0.1" (and not to  "localhost"), then the connection time is reduced t

[2021-04-10 21:19] gtnardy opened #903 "Error::Read meaning and what could cause that"
Hey there!
Since I've updated from 0.7.x to the latest version (can't say exactly which one I was), I started to receive randomly the error code 4 (Error::Read) when downloading files. This is so random that if I just try again with the same URL after having the error, the error doesn't happen anymore.

What reasons could cause that? I've tried debugging or reading the code but couldn't find a rea

[2021-04-11 02:12] yhirose commented on #903
@gtnardy, thanks for the report. I used the test suite to validate my changes when releasing new versions, and it didn't detect the error... Is is possible for you walk back from the current release to a release that works (or the other way around)? I think it will tell us why the problem sneaked in. Thanks!

[2021-04-11 02:28] yhirose commented on #902
@vlad-mal, I just compiled the server and client codes on my Windows 10 with the latest Microsoft Visual Studio 2019. My result with '0.0.0.0' is ''Ms 7', 'Ms8' or 'Ms9'.

Anyway, I don't think it's a bug in cpp-httplib, but a network problem. You can see more detailed information which socket will be used from the `getaddrinfo` system call [here](https://github.com/yhirose/cpp-httplib/blob/master

[2021-04-11 02:28] #902 closed

[2021-04-11 10:04] PixlRainbow commented on #902
It is a known issue with Windows' OS network stack. It always takes a long time to resolve the name "localhost" to the loopback address and the problem is worsened if antivirus or firewall (e.g. Windows Defender) is running.

If Windows is configured to use a proxy, you may need to configure Windows to [skip proxy for local addresses](https://stackoverflow.com/a/25763832). This is configured throu

[2021-04-11 10:14] PixlRainbow commented on #903
Hi gtnardy

Error::Read is supposed to mean malformed HTTP response, disconnect or incomplete response, is what I guess from reading the code.

[2021-04-11 10:58] gtnardy commented on #903
Thank you @yhirose and @PixlRainbow! Fortunately I've found the problem and it was my fault 😄!

I was reusing an Client instance to download multiple files and it seems the read or keep-alive timeout was expiring after downloading a big file. Increasing the timeout value seems to have fixed it! Everything's good now!

[2021-04-11 10:58] #903 closed

[2021-04-11 13:48] yhirose commented on #902
@PixlRainbow, thanks for the helpful info!

[2021-04-12 10:23] ZacheryGuan commented on #900
Thanks for your opinion! Though I have not tried other http server lib, I also feel like this may be a general socket issue.
I have managed to reproduce it using following code. The server writes big chunk(like 100K) of data and the client is not reading socket buffer.
https://github.com/ZacheryGuan/cpp-httplib-900/tree/main

After running the server and the client, the server only outputs 4 lines

[2021-04-13 08:09] vlad-mal commented on #902
Thanks for the tip, but the "do not use proxy for local addresses" option did not work as expected.

[2021-04-13 09:06] AKmoex opened #905 "How to return a JSON format or other format"
First of all, thank you for this project.
I found that only one string can be returned in the server-side examples.
How can I return a JSON or other format content

[2021-04-13 11:44] vlad-mal commented on #902
Thank, yhirose.
Apologies in advance for my poor english.
Tracing your code showed that the server, when creating a server socket (binding to "0.0.0.0"), always immediately creates a socket with the IpV4 protocol.
And when creating a client socket (connecting to "localhost") the getaddrinfo () function at https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L2076 returns a list of sorted a

[2021-04-13 15:01] PixlRainbow commented on #905
1. [strings in C/C++ are not just for human-readable text](https://github.com/yhirose/cpp-httplib/issues/824#issuecomment-755097175)
2. You will need to construct the JSON data either by yourself or using a [third party library](https://github.com/nlohmann/json#tofrom-strings). This library only handles the base HTTP protocol and communications.
After you have constructed the JSON data and stored

[2021-04-13 15:14] yhirose commented on #905
@PixlRainbow, thanks for your help as always!

[2021-04-13 15:14] #905 closed

[2021-04-14 00:54] yhirose commented on #902
@vlad-mal, I just added `set_address_family` method. Please let me know if it works on your environment.

[2021-04-14 15:40] AKmoex commented on #905
@PixlRainbow Thank you.

[2021-04-15 01:09] vlad-mal commented on #902
`#include <httplib.h>
#include <chrono>
namespace htl = httplib;

int main()
{
	htl::Client cli("localhost", 8080);
	cli.set_address_family(AF_INET); //********************************! :)
	auto start = std::chrono::steady_clock::now();
	cli.Get("/id=1");
	auto ms = std::chrono::duration_cast<std::chrono::milliseconds>(std::chrono::steady_clock::now() - start).count();
	printf("\nMs: %d\n", ms);
}

[2021-04-16 20:38] laoshaw opened #906 "feature request: wolfssl support"
it would be great if this works with wolfssl for embedded use cases where openssl is too large

[2021-04-16 21:27] yhirose commented on #906
@laoshaw, a pull request is always welcome!

[2021-04-16 21:27] #906 closed

[2021-04-17 01:33] yhirose commented on #900
@ZacheryGuan, thanks for the sample code. I am able to reproduce the problem on my macOS. I'll take a look at it when I have time. Thank you!

[2021-04-17 02:06] yhirose commented on #873
@xtayaitak, @lrh450330, @haydenmc, I made some experimental change [here](https://github.com/yhirose/cpp-httplib/pull/907/files). Could you try the version when you have time to see if the change fixes the problem on your environment? Thanks a lot!

[2021-04-17 02:07] yhirose commented on #900
@ZacheryGuan , I made some experimental change [here](https://github.com/yhirose/cpp-httplib/pull/907/files). Could you try the version when you have time to see if the change fixes the problem on your environment? Thanks a lot!

[2021-04-17 11:21] ZacheryGuan commented on #900
@yhirose, I will try it next Monday. Thanks for your effort!

[2021-04-18 04:22] #847 closed

[2021-04-19 07:19] ZacheryGuan commented on #900
It fixes the problem in my case. Thanks!
Can I get a status from `sink.write()` to know if I have written to the socket successfully? Now I temporarily use `sink.is_writable()` after `sink.write()` to check that status.

[2021-04-19 21:25] yhirose commented on #900
@ZacheryGuan, I changed it to return a boolean value from `write_data`. The return value is not the same as from `is_writable`, but I think that's what you really need.

[2021-04-20 11:44] lujuntuan opened #908 "The constructor of std::regex under the qnx platform is wrong"
Platform: qnx700 aarch64 C++11 support

I try to modify:
Before
[code]

After
[code]

And it is ok.

[2021-04-20 11:57] lujuntuan opened #909 "OpenSSL version less than 1.1.1"
Sorry,

I want to know what features will not be supported if the version is less than 1.1.1?
It looks okay after I ignore #error?
(It looks like you have done a version less than 1.1.1 )

[code]

My OpenSSL version is 1.0.2 under qnx platform, I only need https server and client to transfer files.

[2021-04-20 12:19] yhirose commented on #909
@lujuntuan, thanks for the feedback. Since I don't want to take any risks with versions that are no longer officially supported, I intentionally dropped the support for such older versions. Thanks for your understanding!
https://www.openssl.org/policies/releasestrat.html

[2021-04-20 12:19] #909 closed

[2021-04-20 12:24] yhirose commented on #908
@lujuntuan, thanks for the report. It seems like it's a bug in your compiler. Please see the following reference. According to the constructor declarations, the `flag_type f` is optional. Could you submit a bug report to them?
https://en.cppreference.com/w/cpp/regex/basic_regex/basic_regex

[2021-04-20 12:24] #908 closed

[2021-04-20 12:24] lujuntuan commented on #909
emm..
Ok i got it. Thanks~

[2021-04-20 12:34] lujuntuan commented on #908
@yhirose , It is true that the constructor lacks default values.
The new compiler version seems to have changed.
I personally think that adding a default value to this place will not have any effect, haha.