[2021-04-22 08:08] RolandasV opened #910 "Openssl on macos crash"
Trying to use the library with open ssl support on both windows and macos. Managed to get it working on windows, however having trouble with openssl support on macos. Not sure if it is a bug or I'm doing something wrong.

Build openssl from source and linked with my project, also tried getting openssl from brew and then linking the libraries. The project builds fine, however getting a run time cra

[2021-04-22 10:49] yhirose commented on #910
@RolandasV, could you try `cd test; make` on your machine please?

[2021-04-22 11:14] #873 closed

[2021-04-22 11:14] #900 closed

[2021-04-22 11:17] RolandasV commented on #910
@yhirose 1test failed.

[----------] Global test environment tear-down
[==========] 213 tests from 56 test cases ran. (233077 ms total)
[  PASSED  ] 212 tests.
[  FAILED  ] 1 test, listed below:
[  FAILED  ] SSLClientTest.WildcardHostNameMatch

[ RUN      ] SSLClientTest.WildcardHostNameMatch
test.cc:3880: Failure
Value of: res->status
  Actual: 302
Expected: 200
[  FAILED  ] SSLClientTest.Wildcar

[2021-04-22 12:06] yhirose commented on #910
@RolandasV, I just updated the test/test.cc. Could you try it again with the latest code? Thanks.

[2021-04-22 12:26] RolandasV commented on #910
@yhirose with the changes all tests pass.

[2021-04-22 12:29] yhirose commented on #910
@RolandasV, good! That means all you need to know are written in [test/Makefile](https://github.com/yhirose/cpp-httplib/blob/master/test/Makefile). Hope it helps!

[2021-04-22 12:29] #910 closed

[2021-04-22 20:15] haydenmc commented on #873
Hi @yhirose ! Thanks for looking into this problem.

Since my report we've made a few changes to our project, including [a fix to some code that appeared to be double-closing socket FDs](https://github.com/Glimesh/janus-ftl-plugin/pull/116). After these fixes, we haven't seen this problem crop up in production.

Our current theory is that the double-closing issue may have been manifesting as the h

[2021-04-25 07:23] ZacheryGuan commented on #900
@yhirose, thank you! IMHO, the readme could also mention the new feature, the return value of `wirte_data`.

[2021-04-25 11:00] Spixmaster opened #913 "How to execute code after httplib::Server::listen?"
This question arises as when calling httplib::Server::listen the function is never left.
Important is that I do not want to use a thread. Is this possible?

[code]

[2021-04-25 12:07] Spixmaster commented on #913
I took a look at the tests and there it is done with a thread. https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L844

[2021-04-25 12:32] yhirose commented on #913
@Spixmaster, thanks for the feedback, but this is no other solution except using a thread as far as I know.

[2021-04-25 12:32] #913 closed

[2021-04-25 12:46] Spixmaster opened #914 "IP 127.0.0.1 does not work"
The following code does not work. It results in error 2 which is "Connection".
[code]

Is there a reason for it? As a side note. The server on localhost was setup with the host "localhost".

[2021-04-25 14:40] yhirose commented on #914
@Spixmaster, since it's a general problem of socket, you could try with `curl http://127.0.0.1:5285/hi -v' to get more information to diagnose your network problem. Hope it helps.

[2021-04-25 14:40] #914 closed

[2021-04-25 17:16] Spixmaster opened #915 "Getting non-existent values should throw an exception"
In all three cases, no exception is thrown.
[code]

Instead, a default value is returned as this code snippet shows:
[code]

I think this should throw an exception each time as otherwise there would be no difference between `req.get_file_value("does_not_exist").content == ""` for a key which does exists and simply has no content and a key that does not exist. Another argument is that in the curren

[2021-04-25 19:18] yhirose commented on #915
@Spixmaster, thank you for the suggestions, but the intentions for them are not as you think. Please check README and test/test.cc. Hope it helps!

[2021-04-25 19:18] #915 closed

[2021-04-26 03:34] Spixmaster commented on #915
@yhirose I checked the Readme and test/test.cc. Nevertheless, I do not understand what you mean with "the intentions for them are not as you think".

I looked at the line and the following ones: https://github.com/yhirose/cpp-httplib/blob/master/test/test.cc#L1405

[2021-04-26 13:59] yhirose commented on #915
@Spixmaster, `bool has_???(const char *key) const` method should be used to check the key exists, then use the corresponding `get` method.

[2021-04-26 14:09] Spixmaster commented on #915
@yhirose Yes, this is how I thought it should be. My question is, why `bool get_???(const char *key) const` does not throw an exception if `bool has_???(const char *key) const` is false and the key does not exist.

[2021-04-26 14:42] yhirose commented on #915
@yhirose, basically, I try to make this library 'exception free' code. That's why I made `has_` methods instead of throwing exceptions from `get_`. (Right now, there is only one place to throw an exception in cpp-httplib.) As you pointed in `test/test.cc`, there is `get_file_vaule` which throws an exception, but it's just a utility method for testing. Hope it satisfies your question.

[2021-04-27 10:27] RolandasV commented on #910
@yhirose after some more debugging now I'm getting a BindIPAddress error when posting. Could you give some more info what the error is about? And maybe some possible solutions? Thanks.

`httplib::Client cli(host.c_str());cli.enable_server_certificate_verification(false);
auto res = cli.Post(url.c_str(), postData, dataTransfer.c_str());`

[2021-04-27 15:15] tsilia opened #916 "'httplib::Server::Post: ambiguous call to overloaded function' compilation error"
Hello. Thanks for your neat library!

I'm trying to use `std::bind` with `Server::Post`, like this:
[code]
and getting the aforementioned compile error. While this approach works well with other methods (`Server::set_logger` and the likes) it wouldn't work with this particular method, probaly because of how its overloads are defined:
[code]
Looks like the two alternatives *are* ambiguous because b

[2021-04-27 20:25] nico202 commented on #876
Is it possible to have an option that toggles tests requiring internet access?  In environments where builds happens offline, this would help a lot

[2021-04-28 09:38] locez opened #917 "How to download big file？"
According to #348 , it's any way to download a big file in a small memory device?How can I do that?  Can you  show me an example? thanks

[2021-04-28 12:37] yhirose commented on #917
https://github.com/yhirose/cpp-httplib#receive-content-with-a-content-receiver
Hope it helps!

[2021-04-28 12:37] #917 closed

[2021-04-29 11:03] yhirose commented on #916
@tsilia, thanks for the feedback. Could you explain what is `ProcessPostRequest`? There is no such method on `Server` though...

[2021-04-29 11:09] bftjoe opened #919 "compile with no exceptions?"
Is there a chance the library could do without exception support? I tried to combine this with another c++ project with exceptions disabled for performance, but this requires exceptions.

[2021-04-29 11:41] tsilia commented on #916
Hey @yhirose, thank you for your reply.
Sorry I wasn't clear enough and my message was also a bit misleading.

`ProcessPostRequest` is just a placeholder for a method that processes post requests. It is a member of my class, `::Server`, which I somehow named exactly as your class located in the `httplib` namespace. After renaming it to make things more clear and giving some more details, I have th

[2021-04-29 11:50] yhirose commented on #919
@bftjoe, thank you for the feedback. There is only one place where cpp-httplib throws an exception.

https://github.com/yhirose/cpp-httplib/blob/c58b00580ee66a248c2ef20334bb84319ccde310/httplib.h#L7189-L7197

You can fork this library and comment out the block to make it exception free code. Hope it helps.

[2021-04-29 11:50] #919 closed

[2021-04-29 11:58] yhirose commented on #916
@tsilia, I now got it.

`std::bind` is a much weaker solution than the lambda function anyway, and I think there is no elegant solution. Only thing that I can come up with is as below:

[code]

Is it good enough for you?

[2021-04-29 12:55] tsilia commented on #916
Yeah, thanks, that compiles ok. Couldn't think of putting it this way. Now that you suggested it, I'm thinking of making a wrapper function, smth like RegisterHandler which will return `httplib::Server::Handler(std::bind(callable, args))`.
Thank you.

[2021-04-29 12:55] #916 closed

[2021-04-29 23:25] bftjoe commented on #919
Did you mean to link to a specific line? In any case, -fno-exceptions disables all try catch, not just throwing exception. I will probably look into a different library.

[2021-04-30 10:46] m5santovito opened #920 "class std::shared_ptr<httplib::Response>’ has no member named ‘error’"
Hi all,
hope you can help me. Following the simple client implementation I run into this error when compiling.
Thanks
Maurizio

[2021-04-30 12:12] yhirose commented on #919
@bftjoe, sorry that this library doesn't satisfy your needs... Hope you will find a library that fits in with your requirement. :)

[2021-04-30 12:39] yhirose commented on #920
@m5santovito, sorry, but I can't give you a help because there is very little information...

[2021-04-30 12:39] #920 closed

[2021-05-01 18:44] FrozenSource opened #922 "[Question] Client send multi-part using file streams."
Hi,

I have a question. The samples provide a very detailed way of receiving multipart files.
Now my question is how would one send files based on a std::ifstream?
I have two files that I need to send in one request. Now I could implement it myself but you, as the developer(s), might know the best way.

This is what I have at the backend:
[code]

Similarly, I want to do the same on the client but

[2021-05-02 09:50] geometry2019 opened #923 "How can I download a file with cpp-httplib"
I have tried using cpp-httplib's Get() to download an image , but it failed and the error code was Read . As you can imagine , the image is not text , but it uses string to store it , which makes it not
 worked . So how can I use this library to download files ?

[2021-05-02 11:48] yhirose commented on #923
@geometry2019, hope this helps.
https://github.com/yhirose/cpp-httplib/blob/2a70c45697822621c4c50b5e26834d42ed41df01/test/test.cc#L357-L378

[2021-05-02 11:48] #923 closed

[2021-05-02 12:28] yhirose commented on #922
@FrozenSource, thank you for the feedback. In fact, there is no easy way to do it on client so far. The following API is an only API to handle multipart form data items, and it requires to set your data to `std::string content` in `struct MultipartFormData` beforehand.

[code]

https://github.com/yhirose/cpp-httplib/blob/2a70c45697822621c4c50b5e26834d42ed41df01/httplib.h#L6159

If `struct Mutipart

[2021-05-02 12:28] #922 closed

[2021-05-02 12:34] FrozenSource commented on #922
Thanks, Thats kind of what I was expecting :). Next month I have some free time. Will look into this!

[2021-05-04 01:50] ANF-Studios opened #924 "Unresolved externals after linking"
Hello there,
I'm trying to get OpenSSL support and I'm having a hard time linking. It works just fine, except it throws a few linker errors (undefined references) when I link my version of a static library to an executable:
![image](https://user-images.githubusercontent.com/68814933/116952657-310e0000-ac59-11eb-8b42-29565102bada.png)

I have no idea why this is happening. I have a primary project,

[2021-05-04 21:29] yhirose commented on #924
@ANF-Studios, you could take a look at CMakeLists.txt that @sum01 kindly maintains. It supports Windows environment as well. In my case, I use vkpkg to install the latest OpenSSL and there is no problem to build. Hope it helps!

[2021-05-04 21:29] #924 closed

[2021-05-05 03:08] sum01 commented on #924
@ANF-Studios It looks like [you're trying to link old libraries.](https://github.com/ANF-Studios/pastemyst.cpp/blob/dab382604f1fee4f0c0a9babaddd13f906bf3d7a/premake5.lua#L42-L43)

The library names changed sometime ago, and [cpp-httplib requires >= v1.1.1](https://github.com/yhirose/cpp-httplib/issues/192)
The new names are `crypto` and `ssl`.

Not sure about the specific names to look for since I

[2021-05-06 12:06] krish-2214 opened #925 "Split server code into different cpp files"
I've written a http server using this library. It is working as expected when accessed by clients. My server code is written in single c++ source file, is there a way to split them across different source files? As I have many service end points, file becomes larger and not easily maintainable.
For example, all urls with root context **/app/...** to be in root_app.cpp
all urls wih root **/device/.

[2021-05-07 01:17] yhirose commented on #925
@krish-2214, yes you can. The one way is to make the server as a global variable and your can refer to it in other source files. Or you can define functions taking a reference of the server in other sources, so that you can pass the server instance in the main source to the functions in other sources. This issue has actually nothing to do with cpp-httplib, but a general C++ question though...

[2021-05-07 01:17] #925 closed

[2021-05-07 11:02] sdynan-r7 opened #926 "What causes Error::Read fault?"
Hello. I'm using your library as a http client to post requests to REST api endpoints.

- Windows 10 x64
- Visual Studio 2019
- C++ v14.1 toolchain

Sometimes httlib::Client::Post() returns Error::Read. And I'm trying to figure out why.

`httplib::Client::Post() returned httplib::Error (4).`

Here is my technique:
[code]

[2021-05-07 14:45] #926 closed

[2021-05-08 03:13] equisde opened #927 "bad body return with params"
hello i'm new to C++ and i've been trying this library but for some reason i'm getting a bad body after sending a request with params
what i except to get is `done`
what i'm getting is  `ù§]i☻@F§]i☻bad hwid` it always change except for bad hwid since its printed by doing comparison
this is my code
[code]
by testing with the full uri with static params i get what i want but when using the params fu

[2021-05-08 08:14] PixlRainbow commented on #927
hi, you cannot simply cast a `std::string *` into a `const char *`.

std strings are structured C++ objects that manage an underlying `char *`. They contain data like the allocated size of the underlying buffer and an address pointing to the actual buffer as well as other helper data. If you attempt to cast an std string pointer directly into a const char pointer, you are telling C++ that you want

[2021-05-08 08:17] PixlRainbow commented on #927
Another unrelated but important note: you are potentially calling the `auth()` function twice here:
[code]
When the first `if` statement fails, the second `else if` will be run, which will call `auth` a second time in order to compare the return value with `2`

[2021-05-08 08:28] PixlRainbow commented on #927
Note that the params parameter of the post function does NOT construct and append the query parameters to the URL path. The params parameter of the post function will add the query parameters to the post request body following the `application/x-www-form-urlencoded` format. In other words, it behaves differently from the params parameter of the get function.

However, you should still be able to c

[2021-05-08 08:40] braindigitalis opened #928 "Split.py does not work if you want to enable openssl support"
If you want to enable openssl support using `#define CPPHTTPLIB_OPENSSL_SUPPORT`, you cannot also use split.py without additional changes to the .cc file.

The .cc file needs the following additional definitions above the `#include`:

    #include <openssl/ssl.h>
    #include <openssl/err.h>
    #include <openssl/md5.h>
    #define CPPHTTPLIB_OPENSSL_SUPPORT

Of course, if you are not using openss

[2021-05-08 12:17] yhirose commented on #928
@braindigitalis, the split `httplib.cc` has the following lines. So what you have to do is to pass `CPPHTTPLIB_OPENSSL_SUPPORT` to your compiler.

![image](https://user-images.githubusercontent.com/357397/117538761-a3723d80-afd5-11eb-9841-71e01273def6.png)

Hope it helps!

[2021-05-08 12:17] #928 closed

[2021-05-08 12:18] yhirose commented on #927
@PixlRainbow, thanks for answering this question!

[2021-05-08 12:18] #927 closed

[2021-05-10 22:01] NoneTirex commented on #926
@yhirose when I want GET a big image from some endpoint my program get the same error because of this line: https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L5845

[code]

[2021-05-12 19:09] ottigeda opened #930 "Server: get notified if transfer is aborted ?"
In some code using a httplib::Server() I would like to learn when a client aborts the transfer,
or if the file was successfully and completely delivered to the client.
I did think Server::set_error_handler would do the job, but for me the error handler never gets called.
Is this a bug, or did I not fully understand what is the purpose of the error handler ?

In my test I use wget to download a big

[2021-05-12 19:50] yhirose commented on #930
@ottigeda, `Server:: set_error_handler` isn't for that purpose. It is called when the path doesn't match any of registered request handlers. You can see some examples in `test/test.cc`. There is no way to detect such an abort event on client for now.

[2021-05-12 19:53] #930 closed

[2021-05-12 21:04] yhirose commented on #926
@NoneTirex, I have no problem with the following example on my Mac...

[code]

[code]

[2021-05-13 08:01] Zhaotiedan opened #931 "How can I get a picture by Post()?"
I transmit the image stream by Ajax.

[2021-05-13 08:33] samthesuperhero opened #932 "SSLClient - any docs how to use it for client certificate authentication?"
Dear contributors,

any idea where I can find detailed guide of API documentation to use SSLClient for client X.509 certificate authenticating? Or at least, turn on some "debug logging" or so, to understand what happens?

Running on Fedora 34,
[code]
Output:
[code]
(exit code 139 by signal 11: SIGSEGV)

If I comment stdout,
[code]
just nothing happens, Wireshark as well shows nothing, no traffic o

[2021-05-13 11:08] yhirose commented on #931
@Zhaotiedan, you can see some examples of how to do it in `test/test.cc`. Hope it helps!

[2021-05-13 11:08] #931 closed

[2021-05-13 11:17] yhirose commented on #932
@samthesuperhero, you can see a number of examples calling the constructor of `SSLClient` with a cert file and a private key file`. The segmentation fault sounds that your build doesn't link necessary libraries properly. (If you run `cd test; make` works on your machine?)
Hope it helps!

[2021-05-13 11:17] #932 closed

[2021-05-14 08:50] PixlRainbow commented on #930
which serves the contents using a content provider.

You can write your content provider to set a global flag to indicate that a transfer is complete if the last batch of data has been written to sink. There is still a possibility that an abort will not be caught if a client aborts halfway through the transfer of the last batch, but at least you will be catching aborts between any other batch.

[2021-05-14 09:59] samthesuperhero opened #933 "SSL suites support"
Dear contributors,

fighting with server / client implementation,

can't understand, where can I see if any of these four supported ?
`TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256`
`TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384`
`TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256`
`TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384`

Because what I get is that when I use my certificates / keys generated for `ECDHE`, `ECDSA` and `

[2021-05-17 17:39] guoxiangzhou opened #937 "Cannot graceful stop"
class Server {
public:
    void start(const std::string &ip, int port);
    void stop();

protected:
    void registerHandler();

private:
    httplib::Server m_server;
    std::unique_ptr<std::thread> m_work;
};

void Server::start(const std::string &ip, int port) {
    registerHandler();

    m_work = std::make_unique<std::thread>([&](){
        m_server.listen(ip.c_str(), port);
    });
}

void

[2021-05-17 19:31] yhirose commented on #937
@guoxiangzhou, hope [this](https://github.com/yhirose/cpp-httplib/blob/75fdb06696d4e27b590135c1e4a226b4e13e9bd7/test/test.cc#L3778-L3802) helps!

[2021-05-17 19:31] #937 closed

[2021-05-18 13:58] aramperez opened #939 "Error in section SSL Support"
The code in this section has the following code:
`
#define CPPHTTPLIB_OPENSSL_SUPPORT
#include "path/to/httplib.h"

// Server
httplib::SSLServer svr("./cert.pem", "./key.pem");

// Client
httplib::Client cli("https://localhost:1234");

// Use your CA bundle
cli.set_ca_cert_path("./ca-bundle.crt");

// Disable cert verification
cli.enable_server_certificate_verification(false);
`

However, the `htt

[2021-05-18 15:03] Au-lit opened #940 "Isn’t Result a bit like std::expected<Response, Error>?"
Looking at the `Result` class it really seems like a close imitation of the [[P0323R10]](www.open-std.org/jtc1/sc22/wg21/docs/papers/2021/p0323r10.html) proposal talked by Andrei Alexandrescu in he's [“Expect the expected”](https://www.youtube.com/watch?v=PH4WBuE1BHI) talk from CppCon 2018. In short I think that `Result` could almost be replaced (in a bit of time) `std::expected<Response, Error>;`

[2021-05-18 16:57] yhirose commented on #940
@Au-lit, yes, you are correct!

[2021-05-18 16:59] yhirose commented on #939
@aramperez, hope the following info helps you!
https://github.com/yhirose/cpp-httplib/blob/75fdb06696d4e27b590135c1e4a226b4e13e9bd7/httplib.h#L1347-L1349

[2021-05-18 16:59] #939 closed

[2021-05-18 17:07] yhirose commented on #933
@samthesuperhero, thank you for the feedback. Since I am not an expert of OpenSSL, I am not in a position to give you a meaningful help... But at least on client size, you can obtain the `SSL_CTX *` via `ssl_context()` method, and call whatever necessary OpenSSL APIs with it.
https://github.com/yhirose/cpp-httplib/blob/75fdb06696d4e27b590135c1e4a226b4e13e9bd7/httplib.h#L1355
As for server side, I

[2021-05-18 17:41] aramperez commented on #939
I guess I was not clear enough: you have an error in your README.md file. Take a look at your example in the **SSL Support** section. It states `httplib::Client cli("https://localhost:1234");` followed by `cli.set_ca_cert_path("./ca-bundle.crt");`. The first statement should have been `httplib::SSLClient cli("https://localhost:1234");`.

[2021-05-18 18:49] samthesuperhero commented on #933
@yhirose, thank you, now clear, !!

[2021-05-18 18:49] #933 closed

[2021-05-19 06:52] guoxiangzhou commented on #937
I don't think the problem has been solved. _t.join() will be blocked, because _t thread wait the return of accept function.

[2021-05-19 07:30] guoxiangzhou commented on #937
I don't think the problem has been solved.

I debugged the test code: The reason why it can exit normally is that Before the t_ thread enters the listen function, the main thread executes the teardown function.

In general, The t_ thread is waiting for the accpet function to return, and t_. join() will block

[2021-05-20 06:27] guoxiangzhou opened #943 "I don't think [issues-937] has been solved."
I don't think the problem has been solved.

I debugged the test code: The reason why it can exit normally is that Before the t_ thread enters the listen function, the main thread executes the teardown function.

In general, The t_ thread is waiting for the accpet function to return, and t_. join() will block

_Originally posted by @guoxiangzhou in https://github.com/yhirose/cpp-httplib/issues/937#

[2021-05-20 12:34] yhirose commented on #943
Duplicate of #937

[2021-05-20 12:34] #943 closed

[2021-05-20 12:38] yhirose commented on #937
@guoxiangzhou, I closed #943, because I would not like to scatter the same thing in different issues. Also I'll keep it as 'closed' until I confirm it's a really problem. Thank you for your understanding!

Anyway, could you add the following after you start the thread?
https://github.com/yhirose/cpp-httplib/blob/75fdb06696d4e27b590135c1e4a226b4e13e9bd7/test/test.cc#L3789-L3791

[2021-05-22 16:36] oviano opened #944 "SSL read timeout errors on Windows"
Firstly, thanks for making the library! It's nice to have a simpler modern alternative to libCURL.

So I'm finding on Windows that I get an unexpected amount of error code 4 returned when calling Get when accessing a remote https endpoint to receive JSON data.

I do not get the same timeouts when retrieving the same amounts of data, from the same LAN, using the Mac platform, therefore I think ther

[2021-05-22 18:24] yhirose commented on #944
@oviano, thank you for the fine report and look fine to me. Could you test with the following change on you machine?

[code]

Thank you for your help!

[2021-05-22 19:43] oviano commented on #944
Yes, this works correctly.

[2021-05-22 23:25] #944 closed

[2021-05-23 00:16] yhirose commented on #944
@oviano, I have merged it. Thanks for your fine contribution!

[2021-05-24 17:42] just6chill opened #945 "runtime error"
[code]

i have this code but somehow it always abort, i am on windows using the msvc compiler. help would be great, dunno what i did wrong.

if i do a curl request like this:
[code]
it works completly fine

i appreciate every help.

[2021-05-24 17:51] yhirose commented on #945
@just6chill, I am not sure. Your code looks good to me. Probabry `CPPHTTPLIB_OPENSSL_SUPPORT` is not enabled when compiling?

[2021-05-26 01:56] #945 closed

[2021-05-26 05:00] just6chill commented on #945
@yhirose sorry for the late reply, you where right I neither include ssl nor installed the libs, not it's working, Thanks!

[2021-05-27 09:52] kingster opened #947 "Random `HTTP/1.1 500 Internal Server Error`"
Hi

I have an endpoint defined as below

[code]

And this randomly sends this response

[code]

Interestingly I don't get the LOG4CXX_ERROR error line in my logs and nothing in the response body. But there isn't any `EXCEPTION_WHAT` header either. Any guess what is going wrong here?

And other time it works properly

[code]

[2021-05-27 12:12] kingster commented on #947
I think it happens due to code addition in https://github.com/yhirose/cpp-httplib/commit/95d0b073bd3ae1300aad65d1ab95a43bcbeb30f0

It can be solved by adding `#define CPPHTTPLIB_USE_POLL` before including the `httplib.h` header file.

 IMO we should add this in the README.

[2021-05-27 12:12] #947 closed

[2021-05-27 15:50] qt1 opened #948 "Client error logger/ indication?"
Sometimes client fails returning null res.

How do I know what happened?
Is there a client error logger, error string, code, exception etc?

Thanks!

[2021-05-27 15:55] yhirose commented on #948
@qt1, HTTP level errors will be logged into `Logger`.  TCP level errors will be reported through `Error` in `Result`.
Hope it helps!

[2021-05-27 15:55] #948 closed

[2021-05-28 00:11] qt1 commented on #948
Thanks!!

I also wrote a small printout helper that is usefull for me, should I add PR?

[code]

[2021-05-28 09:00] Airyzf opened #949 "client send will crash if server not ready"
client  send will crash if server not ready, how to detect server is ready?

[2021-05-28 09:07] Airyzf commented on #949
this code is work

httplib::Client cli("http://img3m5.ddimg.cn");
auto res = cli.Get("/15/34/23628345-1_b_1.jpg");
std::cout << res->status << std::endl;

but this code will crash

httplib::Client cli("http://img3m5.ddimg.c");
auto res = cli.Get("/15/34/23628345-1_b_1.jpg");
std::cout << res->status << std::endl;

[2021-05-28 11:15] #949 closed

[2021-05-29 02:28] Airyzf commented on #949
thanks, it works.

[2021-05-31 19:35] fatrolls opened #950 "Missing equals sign"
![check this out](https://i.imgur.com/eDiwObz.png)

[2021-06-01 01:02] yhirose commented on #950
I can compile the code with `-std=c++11` with no problem at all.

[2021-06-01 01:02] #950 closed

[2021-06-01 07:02] chiaitian opened #951 "how to debug res.error=4(READ ERROR)"
hi, client post to server, return error=4(READ). How to debug this error? I use curl to test, works fine.

[2021-06-01 11:17] #951 closed

[2021-06-01 11:17] yhirose commented on #951
Hope @PixlRainbow's answer helps you.

[2021-06-04 07:41] kktao opened #953 "error: missing space between '""' and suffix identifier"
hello, when I compile it with my project, I had following problem.
### my environment:
-- CMake version: 3.5.1
-- CMAKE_CXX_COMPILER '/usr/bin/c++' 'GNU' '4.8.4'
### error info
`cpp-httplib-v0.8.5/httplib.h:2286:14: error: missing space between '""' and suffix identifier
   using udl::operator""_;`
### my solution
To solve the problem you only need to add a space in this line
`using udl::operator"

[2021-06-04 07:46] Airyzf opened #954 "how to upload big file to server"
How to upload a big file , i dont know how to write frame data in post callback function

    std::ifstream fs;
    fs.open(filename.c_str(), std::ifstream::in | std::ifstream::binary);
    if (!fs)
    {
        printf("open %s failed\n", filename.c_str());
    }
    std::streampos pos = fs.tellg();
    fs.seekg(0, std::ios::end);
    size_t filesize = fs.tellg();
    std::cout << "size = "<<file

[2021-06-04 11:05] yhirose commented on #953
Hope #812 and #865 help you.

[2021-06-04 11:05] #953 closed

[2021-06-04 11:09] yhirose commented on #954
@Airyzf, I probably don't understand what you meant with 'frame', but you can send whatever data via `sink.write`. You can see a number of examples in `test.test.cc`. Hope it helps!

[2021-06-04 11:09] #954 closed

[2021-06-04 11:42] Airyzf commented on #954
How to send data to server when I read a big file one by one chunked?

[2021-06-04 12:11] yhirose commented on #954
https://github.com/yhirose/cpp-httplib/blob/master/README.md#receive-content-with-a-content-receiver

[2021-06-04 12:13] yhirose commented on #954
It might help you:
https://github.com/yhirose/cpp-httplib/issues/922

[2021-06-06 02:50] zhaowq32 opened #956 "Memory leak"
## code
[code]
## valgrind log
[code]

[2021-06-06 03:04] yhirose commented on #956
@zhaowq32, thanks for the report, but it's not enough to tell that the leak is from httplib. Could you run `cd test; make` to run unit tests on your machine with your memory leak detector? Thanks!

[2021-06-06 04:51] zhaowq32 commented on #956
No problem with unit test.I will write a demo to verify whether the problem is caused by multi-threading.

[2021-06-06 05:08] zhaowq32 commented on #956
# main.cpp
[code]
# CMakeLists.txt
[code]

[2021-06-06 19:16] yhirose commented on #956
@zhaowq32, thank you for the update, but I was asking you to test with `test/test.cc` in the repo.
Or, could you test with the following simpler code without using libuv at all. Thanks!

[code]

[2021-06-07 01:02] zhaowq32 commented on #956
As I replied above,I have tested the unit test code and there is no problem.So I think the code leak may have nothing to do with cpphttplib.But the stack information is a bit strange.

[2021-06-07 01:38] yhirose commented on #956
@zhaowq32, could you please test with my simple sample code? If this doesn't leak, the problem may be in connection with libuv.

[2021-06-07 09:45] qt1 commented on #944
Also works for me.
I actually did the same patch and discovered that the upstream was already fixed :)

[2021-06-07 12:04] zhaowq32 commented on #956
No problems found in your test code.

[2021-06-07 12:12] zhaowq32 commented on #956
I am using the dev version of libuv.There is no problem changing to the official version.Thanks for your help.

[2021-06-07 12:12] #956 closed

[2021-06-07 12:17] yhirose commented on #956
@zhaowq32, thanks for testing. Did you find any problem with libuv?

[2021-06-07 12:19] zhaowq32 commented on #956
No. I will submit an issue to libuv.

[2021-06-07 12:24] zhaowq32 commented on #956
Can I put the url of httplib.h in libuv's issue?

[2021-06-07 12:58] yhirose commented on #956
Short answer is no please. As the REAME mentions, cpp-httplib is 'blocking' HTTP library, so using it with libuv which is 'non-blocking' I/O library is NOT intended. So I don't recommend to use cpp-httplib with libuv anyway.
Thanks for your understanding!

[2021-06-07 13:20] zhaowq32 commented on #956
I used openssl as an example to submit an issue for libuv.If you are also interested in this issue, you can visit [https://github.com/libuv/libuv/issues/3196](https://github.com/libuv/libuv/issues/3196).

[2021-06-12 14:40] mahsa-kh-21 opened #959 "Disable Content-Type in Post requests"
I want to interact with Dropbox API in one of my C++ projects. I need to upload two json strings to a text file that is already in my Dropbox. I'm using [this API](https://www.dropbox.com/developers/documentation/http/documentation#files-upload) to upload strings. This is my code:
[code]
As you can see I've only set `{ "Content-Type", "application/octet-stream" }` but when I execute my code I get

[2021-06-12 19:44] yhirose commented on #959
@mahsa-kh-21, thanks for the feedback. The Post API taking `Params` can be used only for `application/x-www-form-urlencoded`, not for any other content types like JSON. Please see the following example based on [the MDN](
https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST#example).

[code]

[code]

This API sends `field1=value1&field2=value2` as body content, and not `{{"field1","value

[2021-06-12 19:44] #959 closed

[2021-06-13 06:32] wongdu commented on #916
got the same problem

[2021-06-15 06:27] qbgit opened #960 "the "/" problem"
the client http url like
  1==>   httplib::Client cli0("http://127.0.0.1:8088")
or
  2 ==>  httplib::Client cli0("http://127.0.0.1:8088/")

 we porcess the "/" ,but cpp-httplib will be make an error ,it occurs ,if we have the "/" ,just like 2 method

[2021-06-15 08:28] PixlRainbow commented on #960
the constructor of the httplib::Client object takes a string that contains IP or hostname, and optionally port number or protocol. It does not accept specifying path in the constructor. By adding a `/` you are indicating a path (root directory of web server).

[2021-06-15 11:54] yhirose commented on #960
Hope @PixlRainbow's comment helps.

[2021-06-15 11:54] #960 closed

[2021-06-16 15:38] wubaojie opened #962 "libc++abi.dylib: terminating with uncaught exception of type std::invalid_argument: 'https' scheme is not supported."
help!!!
I encountered this error when I made an HTTPS request on my macbook(m1)

[2021-06-16 18:02] yhirose commented on #962
Hope [this section](https://github.com/yhirose/cpp-httplib#ssl-support) helps.

[2021-06-16 18:02] #962 closed

[2021-06-19 02:58] zgerrard opened #967 "SSLServerVerification error when using SSLClient on Mac"
Hi, thanks for the great library. I tried testing it and I am getting error 10 (SSLServerVerification) when using SSLClient. I also tried different hosts (e.g. google.com), and getting the same error. Below is the code:
[code]

Any ideas on what might be going on? I am using OpenSSL version 1.1.1i, and running everything on Mac with M1.

[2021-06-19 04:40] yhirose commented on #967
Does #673 help you?

[2021-06-19 04:40] #967 closed

[2021-06-21 02:06] chentiannan opened #968 "post big data"
In the case of post large JSON data, it always fails to send. After verification, an error is reported_ write ssl_ error_ Syscall, get on Windows system_ last_ The code of error is 10060. I use it when I use client
[code]
Solve the problem temporarily.

[2021-06-21 03:21] yhirose commented on #968
@chentiannan, sorry but I think it's not related to httplib.h itself, but more like your network condition...

[2021-06-21 03:21] #968 closed

[2021-06-21 03:38] chentiannan commented on #968
But I am in the same network conditions, using postman is OK, I confirm that when the data is greater than 64K, the error is SSL_ Write, this function is successfully sent when it is called for the first time, and returns - 1 for the second time, which causes the httplib error code to be unknown.
The relevant codes are as follows:
[code]

[2021-06-22 05:30] vectar31 opened #969 "Getting Segmentation Fault : 11 with https requests"
Here's what I am running this on macOS:

[code]

The segmentation fault : 11 is thrown while executing line ` auto res = cli.Get("/hi");`

Any idea why that may be happening?

[2021-06-22 10:40] yhirose commented on #969
@vectar31, did you follow the following instruction in README?

[2021-06-23 19:49] #969 closed

[2021-06-24 15:28] alphamarket opened #970 "The server's throughput and performance details?"
I cannot find any documentation on the number of workers and stats, on how many threads do you process requests? is there no limit or is there any configuration that we can configure the limit?

Regarding the performance, do you process the headers on-demand or all the time when a request comes in?

[2021-06-24 17:20] yhirose commented on #970
As for the default ThreadPool, you can see the information [here](https://github.com/yhirose/cpp-httplib#default-thread-pool-support) in README. What it does is [here](https://github.com/yhirose/cpp-httplib/blob/9648f950f5a8a41d18833cf4a85f5821b1bcac54/httplib.h#L509-L577). Hope these answer your performance questions.

Honestly, if you need better task management, I don't recommend to use the def

[2021-06-24 17:20] #970 closed

[2021-06-24 17:32] alphamarket commented on #970
Thanks, that information did help!
What about processing the headers on demand, for sure that will help to increase the throughput, for instance, the library can only process the first line to pick up the HTTP version and the requested path and when for the first time the client program asks for any headers it processes the headers. I wrote an HTTP server that does it and it really helped me gain

[2021-06-25 13:32] yhirose commented on #970
I think I don't do on-demand header processing. (Sorry that I don't fully understand what it mean actually...) The server code to read and parse the request line and headers is [here](https://github.com/yhirose/cpp-httplib/blob/9648f950f5a8a41d18833cf4a85f5821b1bcac54/httplib.h#L5175-L5180).

After reading and parsing headers, the information goes into `Request`. After that, the server take a look

[2021-06-25 15:46] Jerry-ojk opened #971 "Could you please add the support for SChannel in Windows?"
I want to use this lib on Windows, but I don't want to use OpenSSL because there is SChannel on Windows.

[2021-06-25 16:08] yhirose commented on #971
@Jerry-ojk, thanks for the request, but I simply don't need the support and don't have time to work on it. Pull request is always weocome!

[2021-06-25 16:08] #971 closed

[2021-06-26 06:22] alphamarket commented on #970
@yhirose `On-demand processing headers` means you don't process the headers until someone in the callback asks for any heads via `has_header` & `get_header_value` methods. so many times the callback doesn't want to do something with the headers, why we process it beforehand?

[2021-06-26 19:39] SJS830 opened #973 ""unresolved external symbol" when linking openssl on VS 2019"
I am linking libcrypto.lib and libssl.lib from openssl 1.1.1 to my project, This is my stacktrace:

`
Error	LNK2019	unresolved external symbol _ASN1_STRING_get0_data referenced in function "private: bool __thiscall httplib::SSLClient::verify_host_with_subject_alt_name(struct x509_st *)const " (?verify_host_with_subject_alt_name@SSLClient@httplib@@ABE_NPAUx509_st@@@Z)
Error	LNK2019	unresolved exter

[2021-06-26 20:20] yhirose commented on #973
Hope [this](https://github.com/yhirose/cpp-httplib#ssl-support) in README helps.

[2021-06-26 20:20] #973 closed

[2021-06-27 00:40] SJS830 commented on #973
Including winsock2.h **before** windows.h fixed it for me.

[2021-06-27 18:19] codic12 opened #974 "Question: how to check authentication server-side?"
`cpp-httplib` supports basic authentication on the client side, but how do we validate it on the server side? I couldn't find any examples, so I thought I'd just ask on GitHub Issues. Also, thanks for your work on the awesome library!

[2021-06-28 21:07] codic12 commented on #974
Wrote a simple parser, but I think that there should be library support for this feature.
[code]

[2021-06-28 21:13] codic12 commented on #974
Also, how do I set the response code?

[2021-06-28 23:22] lordbendtner1337 opened #975 "Posting JSON Array"
Not an issue per say, however I am having troubles figuring out how to post an array of objects.

For example, you can easily post a single object like;
httplib::Params params;
params.emplace( "uniqueid", pPlayer->strUniqueId );
params.emplace( "ip", pPlayer->strIP );

auto res = cli.Post( ( RequestURL + "/player" ).c_str( ), params );

However, how would I go about adding multiple "player" object

[2021-06-29 03:05] yhirose commented on #975
@lordbendtner1337, sorry that there is not way to pass an array of `httplib::Params`. This is for 'application/x-www-form-urlencoded' content type.

[2021-06-29 03:05] #975 closed

[2021-06-29 03:13] yhirose commented on #974
@codic12, thank you for the feedback. As you noticed, there is no authentication support on server side... (I haven't needed it in my projects so far. That's why it's not supported yet.) Your implementation looks good to me. Sorry that you have to do it manually. I am ok to provide such a helper function to parse the authorization header. The only thing is that once the basic authorization is supp

[2021-06-29 03:14] #974 closed

[2021-06-29 04:20] codic12 commented on #974
Got it, thank you for the informative reply! I will look into writing bearer and digest implementations and then maybe submit a pull request.

[2021-06-29 04:22] codic12 commented on #974
Never mind, just saw this https://github.com/yhirose/cpp-httplib/issues/375#issuecomment-597319746

[2021-06-29 15:48] sp22214 opened #976 "Cannot get (a list of) all cookies"
Hi,

I've recently switched from libcurl to cpp-httplib and I can't find get any header named "Set-Cookie" or "Cookie" from the client-side.
Using libcurl I was able to get a list of all cookies using the below calls:
       curl_easy_setopt(curlInstance, CURLOPT_COOKIEFILE, "");
       curl_easy_getinfo(curlInstace, CURLINFO_COOKIELIST, &curl_jar);

What's the correct way of getting all cookies (

[2021-06-29 20:03] liob opened #977 "Public Key Pinning"
Hi, does cpp-httplib support public key pinning? I found no obvious way by reading the header file. Thanks.

[2021-06-29 20:36] yhirose commented on #977
@liob, no, sorry about that.

[2021-06-29 20:36] #977 closed

[2021-06-29 20:38] yhirose commented on #976
@sp22214, since 'Set-Cookie' is just HTTP header value, you can read it with `get_header_value` and `get_header_value_count`. Hope it helps.

[2021-06-29 20:38] #976 closed

[2021-06-29 21:03] sp22214 commented on #976
thanks, that's what I understood. If I just call:
res = cli.Get(path);
The "res" will have a bunch of headers, but none is "Set-Cookie". This is a Jupyter Hub server I'm trying to communicate with, but if I just use a test host like "www.ikea.com" it provides "Set-Cookie" in the list of headers. The issue is that using libcurl after the call to "curl_easy_setopt(curlInstance, CURLOPT_COOKIEFILE, "

[2021-06-30 12:19] gjasny opened #978 "Provide a mapping function from Error to String"
Hello,

It would be nice if you could provide a `to_string` function for the `httplib::Error` class so that callers could log a human-readable string.

Thanks,
Gregor

[2021-06-30 12:22] gjasny opened #979 "Handling for URLs containing IPv6 addresses broken"
Hello,

I noticed that the library cannot handle URLs like `http://[::1]/` because it does not consider the `[]`-escaped IPv6 addresses. It's a problem in both: the Client constructors as well as the `Host:`-HTTP header.

Thanks,
Gregor

[2021-06-30 19:39] codic12 opened #981 "Ratelimiting?"
Is there any way to ratelimit with this library on the server side or any plans for it?

[2021-06-30 21:46] yhirose commented on #981
No. A pull request with a unit test is always welcome!

[2021-06-30 21:46] #981 closed

[2021-07-01 10:14] zerolslong opened #982 "I want to transfer binary files with a size of 256KB per piece, how do I increase the RECV BUFF?"
I want to transfer binary files with a size of 256KB per piece, how do I increase the RECV BUFF?

[2021-07-01 11:03] yhirose commented on #982
You can modify `CPPHTTPLIB_RECV_BUFSIZ`.

[2021-07-01 11:03] #982 closed

[2021-07-02 00:43] zerolslong commented on #982
I tried to increase the size of the buff, but received a size < 10*1024

[2021-07-02 00:45] zerolslong commented on #982
#ifndef CPPHTTPLIB_RECV_BUFSIZ
#define CPPHTTPLIB_RECV_BUFSIZ size_t(266240u)
#endif

[2021-07-02 01:09] yhirose commented on #982
The actual read size is out of our control because the OS system call or WinSock2 API `recv` dictate it. Sorry...

[2021-07-02 01:10] zerolslong commented on #982
Thanks for the answer, I think it's a problem on our side, I've probably found the problem, thanks again

[2021-07-02 06:03] jeffopolis opened #983 "Is it possible for httplib::Server to receive file data from a command (ie curl)"
I'm looking through the documentation and I'm not seeing anything that's helping me, but perhaps I'm just overlooking it...

Say I'm using a curl command like:

    curl --request POST --form "file='path/to/file.txt'" http://localhost/upload

How can I receive the file data from the client trying to send the data?

[2021-07-02 12:18] yhirose commented on #983
Unfortunately, there is no convenient way like curl's `--form` option. But here is the information that might help you in README.

[code]

So, as for your 'multiple/form-data' example , you have to open `path/to/file.txt` and prepare `httplib::MultipartFormDataItems` by yourself, and simply pass it to `Post` method.

Hope it helps!

[2021-07-02 12:18] #983 closed

[2021-07-02 16:03] jeffopolis commented on #983
@yhirose Thanks for the quick  response, however I was referring to the httplib _receiving_ such a command. For example, say I have a server with the following:

    httplib::Server server;
    server.Post( "/upload", [ & ]( const httplib::Request& req, httplib::Response& res ) {
            // How to receive the file here?
    } );

And I issue the curl command via command line, trying to upload

[2021-07-05 06:51] TheQuantumPhysicist opened #984 "Download something by just providing the complete URL?"
I'm new to this library, so I'm not sure whether what I'm trying to do is possible, but after playing with the library a little bit, it seems very weird how it works...

Why do I have to enter the domain/host in the constructor of `httplib::Client`, and then separately provide the complete path to the file I need to reach? ... As a developer who just wants to retrieve a file, why should I care and

[2021-07-05 12:14] yhirose commented on #984
@TheQuantumPhysicist, sorry that this doesn't meet your requirement. This design enables us to issue multiple HTTP requests via a same TCP connection with HTTP KeepAlive.

Microsoft cpprestsdk also takes the same approach.
https://github.com/Microsoft/cpprestsdk/wiki/Getting-Started-Tutorial

Hope it helps!

[2021-07-05 12:14] #984 closed

[2021-07-05 12:16] TheQuantumPhysicist commented on #984
Maybe this feature can be added? Please consider it. It's very useful.

[2021-07-07 06:23] fatrolls opened #985 "Why doesn't this library work for manual mapping injection?"
When I inject a DLL which contains some HTTPS GET/POST Requests none of them have error  Result.error() always returns 0. (which means Success).

Try using this injector below with settings Injection type: (Manual mapping),  (native inject works fine (which is just LoadLibrary).

I used API Monitor it seems the connect() function contains wrong addr_info? maybe i'm wrong. But the connect() does re

[2021-07-07 13:21] yhirose commented on #985
@fatrolls, thanks for the feedback, but I am in a good position to look into it since I don't know anything about 'manual mmapping injection' and simply don't have time to debug it.

I feel that it's not cpp-httplib specific problem, but a general program with WinSock2 usage. Could you first make sure of it?

Thanks!

[2021-07-07 13:26] yhirose commented on #979
@gjasny, thanks for the report. I right now don't have time to work on it. If you have time, could you send me a pull request with a unit test case? Thanks!

[2021-07-07 13:26] yhirose commented on #978
@gjasny, thanks for the feedback. I'll take a look at it when I have time. Thanks.

[2021-07-07 18:32] hbeni opened #986 "DLL gets locked when linked against OpenSSL 1.1.1j"
Hi there,
I really could use some help with the following issue.

I have a plugin for mumble in the works, which faciliates an updater. Mumble can load and unload the plugins. They are just DLLs exporting a bunch of functions. Mumble also has an updater, that calls a plugin function to get the latest download URL. It then fetches the new plugin, **unloads the current one if loaded**, and then :war

[2021-07-07 19:02] fatrolls commented on #985
I tried regular Winsock2 usage as you said and yes it works fine for both Native Inject and Manual Mapping injection.

I think the problem is your pointer to addr_info gets changed during the loop iteration of getaddressinfo, since the connect_or_bind is a r lambda, it doesn't fire instantly as the looping is in progress but more like a delayed callback firing my assumption. (but im just making st

[2021-07-07 19:42] yhirose commented on #986
@hbeni, thanks for the feedback, but I probably cannot give you any meaningful help since I don't fully understand your environment. The only thing I can tell at this point is that you may want to look into the constructor and destructor of `SSLServer` and `SSLClient` where all the OpenSSL activities start. Hope it help!

[2021-07-07 19:48] hbeni commented on #986
Thank you, will do!
But maybe you could skim trough my updater code if you see something I do wrong wit the httplib?

https://github.com/hbeni/fgcom-mumble/blob/5d2125f1c296bc7cd64537a14eab2f828d766486/client/mumble-plugin/lib/updater.cpp#L143-L260

[2021-07-07 21:44] hbeni commented on #986
Just as an idea: wolfSSL is not supported, I guess?

[2021-07-07 22:56] yhirose commented on #986
No, also I am not planning to support it. You may want to check the following as well.

https://github.com/yhirose/cpp-httplib/blob/80be649de7cd821652aa1be4d0c9cf5930f18225/httplib.h#L6738

[2021-07-08 07:04] hbeni commented on #986
Looking at it again; I have a question.

In my code, inside a function, I do:
[code]
I assumed that after the function is complete, everything is cleaned up.
Is that maybe not the case, and I have to unload/destroy/free something regarding `cli` manually?

[2021-07-08 08:26] Huihuihh opened #987 "can httplib provide a method to show opencv video streaming"
can httplib provide a method to show opencv video streaming

like `https://github.com/s4mu313/webcam-http-streamer`

[2021-07-08 11:07] yhirose commented on #987
I don't know about  'opencv video streaming' though, you should do it as long as it follows HTTP standards.

[2021-07-08 11:07] #987 closed

[2021-07-08 11:12] yhirose commented on #986
Yes or no. Everything in `httplib::SSLClient` is cleaned up, but the global variable `static SSLInit sslinit_;` stays. You probably have to change the global variable to be unloadable manually.

[2021-07-08 12:40] hbeni commented on #986
OK, I found out something by accident.
I wondered if it might have to do with the OpenSSL version, and indeed it has.

Versions `1.1.1a` and `1.1.1b` are working fine, but any 1.1.1 after that has the issue.
So it is surely something in OpenSSL's codebase.

[2021-07-08 12:40] #986 closed

[2021-07-08 21:51] braindigitalis opened #988 "getaddrinfo() calls abort due to race condition, with no way to prevent it"
At random, getaddrinfo() is prone to calling abort() due to a race condition involving double free of a file descriptor and an EBADF error.

This seems like there is no workaround, a quick google for `unexpected error 9 on netlink descriptor` which is the error which glibc emits to the console, indicates that it is a glibc issue.

My proposal is to use something other than getaddrinfo if possible

[2021-07-08 22:01] braindigitalis commented on #988
Looks like there have been other possibly unrelated getaddrinfo issues before: https://github.com/yhirose/cpp-httplib/issues/587

[2021-07-08 22:18] yhirose commented on #988
@braindigitalis, I don't come up with any idea to get around it, and I think `getaddrinfo` is still an only way. I would not like to go back to the old days like using `gethostbyname`...

[2021-07-08 22:28] yhirose commented on #985
@fatrolls, glad to hear that the direct WinSock2 access fixes the issue! So please keep using your WinSock2 native implementation in your project instead of cpp-httplib. Since the main purpose of this library is to give a cross-platform HTTP functionality to my personal projects and projects at work, your situation seems to be out of scope of this library...

As you can see the code httplib.h, it'

[2021-07-08 22:28] #985 closed

[2021-07-09 08:23] Huihuihh opened #989 "how to avoid parallel request"
if i do not support parallel request, how to avoid it in server

[2021-07-09 09:22] braindigitalis commented on #988
I think we may be against a rock and a hard place - pretty sure `gethostbyname`

[2021-07-09 10:38] xxrlzzz commented on #989
try turn `CPPHTTPLIB_THREAD_POOL_COUNT` to 1

[2021-07-09 11:12] #989 closed

[2021-07-09 11:20] yhirose commented on #988
I am not sure. According to [this stackoverflow post](https://stackoverflow.com/questions/52727565/client-in-c-use-gethostbyname-or-getaddrinfo#answers), `gethostbyname` is deprecated on on most platforms, and `getaddrinfo` is suggested to use to support both ip4 and ip6 properly.

Anyway, if it's a glibc issue as you mentioned, there is no way to fix it, right? So I'll close it for now. But thank

[2021-07-09 11:20] #988 closed

[2021-07-09 15:48] Bendr0id opened #990 "DoS/Segfault when request path contains more than 387 characters"
Due to that someone reported a crash on my app when passing very long parameters to the server i did some deeper investigation.

It turns out that this is happening in httplib.

So i tried a bit and was able to verify my finding even with your example server.cc code.

This is the env im using:

[code]

With a not to long path everyting works as expected.

[code]

But using this request it segfault

[2021-07-09 15:52] Bendr0id commented on #990
Additional note: it seems to be g++ unrelated. Same happens using clang-10.

[2021-07-09 16:03] Bendr0id commented on #990
The RFC7230 doesn't define limit size of the Target. It only claims this:

[code]

[2021-07-09 16:32] yhirose commented on #990
@Bendr0id, thank you for the fine report! I would like to clarify the condition. So does only binary produced on alpine OS cause the problem, right? Also do you think if #832 relates to this issue?

Here is the code where the crash is happening. Line number is 4528.
https://github.com/yhirose/cpp-httplib/blob/80be649de7cd821652aa1be4d0c9cf5930f18225/httplib.h#L4522-L4532

It seems like the `std::r

[2021-07-09 16:39] Bendr0id commented on #990
I added some logging for debugging and the crash is happening in the regex_match.
Its not entering the if statement.

[2021-07-09 16:45] Bendr0id commented on #990
This somehow just works flawlessly:

[code]

alpine64:~# g++ test.cpp -o test && ./test

 version: HTTP/1.1
 method: GET
 target: /aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss

[2021-07-09 16:46] Bendr0id commented on #990
So i'm wondering if that it might be due to the buf beeing used for linereader?

[2021-07-09 16:48] Bendr0id commented on #990
The code mentioned in #832 works fine too.

[code]

[2021-07-09 18:03] yhirose commented on #990
Thanks for the further investigation. Could you add the following debug lines to right before line 4528 in httplib.h on your alpine OS machine and see what values you will get?

[code]

[2021-07-09 18:07] Bendr0id commented on #990
Here is a docker container for you to test:

[code]

Put that into a file called `Dockerfile`.

Then Build the image (whenever you change something to the docker file): `docker build -t httplib-test:latest`.

Once this is done you can always start the container with: `docker run -d --rm -p 8080:8080 --rm httplib-test:latest`. When the server crashs, it will remove the docker container. And you can

[2021-07-09 18:12] yhirose commented on #990
I'll try to reproduce the problem accordingly this weekend. Thanks!

[2021-07-09 18:17] Bendr0id commented on #990
If you want to modify something on httplib.h just get an interactive docker shell by using this:

`docker run -it --entrypoint /bin/bash --rm -p 8080:8080 --rm httplib-test:latest`

Vim is available in the env.

[2021-07-09 18:33] Bendr0id commented on #990
Workaround is to limit the max uri length:

`#define CPPHTTPLIB_REQUEST_URI_MAX_LENGTH 300`

[2021-07-11 06:57] maveric2 opened #991 "compile error using gcc 4.8.3"
Hi yhirose,

the following line causes an compile error with the gcc-4.8.3:

line 2351: using udl::operator""_t;

I was able to solve it by adding a space between "" and _t:

line 2351: using udl::operator"" _t;

KR,
mav

[2021-07-11 11:26] yhirose commented on #991
Hope #953 helps.

[2021-07-11 11:26] #991 closed

[2021-07-11 22:46] codic12 opened #992 "Upgrade to Websocket"
Hello,
 While websocket server support is out of scope for this library, is there any way to integrate another websocket server library into httplib and upgrade requests at a specific path only?

[2021-07-11 23:56] yhirose commented on #992
@codic12, thanks for the feedback. I don't come up with any easy way to support websockt unless making a big surgery to `process_request `. If a request from client is upgrade request and a server accepts the request and respond, `process_request` needs to keep the tcp socket alive and pass it to a websocket manager. I am not planning to do such enhancement for now since my projects don't need web

[2021-07-11 23:56] #992 closed

[2021-07-12 01:42] yhirose commented on #990
@Bendr0id, I did some research, and it turns out that the server accepts up to 396 characters on my machine. But if I compile with `-O3`, it now accepts up to 436 characters. It seem like it's a stack overflow problem. It might be related to [this stackoverflow post](https://stackoverflow.com/questions/36304204/c-regex-segfault-on-long-sequences).

Anyway, operating systems with small stack size h

[2021-07-12 14:18] PixlRainbow commented on #984
@yhirose I can't remember why it was done, but was `Client2` removed?

[2021-07-12 14:36] PixlRainbow commented on #990
[this bug is being fixed in GCC](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=86164) with a full re-implementation of `std::regex` based on a different algorithm, but it is not complete yet. It is uncertain how long it will take, but it has already been 2-3 years

[2021-07-12 15:53] yhirose commented on #984
@PixlRainbow, `Client2` wasn't taking a while URL, but the exactly same as the `host_and_port` interface on `Client`.

[2021-07-12 15:56] yhirose commented on #990
@PixlRainbow, thanks for the information. I just wonder if I should wait the fix to be in the GCC main branch, or switch to non-regex way to parse the request line...

[2021-07-12 16:07] Bendr0id commented on #990
This bug is from 2018, no patched released so far.. I wouldn't rely on a gcc fix tbh. Clang has the same issue too btw.

[2021-07-12 16:10] Bendr0id commented on #990
Parsing a string which is space seperatem isn't that hard, and might be even faster doing it without Regex..

std::string input = "GET /123456789 HTTP/1.0";
std::istringstream ss(input);
std::string token;

while(std::getline(ss, token, ' ')) {
    std::cout << token << '\n';
}

[2021-07-12 16:19] PixlRainbow commented on #984
I thought I remember there used to be a simple client or simple get or something

[2021-07-13 03:46] #990 closed

[2021-07-13 17:20] i404788 opened #993 "double gzip in Content-Encoding"
Hey,

I'm still looking into this, but I thought I'd make an issue just in case. It seems like in certain cases (not sure about the conditions) in which the content-encoding header ends up with `gzip, gzip` as it's value. Which fails to decode (at least for python's requests lib).

I'll report back if I can narrow it down.

[2021-07-13 20:56] i404788 commented on #993
Alright, figured it out.
I was using the client & server as a proxy but the gzip header was added even if it already existed. So this fixed it:
[code]

[2021-07-13 20:56] #993 closed

[2021-07-14 09:13] elcuco opened #994 "Need documentation for post-stream"
I am porting my code from another library to this one, and my code is something like:

[code]

I am trying to understand how to implement this on this library, but documentation is lacking.  I found `ContentProviderWithoutLength` but this seems like an async way, and my code is very synchronous.

Is this supported at all?

[2021-07-14 13:09] yhirose commented on #994
@elcuco, thanks for the feedback. Unfortunately, cpp-httplib only supports the chunked transfer encoding for streaming data with indefinite length. Here is the documentation in README. Also you can find some examples for both server and client sides in`test/test.cc`.
https://github.com/yhirose/cpp-httplib#chunked-transfer-encoding-1

Sorry that this library doesn't come with good documentation, si

[2021-07-14 13:09] #994 closed

[2021-07-15 03:45] rushprint opened #995 "Have plan to support WebSocket?"
Hello yhirose.

This is an awesome http library that support all I need except websocket.
I can use another websocket library but it cause CORS and maintenance problem.
In my humble opinion it seems possible doing it using both of content receiver & provider.
However it would be fantastic if cpp-httplib support natively.
Do you have any plan to do it?

Best regards.
Sungkyu Kim.

[2021-07-15 03:58] rushprint commented on #995
I missed checking closed issues.. and there are answers already.
I close this.

[2021-07-15 03:58] #995 closed

[2021-07-15 06:44] gjasny commented on #979
Hello,

thanks for taking care. Unfortunately the `Host` header still looks wrong:

[code]

Maybe you could use a dedicated URL class for parsing like: [CxxUrl](https://github.com/chmike/CxxUrl)?

Thanks,
Gregor

[2021-07-15 08:09] PixlRainbow commented on #994
@elcuco the writing style may seem async, but the client is actually single-threaded and synchronous.
[code]

[2021-07-15 08:34] immccc opened #996 "Only one query param is recognized when query includes multiple ones"
I am combining in the same URL both path and query params. Something like:

`https://localhost:8080/resources/resource-id?param1=foo&param2=bar`

Said that, server is defining a GET like:

[code]

In this scenario, resource id is successfully mapped into a string variable.
But regarding query params

- param1 is retrieved ok:
  - `req.has_param()` returns **true**
  - value is "**foo**", the expec

[2021-07-15 11:12] DiegoActionItem commented on #994
No problems, everything is good.
The API you link me to is async, and this kinda messes my workflow, as I need this to be synchroneous (aka, no callbacks).  Does this library support this?

[2021-07-15 11:31] immccc commented on #996
Tried with version **0.8.5** as well, which has the title "_Fix problem with Get with Parameters_". But the error persists .

[2021-07-15 12:14] yhirose commented on #994
It doesn't.

[2021-07-15 12:26] yhirose commented on #996
@immccc, thanks for the feedback, but I can't reproduce the problem. I added the following test to do so. (By the way, `R"/resources/([a-f0-9\\-]+))"` in your example can't be compiled. So I made small changes in the test case.)

https://github.com/yhirose/cpp-httplib/blob/215b81342e764ffd93402dc22eef43677fa62441/test/test.cc#L3720-L3724

[2021-07-15 12:57] immccc commented on #996
@yhirose thanks for taking your time on looking into this.

could you please state on which version did you run the test on your comment?

By the way, apologies for the regex, I made it a bit more generic than I have in my actual code and I forgot to check some syntax errors.

[2021-07-15 13:02] yhirose commented on #996
The latest httplib.h in the master branch. This code has several fixes which will be released as **0.9.1** soon.
Hope it helps.

[2021-07-15 13:06] immccc commented on #996
Ok, sounds cool!

I will try with the latest stable one and, if not working, I have a workaround in mind that suits my specific case until 0.9.1 is released.

Thanks again for your help!

[2021-07-16 00:16] yhirose commented on #996
v0.9.1 is out. Please let me know if you still have this problem.

[2021-07-16 00:16] #996 closed

[2021-07-16 02:45] tomgrean opened #997 "KEEPALIVE_MAX_COUNT and THREAD_POOL_COUNT"
I think CPPHTTPLIB_KEEPALIVE_MAX_COUNT should be less than CPPHTTPLIB_THREAD_POOL_COUNT.
I made a small server, and configured CPPHTTPLIB_THREAD_POOL_COUNT to 3, and use the default value of CPPHTTPLIB_KEEPALIVE_MAX_COUNT (5).
Then found that some browsers (such as chrome) would make many parallel connection with keep-alive header. thus the server stop serving the incoming connection until any of

[2021-07-17 14:03] gjasny opened #998 "IPv6 addresses in host header not escaped"
Hello,

thanks for taking care of #979. Unfortunately the `Host` header still looks wrong:

[code]

Maybe you could use a dedicated URL class for parsing like: [CxxUrl](https://github.com/chmike/CxxUrl)?

Thanks,
Gregor

_Originally posted by @gjasny in https://github.com/yhirose/cpp-httplib/issues/979#issuecomment-880440594_

[2021-07-17 14:39] gjasny commented on #998
For your convenience I added a test case.

[2021-07-17 17:19] yhirose commented on #998
@gjasny, should it look like `[::1]:8080`? Can you find the RFC or other reliable source to describe what format I should be? Thanks for your help.

The selling point of this library is that it doesn't depend on any other third party library except OpenSSL, compression libraries.

[2021-07-17 21:19] #998 closed

[2021-07-17 21:31] yhirose commented on #997
@tomgrean, thanks for the report. Yes, this situation happens if users set incorrect values to the macro symbols.

This is actually not enough. Even if you set 2 to CPPHTTPLIB_KEEPALIVE_MAX_COUNT, this problem stays. The real solution is to increase CPPHTTPLIB_THREAD_POOL_COUNT to at least 8 according to [this stackoverflow post](https://stackoverflow.com/questions/985431/max-parallel-http-connect

[2021-07-17 21:31] #997 closed

[2021-07-17 21:32] #875 closed

[2021-07-18 07:35] elcuco commented on #994
OK - this complicates things for me... as my app is actually single threaded (code should compile on ESP and Linux - and we are restricted from doing much modifications to the code).

How could I approach this port? (I assume I would run the http requests in another thread... and then send data from the main thread to this new thread). What other alternatives do I have?

[2021-07-18 14:20] gjasny commented on #998
The closest I could find is: https://bugzilla.mozilla.org/show_bug.cgi?id=45891

[2021-07-18 16:01] yhirose commented on #998
Thanks for the valuable information!

[2021-07-19 16:37] PixlRainbow commented on #994
The simplest option is to use C++ standard library's `std::async`, example [here](https://github.com/yhirose/cpp-httplib/issues/312#issuecomment-570812127), but as someone else in that issue explains, this may incur some performance cost if you do requests very frequently and rapidly because `std::async` will create and destroy threads for each instance.

[2021-07-20 01:17] #978 closed

[2021-07-20 09:31] xxrlzzz opened #1003 "https redirect error"
hey guys, I'm using this library to do little project, and with a problem.

### Problem Description:

When I want send http request with `Client`,  it may fail to get response when the server require redirect from http request to https request.

### My way to resolve

I found I need to call `set_ca_cert_path`, but it lost during redirect, `copy_settings` don't copy ca cert path, and I found `clien

[2021-07-20 12:13] yhirose commented on #1003
@xxrlzzz, thanks for the feedback. It sounds like a bug. Could you send a pull request with your fix and a unit test if possible? Then, I'll review it soon. Thanks!

[2021-07-22 13:24] folibis opened #1005 "library crashed with GCC < 4.9"
The library that was compiled with gcc < 4.9 crashed with error:
`terminate called after throwing an instance of 'std::regex_error'`
It looks that regex support was fixed in gcc 4.9, for earlier versions there is some bug(s) that does not allow you to work with the library. The problem that most of embedded systems (where you actually need some embedded web server like this) use old compilers.

[2021-07-22 13:55] yhirose commented on #1005
https://github.com/yhirose/cpp-httplib/search?q=regex_error&type=issues

[2021-07-22 13:55] #1005 closed

[2021-07-22 15:35] yhirose commented on #1005
https://github.com/yhirose/cpp-httplib#g

[2021-07-23 02:30] yhirose commented on #1003
Resolved by #1004.

[2021-07-23 02:30] #1003 closed

[2021-07-24 07:32] toutant opened #1006 "Client cli(server, port); delay with hostname instead of ip"
Client cli("Temp-PC",8100); takes over 5 seconds to post
 Client cli("192.168.1.14",8100); takes 10th of a second to post

 this function seems to be where the time delay is
return detail::create_client_socket(
			host_.c_str(), port_, address_family_, tcp_nodelay_, socket_options_,
			connection_timeout_sec_, connection_timeout_usec_, read_timeout_sec_,
			read_timeout_usec_, write_timeout_sec_,

[2021-07-24 11:25] yhirose commented on #1006
@toutant, thanks for the feedback. I think this isn't an issue of cpp-httplib, but  a general TCP/IP socket issue, since `detail::create_client_socke` doesn't do any special treatment rather than calling raw socket system calls.
Please provide more information if you still think it's a really cpp-httplib issue. Thanks!

[2021-07-24 11:25] #1006 closed

[2021-07-24 20:21] toutant commented on #1006
your server code is fantastic by the way - flexible and fast - perfect.
client code is also so easy and flexible - very nice ...

It is somewhere in your code - this is a highly repeatable issue -

simple try your client code  connecting to your server software using url such as http://temp-pc:8100/test
and then try with ip http://192.168.1.14:8100/test

in my tests server and client are on same c

[2021-07-24 20:32] yhirose commented on #1006
@toutant, could you trace down the code and identify which line in httplib.h is really slow? Otherwise, I can't give you any meaningful information...

Also if the code which causes the delay in httplib.h is the following line, there is not way to fix the problem and it's simply a problem in your network environment.

https://github.com/yhirose/cpp-httplib/blob/ccbddd88423d9ce364bfbaada130c36fa2fc

[2021-07-24 21:05] toutant commented on #1006
I do not know where the exact slowness is in your library - i will once my current commitment is done
- you can do your own test as mentioned above if you want to track down the error.
- I have tested on several different networks - issue is big delay unless IP is used ( using latest code )

I added my own simple hostname lookup before using your client and it solved the issue

const char c = serv

[2021-07-25 06:23] PixlRainbow commented on #1006
Hi, this delay occurs due to system-level name resolution. Sometimes the system attempts to search on the wrong networks to resolve a domain. By performing a hostname lookup first, the system will cache the IP address so the subsequent connection by httplib is faster.
However, I note that you appear to be using NetBIOS ("Windows-style workgroup computer name") name resolution. Note that this is di

[2021-07-25 11:59] yhirose commented on #1006
@PixlRainbow, thanks for the clear explanation!

[2021-07-25 18:10] toutant commented on #1006
Like I said... My host name lookup is fast yours takes 4 to 5 seconds... So
something is up with your code

On Sun., Jul. 25, 2021, 12:23 a.m. PixlRainbow ***@***.***>
wrote:

[2021-07-25 19:55] PixlRainbow commented on #1006
you are using the older `gethostbyname` (deprecated) which only supports IPv4. httplib is using the newer `getaddrinfo` which supports both IPv6 and IPv4. httplib configures `getaddrinfo` to "use whichever is available". However, some systems may have a bug where IPv6 resolving does not work correctly and will stall until it times out, whereupon it then falls back to IPv4, which resolves immediate

[2021-07-27 09:39] LittleSOiLent999 opened #1007 "redeclaring URLs"
they say I want to do a git requests to
httplib::Client cli("https://lumtest.com");
you did what you want there
lets say you
auto res = cli.Get("/");
/* did what you needed with the response */
and now I want to scrap google.com
how do I not called httplib::Client cli
this way ? couldnt find and API DOC
do I just do ? httplib::Client cli("https://google.com");
its not clear :) anyways have a great

[2021-07-27 11:09] yhirose commented on #1007
@LittleSOiLent999, sorry that I don't fully understand what you are asking though, I try to answer according to your title. :)

[code]

[2021-07-27 11:09] #1007 closed

[2021-07-28 08:45] PixlRainbow commented on #1007
If you want to change to a different domain, then yes, you will have to destroy and reconstruct the client object. This is because you have to establish a new connection instance to a different server.
If you want to just browse different URLs on the same domain, you can call `Get` with the new path on the old client object.

[2021-07-28 20:02] jrosdahl opened #1008 "Implementations of templated methods are missing when splitting into .h and .cc"
Thanks for writing cpp-httplib!

I made an attempt to use the non-header-only version of httplib (in [ccache](https://ccache.dev)) to reduce the time to recompile code that uses the library. However, the templated implementation of e.g. `set_connection_timeout` ends up in httplib.cc and therefore results in a linker error since the needed template has not been instantiated.

It looks like these me

[2021-07-29 05:13] blaubart69 opened #1009 "Is it possible to flush() the DataSink within a chunked response?"
Something like sink.flush() with is not available.
To push the bytes to the browser.

Thank you very much for you help!

[code]

[2021-07-29 08:09] PixlRainbow commented on #1009
as far as I can tell, we do not have any internal stream buffer within httplib; calling `write` immediately writes to the socket stream.

However, if you want the system-level socket stream itself to always flush to peer when `write` is called, you can do `svr.set_tcp_nodelay(true)`. Note that this only affects connections that have been established after the setting is changed, and this setting i

[2021-07-29 10:35] klarkxy opened #1010 "bug: May it wrong with the '#endif' ?"
![image](https://user-images.githubusercontent.com/6316992/127477414-72319bea-5892-4758-a36a-ac66a62ac8cf.png)
On windows, look at this.
I think there's something wrong with it.

[2021-07-29 10:58] #1010 closed

[2021-07-29 11:47] yhirose commented on #1009
Hope this helps.
https://stackoverflow.com/questions/914286/what-does-it-mean-to-flush-a-socket

[2021-07-29 11:47] #1009 closed

[2021-07-29 12:07] yhirose commented on #1008
@jrosdahl, thank you for the good feedback! I have implemented split.py at #287 requested by a user, but I have honestly never used it in my projects and the latest httplib.h doesn't work with split.py any more...

Could please you send a pull request including your change?

As long as split.py just **splits** httplib.h and doesn't do any modification, I think we don't need test the split version.

[2021-07-29 12:19] blaubart69 commented on #1009
Thank you all for your answers!!
I'll integrate httplib in my "real-world-app" and see if it work's. :-)
btw: httplib is the 3rd lib/framework I'm trying. hopefully the last one! :-)

The real-world app (http-server-part) is sending JPEG images captured from a camera in an infinite loop to the browser.
One image is around 15kB in size.

Pseudo code:
[code]

[2021-07-29 15:06] jrosdahl commented on #1008
I've so far only experimented with fixing the methods I needed so I haven't tried a more complete solution, but I'll give it a try! The problem is verifying that it works. Which leads to...:

If there are no tests of the split version then I imagine there could be regression in the future again, right? That is, we may add a templated method into the .cc part that actually is needed in the .h part,

[2021-07-29 17:21] yhirose commented on #1008
Since I consider `httplib.h` the only source of truth and generated files with `split.py` are by-product to me, I would not like to test against the split version with `test/Makefile`. But I am ok to provide another Makefile and test source file in order to detect compile or link errors due to the misplacement of templated methods. How about adding `test/Makefile.split` and test/test_split.cc` whe

[2021-07-29 19:06] jrosdahl commented on #1008
Perfectly reasonable to keep httplib.h the only source of truth.

I've started looking into this now and it seems to me that there are two approaches I could take to get  test coverage for the split case:

* Approach A:
    * Add implementations of templated API methods to the "header part" of httplib.h.
    * Also add forward declarations, types and template implementations of methods needed by t

[2021-07-29 19:32] yhirose commented on #1008
Thanks for the detail! I like the approach ! as well.

I think the const is acceptable unless there are too many forward declarations.
Hope your work will go well and I am looking forward to the pull request. But no rush!

[2021-07-30 07:33] blaubart69 commented on #1009
Now it's working!
--> https://github.com/hfrebort/traktor/blob/6edc332312bb73013f6ad1a4c5fbf10c682664a4/src/webserver.cpp#L24

Thanks for writing cpp-httplib! :-)

[2021-07-30 14:05] #1008 closed

[2021-07-30 16:35] mptyy opened #1014 "Stuck at trying to show html page"
Hello! As title says, I'm stuck at trying to show .html page in browser. In page I've connected some stuff like jQuery, bootstrap etc... I haven't found any examples on how to do it so that's why i opened this issue, sorry in advance.
Here's my code how i tried to do it:

std::string page;

std::string line;
std::ifstream in("index.html");

while (std::getline(in, line))
{
        page += "\n";

[2021-07-30 17:32] yhirose commented on #1014
You can find some server examples in [`example`](https://github.com/yhirose/cpp-httplib/tree/master/example) folder.
Hope it helps!

[2021-07-30 17:32] #1014 closed

[2021-07-30 17:42] mptyy commented on #1014
@yhirose  sorry, but I haven't found there what I'm looking for.

[2021-07-30 18:00] mptyy commented on #1014
SORRY! I've made a mistake, everything works now! Ty!

[2021-08-02 05:37] callingpizza opened #1016 "Parameters with GET."
I was wondering how I can add parameters with GET requests? It's not in the documentation.

[2021-08-02 08:28] PixlRainbow commented on #1016
You can use any of these method calls, if you are referring to Get requests on the Client
https://github.com/yhirose/cpp-httplib/blob/887074efd2ebb9c7c6513082f12fe23971d19f43/httplib.h#L7513-L7528
Alternatively, you may call `httplib::detail::append_query_params` and append the parameters as a query string onto the end of your path string, then pass the complete string to the Client as a Get path.

[2021-08-02 11:08] yhirose commented on #1016
Here is another way to do it.
https://github.com/yhirose/cpp-httplib/blob/887074efd2ebb9c7c6513082f12fe23971d19f43/test/test.cc#L2980

[2021-08-02 11:08] #1016 closed

[2021-08-02 15:14] callingpizza commented on #1016
Thank you all!

[2021-08-03 00:19] kritzikratzi opened #1018 "unexpected ssl error with https:// urls"
i'm using v0.9.2 with openssl on osx.

for me this works:

    httplib::SSLClient cli("my-host", 443);

while this fails to verify the certificate:

    httplib::SSLClient cli("https://my-host", 443);

you can set a debug point at the top of this loop, nothing will match:

https://github.com/yhirose/cpp-httplib/blob/469c6bc2b611ec5d212275e559e58e4da256019d/httplib.h#L7330-L7347

for me it's no pro

[2021-08-03 01:11] yhirose commented on #1018
@kritzikratzi thanks for the feedback. This is an expected behavior. Here is the constructor code in httplib.h. The first parameter takes only 'host', not 'scheme_host'.

https://github.com/yhirose/cpp-httplib/blob/469c6bc2b611ec5d212275e559e58e4da256019d/httplib.h#L1418

If you want to include 'scheme', `http::Client` can allow you to do it:

https://github.com/yhirose/cpp-httplib/blob/469c6bc2b6

[2021-08-03 01:11] #1018 closed

[2021-08-04 03:07] Tom-python0121 opened #1019 "./test failed and ./test_proxy failed in cpp-httplib@0.9.2 on centos8_aarch64"
hello,I meet a problem:./test failed and ./test_proxy failed in cpp-httplib@0.9.2 on centos8_aarch64.
### Steps to reproduce the issue

[code]
Can you tell me how to solve these problems?

[2021-08-04 08:11] PixlRainbow commented on #1019
All of the ProxyTests, RedirectTests, ChunkedEncodingTest and RangeTest require an internet connection. Is your test platform connected to the internet?

[2021-08-04 08:14] Tom-python0121 commented on #1019
@PixlRainbow I have connected to the internet:
[code]

[2021-08-04 08:26] Tom-python0121 commented on #1019
@PixlRainbow Have you ever tested it on other platforms that are successful?

[2021-08-04 09:11] PixlRainbow commented on #1019
yes, on my local machine (Ubuntu 18.04) and on Github Actions Cloud, as well as inside of Docker image of Ubuntu 20.04 on my local machine. However, I have never tested with a system configured with networking proxy, which you appear to have. Also note that some tests require access to Google-related test APIs, which may be blocked in China.

[2021-08-04 12:00] yhirose commented on #1019
@Tom-python0121, sorry, but I can't give you any helpful information regarding it since the networking condition varies, and I am not able to test to cover all the possible situations...

[2021-08-04 12:00] #1019 closed

[2021-08-07 15:56] juunr95 opened #1020 "Is worth add a JSON library to handle requests ?"
Do you think is worth add a JSON handler to build JSON responses ?

[2021-08-07 16:53] yhirose commented on #1020
There are a number of good JSON libraries. So I would like to focus on just HTTP itself in this library.

[2021-08-07 16:53] #1020 closed

[2021-08-10 18:33] henriquenunez opened #1022 "The content length in the client is smaller than the one sent by the server"
Hi, amazing library.

I'm trying to build an application that sends a raw image, and a client that receives it.

The problem I'm having is that I'm expecting to receive 1536000 byes, but the client only receives 4096. Testing on cURL, I get a good response, with the correct length, so i suppose the problem is not with the server.

The client code is the following:
[code]

The server code:
[code]

[2021-08-11 08:23] PixlRainbow commented on #1022
you appear to be using the streaming content receiver callback on your client. Your callback will be called multiple times as incoming data is received. The data length parameter is not the length of the whole received body, it is the length of a fragment.

[2021-08-11 12:10] yhirose commented on #1022
I guess in your case, just the simple regular interface is enough.

[code]

[2021-08-11 12:10] #1022 closed

[2021-08-13 23:05] Mic92 opened #1023 "Getline/header parsing is very inefficient"
It reads one byte from the stream: https://github.com/yhirose/cpp-httplib/blob/a58f0426148daef861e4eaf43548784d340a8ad6/httplib.h#L2133
This triggers one select + recv() system call on linux for each byte.

[2021-08-14 05:09] Mic92 commented on #678
I think the main performance bottleneck right now is that this webserver is doing two system calls per byte for header parsing rather than datastructures: https://github.com/yhirose/cpp-httplib/issues/1023

[2021-08-14 07:25] Mic92 commented on #1023
I also don't understand why there is a `select` for a single socket. Why not just block on the socket and use `read`?

[2021-08-14 16:37] yhirose commented on #1023
@Mic92, sorry that this library doesn't meet your performance requirement. Let me explain the background of this library a bit. This library started to provide a solution to embed HTTP functionalities in desktop applications at my workplace. The performance wasn't a priority, rather I focused on how easily the HTTP client/server capabilities can be added to applications. That's why I keep this lib

[2021-08-14 16:47] Mic92 commented on #1023
fair enough. Drogon it is.

[2021-08-14 17:27] yhirose commented on #1023
Some socket options like `SO_RCVTIMEO` don't work or aren't stable as they advertise on some OSs. That's the real world unfortunately...
https://github.com/yhirose/cpp-httplib/issues/34#issuecomment-354512631

Even `select` isn't perfect for all the situations. So sometimes, users need to chose `poll` with `CPPHTTPLIB_USE_POLL` for timeout.

[2021-08-14 17:38] yhirose commented on #1023
@Mic92, approximately how much slower do you think this library is than other HTTP libraries? I don't have any experience to use any other HTTP libraries. :)

[2021-08-14 18:21] Mic92 commented on #1023
I don't have very complex applications written for cpp-httplib,
but let's just do this simple comparison with go http server from the standard library:

[code]

[code]

And benchmark with `wrk`:

[code]

Result for cpp-httplib:

[code]

Result for golang:

[code]

I am surprised it's only 4 times slower on my laptop with an 8 hyper-threads i7... I think it becomes slower as soon as you start addin

[2021-08-15 12:59] yhirose commented on #1023
@Mic92, thanks for the very helpful information. When I have time, I'll try to implement buffering in `SocketStream` to increase performance. Thanks for your fine contribution!

[2021-08-17 04:36] zhenyolka opened #1024 "SIGABRT bionic"
Hi! I use httplib in native binary, compiled for android bionic. Most time all works, but some time I get SIGABRT. I figured out, that it happens in create_socket function, exactly at calling res_init(). I heard on some platforms this function isn't thread safe, maybe this causes problems?

`#0  0x0000007fbdd9c2cc in abort ()
   from /apex/com.android.runtime/lib64/bionic/libc.so
#1  0x0000007fbdd

[2021-08-17 05:50] yhirose commented on #1024
@zhenyolka, thanks for the feedback. Honestly, I have never tried running this library on Android personally. ‘res_init’ has been added at #589 by @ThePiso for certain Linux environment. Could you comment out the system call and to see if it fixes the problem? Thanks for your help!

[2021-08-17 06:28] zhenyolka commented on #1024
@yhirose yes, it fixes problem

[2021-08-17 13:34] #1024 closed

[2021-08-17 13:35] yhirose commented on #1024
@zhenyolka, thanks. I applied `__ANDROID__`. Could you test with the latest httplib.h?

[2021-08-19 02:12] gasry1989 opened #1025 "Does it support cookie?"

[2021-08-19 04:37] yhirose commented on #1025
Hope it helps: https://github.com/yhirose/cpp-httplib/search?q=cookie&type=issues

[2021-08-19 04:37] #1025 closed

[2021-08-22 17:22] zhenyolka commented on #1024
@yhirose with latest version all works

[2021-08-24 16:11] yurivict opened #1027 "Please add to README how to run tests"
Is there a make target?

There doesn't seem to be a cmake option that enables tests.

[2021-08-24 16:32] yhirose commented on #1027
The unit test is not integrated into CMake. What you need to do is `cd test; make`. Hope it helps.

[2021-08-24 16:32] #1027 closed

[2021-08-24 16:33] yhirose commented on #1027
@sum01, do you have anything else to add to my comment, because it's a question about cmake? Thanks!

[2021-08-24 17:30] yurivict opened #1028 "3 tests fail on FreeBSD"
[code]

FreeBSD 13

[2021-08-24 18:46] sum01 commented on #1027
Not really. As you said, I never bothered adding test support into Cmake.
I suppose I could, but it would be a bit of work, and I don't have tons of time to keep up with all the additional tests that get added by people.

[2021-08-24 19:12] freakovision opened #1029 "Sending POST json request"
Hello, I'm trying to send POST json request to my discord webhook, but it returns the "400 Bad request" error. How do I make it work?

Here's my code:
[code]

Sorry for such a noob question. I'm bad at coding.

[2021-08-24 19:33] sum01 commented on #1029
The first arg to `Client::Post` should be your endpoint, not the full path.
See https://github.com/yhirose/cpp-httplib#post

Sidenote: HTTPS is really easy to use, you probably want to use it (if you compiled with OpenSSL).
Compression is also similarly easy (if the API supports it & you compiled with ZLIB).

[2021-08-24 19:35] freakovision commented on #1029
Thanks for the quick answer. When I change full path to just endpoint I get Error 301.

[2021-08-24 19:45] sum01 commented on #1029
I'm not familiar with Discord's API, but are you sure your path & endpoint are correct?

I just created a webhook to look at it and it has this form: `https://discord.com/api/webhooks/longstringofnumbershere/evenlongerstringofnumscharsandlettershere`

[2021-08-24 19:47] freakovision commented on #1029
Yes, I'm sure it's correct, because I used it with other libraries.

[2021-08-24 20:36] braindigitalis commented on #1029
```Client cli("discordapp.com");```

should be:

```Client cli("https://discordapp.com");```

it's trying to redirect you to the https version of the API endpoint.

[2021-08-24 20:55] freakovision commented on #1029
I have no idea how to use HTTPS. Downloaded libssl.a and libcrypto.a and trying to include it in cmakelists, but nothing works.
Is there a way to specify it to use HTTP instead of HTTPS?

[2021-08-24 20:59] braindigitalis commented on #1029
Yes you have to set a #define value before you include the header, and OpenSSL has to be available.
The define variable is ```#define CPPHTTPLIB_OPENSSL_SUPPORT```
see here for an example of using this lib to access discord, as I made a C++ discord lib that makes use of it:

https://github.com/brainboxdotcc/DPP/blob/master/src/dpp/queues.cpp

[2021-08-24 21:06] freakovision commented on #1029
Where do I get the openssl lib and include files?

[2021-08-24 21:19] sum01 commented on #1029
https://github.com/yhirose/cpp-httplib/issues/1029#issuecomment-904967886
If you're already using Cmake, it might be easy enough to just use the Cmake integration cpp-httplib already has, instead of manually building it yourself, either by using `find_package(httplib REQUIRED)` if you installed httplib, or using `add_subdirectory` along with a git submodule.

It'll (try to) find OpenSSL for you, w

[2021-08-24 23:31] yhirose commented on #1028
@yurivict, thanks for the feedbak. Honestly, I have never used FreeBSD in the past. So could you take a look at these problems a bit more deeper to figure out what are causing them? (At least as for BaseAUthTest.FromHTTPWatch_Online, it seems it's not a bug in cpp-httplib, but your network environment since it returns 502. Are you directly connect to httplib.org? If you are connecting it via proxy

[2021-08-24 23:33] yhirose commented on #1029
@freakovision, since this isn't an issue in cpp-httplib, I'll close it. Hope the above comments help you!

[2021-08-24 23:33] #1029 closed

[2021-08-25 02:16] yhirose commented on #1028
@yurivict, I have just tried to install FreeBSD 13 on Vagrant in my iMac. I built the unit test exe with a minor changes for brotli include and library paths in Makefile. And I was able to run all the unit test successfully.

![image](https://user-images.githubusercontent.com/357397/130715276-8153aa74-d142-401a-ab55-07664948ea79.png)

Please let me know if I am missing something to reproduce the p

[2021-08-25 02:16] #1028 closed

[2021-08-25 04:24] yurivict commented on #1028
I don't know why did you close it, because ```cd /usr/ports/www/cpp-httplib && make deinstall clean test``` fails intermittently - 1-3 cases fail. Sometimes all of them pass.

(Current ports tree /usr/ports is required because tests were only added today to the port.)

[2021-08-25 09:08] PixlRainbow commented on #1028
the tests that failed depend on test servers hosted by third parties. Depending on your network setup, and depending on the load being experienced by the third parties, tests may sometimes fail.

[2021-08-25 09:13] PixlRainbow commented on #1029
For security reasons, Discord does not permit the use of insecure connections. All attempts to connect to Discord API using unencrypted HTTP will be rejected by Discord's servers.

[2021-08-29 07:43] GreyHak opened #1030 "Support OpenSSL 3.0"
The routines MD5_Init, MD5_Update, MD5_Final, SHA256_Init, SHA256_Update, SHA256_Final, SHA512_Init, SHA512_Update, and  SHA512_Final have been deprecated.  The MD5, SHA_256, and SHA_512 calls can be replaced by:

[code]

[2021-08-29 12:03] yhirose commented on #1030
@GreyHak, thank you for the report. I took a look at https://www.openssl.org/docs/man1.1.1/man3/MD5_Init.html, but I don't find any description that `MD5_Init` is deprecated. Could you show me the reference in the official OpenSSL?
Thanks!

[2021-08-29 13:12] yhirose commented on #1030
It seems like they will be deprecated since 3.0 (still beta 2) and valid on 1.1.1.
https://www.openssl.org/
https://www.openssl.org/docs/manmaster/man3/MD5_Init.html
But it sounds good to prepare for it since 3.0 is coming soon.

[2021-08-29 19:38] GreyHak commented on #1030
@yhirose Thank you for finding the references.  I was building with the latest GitHub master branch:
https://github.com/openssl/openssl/blob/master/include/openssl/md5.h#L49
https://github.com/openssl/openssl/blob/master/include/openssl/sha.h#L73
https://github.com/openssl/openssl/blob/master/include/openssl/sha.h#L123

[2021-08-30 16:19] ZizhengTai opened #1031 "No public way of adding both query parameters and body to some client methods?"
I was looking at how to send a `PUT` request with both query parameters and a body, and found that none of the `Client::Put` overloads take them both. It seems I have to use the internal API `httplib::detail::append_query_params` to achieve this:
[code]

Is there an alternative way of doing this that doesn't use stuff from `httplib::detail`? What's the _intended_ way of doing this?

[2021-08-30 21:16] #1031 closed

[2021-08-30 21:17] yhirose commented on #1031
Could you try the latest httplib.h on the master branch? I made the method public.

[2021-09-02 09:57] denprog opened #1032 "Reconnect with different url"
How can I reconnect with the same or different url? I see there is stop() function, but there is no connect() function.

[2021-09-02 10:22] yhirose commented on #1032
Nope

[2021-09-02 10:22] #1032 closed

[2021-09-03 01:06] callingpizza opened #1034 "Undefined references"
Hey, I'm getting multiple undefined references, they look like this:
![image](https://user-images.githubusercontent.com/68723482/131935091-1ed2a0cc-a091-4074-bc18-c1e0bfa9250c.png)
This is my CMakeLists.txt:
[code]
Any reason why this is happening?

[2021-09-03 03:07] huiqiaoqiu opened #1035 "http Post request, use ContentProviderWithoutLength, will send all da"
http Post request, use ContentProviderWithoutLength, i test result send all data can get response

[2021-09-03 03:10] yhirose commented on #1034
@callingpizza, you have to link to WInsock2 library from Microsoft.

[2021-09-03 03:10] #1034 closed

[2021-09-03 03:11] yhirose commented on #1035
Thanks for the feedback, but I don't understand if it's a question or problem report...

[2021-09-03 03:11] #1035 closed

[2021-09-03 03:19] sum01 commented on #1034
I'd recommend a more robust solution using the pre-existing Cmake support.
Then you wouldn't have to deal with manually linking anything.

It would look something like this...
[code]

[2021-09-03 03:53] callingpizza commented on #1034
Thank you so much!

[2021-09-03 08:21] PixlRainbow commented on #1032
I am assuming you are referring to client side connection. The stop function is for the server. If you want to request a different path on the same host, just call the GET or POST or whatever function again on the old client object with the new path. If you want to connect to a different host, you will have to destroy and reconstruct a new client object.

[2021-09-03 15:08] yhirose commented on #1032
@PixlRainbow, thanks for the clear explanation.
@denprog, hope @PixlRainbow comment helps you. If you are talking about client side connection and requests to the same host, the same TCP connection will be used as long as possible. If the connection is closed and make another request on the same client object, it will reconnect to the same host.

[2021-09-03 15:20] denprog commented on #1032
@PixlRainbow thank you, I'm using a new object for a new url.

[2021-09-06 09:43] ProtoByter opened #1037 "Digest auth causes std::out_of_range"
I've got this code
[code]

and when I run it I get this error:
[code]

It appears to originate here:
https://github.com/yhirose/cpp-httplib/blob/415edc237c3ea84b0bf77d85aa5a917570302fec/httplib.h#L4047

Is this the fault of my code?

[2021-09-06 09:45] ProtoByter commented on #1037
On further inspection the map does appear to not contain a `qop` key
![Screenshot_18](https://user-images.githubusercontent.com/20995169/132197124-98cb135d-fa58-4992-804c-bf135419a568.png)

[2021-09-06 10:34] pyrotechnics-io opened #1038 "httplib::Client crash inside docker container"
I've noticed some weirdly perplexing behavior inside docker.

If I launch a client app inside a docker container and call an external https endpoint, the Post seems to end up with a SEGV. The same thing doesn't happen if I launch the binary directly.

The docker container and the bare metal host run the same OS : Ubuntu 20.04
Most of the binary dependencies are static linked except OpenSSL (but it

[2021-09-06 12:16] yhirose commented on #1038
@pyrotechnics-io, thanks for the feedback. Could you give me more detailed information where the SEGV takes place and what kind of HTTP server are you using? Also could you give me the smallest possible client code, so that I could reproduce it on my iMac? Thanks!

[2021-09-06 12:27] yhirose commented on #1037
@ProtoByter, it seems like your server doesn't provide 'qop' parameter that the digest auth requires. Could you make sure that your server is ok?

![image](https://user-images.githubusercontent.com/357397/132216467-6b0e66ce-cdb2-48a3-93f8-b09a02889600.png)

I'll try to fix the crash problem by returning an error when any required parameter is missing.
Thanks!

[2021-09-06 12:32] ProtoByter commented on #1037
That's weird, my server is using kotlin's ktor module so it should work, given that the code I'm using is pretty close to the documentation's example of how to use it
Also as a test I connected via Firefox and that connected successfully to the server and got data which was guarded by the digest Auth (ie Firefox asked me for a user/password combo, then connected and got the data)

[2021-09-06 12:32] ProtoByter commented on #1037
https://github.com/ProtoByter/SDSServer[https://github.com/ProtoByter/SDSServer](https://github.com/ProtoByter/SDSServer)

[2021-09-06 12:36] ProtoByter commented on #1037
This is where the code for digest authentication starts:
https://github.com/ProtoByter/SDSServer/blob/78cab46fc24be1c98548e4046932535b4adb5f0d/src/main/kotlin/me/protobyte/sdsserver/plugins/Security.kt#L67
And this is what the docs say to do:
https://ktor.io/docs/digest.html#flow

[2021-09-06 12:51] ProtoByter commented on #1037
When I get the chance to I'll take a look at the requests and responses from my server and I'll also check the ktor sample which should have a version that works - I'll make an issue if both show no qop parameter being sent

[2021-09-06 13:09] yhirose commented on #1037
@ProtoByter, could you try the following code for lines 4047-4052 to see if your problem can be fixed? It uses 'auth' as a default value if 'qop' is not specified in a WWW-Authenticate response from a server.

[code]

If the behavior is common, I am ok to commit the change. I'll also check more carefully the HTTP Digest Access Auth spec in the RFC when you have time this coming weekend.

[2021-09-06 13:16] ProtoByter commented on #1037
I will test that, annoyingly the only sample that mentions digest for ktor doesn't do anything, it just creates a map of 1 username to a password and then doesn't do anything else with it, so this might be quite hard to test on the ktor side - I will test the snippet of code when I get back on my pc, which I will be soon

[2021-09-06 14:06] xbyl1234 opened #1039 "It looks like shit, stop"

[2021-09-06 14:07] xbyl1234 commented on #1039
stop balabala please

[2021-09-06 14:19] #1039 closed

[2021-09-06 14:29] ProtoByter commented on #1037
That code didn't work for me but this did:
[code]

[2021-09-07 00:36] yhirose commented on #1037
@ProtoByter, yes, you are right!. Anyway, please don't use the code in production, because it's just a experimental code. Sorry for your patience.

[2021-09-07 00:49] yhirose commented on #1037
@ProtoByter, when I took a look at RFC7616, it turned out that I misread the spec. 'qop' could be optional:

![image](https://user-images.githubusercontent.com/357397/132268616-7bdfcff4-699d-4ecc-8fde-4a05b91f51a2.png)

The following articles also mention that it's optional:
https://en.wikipedia.org/wiki/Digest_access_authentication
https://blog.wildix.com/basic-digest-authentication/

I'll try to

[2021-09-07 23:52] pyrotechnics-io commented on #1038
Let me try and get something. Getting a call stack from inside a docker container will take some doing..

[2021-09-08 08:38] dmenendez-gruposantander opened #1040 "split.py could split Client and Server code in different files"
Would you consider improving split.py so that Client and Server functionality are separated in different files?

I only need Client side code for my app, and I don't want to "pay" to compile all the server side code.

[2021-09-08 11:04] gjasny opened #1041 "Client keep-alive support is broken"
Hello,

I recently added this http library to server HTTP requests within the ccache compiler cache. Because a compilation requires up four HTTP requests I enabled keep-alive support in the Client.

But we observed a race condition on Linux:

1. Connection is opened and a GET request is issued. Turns out to be a cache miss
2. Compilation starts and takes 90s, meanwhile the server closes the connec

[2021-09-08 11:04] gjasny commented on #1041
Call stack leading to `SIGPIPE`:
[code]

[2021-09-08 11:06] yhirose commented on #1040
@dmenendez-gruposantander, thanks for the feedback. Honestly, I only use the single header file only, and never used the split version. If you work on it and send a pull request, I'll merge it.

@jrosdahl, what do you think of this idea?

[2021-09-09 02:51] yhirose commented on #1041
@gjasny, for clarification, does `MSG_NOSIGNAL` fix the problem on Linux?

[2021-09-09 11:43] ThePiso opened #1042 "PUT --data-binary"
Hi Yhirose,

Is there currently support for sending files through the PUT?

like this:
curl --location --request PUT 'https://blablabla' --header  'Content-Type: application/octet-stream'  --data-binary '@/Users/web01/Desktop/dunplab-manifest-48607.json'

[2021-09-09 12:04] yhirose commented on #1042
@ThePiso, yes, you can get the information from the followings as well as some examples in `test/test.cc`.

https://github.com/yhirose/cpp-httplib#send-content-with-a-content-provider
https://github.com/yhirose/cpp-httplib/blob/415edc237c3ea84b0bf77d85aa5a917570302fec/httplib.h#L906-L914

[2021-09-09 12:04] #1042 closed

[2021-09-09 12:15] yhirose commented on #1030
3.0 is out. I'll wait a while until the major package managers support the version.

[2021-09-09 18:31] jrosdahl commented on #1040
Sounds like a good idea to me if it's not too hard. I'm also only interested in the client part.

[2021-09-10 07:55] josemaGruposantander opened #1043 "Run-Time Check Failure"
Hi,

It seems to be a problem with the stack when httplib is used with openssl in .h and .cc version
This cmakeLists code:

[code]

and this simple code:

[code]

Produces the error in debug mode: "**Run-Time Check Failure #2- Stack around the variable "cliSts1" was corrupted"**

![Excpeptionhttplib](https://user-images.githubusercontent.com/90444945/132819769-9fb3d320-c378-4fc8-bb74-df4bc017b698.

[2021-09-10 13:59] josemaGruposantander commented on #1043
Issue solved. The right way to call httplib cmake is the following

[code]

In PRIVATE mode httplib.cc is compiled with CPPHTTPLIB_OPENSSL_SUPPORT activated but the testExe.cpp code is compiled with CPPHTTPLIB_OPENSSL_SUPPORT disabled. This situation corrupts the stack

[2021-09-10 18:07] sum01 commented on #1043
See https://github.com/yhirose/cpp-httplib/issues/1034#issuecomment-912224075 for a better way to use the Cmake integration. It lets both system-installed & in-tree to be used.
You shouldn't need to manually set compile defs or include dirs.

Also, you probably want to `set(HTTPLIB_REQUIRE_OPENSSL ON)` before all of it since you seem to want that on.

[2021-09-10 22:53] yhirose commented on #1043
I think @sum01's comment can close this issue.

[2021-09-10 22:53] #1043 closed

[2021-09-11 02:42] #1037 closed

[2021-09-11 02:46] yhirose commented on #678
Close it for now.

[2021-09-11 02:46] #678 closed

[2021-09-11 02:46] yhirose commented on #857
Close it for now.

[2021-09-11 02:46] #857 closed

[2021-09-11 10:17] ProtoByter commented on #1037
When I try the latest commit it fails with a 401 error, whilst when using the experimental patch it worked fine and running v0.9.4 it fails with the qop issue

[2021-09-11 10:19] ProtoByter commented on #1037
`Authorization: Digest username="a", realm="Access to the '/digest' path", nonce="...", uri="/digest/needReload", algorithm=MD5, response="..."` this is what firefox sends, let me see what httplib sends

[2021-09-11 10:29] ProtoByter commented on #1037
`Digest username="a", realm="Access to the '/digest' path", nonce="...", uri="/digest/needReload", algorithm=MD5, qop=, nc="00000005", cnonce="...", response="..."`
this is what httplib sends (captured from wireshark)

[2021-09-11 10:29] ProtoByter commented on #1037
I'll move this to another issue

[2021-09-11 10:31] ProtoByter opened #1045 "Latest commit doesn't correctly authenticate with digests"
My endpoint works in firefox and this is what firefox sends:
`Authorization: Digest username="a", realm="Access to the '/digest' path", nonce="...", uri="/digest/needReload", algorithm=MD5, response="..."`

whilst httplib sends:
`Digest username="a", realm="Access to the '/digest' path", nonce="...", uri="/digest/needReload", algorithm=MD5, qop=, nc="00000005", cnonce="...", response="..."`
and en

[2021-09-11 12:22] yhirose commented on #1045
Oops... The problem is that the correct behavior isn't described clearly in RFC 7616...
I'll check the Wikipedia article more carefully, and try to fix it. Thanks for your report!
https://en.wikipedia.org/wiki/Digest_access_authentication

[2021-09-11 18:14] yhirose commented on #1045
@yhirose, could you test the latest? If it works, then I'll bump the version.

[2021-09-12 04:26] #1023 closed

[2021-09-12 06:07] ProtoByter commented on #1045
I will when I can get on my pc

[2021-09-12 06:07] ProtoByter commented on #1045
I will when I can get on my pc

[2021-09-12 07:29] ProtoByter commented on #1045
It works, thanks!

[2021-09-12 07:29] #1045 closed

[2021-09-13 10:09] ArcoMu opened #1047 "crash when shared_ptr of Responde destructing??"
centOS7 x64 gcc7.2 OpenSSL 1.1.1g  21 Apr 2020
it seems that something wrong when Response res destructing?

`			httplib::Client Cli1(szIP);
			Cli1.set_digest_auth(szUsr, szPsw);
			auto res = Cli1.Get(URL);`

`#0  0x00000000005401f8 in std::function<void (bool)>::operator()(bool) const (this=0x7fa8501293d0, __args#0=48) at /usr/include/c++/7.3.0/bits/std_function.h:706
#1  0x000000000052bb1d in

[2021-09-13 11:06] yhirose commented on #1047
@ArcoMu, thanks for the report. Could you run the unit tests on your machine with  `cd test; make` to see more information, so that I hopefully can be able to reproduce the problem on my machine for debugging?

[2021-09-13 11:06] yhirose commented on #1041
Any response please?

[2021-09-13 11:07] yhirose commented on #1038
Any response please?

[2021-09-13 11:59] gjasny commented on #1041
Hello,

I'm going to test ccache 4.4.1 which ignores the signal: https://github.com/ccache/ccache/commit/b2a88e7b885cd43882b525fdaf2b57dd931a0427

The test should be done tomorrow.

Thanks for your patience,
Gregor

[2021-09-13 13:52] Narase33 opened #1048 "Getting URL client got redirected to"
Hello, I found this old issue: https://github.com/yhirose/cpp-httplib/issues/765, unfortunately the solution doesnt work in my case.

The URL is: https://en.cppreference.com/mwiki/index.php?title=Special%3ASearch&search=std%3Achrono%3Aduration

which redirects you to: https://en.cppreference.com/w/cpp/chrono/duration

When looking at the result, Response::location is empty

also setting set_follow

[2021-09-14 01:48] icegull opened #1049 "Can't compile in VS2019 16.11.2"
I just pulled the newest code. So I can't compile now:
Severity	Code	Description	Project	File	Line	Suppression State
Error	C2589	'(': illegal token on right side of '::'	WatchDog	D:\Project\backend_v11\inc\httplib.h	4463

Severity	Code	Description	Project	File	Line	Suppression State
Error	C2062	type 'unknown-type' unexpected	WatchDog	D:\Project\backend_v11\inc\httplib.h	4463

Severity	Code	Descrip

[2021-09-14 01:50] icegull commented on #1049
The pulled commit is 3c522386e961d61768ea527d04713b5402356dd4.

[2021-09-14 11:11] gjasny commented on #1041
Even with ignoring SIGPIPE it's still broken: https://github.com/ccache/ccache/pull/934

[2021-09-15 02:04] yhirose commented on #1048
@Narase33, thanks for the feedback. I think you forget setting some necessary HTTP headers to get 302 response from the server. I get the same problem even with curl with `curl -L https://en.cppreference.com/mwiki/index.php?title=Special%3ASearch&search=std%3Achrono%3Aduration` which returns 200.

[2021-09-15 08:47] ArcoMu commented on #1047
I ran the test, and it passed the function that I need. Finally, I find out that my solution has several projects, and it  include two different version of  `httplib.h`.So, it result in some wired crash.  Sorry for the inconvenience!

[2021-09-15 08:47] #1047 closed

[2021-09-15 11:20] yhirose commented on #1041
@gjasny, thanks for the additional comment.

[2021-09-15 18:13] ZizhengTai opened #1050 "Add move constructor for Client"
Since `Client` already uses the PIMPL pattern, it seems reasonably to provide a default move constructor for it. This enables classes that have a `Client` member variable to be movable.

If using C++11 or later, we only need to add
[code]
unless we want to support older standards.

[2021-09-15 19:19] yhirose commented on #1050
@ZizhengTai, that's a reasonable request even if I don't need it. Could you send me a pull request and a unit test for it? I'll take a look at and merge it right away. Thanks!

[2021-09-16 06:13] ZizhengTai commented on #1050
@yhirose In the test, I can either use `static_assert` to fail the test build at compile time if `Client` is not move-constructible, or use `EXPECT_TRUE` to fail the test only at test runtime. Which approach do you prefer? The former fails sooner while the latter outputs the failure together with the rest of the test, which might be desired.

[2021-09-16 06:17] ZizhengTai commented on #1050
Submitted a PR that uses `EXPECT_*`. Let me know if you prefer the other approach.

[2021-09-16 08:34] huiqiaoqiu opened #1052 "http client init error"
i want to use httplib to Post request.

if i use httplib::Client clitest("http://192.68.1.3", 9000);   this request not success;
if i use httplib::Client clitest("http://192.68.1.3:9000");  this request will sucess;

I read and tracked the code， and find this error is here,   Why replace host with [host]  ??

ClientImpl::adjust_host_string(const std::string &host) const {
  if (host.find(':') != s

[2021-09-16 08:51] huiqiaoqiu commented on #1052
misunderstanding

[2021-09-16 08:51] #1052 closed

[2021-09-16 16:00] Tachi107 opened #1053 "`RedirectFromPageWithContentIP6` test locks if CONFIG_IPV6 is disabled in the Linux kernel"
When the Linux kernel is built without IPV6 support, the `RedirectFromPageWithContentIP6` test never completes, as it doesn't go past `while(!svr.is_running())` (line 974).

https://github.com/yhirose/cpp-httplib/blob/3c522386e961d61768ea527d04713b5402356dd4/test/test.cc#L955-L1013

I believe that this happens because when IPV6 support isn't available `svr.listen("::1", 1234)` never actually start

[2021-09-16 18:04] #1053 closed

[2021-09-16 18:05] #1050 closed

[2021-09-17 13:47] qingfengshiran opened #1055 "build error on vs2013 community"
2	error C2610: 'httplib::Response::Response(httplib::Response &&)' : is not a special member function which can be defaulted	d:\mcpas\mcpas-v2\caffe_caffe\caffe_caffe\httplib.h	423	1
3	error C2610: 'httplib::Response &httplib::Response::operator =(httplib::Response &&)' : is not a special member function which can be defaulted	d:\mcpas\mcpas-v2\caffe_caffe\caffe_caffe\httplib.h	424	1	caffe_caffe
1

[2021-09-17 15:21] yhirose commented on #1055
@qingfengshiran, thank you for the report, but I no longer use vs2013. I'll mention in README that httplib.h does officially support only the latest visual studio. Sorry for the inconvenience...

[2021-09-17 15:21] #1055 closed

[2021-09-17 15:23] yhirose commented on #1049
@icegull, thanks for the report, I'll get back to this issue when I upgrade to 1.16.2 or later.

[2021-09-17 15:37] yhirose commented on #1055
@qingfengshiran, FYI: https://github.com/yhirose/cpp-httplib/commit/623ab4a96e2ced02e212ef779a50afe802cee6e6

[2021-09-18 23:08] yhirose commented on #1038
Close this issue for now.

[2021-09-18 23:08] #1038 closed

[2021-09-18 23:08] #1048 closed

[2021-09-22 13:07] rafalsk commented on #1049
any updates on this on the horizon of events?

[2021-09-22 20:02] yhirose commented on #1049
@rafalsk, not yet. The problem is that the project that I am working depending on 16.10.2, and can't update to the latest for a while. If somebody work on it and send a pull request, that would be very much appreciated. Thanks for your understanding!

[2021-09-25 06:14] estshorter commented on #1049
@icegull
I can build the following simple code using VS2019 v16.11.3.
What code did you build?
[code]

[2021-09-25 12:36] estshorter commented on #1049
I'm not sure, but #1057 may fix this issue.

[2021-09-25 12:54] yhirose commented on #1049
@icegull, @estshorter made sure that httplib can be compiled with v16.11.3. I'll close it.

[2021-09-25 12:54] #1049 closed

[2021-09-26 06:27] icegull commented on #1049
@yhirose Hi man. I confirm that I am able to compile now. Nice job!

[2021-09-27 02:52] Megidd opened #1058 "Segmentation fault (core dumped): cannot figure out why"
# Client

I have this client code to send HTTP requests. I have two HTTP requests sent from client to the server.

[code]

# Server

I have this server code to handle HTTP requests:

[code]

# Executable called by server

Here is the executable code called by the server by system call:

[code]
# Error and segmentation fault
Here is the client log:

[code]

Here is the server log:

[code]

# A bit

[2021-09-27 06:54] marller2013 opened #1059 "std::invalid_argument: 'https' scheme is not supported"
Hello,I used cpp-httplib in my project.When I send a "http" request,it works OK.But when I send a "https",it works failed,and thrown an exception:terminating with uncaught exception of type std::invalid_argument: 'https' scheme is not supported.
I had  browsed all Issues about this exception.What puzzles me is that I still don't know how to deal with this exception.

I had defined CPPHTTPLIB_BROTL

[2021-09-27 11:16] yhirose commented on #1059
Hope [this](https://github.com/yhirose/cpp-httplib#ssl-support) helps.

[2021-09-27 11:16] #1059 closed

[2021-09-27 11:19] yhirose commented on #1058
@Megidd, could you make sure of where the segmentation fault happens in httplib or your code with taking call stack? I basically don't debug for others. But if you give a smallest possible code snippet to reproduce on my machine, I'll take a look at. Thanks for your consideration!

[2021-09-27 17:49] Megidd commented on #1058
@yhirose Thanks :smile: I'm going to provide call stack. Also, I'm going to try to provide the smallest code to reproduce the seg fault :+1:

[2021-09-28 05:07] PixlRainbow commented on #1059
when compiling httplib.cc separately, you have to define `CPPHTTPLIB_OPENSSL_SUPPORT` for both cc files. If you only define in your main.cc, httplib.o will not contain the code for SSLClient, which is why it is saying it is an undefined reference -- the compiler has detected that you have "declared" SSL class in httplib.h but did not define the implementation for it in httplib.cc

[2021-09-28 06:33] Megidd commented on #1058
I renamed some folders and files. Built everything again. Then, strangely, the segmentation fault got resolved! I'm not sure why! :confused:

![Screenshot_20210928_095758](https://user-images.githubusercontent.com/17475482/135035142-8ed86867-d58d-415d-8edd-cbed696740c1.png)

[2021-09-28 07:28] marller2013 commented on #1059
@PixlRainbow Thanks for your reply, and it is great.I'll try your plan later.

[2021-09-28 12:57] Megidd commented on #1058
Again, sometimes I'm receiving segmentation fault. I'm not sure why :confused:

[2021-09-28 13:00] Megidd commented on #1058
I'm going to provide minimum code to reproduce the segmentation fault... :+1:

[2021-09-29 07:58] GoghSun opened #1061 "client get"
free(): double free detected in tcache 2
Aborted

[2021-09-29 08:05] Megidd commented on #1058
Here is provided a minimal source code with all the executable binaries already built:

[cpp-service-minimal.zip](https://github.com/yhirose/cpp-httplib/files/7249954/cpp-service-minimal.zip)

The problem is: the segmentation fault happens occasionally. It's hard to reproduce consistently. I'm not sure why :confused:

[2021-09-29 08:09] Megidd commented on #1058
To provide the call stack, do you guys use a specific debugging tool? Do you suggest any debugging tool to get the segmentation fault call stack? Thanks :slightly_smiling_face:

[2021-09-29 11:06] #1061 closed

[2021-09-29 11:11] yhirose commented on #1058
@Megidd, thanks for the code. In order to get a call stack, I use option `-g` with clang++ to build a program and run it on lldb. When the segmentation happens, lldb shows stack frames and you can go up and down in the stack frames. If you can identify the lowest function in httplib.h, it will be very much helpful for debugging. :)

[2021-09-29 13:50] Megidd commented on #1058
Thanks @yhirose ! :slightly_smiling_face:

I'm using Linux. So, I'm going to use this VS Code extension which is based on LLDB:

https://github.com/vadimcn/vscode-lldb

I'm going to figure out the call stack when segmentation fault happens :+1:

[2021-09-29 13:59] yhirose commented on #1058
@Megidd, if you are using g++ on your Linux machine, you can do the same with gdb. Hope it helps.

[2021-09-29 17:32] jwdinius commented on #867
I have a similar question and, I'm afraid, your answer is unclear to me @yhirose.  It looks as though there is a `shutdown` method defined for the `ThreadPool` class, however the `Server` member variable `new_task_queue` does not call it when `Server::stop()` is invoked.  Is this the designed behavior?

What I am looking for is a `kill` switch that I can call from a separate thread (i.e. one diffe

[2021-09-29 18:10] yhirose commented on #867
@jwdinius, `shutdown` method in `TreadPool` isn't for socket shutdown, but thread pool shutdown. The socket shutdown is done via `Server::stop()` method which will eventually end up calling `shutdown` system call in `shutdown_socket` function.

Anyway, you can see a number of examples in `test/test.cc` to launch a server in a separated thread and stop it from the main thread with `Server::stop()`.

[2021-09-29 18:15] yhirose commented on #1058
@Megidd, it seems like the size of `command` is too small and `sprintf` causes memory overflow. Could you try to make `command` large enough to hold parameter strings?

[2021-09-29 19:11] jwdinius commented on #867
@yhirose thanks much!  I was able to find what I needed.

For newcomers to this thread (pun intended), the following [example](https://github.com/yhirose/cpp-httplib/blob/d87d0672a8e0f3695f168ff1f55028f6fbe4aedf/test/test.cc#L860) from `test/test.cc` might be illustrative.  It worked for me :)

[2021-09-30 02:42] Megidd commented on #1058
Thanks @yhirose :slightly_smiling_face: That was it! :+1: I made this **commit** and the segmentation fault is *not* observed anylonger:

[code]

![image](https://user-images.githubusercontent.com/17475482/135376950-4786da9b-d9ae-4bbd-9f47-363b981744a1.png)

I appreciate your great help :smiley:

[2021-09-30 02:42] #1058 closed

[2021-09-30 09:18] wenjunlong opened #1062 "losing tail of the data when posting big data"
**I turn an image into base64 string and have it Url encoded , and try to post it to a server which was written in java.

I print the post data to make sure I post the right data, I  also print the raw data recieved by the server.

the problem is that the result is sometimes right and sometime wrong.  if the result is right, the data printed by the server is the same with that printed by the clien

[2021-09-30 18:22] yhirose commented on #1062
org.springframework.http.converter.HttpMessageNotReadableException: JSON parse error: unclosed str; nested exception is com.alibaba.fastjson.JSONException: unclosed str

It seems like `dataJson` isn't a valid JSON string. Could you make sure the `dataJson` is correct with any available JSON validator?

[2021-10-01 04:35] PixlRainbow commented on #1062
the reason that dataJson sometimes is not a valid JSON string is because httplib stops sending data halfway through the base64 string and never manages to send the rest of the JSON.

[2021-10-01 04:45] wenjunlong commented on #1062
Yes.  I was posting **the same data** repeatedly, and about 50% the chance the server side receive the correct data, and the JSON string was parsed correclty.
 The point is , I did'n changed the  data through out the whole testing, with **the same data** posted, sometimes the server receive the data correctly, and the parse goes well , sometimes not.   Each time things went wrong, the  tail of the

[2021-10-01 04:52] wenjunlong commented on #1062
agreed, The most confusing part is, with the same data posted, sometimes things go right and sometime wrong.

[2021-10-01 11:11] yhirose commented on #1062
@wenjunlong, @PixlRainbow, thanks for the replies. Honestly, I have no clue why this symptom happens because `test/test/cc` has already unit test cases to deal with 100B huge data, and I have never seen these test fails.
https://github.com/yhirose/cpp-httplib/blob/d87d0672a8e0f3695f168ff1f55028f6fbe4aedf/test/test.cc#L2793-L2820

Could you investigate more why this problem is happening on your mac

[2021-10-02 06:39] wangningito opened #1063 "patch note for the default behave of select"
recently I introduce this lib into my project, but the connection keeps failing in some of processes.
I found the failed process is that the process is holding too much fd(s), over 1024. It changes the behave of "select" in many of operating systems. Also, "select" is use by cpp-httplib by default, without specifying "CPPHTTPLIB_USE_POLL".
would you mind patching some notes for this? I guess there

[2021-10-02 08:38] wenjunlong commented on #1062
I think I finally figure it out, It turns out to be  the server's problem, not the client.  Someone changed  some of the  default implementations of  the Java Servlet for some purpose, I change them back, then everything returns to normal.

 I turned to some other client both written in c++ and python to make sure that the problem is really made by the server. It's likely that the server stopped a

[2021-10-02 08:39] #1062 closed

[2021-10-02 12:07] yhirose commented on #1063
@wangningito, thanks for the feedback. What do you mean by `patch note`? Are you asking for making README change or putting a comment in httplib.h?

[2021-10-03 16:00] wangningito commented on #1063
@yhirose thanks for replying,
This case is easily to be reproduce in case of holding 1024 fd(s) with the default settings of cpp-httplib, Maybe there could be some FAQ or Troubleshooting doc?
I'm very new to network things, it takes me some time to troubleshooting this problem, maybe some doc can help the another one who happened to met this problem to fix the problem in very soon.  How do you thi

[2021-10-03 22:38] #1063 closed

[2021-10-04 12:10] alphamarket opened #1064 "Don't verify the SSL"
Is there any flag that I set in order to make the client *don't verify* the SSL certs? something like:

[code]

[2021-10-04 12:48] alphamarket opened #1065 "Are headers case insensitive?"
Can I get for instance `Content-Type` with both `Content-Type` and `content-type` keys?

[2021-10-04 15:03] alphamarket commented on #1065
@yhirose The [HTTP/1.1 Specification](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2) says:

I was wondering if the library uses the same standard; meaning if I ask for the header `Content-type` I would get the same result if I ask for the  `content-type` header?

[2021-10-05 17:05] yhirose commented on #1065
@alphamarket, I got it. Unfortunately, `get_header_value` on `Request` and `Response` doesn't consider the case. Of course, you can loop through all the header keys and values in `Headers headers` member variable and do the case-insensitive comparison for each key yourself. Sorry for the inconvenience. (A pull request for this enhancement is always welcome!)

[2021-10-06 11:16] zhenyolka opened #1066 "DNS resolve"
This library relies on getaddrinfo to get server IP address, while using SSLClient for example.
But what if DNS requests spoofed by ISP to block access to server or any other problem with system nameservers, or I just want to use DoH protocol.
Maybe it will be better to allow to pass server IP address in Client constructors as optional argument to bypass these problems and don't resolve address in

[2021-10-06 13:52] yhirose commented on #1066
@zhenyolka, thank you for the feedback. I honestly know little about DoH. Could you send a pull request to show what changes are necessary to support it? Thanks!

[2021-10-06 15:44] kelteseth commented on #866
I have the same issue. Any combination you linked did not work. This is in an empty class that is not even used. Maybe it has something to do with some Qt defines?
![image](https://user-images.githubusercontent.com/1071536/136237774-ced119be-f734-4ec2-94c1-693940cafec4.png)

[2021-10-06 18:55] zhenyolka commented on #1066
@yhirose ok. I will try to add it manually. You don't need to implement DoH, just need to allow to specify IP address manually in SSLClient constructor instead of resolve IP address

[2021-10-07 04:02] PixlRainbow commented on #1066
SSLClient can be used with a direct IP address if you specify it in place of the hostname. However, note that doing this may compromise the security of your application as we will not be able to verify the server certificate, since the certificates are usually signed against the domain name, not the IP address

[2021-10-07 12:26] yhirose commented on #1066
@zhenyolka, could you give us your response to the above comment from @PixlRainbow regarding the compromise of security?

[2021-10-08 18:29] lexika979 opened #1068 "Basic SSL Client-Server example fails to make request"
Hello, i have been trying to run the example code in the repository, but came across wierd/incorrect behaviour (Probbaly caused by me).
I have followed the basic examples to get a SSLServer running, which seems to be working fine - I have generated a certificate and a private key using OpenSSL, and made the server use them.

Commands used:
[code]

I have slightly altered the example code, but both

[2021-10-08 20:12] lexika979 commented on #1068
Thank you for the fast answer, but unoftunately the issue still persists with both solution applied:
[code]

res is still nullptr.

[2021-10-09 01:13] PixlRainbow commented on #1068
remove the "https://" from the hostname in SSLClient constructor, SSLClient always attempts https by default

[2021-10-09 09:50] PixlRainbow commented on #1068
that is strange, have you tried visiting the server from web browser or using CURL?

[2021-10-09 10:00] lexika979 commented on #1068
Making a request thru postman works
![hZP8jSO](https://user-images.githubusercontent.com/83946527/136653683-9e8ca3ba-4c88-4923-b11a-9fe5f8502432.png)
t

[2021-10-09 10:13] lexika979 commented on #1068
I'm very confused, this
![9mpsA7G](https://user-images.githubusercontent.com/83946527/136654008-64890bca-683b-41f6-a2a2-87e551363933.png)
just started working all of a sudden
![WYEAzoo](https://user-images.githubusercontent.com/83946527/136654024-09a0971c-babf-41b1-bda4-4c15c4919646.png)
?

[2021-10-09 11:12] lexika979 commented on #1068
I'll close this for now, if i figure out what happaned i will let you know

[2021-10-09 11:12] #1068 closed

[2021-10-09 20:01] jmscreation opened #1069 "SSLServer + set_mount_point() timing out and not sending all data"
I'm going to try to keep this as concise as possible.

What's happening is I have an SSLServer that's running, but when I setup the mount point to get files automatically, it just won't send the entire html file over. It sends almost all of it, then just stops and eventually times out. It's almost like it's trying to send the entire file in one TCP packet. That just can't happen, yet it's trying t

[2021-10-09 23:24] yhirose commented on #1069
@jmscreation, could you try httplib.h at f76a798 to see if it fixes the problem on your machine?

[2021-10-09 23:34] jmscreation commented on #1069
I looked it over and noticed a missing block.

[2021-10-09 23:36] jmscreation commented on #1069
I think there's an issue with this line:

[code]

[2021-10-09 23:51] yhirose commented on #1069
That's my mistake... It should have been as below. (Your change on the above isn't correct either...)
The code uses the same retry logic as `SSLSocketStream::read` uses.

[code]

[2021-10-09 23:52] jmscreation commented on #1069
I've tried the new code as well, but same thing. It's all stemming from SSL_write() returning -1 for seemingly no reason whatso-ever.

[2021-10-10 00:01] yhirose commented on #1069
I use the latest OpenSSL available on vcpkg with Visual C++, and it always works well on my machine. At this point, I don't have any clue, and I can't verify if it's a OpenSSL issue or an issue on your environment. Sorry about that...

[2021-10-10 00:31] jmscreation commented on #1069
**Good news and bad news** _(bas news for me mostly)_

I did a little more testing, and found out that it has _something to do with my computer I'm running it on._ It's really strange. There's some kind of hardware or driver issue.

I'll reopen this issue if I find out it starts happening with other systems. But for now, it's quite a frustrating problem that's related to my own hardware.

Thank yo

[2021-10-10 00:31] #1069 closed

[2021-10-10 00:37] yhirose commented on #1069
Sure. I have just merged it. Hope your project goes well.

[2021-10-11 10:01] josemaGruposantander opened #1071 "Posible improvement when HTTPLIB_COMPILE ON"
Hi,

Right now httplib.h is splitted into httplib.cc and httplib.h every time target views are generated. This situation implies that httplib.cc and httplib.h are recompiled every time target views are generated even if the original httplib doesn't change.

I propose to used **add_custom_command** insted of **execute_process**

That means replace this code:

`execute_process(COMMAND ${Python3_EXEC

[2021-10-11 16:35] sum01 commented on #1071
I see what you mean, but it doesn't happen for me.

`split.py` [has these lines](https://github.com/yhirose/cpp-httplib/blob/master/split.py#L35-L38) that are preventing it from happening already. All it does is output the message `out/httplib.h and out/httplib.cc are up to date` and it stops it from doing anything else.

If you think it's necessary then I'm not against a PR, I just don't have the

[2021-10-11 16:46] josemaGruposantander commented on #1071
My version was older and it doesn't have these lines.
I will update it. Anyway another solution is what i proposed. In this solution it is not needed to do specific code in the python script to check if the file has changed

[2021-10-11 17:25] #1071 closed, assigned to nobody

[2021-10-11 18:41] julianomasson opened #1072 "Error::Read on POST only if some parameter is sent"
Hi,

I'm having a problem to perform a simple post operation. I need to send to the server an integer and receive 2 strings, in json format.

This is the server code, written in Flask:

[code]

This is the code using the library in cpp:

[code]

If I send the n_images="" it works, but if I send n_images="<any_number>" I receive an Error::Read. This happens with all post methods that I need to send

[2021-10-11 21:15] julianomasson commented on #1072
@yhirose I just tested with curl now and the result was "500 Internal Server Error". Thanks for the tip, I just started using these kind of applications. I will try to find out what is wrong with the server. Thank you!

[2021-10-11 21:15] #1072 closed

[2021-10-15 17:54] liuzqt opened #1074 "What's the behavior regarding client read timeout"
As the title said.

I was using the client sent some Post requests to my server and the request might cause some long-running IO operation on server side(~15s), I think the default read timeout is 10s or something, because I noticed that after 10s, the httplib client report a read error and exit, but the connection seems still alive because my server is still running some worker thread to handle t

[2021-10-15 19:39] lightray22 commented on #1041
I think it is likely the same problem.  I wrote a minimal program that produces a backtrace with valgrind.  Ends with a SIGPIPE.

[code]

[code]

[2021-10-15 19:45] yhirose commented on #1074
@liuzqt, thanks for the feedback, The default read timeout is 5s. Also `Error::Read` represents an error of failure of reading with various reasons. So the problem happens after 10s, this is not caused by the reading timeout. Hope it helps.

https://github.com/yhirose/cpp-httplib/blob/b80aa7fee31a8712b1d3cae05c1d9e7f5c436e3d/httplib.h#L32

[2021-10-15 19:50] #1074 closed, assigned to nobody

[2021-10-15 21:16] lightray22 commented on #1041
Also my compiler is `g++ (Ubuntu 10.3.0-1ubuntu1) 10.3.0`

[2021-10-17 02:21] yhirose commented on #1066
Implemented in #1067.

[2021-10-17 02:21] #1066 closed

[2021-10-19 00:18] Idknothing opened #1075 "Httplib has some errors on windows/clr apps"
Hi, I'm tried using httplib in windows/clr app and when I include httplib in app got this errors.
![image](https://user-images.githubusercontent.com/54241059/137823388-8eff60ba-5b82-4706-a833-4424fcd80abe.png)
(It's not supported because library <condition_variable> not supported in clr apps)

[2021-10-19 01:04] #1075 closed, assigned to nobody

[2021-10-20 07:53] tocky0 opened #1076 "Multi-threaded 'blocking'"
How to understand this?Do you mean read io and parase http proto?

[2021-10-20 11:05] #1076 closed, assigned to nobody

[2021-10-22 06:33] deadash opened #1077 "There is a memory leak on windows 2008 r2"
The smallest example is as follows
[code]
Compile and run on windows 2008 r2

Try `docker run --rm skandyla/wrk -t12 -c400 -d30s http://server/test.ini`

Finally, the memory soared from 1~2M to more than 5M

The following example will also leak memory

[code]

As a comparison, I tested nginx and civertweb, etc., and there is no such memory leak.

[2021-10-22 15:08] #1077 closed, assigned to nobody

[2021-10-25 03:26] Eagleyangs opened #1078 "Can't token body with json by Get Method?"
![111](https://user-images.githubusercontent.com/25238164/138630213-a2015b86-01c9-494d-8d17-e3228a57b028.png)

but body is empty!

[2021-10-25 17:59] #1078 closed, assigned to nobody

[2021-10-27 14:41] Morso33 opened #1080 "httplib.h line 5155"
C++ more than one instance of overloaded function matches the argument list:            function (declared at line 739 of)            function (declared at line 1625 of)            argument types are: (std::atomic<unsigned long long>, std::nullptr_t, std::nullptr_t)

https://imgur.com/a/PJ3dxTs

All I did was import it, nothing else.

[2021-10-28 13:31] #1080 closed, assigned to nobody

[2021-10-29 08:10] hctym1995 opened #1081 "Does the GET request of the http protocol do not need params?"
as the title, I did not find a constructor similar to “Result Get(const char *path, const Headers &headers);” in the source code,
so i added "Result Get(const char *path, const Params &params);" and other related code in my source code and it worked.

Is this a useful change?

[2021-11-02 13:21] deadash commented on #1077
Sorry, it seems to have misunderstood you, windows2008 corresponds to windows7, more accurately is windows7 sp2, cygwin I did not test it, maybe it works well.

[2021-11-02 13:43] xkaraman opened #1083 "Get with request format required"
I am trying to use the library in order to connect with an 3rd party server API. That API requires that REST API requests need to be sent as "Content Type: application/json".
As a i understand this can be accomplished by
[code]
But it also requires that Request have a a specific format with json components that are required, otherwise it denies the request.

How can i accomplish this with the libr

[2021-11-02 14:37] tietzedk opened #1084 "Memory leak in the upload example"
When using the upload example and you upload a larger jpeg image e.g. 5MB, several times, the memory size of the upload process will start increase each time you upload the image. This does not happen the first time you upload a image.

[2021-11-02 15:38] yhirose commented on #1084
@tietzedk, could you provide more detailed information?

[2021-11-02 15:42] yhirose commented on #1083
@xkaraman, thanks for the feedback, but I don't think it's not a question for cpp-httplib, but a question for the 3rd party server to figure out what JSON format is required. I think the easiest way to find it is to go to the documentation of the server, or try with curl. Hope it helps!

[2021-11-02 15:42] #1083 closed

[2021-11-02 17:23] xkaraman commented on #1083
I know the json format that is required, but how can i send it with a GET request?

[2021-11-03 08:14] tietzedk commented on #1084
Get the latest source
git clone https://github.com/yhirose/cpp-httplib.git
cd cpp-httplib/example/
make

Start the upload example by using "./upload"

Download a test image from e.g. https://www.learningcontainer.com/sample-jpeg-file-download-for-testing/ to the local device. I use the 5MB test image for this test.

Open the chrome browser and type http://localhost:1234 in the address bar.

Select

[2021-11-03 18:37] jmscreation commented on #1069
I've been working with my project a little bit and noticed the same issue is happening on lots of devices. So it seems the problem isn't just my hardware.

I'll continue to investigate the issue, but I think the problem lies in my current build of OpenSSL, and not this library. It's just a bit of a difficult issue I'm facing.

[2021-11-03 20:59] jmscreation commented on #1069
### Work Around Update:
I've managed to find a fix/solution to the strange issue I've been encountering! I have some rudimentary code that I'd really appreciate you to take a look at and see if you can come up with a better approach.

There's a possibility that the Windows Socket handler is trying to send too much data at once, and it fails. I've forced the stream writer to truncate all data into

[2021-11-04 06:35] JavierPAYTEF commented on #269
I'm sorry if I'm bringing an old issue, but just wanted to leave my two cents in case anyone ever has the same problem.

The file ws2tcpip.h only includes the function if a certain condition with NTDDI_VERSION is met.
In my case I was redefining NTDDI_VERSION to an incorrect value and that's why it wasn't working.
I've also read that including windows.h without the WIN32_LEAN_AND_MEAN might cause

[2021-11-04 06:41] PixlRainbow commented on #1083
use an external library to format object-oriented data into a binary string (either `char*` or `std::string`) then send that as a request body/request content.

Note that in HTTP standards, the `Accept` header is for defining what meta types client is capable of *receiving* as a response from the server. To define that the client request body is `application/json`, use the third parameter of the [

[2021-11-04 19:57] yhirose commented on #1040
@dmenendez-gruposantander, I don't mind including the feature in split.py, but I am not interested in implement it since I am not going to be a user for it. Could you implement it, and send a pull request? I am glad to take it in the master branch. Thanks!

[2021-11-04 20:00] yhirose commented on #1084
@tietzedk, thanks for the details!

[2021-11-04 20:28] yhirose commented on #1069
@jmscreation, thanks for the valuable information! Does his problem happen with only SSL the socket stream on Windows in your environment? I am thinking to implement such 'write buffering' in `write_data` function, so that any socket stream can benefit from it. Also it would be nice if a user can specify buffer size with `CPP_WRITE_BUFFER_SIZE` instead of using a constant value like 1024.

https:/

[2021-11-04 21:49] jmscreation commented on #1069
@yhirose
My environment is Windows 10. I mainly develop applications for Windows.

I did try my minimal test without using SSL. It worked without any issues. So the problem seems to originate from the `SSL_Write()` function and not the direct HTTP write function.

I completely agree with the buffer size being changeable. I have been working on projects iteratively as I have so many of them, so whe

[2021-11-04 22:08] jmscreation commented on #1069
You'll want to make sure you calculate the how much data is left, and truncate to `l` accordingly. Otherwise, `l` will eventually be larger than the amount of data left, and this would cause a buffer overflow.

[2021-11-06 16:56] yhirose commented on #1081
@hctym1995, I took a look at #1082, but it's not a production quality code, and could break existing users' code... So I rejected it. I understand what you need. When I have time, I'll come up with a better way to do i. Thank you for your understanding!

[2021-11-08 01:30] hctym1995 commented on #1081
It's ok， thank u too

[2021-11-08 01:30] #1081 closed

[2021-11-08 09:59] nidhaloff opened #1086 "fatal error: 'arpa/inet.h' file not found"
I'm using ubuntu 20.04 and I'm trying to include this lib in my project, however, I can't build with cmake because of this error.

[code]

This is my cmake file. To use the lib, I just copy pasted the content under include/httplib.h (that's why I included the folder with include_directories)

[code]

It's actually pretty basic/simple. I know that maybe this error has nothing to do with the lib. I'

[2021-11-08 10:10] #1086 closed

[2021-11-14 15:22] Tachi107 opened #1087 "`ParseAcceptEncoding` tests failing when compiling the library"
Hi, I'm consistently getting test failures when building the library with Meson and `cpp-httplib_compile=true`.

`ParseAcceptEncoding1`, `2` and `3` are all failing.

When setting `cpp-httplib_compile=false`, no failures occur.

I've setup a CI job that tests the compiled library in a different branch to show the failures, you can find it here: #1088

[2021-11-14 20:06] yhirose commented on #1087
@Tachi107, thanks for the report. Since I don't use the compiled version at all on my any project, could you look into it deeper to see why it happens only on the compiled version? If it's hard to track down the reason, I am thinking to get rid of the feature, because it's requested by users for their benefit. Thanks!

[2021-11-15 06:23] Tachi107 commented on #1087
Ok, I'll try to figure out why it happens :)

[2021-11-15 18:00] Tachi107 commented on #1087
Turns out the issue wasn't really related to the split script, but a small issue with the Meson build file. Basically, flags like `-DCPPHTTPLIB_ZLIB_SUPPORT` were only used for the compilation of the library, and not when actually using it in external code. This meant that users would use the library as if all the various extra feature weren't available, while they actually were. Simple fix, I'm p

[2021-11-15 19:03] #1087 closed

[2021-11-16 03:30] yhirose opened #1093 "Remove meson-build tests from GitHubActions"
Since the regular tests on GitHubActions are enough for testing all the httplib functionalities, and the meson-build tests costs about extra 10 minutes and the test on Windows is very unstable. I would like to leave only absolutely necessary tests in GitHub workflow.

[2021-11-16 03:49] #1093 closed

[2021-11-17 10:58] Otaekek opened #1095 "Protobuf can't get compressed"
Hello,

I would like to compress my protobuf response, but it seems that only a few content-type will be allowed to be compressed:
[code]
Is it possible to add `application/protobuf` in the list ?

[2021-11-17 11:01] Otaekek commented on #1095
[code]

[2021-11-17 15:45] yhirose commented on #1095
@Otaekek, no problem. Could you send a pull request? Thanks!

[2021-11-17 15:54] Otaekek commented on #1095
Sure: https://github.com/yhirose/cpp-httplib/pull/1096
Thank you :)

[2021-11-17 18:15] yhirose commented on #1095
I have merged it. Thanks a lot!

[2021-11-17 18:15] #1095 closed

[2021-11-17 18:38] Otaekek commented on #1095
out of curiosity, why is this function ? is there some content_type that should NOT be compressed ?

[2021-11-18 11:16] zhuge20100104 commented on #188
@yhirose OpenSSL 1.1.1l  24 Aug 2021 This version's client still crash on latest fedora platform for multi thread.

`Segmentation fault (thread 139884551083584, pid 1437)
Stack trace:
[root@07882a6dc489 build]# [__memcmp_avx2_movbe]
:?
[std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >::compare(char const*) const]
/lib64/libstdc++.so.6:0x14803e
[bool std::operator==<c

[2021-11-18 11:17] zhuge20100104 commented on #188
If you have time, pls help to resolve it.
I am a Automation QA using boost::asio::thread_pool to create new thread and then met this error.

[2021-11-18 11:17] zhuge20100104 commented on #188
Thanks you.

[2021-11-18 11:25] zhuge20100104 opened #1097 "Httpclient calls with OpenSSL 1.1.1l 24 Aug 2021 Crash"
@yhirose OpenSSL 1.1.1l 24 Aug 2021 This version's client still crash on latest fedora platform for multi thread.

Segmentation fault (thread 139884551083584, pid 1437)
Stack trace:
[root@07882a6dc489 build]# [__memcmp_avx2_movbe]
:?
[std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >::compare(char const*) const]
/lib64/libstdc++.so.6:0x14803e
[bool std::operator==<cha

[2021-11-18 11:26] zhuge20100104 commented on #1097
If you have time, pls help to resolve it.
I am a Automation QA using boost::asio::thread_pool to create new thread and then met this error.

Thanks you very much.

[2021-11-18 12:03] yhirose commented on #1097
@zhuge20100104, thanks for the report, but I can't give you any help at this point since I am not able to reproduce it on my machine. Could you look into it deeper and try to provide the smallest possible code to reproduce the problem? Thanks.

[2021-11-18 12:08] zhuge20100104 commented on #188
OS: Fedora, docker env
Linux Kernel version:  Linux 07882a6dc489 5.10.25-linuxkit

Multi thread library use boost::asio::thread_pool,
code as belows,

`AsyncConCurrResult async_concurr_decorator_run(
    void (*f)(const std::string&, json&), const std::string& path) {
        auto curr_count = (std::size_t)async_concurr_count;
        boost::asio::thread_pool pool{curr_count};
        std::vector<

[2021-11-18 12:13] zhuge20100104 commented on #188
The decorator func just use cpp-httplib as belows,

`bool HttpUtil::get_str(std::string host, std::string path, const std::map<std::string, std::string> & headers, std::string &result_string) {
     try {
        #ifdef CPPHTTPLIB_OPENSSL_SUPPORT
            auto port = 443;
            httplib::SSLClient cli(host, port);
        #else
            auto port = 80;
            httplib::Client cli(ho

[2021-11-18 12:15] zhuge20100104 commented on #1097
OK, I will try to give you a demo.

[2021-11-19 05:54] zhuge20100104 commented on #1097
@yhirose I'm sorry.  I find the error cause by myself finally. Cuz in my CMakeLists.txt file, I didn't use find_package to find the OpenSSL lib, then the cmake build system find the system's ssl library for me, it's below a specific version. After I add find_package to my CMakeLists.txt, it didn't crash now. I'm sorry. Pls close this issue. Thanks.

[2021-11-19 05:54] #1097 closed

[2021-11-19 13:16] yhirose commented on #188
According to #1097, it's not a bug in httplib.h.

[2021-11-21 17:18] gtnardy opened #1098 "Using Client.set_compress() makes Progress not being called"
Hello there!

I'm downloading files through httplib, but if I set `set_compress(true)`, the `Progress` callback is not being called during the download.

I'm using this `Get`:
[code]

My snippet of code:
[code]

[2021-11-21 18:09] #1098 closed

[2021-11-22 04:57] sgraham opened #1100 "Compile failing with exceptions disabled"
I'm trying to update from a quite-old version and am getting errors of this form from clang or similar from VS:

[code]

(https://bugs.chromium.org/p/crashpad/issues/detail?id=378)

I think the exception handling was added around January for #845. Would it be reasonable to have a compile time define that excludes the exception handler?

[2021-11-22 13:25] yhirose commented on #1100
@sgraham, thank you for the report. These exception handlings have been added for #705, #714 and #845 to protect cpp-httplib from crashes reported by users. I don't mind adding the compile-time option such as `CPPHTTPLIB_NO_EXCEPTION_HANDLING` to disable these, but it will compromise stability a bit.
Please let me know your thought. Thanks!

[2021-11-22 13:42] wangwenqiangGitHub commented on #889
How use this lib Download big files

[2021-11-23 00:23] wangwenqiangGitHub opened #1101 "How to use this lib download big files?"
the example has download big files?

[2021-11-23 03:24] yhirose commented on #1101
Hope this helps: https://github.com/yhirose/cpp-httplib#receive-content-with-a-content-receiver-1

[2021-11-23 03:24] #1101 closed

[2021-11-23 03:27] wangwenqiangGitHub commented on #1101
Has a specific application example?

[2021-11-23 06:50] sgraham commented on #1100
Thank you for looking. That seems reasonable to me, though I'm not sure how invasive it will be.

I guess the call to std::stoll, and handling an unsupported scheme could be written slightly differently to avoid relying on C++ exceptions, but I guess #845 would have to be just excluded based on the define.

[2021-11-23 11:16] PixlRainbow commented on #1101
if you want to immediately save the big file to a file on disk, just replace `std::string body` with `std::ofstream file("big_file.mp4", std::ofstream::binary)` and replace `body.append(data, data_length)` with `file.write(data, data_length)` from the linked example.

[2021-11-23 11:27] wangwenqiangGitHub commented on #1101
very thanks!

[2021-11-23 11:31] wangwenqiangGitHub commented on #1101
how to set  low speed time and low speed limit like curl?

[2021-11-23 11:42] PixlRainbow commented on #1101
just use a C++ standard library sleep e.g. https://stackoverflow.com/a/10613664 and add it after you write the file but before you return true to force the function to wait between receiver calls. You can also manipulate the size of the stream buffer by setting `#define CPPHTTPLIB_RECV_BUFSIZ size_t(4096u)` (replacing `4096` with a smaller value) to force httplib to read less data from the network

[2021-11-23 13:34] theShmoo opened #1102 "Remove CMake Warning of "failed to find the latest Git tag""
If you pull the source code as an archive (e.g.: https://github.com/yhirose/cpp-httplib/archive/refs/tags/v0.9.7.tar.gz) you get a CMake warning at:

[code]

This is not pretty in our build pipeline. Could you remove this warning?

[2021-11-23 13:47] yhirose commented on #1102
@sum01, do you have any thought?

[2021-11-23 15:35] Tachi107 commented on #1030
Also, `OPENSSL_VERSION_NUMBER` has been deprecated (see https://www.openssl.org/docs/man3.0/man3/OPENSSL_VERSION_NUMBER.html)

[2021-11-23 15:53] #1100 closed

[2021-11-23 15:59] yhirose commented on #1100
@sgraham, I added `CPPHTTPLIB_NO_EXCEPTIONS` to disable C++ exception handling, and release v0.9.8. Hope it resolve the issue in your project.

[2021-11-23 17:06] sgraham commented on #1100
Thank you so much! I will try it out.

[2021-11-23 22:05] sum01 commented on #1102
If you remove it then people won't know why the version is then missing the patch ver.

I feel there should be some recognition of when this happens, instead of silently doing things in the background. But if you don't think so then remove it.

Could also make it a dev warning and then you'll be free to suppres dev warnings if you want to.

[2021-11-24 00:00] yhirose commented on #1102
@sum01, thanks for the reply.
@theShmoo, what do you think?

[2021-11-24 16:24] theShmoo commented on #1102
see the PR

[2021-11-24 19:59] ratman opened #1105 "Boost regex replacement"
Hi Together! My issue is rather a question. The library is supposed to be unusable with GCC 4.8 and above for well-known issues. As I see, std::regex is not that central in the library and it looks not impossible to me to replace it with boost regexes for the first sight. Of course, it would lose the nice singleheaderonlyness, but it would work on my cursed legacy embedded devices. I would do it b

[2021-11-24 21:08] yhirose commented on #1105
@ratman, thank you for the feedback. I don't have any plan to try to use the boost regex instead of std::regex, because I don't need it and I would not like to add any other dependency to this library. I guess it's not too hard for you to try it with your fork of cpp-httplib, since the interface of boost::regex maybe similar to std::regex. Hope your project will go well!

[2021-11-24 21:08] #1105 closed

[2021-11-24 22:01] sum01 commented on #1102
Is the goal just to silence the warning, or do you actually want to pass custom versions at build time?

[2021-11-24 22:11] theShmoo commented on #1102
Both. Silence the warning and pass the full version at build time.

KTGH ***@***.***> schrieb am Mi., 24. Nov. 2021, 23:02:

[2021-11-25 03:30] sum01 commented on #1102
It seems fine then.

I guess you could use a proper variable name though instead of co-opting the old (hidden) var.
Like `HTTPLIB_FORCE_SET_VERSION` or something to that effect (don't forget to document it at the top of the file). Then have it skip all the git & string matching stuff, and just `set(_httplib_version "${HTTPLIB_FORCE_SET_VERSION}")`

[2021-11-25 07:26] theShmoo commented on #1102
Thanks for the suggestions.
I updated the PR #1104

[2021-11-25 15:08] yhirose commented on #1102
@sum01, @theShmoo, is it better to have the patch version as well in the user agent string? If do so, we can get the full version number from httplib.h itself and don't need to have the git dependency in CMakeLists.txt any more. Only downside is that I need to make sure of updating the version string even time I release another patch version. But I am ok with it.
https://github.com/yhirose/cpp-htt

[2021-11-25 16:07] ratman commented on #1105
@yhirose I thank you, the library is a great work and I have big respect for your long term enthusiasm for it. That's why I did not want to replace it for my legacy project. The good news is that the interface seems to be the same in fact, so I only needed a namespace alias for switching boost/std and a compile definition for defining the alias. I do not know if it makes sense to push it here on a

[2021-11-25 16:23] yhirose commented on #1105
@ratman, glad to heat the news! You could put the link to your branch here, so that others could benefit from it. Thanks!

[2021-11-25 17:36] sum01 commented on #1102
I think that would be ideal (short of putting it into the Cmake file directly).

Then it would just always work & be the full version. Up to you if you want to maintain that or not though.

[2021-11-25 18:52] vlad-mal opened #1106 "Transmitting large data streams in 32-bit applications."
Hello.
It seems useful that the type of parameter **in_length** in methods like
[code]
would not be **size_t**, but, for example, **uintmax_t**.

Thus, for example, it would be possible to transfer files larger than 4GB.

Best regards, Vladimir Malinovsky.

[2021-11-25 20:39] yhirose commented on #1106
@vlad-mal, thank you for the suggestion, but I am ok with the current limitation, since just changing `size_t length` parameter isn't enough to support files larger than 4GB. So I would rather recommend users to switch to the 64 bit environment. :)

[2021-11-25 20:39] #1106 closed

[2021-11-26 03:02] okman334 opened #1107 "About threads"
I saw httplib source code create N threads, the N is equal std::thread::hardware_concurrency(). if I create more than std::thread::hardware_concurrency(), the performance will improve? sometimes, in callback function, may be will block a while, such as use httpclient or db operation in callback function. so I think, if create a bit more threads, the performance will better?

[2021-11-26 09:45] theShmoo commented on #1102
I also like the idea!

You could also consider adding a ChangeLog file to the project. And fetch the version string from there.

(see https://keepachangelog.com/en/1.0.0/)

[2021-11-26 19:37] yhirose commented on #1102
@sum01, please check my pull request #1108. If it looks ok, I'll merge it and bump up version to 0.9.0. Thanks!

[2021-11-26 19:47] yhirose commented on #1107
@okman334, this is actually not a question for the cpp-httplib, but a general question regarding thread pooling and the answer varies depending on environments... You don't have to use the default CPPHTTPLIB_THREAD_POOL_COUNT value as it is, but you can find the best possible count that fits your environment with measuring your OS system activities, and set CPPHTTPLIB_THREAD_POOL_COUNT to the valu

[2021-11-26 19:47] #1107 closed

[2021-11-26 20:10] sum01 commented on #1102
@yhirose looks good to me, thanks for making the change :+1:

[2021-11-26 21:20] vlad-mal commented on #1106
OK. :)

[2021-11-27 01:45] #1102 closed

[2021-11-27 01:48] yhirose commented on #1102
@sum01, @theShmoo, thanks! I merged the pull request and bumped the version to 0.9.9.

[2021-11-28 09:56] theShmoo commented on #1102
Thank you for your support!

[2021-11-29 05:03] jjohnson5253 opened #1111 "Trying to connect to Ethereum node through JSON RPC"
Hi there! Wondering if anyone can help me out. I want to use the `eth_blockNumber` method through a JSON RPC call. I believe the url I want to send to is: `https://mainnet.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161` and I believe the JSON I want to send is `{\"id\":0,\"jsonrpc\":\"2.0\",\"method\":\"eth_blockNumber\",\"params\":[]}`

Is this how I would go about doing it?

[code]

When I try th

[2021-11-29 08:13] PixlRainbow commented on #1111
the first parameter in a client constructor is not actually the URL. The first parameter is the domain/hostname/IP address (whichever you prefer). The first parameter of the Post method is the path that follows the domain in an URL.

For example, if the full request URL is `https://mainnet.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161/jsonrpc` then you'd construct the client object like `cli(mainn

[2021-11-29 21:55] jjohnson5253 commented on #1111
Awesome thank you!

For anyone in future curious, here is what I did

[code]

To compile on Linux:
[code]
Note that you need the openssl dependency installed:
[code]

[2021-11-29 21:55] #1111 closed

[2021-12-02 05:32] wesboyt opened #1114 "library is full of bugs"
just use libcurl, this library is buggy as hell just running the examples under load.

[2021-12-02 09:44] zhangyuhu commented on #1084
Supplement:
Since I am also using this project now, I also tested it 。I use the script to send and use the script to monitor the RSS, and found that the memory will stabilize and not increase after a period of time 。
this is send script :

#!/bin/bash

while :; do
  curl --location --request POST 'http://0.0.0.0:1234/post' \
    --form 'image_file=@"./Sample-Image-file-Download.jpg"'
done

this is

[2021-12-02 11:58] yhirose commented on #1114
Thank you for the feedback!

[2021-12-02 11:58] #1114 closed

[2021-12-02 12:58] yhirose commented on #1084
@zhangyuhu, thank you for the fine report!
@tietzedk, do you have any thought on @zhangyuhu's comment?
Thanks!

[2021-12-04 05:57] jimkoen opened #1115 "CONNECT_CR_SRVR_HELLO:wrong version"
I am getting a CONNECT_CR_SRVR_HELLO:wrong version error when trying to connect to an instance of httplib::SSLServer.

It looks like it is unable to find or serve the respective cert and keyfile.

The certs the server uses are self signed, but are otherwise valid. I am unable to debug the issue any further, except provide debug output from SSL.

The code that initialises the Server:
[code]
Note th

[2021-12-04 06:37] jimkoen commented on #1115
Nvm, this is a fundamental design issue, due to the library not being thread safe. The solution was to put the SSLServer instance inside a shared_ptr and initialize the instance + call `listen()` inside `Start()`, so that all calls happen in a separate thread.

tl;dr: Avoid configuring httlib Server instances across different threads.

[2021-12-04 12:24] yhirose commented on #1084
@tietzedk, according to @zhangyuhu's comment, is it just an issue of the way of OS or C++ standard library memory management? Anyway, I'll take a look at it when I am not busy in the future.

[2021-12-04 14:58] yhirose commented on #1115
@jimkoen, thank you for your feedback. There are actually some SSL server examples that calls `listen` method in a separate thread, and they are working fine on my machine and GitHub Actions. Here is one of them:

https://github.com/yhirose/cpp-httplib/blob/824e7682e4d95e1bb21e501731eb2b6bb23033d2/test/test.cc#L4196-L4219

As you see in httplib.h, I tried to protect `SSL_CTX *ctx_` with `std::mute

[2021-12-04 20:58] yhirose opened #1116 "Fuzzing build failure"
Issue 41728: cpp-httplib: Fuzzing build failure
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41728

[2021-12-04 21:02] yhirose commented on #1116
@omjego, I got the above message from oss-fuzz. It's a build error. Their log says:

[code]

Could you take a look at it, since I didn't work on the oss-fuzz integration and I have no idea with it. :)

Thanks a lot!

[2021-12-06 16:01] #1115 closed

[2021-12-06 17:26] toutant opened #1117 "loading url with query string"
How would you implement file retrieval of local file that has url query string attached...
for example http://localhost:8100/file.htm&something=1

currently I get file not found ... I need the query string as part of the url but it is currently trying to load file as if the query string is part of the filename

[2021-12-07 01:14] PixlRainbow commented on #1117
query strings begin with `?` not `&`. Ampersand is used only to join multiple query parameters.

[2021-12-07 02:07] yhirose commented on #1117
@PixlRainbow, thanks for the replay!

[2021-12-07 02:07] #1117 closed

[2021-12-07 05:33] dk9966 opened #1118 "CORS issue: res.set_header() not working"
server.cc:
[code]
App.js:
[code]

Currently, the code in the server.cc works well using curl calls. However, when I have a client that sends a request to the server which updates the things in a database, there is a CORS issue that prevents the request from going through. I have tried using `res.set_header("Access-Control-Allow-Origin", "*");` but the same error message keeps popping up. I'm not s

[2021-12-07 13:16] yhirose commented on #1118
Hope [this](https://github.com/yhirose/cpp-httplib/pull/62#issuecomment-387598871) helps.

[2021-12-07 13:16] #1118 closed

[2021-12-07 13:53] yhirose commented on #1040
@dmenendez-gruposantander, you can send a pull request anytime. Thanks!

[2021-12-07 13:53] #1040 closed

[2021-12-07 14:01] yhirose commented on #1084
@tietzedk, one thing that I noticed is that the following line increases memory usage. But even when the `MultipartFormDataParser` object is destructed including `buf_`, the memory usages stays... It seems like it's due to the memory management strategy of std::string, and there is nothing to do on our side...

Do you feel that it's a really memory leak caused by cpp-httplib, or we can't say it's

[2021-12-07 14:33] tietzedk commented on #1084
@yhirose My application is running on an embedded Linux board with 256MB of memory and files are uploaded several times a day.

I my setup, the memory usage never stabilizes, and the web backend process is killed by the oom_killer.

I have implemented a workaround where the "Server” instance is inside an endless loop and POST handler will call the stop method after a file upload. The call of the s

[2021-12-08 18:20] yhirose commented on #1116
@omjego, somehow, the build problem is done according to the latest message from oss-fuzz. So this is their problem. Sorry for the confusion.

[2021-12-08 18:20] #1116 closed

[2021-12-10 16:35] mcordova1967 opened #1120 "Can't compile set_pre_routing_handler with mingw x64 eclipse CTD"
Hello, I am using the latest httplib.h from master, as well as the latest mingw toolset, when I add this code snippet and try to build, the compiled throws the error shown below:

int main()
{

	Server svr;

	svr.set_pre_routing_handler([&] (const Request &req, Response &res) -> bool {
	  if (req.path == "/hello") {
	    res.set_content("world", "text/html");
	    return Server::HandlerResponse::H

[2021-12-10 20:09] yhirose commented on #1120
@mcordova1967, thank you for the feedback. The code snippet on README is out of date... Could you try the following?

[code]

[2021-12-10 23:21] tsilia opened #1121 "Can't properly stop server when using huge max keep alives"
Hello.
I'm having an issue with server not stopping when calling `httplib::Server::set_keep_alive_max_count()` with high values.
I have a client that constantly posts data to the server. In order to fight delays caused by reconnects, I've set server's keep alive max count to something really big, like `size_t-1`.
This had a side effect, though. Now the server won't stop even if I call `httplib::Se

[2021-12-10 23:51] mcordova1967 commented on #1120
Hello, than you for the reply, I am still getting the same error message:

19:44:33 **** Incremental Build of configuration Release for project
HttpServer ****
make all
'Building file: ../src/HttpServer.cpp'
'Invoking: Cross G++ Compiler'
g++ -I"C:\Program Files\mingw-w64\include" -O3 -Wall -c -fmessage-length=0
-MMD -MP -MF"src/HttpServer.d" -MT"src/HttpServer.o" -o "src/HttpServer.o"
"../src/Htt

[2021-12-11 02:00] yhirose commented on #1120
You are missing `-std` option. It should be `c++11` or later, since cpp-httplib is a C++11 library. You can refer to `test/Make` file to get more infor. Hope it helps.

[2021-12-11 02:00] #1120 closed

[2021-12-11 02:45] mcordova1967 commented on #1120
Thank you for your help, the -std=c++11 did not work, but I am not sure
that's the problem, if I comment that code snippet then the rest of the
program runs ok, the httplib.h is loaded and compiled as expected, the
lamda code blocks inside main() works fine except for the
svr.set_pre_routing_handler,
even the code editor shows an error as soon as I uncomment the code, please
see attached image.

I

[2021-12-11 03:03] yhirose commented on #1120
You have to return a value of 'Server::HandlerResponse` in the lambda function because it requires `Server::HandlerResponse` type as below.

[code]

If it doesn't work, could you take a look at the `PreRoutingHandler` unit test in `test\test.cc` to see what are necessary to compile properly? I am not using mingw though, I think you can run the unit test suite with `cd test && make` on your machine

[2021-12-11 03:20] mcordova1967 commented on #1120
It is compiling now, thank you very much.

The actual code snippet:

svr.set_pre_routing_handler([](const httplib::Request &req,
httplib::Response &res) {
  std::cout << "Thread " << std::this_thread::get_id() << " " << req.path
<< std::endl;
  return Server::HandlerResponse::Unhandled;
});

Regards,
Martin

On Fri, Dec 10, 2021 at 11:03 PM yhirose ***@***.***> wrote:

--
* Framework Dinámica
Plat

[2021-12-11 03:35] yhirose commented on #1121
@tsilia, thanks for the report. This is a bug in cpp-httplib. I'll take a look at it this weekend. Thanks!

[2021-12-11 03:58] yhirose commented on #1121
@tsilia, I think I fixed it. Could you try with httplib.h in [issue1121](https://github.com/yhirose/cpp-httplib/tree/issue1121) branch?

[2021-12-11 10:08] tsilia commented on #1121
Hey @yhirose
Thank you for a quick response! That was superfast.

Unfortunately, while the server really stops immediately on request to do so, there's another issue now: the moment server is stopped, client crashes on Linux with `SIGPIPE` somewhere on line 2221 (a call to the `::send` function). On Windows it works OK though.
Here's the stacktrace:
[code]
I would prefer not to handle `SIGPIPE` ju

[2021-12-11 12:21] swapcontext opened #1123 "Cannot respond to requests concurrently"
system("ping /n 15 www.google.com");//This will block new request
	res.set_content("200", "text/plain");
});

[2021-12-11 13:38] yhirose commented on #1123
@swapcontext, I don't know how your client sends requests though, it should happen if you send them in a same socket connection with HTTP Keep Alive. So you shouldn't include any long blocking call in a handler. Hope it helps!

[2021-12-11 13:38] #1123 closed

[2021-12-11 14:03] yhirose commented on #1121
@tsilia, oops. I tested on macOS. I'll try to reproduce it on Linux when I have time this weekend. (I have only Ubuntu on Virtual Box on macOS though...)

You can use both at the same time. As for 'timeout' and 'max', you can get better information from MDN document.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Keep-Alive

[2021-12-11 16:20] mcordova1967 opened #1124 "19 threads by default?"
Hello, I am testing a microservice with httplib, working very nice so far, I used Apache jMeter with a load of 1000 threads with 100 requests each one to the same microservice (access db, returns json), the service is very fast, but I observed than only 19 threads were used to manage the load at peak times, I know this because I used a single database connection for each thread using thread_local

[2021-12-11 17:50] yhirose commented on #1124
Here is the default thread count for the default thread pool in cpp-httplib:
https://github.com/yhirose/cpp-httplib/blob/084c643973b43fe796f56bf9c124c5a7ce4c0efc/httplib.h#L83-L87

If it does't satisfy your needs, you can change the value declared by `CPPHTTPLIB_THREAD_POOL_COUNT`. If you even think the default thread pool implementation in cpp-httplib isn't enough, you can make your own `TaskQueu

[2021-12-11 17:50] #1124 closed

[2021-12-11 19:47] tsilia commented on #1121
Thanks for the link. I think huge `max` and default 'timeout' will do just fine.

I looked through the 'Issues' section, and now that you've fixed this issue, it seems an old another one arose, #1041.

Feel free to close this one as it appears to have been resolved.
Thanks again!

[2021-12-11 19:56] tsilia commented on #1041
Hello @yhirose
I tried what you suggested here:

and I can confirm it really works for another issue I described in #1121 after you had fixed the original one.
I did it as simple as that:
[code]

and hope it's the correct way.
Thanks again!

[2021-12-11 23:52] yhirose commented on #1121
Thank you for the reply, and leaving comments in #1041!

[2021-12-11 23:52] #1121 closed

[2021-12-12 03:29] yhirose commented on #1041
@lightray22, could you take a look at the @tsilia's comment above. At least, the SIGPIPE issue can be handled accordingly.

[2021-12-12 13:00] lightray22 commented on #1041
Based on @gjasny 's [comment](https://github.com/yhirose/cpp-httplib/issues/1041#issuecomment-919051105) that might fix the crashing issue but the keep-alive still won't work correctly.

[2021-12-12 20:53] yhirose commented on #1041
@gjasny, I finally started investigating this problem. As you mentioned, `is_alive` doesn't say `false` after the server closes the socket due to expiration of keep-alive timeout. Here is the line that causes the problem.

https://github.com/yhirose/cpp-httplib/blob/9639578c2a05ae8b93f589ef2cf4ba42e222af90/httplib.h#L5728
https://github.com/yhirose/cpp-httplib/blob/9639578c2a05ae8b93f589ef2cf4ba42

[2021-12-12 21:26] whyman opened #1125 "HTTPU/UDP Support"
Hey, great project, thanks for brining it to the world.

What would be needed to make this project be usable as a HTTPU server?

A brief look shows that STREAM flag is hardcoded for the socket, but everything else (socket flags/opts) is available to configure.

Thanks!

[2021-12-12 21:28] whyman commented on #1125
Note, I am _not_ talking about the newfangled HTTP3 UDP transports, simply binding to a UDP socket, instead.

[2021-12-13 00:10] tsilia commented on #1041
@yhirose

This is probably because you only use write FDs in the mentioned `select` call. I read somewhere that if remote party closes the connection gracefully (i.e. using `close`/`closesocket`) then `select` with a *read FD* on your end will indicate an available read operation, and if a subsequent call to `read` (or `recv`) returns `0` it means the connection has been closed.

Maybe you should

[2021-12-13 01:01] yhirose commented on #1041
@tsilia, thanks for the comment. But unless the client send (`write`) a HTTP request, there won't be any data to read. So I don't think this won't work. Am I missing something to understand your idea fully?

[2021-12-13 01:32] yhirose commented on #1125
@whyman, thanks for the feedback. Honestly, I have never thought about HTTP UDP, and don't have any necessity to support it in my projects. If you can support it with minimal changes, please send me a pull request. I'll take a look at it. Thanks!

[2021-12-13 01:32] #1125 closed

[2021-12-13 02:11] wangtingbo opened #1126 "Callback Function, may be will block a while"
Hi, it's a great library, I am testing a microservice with httplib, working very nice so far,
I used Apache jMeter with a load of 100 threads with 100 requests each one to the same microservice (access db, returns json), the service is very fast,
but I observed in callback function, may be will block a while ,How to improve performance?
Thankyou。

[2021-12-13 02:51] yhirose commented on #1126
@wangtingbo, no way to improve performance unless you get a server who has more cores so that you can spawn more threads running on the cores. Hope it helps!

[2021-12-13 02:51] #1126 closed

[2021-12-13 08:02] valenhuang opened #1127 "SSLClient upload file fail"
use sslclient send content with a content provider， if buffer is large, such as 512k, SSL_write will error.

my code:
httplib::Client cli("https://xxx.com");
char* buffer = new char[512 * 1024];
auto res = cli.Post( "/stream", body.size(),
  [&](size_t offset, size_t length, DataSink &sink) {
    sink.write(buffer , 512 * 1024);
    return true;
  },"application/octet-stream");

but if I use not s

[2021-12-13 08:38] tsilia commented on #1041
Ok, this is kinda quick and dirty, but it actually works (I borrowed the socket-related code from you and someone else). You can try it yourself:
[code]
This code doesn't even need to write to socket anything, you can connect to a cpphttplib-powered server which has keep alive turned on and timeout set to, say, 5 seconds, and wait for the server to close socket. Once the server does so, the client

[2021-12-13 14:48] yhirose commented on #1127
It's an incorrect usage. Please read [here](https://github.com/yhirose/cpp-httplib#send-content-with-a-content-provider) in README carefully. Also you can get more examples in `test/test/cc`. Hope it helps!

[2021-12-13 14:48] #1127 closed

[2021-12-14 03:19] LightYears88 opened #1128 "digest Authentication error"
in parse_www_authenticate function make auth map , val  should erase the Double quotation mark
for example: website response the  WWW-Authenticate: Digest qop="auth", realm="IP Camera(E5294)", nonce="59574d334e5751784e6d5536596a51304d54466c4e57453d", stale="FALSE"
the realm value is IP Camera(E5294) instead of  \"IP Camera(E5294)\"
so i add this before the value push the map:
val.erase(remove(val.

[2021-12-14 04:22] yhirose commented on #1128
@LightYears88, thanks for the report, but I didn't find any bug in httplib.h. I guess your test data isn't correct. To validate, I added a unit test for parse_www_authenticate function [here](https://github.com/yhirose/cpp-httplib/commit/f1334602ce1b5710e8b04fe2d1f4e59bfeaba1e9), and the test passed successfully.

[2021-12-14 04:22] #1128 closed

[2021-12-14 06:22] mcordova1967 opened #1129 "How to get the whole query string from Request?"
For logging purposes mostly, I think it would be useful to have access to the query string as it was sent via HTTP GET/POST command, but I cannot find the method in the Request class, is there a method or attribute I did not see? req.path returns the path with no parameters, which is convenient, but a req.querystring would be nice too in case it does not exist already.

Regards,
Martin

[2021-12-14 07:07] alphamarket opened #1130 "Is httplib::Client thread-safe?"
Can I use the same `httplib::Client` instance throughout multiple threads? is it thread-safe?

[2021-12-14 08:04] witaly-iwanow opened #1131 "API to set listen() backlog size"
It's currently [hard-coded to 5](https://github.com/yhirose/cpp-httplib/blob/master/httplib.h#L5110) which is not a lot imo, it would be nice to have one more API define like `CPPHTTPLIB_LISTEN_BACKLOG` which you can use to increase the number. I'd create a PR, but I guess I'll spend much more time forking and such than you just adding it to main/master whenever possible. TY

[2021-12-14 08:56] witaly-iwanow commented on #1131
The reason I'd like to have that is because I see a lot of SSL errors when load testing with `ab -c 6`, and all the errors go away with `-c 5` or when I bump the backlog size manually in `httplib.h`. I see this behavior on macOS (M1 Air), while on Ubuntu it has no problems whatsoever even with `-c 100` - I suspect the backlog parameter might actually be ignored on Linux

[2021-12-14 12:03] yhirose commented on #1129
The very first example shows it. https://github.com/yhirose/cpp-httplib#server-1

[2021-12-14 12:03] #1129 closed

[2021-12-14 12:04] yhirose commented on #1130
Hope this helps.
https://github.com/yhirose/cpp-httplib/search?q=thread+safe&type=issues

[2021-12-14 12:04] #1130 closed

[2021-12-14 12:58] #1131 closed

[2021-12-14 12:59] yhirose commented on #1131
@witaly-iwanow, I added it!

[2021-12-14 14:41] mcordova1967 commented on #1129
I am sorry I did not explain myself in more detail, I don't mean a
request parameter, that is clearly solved in the readme as you said:

auto val = req.get_param_value("key");

What I mean is the whole GET line as it was received, example:

/service?key=xxx&anothervalue=cccc&attack=%3cscript%20src=%22http%3a%2f%2f

A side question if you don't mind, I am new to GitHub, I only see
options to post I

[2021-12-14 15:42] yhirose commented on #1129
@mcordova1967, I intentionally split and decode all the components in a request line, and don't hold the original raw request line to avoid using additional memory in `Request`. Sorry about that.

You can easily enumerate all the query params by accessing `params` member variable in `Request`.
https://github.com/yhirose/cpp-httplib/blob/cec6288a99de90ce609c0ae279dc58530a3c14fc/httplib.h#L396

some

[2021-12-14 16:20] mcordova1967 commented on #1129
Understood! ;)

You did an excellent job with this project, it's processing 100.000 remote
microservice (with DB I/O) requests consuming 1% of CPU and 5MB of RAM on
my Windows 10 x64 GNU C++ 17, 1ms avg time per request and many microsecond
times for hundreds of requests, I have not registered such small times with
Java, ever.

I managed to use pre/post router to wrap performance log task for all

[2021-12-14 16:27] mcordova1967 commented on #1129
I am sorry I left my message incomplete.

I meant:  "I am also running it as a Windows Service using WinSW service
wrapper."

Regards.

On Tue, Dec 14, 2021 at 12:20 PM Martin Cordova ***@***.***>
wrote:

--
* Framework Dinámica
Plataforma avanzada para desarrollo rápido de aplicaciones Web/SQL con Java
EE y Eclipse
http://www.martincordova.com

* El BLOG de Dinámica:
http://dinamicaframework.blog

[2021-12-14 17:16] tsilia commented on #1041
@yhirose
Sorry, I must say that I screwed up the code, but the idea is working anyway, just not in the old snippet above ^

I've fixed the previous post.

[2021-12-14 19:34] yhirose commented on #1041
@gjasny, @tsilia, I think I fixed the problem. Could you take a look at my change and unit test? If you don't find anything, I'll merge it. Thanks a lot for your help!
https://github.com/yhirose/cpp-httplib/pull/1132/files

[2021-12-14 19:48] gjasny commented on #1041
I'll try to test it this week.

Thanks,
Gregor

[2021-12-14 21:07] tsilia commented on #1041
@yhirose
Thanks for the change.

The unit test is passing on my Linux machine (Ubuntu 20.04)

But there's something wrong.
Here's how the output of my test POC looked like *before* this change
(I've put a debug message 'close_socket' into the `close_socket` function):
[code]
But after the change the output is totally different; looks like now the same program recompiled with the `issue1041` branch

[2021-12-14 22:31] yhirose commented on #1041
@tsilia, thanks for the quick code review. I updated is_socket_alive accordingly. Could you test again?

[2021-12-15 02:22] LightYears88 commented on #1128
yes,I run correct in VS,but not ok in Ubuntu 14.04, g++ version is 4.9.4
I print the value use cout, the val is "IP Camera(E5294)"

std::cout << "val ==" << val << std::endl;
auth[key] = val;

I got this bellow:
val =="auth"
val =="IP Camera(E5294)"
val =="4f475a6d4f5446685a575936596d51354d7a466b5a544d3d"
val =="FALSE"

[2021-12-15 03:57] yhirose commented on #1084
@tietzedk, as @zhangyuhu mentioned, the memory usage goes up with the first several uploads and stop increasing after that. I tested with a 4.9MB jpeg file on my Intel iMac 2017. In this case, RES stops at 20868.

![image](https://user-images.githubusercontent.com/357397/146120169-374193f0-8886-4eb1-9b9d-f38cbf07e050.png)

I'll try to reproduce it, but it's really hard. Is it related to the partic

[2021-12-15 09:32] josemaGruposantander opened #1133 "Error descriptions"
Hi,

When i try to do a post and it fails:

`httplib::Client cliSts(std::string(protocol)+ "://" + stsServer + ":" + boost::lexical_cast<std::string>(port));
const auto resSts = cliSts.Post(stsTarget, headersSts, httplib::Params{});`

Then the object resSts has te attribute err_ defined with one of the following elements:

`enum class Error {
  Success = 0,
  Unknown,
  Connection,
  BindIPAddress

[2021-12-15 10:44] PixlRainbow commented on #1133
if there is no status code or the object is null, that means httplib was completely unable to find or connect to the server at all or could not get any response from the server.
httplib currently does not provide human-readable error descriptions, only error codes to indicate the rough category of error.

[2021-12-15 10:57] josemaGruposantander commented on #1133
That is what i see. The only information you can have is the error category but no any precise information, I opened this post to know if there was a way to have more information

[2021-12-15 11:35] yhirose commented on #1133
@josemaGruposantander, sorry for the inconvenience. As @PixlRainbow, mentioned, cpp-httplib gives only error codes to indicate the rough category of error, and I am planning to enhance it.

[2021-12-15 11:35] #1133 closed

[2021-12-15 11:57] npritchard opened #1134 "POSTing large Text"
Hi thanks for the fantastic library - a lot of effort is greatly appreciated.

I'm posting large volumes of data to a cpp-httplib server and getting error 413 in response. It's returned as a result of this section around line 5004 in the latest version:

[code]

So what I understand is that, unless there's a Content-Type header 'application/x-www-form-urlencoded', this makes sure that the body of

[2021-12-15 13:30] yhirose commented on #1134
That's opposite. If there's a Content-Type header 'application/x-www-form-urlencoded', then do the CPPHTTPLIB_REQUEST_URI_MAX_LENGTH check. If the test succeeds, then parse the form text and construct req.params.
Hope the explanation helps!

[2021-12-15 13:30] #1134 closed

[2021-12-17 02:06] #1041 closed

[2021-12-17 02:07] yhirose commented on #1041
@tsilia, thanks for all your reviews and suggestions for the pull request! It has finally been resolved. :)

@gjasny, @lightray22, I would like to let you know that all the unit tests and @tsilia's test (https://github.com/tsilia/poc-httplib-inf-keepalive) passed successfully, and merged the pull request to the master. Please let me know if you find anything.

Thanks.

[2021-12-17 06:33] yanyipingpeter opened #1135 ""*** buffer overflow detected ***:/ terminated" while using the Post method"
Here is the post method I used
[code]
the code crashed at the post method. It shows `*** buffer overflow detected ***:/ terminated. ` . However the code crashed when the number of files in the process is large. The code can work well when the number of the files in the process is less than appromixately 1024.
OS is Ubuntu 20.04.1 and I use "ls -p PID | wc -l" to check the number of files

[2021-12-17 08:25] tsilia commented on #1041
@yhirose
Thank you for all the time and efforts you put into this library!

For testing, I would suggest using @lightray22's code:
https://github.com/yhirose/cpp-httplib/issues/1041#issuecomment-944614197
rather than my POC as it's specific to the #1121 issue which had been resolved.
For #1041 I only used my POC with a modified version of cpp-httplib (with debug output) to detect crashes or connec

[2021-12-17 08:31] PixlRainbow commented on #1135
This is an OS-level restriction, not something set within httplib. The default soft limit for a Linux non-root user process is 1024 file descriptors. You may raise or lower the limit as desired using the `ulimit` command or using the `setrlimit` POSIX API function.

File descriptors do not necessarily refer to open files, but can also refer to open sockets, terminals or child processes. Are you in

[2021-12-17 08:40] yanyipingpeter commented on #1135
![)L33)0FFP)%@PZ_@J}2Y4RT](https://user-images.githubusercontent.com/68374297/146514876-45e725f2-e98e-4cd9-a7c5-3d4509a2e83a.png)
I‘ve raised the file descriptors to 10240 as the picture shows. But the problem still exists. I intentionally creating a large number of file descriptors since the program need large amount of connections

[2021-12-17 09:24] yanyipingpeter commented on #1135
I also tried other way to increase the file descriptors such as using more udp port, the program can work well when the file descriptors is above 2000 after I raised the limit. However, when I invoke the post method , the program crashed.

[2021-12-17 09:37] PixlRainbow commented on #1135
can you try redefining `__FD_SETSIZE` or `FD_SETSIZE` with a higher value and recompiling? httplib makes use of the system-defined default value at compile time, which means it will not update automatically when the limit is changed at runtime.

[2021-12-17 13:11] mcordova1967 opened #1136 "I can't build https client after successful build of https server"
I just built an https server with openssl 1.1, so far so good. after that I came to write a simple https client, but I can't build it, these are the errors:

g++ -L"C:\Program Files\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0\mingw64\lib\gcc\x86_64-w64-mingw32\8.1.0" -L"C:\Program Files\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0\mingw64\opt\lib" -L"C:\Program Files\mingw-w64\x86_64-8.1.0-posix-se

[2021-12-17 14:27] PixlRainbow commented on #1136
when you say you used OpenSSL 1.1, do you mean **1.1.1** or **1.1.0**? Only 1.1.1 and above is supported.

[2021-12-17 14:46] mcordova1967 commented on #1136
I used OpenSSL 1.1.1:

C:\Users\marti>openssl version
OpenSSL 1.1.1m  14 Dec 2021

I found the problem, I had to add library libcrypt32.a -L crypt32 this was the one missing, containing the Windows certificate store functions, or so it seems to me. Also required is -L wsa_32. In any case, now it runs but the client is doing nothing, no error messages shown in console and the server is not receivin

[2021-12-17 14:58] PixlRainbow commented on #1136
Based on the code shown in your first message, there may be several possible issues:
[code]
The constructor only allows hostname (e.g. "localhost") or scheme+hostname (e.g. "https://localhost"), it does not allow path. Including the path "/gasto" in the constructor will make request fail as it will attempt to resolve as if "/gasto" was part of the hostname, which is not valid.

This library does n

[2021-12-17 15:03] mcordova1967 commented on #1136
Thank you PixlRainbow, my mistake for not doing a good reading of the basic examples of http client.  Regards.

[2021-12-17 18:37] #1136 closed

[2021-12-18 01:09] mcordova1967 opened #1137 "Support configuration of minimum TLS protocol version"
In Tomcat you can configure protocols and ciphers, I think that at least being able to specify a minimum protocol version would add value, I have found this to be a requirement with some customers.

The openssl function for this seems to be: SSL_CTX_set_min_proto_version(ctx_, YOUR_VERSION);
I may be wrong, please advise if that is the case.

I did it hard-coded in the latest httplib.h posted toda

[2021-12-18 04:37] yhirose commented on #1084
I made some performance improvement to avoid `buf_.append()` and `buf_erase()`. On my Intel iMac 2017, it reduces memory usage a tiny bit... After a few uploads, the memory usages stays at 20620, and never goes up afterward. So no memory leak occurs.

![image](https://user-images.githubusercontent.com/357397/146628806-25114e1a-6608-4393-9fde-89d58f6f7da7.png)

Here is my test driver code:

https:/

[2021-12-18 04:37] #1084 closed

[2021-12-18 04:38] yhirose commented on #1135
@PixlRainbow, thanks for the helpful comments.
@yanyipingpeter, since it's not a cpp-httplib specific issue, I'll close it.

[2021-12-18 04:38] #1135 closed

[2021-12-18 13:32] yhirose commented on #1137
@mcordova1967, I added `SSL_CTX *ssl_context()` on `SSLServer`, so that you can call SSL functions on `SSL_CTX *`.

[code]

Hope it helps!

[2021-12-18 13:32] #1137 closed

[2021-12-18 14:10] mcordova1967 commented on #1137
Thank you so much!

On Sat, Dec 18, 2021 at 9:32 AM yhirose ***@***.***> wrote:

--
* Framework Dinámica
Plataforma avanzada para desarrollo rápido de aplicaciones Web/SQL con Java
EE y Eclipse
http://www.martincordova.com

* El BLOG de Dinámica:
http://dinamicaframework.blogspot.com/

* El Canal de Dinámica en Youtube:
http://www.youtube.com/dinamicaframework

* Facebook
https://www.facebook.com/

[2021-12-18 21:49] marcovc opened #1138 "Exceptions"
Hi,

I'm trying to debug a deadlock, where once in a while a request seems to be running forever. I'm wondering if this has anything to do with exceptions, since apparently this happens whenever there is an exception.

I've installed an exception handler with

[code]

Say that an uncaught exception is thrown inside

[code]

The library correctly calls my exception handler. I am assuming that the t

[2021-12-19 00:45] yhirose commented on #1138
@marcovc, thanks for the feedback. I have never experience the situation like 'once in a while a request seems to be running forever'. Could you make the smallest possible sample code to reproduce the problem, so that I can take a look at the problem.

I don't fully understand what you mean with the sentence. Could you explain more clearly?

Thanks!

[2021-12-19 00:59] marcovc commented on #1138
Thanks for the quick reply!

It is unfortunately very hard to replicate, but I will try to come up with a small example.

Maybe my assumptions are wrong, but this is my model: I assume there is a thread pool (or worker pool) with N threads waiting. Also I assume when a new request is made to the server, a worker/thread is assigned to run the function attached to the request handler. My question is

[2021-12-19 17:09] lightray22 commented on #1041
Sorry for the delayed response... the new code works well for me also. Thanks!

[2021-12-19 19:31] yhirose commented on #1138
@marcovc, I still cannot tell what really causes the issue unless it can be reproducible, because a premature guess most likely turns out incorrect. :)

What I can tell at this point is where the exception handing is cared. Here is the code:

https://github.com/yhirose/cpp-httplib/blob/20056f6cdaed7c8006d58fc2498c2861efdf375d/httplib.h#L5563-L5576

As you can see the above code, exceptions inherit

[2021-12-20 16:19] marcovc commented on #1138
Thanks for the help. It turned out this was unrelated to exceptions (and to this library). Closing!

[2021-12-20 16:19] #1138 closed

[2021-12-21 12:36] Keene-Chen opened #1139 "Static directory configuration"
Hi, I configured the static directory as per the example but was unsuccessful due to the first use, looked at the issues and did not find a solution. Hope to be able to get help, thank you

[code]

[2021-12-21 18:30] yhirose commented on #1139
Please see the following code. Hope it helps.

[code]

[2021-12-21 18:30] #1139 closed

[2021-12-22 16:40] mcordova1967 opened #1140 "A couple of warnings from httplib.h when compiling with G++ v10.3"
g++ -I"C:\eclipse4c\include" -O3 -Wall -c -fmessage-length=0 -std=c++17 -MMD -MP -MF"src/microserver.d" -MT"src/microserver.o" -o "src/microserver.o" "../src/microserver.cpp"
In file included from ../src/microserver.cpp:14:
C:\eclipse4c\include/httplib.h: In member function 'virtual ssize_t httplib::detail::SSLSocketStream::read(char*, size_t)':
C:\eclipse4c\include/httplib.h:7068:40: warning: sug

[2021-12-23 04:00] rainmakerMa opened #1141 "server and client demo for call the compiled library"
hi, Thx for the awesome job.

I am a newer there,and I have following confusions:

I have a compiled c++ .so library, and I wanna create a http server by cpp-httplib, the post request was JSON format. I need to call some api in my compiled library.Is there any detaild example for me to reference to write a server and client, Thx.

[2021-12-23 13:13] #1141 closed

[2021-12-24 00:15] mrexodia opened #1142 "Support mbedtls instead of OpenSSL"
OpenSSL is a very heavy dependency and mbedtls is fast to compile and easy to embed in your application.

I looked at the code a year ago or so, but it doesn’t seem like the SSL parts are designed to be replaced easily unfortunately…

A similar idea would be to support the OS’ native SSL implementation so that you can do HTTPS without any dependencies. This should be possible at least on Windows b

[2021-12-24 04:15] yhirose commented on #1142
@mrexodia, thanks for the feedback. It's a good idea, but I simply don't have time to work on it. Of course, a pull request is always welcome!

[2021-12-24 04:15] #1142 closed

[2021-12-24 04:50] #1140 closed

[2021-12-24 06:43] robinfoxnan opened #1143 "gcc4.8.5 编译错误"
主要是在find_content_type()中使用字面量的运算符重载，
在编译时候告错，
起始，个人认为这样的处理方式效率并不高，不如直接设置静态变量 std::map<string, string> {};

直接搜索字符串，因为，map是红黑树，
switch case 是线性比较，速度不如map快，

[2021-12-24 12:54] yhirose commented on #1143
@robinfoxnan, thanks for the feedback, but I can't read Chinese. :)

[2021-12-24 12:54] #1143 closed

[2021-12-24 19:59] PixlRainbow commented on #1143
they say that your function `find_content_type()` has a very long switch clause and it might be more efficient to make use of a map, which has index lookup implemented using red-black tree

[2021-12-25 20:00] mcordova1967 opened #1144 "How to restrict only one process listening on the given port?"
Hello, I observed that multiple copies of my program can attach to port 443, only one will receive requests, but the svr.listen() method is always returning true.

If I use the socket option flag svr.listen("0.0.0.0", 443, SO_EXCLUSIVEADDRUSE) the listen() always returns false and no process can listen to the port, not even the first one.

Is there a portable (windows/linux) way of setting a flag

[2021-12-25 22:32] yhirose commented on #1144
@mcordova1967, the current cpp-httplib behavior is based on the following code.

https://github.com/yhirose/cpp-httplib/blob/b324921c1aeff2976544128e4bb2a0979a4aa595/httplib.h#L1531-L1547

You can completely change the socket option setting with the `set_socket_options `.
https://github.com/yhirose/cpp-httplib/blob/b324921c1aeff2976544128e4bb2a0979a4aa595/httplib.h#L652

As you may know the actual

[2021-12-25 22:32] #1144 closed

[2021-12-26 01:09] yhirose commented on #1143
@PixlRainbow, thank you for the translation.
@robinfoxnan, I am not a compiler expert though, I think we don't have to worry about the performance of the switch statement. Here is a good reference from stackoverflow: https://stackoverflow.com/questions/1028437/why-switch-case-and-not-if-else-if#answer-1028463

[2021-12-26 04:56] mcordova1967 opened #1145 "decode_url() not working for international spanish characters (2 byte sequences)"
This value of parameter descrip:
descrip=Gastos%20%C3%A1%C3%A9%C3%AD%C3%B3%C3%BA%C3%B1%C3%91%206

should decode to this:
descrip=Gastos áéíóúñÑ 6

But it is returning something else. I could not fix it in the original library code, but I found a code that works and returns the expected result, taken from: https://stackoverflow.com/questions/154536/encode-decode-urls-in-c

The code...

const char H

[2021-12-26 12:53] #1145 closed

[2021-12-26 12:55] yhirose commented on #1145
@mcordova1967, I added a test case with your sample string in `test/test.cc`, but I couldn't reproduce the problem...
https://github.com/yhirose/cpp-httplib/commit/865b0e4c03a90823d39d133949ce259ffcf7916c

[2021-12-26 13:59] mcordova1967 commented on #1145
Thank you for the prompt reply @yhirose. I reproduced the problem with an isolated test case, the output of the program:

input -> descrip=Gastos%20%C3%A1%C3%A9%C3%AD%C3%B3%C3%BA%C3%B1%C3%91%206
httplib -> descrip=Gastos Ã¡Ã©Ã­Ã³ÃºÃ±Ã‘ 6
stackoverflow -> descrip=Gastos áéíóúñÑ 6

Code:

`#include <iostream>
#include <string>
#include <filesystem>
#include <iostream>
#include <fstream>
#include <st